<div class="os-form-card-mobile">
    <!-- Poll Title -->
    <form [formGroup]="pollForm">
        <mat-form-field>
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <h2 class="poll-preview-title">
                <input formControlName="title" matInput required />
            </h2>
        </mat-form-field>

        <div class="poll-preview-meta-info-form">
            @if (!data || !data.state || data.isCreated) {
                <div class="info-grid">
                    <!-- Poll Visibility -->
                    @if (isEVotingEnabled) {
                        <mat-form-field>
                            <mat-label>{{ 'Visibility' | translate }}</mat-label>
                            <mat-select formControlName="visibility" required>
                                @for (entry of visibilityOptions | keyvalue; track entry.key) {
                                    <mat-option [value]="entry.key">
                                        {{ entry.value | translate }}
                                    </mat-option>
                                }
                            </mat-select>
                            @if (showNonNominalWarning) {
                                <mat-icon color="primary" matSuffix (click)="openVotingWarning($event)">info</mat-icon>
                            }
                            <mat-error>{{ 'This field is required.' | translate }}</mat-error>
                        </mat-form-field>
                    }

                    <!-- Groups entitled to Vote -->
                    @if (isEVotingSelected) {
                        <mat-form-field>
                            <mat-label>{{ PollPropertyVerbose.groups | translate }}</mat-label>
                            <os-repo-search-selector
                                formControlName="entitled_group_ids"
                                [multiple]="true"
                                [pipeFn]="groupRepo.getFilterSystemGroupFn()"
                                [repo]="groupRepo"
                                [showChips]="false"
                                [sortFn]="sortFn"
                            ></os-repo-search-selector>
                        </mat-form-field>
                    }
                </div>

                <div class="margin-bottom-15">
                    <!-- Live voting -->
                    @if (isLiveVotingAvailable) {
                        <mat-checkbox formControlName="live_voting_enabled">
                            {{ PollPropertyVerbose.live_voting_enabled | translate }}
                        </mat-checkbox>
                        <mat-hint>
                            {{ 'Allows single votes projection during voting process' | translate }}
                        </mat-hint>
                    }
                </div>
            }
        </div>
    </form>

    <ng-content></ng-content>
</div>
