<os-action-card [showActionRow]="true" icon="speaker_notes" [disableExpandControl]="true">
    <!-- Title row -->
    <ng-container class="meta-text-block-title">
        <span>{{ 'Personal note' | translate }}</span>
    </ng-container>

    <!-- Actions -->
    <ng-container class="meta-text-block-action-row">
        <button mat-icon-button *ngIf="!isEditing" (click)="editPersonalNote()" matTooltip="{{ 'Edit' | translate }}">
            <mat-icon>edit</mat-icon>
        </button>
        <button
            mat-icon-button
            *ngIf="!isEditing && (personalNoteObservable | async)"
            (click)="printPersonalNote()"
            matTooltip="{{ 'Export personal note only' | translate }}"
        >
            <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <button
            mat-icon-button
            color="warn"
            *ngIf="isEditing"
            (click)="savePersonalNote()"
            matTooltip="{{ 'Save' | translate }}"
        >
            <mat-icon>done</mat-icon>
        </button>
        <button
            mat-icon-button
            *ngIf="isEditing"
            (click)="leaveEditMode()"
            matTooltip="{{ 'Cancel edit' | translate }}"
        >
            <mat-icon>close</mat-icon>
        </button>
    </ng-container>

    <!-- Content -->
    <ng-container class="meta-text-block-content">
        <ng-container *ngIf="!isEditing">
            <div *ngIf="personalNoteObservable | async as note" [innerHTML]="note?.note | trust : 'html'"></div>
            <div class="no-content" *ngIf="(hasPersonalNoteObservable | async) === false">
                {{ 'No personal note' | translate }}
            </div>
        </ng-container>
        <form [formGroup]="formGroup" *ngIf="isEditing">
            <!-- The HTML Editor -->
            <os-editor formControlName="text"></os-editor>
        </form>
        <div *ngIf="saveHint">
            <span>{{ 'Touch the book icon to enter text' | translate }}</span>
            <br />
            <span class="red-warning-text">{{ 'Do not forget to save your changes!' | translate }}</span>
        </div>
    </ng-container>
</os-action-card>
