// smaller and closer mat icon buttons.
// use on button-tags
.small-mat-icon-button {
    $size: 20px;
    margin: 0 5px;
    position: relative;
    width: $size;
    height: $size;

    .mat-icon {
        position: absolute;
        left: 24%;
        top: 21%;
        line-height: normal;
        width: $size;
        height: $size;
    }

    .material-icons {
        font-size: $size;
    }
}
