@use 'src/assets/styles/colors.scss';

.export-wrapper {
    margin-right: 72px !important;
    margin-top: 0px !important;
    .toggle-group-head {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    mat-chip-listbox {
        display: flex;
        padding-left: 5px !important;
        padding-right: 60px !important;
        mat-chip-option {
            width: fit-content !important;
            height: fit-content !important;
            min-height: var(--mat-chip-container-height) !important;
            justify-content: space-between;
            padding-left: 1px;
            margin: 10px 20px 10px 5px !important;
            background-color: var(--mat-tree-container-background-color) !important;
            outline-style: solid;
            outline-width: 1px;
            outline-color: var(--mat-chip-option-background-color);
            span.mat-badge-content {
                font-size: 18px;
                background-color: colors.$os-lightblue;
            }
            span.mdc-evolution-chip__cell {
                overflow: hidden !important;
                white-space: pre-wrap !important;
                button {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                    text-align: center;
                    .mdc-evolution-chip__graphic {
                        display: none;
                        height: 0px !important;
                        width: 0px !important;
                    }
                    span.mat-mdc-chip-action-label,
                    span.mdc-evolution-chip__action--primary,
                    span.mdc-evolution-chip__cell--primary {
                        overflow: hidden !important;
                        white-space: pre-wrap !important;
                        text-align: center;
                    }
                }
            }
            span.mat-mdc-chip-focus-overlay {
                display: none;
            }
            &.mat-mdc-chip-disabled {
                outline-color: var(--mat-chip-option-background-color);
            }
            &.mat-mdc-chip-selected {
                --mat-chip-selected-label-text-color: var(--mat-sidenav-content-text-color) !important;
                background-color: var(--mat-chip-option-background-color) !important;
                outline-style: none;
            }
        }
    }
}

.export-card {
    width: 90%;
    height: 90%;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    margin-left: 72px !important;
    font-size: 1rem;
}