/**
 * Define the colors used for yes, no and abstain
 */
$votes-yes-color: var(--theme-yes);
$votes-no-color: var(--theme-no);
$votes-abstain-color: var(--theme-abstain);
$vote-active-color: white;
$poll-start-color: #4caf50;
$poll-stop-color: #ff5252;
$poll-publish-color: #e6b100;
