img {
    border: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

input[readonly] {
    cursor: default;
}
