/** Imports the material-design-theming */
@use '@angular/material' as mat;

// /** Import brand theme */
@import 'themes/default-light.scss';
@import 'themes/default-dark.scss';

/** Global component style definition */
@import 'global-components-style.scss';

@include mat.all-component-themes($openslides-light-theme);

.openslides-light-theme {
    /*TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated */
    @include mat.all-legacy-component-themes($openslides-light-theme);
    @include os-component-themes($openslides-light-theme);
}

.openslides-dark-theme {
    /*TODO(mdc-migration): Remove all-legacy-component-colors once all legacy components are migrated */
    @include mat.all-legacy-component-colors($openslides-dark-theme);
    @include mat.all-component-colors($openslides-dark-theme);
    @include os-component-themes($openslides-dark-theme);

    mat-form-field:focus-within {
        mat-label{
            color: white;
        }
    }
}

.mat-calendar-body-cell {
    --mat-datepicker-calendar-date-in-range-state-background-color: var(--theme-primary-500);
}

[class^='openslides-'][class*='-light-theme'] {
    .logo-container {
        img.dark {
            display: none;
        }
        img.default {
            display: inherit;
        }
    }

    .grey-icon {
        color: #707070;
    }
}

/**
* Custom configuration for dark themes
*/
[class^='openslides-'][class*='-dark-theme'] {
    color: white;
    .logo-container {
        img.dark {
            display: inherit;
        }
        img.default {
            display: none;
        }
    }

    .grey-icon {
        color: white;
    }
}
