/** Imports the material-design-theming */
@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

// __<<ngM2ThemingMigrationEscapedComment1>>__
@import 'themes/default-light.scss';
@import 'themes/default-dark.scss';
@import 'themes/var-overwrites.scss';

/** Global component style definition */
@import 'global-components-style.scss';

@include mat.all-component-themes($openslides-light-theme);

.openslides-light-theme {
    @include os-component-themes($openslides-light-theme);
    @include os-var-overwrites();

    --mat-menu-item-icon-color: rgba(0, 0, 0, 0.54);
    --mat-table-header-headline-color: rgba(0, 0, 0, 0.55);
}

.openslides-dark-theme {
    @include mat.all-component-colors($openslides-dark-theme);
    @include os-component-themes($openslides-dark-theme);
    @include os-var-overwrites();

    --mat-table-header-headline-color: rgba(255, 255, 255, 0.70);

    mat-form-field:focus-within {
        mat-label{
            color: white;
        }
    }
}

.mat-calendar-body-cell {
    --mat-datepicker-calendar-date-in-range-state-background-color: var(--theme-primary-500);
}

[class^='openslides-'][class*='-light-theme'] {
    .logo-container {
        img.dark {
            display: none;
        }
        img.default {
            display: inherit;
        }
    }

    .grey-icon {
        color: #707070;
    }
}

/**
* Custom configuration for dark themes
*/
[class^='openslides-'][class*='-dark-theme'] {
    color: white;
    .logo-container {
        img.dark {
            display: inherit;
        }
        img.default {
            display: none;
        }
    }

    .grey-icon {
        color: white;
    }
}
