.tiptap,
.tiptap-view,
.motion-text {
    & li > p:first-of-type {
        margin-top: 0;
    }
    & li > p:last-of-type {
        margin-bottom: 0;
    }
    & {
      p:after {
          content: '';
          display: inline-block;
      }
    }
}
