.editor {
    .editor-menu .line {
        display: flex;
        flex-wrap: wrap;
        > button,
        > .button-group > button {
            cursor: pointer;
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.42);
            display: inline-flex;
            height: 34px;
            align-items: center;
            margin-right: 4px;
            margin-bottom: 4px;
            border-radius: 2px;
            color: var(--mdc-text-button-label-text-color, inherit);
            &.text {
                padding: 0 16px;
            }
            &.color-selection {
                position: relative;
            }
            &.active {
                background: rgba(0, 0, 0, 0.32);
            }
            input[type='color'] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
        > .button-group {
            display: flex;
            border: 1px solid rgba(0, 0, 0, 0.42);
            border-radius: 2px;
            margin-right: 4px;
            margin-bottom: 4px;
            > button {
                border: none;
                margin-right: 0;
                margin-bottom: 0;
                height: 32px;
                &:not(:last-of-type) {
                    border-right: 1px solid rgba(0, 0, 0, 0.42);
                }
            }
        }
    }

    .editor-content {
        border: 1px solid rgba(0, 0, 0, 0.42);
        padding: 0 16px;
        margin-top: 8px;
        height: 232px;
        overflow-y: auto;
        resize: vertical;
        ::ng-deep .tiptap {
            outline: none;
            min-height: calc(100% - 32px);
        }
    }
}
