<div class="editor">
    @if (editorReady) {
        <div
            aria-label="'Press Enter to reach the editor functions' | translate"
            class="editor-menu"
            tabindex="0"
            (keydown.Enter)="toggleInside()"
        >
            <div class="button-group">
                <button
                    class="text"
                    mat-ripple
                    type="button"
                    [ngClass]="{ active: isGodButtonActive }"
                    [tabindex]="IsInside()"
                    (click)="godButtonAction()"
                    (keydown.Escape)="toggleInside()"
                >
                    {{ godButtonText }}
                </button>

                <button
                    class="more"
                    mat-ripple
                    type="button"
                    [matMenuTriggerFor]="formatMenu"
                    [tabindex]="IsInside()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </div>

            <mat-menu #formatMenu="matMenu">
                <button mat-menu-item translate [matMenuTriggerFor]="headingMenu">Headings</button>
                <button mat-menu-item translate [matMenuTriggerFor]="textAlignMenu">Align</button>
                <button mat-menu-item translate [matMenuTriggerFor]="inlineMenu">Inline</button>
            </mat-menu>

            <mat-menu #headingMenu="matMenu">
                @for (level of headingLevels; track level) {
                    <button
                        mat-menu-item
                        type="button"
                        [ngClass]="{ active: editor.isActive('heading', { level }) }"
                        (click)="editor.chain().focus().toggleHeading({ level }).run()"
                    >
                        @if (editor.isActive('heading')) {
                            <mat-icon>
                                {{ editor.isActive('heading', { level }) ? 'done' : '' }}
                            </mat-icon>
                        }
                        {{ 'Heading' | translate }} {{ level }}
                    </button>
                }
            </mat-menu>

            <mat-menu #textAlignMenu="matMenu">
                <button
                    mat-menu-item
                    type="button"
                    [disabled]="editor.isActive({ textAlign: 'left' })"
                    [ngClass]="{ active: editor.isActive({ textAlign: 'left' }) }"
                    (click)="editor.chain().focus().setTextAlign('left').run()"
                >
                    <mat-icon>format_align_left</mat-icon>
                    {{ 'Left' | translate }}
                </button>
                <button
                    mat-menu-item
                    type="button"
                    [disabled]="editor.isActive({ textAlign: 'center' })"
                    [ngClass]="{ active: editor.isActive({ textAlign: 'center' }) }"
                    (click)="editor.chain().focus().setTextAlign('center').run()"
                >
                    <mat-icon>format_align_center</mat-icon>
                    {{ 'Center' | translate }}
                </button>
                <button
                    mat-menu-item
                    type="button"
                    [disabled]="editor.isActive({ textAlign: 'right' })"
                    [ngClass]="{ active: editor.isActive({ textAlign: 'right' }) }"
                    (click)="editor.chain().focus().setTextAlign('right').run()"
                >
                    <mat-icon>format_align_right</mat-icon>
                    {{ 'Right' | translate }}
                </button>
                <button
                    mat-menu-item
                    type="button"
                    [disabled]="editor.isActive({ textAlign: 'justify' })"
                    [ngClass]="{ active: editor.isActive({ textAlign: 'justify' }) }"
                    (click)="editor.chain().focus().setTextAlign('justify').run()"
                >
                    <mat-icon>format_align_justify</mat-icon>
                    {{ 'Justify' | translate }}
                </button>
            </mat-menu>

            <mat-menu #inlineMenu="matMenu">
                <button
                    mat-menu-item
                    type="button"
                    [ngClass]="{ active: editor.isActive('subscript') }"
                    (click)="editor.chain().focus().toggleSubscript().run()"
                >
                    <mat-icon>subscript</mat-icon>
                    {{ 'Subscript' | translate }}
                </button>

                <button
                    mat-menu-item
                    type="button"
                    [ngClass]="{ active: editor.isActive('superscript') }"
                    (click)="editor.chain().focus().toggleSuperscript().run()"
                >
                    <mat-icon>superscript</mat-icon>
                    {{ 'Superscript' | translate }}
                </button>
            </mat-menu>

            <div class="button-group">
                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Bold' | translate"
                    [ngClass]="{ active: editor.isActive('bold') }"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().toggleBold().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_bold</mat-icon>
                </button>
                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Italic' | translate"
                    [ngClass]="{ active: editor.isActive('italic') }"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().toggleItalic().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_italic</mat-icon>
                </button>
                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Underline' | translate"
                    [ngClass]="{ active: editor.isActive('underline') }"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().toggleUnderline().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_underline</mat-icon>
                </button>
                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Strikethrough' | translate"
                    [ngClass]="{ active: editor.isActive('strike') }"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().toggleStrike().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_strikethrough</mat-icon>
                </button>
            </div>

            <div class="button-group">
                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Text color' | translate"
                    [ngClass]="{ active: editor.isActive('textStyle') }"
                    [ngStyle]="{
                        color: editor.isActive('textStyle') ? editor.getAttributes('textStyle')['color'] : null
                    }"
                    [tabindex]="IsInside()"
                    (click)="updateColorSets(); editor.chain().focus().setColor(null).removeEmptyTextStyle().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_color_text</mat-icon>
                </button>
                <button
                    class="more color-selection"
                    mat-ripple
                    type="button"
                    [tabindex]="-1"
                    (click)="updateColorSets()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>arrow_drop_down</mat-icon>
                    <input
                        list="text-colors"
                        type="color"
                        [tabindex]="IsInside()"
                        [value]="editor.getAttributes('textStyle')['color']"
                        (change)="updateFontColor($event)"
                        (keydown.Escape)="toggleInside()"
                    />
                </button>
            </div>
            <div class="button-group">
                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Background color' | translate"
                    [ngClass]="{ active: editor.isActive('highlight') }"
                    [ngStyle]="{ color: editor.getAttributes('highlight')['color'] }"
                    [tabindex]="IsInside()"
                    (click)="updateColorSets(); editor.chain().focus().toggleHighlight().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_color_fill</mat-icon>
                </button>
                <button
                    class="more color-selection"
                    mat-ripple
                    type="button"
                    [tabindex]="-1"
                    (click)="updateColorSets()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>arrow_drop_down</mat-icon>
                    <input
                        list="background-colors"
                        type="color"
                        [tabindex]="IsInside()"
                        [value]="editor.getAttributes('highlight')['color']"
                        (change)="updateHighlightColor($event)"
                        (keydown.Escape)="toggleInside()"
                    />
                </button>
            </div>
            <button
                mat-ripple
                type="button"
                [matTooltip]="'Clear formatting' | translate"
                [tabindex]="IsInside()"
                (click)="clearSelectedFormat()"
                (keydown.Escape)="toggleInside()"
            >
                <mat-icon>format_clear</mat-icon>
            </button>

            <div class="button-group">
                <button
                    mat-ripple
                    matTooltipPosition="above"
                    type="button"
                    [matTooltip]="'Bullet list' | translate"
                    [ngClass]="{ active: editor.isActive('bulletList') }"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().toggleBulletList().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_list_bulleted</mat-icon>
                </button>
                <button
                    mat-ripple
                    matTooltipPosition="above"
                    type="button"
                    [matTooltip]="'Numbered list' | translate"
                    [ngClass]="{ active: editor.isActive('orderedList') }"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().toggleOrderedList().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>format_list_numbered</mat-icon>
                </button>
            </div>

            <div class="button-group">
                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Insert/edit link' | translate"
                    [ngClass]="{ active: editor.isActive('link') }"
                    [tabindex]="IsInside()"
                    (click)="setLinkDialog()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>link</mat-icon>
                </button>

                <button
                    mat-ripple
                    type="button"
                    [matTooltip]="'Insert/edit image' | translate"
                    [ngClass]="{ active: editor.isActive('image') }"
                    [tabindex]="IsInside()"
                    (click)="setImageDialog()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>image</mat-icon>
                </button>
            </div>

            <div class="button-group">
                <button
                    mat-ripple
                    type="button"
                    [disabled]="!editor.can().undo()"
                    [matTooltip]="'Undo' | translate"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().undo().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>undo</mat-icon>
                </button>

                <button
                    mat-ripple
                    type="button"
                    [disabled]="!editor.can().redo()"
                    [matTooltip]="'Redo' | translate"
                    [tabindex]="IsInside()"
                    (click)="editor.chain().focus().redo().run()"
                    (keydown.Escape)="toggleInside()"
                >
                    <mat-icon>redo</mat-icon>
                </button>
            </div>

            <button
                mat-ripple
                type="button"
                [matTooltip]="'Source code' | translate"
                [tabindex]="IsInside()"
                (click)="editCode()"
                (keydown.Escape)="toggleInside()"
            >
                <mat-icon>code</mat-icon>
            </button>
        </div>
    }

    <div #editorEl class="editor-content"></div>
</div>

<datalist id="text-colors">
    @for (color of textColorSet; track color) {
        <option [value]="color"></option>
    }
</datalist>

<datalist id="background-colors">
    @for (color of backgroundColorSet; track color) {
        <option [value]="color"></option>
    }
</datalist>
