.editor {
    .editor-menu {
        display: flex;
        flex-wrap: wrap;
        > button,
        > .button-group > button {
            cursor: pointer;
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.42);
            display: inline-flex;
            height: 34px;
            align-items: center;
            margin-right: 4px;
            margin-bottom: 4px;
            border-radius: 4px;
            color: var(--mdc-text-button-label-text-color, inherit);
            &.text {
                padding: 0 10px;
            }
            &.more {
                padding: 0;
            }
            &.color-selection {
                position: relative;
            }
            &:disabled {
                cursor: default;
            }
            &:disabled,
            &.active {
                background: rgba(0, 0, 0, 0.32);
            }
            input[type='color'] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
        > .button-group {
            display: flex;
            border: 1px solid rgba(0, 0, 0, 0.42);
            border-radius: 4px;
            margin-right: 4px;
            margin-bottom: 4px;
            > button {
                border: none;
                border-radius: 0;
                margin-right: 0;
                margin-bottom: 0;
                height: 32px;
                &:not(:last-of-type) {
                    border-right: 1px solid rgba(0, 0, 0, 0.42);
                }
            }
        }
    }

    .editor-content {
        border-bottom: solid 1px;
        border-bottom-color: var(--mdc-filled-text-field-active-indicator-color);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: var(--mdc-filled-text-field-container-color);
        color: var(--mat-toolbar-container-text-color);
        caret-color: var(--mdc-filled-text-field-caret-color);
        padding: 0 16px 1px;
        margin-top: 8px;
        min-height: 100px;
        height: 232px;
        overflow-y: auto;
        resize: vertical;
        ::ng-deep .tiptap {
            outline: none;
            min-height: calc(100% - 32px);
            table {
                border-collapse: collapse;
                &,
                th,
                td {
                    border: 1px dashed #bbb;
                }
            }
        }
        &:focus-within {
            border-bottom-color: var(--mdc-filled-text-field-focus-active-indicator-color);
            border-bottom-width: 2px;
            padding-bottom: 0;
        }
    }
}
