.editor {
    .editor-menu {
        > button {
            cursor: pointer;
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.42);
            display: inline-flex;
            height: 34px;
            align-items: center;
            margin-right: 4px;
            border-radius: 2px;
            &.color-selection {
                position: relative;
            }
            &.active {
                background: rgba(0, 0, 0, 0.32);
            }
            input[type='color'] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
    }

    .editor-content ::ng-deep {
        .tiptap {
            border-bottom: 1px solid rgba(0, 0, 0, 0.42);
            margin-top: 8px;
            outline: none;
        }
    }
}
