$height: 14px;

:host {
    display: flex;
    flex-direction: row;
    padding: 0 6px 0 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.operator-information {
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    font-weight: 400;
    margin: 4px;
    max-width: calc(100% - 40px);

    * {
        line-height: $height;
        height: $height;
    }

    .first-line {
        font-size: $height;
    }
}

.username-wrapper {
    padding: 0px 16px 6px 18px;
    max-height: 48px;

    .username {
        font-weight: 400;
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
}

.fake-fab-button {
    margin: 4px;
    $button-size: 20px;
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
    text-align: center;
    cursor: pointer;
}

.width-16 {
    margin: 4px;
    width: 20px;
    height: 20px;
}

.accountButtonColors {
    background: var(--theme-headbar);
    color: var(--theme-headbar-contrast);
    border: none;
}

.accountButton {
    @extend .accountButtonColors;
    &:hover {
        cursor: pointer;
        background: #5f5f5f;
        transition: background 0.3s ease;
    }
}
