<h4>
    <span class="title-font">{{ title }}</span>
    <button
        class="small-button"
        type="button"
        mat-icon-button
        disableRipple
        *ngIf="!isEditMode && perms.isAllowed('change_metadata')"
        (click)="onEdit()"
    >
        <mat-icon>edit</mat-icon>
    </button>
    <button
        class="small-button"
        type="button"
        mat-icon-button
        disableRipple
        *ngIf="isEditMode && perms.isAllowed('change_metadata')"
        (click)="onCancel()"
    >
        <mat-icon>close</mat-icon>
    </button>
</h4>

<div *ngIf="!isEditMode || !perms.isAllowed('change_metadata')">
    <mat-chip-list *ngFor="let model of intermediateModels" class="user">
        <mat-basic-chip disableRipple>{{ model.user?.getTitle() }}</mat-basic-chip>
    </mat-chip-list>
</div>

<div *ngIf="isEditMode && perms.isAllowed('change_metadata')">
    <os-sorting-list [input]="editObservable" [live]="true" [count]="false" (sortEvent)="onSortingChange($event)">
        <!-- implicit user references into the component using ng-template slot -->
        <ng-template let-user>
            <div class="single-line">
                <span class="ellipsis-overflow">
                    {{ user.getTitle() }}
                </span>

                <span>
                    <button
                        type="button"
                        mat-icon-button
                        matTooltip="{{ 'Remove' | translate }}"
                        (click)="onRemove(user)"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </span>
            </div>
        </ng-template>
    </os-sorting-list>

    <div class="search-users">
        <os-participant-search-selector
            [nonSelectableUserIds]="editUserIds"
            placeholder="{{ 'Select or search new participant ...' | translate }}"
            (userSelected)="addUser($event)"
        ></os-participant-search-selector>
    </div>

    <p>
        <button type="button" mat-button (click)="onSave()">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button (click)="onCancel()">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </p>
</div>
