<section class="text-holder">
    <!-- If the array exists, we do not have an error -->
    <div *ngIf="motion?.diffLines">
        <div class="alert alert-info" *ngIf="motion.diffLines.length === 0">
            <i *ngIf="motion.lead_motion">{{ 'No changes at the text.' | translate }}</i>
            <i *ngIf="!motion.lead_motion">{{ 'The parent motion was deleted.' | translate }}</i>
        </div>
        <ng-container *ngIf="motion.lead_motion && crMode !== ChangeRecoMode.Diff && !isFinalEdit">
            <div
                *ngFor="let paragraph of getAmendmentParagraphs()"
                class="motion-text motion-text-diff amendment-view"
                [class.line-numbers-none]="lnMode === LineNumberingMode.None"
                [class.line-numbers-inline]="lnMode === LineNumberingMode.Inside"
                [class.line-numbers-outside]="lnMode === LineNumberingMode.Outside"
                [class.amendment-context]="showAmendmentContext"
            >
                <h3 class="amendment-line-header" *ngIf="!showAmendmentContext">
                    {{ getAmendmentParagraphLinesTitle(paragraph) }}
                </h3>

                <os-motion-detail-original-change-recommendations
                    *ngIf="
                        lnMode === LineNumberingMode.Outside &&
                        (crMode === ChangeRecoMode.Original || crMode === ChangeRecoMode.Changed)
                    "
                    [html]="getAmendmentDiffTextWithContext(paragraph)"
                    [changeRecommendations]="changeRecommendations"
                    (createChangeRecommendation)="createChangeRecommendation.emit($event)"
                    (gotoChangeRecommendation)="gotoChangeRecommendation.emit($event)"
                ></os-motion-detail-original-change-recommendations>
                <div
                    *ngIf="
                        lnMode !== LineNumberingMode.Outside ||
                        crMode !== ChangeRecoMode.Original ||
                        crMode !== ChangeRecoMode.Changed
                    "
                    [outerHTML]="getAmendmentDiffTextWithContext(paragraph) | trust: 'html'"
                ></div>
                <!-- the <div> element is only a placeholder -> outerHTML to replace it -->
            </div>
        </ng-container>

        <os-motion-detail-diff
            *ngIf="crMode === ChangeRecoMode.Diff"
            [motion]="motion"
            [changes]="changesForDiffMode"
            [scrollToChange]="scrollToChange"
            [highlightedLine]="highlightedLine"
            [showAllAmendments]="showAllAmendments"
            [lineNumberingMode]="lnMode"
            (createChangeRecommendation)="createChangeRecommendation.emit($event)"
        ></os-motion-detail-diff>
    </div>
    <div *ngIf="!motion?.diffLines">
        <span class="red-warning-text">{{
            'There is an error with this amendment. Please edit it manually.' | translate
        }}</span>
    </div>
</section>

<!-- Show entire motion text -->
<div *ngIf="crMode === ChangeRecoMode.Original || crMode === ChangeRecoMode.Changed">
    <mat-checkbox
        (change)="showAmendmentContext = !showAmendmentContext"
        *ngIf="motion && motion.isParagraphBasedAmendment()"
        class="show-entire-text-check"
    >
        <span>{{ 'Show entire motion text' | translate }}</span>
    </mat-checkbox>
</div>
