<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import accounts' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="canImport" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>

<os-backend-import-list
    [defaultColumns]="columns"
    [importer]="importer"
    [possibleFields]="possibleFields"
    modelName="Account"
></os-backend-import-list>
