<mat-dialog-content>
    <os-poll-form [data]="pollData" [isEVotingEnabled]="isEVotingEnabled">
        @switch (method) {
            @case ('approval') {
                <os-poll-form-approval [data]="pollData" />
            }
            @case ('selection') {
                <os-poll-form-selection [data]="pollData" />
            }
            @case ('rating_approval') {
                <os-poll-form-rating-approval [data]="pollData" />
            }
        }
    </os-poll-form>
</mat-dialog-content>

<mat-dialog-actions>
    <!-- Save Button -->
    <button mat-button [disabled]="!formsValid" (click)="submitPoll()">
        <span>{{ 'Save' | translate }}</span>
    </button>

    <!-- Cancel Button -->
    <button mat-button [mat-dialog-close]="false">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</mat-dialog-actions>
