<mat-dialog-content>
    <div class="poll-config" [class.hidden]="analogPollFormOpen()">
        <os-poll-form [data]="pollData" [isEVotingEnabled]="isEVotingEnabled">
            @if (hasMultipleOptions) {
                <mat-tab-group [(selectedIndex)]="selectedTab">
                    <mat-tab [label]="'Selection' | translate">
                        <div class="tab-content">
                            <os-poll-form-selection [data]="pollData" [optionAmount]="optionAmount" />
                        </div>
                    </mat-tab>
                    <mat-tab [label]="'Approval per candidate' | translate">
                        <div class="tab-content">
                            <os-poll-form-rating-approval [data]="pollData" [optionAmount]="optionAmount" />
                        </div>
                    </mat-tab>
                    @if (allowCumulative()) {
                        <mat-tab [label]="'Cumulative' | translate">
                            <div class="tab-content">
                                <os-poll-form-rating-score [data]="pollData" [optionAmount]="optionAmount" />
                            </div>
                        </mat-tab>
                    }
                    <mat-tab [label]="'List' | translate">
                        <div class="tab-content">
                            <os-poll-form-approval [data]="pollData" />
                        </div>
                    </mat-tab>
                </mat-tab-group>
            } @else if (allowCumulative()) {
                <mat-tab-group [(selectedIndex)]="selectedTab">
                    <mat-tab [label]="'Single candidate' | translate">
                        <div class="tab-content">
                            <os-poll-form-approval [data]="pollData" />
                        </div>
                    </mat-tab>
                    @if (allowCumulative()) {
                        <mat-tab [label]="'Cumulative' | translate">
                            <div class="tab-content">
                                <os-poll-form-rating-score [data]="pollData" [optionAmount]="optionAmount" />
                            </div>
                        </mat-tab>
                    }
                </mat-tab-group>
            } @else {
                <os-poll-form-approval [data]="pollData" />
            }
        </os-poll-form>
    </div>

    @if (analogPollFormOpen()) {
        <div class="poll-result">
            <os-poll-edit-result
                [configType]="getSelectedMethod()"
                [options]="analogPollOptions()"
                [pollConfigData]="getMethodConfig()"
                [pollData]="pollData"
            />
        </div>
    }
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions>
    <div class="dialog-actions">
        <div>
            <button mat-button [disabled]="!formsValid" (click)="submitPoll()">
                <span>{{ 'Save' | translate }}</span>
            </button>

            <button mat-button [mat-dialog-close]="false">
                <span>{{ 'Cancel' | translate }}</span>
            </button>
        </div>

        <div>
            @if (isAnalogPoll.value()) {
                @if (analogPollFormOpen()) {
                    <button mat-button (click)="analogPollFormOpen.set(false)">
                        <span>{{ 'Edit Poll' | translate }}</span>
                    </button>
                } @else {
                    <button mat-button (click)="analogPollFormOpen.set(true)">
                        <span>{{ 'Edit Result' | translate }}</span>
                    </button>
                }
            }
        </div>
    </div>
</mat-dialog-actions>
