<mat-dialog-content>
    <os-poll-form [data]="pollData" [isEVotingEnabled]="isEVotingEnabled">
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab label="Selection">
                <div class="tab-content">
                    <os-poll-form-selection [data]="pollData" />
                </div>
            </mat-tab>
            <mat-tab label="Approval per candidate">
                <div class="tab-content">
                    <os-poll-form-rating-approval [data]="pollData" />
                </div>
            </mat-tab>
            <mat-tab label="List">
                <div class="tab-content">
                    <os-poll-form-approval [data]="pollData" />
                </div>
            </mat-tab>
        </mat-tab-group>
    </os-poll-form>
</mat-dialog-content>

<mat-dialog-actions>
    <!-- Save Button -->
    <button mat-button [disabled]="!formsValid" (click)="submitPoll()">
        <span>{{ 'Save' | translate }}</span>
    </button>

    <!-- Cancel Button -->
    <button mat-button [mat-dialog-close]="false">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</mat-dialog-actions>
