<div class="token-secret-wrapper" *ngIf="token">
    &nbsp;
    <div
        class="token-secret-field"
        *ngIf="revealed"
        [matTooltip]="'Keep this token a secret and DO NOT upload it to the internet or OpenSlides.' | translate"
    >
        {{ token }}
    </div>
    <div
        class="token-secret-field"
        *ngIf="!revealed"
        style="color: grey"
        (click)="toggleTokenReveal(true)"
        [matTooltip]="'Keep this token a secret and DO NOT upload it to the internet or OpenSlides.' | translate"
    >
        {{ 'Click for token...' | translate }}
    </div>
    <button mat-button *ngIf="!revealed" (click)="toggleTokenReveal(true)" [matTooltip]="'Show token' | translate">
        <mat-icon>visibility_on</mat-icon>
    </button>
    <button mat-button *ngIf="revealed" (click)="toggleTokenReveal(false)" [matTooltip]="'Hide token' | translate">
        <mat-icon>visibility_off</mat-icon>
    </button>
    <button mat-button (click)="copyToken()" [matTooltip]="'Copy token' | translate">
        <mat-icon>content_copy</mat-icon>
    </button>
</div>
