.token-secret-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    button {
        width: 40px;
        height: 40px;
    }

    .token-secret-field {
        width: 200px;
        height: 40px;
        line-height: 40px;
        border: 1px solid grey;
        text-align: center;
        vertical-align: center;
    }
}
