<os-head-bar [nav]="false" [goBack]="true">
    <div class="title-slot">
        <h2>
            {{ 'Import workflows' | translate }}
        </h2>
    </div>
</os-head-bar>

<mat-card class="os-card">
    <os-file-upload [uploadFileFn]="getUploadFileFn()" (uploadSucceeded)="onUploadSucceeded()">
        <div *osScrollingTableCell="'title'; row as row">
            <div *osScrollingTableCellLabel>{{ 'Title' | translate }}</div>
            <span>{{ row?.title | translate }}</span>
        </div>
    </os-file-upload>
</mat-card>
