<os-head-bar [goBack]="true" [nav]="false">
    <div class="title-slot">
        <h1 class="mock-h2">{{ 'Legal notice' | translate }} / {{ 'Privacy policy' | translate }}</h1>
    </div>
</os-head-bar>

<os-legal-notice-content [isEditable]="true" (update)="updateLegalNotice($event)" />

<os-info-actions />

@if (canSeeStatistics) {
    <mat-card class="os-card">
        <mat-card-content>
            <h2>{{ 'Statistics' | translate }}</h2>
            @if (osIsManager) {
                <div>
                    <h3>{{ 'Logged-in users' | translate }}</h3>
                    <os-count-users></os-count-users>
                </div>
            }
            @if (osIsMeetingAdmin) {
                <div>
                    <h3>{{ 'Requests to speak' | translate }}</h3>
                    <os-user-statistics></os-user-statistics>
                </div>
            }
        </mat-card-content>
    </mat-card>
}

<os-privacy-policy-content [isEditable]="true" (update)="updatePrivacyPolicy($event)" />
