<os-head-bar [nav]="false" [goBack]="true">
    <div class="title-slot">
        <h2>{{ 'Legal notice' | translate }} / {{ 'Privacy policy' | translate }}</h2>
    </div>
</os-head-bar>

<os-legal-notice-content [isEditable]="true" (update)="updateLegalNotice($event)"></os-legal-notice-content>

<os-info-actions></os-info-actions>

<mat-card class="os-card" *ngIf="canSeeStatistics">
    <h2>{{ 'Statistics' | translate }}</h2>

    <div *ngIf="osIsManager">
        <h3>{{ 'Logged-in users' | translate }}</h3>
        <os-count-users></os-count-users>
    </div>
    <div *ngIf="osIsMeetingAdmin">
        <h3>{{ 'Requests to speak' | translate }}</h3>
        <os-user-statistics></os-user-statistics>
    </div>
</mat-card>

<mat-card class="os-card">
    <h2>{{ 'Cryptography' | translate }}</h2>
    <span>{{ 'Public main key' | translate }}:</span>
    <span [ngClass]="{ italic: !keyPrint }">{{ keyPrint ?? 'No data' }}</span>
</mat-card>

<os-privacy-policy-content [isEditable]="true" (update)="updatePrivacyPolicy($event)"></os-privacy-policy-content>
