<os-head-bar [nav]="false" [goBack]="true">
    <div class="title-slot">
        <h2>{{ 'Legal notice' | translate }} / {{ 'Privacy policy' | translate }}</h2>
    </div>
</os-head-bar>

<os-legal-notice-content [isEditable]="true" (update)="updateLegalNotice($event)"></os-legal-notice-content>
<os-privacy-policy-content [isEditable]="true" (update)="updatePrivacyPolicy($event)"></os-privacy-policy-content>

<mat-card class="os-card">
    <div>
        <button type="button" mat-stroked-button (click)="resetCache()">
            {{ 'Reset cache' | translate }}
        </button>
    </div>
    <div *osOmlPerms="OML.superadmin" class="superadmin-button">
        <button type="button" mat-stroked-button (click)="checkDatastore()">
            {{ 'Check datastore' | translate }}
        </button>
    </div>
    <div *osOmlPerms="OML.superadmin" class="superadmin-button">
        <button type="button" mat-stroked-button (click)="checkDatastore(true)" matTooltip="{{ 'For large instances this may block the server to the point of unusability' | translate }}">
            {{ 'Thoroughly check datastore (unsafe)' | translate }}
        </button>
    </div>
</mat-card>

<mat-card class="os-card" *ngIf="canSeeStatistics">
    <h2>{{ 'Statistics' | translate }}</h2>

    <ng-container *osPerms="permission.userCanManage">
        <div>
            <h3>{{ 'Active users' | translate }}</h3>
            <os-count-users></os-count-users>
        </div>
        <div>
            <h3>{{ 'Requests to speak' | translate }}</h3>
            <os-user-statistics></os-user-statistics>
        </div>
    </ng-container>
</mat-card>
