.motion-text-toolbar-wrapper {
    min-height: 65px;

    .motion-text-controls {
        display: flex;
        align-items: center;
    }
}

#lineNumberItem {
    padding: 0 16px;

    mat-form-field {
        text-align: center;
        margin: 0 12px;
        max-width: 50px;
    }

    mat-icon {
        font-size: 18px;
    }
}
