<mat-card class="os-card import-table spacer-bottom-60">
    <mat-card-content>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: auto">
            <div style="display: flex; flex-direction: column">
                <h3 class="instructions" translate>{{ 'Import template' | translate }}</h3>
                <div (selectedNewFile)="sendCsvReload($event)">
                    <input
                        #fileInput
                        accept="text"
                        aria-label="{{ 'Import csv template' | translate }}"
                        class="hidden-input"
                        id="user-import-file-input"
                        tabindex="0"
                        type="file"
                        (change)="onSelectedFile($event)"
                        (keydown.enter)="downloadCsvExample()"
                        (keydown.space)="downloadCsvExample(); $event.preventDefault()"
                    />
                    <button
                        aria-label="{{ 'Information' | translate }}"
                        class="outlined-border"
                        matButton
                        outlined
                        (click)="downloadCsvExample()"
                        (keydown.enter)="downloadCsvExample()"
                        (keydown.space)="downloadCsvExample(); $event.preventDefault()"
                    >
                        <mat-icon>download</mat-icon>
                        <mat-label>CSV</mat-label>
                    </button>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <h3 class="instructions" translate>{{ 'Description of columns' | translate }}</h3>
                <div>
                    <button class="outlined-border" matButton outlined translate (click)="openDialog(fieldsInfoDialog)">
                        <mat-icon color="accent">info</mat-icon>
                        <mat-label>{{ 'INFO' | translate }}</mat-label>
                    </button>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <h3 class="instructions" translate>{{ 'Instructions for import file' | translate }}</h3>
                <span [innerHTML]="additionalInfo | trust: 'html'"></span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="os-card import-table spacer-bottom-60">
    <mat-card-content>
        <!-- DROPZONE START -->
        <div
            aria-label="Drag files to this area or click here to select files"
            class="dropdiv"
            role="button"
            tabindex="0"
            (click)="fileInput.click()"
            (dragover)="onDragOver($event)"
            (drop)="onDropSuccess($event)"
            (keydown.enter)="fileInput.click()"
            (keydown.space)="fileInput.click(); $event.preventDefault()"
        >
            <mat-label class="dropdiv-label" for="fileInput" translate>
                {{ 'Drag files to this area OR click here to select files' | translate }}
            </mat-label>
        </div>
        <!-- DROPZONE END -->
        @if (!finishedSuccessfully && (rawFileObservable | async); as file) {
            <div class="import-file-handle">
                {{ file.name }}
                <button mat-icon-button translate (click)="removeSelectedFile()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        }
        @if (isParticipantImport) {
            <!-- Preview button -->
            <button
                class="mdc-button mat-mdc-button-base mat-mdc-button mat-accent"
                matButton
                outlined
                routerLink="/participants/import/preview"
                routerLinkActive="active"
                translate
                [disabled]="uploadButton"
                (click)="showPreview()"
            >
                {{ 'Select file' | translate }}
            </button>
        }
    </mat-card-content>
</mat-card>

<ng-template #fieldsInfoDialog>
    <div class="action-title" mat-dialog-title>
        <h1 class="dialog-title">{{ 'The fields are defined as follows' | translate }}</h1>
    </div>
    <mat-dialog-content>
        <table>
            @for (column of defaultColumns; track column) {
                <tr>
                    <td class="table-title-column">{{ column.property }}:</td>
                    <td>
                        &nbsp;{{ column.label | translate }}
                        @if (column.customInfo) {
                            <br />
                            @if (isString(column.customInfo)) {
                                {{ column.customInfo | translate }}
                            }
                            @if (!isString(column.customInfo)) {
                                {{ column.customInfo | async }}
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>
            {{ 'Close' | translate }}
        </button>
    </mat-dialog-actions>
</ng-template>
