<os-head-bar [goBack]="true" [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>New file</h1>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button mat-icon-button type="button" [matMenuTriggerFor]="uploadMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>
</os-head-bar>

<mat-card class="os-card">
    <mat-card-content>
        <os-media-upload-content
            [directories]="directoriesObservable"
            [directoryId]="directoryId"
            [parallel]="parallel"
            [uploadFn]="uploadFn"
            (errorEvent)="showError($event)"
            (uploadSuccessEvent)="uploadSuccess($event)"
        />
    </mat-card-content>
</mat-card>

<mat-menu #uploadMenu="matMenu">
    <!-- Select upload strategy -->
    <button mat-menu-item (click)="parallel = !parallel">
        <mat-icon color="accent">{{ parallel ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
        <span>{{ 'Parallel upload' | translate }}</span>
    </button>
</mat-menu>
