<os-action-card icon="speaker_notes" [disableExpandControl]="isEditing" [showActionRow]="true">
    <!-- Title row -->
    <ng-container class="meta-text-block-title">
        <span>{{ 'Personal note' | translate }}</span>
    </ng-container>

    <!-- Actions -->
    <ng-container class="meta-text-block-action-row">
        @if (isEditing) {
            <button color="warn" mat-icon-button matTooltip="{{ 'Save' | translate }}" (click)="savePersonalNote()">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{ 'Cancel edit' | translate }}" (click)="leaveEditMode()">
                <mat-icon>close</mat-icon>
            </button>
        } @else {
            <button mat-icon-button matTooltip="{{ 'Edit' | translate }}" (click)="editPersonalNote()">
                <mat-icon>edit</mat-icon>
            </button>
            @if (personalNoteObservable | async) {
                <button
                    mat-icon-button
                    matTooltip="{{ 'Export personal note only' | translate }}"
                    (click)="printPersonalNote()"
                >
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
            }
        }
    </ng-container>

    <!-- Content -->
    <ng-container class="meta-text-block-content">
        @if (!isEditing) {
            @if ((personalNoteObservable | async)?.note; as note) {
                <div [innerHTML]="note | trust: 'html'"></div>
            } @else {
                <div class="no-content">
                    {{ 'No personal note' | translate }}
                </div>
            }
        } @else {
            <form [formGroup]="formGroup">
                <!-- The HTML Editor -->
                <os-motion-editor formControlName="text"></os-motion-editor>
            </form>
        }
        @if (saveHint) {
            <div>
                <span>{{ 'Touch the book icon to enter text' | translate }}</span>
                <br />
                <span class="red-warning-text">{{ 'Do not forget to save your changes!' | translate }}</span>
            </div>
        }
    </ng-container>
</os-action-card>
