<h1 mat-dialog-title>
    <span>{{ 'Edit details for' | translate }} {{ infoDialog.name }}</span>
</h1>
<mat-dialog-content class="os-form-card-mobile">
    <mat-form-field>
        <mat-label>{{ 'Groups' | translate }}</mat-label>
        <mat-select multiple [disabled]="canOnlyEditOwnDelegation" [(ngModel)]="infoDialog.group_ids">
            @for (group of groupsObservable | async; track group) {
                <mat-option [value]="group.id">
                    {{ group.getTitle() }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    @if (showVoteDelegations) {
        <mat-form-field>
            <mat-label>{{ 'Voting right received from (principals)' | translate }}</mat-label>
            <os-list-search-selector
                [disableOptionWhenFn]="getDisableOptionFn(infoDialog.vote_delegations_from_ids)"
                [inputListValues]="otherParticipantsObservable"
                [multiple]="true"
                [sortFn]="false"
                [(ngModel)]="infoDialog.vote_delegations_from_ids"
            ></os-list-search-selector>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Voting right delegated to (proxy)' | translate }}</mat-label>
            <os-list-search-selector
                [includeNone]="true"
                [inputListValues]="otherParticipantsObservable"
                [multiple]="false"
                [sortFn]="false"
                [(ngModel)]="infoDialog.vote_delegated_to_id"
            ></os-list-search-selector>
        </mat-form-field>
    }
    <mat-form-field>
        <mat-label>{{ 'Structure level' | translate }}</mat-label>
        <os-list-search-selector
            [disabled]="canOnlyEditOwnDelegation"
            [includeNone]="true"
            [inputListValues]="structureLevelObservable"
            [multiple]="true"
            [(ngModel)]="infoDialog.structure_level_ids"
        ></os-list-search-selector>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'Participant number' | translate }}</mat-label>
        <input matInput type="text" [disabled]="canOnlyEditOwnDelegation" [(ngModel)]="infoDialog.number" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        color="accent"
        mat-button
        type="submit"
        [mat-dialog-close]="{
            group_ids: infoDialog.group_ids,
            vote_delegations_from_ids: infoDialog.vote_delegations_from_ids,
            vote_delegated_to_id: infoDialog.vote_delegated_to_id,
            number: infoDialog.number,
            structure_level_ids: infoDialog.structure_level_ids
        }"
    >
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button type="button" [mat-dialog-close]="null">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</mat-dialog-actions>
