<h1 mat-dialog-title>{{ 'New change recommendation' | translate }}</h1>
<div mat-dialog-content>
    <form class="motion-content" [formGroup]="contentForm" (ngSubmit)="submitChanges()">
        <mat-radio-group #rGroup formControlName="type">
            <mat-radio-button *ngFor="let radio of replacementTypes" [value]="radio.value">
                {{ radio.title | translate }}
            </mat-radio-button>
        </mat-radio-group>

        <!-- The HTML Editor -->
        <h4 *ngIf="lineRange.to === lineRange.from">
            <span>{{ 'Changed version in line' | translate }}</span>
            {{ lineRange.from }}:
        </h4>
        <h4 *ngIf="lineRange.to !== lineRange.from">
            <span>{{ 'Changed version in line' | translate }}</span>
            {{ lineRange.from }}
            <span>{{ 'to' | translate }}</span>
            {{ lineRange.to }}:
        </h4>
        <div>
            <os-editor formControlName="text"></os-editor>
        </div>

        <mat-checkbox formControlName="public">{{ 'Public' | translate }}</mat-checkbox>
    </form>
</div>
<div mat-dialog-actions>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="submitChanges()">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button mat-dialog-close>
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</div>
