<h1 mat-dialog-title>{{ 'New change recommendation' | translate }}</h1>
<mat-dialog-content>
    <form class="motion-content" [formGroup]="contentForm" (ngSubmit)="submitChanges()">
        <mat-radio-group #rGroup formControlName="type">
            @for (radio of replacementTypes; track radio) {
                <mat-radio-button [value]="radio.value">
                    {{ radio.title | translate }}
                </mat-radio-button>
            }
        </mat-radio-group>

        <!-- The HTML Editor -->
        @if (lineRange.to === lineRange.from) {
            <h4>
                <span>{{ 'Changed version in line' | translate }}</span>
                {{ lineRange.from }}:
                <mat-icon class="small-icon" (click)="toggleLineRange()">edit</mat-icon>
            </h4>
        }
        @if (lineRange.to !== lineRange.from) {
            <h4>
                <span>{{ 'Changed version in line' | translate }}</span>
                {{ lineRange.from }}
                <span>{{ 'to' | translate }}</span>
                {{ lineRange.to }}:
                <mat-icon class="small-icon" (click)="toggleLineRange()">edit</mat-icon>
            </h4>
        }
        @if (editLineRange) {
            <div>
                <mat-form-field class="margin-right-small">
                    <mat-label>{{ 'Line from' | translate }}</mat-label>
                    <input formControlName="line_from" matInput type="number" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'Line to' | translate }}</mat-label>
                    <input formControlName="line_to" matInput type="number" />
                </mat-form-field>
            </div>
        }
        <div>
            <os-motion-editor formControlName="text"></os-motion-editor>
        </div>

        <mat-checkbox formControlName="public">{{ 'Public' | translate }}</mat-checkbox>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="submitChanges()">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button mat-dialog-close>
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</mat-dialog-actions>
