<mat-form-field
    appearance="outline"
    class="chat-form-field full-width"
    [color]="isPartOfMeeting() ? 'accent' : 'warn'"
    (keydown)="onKeyDown($event)"
>
    @if (currentMessage) {
        <div class="chat-form-field-prefix flex-vertical-center" matPrefix>
            <span>{{ 'Edit' | translate }}</span>
            <button mat-icon-button type="button" [disableRipple]="true" (click)="cancelEditingChatMessage()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    }
    <textarea
        #chatinput
        autocomplete="off"
        cdkAutosizeMaxRows="10"
        cdkAutosizeMinRows="1"
        cdkTextareaAutosize
        matInput
        [formControl]="messageForm"
    ></textarea>
    @if (chatinput.value!.length >= CHAT_MESSAGE_MAX_LENGTH - 100) {
        <mat-hint align="end">
            <span>{{ chatinput.value?.length || 0 }}/{{ CHAT_MESSAGE_MAX_LENGTH }}</span>
            @if (chatinput.value!.length > CHAT_MESSAGE_MAX_LENGTH) {
                <span class="warn">({{ CHAT_MESSAGE_MAX_LENGTH - chatinput.value!.length }})</span>
            }
        </mat-hint>
    }
    <button
        mat-icon-button
        matSuffix
        matTooltip=" {{ 'Send' | translate }}"
        type="button"
        [color]="isPartOfMeeting() ? 'accent' : 'warn'"
        [disabled]="!isMessageFormValid"
        (click)="sendChatMessage()"
    >
        <mat-icon>send</mat-icon>
    </button>
    @if (!isPartOfMeeting()) {
        <mat-hint>
            <span class="warn">
                {{ 'You have to be part of the meeting to write messages.' | translate }}
            </span>
        </mat-hint>
    }
</mat-form-field>
