<h4>
    <span class="title-font">{{ title }}</span>
    @if (!disableEdit && perms.isAllowed('change_metadata')) {
        @if (isEditMode) {
            <button class="small-button" disableRipple mat-icon-button type="button" (click)="onCancel()">
                <mat-icon>close</mat-icon>
            </button>
        } @else {
            <button class="small-button" disableRipple mat-icon-button type="button" (click)="onEdit()">
                <mat-icon>edit</mat-icon>
            </button>
        }
    }
</h4>

@if (!isEditMode || !perms.isAllowed('change_metadata') || disableEdit) {
    <div>
        @for (model of intermediateModels$ | async; track model.id) {
            <mat-chip-listbox class="user">
                @if (model.user) {
                    <mat-basic-chip class="pre-wrap" disableRipple>
                        <div>
                            {{ formatSubmitterName(model.user.getTitle(), 101) }}
                        </div>
                    </mat-basic-chip>
                } @else {
                    <mat-basic-chip class="pre-wrap" disableRipple>{{ 'Deleted user' | translate }}</mat-basic-chip>
                }
            </mat-chip-listbox>
        }
        @if (useAdditionalInput && additionalInputValue) {
            <mat-chip-listbox class="user">
                <mat-basic-chip class="pre-wrap" disableRipple>{{ additionalInputValue }}</mat-basic-chip>
            </mat-chip-listbox>
        }
    </div>
} @else {
    <div>
        <os-sorting-list [count]="false" [input]="editObservable" [live]="true" (sortEvent)="onSortingChange($event)">
            <!-- implicit user references into the component using ng-template slot -->
            <ng-template let-user>
                <div class="single-line">
                    <span class="ellipsis-overflow">
                        {{ user.getTitle() }}
                    </span>
                    <span>
                        <button
                            mat-icon-button
                            matTooltip="{{ 'Remove' | translate }}"
                            type="button"
                            (click)="onRemove(user)"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    </span>
                </div>
            </ng-template>
        </os-sorting-list>
        <div class="text-field-container">
            <os-participant-search-selector
                placeholder="{{ 'Select participant' | translate }}"
                [nonSelectableUserIds]="nonSelectableUserIds"
                (userSelected)="addUser($event)"
            ></os-participant-search-selector>
        </div>
        @if (useAdditionalInput) {
            <div class="text-field-container">
                <mat-form-field>
                    <mat-label>{{ additionalInputLabel }}</mat-label>
                    <input matInput [formControl]="additionalInputControl" [value]="additionalInputValue" />
                </mat-form-field>
            </div>
            @if (loadSecondSelectorValues) {
                <div class="text-field-container">
                    <mat-form-field>
                        <mat-label>{{ secondSelectorLabel }}</mat-label>
                        <os-list-search-selector
                            [disableOptionWhenFn]="getDisabledFn()"
                            [formControl]="secondSelectorFormControl"
                            [inputListValues]="secondSelectorValues"
                            [keepOpen]="true"
                            (openedChange)="openedChange($event)"
                        ></os-list-search-selector>
                    </mat-form-field>
                </div>
            }
        }
        <p>
            <button mat-button type="button" (click)="onSave()">
                <span>{{ 'Save' | translate }}</span>
            </button>
            <button mat-button type="button" (click)="onCancel()">
                <span>{{ 'Cancel' | translate }}</span>
            </button>
        </p>
    </div>
}
