<div class="text tiptap-view"></div>
<p *ngIf="!textLoaded">
    <mat-progress-bar mode="indeterminate" color="primary" [value]="50" [bufferValue]="75"></mat-progress-bar>
</p>
<ul class="change-recommendation-list" *ngIf="showChangeRecommendations">
    <li
        *ngFor="let reco of textChangeRecommmendations"
        [title]="reco.getTitle()"
        [style.top]="calcRecoTop(reco)"
        [style.height]="calcRecoHeight(reco)"
        [class.delete]="isDeletionChangeRecommendation(reco)"
        [class.insert]="isInsertionChangeRecommendation(reco)"
        [class.replace]="isReplacementChangeRecommendation(reco)"
        (click)="gotoReco(reco)"
    ></li>
</ul>
