<div class="text"></div>
@if (!textLoaded) {
<p>
    <mat-progress-bar mode="indeterminate" color="primary" [value]="50" [bufferValue]="75"></mat-progress-bar>
</p>
} @if (showChangeRecommendations) {
<ul class="change-recommendation-list">
    @for (reco of textChangeRecommmendations; track reco) {
    <li
        [title]="reco.getTitle()"
        [style.top]="calcRecoTop(reco)"
        [style.height]="calcRecoHeight(reco)"
        [class.delete]="isDeletionChangeRecommendation(reco)"
        [class.insert]="isInsertionChangeRecommendation(reco)"
        [class.replace]="isReplacementChangeRecommendation(reco)"
        (click)="gotoReco(reco)"
    ></li>
    }
</ul>
}
