<mat-dialog-content>
    <div class="flex-container">
        <h2 mat-dialog-title class="left-align no-margin">{{ caption | translate }}</h2>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="opponentName">
        <div class="center spacer-top-5 spacer-bottom-5">{{ 'Playing against' | translate }} {{ opponentName }}</div>
    </ng-container>
    <div #chessboard></div>

    <div class="center spacer-top-5">
        <button (click)="handleEvent('searchClicked')" *ngIf="state === 'start'" mat-raised-button color="accent">
            {{ 'Search player' | translate }}
        </button>
    </div>
    <div *ngIf="!inMeeting">
        {{ 'Open a meeting to play chess' | translate }}
    </div>
</mat-dialog-content>
