<ng-container *ngIf="data?.data">
    <div class="slidetitle">
        <ng-container *ngIf="data.data.title_information">
            <h1 class="title">{{ data.data.title_information }}</h1>
            <h2 class="poll-title">{{ data.data.title }}</h2>
        </ng-container>
        <ng-container *ngIf="!data.data.title_information">
            <h1 class="title">{{ data.data.title }}</h1>
        </ng-container>
    </div>
    <div *ngIf="data.data.state === PollState.Published">
        <os-motion-poll-detail-content *ngIf="pollContentObjectType==PollContentObjectType.Motion" [poll]="data.data" iconSize="gigantic"></os-motion-poll-detail-content>
        <os-assignment-poll-detail-content *ngIf="pollContentObjectType==PollContentObjectType.Assignment" [poll]="data.data"></os-assignment-poll-detail-content>
    </div>
</ng-container>
