:host {
    display: block;
    position: sticky;
    top: 0;
    z-index: 999;
}

.global-headbar {
    height: var(--global-headbar-height);
    line-height: var(--global-headbar-height);
    display: flex;
    flex-direction: row;
    padding-left: 26px;
}

.background-headbar {
    background: var(--theme-headbar);
    color: var(--theme-headbar-contrast);
}

.spacer {
    flex: 1;
    height: 100%;
}

.display-name {
    font-weight: 400;
    font-size: 14px;
}
