<mat-toolbar class="global-headbar background-headbar">
    <div class="one-line display-name">
        <span>{{ displayName }}</span>
    </div>
    <div class="spacer"></div>
    <div class="flex-center">
        <!-- Button to open the global search -->
        <button *ngIf="isSearchEnabled" mat-icon-button (click)="openSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <!-- Button to view the own account -->
        <os-account-button></os-account-button>
    </div>
</mat-toolbar>

<ng-template [cdkPortalOutlet]="headbarService.headbar"></ng-template>
