@use 'src/app/site/modules/global-headbar/components/account-button/account-button.component.scss';

:host {
    display: block;
    position: sticky;
    top: 0;
    z-index: 101;
}

.global-headbar {
    height: var(--global-headbar-height);
    line-height: var(--global-headbar-height);
    display: flex;
    flex-direction: row;
    padding-left: 26px;
    .mat-icon {
        &:hover {
            cursor: pointer;
            transition: background 0.3s ease;
        }
    }
    .display-name {
        cursor: default;
        @extend .accountButtonColors;
    }
}

.background-headbar {
    background: var(--theme-headbar);
    color: var(--theme-headbar-contrast);
}

.spacer {
    flex: 1;
    height: 100%;
}

.display-name {
    font-weight: 400;
    font-size: 14px;
}

.fake-fab-button {
    $button-size: 20px;
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
    text-align: center;
    cursor: pointer;
    background: var(--theme-warn-500);
    border-radius: 50%;
}

.longpolling-adjust-icon {
    margin-left: -1px;
    margin-top: -3px;
    transform: scale(0.75);
}

@keyframes train {
    0% {
        right: 0;
    }
    99% {
        right: 100%;
    }
    100% {
        right: 100%;
        display: none;
    }
}

.global-headbar.train:after {
    content: '🚂 🚃 🚃 🚃';
    position: absolute;
    overflow: hidden;
    animation-name: train;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
