:host {
    display: block;
    position: sticky;
    top: 0;
    z-index: 999;
}

.global-headbar {
    height: 28px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    padding-left: 26px;
}

.spacer {
    flex: 1;
    height: 100%;
}

.display-name {
    font-weight: 400;
    font-size: 14px;
}

.scrollable-content {
    height: calc(100vh - 28px);
    width: 100%;
    overflow: auto;
}
