<h1 mat-dialog-title *ngIf="item">{{ 'Edit details for' | translate }} {{ item.getTitle() }}</h1>
<div mat-dialog-content>
    <form class="item-dialog-form" [formGroup]="agendaInfoForm" (keydown)="onKeyDown($event)">
        <!-- Tag -->
        <mat-form-field *ngIf="isTagAvailable()">
            <mat-label>{{ 'Tags' | translate }}</mat-label>
            <mat-select formControlName="tag_ids" multiple>
                <mat-option *ngFor="let tag of tags" [value]="tag.id">
                    {{ tag.getTitle() }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Visibility -->
        <mat-form-field>
            <mat-label>{{ 'Agenda visibility' | translate }}</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of itemVisibility" [value]="type.key">
                    <span>{{ type.name | translate }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Duration -->
        <mat-form-field>
            <mat-label>{{ 'Duration' | translate }}</mat-label>
            <input type="string" matInput formControlName="durationText" />
            <mat-error *ngIf="agendaInfoForm.invalid">
                {{ 'Your input does not match the following structure: "hh:mm"' | translate }}
            </mat-error>
        </mat-form-field>

        <!-- Item number (prefix) -->
        <mat-form-field>
            <mat-label>{{ 'Item number' | translate }}</mat-label>
            <input matInput formControlName="item_number" />
        </mat-form-field>

        <!-- Comment -->
        <mat-form-field>
            <mat-label>{{ 'Comment' | translate }}</mat-label>
            <textarea
                matInput
                formControlName="comment"
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"
            ></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="saveItemInfo()" [disabled]="agendaInfoForm.invalid">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button (click)="onCancelButton()">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</div>
