@if (item) {
<h1 mat-dialog-title>{{ 'Edit details for' | translate }} {{ item.getTitle() }}</h1>
}
<mat-dialog-content>
    <form class="item-dialog-form" tabindex="-1" [formGroup]="agendaInfoForm" (keydown)="onKeyDown($event)">
        <!-- Tag -->
        @if (isTagAvailable()) {
        <mat-form-field>
            <mat-label>{{ 'Tags' | translate }}</mat-label>
            <mat-select formControlName="tag_ids" multiple>
                @for (tag of tags; track tag) {
                <mat-option [value]="tag.id">
                    {{ tag.getTitle() }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        <!-- Visibility -->
        <mat-form-field>
            <mat-label>{{ 'Agenda visibility' | translate }}</mat-label>
            <mat-select formControlName="type">
                @for (type of itemVisibility; track type) {
                <mat-option [value]="type.key">
                    <span>{{ type.name | translate }}</span>
                </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- Duration -->
        <mat-form-field>
            <mat-label>{{ 'Duration' | translate }}</mat-label>
            <input formControlName="durationText" matInput type="string" />
            @if (agendaInfoForm.invalid) {
            <mat-error>
                {{ 'Your input does not match the following structure: "hh:mm"' | translate }}
            </mat-error>
            }
        </mat-form-field>

        <!-- Item number (prefix) -->
        <mat-form-field>
            <mat-label>{{ 'Item number' | translate }}</mat-label>
            <input formControlName="item_number" matInput />
        </mat-form-field>

        <!-- Comment -->
        <mat-form-field>
            <mat-label>{{ 'Comment' | translate }}</mat-label>
            <textarea
                cdkAutosizeMaxRows="5"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                formControlName="comment"
                matInput
            ></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="agendaInfoForm.invalid" (click)="saveItemInfo()">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button (click)="onCancelButton()">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</mat-dialog-actions>
