:host {
    display: block;
    height: 100%;

    .background-dark {
        .copyright-link {
            color: white;
        }

        .nav-toggle-button {
            background: #8f8f8f;
        }
    }
}

.main-content-wrapper {
    display: flex;
    flex: 1 1 auto;
    .navigation {
        position: sticky;
        flex: 1 0 auto;
        background: white;
    }
    .content {
        width: 100%;
        overflow: auto;
    }
}

.nav-toolbar-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .nav-toolbar-logo {
        width: 250px;
        height: 78px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .nav-toolbar-content {
        flex: 1;
    }
}

.copyright-sign-container {
    position: relative;

    .copyright-link {
        text-decoration: none;
    }
}

/* The top logo container can contain any logo with any size.
   It needs to always fit.*/
.os-logo-container {
    margin: auto auto auto 10px;
    width: 230px !important;
    max-height: 78px;
    display: flex;
}

/* Main navigation */
mat-sidenav-container {
    height: 100%;
    width: 100%;

    mat-sidenav-content {
        display: flex;
    }

    mat-sidenav.side-panel,
    .main-content-wrapper .navigation {
        border: 0;
        box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
        width: 260px;
        overflow-x: hidden;
        z-index: 3;
    }
}

// CSS for the toggle button
.nav-toggle-button-container {
    position: sticky;
    z-index: 99;
    bottom: 24px;
    & > div {
        position: relative;
    }

    .nav-toggle-button {
        bottom: 0;
        position: absolute;
        transform: none;
        width: 24px;
        min-width: 24px;
        height: 48px;
        padding: 0 0 2px;

        &.left {
            left: 236px;
            padding-left: 8px;
            border-radius: 50px 0 0 50px;
        }

        &.right {
            left: 0;
            padding-right: 8px;
            border-radius: 0 50px 50px 0;
        }

        mat-icon {
            $size: 18px;
            height: $size;
            width: $size;
            font-size: $size;
            margin: 0;
        }
    }
}

/* The footer container only appears when custom logo is
   specified. It can only contain the standard logo */
.os-footer-logo-container {
    width: 150px;
    margin-left: 16px;
    margin-right: auto;
}

.os-logo-container:focus,
.os-logo-container:active,
.os-logo-container:hover,
.os-footer-logo-container:focus,
.os-footer-logo-container:active,
.os-footer-logo-container:hover {
    border: none;
    outline: none;
}
