<!-- Moderator Note-->
<mat-card
    class="spacer-bottom-60 card-padding"
    [ngClass]="isEditing ? 'os-form-card' : 'os-card'"
    *ngIf="canSeeModerationNote && (canManageModerationNote || (moderatorNotes | async))"
>
    <!-- Title edit/save/cancle-->
    <div class="action-title">
        <p class="subtitle-text" translate>Moderation note</p>
        <div class="buttons" *ngIf="canManageModerationNote">
            <ng-container *ngIf="isEditing">
                <button
                    mat-icon-button
                    color="warn"
                    (click)="saveChangesModerationNote()"
                    matTooltip="{{ 'Save' | translate }}"
                >
                    <mat-icon>done</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="toggleEditModeratorNote()"
                    matTooltip="{{ 'Cancel edit' | translate }}"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="!isEditing">
                <button
                    mat-icon-button
                    (click)="toggleEditModeratorNote()"
                    matTooltip="{{ 'Edit moderation note' | translate }}"
                >
                    <mat-icon>edit</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>

    <mat-card-content>
        <ng-container *ngIf="!isEditing">
            <div class="app-content underlined-links">
                <ng-container *ngIf="moderatorNotes | async as moderatorNoteText">
                    <div [innerHTML]="moderatorNoteText | trust : 'html'"></div>
                </ng-container>
            </div>
        </ng-container>

        <ng-container *ngIf="isEditing">
            <form [formGroup]="moderatorNoteForm">
                <os-editor formControlName="moderator_notes"></os-editor>
            </form>
        </ng-container>
    </mat-card-content>
</mat-card>
