@if (showPoll) {
    <mat-card class="motion-poll-wrapper">
        <mat-card-content>
            <os-poll-approval-vote [poll]="poll"></os-poll-approval-vote>
            <!-- Results
            @if (poll && !poll.stateHasVotes && poll.type !== 'analog') {
                @if (poll && poll.isStarted) {
                    <os-poll-progress [canManagePoll]="canManagePoll" [poll]="poll" />
                }
                @if (poll.canBeVotedFor()) {
                    <os-motion-poll-vote [displayInAutopilot]="false" [poll]="poll" />
                }
                <os-motion-poll-meta-information [poll]="poll" />
            } @else {
                <span [ngClass]="{ 'poll-link-wrapper': isSameMeeting }">
                    <ng-container [ngTemplateOutlet]="canSeeVotes ? viewTemplate : emptyTemplate"></ng-container>
                </span>
            }
            -->
            <!-- Detail link -->
            @if (poll.isPublished && isSameMeeting) {
                <div class="poll-detail-button-wrapper">
                    <a mat-icon-button matTooltip="{{ 'More' | translate }}" [routerLink]="getDetailLink()">
                        <mat-icon class="icon-18">visibility</mat-icon>
                    </a>
                </div>
            }
        </mat-card-content>
    </mat-card>
}

<ng-template #viewTemplate>
    @if (isSameMeeting) {
        <os-motion-poll-detail-content [poll]="poll" [routerLink]="getDetailLink()" />
    } @else {
        <os-motion-poll-detail-content [poll]="poll" />
    }
</ng-template>

<ng-template #emptyTemplate>
    <span *osPerms="permission.motionCanManagePolls; and: poll.type === 'analog'">
        <button mat-stroked-button matTooltip="{{ 'Edit' | translate }}" (click)="dialogOpened.emit()">
            <mat-icon>edit</mat-icon>
        </button>
        <div>
            {{ 'Edit to enter votes.' | translate }}
        </div>
    </span>
    @if (poll.type !== 'analog') {
        <p>
            <i *osPerms="permission.motionCanManagePolls; or: isPublished">
                {{ 'No one has voted for this poll' | translate }}
            </i>
        </p>
    }
</ng-template>
