<mat-card class="motion-poll-wrapper" *ngIf="showPoll">
    <!-- Poll Infos -->
    <div class="poll-title-wrapper">
        <!-- Title Area -->
        <div class="poll-title-area">
            <!-- Title -->
            <span class="poll-title break-word">
                <a [routerLink]="getDetailLink()">
                    {{ poll.title | translate }}
                </a>
            </span>
        </div>

        <!-- Dot Menu -->
        <span class="poll-actions" *osPerms="permission.motionCanManagePolls">
            <button mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
                <mat-icon class="icon-18">more_horiz</mat-icon>
            </button>
        </span>
    </div>

    <!-- Subtitle -->
    <div class="italic spacer-bottom-20">
        <!-- Type and State -->
        <div class="type-and-state italic spacer-bottom-20 break-word">
            <span *osPerms="permission.motionCanManagePolls; and: poll.isEVoting">
                <os-icon-container
                    class="poll-type break-word"
                    icon="info"
                    color="primary"
                    [swap]="true"
                    [showIcon]="poll.isAnonymous"
                    (iconAction)="openVotingWarning()"
                >
                    {{ poll.typeVerbose | translate }}
                </os-icon-container>
                <span *ngIf="poll.isAnonymous">&nbsp;</span>
                &middot;&nbsp;
            </span>

            <!-- State -->
            <span class="break-word">
                {{ poll.stateVerbose | translate }}
            </span>
        </div>
    </div>

    <!-- Change state button -->
    <span *osPerms="permission.motionCanManagePolls; and: !hideChangeState">
        <button
            *ngIf="pollStateActions[poll.state]"
            mat-stroked-button
            [ngClass]="pollStateActions[poll.state].css"
            (click)="nextPollState()"
            [disabled]="stateChangePendingObservable | async"
        >
            <mat-icon>{{ pollStateActions[poll.state].icon }}</mat-icon>
            <span class="next-state-label">
                <ng-container *ngIf="(stateChangePendingObservable | async) === false">
                    {{ poll.nextStateActionVerbose | translate }}
                </ng-container>
                <ng-container *ngIf="stateChangePendingObservable | async">
                    {{ 'In progress, please wait...' | translate }}
                </ng-container>
            </span>
        </button>
    </span>

    <!-- Results -->
    <ng-container *ngIf="poll && !poll.stateHasVotes && poll.type !== 'analog'; else votingResult">
        <os-poll-progress *ngIf="poll && poll.isStarted" [poll]="poll"></os-poll-progress>
        <os-motion-poll-vote [poll]="poll" *ngIf="poll.canBeVotedFor()"></os-motion-poll-vote>
        <os-motion-poll-meta-information [poll]="poll"></os-motion-poll-meta-information>
    </ng-container>

    <!-- Detail link -->
    <div class="poll-detail-button-wrapper">
        <a
            mat-icon-button
            [routerLink]="getDetailLink()"
            matTooltip="{{ 'More' | translate }}"
            *ngIf="poll.isPublished"
        >
            <mat-icon class="icon-18">visibility</mat-icon>
        </a>
    </div>
</mat-card>

<ng-template #votingResult>
    <span class="poll-link-wrapper">
        <ng-container [ngTemplateOutlet]="canSeeVotes ? viewTemplate : emptyTemplate"></ng-container>
    </span>
</ng-template>

<ng-template #viewTemplate>
    <os-motion-poll-detail-content [poll]="poll" [routerLink]="getDetailLink()"></os-motion-poll-detail-content>
</ng-template>

<ng-template #emptyTemplate>
    <span *osPerms="permission.motionCanManagePolls; and: poll.type === 'analog'">
        <button mat-stroked-button (click)="dialogOpened.emit()" matTooltip="{{ 'Edit' | translate }}">
            <mat-icon>edit</mat-icon>
        </button>
        <div>
            {{ 'Edit to enter votes.' | translate }}
        </div>
    </span>
    <p *ngIf="poll.type !== 'analog'">
        <i *osPerms="permission.motionCanManagePolls; or: isPublished">{{ 'No one has voted for this poll' | translate }}</i>
    </p>
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <button *osPerms="permission.motionCanManagePolls" mat-menu-item (click)="dialogOpened.emit()">
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit' | translate }}</span>
    </button>
    <os-projector-button
        [menuItem]="true"
        [object]="poll"
        *osPerms="permission.projectorCanManage"
    ></os-projector-button>
    <button mat-menu-item (click)="downloadPdf()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>{{ 'Ballot papers' | translate }}</span>
    </button>
    <div *osPerms="permission.motionCanManagePolls">
        <mat-divider></mat-divider>

        <!-- Reset Button -->
        <button mat-menu-item (click)="resetState()">
            <mat-icon color="warn">replay</mat-icon>
            <span>{{ 'Reset state' | translate }}</span>
        </button>

        <!-- Delete button -->
        <button mat-menu-item (click)="deletePoll()">
            <mat-icon color="warn">delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
