@for (item of shortenedList; track item; let isLast = $last) {
    <span>
        @if (templateRef) {
            <span>
                <ng-template
                    [ngTemplateOutlet]="templateRef"
                    [ngTemplateOutletContext]="{ $implicit: item }"
                ></ng-template>
            </span>
        }
        @if (!templateRef) {
            <span [innerHtml]="item"></span>
        }
        @if (!isLast && !useMidpoint) {
            <span>,&#32;</span>
        }
        @if (!isLast && useMidpoint) {
            <span>&ensp;&middot;&ensp;</span>
        }
        @if (isLast && ellipsed) {
            <span>…</span>
        }
    </span>
}
