.member-delete-dialog-content {
    display: flex;
    height: 50vh;
    overflow-y: auto;

    .member-list-block {
        width: 100%;
        flex: 1;

        div.cdk-virtual-scroll-content-wrapper {
            width: 100%;
        }

        .member {
            &:hover {
                background-color: rgba(0, 0, 0, 0.025);
            }
        }

        p {
            margin: 4px 0;
            width: 100%;
        }
    }

    .member-detail-block {
        flex: 1;

        .member-name {
            font-size: 16px;
        }
    }

    .committee-title,
    .meeting-title {
        font-weight: 500;
        margin-left: -15px;
        ~ li {
            font-size: 13px;
        }
    }
}
