<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar
        [editMode]="isMobile && manualSortMode"
        [goBack]="true"
        [nav]="false"
        (cancelEditEvent)="setManualSortMode(false)"
        (saveEvent)="onMobileSaveSorting()"
    >
        <!-- Title -->
        <div class="title-slot">
            <h1 class="mock-h2" translate>List of speakers</h1>
        </div>
        <ng-container *osPerms="[permission.listOfSpeakersCanManage, permission.projectorCanManage]" class="menu-slot">
            <button
                mat-icon-button
                matTooltip="{{ 'Re-add last speaker' | translate }}"
                type="button"
                [disabled]="!canReaddLastSpeaker"
                (click)="readdLastSpeaker()"
            >
                <mat-icon>undo</mat-icon>
            </button>
            <button mat-icon-button type="button" [matMenuTriggerFor]="speakerMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </ng-container>
    </os-head-bar>

    <os-list-of-speakers-content
        #content
        [addBottomSpacer]="true"
        [listOfSpeakers]="viewListOfSpeakers"
        [sortMode]="manualSortMode"
        (canReaddLastSpeakerEvent)="canReaddLastSpeaker = $event"
        (isListOfSpeakersEmptyEvent)="isListOfSpeakersEmpty = $event"
    />

    <!-- special los part for structure level -->
    @if (
        structureLevelCountdownEnabled &&
        viewListOfSpeakers &&
        viewListOfSpeakers.structure_level_list_of_speakers_ids?.length
    ) {
        <div class="col-right">
            <mat-card class="spacer-bottom-60 os-card">
                <mat-card-content>
                    <os-speaking-times
                        [listOfSpeakers]="viewListOfSpeakers"
                        [showProjectionMenu]="true"
                    ></os-speaking-times>
                </mat-card-content>
            </mat-card>
        </div>
    }
    @if (viewListOfSpeakers) {
        <div>
            <!-- Moderator Note-->
            <os-moderation-note [listOfSpeakers]="viewListOfSpeakers"></os-moderation-note>
        </div>
    }
</os-detail-view>

<mat-menu #speakerMenu="matMenu">
    @if (isMobile) {
        <button mat-menu-item (click)="setManualSortMode(true)">
            <mat-icon>sort</mat-icon>
            <span>{{ 'Sort' | translate }}</span>
        </button>
    }
    @if (viewListOfSpeakers && projectors && projectors.length > 1) {
        <os-projector-button [menuItem]="true" [object]="getClosSlide()">
            {{ 'Current list of speakers (as slide)' | translate }}
        </os-projector-button>
    }
    @if (viewListOfSpeakers) {
        <os-projector-button [menuItem]="true" [object]="viewListOfSpeakers">
            {{ 'List of speakers' | translate }}
        </os-projector-button>
    }
    @if (viewListOfSpeakers) {
        <os-projector-button [menuItem]="true" [object]="viewListOfSpeakers.content_object!">
            {{ getContentObjectProjectorButtonText() | translate }}
        </os-projector-button>
    }

    <button mat-menu-item (click)="setLosClosed(!isListOfSpeakersClosed)">
        <mat-icon>{{ isListOfSpeakersClosed ? 'lock_open' : 'lock' }}</mat-icon>
        @if (!isListOfSpeakersClosed) {
            <span>{{ 'Close list of speakers' | translate }}</span>
        }
        @if (isListOfSpeakersClosed) {
            <span>{{ 'Open list of speakers' | translate }}</span>
        }
    </button>

    <mat-divider />

    <button
        class="red-warning-text"
        mat-menu-item
        [disabled]="isPreviousListOfSpeakersEmpty"
        (click)="clearPreviousSpeakerList()"
    >
        <mat-icon>delete</mat-icon>
        <span>{{ 'Remove all previous speakers' | translate }}</span>
    </button>

    <button
        class="red-warning-text"
        mat-menu-item
        [disabled]="isNextListOfSpeakersEmpty"
        (click)="clearNextSpeakerList()"
    >
        <mat-icon>delete</mat-icon>
        <span>{{ 'Remove all next speakers' | translate }}</span>
    </button>

    <button class="red-warning-text" mat-menu-item [disabled]="isListOfSpeakersEmpty" (click)="clearSpeakerList()">
        <mat-icon>delete</mat-icon>
        <span>{{ 'Remove all speakers' | translate }}</span>
    </button>
</mat-menu>
