<h1 mat-dialog-title translate>Insert/Edit Link</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <mat-label translate>Source</mat-label>
            <input matInput [(ngModel)]="embed.src" />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label translate>Title</mat-label>
            <input matInput [(ngModel)]="embed.title" />
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button color="accent" [disabled]="!embed.src" (click)="save()" translate>Ok</button>
    <button mat-button (click)="cancel()" translate>Cancel</button>
</div>
