@import '~@angular/material/theming';

@mixin os-dashboard-style($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $active-meetings-text-color: mat-color($background, card);

    #active-meetings {
        .meeting-list {
            height: fit-content;
            background: mat-color($background, card);

            .meeting-box {
                background: mat-color($primary);
                color: $active-meetings-text-color;

                &--mid {
                    font-size: 22px;
                }

                &:last-child {
                    border: none;
                }
            }
        }

        .meeting-icon-wrapper {
            color: mat-color($warn);
        }
    }

    #future-meetings {
        .meeting-icon-wrapper {
            color: mat-color($primary);
        }
    }
}
