<os-head-bar [customMenu]="true">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Dashboard' | translate }}</h2>
    </div>

    <ng-container class="custom-menu-slot">
        <os-management-navigation></os-management-navigation>
    </ng-container>
</os-head-bar>

<os-logo class="dashboard-logo" [default]="true"></os-logo>

<mat-card *ngIf="noMeetingsToShow" class="no-content os-card">
    <i> {{ 'No meetings to show' | translate }}</i>
</mat-card>

<ng-container *ngIf="!noMeetingsToShow">
    <mat-card class="os-card">
        <!-- active meetings -->
        <div>
            <h2>{{ 'Active meetings' | translate }}</h2>
            <p *ngFor="let meeting of currentMeetings">
                <ng-container [ngTemplateOutlet]="meetingTemplate" [ngTemplateOutletContext]="{ meeting: meeting }">
                </ng-container>
            </p>
        </div>

        <!-- future meetings -->
        <div>
            <h2>{{ 'Future meetings' | translate }}</h2>
            <p *ngFor="let meeting of futureMeetings">
                <ng-container [ngTemplateOutlet]="meetingTemplate" [ngTemplateOutletContext]="{ meeting: meeting }">
                </ng-container>
            </p>
        </div>

        <!-- prev meetings -->
        <div>
            <h2>{{ 'Previous meetings' | translate }}</h2>
            <p *ngFor="let meeting of previousMeetings">
                <ng-container [ngTemplateOutlet]="meetingTemplate" [ngTemplateOutletContext]="{ meeting: meeting }">
                </ng-container>
            </p>
        </div>
    </mat-card>
</ng-container>

<ng-template let-meeting="meeting" #meetingTemplate>
    <a [routerLink]="[meeting.id]">
        <span>{{ meeting.start_time | localizedDate: 'll' }}</span>
        <span> - </span>
        <span>{{ meeting.end_time | localizedDate: 'll' }}</span>
        <span>&nbsp;{{ meeting.name }}</span>
    </a>
</ng-template>
