<os-head-bar>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Calendar' | translate }}</h2>
    </div>
</os-head-bar>

<div class="meeting-list-container">
    <div class="meeting-spacer"></div>
</div>

<mat-card *ngIf="noMeetingsToShow" class="no-content os-card">
    <i>{{ 'No meetings available' | translate }}</i>
</mat-card>

<ng-container *ngIf="!noMeetingsToShow">
    <!-- active meetings -->
    <div id="active-meetings" class="meeting-list-container">
        <div class="meeting-icon-wrapper foreground-accent">
            <mat-icon color="accent">access_alarm</mat-icon>
            <span>{{ 'active' | translate }}</span>
        </div>
        <div class="meeting-list background-card">
            <mat-card class="no-meetings-card" *ngIf="!currentMeetings.length">
                {{ 'No meetings available' | translate }}
            </mat-card>
            <ng-container *ngFor="let meeting of currentMeetings; let last = last">
                <ng-container
                    [ngTemplateOutlet]="meetingTemplate"
                    [ngTemplateOutletContext]="{
                        meeting: meeting,
                        cssClass: 'background-accent foreground-accent-contrast'
                    }"
                ></ng-container>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </div>
    </div>

    <!-- future meetings -->
    <div id="future-meetings" class="meeting-list-container">
        <div class="meeting-icon-wrapper foreground-primary">
            <mat-icon color="primary">update</mat-icon>
            <span>{{ 'future' | translate }}</span>
        </div>
        <ng-container
            [ngTemplateOutlet]="meetingListTemplate"
            [ngTemplateOutletContext]="{ meetingList: futureMeetings }"
        ></ng-container>
    </div>

    <!-- previous meetings -->
    <div id="previous-meetings" class="meeting-list-container">
        <div class="meeting-icon-wrapper">
            <mat-icon aria-hidden="true">history</mat-icon>
            <span>{{ 'ended' | translate }}</span>
        </div>
        <ng-container
            [ngTemplateOutlet]="meetingListTemplate"
            [ngTemplateOutletContext]="{ meetingList: previousMeetings, cssClass: 'light-gray-by-theme' }"
        ></ng-container>
    </div>

    <!-- meetings with no date -->
    <div id="no-date-meetings" class="meeting-list-container">
        <div class="meeting-icon-wrapper">
            <mat-icon aria-hidden="true">watch_later</mat-icon>
            <span>{{ 'dateless' | translate }}</span>
        </div>
        <ng-container
            [ngTemplateOutlet]="meetingListTemplate"
            [ngTemplateOutletContext]="{ meetingList: noDateMeetings, cssClass: 'light-gray-by-theme' }"
        ></ng-container>
    </div>
</ng-container>

<ng-template let-meetingList="meetingList" let-cssClass="cssClass" #meetingListTemplate>
    <div class="meeting-list" [ngStyle]="{ height: getHeightByMeetings(meetingList) }">
        <mat-card class="no-meetings-card" *ngIf="!meetingList.length">
            {{ 'No meetings available' | translate }}
        </mat-card>
        <cdk-virtual-scroll-viewport [itemSize]="60" *ngIf="!!meetingList.length" class="meeting-list-viewport">
            <ng-container *cdkVirtualFor="let meeting of meetingList; let odd = odd; let last = last">
                <div
                    [ngClass]="{
                        alternate: odd && !isDarkTheme,
                        'background-dark': !odd && isDarkTheme,
                        'background-dark-brighter': odd && isDarkTheme
                    }"
                >
                    <ng-container
                        [ngTemplateOutlet]="meetingTemplate"
                        [ngTemplateOutletContext]="{ meeting: meeting, cssClass: cssClass }"
                    ></ng-container>
                </div>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </div>
</ng-template>

<ng-template let-meeting="meeting" let-cssClass="cssClass" #meetingTemplate>
    <div matRipple class="meeting-box" [ngClass]="cssClass" [routerLink]="meeting.id">
        <div class="one-line">
            <div class="meeting-box--mid one-line" [matTooltip]="meeting.name">
                {{ meeting.name }}
            </div>
            <div>
                <span *ngIf="meeting.location">{{ meeting.location }}</span>
                <span *ngIf="meeting.location && (meeting.start_time || meeting.end_time)">&nbsp;&middot;&nbsp;</span>
                <span *ngIf="meeting.start_time || meeting.end_time">
                    <ng-container *ngTemplateOutlet="meetingTime; context: { meeting: meeting }"></ng-container>
                </span>
            </div>
        </div>
        <mat-icon *ngIf="meeting.isArchived" matTooltip="{{ 'This meeting is archived' | translate }}">
            archive
        </mat-icon>
    </div>
</ng-template>

<ng-template let-meeting="meeting" #meetingTime>
    <os-meeting-time [meeting]="meeting"></os-meeting-time>
</ng-template>
