@use '~@angular/material' as mat;

@import '~assets/styles/color-palettes/os-blue';
@import '~assets/styles/color-palettes/os-orange';
@import '~assets/styles/color-palettes/os-background';

$openslides-primary: mat.define-palette($openslides-primary-blue);
$openslides-accent: mat.define-palette($openslides-accent-blue);
$openslides-warn: mat.define-palette($openslides-warn-orange);

$openslides-blue-dark: mat.define-dark-theme($openslides-primary, $openslides-accent, $openslides-warn);

/** This is the workaround to set a custom background-color
 *  In the first step the color must be merged, in order to have to a map.
 *  The components will get a value from this map.
 */
$background: map-get($openslides-blue-dark, background);
$background: map_merge(
    $background,
    (
        background: $os-background
    )
);

/**
 *  Merge the theme with the custom-background.
 */
$openslides-blue-dark: map_merge(
    $openslides-blue-dark,
    (
        background: $background
    )
);
