@use '~@angular/material' as mat;

@import '~assets/styles/color-palettes/os-blue';
@import '~assets/styles/color-palettes/os-orange';

// Generate palettes using: https://material.io/design/color/
// default values for mat-palette: $default: 500, $lighter: 100, $darker: 700.
$openslides-primary: mat.define-palette($openslides-primary-blue);
$openslides-accent: mat.define-palette($openslides-accent-blue);
$openslides-warn: mat.define-palette($openslides-warn-orange);

// Create the theme object (a Sass map containing all of the palettes).
$openslides-blue-light: mat.define-light-theme($openslides-primary, $openslides-accent, $openslides-warn);

// Create Sass color vars (for using in scss files).
// This will be set dynamically with the selecting theme
$os-outline: mat.get-color-from-palette(mat.$grey-palette, 300);
