@use '@angular/material' as mat;
@use "sass:map";

@use '../color-palettes/os-dynamic-palette' as colors;
@import '../color-palettes/os-background';
@import './typography.scss';

$openslides-primary: mat.m2-define-palette(colors.$dynamic-theme-primary);
$openslides-accent: mat.m2-define-palette(colors.$dynamic-theme-accent);
$openslides-warn: mat.m2-define-palette(colors.$dynamic-theme-warn);

$openslides-dark-theme: mat.m2-define-dark-theme(
    (
        color: (
            primary: $openslides-primary,
            accent: $openslides-accent,
            warn: $openslides-warn
        ),
        typography: $default-typography
    )
);

/** This is the workaround to set a custom background-color
 *  In the first step the color must be merged, in order to have to a map.
 *  The components will get a value from this map.
 */
$background-dark: map.get($openslides-dark-theme, background);
$background-dark: map-merge(
    $background-dark,
    (
        background: $os-background
    )
);

/**
 *  Merge the theme with the custom-background.
 */
$openslides-dark-theme: map-merge(
    $openslides-dark-theme,
    (
        background: $background-dark
    )
);
