@use '~@angular/material' as mat;

@import '~assets/styles/color-palettes/os-green';
@import '~assets/styles/color-palettes/os-cyan';
@import '~assets/styles/color-palettes/os-magenta';

$openslides-primary: mat.define-palette($openslides-primary-green);
$openslides-accent: mat.define-palette($openslides-accent-cyan);
$openslides-warn: mat.define-palette($openslides-warn-magenta);

$openslides-green-light: mat.define-light-theme($openslides-primary, $openslides-accent, $openslides-warn);
