@mixin os-var-overwrites {
    .mat-mdc-progress-bar {
        --mdc-linear-progress-track-color: var(--theme-primary-100);
    }

    .mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
        --mdc-fab-icon-color: var(--theme-primary-contrast-500);
        --mat-mdc-fab-color: var(--theme-primary-contrast-500);
    }

    .mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
        --mdc-fab-icon-color: var(--theme-accent-contrast-500);
        --mat-mdc-fab-color: var(--theme-accent-contrast-500);
    }

    --mat-menu-item-label-text-size: 14px;
    --mdc-dialog-supporting-text-tracking: normal;
}
