@mixin os-var-overwrites {
    .mat-mdc-progress-bar {
        --mdc-linear-progress-track-color: var(--theme-primary-100);
    }

    .mat-mdc-fab,
    .mat-mdc-mini-fab {
        --mat-icon-color: var(--mdc-fab-icon-color, inherit);
    }

    .mat-mdc-fab.mat-primary,
    .mat-mdc-mini-fab.mat-primary {
        --mdc-fab-icon-color: var(--theme-primary-contrast-500);
        --mat-mdc-fab-color: var(--theme-primary-contrast-500);
    }

    .mat-mdc-fab.mat-accent,
    .mat-mdc-mini-fab.mat-accent {
        --mdc-fab-icon-color: var(--theme-accent-contrast-500);
        --mat-mdc-fab-color: var(--theme-accent-contrast-500);
    }

    .mat-mdc-raised-button.mat-primary {
        --mdc-protected-button-label-text-color: var(--theme-primary-contrast-500);
    }

    .mat-mdc-raised-button.mat-accent {
        --mdc-protected-button-label-text-color: var(--theme-accent-contrast-500);
    }

    .mat-mdc-unelevated-button.mat-primary {
        --mdc-filled-button-label-text-color: var(--theme-primary-contrast-500);
    }

    .mat-mdc-unelevated-button.mat-accent {
        --mdc-filled-button-label-text-color: var(--theme-accent-contrast-500);
    }

    .mat-mdc-button.mat-unthemed {
        --mdc-text-button-label-text-color: inherit;
    }

    --mat-table-header-headline-weight: 500;
    --mat-table-header-headline-size: 12px;

    --mat-menu-item-label-text-size: 14px;

    --mdc-dialog-supporting-text-tracking: normal;

    --mdc-checkbox-selected-checkmark-color: var(--theme-primary-contrast-500);

    .mat-mdc-chip,
    .mat-mdc-basic-chip {
        font-weight: 500;
    }
}
