<h1 mat-dialog-title>
    <span>{{ 'Note on secret voting' | translate }}</span>
</h1>

<mat-dialog-content>
    <p>
        {{
            'During non-nominal voting, OpenSlides does NOT store the individual user IDs of voters in connection with the votes cast. Once the data has been transmitted, voters can no longer track or check their own votes.'
                | translate
        }}
    </p>
    <p>
        {{
            'When hosted by Intevation GmbH, secret, legally compliant voting is ensured by organizational measures (see legal opinion).'
                | translate
        }}
    </p>
    <p>
        {{
            'When self-hosted, OpenSlides cannot guarantee that the requirements for legally compliant, secret voting are met. Responsibility for this lies with the server operator.'
                | translate
        }}
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button type="button" [matDialogClose]="true">
        {{ 'I know the risk' | translate }}
    </button>
</mat-dialog-actions>
