<mat-card class="os-card">
    <h1>{{ 'Legal notice' | translate }}</h1>
    <div>
        <ng-container *ngIf="!isEditing">
            <div *ngIf="legalNotice" class="legal-notice-text" [innerHtml]="legalNotice | trust: 'html'"></div>
            <div *ngIf="!legalNotice">
                {{ 'The event manager has not set up a legal notice yet.' | translate }}
            </div>
        </ng-container>
        <ng-container *ngIf="isEditing">
            <div>
                <form [formGroup]="formGroup">
                    <editor formControlName="legalNotice" [init]="tinyMceSettings"></editor>
                </form>
            </div>
        </ng-container>
        <ng-container *ngIf="versionInfo | async as version">
            <mat-divider></mat-divider>
            <div class="version-text">OpenSlides Version: {{ version }}</div>
        </ng-container>
    </div>
</mat-card>
