.meta-text-block {
    padding: 0px;
    margin: 20px 0;
    min-width: 200px;

    .mat-icon-button mat-icon {
        font-size: 18px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    mat-card-header {
        font-size: 16px;
        font-weight: 400;

        .title-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;

            .action-row {
                display: flex;
            }
        }
    }
    mat-card-content {
        padding-top: 16px;
    }
}

.os-mat-card-header {
    padding-top: 0 !important;
}
