.meta-text-block {
    padding: 0px;
    margin: 20px 0;
    min-width: 200px;

    .mat-icon-button mat-icon {
        font-size: 18px;
    }

    mat-card-header {
        display: inherit;
        margin: 0;

        .mat-card-header-text {
            margin: 0 10px;
        }
        .mat-card-title {
            margin: 0;
            font-size: 16px;
            font-weight: 400;

            .title-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;

                .action-row {
                    display: flex;
                }
            }
        }
    }

    mat-card-content {
        padding: 15px 15px;
        // word-wrap: break-word;

        // .content {
        //     &.collapsed {
        //         max-height: 76px;
        //         overflow: hidden;
        //         position: relative;
        //         &::after {
        //             content: '';
        //             position: absolute;
        //             top: 25px;
        //             bottom: 0;
        //             left: 0;
        //             right: 0;
        //         }
        //     }
        // }

        // .show-entire-text {
        //     text-align: end;
        //     margin-top: 4px;
        //     a {
        //         cursor: pointer;
        //     }
        // }
    }
}
