/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated */
@include mat.all-legacy-component-typographies(
    mat.define-typography-config($font-family: "OSFont, Fira Sans, Roboto, Arial, Helvetica, sans-serif")
);
@include mat.all-component-typographies(
    mat.define-typography-config($font-family: "OSFont, Fira Sans, Roboto, Arial, Helvetica, sans-serif")
);
/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated */
@include mat.legacy-core();
@include mat.core();

/** theming */
@import './assets/styles/theme-styles.scss';

/** Useful default classes */
@import 'assets/styles/default-classes.scss';

/** fonts */
@import 'assets/styles/fonts.scss';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

/** Videojs */
@import '~video.js/dist/video-js.css';

/** Load projector specific SCSS values */
@import 'assets/styles/projector.scss';

/** Load global scss variables and device mixing */
@import 'assets/styles/variables.scss';

@import 'assets/styles/tables.scss';

:root {
    --global-headbar-height: 28px;
    --view-headbar-height: 50px;
}

@import 'assets/styles/utils.scss';

@import 'assets/styles/reset.scss';
@import 'assets/styles/typography.scss';
@import 'assets/styles/colors.scss';
@import 'assets/styles/components.scss';
@import 'assets/styles/material/icon.scss';
@import 'assets/styles/pbl.scss';

/**
* Must be cleaned up
*/
/** Define the general style-rules */
.mat-toolbar h2,
.mat-mdc-dialog-title {
    font-family: OSFont, Fira Sans, Roboto, Arial, Helvetica, sans-serif;
}

.generic-mini-button {
    bottom: -28px;
    z-index: 100;
}

.no-content {
    text-align: center;
    color: gray;
}

.mat-mdc-card {
    @extend .regular-shadow;
}

.mat-mdc-card-content > :first-of-type {
    margin-top: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.projector-card .mat-form-field-infix {
    width: 290px;
}

//custom table header for search button, filtering and more. Used in ListViews
.custom-table-header {
    $height: 40px;
    width: 100%;
    height: $height;
    line-height: $height;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;

    button {
        border-radius: 0%;
    }

    input {
        position: relative;
        max-width: 400px;
        z-index: 2;
        padding-right: 5px;
        margin-right: 0px;
    }

    .mat-icon {
        vertical-align: text-bottom;
        margin-right: 2px;
    }
}

/* hide scrollbars caused by hidden filter dialog outside of the viewport */
.mat-drawer-content {
    overflow-x: hidden !important;
}

.card-plus-distance {
    margin-top: 40px;
}

/**title of an app page*/
.app-name {
    margin-left: 20px;
}

/**content of an app page*/
.app-content {
    margin: 20px;
    margin-top: 50px;
}

.mat-expansion-panel {
    border-radius: 0 !important;
}

.mat-menu-panel {
    max-width: initial !important;
}

.hidden-cell {
    flex: 0;
    width: 0;
    display: none;
}

.file-drop-zone-style {
    border: 2px dotted #0782d0 !important;
    height: 100px;
}

.file-drop-content-style {
    height: 100px;

    .ngx-file-drop__drop-zone-label {
        color: #0782d0;
        line-height: 100px;
    }
}

.mat-chip,
.mat-basic-chip {
    font-size: 12px;
    min-height: 22px !important;
    border-radius: 5px !important;
    padding: 0px 8px !important;
    margin: 0;
    line-height: 2;
    display: inline-flex;
}

.mat-chip:focus,
.mat-basic-chip:focus {
    outline: none;
}
button.mat-menu-item.selected {
    font-weight: bold !important;
}

.mat-menu-item .mat-icon {
    margin-right: 8px !important;
}

.mat-mini-fab.large {
    width: 24px;
    height: 24px;
    line-height: 24px;

    .mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-container {
    margin: 0 25px;

    h1 {
        font-size: 30px;
    }

    @media (max-width: 960px) {
        margin: 0 15px;
    }
}

/** css hacks https://codepen.io/edge0703/pen/iHJuA */
.innerTable {
    display: inline-block;
    line-height: 150%;
    width: -webkit-fill-available;
}

.cdk-column-menu {
    padding: 0 16px 0 0 !important;
}

.multi-line-chip {
    white-space: pre-line;
}

.user-menu {
    min-width: 250px !important;
}

.mat-drawer-inner-container {
    scrollbar-width: none; /* hide scrollbars in Firefox */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* hide scrollbars in Edge until the scrollable area is hovered */
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none !important; /* hide scrollbars in webkit browsers */
}

.small-spinner {
    // 24px is the size of a normal icon
    $spinner-size: 24px;
    height: $spinner-size !important;
    height: $spinner-size !important;
    svg {
        height: $spinner-size !important;
        height: $spinner-size !important;
    }
}

.import-table {
    .table-container {
        width: 100%;
        overflow-x: scroll;
        margin-top: 5px;
    }

    table {
        width: 100%;
        overflow: scroll;
    }

    .mat-header-cell {
        min-width: 100px;
        flex: 2;
        padding-right: 8px;
    }
    .mat-cell {
        min-width: 100px;
        flex: 2;
        padding-top: 2px;
        padding-right: 8px;
    }
    .selection {
        min-width: 80px;
    }

    .import-done {
        background-color: #cfc;
    }
    .import-error {
        background-color: #fcc;
    }

    .code {
        padding-left: 1em;
        font-style: italic;
    }

    div.wrapper {
        display: flex;
        vertical-align: bottom;
        padding: 10px;
    }

    div.summary {
        display: flex;
    }

    .hidden-input {
        display: none;
    }

    .newBadge {
        margin-left: -3px;
    }

    .first-column {
        flex: 1;
        min-width: 0px;
    }

    .filter-imports {
        max-width: 50%;
    }
}

.table-view-list-title {
    font-weight: 500;
    font-size: 16px;
}

.queue {
    .mat-expansion-panel-body {
        padding: 0 !important;
    }
}

.fake-button-no-touch {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 4px;
}

.fake-button {
    @extend .fake-button-no-touch;
    cursor: pointer;
}

.background-default[disabled] {
    @extend .fake-disabled;
}

.dialog-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* Custom hint and error classes. Same values as .mat-hint and -mat-error */
.hint,
.error {
    font-size: 75%;
    display: block;
}
