<os-file-upload
    [addFileFn]="getAddFileFn()"
    [uploadFileFn]="getUploadFileFn()"
    [parallel]="parallel"
    (uploadSucceeded)="uploadSucceeded($event)"
    (uploadFailured)="errorEvent.emit($event)"
>
    <ng-template #additionalContent>
        <!-- Directory selector-->
        <div [formGroup]="directorySelectionForm">
            <mat-form-field>
                <mat-label>{{ 'Upload to' | translate }}</mat-label>
                <os-list-search-selector
                    formControlName="directoryId"
                    [multiple]="false"
                    [includeNone]="true"
                    [inputListValues]="directories"
                ></os-list-search-selector>
            </mat-form-field>
        </div>
    </ng-template>

    <div *osScrollingTableCell="'title'; row as file" class="cell-slot">
        <div *osScrollingTableCellLabel>{{ 'Title' | translate }}</div>
        <mat-form-field>
            <input matInput [(ngModel)]="file.title" />
        </mat-form-field>
    </div>

    <div *osScrollingTableCell="'filename'; row as file" class="cell-slot">
        <div *osScrollingTableCellLabel>{{ 'Filename' | translate }}</div>
        {{ file.mediafile.name }}
    </div>

    <div *osScrollingTableCell="'information'; row as file" class="cell-slot">
        <div *osScrollingTableCellLabel>{{ 'Information' | translate }}</div>
        <div class="file-info-cell">
            <span>
                <mat-icon [inline]="true">insert_drive_file</mat-icon>
                {{ getFiletype(file) | translate }}
            </span>
            <span>
                <mat-icon [inline]="true">data_usage</mat-icon>
                {{ file.mediafile.size | readableBytes }}
            </span>
        </div>
    </div>

    <ng-content></ng-content>
</os-file-upload>
