<os-head-bar
    [editMode]="hasChanges"
    [hasMainButton]="true"
    [isSaveButtonEnabled]="hasChanges"
    [mainActionTooltip]="'New group' | translate"
    [nav]="false"
    [saveAction]="getSaveAction()"
    (cancelEditEvent)="discardChanges()"
    (mainEvent)="setEditMode(!editGroup)"
>
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Groups</h1>
    </div>
</os-head-bar>

<mat-card class="spacer-bottom-60">
    <mat-card-content>
        @for (appPermissions of permissionsPerApp; track appPermissions) {
            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ appPermissions.name | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="scrollable-perm-matrix">
                        <table mat-table [dataSource]="getTableDataSource(appPermissions.permissions)">
                            <ng-container matColumnDef="perm" sticky>
                                <mat-header-cell *matHeaderCellDef>{{ 'Permissions' | translate }}</mat-header-cell>
                                <mat-cell
                                    *matCellDef="let perm"
                                    #tooltip="matTooltip"
                                    class="raised-cell"
                                    matTooltipClass="pre-wrap"
                                    matTooltipPosition="after"
                                    [matTooltip]="perm.help_text | translate"
                                    [ngClass]="{ 'has-help-text': perm.help_text }"
                                    (click)="tooltip.toggle()"
                                    (mouseenter)="$event.stopImmediatePropagation()"
                                    (mouseleave)="tooltip.hide()"
                                >
                                    {{ perm.display_name | translate }}
                                </mat-cell>
                            </ng-container>
                            @for (group of groups; track $index) {
                                <div>
                                    <ng-container [matColumnDef]="group.name">
                                        <mat-header-cell
                                            *matHeaderCellDef
                                            class="group-head-table-cell"
                                            (click)="selectGroup(group)"
                                        >
                                            <div class="inner-table">
                                                {{ group.name }}
                                            </div>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let perm">
                                            <div class="inner-table">
                                                @if (
                                                    group.isAdminGroup || (group.isAnonymousGroup && !perm.anon_allowed)
                                                ) {
                                                    <mat-checkbox
                                                        [checked]="group.isAdminGroup"
                                                        [disabled]="true"
                                                    ></mat-checkbox>
                                                } @else {
                                                    <mat-checkbox
                                                        name="cb-{{ group.id }}-{{ perm.value }}"
                                                        [(ngModel)]="currentPermissions[group.id][perm.value]"
                                                        (change)="onChange(group, perm.value, $event.checked)"
                                                    ></mat-checkbox>
                                                }
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                </div>
                            }
                            <mat-header-row *matHeaderRowDef="headerRowDef"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: headerRowDef"></mat-row>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        }
    </mat-card-content>
</mat-card>

<ng-template #groupEditDialog>
    <h1 mat-dialog-title>
        @if (!groupForm.value.name) {
            <span>{{ 'New group' | translate }}</span>
        }
        @if (groupForm.value.name) {
            <span>{{ 'Edit group' | translate }}</span>
        }
    </h1>
    <mat-dialog-content class="os-form-card-mobile">
        <form aria-disabled="true" class="edit-form" [formGroup]="groupForm!">
            <mat-form-field>
                <mat-label>{{ 'Group name' | translate }}</mat-label>
                <input formControlName="name" matInput osAutofocus type="text" />
                @if (!groupForm?.valid && !groupForm.value.name) {
                    <mat-error>{{ 'Required' | translate }}</mat-error>
                }
                @if (!groupForm?.valid && groupForm.value.name) {
                    <mat-error>
                        {{ 'Must be unique' | translate }}
                    </mat-error>
                }
            </mat-form-field>
            @if (allowExternalId) {
                <mat-form-field>
                    <mat-label>{{ 'External ID' | translate }}</mat-label>
                    <input formControlName="external_id" matInput type="text" />
                </mat-form-field>
            }
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            color="accent"
            mat-button
            type="submit"
            [disabled]="!groupForm?.valid"
            (click)="saveGroup(groupForm?.value)"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button mat-button type="button" (click)="cancelEditing()">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
        @if (selectedGroup) {
            <button
                color="warn"
                mat-button
                type="button"
                [disabled]="isProtected(selectedGroup)"
                (click)="deleteSelectedGroup()"
            >
                <span>{{ 'Delete' | translate }}</span>
            </button>
        }
    </mat-dialog-actions>
</ng-template>
