<ng-template #headbarContent>
    <mat-toolbar class="sticky-toolbar" color="primary" [ngClass]="multiSelectMode ? 'multi-select' : ''">
        <div class="toolbar-left">
            @if (!editMode) {
                @if (!showBackButton) {
                    @if (vp.isMobile && !customMenu) {
                        <!-- Toggle main nav -->
                        <button mat-icon-button (click)="clickHamburgerMenu()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    }
                    @if (customMenu && !multiSelectMode) {
                        <!-- Custom menu -->
                        <button mat-icon-button [matMenuTriggerFor]="customNavMenu">
                            <mat-icon>menu</mat-icon>
                        </button>
                    }
                } @else {
                    <!-- Exit / Back button -->
                    <button data-cy="headbarBackButton" mat-icon-button (click)="onBackButton()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                }
            } @else {
                <!-- Cancel edit button -->
                <button
                    data-cy="headbarCloseButton"
                    mat-icon-button
                    (click)="isCancelEditUsed ? sendCancelEditEvent() : sendMainEvent()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            }
            @if (!multiSelectMode) {
                <div class="toolbar-left-text">
                    <!-- Title slot -->
                    <ng-content select=".title-slot"></ng-content>
                </div>
            }
        </div>

        <!-- centered information slot -->
        @if (!multiSelectMode) {
            <div class="spacer"></div>
        } @else {
            <ng-content select=".central-info-slot" />
        }
        <div class="spacer"></div>

        <div class="toolbar-right">
            <!-- Extra controls slot -->
            <ng-content select=".extra-controls-slot"></ng-content>

            <!-- Main action button - desktop -->
            @if (hasMainButton && !editMode && !vp.isMobile && !multiSelectMode) {
                <button
                    data-cy="headbarMainButton"
                    mat-icon-button
                    matTooltip="{{ mainActionTooltip | translate }}"
                    [disabled]="!isMainButtonEnabled"
                    [matTooltipShowDelay]="1000"
                    (click)="sendMainEvent()"
                >
                    <mat-icon>{{ mainButtonIcon }}</mat-icon>
                </button>
            }

            <!-- Save button -->
            @if (isSavingObservable | async) {
                <div>
                    <os-spinner [height]="30" [showText]="false" [width]="30"></os-spinner>
                </div>
            } @else {
                @if (editMode) {
                    <button data-cy="headbarSaveButton" mat-button [disabled]="!isSaveButtonEnabled" (click)="save()">
                        <strong class="upper">{{ saveText | translate }}</strong>
                    </button>
                }
            }

            <!-- Menu button slot -->
            @if (!editMode) {
                <ng-content select=".menu-slot"></ng-content>
            }
        </div>
    </mat-toolbar>

    <!-- Main action button - mobile -->

    @if (hasMainButton && !editMode && vp.isMobile && !multiSelectMode) {
        <button
            class="head-button"
            mat-fab
            matTooltip="{{ mainActionTooltip | translate }}"
            [disabled]="!isMainButtonEnabled"
            (click)="sendMainEvent()"
        >
            @if (mainButtonIcon === 'add_circle') {
                <mat-icon>add</mat-icon>
            }
            @if (mainButtonIcon !== 'add_circle') {
                <mat-icon>
                    {{ mainButtonIcon }}
                </mat-icon>
            }
        </button>
    }

    <mat-menu #customNavMenu="matMenu">
        <ng-content select=".custom-menu-slot" />
    </mat-menu>
</ng-template>
