.nameCell {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.meta-info {
    font-size: 12px;
}

.icon-group {
    margin-left: 1em;
    z-index: 3;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    .long-box {
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
