<os-head-bar [hasMainButton]="true" (mainEvent)="createNewMember()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Accounts' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="memberMenu"><mat-icon>more_vert</mat-icon></button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>
</os-head-bar>

<os-list
    [listObservableProvider]="controller"
    [(selectedRows)]="selectedRows"
    [multiSelect]="isMultiSelect"
    listStorageKey="member"
    [filterProps]="['full_name', 'default_structure_level', 'default_number']"
    [filterService]="filterService"
    [searchService]="searchService"
    [sortService]="sortService"
    [alwaysShowMenu]="true"
    [vScrollFixed]="60"
>
    <!-- Name column -->
    <div *osScrollingTableCell="'short_name'; row as user; rowContext as rowContext" class="cell-slot fill">
        <a class="detail-link" [routerLink]="user.id" *ngIf="!isMultiSelect"></a>
        <div class="flex-vertical-center overflow-hidden">
            <div class="nameCell overflow-hidden">
                <div class="title-line title-box">
                    <span class="ellipsis-overflow">
                        {{ user.short_name + (user.pronoun ? ' (' + user.pronoun + ')' : '') }}
                    </span>
                    <div style="float: right; display: inline-flex">
                        &nbsp;
                        <os-icon-container
                            icon="account_balance"
                            *ngIf="!user.is_physical_person"
                            matTooltip="{{ 'Is no natural person' | translate }}"
                        ></os-icon-container>
                        <os-icon-container
                            icon="block"
                            *ngIf="!user.is_active"
                            matTooltip="{{ 'Inactive' | translate }}"
                        ></os-icon-container>
                    </div>
                </div>
                <div class="meta-info user-subtitle ellipsis-overflow">
                    {{ user.username }}
                    <ng-container *ngIf="user.email">· {{ user.email }}</ng-container>
                </div>
            </div>
        </div>
    </div>
    <!-- Info column -->
    <div *osScrollingTableCell="'info'; row as user; config: { width: isMobile ? 55 : 160 }" class="committee-wrapper">
        <div class="flex-center">
            <os-icon-container
                *ngIf="!!user.meetings?.length"
                icon="event_available"
                matTooltip="{{ 'Meetings' | translate }}"
                matTooltipPosition="left"
                [showIcon]="true"
                [noWrap]="true"
            >
                {{ user.meetings.length }}
            </os-icon-container>
        </div>
        <div class="flex-center">
            <os-icon-container
                icon="mail"
                *ngIf="user.isLastEmailSent"
                matTooltip="{{ 'Email sent' | translate }} ({{ user.last_email_sent | localizedDate }})"
                matTooltipPosition="left"
            ></os-icon-container>
        </div>
        <div class="flex-center">
            <os-icon-container
                icon="engineering"
                *osOmlPerms="OML.can_manage_users; and: !!getOmlByUser(user)"
                [matTooltipDisabled]="!isMobile"
                matTooltipPosition="left"
                matTooltip="{{ getOmlByUser(user) | translate }}"
            >
                <ng-container *ngIf="!isMobile">
                    {{ getOmlByUser(user) | translate }}
                </ng-container>
            </os-icon-container>
        </div>
    </div>

    <!-- Menu column -->
    <ng-container *osOmlPerms="OML.can_manage_users">
        <div *osScrollingTableCell="'menu'; row as user; config: { width: 40 }" class="cell-slot fill">
            <div>
                <button mat-icon-button [matMenuTriggerFor]="singleMenu" [matMenuTriggerData]="{ member: user }">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
</os-list>

<mat-menu #singleMenu="matMenu">
    <ng-template matMenuContent let-member="member">
        <a mat-menu-item [routerLink]="[member.id, 'edit']">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </a>
        <a mat-menu-item [routerLink]="[member.id, 'meetings']" *osOmlPerms="OML.can_manage_users">
            <mat-icon>event_available</mat-icon>
            <span>{{ 'Add to meetings' | translate }}</span>
        </a>
        <button mat-menu-item class="red-warning-text" (click)="deleteUsers([member])">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #memberMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
        <ng-container *osOmlPerms="OML.can_manage_users">
            <button mat-menu-item (click)="csvExportMemberList()">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Export as CSV' | translate }}</span>
            </button>

            <button mat-menu-item routerLink="import">
                <mat-icon>cloud_upload</mat-icon>
                <span>{{ 'Import' | translate }}</span>
            </button>
        </ng-container>
    </div>
    <div *ngIf="isMultiSelect">
        <os-user-multiselect-actions
            [(selectedUsers)]="selectedRows"
            (selectAll)="selectAll()"
            (deselectAll)="deselectAll()"
            (deleting)="deleteUsers()"
        >
            <button mat-menu-item [disabled]="!selectedRows.length" (click)="assignMeetingToUsers()">
                <mat-icon>event_available</mat-icon>
                <span>{{ 'Set/remove meeting' | translate }} ...</span>
            </button>
            <button mat-menu-item [disabled]="!selectedRows.length" (click)="changeActiveState()">
                <mat-icon>block</mat-icon>
                <span>{{ 'Enable/disable accounts' | translate }} ...</span>
            </button>
        </os-user-multiselect-actions>
    </div>
</mat-menu>
