<h1 mat-dialog-title>
    <span>{{ 'Timer' | translate }}</span>
</h1>

<form [formGroup]="countdownForm">
    <div mat-dialog-content>
        <!-- Title field -->
        <mat-form-field>
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <input matInput osAutofocus formControlName="title" required />
        </mat-form-field>

        <!-- Description field -->
        <mat-form-field>
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <!-- Time field -->
        <mat-form-field>
            <mat-label>{{ 'Time' | translate }}</mat-label>
            <input matInput formControlName="duration" required />
            <mat-hint translate>If the value is set to 0 the time counts up as stopwatch.</mat-hint>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <!-- Submit countdown button -->
        <button
            type="submit"
            mat-button
            color="accent"
            [mat-dialog-close]="countdownForm.value"
            [disabled]="!countdownForm.valid"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>

        <!-- Cancel countdown button -->
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</form>
