.motion-export-dialog-wrapper {
    .toggle-group-head {
        margin-bottom: 0;
    }

    h1 {
        margin: 0;
    }

    mat-button-toggle {
        .mat-button-toggle-label-content {
            line-height: 2.5;
            padding: 0 10px;
        }
    }
}

.padding-top-bottom-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-left-24 {
    padding-left: 24px;
}

.padding-top-bottom-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}
