<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar [editMode]="hasChanges" [nav]="false" (mainEvent)="onCancel()" (saveEvent)="save()">
        <div class="title-slot">
            <h1 class="mock-h2" translate>Sort workflow</h1>
        </div>
    </os-head-bar>

    <mat-card class="os-card spacer-bottom-60">
        <mat-card-content>
            <os-sorting-list #sorter [input]="workflowStatesObservable" (sortEvent)="onSorting($event)">
                <ng-template let-index="index" let-state>
                    <div class="action-title">
                        <div>{{ state.name }}</div>
                        @if (index === 0) {
                            <div>{{ 'First state' | translate }}</div>
                        }
                    </div>
                </ng-template>
            </os-sorting-list>
        </mat-card-content>
    </mat-card>
</os-detail-view>
