<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar [nav]="false" [editMode]="hasChanges" (saveEvent)="save()" (mainEvent)="onCancel()">
        <div class="title-slot">
            <h2>{{ 'Sort workflow' | translate }}</h2>
        </div>
    </os-head-bar>

    <mat-card class="os-card spacer-bottom-60">
        <os-sorting-list [input]="workflowStatesObservable" (sortEvent)="onSorting($event)" #sorter>
            <ng-template let-state let-index="index">
                <div class="action-title">
                    <div>{{ state.name | translate }}</div>
                    <div *ngIf="index === 0">{{ 'First state' | translate }}</div>
                </div>
            </ng-template>
        </os-sorting-list>
    </mat-card>
</os-detail-view>
