@import 'src/assets/styles/poll-colors.scss';
@import 'src/assets/styles/poll-styles-common.scss';

%vote-grid-base {
    display: grid;
    grid-gap: 10px;
    margin: 20px 0;
}

.topic-vote-delegation {
    margin-top: 1em;

    .topic-delegation-title {
        font-weight: 500;
    }
}

.yn-grid {
    @extend %vote-grid-base;
    grid-template-areas:
        'name name'
        'yes no';
}

.yna-grid {
    @extend %vote-grid-base;
    grid-template-areas:
        'name name name'
        'yes no abstain';
}

.single-vote-grid {
    @extend %vote-grid-base;
    grid-template-areas: 'yes name';
    grid-template-columns: min-content auto;
}

.global-option-grid {
    @extend %vote-grid-base;
    grid-template-columns: auto auto;
}

.vote-option-text {
    grid-area: name;
    display: flex;
    span,
    i {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.centered-button-wrapper {
    display: flex;
    text-align: center;
    > * {
        margin-left: auto;
        margin-right: auto;
    }

    .vote-submitted {
        color: $votes-yes-color;
        font-size: 200%;
        overflow: visible;
    }
}

.vote-button {
    min-width: 50px;
    min-height: 50px;
}

.vote-input {
    width: 120px;
}

.vote-label {
    margin-left: 10px;
}

.mat-divider-horizontal {
    position: initial;
}

.submit-vote-indicator {
    text-align: center;
    .mat-mdc-progress-spinner {
        display: block;
        margin: auto;
    }
}
