<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar [goBack]="true" [nav]="false">
        <div class="title-slot">
            <h2 *ngIf="!!poll">{{ poll.title }}</h2>
        </div>

        <div class="menu-slot" *osPerms="permission.assignmentCanManage; or: canSeeCheckValidity">
            <button type="button" mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </os-head-bar>

    <mat-card class="os-card spacer-bottom-60">
        <ng-container [ngTemplateOutlet]="viewTemplate"></ng-container>
    </mat-card>
</os-detail-view>

<!-- Detailview for poll -->
<ng-template #viewTemplate>
    <div *ngIf="isReady">
        <h1>{{ poll.title }}</h1>
        <div>
            <!-- Voting type -->
            <span *ngIf="poll.type !== 'analog'">{{ poll.typeVerbose | translate }} &middot;</span>

            <!-- State -->
            <span>
                {{ poll.stateVerbose | translate }}
            </span>
        </div>

        <div class="assignment-result-wrapper" *ngIf="poll">
            <!-- Result -->
            <os-assignment-poll-detail-content [poll]="poll"></os-assignment-poll-detail-content>

            <mat-tab-group *ngIf="showResults && poll.stateHasVotes && poll.isEVoting"  (selectedTabChange)="onTabChange()">
                <mat-tab label="{{ 'Single votes' | translate }}">
                    <!-- Single Votes Table -->
                    <div class="named-result-table">
                        <os-votes-table
                            *ngIf="votesDataObservable"
                            [votesDataObservable]="votesDataObservable"
                            [filterProps]="filterProps"
                            [isViewingThis]="isViewingVoteslist"
                            [parent]="self"
                            [templateType]="'assignment'"
                        >
                        </os-votes-table>
                    </div>
                </mat-tab>
                <mat-tab label="{{ 'Entitled users' | translate }}">
                    <os-entitled-users-table
                        [entitledUsersObservable]="entitledUsersObservable"
                        [isViewingThis]="isViewingEntitledUserslist"
                    ></os-entitled-users-table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <!-- Meta Infos -->
    <os-assignment-poll-meta-info [poll]="poll"></os-assignment-poll-meta-info>
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <button *ngIf="canSeeCheckValidity" mat-menu-item (click)="openCheckValidityDialog()">
        <mat-icon>search</mat-icon>
        <span>{{ 'Check vote validity' | translate }}</span>
    </button>
    <os-projector-button
        [menuItem]="true"
        [object]="poll"
        *osPerms="permission.projectorCanManage"
    ></os-projector-button>
    <button *osPerms="permission.assignmentCanManage" mat-menu-item (click)="openDialog(poll)">
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit' | translate }}</span>
    </button>
    <button
        mat-menu-item
        *osPerms="permission.assignmentCanManage; and: poll && poll.type === 'named'"
        (click)="pseudoanonymizePoll()"
    >
        <mat-icon>warning</mat-icon>
        <span>{{ 'Anonymize votes' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button *osPerms="permission.assignmentCanManage" mat-menu-item (click)="deletePoll()">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>
