:host {
    display: block;
    height: 100%;

    .background-dark {
        .copyright-link {
            color: white;
        }

        .nav-toggle-button {
            background: #8f8f8f;
        }
    }
}

.nav-toolbar {
    margin-bottom: 10px;
}

.copyright-link {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-decoration: none;
}

/* The top logo container can contain any logo with any size.
   It needs to always fit.*/
.os-logo-container {
    margin: auto;
    width: 230px !important;
    height: 80px;
    display: flex;
}

/* Main navigation */
mat-sidenav-container {
    height: 100%;
    width: 100%;

    mat-sidenav.side-panel {
        border: 0;
        box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
        width: 260px;
        overflow-x: hidden;
    }
}

// CSS for the toggle button
.nav-toggle-button-container {
    position: fixed;
    z-index: 99;
    bottom: 24px;
    & > div {
        position: relative;
    }

    .nav-toggle-button {
        bottom: 0;

        position: absolute;
        visibility: visible;
        transform: none;
        width: 24px;
        min-width: 24px;
        height: 48px;
        padding: 0 0 2px;

        &.left {
            left: 236px;
            padding-left: 8px;
            border-radius: 50px 0 0 50px;
        }

        &.right {
            left: 0;
            padding-right: 8px;
            border-radius: 0 50px 50px 0;
        }

        mat-icon {
            $size: 18px;
            height: $size;
            width: $size;
            font-size: $size;
            margin: 0;
        }
    }
}
