<div class="form-wrapper">
    <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword()" autocomplete="off">
        <h3>{{ 'Please enter your new password' | translate }}</h3>
        <mat-form-field>
            <mat-label>{{ 'New password' | translate }}</mat-label>
            <input
                matInput
                autocomplete="off"
                required
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
                #resetPasswordInput
            />

            <button
                matSuffix
                mat-button
                mat-icon-button
                tabindex="-1"
                type="button"
                (click)="hidePassword = !hidePassword"
                [disabled]="!resetPasswordInput.value"
            >
                <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordForm.get('password')?.hasError('required')">
                {{ 'A password is required' | translate }}
            </mat-error>
        </mat-form-field>
        <br />
        <button
            type="submit"
            mat-raised-button
            color="accent"
            class="submit-button"
            [disabled]="newPasswordForm.invalid"
        >
            {{ 'Reset password' | translate }}
        </button>
        &nbsp;
        <button type="button" mat-button routerLink="../..">
            {{ 'Back to login' | translate }}
        </button>
    </form>
</div>
