<div class="form-wrapper">
    <form autocomplete="off" [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword()">
        <h3>{{ 'Please enter your new password' | translate }}</h3>
        <mat-form-field>
            <mat-label>{{ 'New password' | translate }}</mat-label>
            <input
                #resetPasswordInput
                autocomplete="off"
                formControlName="password"
                matInput
                required
                [type]="hidePassword ? 'password' : 'text'"
            />
            <mat-icon color="primary" matSuffix (click)="hidePassword = !hidePassword">
                {{ hidePassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            @if (newPasswordForm.get('password')?.hasError('required')) {
                <mat-error>
                    {{ 'A password is required' | translate }}
                </mat-error>
            }
        </mat-form-field>
        <br />
        <button
            class="submit-button"
            color="accent"
            mat-raised-button
            type="submit"
            [disabled]="newPasswordForm.invalid"
        >
            {{ 'Reset password' | translate }}
        </button>
        &nbsp;
        <button mat-button routerLink="../.." type="button">
            {{ 'Back to login' | translate }}
        </button>
    </form>
</div>
