<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import motions' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="canImport" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
        <div *ngIf="finishedSuccessfully || hasErrors" style="padding-top: 6px">
            <mat-icon *ngIf="finishedSuccessfully" matTooltip="{{ 'Import successful' | translate }}">done</mat-icon>
            <mat-icon
                *ngIf="finishedWithWarnings"
                matTooltip="{{ 'Import successful with some warnings' | translate }}"
            >
                done
            </mat-icon>
            <mat-icon *ngIf="hasErrors" matTooltip="{{ 'Can not import because of errors' | translate }}">
                block
            </mat-icon>
        </div>
        <os-spinner *ngIf="isImporting" [width]="30" [height]="30" [showText]="false"></os-spinner>
    </div>
</os-head-bar>

<os-backend-import-list
    [importer]="importer"
    modelName="Motion"
    [defaultColumns]="columns"
    [possibleFields]="possibleFields"
></os-backend-import-list>
