<h2 mat-dialog-title>{{ 'Are you sure you want to stop this voting?' | translate }}</h2>

<mat-dialog-content>
    <div class="poll-action-row">
        <button class="stop-poll-button" mat-stroked-button [mat-dialog-close]="[]">
            <mat-icon>stop</mat-icon>
            <span class="next-state-label">
                {{ 'Stop' | translate }}
            </span>
        </button>
    </div>

    <div class="poll-action-row">
        <button class="publish-poll-button" mat-stroked-button [mat-dialog-close]="['publish']">
            <mat-icon>public</mat-icon>
            <span class="next-state-label">
                {{ 'Stop & publish' | translate }}
            </span>
        </button>
    </div>

    @if (poll.isOpen) {
        <div class="poll-action-row">
            <button class="anonymize-poll-button" mat-stroked-button [mat-dialog-close]="['publish', 'anonymize']">
                <mat-icon>warning</mat-icon>
                <span class="next-state-label">
                    {{ 'Stop, publish & anonymize' | translate }}
                </span>
            </button>
        </div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button matButton (click)="onNoClick()">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
