@if (data?.data) {
    <div class="slidetitle" [ngStyle]="titleDivStyles">
        <ng-container>
            <h1>{{ title }}</h1>
            @if (subtitle) {
                <h2 class="poll-title">{{ subtitle }}</h2>
            }
        </ng-container>
    </div>
    @if (polldata) {
        <div class="content-wrapper">
            <div [ngStyle]="textDivStyles">
                @if (pollContentObjectType === PollContentObjectType.Motion) {
                    <div class="motion-poll-slide">
                        <os-motion-poll-detail-content
                            iconSize="gigantic"
                            [poll]="polldata"
                        ></os-motion-poll-detail-content>
                    </div>
                }
                @if (pollContentObjectType === PollContentObjectType.Assignment) {
                    <os-assignment-poll-detail-content [poll]="polldata"></os-assignment-poll-detail-content>
                }
                @if (pollContentObjectType === PollContentObjectType.Topic) {
                    <os-topic-poll-detail-content [poll]="polldata"></os-topic-poll-detail-content>
                }
            </div>
        </div>
    }
}
