@use 'src/assets/styles/poll-styles-common.scss';

.motion-poll-slide {
    max-width: 900px;
    margin: auto;
}

.content-wrapper {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.single-votes-slidetitle {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    max-width: 100%;

    h1,
    h2 {
        margin: 0 !important;
    }
    h1 {
        font-size: 25px !important;
    }
    h2 {
        font-size: 14px !important;
        line-height: 14px !important;
    }
}

.poll-bar-wrapper {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 7px 0;
    width: 100%;
    margin-top: 7px;
    line-height: 1;
    display: flex;
    flex-direction: column;

    .poll-bar {
        width: 100%;
        display: inline-flex;
        gap: 0 3px;

        div {
            height: 20px;
            box-shadow: 2px 4px 4px 0 rgba(128, 128, 128, 0.35);
        }
    }

    .data-area {
        display: inline-flex;
        width: 100%;
        align-items: center;
        gap: 0 10px;
        line-height: 1.5;
        margin-top: 5px;

        .general-data {
            flex: 1 0 auto;
            font-size: 14px;
            color: gray;
        }
        os-icon-container {
            width: fit-content;
            margin-right: -5px;
        }
    }
}

.poll-result-area {
    margin-top: 10px;
}

.votes-area {
    display: inline-flex;
    gap: 0 5px;
    width: 100%;

    .votes-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 0;

        .vote-entry {
            min-height: 29px;
            display: flex;
            align-items: center;
            .not-present {
                text-decoration: line-through;
                color: #aaa;
            }
        }

        :not(:last-child):not(h3) {
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        }

        .vote-entry:has(+ h3) {
            border-bottom: 0;
        }

        h3.structure-level {
            margin-top: 2px;
            margin-bottom: 0 !important;
            line-height: 28px;
            font-size: 25px;
            font-weight: normal;
        }
    }
}
