@if (data?.data) {
    <div class="slidetitle" [ngClass]="{ 'single-votes-slidetitle': useSingleVotes }" [ngStyle]="titleDivStyles">
        <ng-container>
            <h1 class="ellipsis-overflow">{{ title }}</h1>
        </ng-container>
    </div>
    @if (polldata && showContent) {
        @if (useSingleVotes) {
            <div class="poll-bar-wrapper">
                <div class="poll-bar">
                    @if (polldata?.options[0].yes) {
                        <div class="bg-yes" [ngStyle]="{ flex: polldata.options[0].yes + ' 0 auto' }"></div>
                    }
                    @if (polldata?.options[0].no) {
                        <div class="bg-no" [ngStyle]="{ flex: polldata.options[0].no + ' 0 auto' }"></div>
                    }
                    @if (polldata?.options[0].abstain && polldata.onehundred_percent_base !== 'YN') {
                        <div class="bg-abstain" [ngStyle]="{ flex: polldata.options[0].abstain + ' 0 auto' }"></div>
                    }
                </div>

                @if (isRunningLiveVote) {
                    <progress class="vote-progress" max="{{ numEntitledUsers }}" value="{{ results.valid }}"></progress>
                }

                <div class="data-area">
                    <div class="general-data">
                        <div>
                            @if (isRunningLiveVote) {
                                {{ 'Received votes' | translate }}:
                            } @else {
                                {{ 'Valid votes' | translate }}:
                            }
                            {{ polldata.votesvalid ?? results.valid }}
                            @if (polldata.onehundred_percent_base !== 'YN') {
                                {{ polldata.votesvalid ?? results.valid | pollPercentBase: polldata }}
                            }
                        </div>
                        <div>
                            {{ 'Entitled users' | translate }}: {{ numEntitledUsers }}
                            @if (polldata.onehundred_percent_base === 'entitled') {
                                {{ numEntitledUsers | pollPercentBase: polldata }}
                            }
                        </div>
                    </div>
                    @if (showResult) {
                        @if (polldata.pollmethod.includes('Y')) {
                            <os-icon-container icon="check_circle" iconClass="yes" size="large" [noWrap]="true">
                                <span class="yes number">
                                    {{ 'Yes' | translate }}: {{ polldata.options[0]?.yes ?? results.Y }}
                                </span>
                                <div class="yes percentages">
                                    {{ polldata.options[0]?.yes ?? results.Y | pollPercentBase: polldata }}
                                </div>
                            </os-icon-container>
                        }
                        @if (polldata.pollmethod.includes('N')) {
                            <os-icon-container icon="cancel" iconClass="no" size="large">
                                <span class="no number">
                                    {{ 'No' | translate }}: {{ polldata.options[0]?.no ?? results.N }}
                                </span>
                                <div class="no percentages">
                                    {{ polldata.options[0]?.no ?? results.N | pollPercentBase: polldata }}
                                </div>
                            </os-icon-container>
                        }
                        @if (polldata.pollmethod.includes('A')) {
                            <os-icon-container class="extra-class" icon="circle" iconClass="abstain" size="large">
                                <span class="abstain number">
                                    {{ 'Abstain' | translate }}: {{ polldata.options[0]?.abstain ?? results.A }}
                                </span>
                                @if (polldata.onehundred_percent_base === 'YNA') {
                                    <div class="abstain percentages">
                                        {{ polldata.options[0]?.abstain ?? results.A | pollPercentBase: polldata }}
                                    </div>
                                }
                            </os-icon-container>
                        }
                    } @else if (isRunningLiveVote) {
                        <div class="vote-now">{{ 'Please vote now!' | translate }}</div>
                        <div class="spacer"></div>
                    }
                </div>
            </div>
        }
        <div class="content-wrapper">
            <div [ngStyle]="textDivStyles">
                @if (useSingleVotes) {
                    <div class="poll-result-area">
                        <div class="votes-area">
                            @for (column of userVotesFormatted; track column) {
                                <div class="votes-column" [ngStyle]="columnStyle">
                                    @for (user of column; track user[0]) {
                                        @if (typeof user[1] === 'number') {
                                            <div class="structure-level">
                                                <h3>{{ user[3] }}</h3>
                                                @if (polldata.state === PollState.Published) {
                                                    <span>
                                                        <os-icon-container
                                                            class="padding-right-3"
                                                            icon="check_circle"
                                                            iconClass="yes"
                                                            [noWrap]="true"
                                                        >
                                                            <h3 class="result-nr">{{ user[0] }}</h3>
                                                        </os-icon-container>
                                                        <os-icon-container
                                                            class="padding-right-3"
                                                            icon="cancel"
                                                            iconClass="no"
                                                            [noWrap]="true"
                                                        >
                                                            <h3 class="result-nr">{{ user[1] }}</h3>
                                                        </os-icon-container>
                                                        @if (polldata.pollmethod === 'YNA') {
                                                            <os-icon-container
                                                                class="padding-right-3"
                                                                icon="circle"
                                                                iconClass="abstain"
                                                                [noWrap]="true"
                                                            >
                                                                <h3 class="result-nr">{{ user[2] }}</h3>
                                                            </os-icon-container>
                                                        }
                                                    </span>
                                                }
                                            </div>
                                        } @else {
                                            <div class="vote-entry">
                                                @if (user[1] === 'Y') {
                                                    <os-icon-container
                                                        icon="check_circle"
                                                        iconClass="yes"
                                                        [noWrap]="true"
                                                    >
                                                        {{ user[0] }}
                                                    </os-icon-container>
                                                } @else if (user[1] === 'N') {
                                                    <os-icon-container icon="cancel" iconClass="no" [noWrap]="true">
                                                        {{ user[0] }}
                                                    </os-icon-container>
                                                } @else if (user[1] === 'A') {
                                                    <os-icon-container
                                                        icon="circle"
                                                        iconClass="abstain"
                                                        [noWrap]="true"
                                                    >
                                                        {{ user[0] }}
                                                    </os-icon-container>
                                                } @else if (user[1] === 'X') {
                                                    <os-icon-container
                                                        icon="radio_button_unchecked"
                                                        iconClass="no-content"
                                                        [noWrap]="true"
                                                    >
                                                        {{ user[0] }}
                                                    </os-icon-container>
                                                } @else if (user[1] === 'x') {
                                                    <os-icon-container
                                                        icon="radio_button_unchecked"
                                                        iconClass="no-content"
                                                        [noWrap]="true"
                                                    >
                                                        <span class="not-present">{{ user[0] }}</span>
                                                    </os-icon-container>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                } @else {
                    @if (pollContentObjectType === PollContentObjectType.Motion) {
                        <div class="motion-poll-slide">
                            <os-motion-poll-detail-content
                                iconSize="gigantic"
                                [inSlide]="true"
                                [poll]="polldata"
                            ></os-motion-poll-detail-content>
                        </div>
                    }
                    @if (pollContentObjectType === PollContentObjectType.Assignment) {
                        <os-assignment-poll-detail-content
                            [inSlide]="true"
                            [poll]="polldata"
                        ></os-assignment-poll-detail-content>
                    }
                    @if (pollContentObjectType === PollContentObjectType.Topic) {
                        <os-topic-poll-detail-content [inSlide]="true" [poll]="polldata"></os-topic-poll-detail-content>
                    }
                }
            </div>
        </div>
    }
}
