@use 'src/assets/styles/poll-styles-common.scss';

.motion-poll-slide {
    margin: auto;
}

.content-wrapper {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.single-votes-slidetitle {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    max-width: 100%;

    h1,
    h2 {
        margin: 0 !important;
    }
    h1 {
        font-size: 25px !important;
    }
    h2 {
        font-size: 14px !important;
        line-height: 14px !important;
    }
}

.poll-bar-wrapper {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 7px 0;
    width: 100%;
    margin-top: 7px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    height: 70px;

    .poll-bar {
        width: 100%;
        display: inline-flex;
        gap: 0 3px;

        div {
            height: 20px;
            box-shadow: 2px 4px 4px 0 rgba(128, 128, 128, 0.35);
        }
    }

    .poll-progress {
        --color: var(--theme-accent-500);
    }

    .poll-progress::-moz-progress-bar {
        background: var(--color);
    }

    .poll-progress::-webkit-progress-value {
        background: var(--color);
    }

    .vote-progress {
        width: 100%;
    }

    .data-area {
        display: inline-flex;
        width: 100%;
        align-items: center;
        gap: 0 10px;
        line-height: 1.5;
        margin-top: auto;

        .general-data {
            flex: 1 0 0;
            font-size: 14px;
        }
        os-icon-container {
            width: fit-content;
            margin-right: -5px;
            .number {
                font-weight: 500;
            }
            .percentages {
                font-size: 12px;
            }
        }
        .vote-now {
            flex: 1 1 0;
            text-align: center;
            color: var(--theme-accent-500);
            font-weight: bold;
            font-size: 25px;
        }
        .spacer {
            flex: 1 1 0;
        }
    }
}

.poll-result-area {
    margin-top: 10px;
}

.votes-area {
    display: inline-flex;
    gap: 0 5px;
    width: 100%;

    .votes-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 0;

        .vote-entry {
            height: 29px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            .not-present {
                text-decoration: line-through;
            }
        }

        :last-child:not(.structure-level) {
            margin-bottom: 1px;
        }

        .vote-entry:has(+ .structure-level) {
            border-bottom: 0;
            margin-bottom: 1px;
        }

        .structure-level {
            margin-bottom: 1px !important;
            height: 29px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            border-bottom: 2px solid rgba(0, 0, 0, 0.7);
            h3 {
                padding-top: 1.5px;
                padding-bottom: 1.5px;
                margin-top: 0;
                margin-bottom: 0 !important;
                line-height: 1;
                font-size: 18px;
                font-weight: 500;

                // setting for the ellipsis for long structure levels
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .result-nr {
                padding-top: 3px !important;
            }
            span {
                display: inline-flex;
                os-icon-container {
                    width: fit-content;
                }
            }
        }
    }
}
