<os-head-bar
    [hasMainButton]="operator.hasOrganizationPermissions(OML.can_manage_organization)"
    [mainActionTooltip]="'New committee' | translate"
    [multiSelectMode]="isMultiSelect"
    (mainEvent)="createNewCommittee()"
>
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Committees</h1>
    </div>

    <!-- Menu -->
    <!-- Only organization managers can do something -->
    <ng-container *osOmlPerms="OML.can_manage_organization" class="menu-slot">
        <button mat-icon-button type="button" [matMenuTriggerFor]="committeeMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>

    <!-- Multiselect info -->
    <ng-container class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;{{ 'selected' | translate }}</span>
    </ng-container>
</os-head-bar>

<os-list
    [alwaysShowMenu]="true"
    [filterProps]="['name']"
    [filterService]="filterService"
    [hiddenInMobile]="['forwarding', 'managers', 'meta']"
    [listObservableProvider]="committeeController"
    [multiSelect]="isMultiSelect"
    [sortService]="sortService"
    [(selectedRows)]="selectedRows"
>
    <div *osScrollingTableCell="'name'; row as committee" class="cell-slot fill">
        @if (!isMultiSelect && committee.canAccess()) {
            <a class="stretch-to-fill-parent" [attr.aria-label]="ariaLabel(committee)" [routerLink]="committee.id"></a>
        }
        <div class="overflow-hidden">
            <div class="title-line ellipsis-overflow">
                {{ committee.name }}
                @if (committee.description?.trim()) {
                    <div class="subtitle ellipsis-overflow">
                        {{ committee.description }}
                    </div>
                }
            </div>
            <div class="ellipsis-overflow">
                @for (tag of committee.organization_tags; track tag) {
                    <os-chip [color]="tag.color">
                        {{ tag.name }}
                    </os-chip>
                }
            </div>
        </div>
    </div>
    <div *osScrollingTableCell="'forwarding'; row as committee; config: { width: 70 }">
        <div class="forwarding-wrapper">
            @if (
                committee.forward_to_committee_ids?.length &&
                (operator.canSkipPermissionCheck || operator.hasCommitteeManagementRights(committee.id))
            ) {
                <div>
                    <os-icon-container
                        icon="file_upload"
                        iconTooltip="{{ 'Can forward motions to committee' | translate }}"
                        iconTooltipPosition="left"
                        [noWrap]="true"
                    >
                        <span>
                            {{ committee.forward_to_committee_ids.length }}
                        </span>
                    </os-icon-container>
                </div>
            }
            @if (
                committee.receive_forwardings_from_committee_ids?.length &&
                (operator.canSkipPermissionCheck || operator.hasCommitteeManagementRights(committee.id))
            ) {
                <div>
                    <os-icon-container
                        icon="file_download"
                        iconTooltip="{{ 'Can receive motions from committee' | translate }}"
                        iconTooltipPosition="left"
                        [noWrap]="true"
                    >
                        <span>
                            {{ committee.receive_forwardings_from_committee_ids.length }}
                        </span>
                    </os-icon-container>
                </div>
            }
        </div>
    </div>

    <div *osScrollingTableCell="'meta'; row as committee; config: { width: 150 }">
        <div class="meta-flex-row">
            <div class="meta-flex-column">
                @if (committee.meetingAmount) {
                    <div>
                        <os-icon-container
                            icon="event_available"
                            iconTooltip="{{ 'Meetings' | translate }}"
                            iconTooltipPosition="right"
                        >
                            {{ committee.meetingAmount }}
                        </os-icon-container>
                    </div>
                }
                @if (getCommitteeChildrenNumber(committee)) {
                    <div>
                        <os-icon-container
                            icon="layers"
                            iconTooltip="{{ 'Subcommittees' | translate }}"
                            iconTooltipPosition="right"
                        >
                            {{ getCommitteeChildrenNumber(committee) }}
                        </os-icon-container>
                    </div>
                }
            </div>
            <div class="meta-flex-column">
                @if (committee.memberAmount) {
                    <div>
                        <os-icon-container
                            icon="group"
                            iconTooltip="{{ 'Accounts' | translate }}"
                            iconTooltipPosition="right"
                        >
                            {{ committee.memberAmount }}
                        </os-icon-container>
                    </div>
                }
                @if (committee.managerAmount) {
                    <div>
                        <os-icon-container
                            icon="engineering"
                            iconTooltip="{{ 'Committee management' | translate }}"
                            iconTooltipPosition="right"
                        >
                            {{ committee.managerAmount }}
                        </os-icon-container>
                    </div>
                }
            </div>
        </div>
    </div>

    <div *osScrollingTableCell="'menu'; row as committee; config: { width: 40 }">
        <button
            *osOmlPerms="OML.can_manage_organization"
            data-cy="committeeListSingleMenuTrigger"
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerData]="{ committee: committee }"
            [matMenuTriggerFor]="singleCommitteeMenu"
            (click)="$event.stopPropagation()"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list>

<mat-menu #singleCommitteeMenu="matMenu">
    <ng-template let-committee="committee" matMenuContent>
        <a
            data-cy="committeeListSingleEditButton"
            mat-menu-item
            type="button"
            [queryParams]="{ committeeId: committee.id }"
            [routerLink]="['/', 'committees', 'edit-committee']"
        >
            <mat-icon>edit</mat-icon>
            <span>
                {{ 'Edit' | translate }}
            </span>
        </a>

        <button
            class="red-warning-text"
            data-cy="committeeListSingleDeleteButton"
            mat-menu-item
            type="button"
            [disabled]="hasCommitteeChildren(committee)"
            (click)="doDelete(committee)"
        >
            <mat-icon>delete</mat-icon>
            <span>
                {{ 'Delete' | translate }}
            </span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #committeeMenu="matMenu">
    @if (!isMultiSelect) {
        <div>
            <button mat-menu-item (click)="toggleMultiSelect()">
                <mat-icon>library_add</mat-icon>
                <span>{{ 'Multiselect' | translate }}</span>
            </button>
            <ng-container *osOmlPerms="OML.can_manage_organization">
                <mat-divider></mat-divider>
                <button mat-menu-item routerLink="import">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>{{ 'Import' | translate }}</span>
                </button>
                <button mat-menu-item (click)="exportAsCsv()">
                    <mat-icon>archive</mat-icon>
                    <span>{{ 'Export as CSV' | translate }}</span>
                </button>
            </ng-container>
        </div>
    }
    @if (isMultiSelect) {
        <div>
            <button mat-menu-item (click)="selectAll()">
                <mat-icon>done_all</mat-icon>
                <span>{{ 'Select all' | translate }}</span>
            </button>
            <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
                <mat-icon>clear</mat-icon>
                <span>{{ 'Deselect all' | translate }}</span>
            </button>
            <ng-container *osOmlPerms="OML.can_manage_organization">
                <mat-divider></mat-divider>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="forwardToCommittees()">
                    <mat-icon>swap_horiz</mat-icon>
                    <span>{{ 'Motion forwarding' | translate }} ...</span>
                </button>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="editTags()">
                    <mat-icon>local_offer</mat-icon>
                    <span>{{ 'Tags' | translate }}</span>
                </button>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="exportAsCsv()">
                    <mat-icon>archive</mat-icon>
                    <span>{{ 'Export as CSV' | translate }}</span>
                </button>
                <mat-divider></mat-divider>
                <button class="red-warning-text" mat-menu-item [disabled]="!selectedRows.length" (click)="doDelete()">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'Delete' | translate }}</span>
                </button>
            </ng-container>
        </div>
    }
</mat-menu>
