<div class="upload-area">
    <div class="upload-area--top-content">
        <input #fileInput hidden type="file" multiple (change)="onSelectFile($event)" />

        <div class="selection-area">
            <ngx-file-drop
                contentClassName="file-drop-content-style"
                dropZoneClassName="file-drop-zone-style"
                dropZoneLabel="{{ 'Drop files into this area OR click here to select files' | translate }}"
                (onFileDrop)="onDropFile($event)"
                (click)="fileInput.click()"
            ></ngx-file-drop>
        </div>

        <!-- Additional content -->
        <ng-container *ngTemplateOutlet="additionalContent"></ng-container>
    </div>
    <div class="upload-area--bottom-content" [hidden]="isEmpty">
        <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </div>
</div>

<!-- Upload and clear buttons -->
<div class="action-buttons">
    <button type="button" mat-raised-button color="accent" [disabled]="isUploadDisabled" (click)="onUploadButton()">
        <span>{{ 'Upload' | translate }}</span>
    </button>
    <button type="button" mat-raised-button [disabled]="isUploadDisabled" (click)="onClearButton()">
        <span>{{ 'Clear list' | translate }}</span>
    </button>
</div>

@if (showProgress) {
    <mat-card class="os-card">
        <mat-card-content>
            @if (!parallel) {
                <mat-progress-bar mode="determinate" [value]="progressObservable | async"></mat-progress-bar>
            }
            @if (parallel) {
                <mat-progress-bar mode="buffer"></mat-progress-bar>
            }
        </mat-card-content>
    </mat-card>
}

<ng-template #tableTemplate>
    <os-scrolling-table vScrollFixed="50" [showHeader]="true" [dataSource]="dataSource" [tableHeight]="tableHeight">
        <div *osScrollingTableCell="'remove'; row as file; config: { width: 24 }">
            <button mat-icon-button matTooltip="{{ 'Remove file' | translate }}" (click)="onRemoveButton(file)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </os-scrolling-table>
</ng-template>
