<div class="upload-area">
    <div class="upload-area--top-content">
        <input hidden type="file" #fileInput (change)="onSelectFile($event)" multiple />

        <div class="selection-area">
            <ngx-file-drop
                (onFileDrop)="onDropFile($event)"
                (click)="fileInput.click()"
                dropZoneLabel="{{ 'Drop files into this area OR click here to select files' | translate }}"
                contentClassName="file-drop-content-style"
                dropZoneClassName="file-drop-zone-style"
            ></ngx-file-drop>
        </div>

        <!-- Additional content -->
        <ng-container *ngTemplateOutlet="additionalContent"></ng-container>
    </div>
    <div [hidden]="isEmpty" class="upload-area--bottom-content">
        <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </div>
</div>

<!-- Upload and clear buttons -->
<div class="action-buttons">
    <button type="button" mat-raised-button (click)="onUploadButton()" color="accent" [disabled]="isUploadDisabled">
        <span>{{ 'Upload' | translate }}</span>
    </button>
    <button type="button" mat-raised-button (click)="onClearButton()" [disabled]="isUploadDisabled">
        <span>{{ 'Clear list' | translate }}</span>
    </button>
</div>

<mat-card class="os-card" *ngIf="showProgress">
    <mat-progress-bar *ngIf="!parallel" mode="determinate" [value]="progressObservable | async"></mat-progress-bar>
    <mat-progress-bar *ngIf="parallel" mode="buffer"></mat-progress-bar>
</mat-card>

<ng-template #tableTemplate>
    <os-scrolling-table
        vScrollFixed="50"
        [showHeader]="true"
        [dataSource]="dataSource"
        [tableHeight]="tableHeight"
    >
        <div *osScrollingTableCell="'remove'; row as file; config: { width: 24 }">
            <button mat-icon-button (click)="onRemoveButton(file)" matTooltip="{{ 'Remove file' | translate }}">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </os-scrolling-table>
</ng-template>
