<os-head-bar>
    <div class="title-slot">
        <h1 class="mock-h2" translate>List of electronic votes</h1>
    </div>
</os-head-bar>

<os-projectable-list
    [filterProps]="filterProps"
    [filterService]="filterService"
    [listObservableProvider]="pollRepo"
    [showListOfSpeakers]="false"
    [vScrollFixed]="64"
>
    <!-- Poll Title -->
    <div *osScrollingTableCell="'title'; row as poll; rowContext as context" class="cell-slot fill">
        @if (!isMultiSelect) {
            <os-detail-view-navigator [model]="poll"></os-detail-view-navigator>
        }
        <span>{{ poll.title }}</span>
    </div>

    <!-- Motion Or Assigmnent Title Title -->
    <div *osScrollingTableCell="'classType'; row as poll" class="cell-slot fill">
        @if (!isMultiSelect) {
            <os-detail-view-navigator [model]="poll"></os-detail-view-navigator>
        }
        <span>{{ poll.getContentObject()?.getListTitle() }}</span>
    </div>

    <!-- State -->
    <div
        *osScrollingTableCell="'state'; row as poll; config: { maxWidth: 200, position: END_POSITION }"
        class="cell-slot fill"
    >
        @if (!isMultiSelect) {
            <os-detail-view-navigator [model]="poll"></os-detail-view-navigator>
        }
        <span>{{ poll.stateVerbose | translate }}</span>
    </div>

    <!-- Voted Indicator -->
    <div
        *osScrollingTableCell="'votability'; row as poll; config: { width: 40, position: END_POSITION }"
        class="cell-slot fill"
    >
        @if (canBeVoteFor(poll)) {
            <mat-icon color="warn" matTooltip="{{ 'Voting is currently in progress.' | translate }}">warning</mat-icon>
        } @else {
            <mat-icon color="accent" matTooltip="{{ 'You have already voted.' | translate }}">check_circle</mat-icon>
        }
    </div>
</os-projectable-list>
