<ng-container *ngIf="poll">
    <!-- Candidates -->
    <small class="meta-info-left subtitle" *ngIf="poll.options?.length && showCandidates">
        <os-expandable-content-wrapper [disableExpandControl]="!shortenList">
            <div *ngIf="!poll.isListPoll">
                {{ poll.options.length ? poll.options.length + ' ' : '' }}{{ 'Candidates' | translate }}:
                <ol *ngIf="enumerateCandidates">
                    <li *ngFor="let option of poll.options">{{ getOptionTitle(option) | translate }}</li>
                </ol>
                <ul *ngIf="!enumerateCandidates">
                    <li *ngFor="let option of poll.options">{{ getOptionTitle(option) | translate }}</li>
                </ul>
            </div>
            <div *ngIf="poll.isListPoll && poll.options[0]?.contentTitlesAsSortedArray.length">
                {{ 'Nomination list' | translate }} ({{ poll.options[0]?.contentTitlesAsSortedArray.length }}
                {{ 'Candidates' | translate }}):
                <ol *ngIf="enumerateCandidates">
                    <li *ngFor="let title of poll.options[0]?.contentTitlesAsSortedArray">
                        {{ title.title }}{{ title.subtitle ? ' (' + title.subtitle + ')' : '' }}
                    </li>
                </ol>
                <ul *ngIf="!enumerateCandidates">
                    <li *ngFor="let title of poll.options[0]?.contentTitlesAsSortedArray">
                        {{ title.title }}{{ title.subtitle ? ' (' + title.subtitle + ')' : '' }}
                    </li>
                </ul>
            </div>
            <div *ngIf="hasGlobalOptionEnabled">
                {{ 'Options' | translate }}:
                <ul>
                    <li *ngIf="poll.global_yes">{{ pollPropertyVerbose.global_yes | translate }}</li>
                    <li *ngIf="poll.global_no">{{ pollPropertyVerbose.global_no | translate }}</li>
                    <li *ngIf="poll.global_abstain">{{ pollPropertyVerbose.global_abstain | translate }}</li>
                </ul>
            </div>
        </os-expandable-content-wrapper>
    </small>

    <div class="meta-info-right subtitle" *ngIf="showStats">
        <!-- Groups who can vote -->
        <small *ngIf="poll.entitled_groups && poll.type && poll.type !== 'analog'">
            {{ 'Entitled to vote' | translate }}:

            <span *ngFor="let group of poll.entitled_groups; let last = last">
                <span>{{ group.getTitle() | translate }}</span>
                <span>{{ !last ? ', ' : '' }}</span>
            </span>
            <br />
        </small>

        <!-- Voting method -->
        <small *ngIf="poll.pollmethod">
            <span>{{ 'Voting method' | translate }}: {{ getVerbosePollMethod() | translate }}</span>
            <br />
        </small>

        <!-- Amount of Votes -->
        <small *ngIf="poll.max_votes_amount > 1">
            <ng-container *ngIf="poll.max_votes_amount !== poll.min_votes_amount">
                <span>{{ pollPropertyVerbose.min_votes_amount | translate }}: {{ poll.min_votes_amount }}</span>
                <br />
                <span>{{ pollPropertyVerbose.max_votes_amount | translate }}: {{ poll.max_votes_amount }}</span>
                <br />
            </ng-container>

            <ng-container *ngIf="poll.max_votes_amount === poll.min_votes_amount">
                <span>{{ 'Votes' | translate }}: {{ poll.max_votes_amount }}</span>
                <br />
            </ng-container>
        </small>

        <!-- Max Votes per Option -->
        <small *ngIf="poll.max_votes_per_option > 1">
            <span>{{ pollPropertyVerbose.max_votes_per_option | translate }}: {{ poll.max_votes_per_option }}</span>
            <br />
        </small>

        <!-- 100% base -->
        <ng-container *ngIf="poll.onehundred_percent_base">
            <small>{{ '100% base' | translate }}: {{ poll.percentBaseVerbose | translate }}</small>
            <br />
        </ng-container>

        <!-- Poll backend duration type -->
        <small *ngIf="poll.backend">
            {{ 'Voting duration' | translate }}: {{ POLL_BACKEND_DURATION_LABEL[poll.backend] | translate }}
        </small>
    </div>
</ng-container>
