<os-head-bar
    [mainActionTooltip]="'New chat group' | translate"
    [hasMainButton]="hasMainButton"
    (mainEvent)="createChatGroup()"
>
    <!-- Title -->
    <div class="title-slot">
        {{ 'Chat' | translate }}
    </div>
</os-head-bar>

<mat-card
    *ngIf="chatGroupsObservable | async as chatGroups"
    class="os-card chat-group-list-card"
    [ngClass]="{ 'fit-height': !chatGroups?.length }"
>
    <div class="padding-16" *ngIf="!chatGroups?.length">
        <span>
            {{ 'No chat groups available' | translate }}
        </span>
    </div>
    <os-vertical-tab-group
        *ngIf="chatGroups?.length"
        #verticalTabGroup
        [labelHeight]="56"
        [showAlwaysContentHeader]="true"
        (contentStateChanged)="onTabContentChanged($event)"
    >
        <ng-template osVerticalTabGroupLabelHeader>
            <div
                class="flex-vertical-center padding-left-16 padding-right-16 full-width full-height icon fake-disabled"
            >
                <mat-icon>groups</mat-icon>
                <span class="padding-left-8">{{ 'Chat groups' | translate }}</span>
            </div>
        </ng-template>
        <mat-tab *ngFor="let chatGroup of chatGroups">
            <ng-template matTabLabel>
                <ng-container
                    *ngIf="{ amount: getNotificationsObservableForChatId(chatGroup.id) | async } as notifications"
                >
                    <div
                        class="tab-label-notification-wrapper"
                        [matBadge]="notifications.amount"
                        [matBadgeHidden]="!notifications.amount"
                        matBadgeColor="accent"
                        matBadgeOverlap="false"
                    ></div>
                    <div class="flex-vertical-center full-width full-height one-line">
                        <div class="one-line">
                            <div class="one-line">{{ chatGroup.name }}</div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
            <ng-template matTabContent>
                <div class="full-height">
                    <os-chat-group-detail
                        [chatGroup]="chatGroup"
                        (backButtonClicked)="verticalTabGroup.closeContent()"
                    ></os-chat-group-detail>
                </div>
            </ng-template>
        </mat-tab>
    </os-vertical-tab-group>
</mat-card>
