.chat-group-list-card {
    padding: 0;
    max-width: 1000px;
    max-height: calc(100vh - 160px); // 160px is almost the summary of top bar and livestream header
    height: 95%;
    margin-bottom: 350px !important;

    &.fit-height {
        height: fit-content;
    }

    .cdk-virtual-scroll-content-wrapper {
        width: 50%;
    }
}

.tab-label-notification-wrapper {
    top: -16px;
    left: -14px;
}

.padding-0 {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}
