div.remove-top-margin {
    margin-top: -1.33em;
}

div.origin-view {
    display: inline-block;
}

span.referencelist {
    display: inline-block;
}

.parent {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.text-small {
font-size: 85%;}
