div.remove-top-margin {
    margin-top: -1.33em;
}

div.origin-view {
    display: inline-block;
}

span.referencelist {
    display: inline-block;
}

.basic-flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.align-start {
    align-items: flex-start;
}

.status-text {
    font-size: 85%;
    color: rgba(0, 0, 0, 0.54);
    margin-top: -10px;
    margin-left: 1px;
}
