@mixin custom-size-button($size, $font-size) {
    --mat-icon-button-state-layer-size: #{$size};
    --mat-icon-button-icon-size: #{$font-size};

    &.mdc-icon-button {
        padding: ($size - $font-size) / 2;
    }

    mat-icon {
        width: $font-size;
        height: $font-size;
        font-size: $font-size;
    }
}
