// reusable mixin to easily style detail views
@mixin detail-view-appearance {
    h1 {
        color: inherit;
        font-weight: 400 !important;
    }

    h2 {
        font-weight: 700 !important;
    }

    h3 {
        font-weight: 600;
    }

    h4 {
        margin: 10px 10px 15px 0;
        display: block;
        font-weight: 600;
        font-size: 1em;
    }

    h5 {
        margin: 15px 10px 10px 0;
        display: block;
        font-weight: 500;
        font-size: 1em;
        font-style: italic;
    }

    h6 {
        font-size: 1em;
        font-style: normal;
        font-weight: normal;
    }

    a {
        word-wrap: break-word;
        overflow-wrap: anywhere !important;
    }
}
