<os-head-bar
    (mainEvent)="goBack()"
    [nav]="false"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ user?.getFullName() }}</h2>
    </div>
</os-head-bar>
<div>
    <div class="assign-meetings-element">
        <h2>{{ 'Add to meetings' | translate }}</h2>
        <form [formGroup]="assignMeetingsForm">
            <div class="assign-meetings-form form-wrapper">
                <div class="grid-child">
                    <mat-form-field class="form-element">
                        <input
                            formControlName="group_name"
                            matInput
                            matTooltip="{{ 'Input the name of the group that the user should be assigned to within the meetings.' | translate }}"
                            placeholder="{{ 'Group name ' | translate }}"
                        >
                    </mat-form-field>
                </div>
                <div class="grid-child">
                    <mat-form-field class="form-element">
                        <os-list-search-selector
                            formControlName="meeting_ids"
                            [multiple]="true"
                            placeholder="{{ 'Select meetings...' | translate }}"
                            [inputListValues]="meetingsObservable">
                       </os-list-search-selector>
                    </mat-form-field>
                </div>
                <div class="grid-child">
                    <button mat-button (click)="assign()" [disabled]="!selectedMeetings?.length || waitingForResults">Assign</button>
                </div>
            </div>
        </form>
        <div class="potential-warning">
            <div *ngIf="!!warningMessage">
                <mat-icon inline color="warn">
                    warning
                </mat-icon>
                <i class="foreground-warn">
                    {{ warningMessage | translate }}
                </i>
            </div>
        </div>
    </div>
    <!-- Display results -->
    <div *ngIf="hasResult" class="assign-meetings-element">
        <h2>{{ 'Results' | translate }}</h2>
        <table class="result-table">
            <tr>
                <th class="verticalSplit">{{ 'Successfully assigned the user' | translate }}</th>
                <th class="verticalSplit">{{ 'Defaulted to the standard group' | translate }}</th>
                <th class="verticalSplit">{{ 'No actions needed' | translate }}</th>
            </tr>
            <tr>
                <td class="verticalSplit">
                    <div *ngFor="let meetingName of resultsTableDataSubjects.succeeded | async">
                        {{ meetingName }}
                    </div>
                </td>
                <td class="verticalSplit">
                    <div *ngFor="let meetingName of resultsTableDataSubjects.standard_group | async">
                        {{ meetingName }}
                    </div>
                </td>
                <td class="verticalSplit">
                    <div *ngFor="let meetingName of resultsTableDataSubjects.nothing | async">
                        {{ meetingName }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
