@use 'src/assets/styles/custom-button-styles.scss';
@use 'src/assets/styles/mixins/button.scss';
@use 'src/assets/styles/variables.scss';

.flexbox-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 0 1 0;
    align-items: center;
    gap: 10px;

    // could be in a shared scss
    .projector-button {
        margin: auto 10px auto 0;
    }

    .content {
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        .mat-mdc-icon-button.timer-control-button {
            @include button.custom-size-button(36px, 36px);
        }

        .timer-title {
            min-width: 60px;
        }

        .timer-time-n-button {
            display: flex;
            flex-wrap: wrap;

            .timer-time {
                font-size: 150%;
                min-width: 60px;
                align-content: center;
            }

            .timer-control {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    // could be in a shared scss
    .action-buttons {
        text-align: right;
        width: 30px;
        margin-left: auto;
    }
}
