@use 'src/assets/styles/custom-button-styles.scss';
@use 'src/assets/styles/mixins/button.scss';

.flexbox-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 0 1 0;
    align-items: center;
    gap: 10px;

    // could be in a shared scss
    .projector-button {
        margin: auto 10px auto 0;
    }

    .content {
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        .mat-mdc-icon-button.speaker-control-button {
            @include button.custom-size-button(46px, 36px);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
            margin: 3px;
        }
    }

    .timer {
        display: flex;
        justify-content: space-between;
    }

    .timer-title {
        min-width: 60px;
    }

    .timer-time {
        font-size: 150%;
        min-width: 60px;
    }

    // could be in a shared scss
    .action-buttons {
        text-align: right;
        width: 30px;
        margin-left: auto;
    }
}
