@if (countdown) {
    <mat-card>
        <mat-card-content>
            <div class="flexbox-wrapper">
                <div class="button">
                    <button
                        class="small-mat-icon-button projector-button"
                        mat-icon-button
                        matTooltip="{{ 'Open projection dialog' | translate }}"
                        type="button"
                        [color]="isProjected ? 'accent' : 'basic'"
                        (click)="onBringDialog()"
                    >
                        <mat-icon>videocam</mat-icon>
                    </button>
                </div>
                <div class="content">
                    <div class="timer-title cursor-default">{{ countdown.getTitle() }}</div>
                    <div class="timer-time-n-button">
                        <div class="timer-time">
                            <os-countdown-time
                                class="cursor-default"
                                [countdown]="countdown"
                                [warningTime]="warningTime"
                            ></os-countdown-time>
                        </div>
                        <div class="timer-control">
                            <button
                                class="timer-control-button"
                                color="accent"
                                mat-icon-button
                                type="button"
                                (click)="countdown.running ? pause($event) : start($event)"
                            >
                                <mat-icon>
                                    {{ countdown.running ? 'pause_circle_outline' : ' play_circle_outline ' }}
                                </mat-icon>
                            </button>
                            <button
                                class="timer-control-button"
                                color="accent"
                                mat-icon-button
                                type="button"
                                [disabled]="!canStop()"
                                (click)="stop($event)"
                            >
                                <mat-icon>stop_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="action-buttons">
                    <button
                        class="small-mat-icon-button"
                        mat-icon-button
                        type="button"
                        [matTooltip]="'Edit' | translate"
                        (click)="onEdit()"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    @if (isFixedCountdown) {
                        <div
                            class="small-mat-icon-button mat-icon-button-disabled disabled"
                            [matTooltip]="
                                'It is not allowed to delete countdowns used for list of speakers or polls' | translate
                            "
                        >
                            <mat-icon>delete</mat-icon>
                        </div>
                    }
                    @if (!isFixedCountdown) {
                        <button
                            class="small-mat-icon-button"
                            mat-icon-button
                            matTooltip="{{ 'Delete' | translate }}"
                            type="button"
                            (click)="onDelete()"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    }
                </div>
            </div>
        </mat-card-content>
    </mat-card>
}
