<form [formGroup]="changePasswordForm">
    <mat-form-field>
        <mat-label>{{ 'Old password' | translate }}</mat-label>
        <input
            #oldPassword
            matInput
            required
            formControlName="oldPassword"
            [type]="hideOldPassword ? 'password' : 'text'"
        />
        <button
            matSuffix
            mat-icon-button
            tabindex="-1"
            type="button"
            [disabled]="!oldPassword.value"
            (click)="hideOldPassword = !hideOldPassword"
        >
            <mat-icon>{{ hideOldPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'New password' | translate }}</mat-label>
        <input
            #newPassword
            matInput
            required
            formControlName="newPassword"
            [type]="hideNewPassword ? 'password' : 'text'"
        />
        <button
            matSuffix
            mat-icon-button
            tabindex="-1"
            type="button"
            [disabled]="!newPassword.value"
            (click)="hideNewPassword = !hideNewPassword"
        >
            <mat-icon>{{ hideNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'Confirm new password' | translate }}</mat-label>
        <input
            #confirmPassword
            matInput
            required
            formControlName="confirmPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'"
        />
        <button
            matSuffix
            mat-icon-button
            tabindex="-1"
            type="button"
            [disabled]="!confirmPassword.value"
            (click)="hideConfirmPassword = !hideConfirmPassword"
        >
            <mat-icon>{{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        @if (changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')) {
            <mat-error>
                {{ 'Passwords do not match' | translate }}
            </mat-error>
        }
    </mat-form-field>
</form>
