<ng-container *ngIf="!editMotion">
    <section class="text-holder">
        <!-- If the array exists, we do not have an error -->
        <div *ngIf="amendmentLines">
            <div class="alert alert-info" *ngIf="amendmentLines.length === 0">
                <i *ngIf="motion.lead_motion">{{ 'No changes at the text.' | translate }}</i>
                <i *ngIf="!motion.lead_motion">{{ 'The parent motion is not available.' | translate }}</i>
            </div>
            <div class="alert alert-info alert-inconsistency" *ngIf="amendmentErrorMessage">
                <i [innerHTML]="amendmentErrorMessage"></i>
            </div>
            <ng-container *ngIf="motion.lead_motion && !isFinalEdit">
                <os-motion-detail-diff-summary
                    *ngIf="changeRecoMode === ChangeRecoMode.Diff"
                    [changes]="changesForDiffMode"
                    [scrollToChange]="scrollToChange"
                    [elContainer]="nativeElement"
                ></os-motion-detail-diff-summary>

                <ng-container *ngFor="let paragraph of getAmendmentParagraphs(); trackBy: trackByIndex">
                    <div
                        class="motion-text motion-text-diff amendment-view underlined-links"
                        [class.line-numbers-none]="lineNumberingMode === LineNumberingMode.None"
                        [class.line-numbers-inline]="lineNumberingMode === LineNumberingMode.Inside"
                        [class.line-numbers-outside]="lineNumberingMode === LineNumberingMode.Outside"
                        [class.amendment-context]="showAmendmentContext"
                    >
                        <h3 class="amendment-line-header" *ngIf="!showAmendmentContext">
                            {{ getAmendmentParagraphLinesTitle(paragraph) }}
                        </h3>

                        <os-motion-detail-original-change-recommendations
                            *ngIf="
                                changeRecoMode !== ChangeRecoMode.Diff &&
                                lineNumberingMode === LineNumberingMode.Outside &&
                                (changeRecoMode === ChangeRecoMode.Original ||
                                    changeRecoMode === ChangeRecoMode.Changed)
                            "
                            [html]="getAmendmentDiffTextWithContext(paragraph)"
                            [motionId]="motion.id"
                            [changeRecommendations]="changeRecommendations"
                            (gotoChangeRecommendation)="gotoChangeRecommendation($event)"
                            (createChangeRecommendation)="createChangeRecommendation.emit($event)"
                        ></os-motion-detail-original-change-recommendations>

                        <div
                            *ngIf="
                                changeRecoMode !== ChangeRecoMode.Diff &&
                                (lineNumberingMode !== LineNumberingMode.Outside ||
                                    (changeRecoMode !== ChangeRecoMode.Original &&
                                        changeRecoMode !== ChangeRecoMode.Changed))
                            "
                            [innerHTML]="getAmendmentDiffTextWithContext(paragraph) | trust : 'html'"
                        ></div>
                        <!-- the <div> element is only a placeholder -> outerHTML to replace it -->
                    </div>

                    <os-motion-detail-diff
                        *ngIf="changeRecoMode === ChangeRecoMode.Diff"
                        [motion]="motion"
                        [lineRange]="{ from: paragraph.paragraphLineFrom, to: paragraph.paragraphLineTo }"
                        [changes]="changesForDiffMode"
                        [scrollToChange]="scrollToChange"
                        [highlightedLine]="highlightedLine"
                        [showAllAmendments]="showAllAmendments"
                        [showPreamble]="false"
                        [showSummary]="false"
                        [lineNumberingMode]="lineNumberingMode"
                        (createChangeRecommendation)="createChangeRecommendation.emit($event)"
                    ></os-motion-detail-diff>
                </ng-container>
            </ng-container>

            <os-motion-detail-diff
                *ngIf="changeRecoMode === ChangeRecoMode.Diff && (!motion.lead_motion || isFinalEdit)"
                [motion]="motion"
                [changes]="changesForDiffMode"
                [scrollToChange]="scrollToChange"
                [highlightedLine]="highlightedLine"
                [showAllAmendments]="showAllAmendments"
                [lineNumberingMode]="lineNumberingMode"
                (createChangeRecommendation)="createChangeRecommendation.emit($event)"
            ></os-motion-detail-diff>
        </div>
        <div *ngIf="!amendmentLines">
            <span class="red-warning-text">
                {{ 'There is an error with this amendment. Please edit it manually.' | translate }}
            </span>
        </div>
    </section>

    <!-- Show entire motion text -->
    <div *ngIf="changeRecoMode === ChangeRecoMode.Original || changeRecoMode === ChangeRecoMode.Changed">
        <mat-checkbox
            (change)="showAmendmentContext = !showAmendmentContext"
            *ngIf="motion && motion.isParagraphBasedAmendment() && motion.lead_motion"
            class="show-entire-text-check"
        >
            <span>{{ 'Show entire motion text' | translate }}</span>
        </mat-checkbox>
    </div>
</ng-container>

<!-- The HTML Editor for paragraph-based amendments -->
<ng-container *ngIf="editMotion && contentForm">
    <form [formGroup]="contentForm">
        <section *ngFor="let paragraph of selectedParagraphs">
            <h3>
                <span *ngIf="paragraph.lineFrom >= paragraph.lineTo - 1" class="line-number">
                    {{ 'Line' | translate }} {{ paragraph.lineFrom }}
                </span>
                <span *ngIf="paragraph.lineFrom < paragraph.lineTo - 1" class="line-number">
                    {{ 'Line' | translate }} {{ paragraph.lineFrom }} - {{ paragraph.lineTo - 1 }}
                </span>
            </h3>
            <os-legacy-editor [formControlName]="paragraph.paragraphNo"></os-legacy-editor>
            <div *ngIf="isControlInvalid(paragraph.paragraphNo)" class="red-warning-text">
                {{ 'This field is required.' | translate }}
            </div>
        </section>
        <section *ngFor="let paragraph of brokenParagraphs">
            <em class="red-warning-text">
                {{ 'This paragraph does not exist in the main motion anymore:' | translate }}
            </em>
            <div class="motion-text" [innerHTML]="paragraph | trust : 'html'"></div>
        </section>
    </form>
</ng-container>
