<div class="charts-wrapper" [style.height]="calcBarChartHeight()">
    @if (isReadyToShow) {
        <canvas
            baseChart
            class="chart-js-canvas"
            [data]="chartData"
            [labels]="labels"
            [legend]="legend"
            [options]="chartOptions"
            [type]="type"
        ></canvas>
        @if (chartIcon === 'check') {
            <div class="chart-icon color-green">
                <mat-icon>check</mat-icon>
            </div>
        } @else if (chartIcon === 'cancel') {
            <div class="chart-icon color-red">
                <mat-icon>close</mat-icon>
            </div>
        }
    }
</div>
