<div class="charts-wrapper" [style.height]="calcBarChartHeight()">
    @if (isReadyToShow) {
        <canvas
            baseChart
            class="chart-js-canvas"
            [data]="chartData"
            [labels]="labels"
            [legend]="legend"
            [options]="chartOptions"
            [type]="type"
        ></canvas>
        @if (chartIcon) {
            <div
                class="chart-icon"
                [class.color-green]="chartIcon === 'check'"
                [class.color-red]="chartIcon === 'close'"
            >
                <mat-icon>{{ chartIcon }}</mat-icon>
            </div>
        }
    }
</div>
