<div *ngIf="title" class="heading-container" [ngClass]="{ 'no-space': noSpace }">
    <h3>{{ title }}</h3>
    <mat-divider></mat-divider>
</div>

<div class="os-grid" [ngClass]="{ 'no-space': noSpace }">
    <div *ngFor="let tile of tiles" [ngClass]="tile.classes" (click)="tile.onClick($event)" 
    (keydown.enter)="tile.onEnter($event)"
    tabindex="0">
        <div class="tile-placeholder" [ngStyle]="{ marginTop: rowHeight }"></div>
        <div class="tile-content stretch-to-fill-parent">
            <ng-container *ngTemplateOutlet="tile.implicitContent; context: { $implicit: tile.data }"></ng-container>
        </div>
    </div>
</div>

<ng-template>
    <ng-content></ng-content>
</ng-template>
