<os-head-bar
    [customMenu]="true"
    prevUrl="/committees"
    [nav]="false"
    [hasMainButton]="operator.hasCommitteePermissions(currentCommittee?.id, CML.can_manage)"
    (mainEvent)="onCreateMeeting()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>
            <span>
                {{ 'Meetings' | translate }}
            </span>
            <span *ngIf="currentCommittee"> ({{ currentCommittee.name }}) </span>
        </h2>
    </div>

    <!-- Edit button -->
    <div class="extra-controls-slot" *osCmlPerms="CML.can_manage; committeeId: currentCommittee?.id">
        <button mat-icon-button (click)="onEditCommittee()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>

    <!-- Menu slot -->
    <ng-container class="menu-slot">
        <button mat-icon-button [matMenuTriggerFor]="moreCommitteeMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>

    <ng-container class="custom-menu-slot">
        <os-management-navigation></os-management-navigation>
    </ng-container>
</os-head-bar>

<os-basic-list-view-table
    [listObservable]="meetingsObservable"
    [columns]="tableColumnDefinition"
    [alwaysShowMenu]="true"
    [(selectedRows)]="selectedRows"
    (dataSourceChange)="onDataSourceChange($event)"
    [filterProps]="['name']"
>
    <div *pblNgridCellDef="'name'; value as name; row as meeting" class="cell-slot fill">
        <a class="detail-link" [routerLink]="meeting.getUrl()" *ngIf="!isMultiSelect"></a>
        <div>
            {{ name }}
            <div class="subtitle">
                <ng-container *ngIf="meeting.start_time === meeting.end_time">
                    <span>{{ meeting.start_time | localizedDate: 'll' }}</span>
                </ng-container>
                <ng-container *ngIf="meeting.start_time !== meeting.end_time">
                    <span *ngIf="meeting.start_time">
                        {{ meeting.start_time | localizedDate: 'll' }}
                    </span>
                    <span *ngIf="meeting.start_time && meeting.end_time"> &nbsp; - &nbsp; </span>
                    <span *ngIf="meeting.end_time">
                        {{ meeting.end_time | localizedDate: 'll' }}
                    </span>
                </ng-container>
            </div>
            <div>
                <os-chip-list *ngIf="meeting.organization_tags?.length" [model]="meeting.organization_tags">
                    <ng-template let-tag>
                        {{ tag.name }}
                    </ng-template>
                </os-chip-list>
            </div>
        </div>
    </div>

    <div *pblNgridCellDef="'users'; row as meeting" class="cell-slot fill">
        <div>
            <os-icon-container iconTooltip="{{ 'Participants' | translate }}" icon="group">
                {{ meeting.userAmount }}
            </os-icon-container>
        </div>
    </div>

    <div *pblNgridCellDef="'menu'; row as meeting" class="cell-slot fill">
        <button
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleMeetingMenu"
            [matMenuTriggerData]="{ meeting: meeting }"
            (click)="$event.stopPropagation()"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-basic-list-view-table>

<mat-menu #singleMeetingMenu="matMenu">
    <ng-template matMenuContent let-meeting="meeting">
        <button mat-menu-item type="button" (click)="editSingle(meeting)">
            <mat-icon>edit</mat-icon>
            <span>
                {{ 'Edit' | translate }}
            </span>
        </button>

        <button
            mat-menu-item
            type="button"
            class="red-warning-text"
            (click)="deleteSingle(meeting)"
            *osCmlPerms="CML.can_manage; committeeId: currentCommittee.id"
        >
            <mat-icon>delete</mat-icon>
            <span>
                {{ 'Delete' | translate }}
            </span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #moreCommitteeMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item type="button" [routerLink]="['import-meeting']">
            <mat-icon>cloud_upload</mat-icon>
            <span>
                {{ 'Import meeting' | translate }}
            </span>
        </button>
    </ng-template>
</mat-menu>
