@use 'src/assets/styles/poll-colors.scss';
@use 'src/assets/styles/poll-styles-common.scss';

.option-list-information-grid {
    display: grid;
    grid-template-columns: max-content auto max-content;
    margin: 0 10px;
}

.option-row {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 10px;
    padding: 10px;
    margin: 0 10px;
    align-items: center;

    &.accentuated-background {
        background: rgba(0, 0, 0, 0.04);
    }
}

.vote-option-title {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.vote-button-area {
    display: inline-grid;
    justify-content: center;
}

.vote-button:hover {
    .button-content-opaque {
        opacity: 1;
    }
}

.vote-button {
    min-width: 50px;
    height: 50px;
    margin: auto;

    .vote-button-content {
        margin: auto;
        display: grid;

        .vote-button-circle,
        .vote-button-cross {
            grid-column: 1;
            grid-row: 1;
        }

        .vote-button-circle {
            z-index: 0;
        }

        .vote-button-cross {
            z-index: 1;
            height: 24px;
            width: 24px;
            opacity: 0;
        }
    }

    .button-content-opaque {
        opacity: 0.5;
    }
}

.submit-area {
    display: flex;
    justify-content: center;
    padding: 10px 10px 0;
}
