<div mat-dialog-title>
    {{ data.motion.length > 1 ? ('Forward motions' | translate) : ('Forwarding of motion' | translate) }}
    @if (data.motion.length === 1 && data.motion[0].number) {
        {{ data.motion[0].number }}
    }
</div>
<mat-dialog-content>
    @if (data.motion.length === 1) {
        <div class="state">
            {{ 'State' | translate }}:
            <span class="state-name">
                {{ data.motion[0].state.name }}
                @if (data.motion[0].state.show_state_extension_field) {
                    {{ data.motion[0].state_extension }}
                }
            </span>
        </div>
    } @else {
        <div class="state">
            {{ data.motion.length - amendmentNumber() }} {{ 'motions' | translate }}
            @if (numAmendments > 0) {
                <span>&middot;</span>
                {{ numAmendments }} {{ 'amendments' | translate }}
            }
        </div>
    }
    @if (amendmentNumber() > 0) {
        <div class="state">
            {{ 'Note: Amendments cannot be forwarded without their parent motion.' | translate }}
        </div>
    }

    <table mat-table [dataSource]="tableRows">
        <!-- Label in front-->
        <ng-container matColumnDef="label">
            <td *matCellDef="let rowName" mat-cell>
                @if (rowName === 'motion_version') {
                    <span>{{ 'Motion version' | translate }}:</span>
                } @else if (rowName === 'submitter') {
                    <span>{{ 'Submitter' | translate }}:</span>
                } @else if (rowName === 'identifier') {
                    <span>{{ 'Identifier' | translate }}:</span>
                } @else if (rowName === 'meeting') {
                    <span>{{ 'Target meeting' | translate }}:</span>
                } @else if (rowName === 'attachments') {
                    @if (data.motion.length > 1 || (data.motion.length === 1 && data.motion[0].hasAttachments())) {
                        <span>{{ 'Attachments' | translate }}:</span>
                    }
                }
            </td>
        </ng-container>

        <!-- radio checks -->
        <ng-container matColumnDef="radio">
            <td *matCellDef="let rowName" mat-cell>
                @if (rowName === 'motion_version') {
                    <span>
                        <mat-radio-group class="motion-forward-radio-group" [(ngModel)]="useOriginalVersion">
                            <mat-radio-button [value]="false">
                                {{ 'Final version' | translate }}
                                <i>({{ 'Note: Amendments will not be forwarded.' | translate }})</i>
                            </mat-radio-button>
                            <mat-radio-button [value]="true">
                                {{ 'Original version with changes' | translate }}
                                @if (
                                    data.motion.length === 1 &&
                                    (data.motion[0].amendment_ids?.length > 0 ||
                                        data.motion[0].change_recommendation_ids?.length > 0)
                                ) {
                                    <span class="data-preview">
                                        <span>
                                            @if (data.motion[0].amendment_ids?.length === 1) {
                                                {{ data.motion[0].amendment_ids.length }} {{ 'amendment' | translate }}
                                            }
                                            @if (data.motion[0].amendment_ids?.length > 1) {
                                                {{ data.motion[0].amendment_ids.length }} {{ 'amendments' | translate }}
                                            }
                                            @if (
                                                data.motion[0].amendment_ids?.length > 0 &&
                                                data.motion[0].change_recommendation_ids?.length > 0
                                            ) {
                                                +
                                            }
                                            @if (data.motion[0].change_recommendation_ids?.length === 1) {
                                                {{ data.motion[0].change_recommendation_ids.length }}
                                                {{ 'change recommendation' | translate }}
                                            }
                                            @if (data.motion[0].change_recommendation_ids?.length > 1) {
                                                {{ data.motion[0].change_recommendation_ids.length }}
                                                {{ 'change recommendations' | translate }}
                                            }
                                        </span>
                                    </span>
                                }
                            </mat-radio-button>
                        </mat-radio-group>
                        @if (hasAnyAmendment()) {
                            <mat-checkbox
                                class="indented"
                                [disabled]="!useOriginalVersion"
                                [(ngModel)]="markAmendmentsAsForwarded"
                            >
                                {{ 'mark amendments as original' | translate }}
                            </mat-checkbox>
                        }
                    </span>
                } @else if (rowName === 'submitter') {
                    <span>
                        <mat-radio-group class="motion-forward-radio-group" [(ngModel)]="useOriginalSubmitter">
                            <mat-radio-button [value]="false">
                                {{ 'Committee name' | translate }}
                                @if (activeMeetingCommitteeName) {
                                    <span class="data-preview">
                                        <span>{{ activeMeetingCommitteeName }}</span>
                                    </span>
                                }
                            </mat-radio-button>
                            <mat-radio-button [value]="true">
                                {{ 'Original submitter' | translate }}
                                @if (data.motion.length === 1 && data.motion[0].submitterNames.length > 0) {
                                    <span class="data-preview">
                                        <os-comma-separated-listing [list]="data.motion[0].submitterNames">
                                            <ng-template let-submitter>
                                                {{ getSubmitterOrDeletedUser(submitter) }}
                                            </ng-template>
                                        </os-comma-separated-listing>
                                    </span>
                                } @else if (data.motion.length === 1 && data.motion[0].submitterNames.length === 0) {
                                    <span class="data-preview">
                                        <span>{{ showActiveMeetingName() }}</span>
                                    </span>
                                }
                            </mat-radio-button>
                        </mat-radio-group>
                    </span>
                } @else if (rowName === 'identifier') {
                    <span>
                        <mat-radio-group class="motion-forward-radio-group" [(ngModel)]="useOriginalNumber">
                            <mat-radio-button [value]="false">
                                {{ 'Without identifier' | translate }}
                            </mat-radio-button>
                            <mat-radio-button [value]="true">
                                {{ 'Original identifier' | translate }}
                                @if (data.motion.length === 1) {
                                    <span class="data-preview">
                                        <span>{{ data.motion[0].number }}</span>
                                    </span>
                                }
                            </mat-radio-button>
                        </mat-radio-group>
                    </span>
                } @else if (rowName === 'attachments') {
                    <span>
                        <mat-checkbox [(ngModel)]="withAttachments"></mat-checkbox>
                        <span>{{ 'Forward attachments' | translate }}</span>
                    </span>
                } @else if (rowName === 'meeting') {
                    <span class="motion-forward-meeting-list">
                        @for (committee of committeesObservable | async; track committee) {
                            @if (committee.meetings?.length) {
                                <div>
                                    <h4>{{ committee.name }}</h4>
                                    @for (meeting of committee.meetings; track meeting) {
                                        <div>
                                            <mat-checkbox
                                                [disabled]="
                                                    isActiveMeeting(meeting) || hasAlreadyBeenForwardedTo(meeting)
                                                "
                                                [value]="meeting.id"
                                                [(ngModel)]="checkboxStateMap[meeting.id]"
                                                (change)="onChangeCheckbox($event)"
                                            >
                                                {{ meeting.name }}
                                                @if (meeting.start_time || meeting.end_time) {
                                                    <span>
                                                        &nbsp;&middot;&nbsp;
                                                        <os-meeting-time
                                                            [endTime]="meeting.end_time"
                                                            [startTime]="meeting.start_time"
                                                        ></os-meeting-time>
                                                    </span>
                                                }
                                            </mat-checkbox>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </span>
                }
            </td>
        </ng-container>

        <tr *matRowDef="let myRowData; columns: ['label', 'radio']" mat-row></tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button color="primary" mat-button [disabled]="!selectedMeetings?.size" (click)="onSaveClicked()">
        {{ 'Forward' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="null">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
