.list-view-table-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;

    .sort-filter-bar {
        flex: 0 1 auto;
        display: block;
    }

    .no-data-placeholder {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 5%;
        left: 0;
        right: 0;
        width: 100px; /* Need a specific value to work */
        font-style: italic;
    }

    .cdk-virtual-scroll-content-wrapper {
        width: 100%;
    }
}
