<span [ngClass]="cssClass">
    <ng-container *ngIf="meeting">
        <ng-container
            *ngTemplateOutlet="timeTemplate; context: { startTime: meeting.start_time, endTime: meeting.end_time }"
        ></ng-container>
    </ng-container>
    <ng-container *ngIf="!meeting">
        <ng-container
            *ngTemplateOutlet="timeTemplate; context: { startTime: startTime, endTime: endTime }"
        ></ng-container>
    </ng-container>
</span>

<ng-template #timeTemplate let-startTime="startTime" let-endTime="endTime">
    <span>{{ { start: startTime, end: endTime } | localizedDateRange: 'PP' }}</span>
</ng-template>
