<div id="container" class="projector-container" (osResized)="onResized()" #container>
    <div id="projector" class="projector">
        <div id="offline-indicator" *ngIf="isOffline">
            <mat-icon>fiber_manual_record</mat-icon>
        </div>
        <div id="header" class="headerFooter" *ngIf="projector && projector.show_header_footer">
            <!-- projector logo -->
            <ng-container *ngIf="projectorLogoObservable | async as projectorLogo">
                <img *ngIf="projector.show_logo" src="{{ projectorLogo }}" class="projector-logo-main" alt="Projector Logo"/>
            </ng-container>

            <div *ngIf="projector.show_title" id="eventdata">
                <ng-container
                    *ngIf="{
                        eventName: eventNameObservable | async,
                        eventDescription: eventDescriptionObservable | async
                    } as eventData"
                >
                    <div
                        *ngIf="eventData.eventName"
                        class="event-name ellipsis-overflow"
                        [ngClass]="{ titleonly: !eventData.eventDescription }"
                        [innerHTML]="eventData.eventName"
                    ></div>
                    <div
                        *ngIf="eventData.eventDescription"
                        class="event-description"
                        [innerHTML]="eventData.eventDescription"
                    ></div>
                </ng-container>
            </div>
        </div>

        <os-projector-clock *ngIf="projector!.show_clock" [color]="projector!.header_font_color"></os-projector-clock>

        <div *ngFor="let slide of slides | async">
            <os-slide-container
                [slideData]="slide"
                [scroll]="projector!.scroll"
                [scale]="projector!.scale"
                [projector]="projector!"
            ></os-slide-container>
        </div>

        <div id="footer" class="headerFooter" *ngIf="projector && projector.show_header_footer">
            <div class="footertext"></div>
        </div>
    </div>
</div>
