@if (data) {
    <div>
        @if (isImage) {
            <div
                [ngClass]="isFullscreen ? 'fullscreen' : 'nofullscreen'"
                [ngStyle]="{ background: isFullscreen ? '#000' : '#ffffff' }"
            >
                <img alt="" [src]="url | trust: 'url'" />
            </div>
        }
        @if (isPdf && url) {
            <div class="fullscreen">
                <pdf-viewer
                    [autoresize]="true"
                    [fit-to-page]="true"
                    [original-size]="false"
                    [page]="page"
                    [show-all]="true"
                    [src]="url"
                    [zoom]="zoom"
                    (page-rendered)="pdfLoaded()"
                ></pdf-viewer>
            </div>
        }
    </div>
}
