<os-head-bar>
    <div class="title-slot">
        <h2>{{ 'Autopilot' | translate }}</h2>
    </div>
</os-head-bar>
<div class="content-container">
    <div class="col-main">
        <!-- Title Card -->
        <mat-card class="os-card" *ngIf="!!title">
            <mat-card-content>
                <a [routerLink]="viewModelUrl || null" [target]="lowerProjectionTarget" [state]="{ back: 'true' }">
                    <h1 class="line-and-icon">
                        {{ title | translate }}
                    </h1>
                </a>
            </mat-card-content>
        </mat-card>

        <!-- List of speakers -->
        <os-list-of-speakers-content
            *osPerms="[permission.listOfSpeakersCanSee, permission.listOfSpeakersCanBeSpeaker]; and: !!listOfSpeakers"
            [listOfSpeakers]="listOfSpeakers!"
            (canReaddLastSpeakerEvent)="canReaddLastSpeaker = $event"
        >
            <ng-template osListOfSpeakersContentTitle>
                <p class="line-and-icon subtitle-text">
                    <a [routerLink]="closUrl" *ngIf="closUrl">
                        {{ 'List of speakers' | translate }}
                    </a>
                    <span *ngIf="!closUrl">
                        {{ 'List of speakers' | translate }}
                    </span>

                    <ng-container *osPerms="permission.listOfSpeakersCanManage; complement: true">
                        <mat-icon
                            *ngIf="isLosClosed"
                            matTooltip="{{ 'The list of speakers is closed.' | translate }}"
                            matTooltipPosition="above"
                        >
                            lock
                        </mat-icon>
                    </ng-container>

                    <ng-container *osPerms="permission.listOfSpeakersCanManage">
                        <button mat-icon-button (click)="toggleListOfSpeakersOpen()">
                            <mat-icon
                                *ngIf="isLosClosed"
                                matTooltip="{{ 'The list of speakers is closed.' | translate }}"
                                matTooltipPosition="above"
                            >
                                lock
                            </mat-icon>

                            <mat-icon
                                *ngIf="!isLosClosed"
                                matTooltip="{{ 'The list of speakers is open.' | translate }}"
                                matTooltipPosition="above"
                            >
                                lock_open
                            </mat-icon>
                        </button>

                        <button
                            mat-icon-button
                            (click)="readdLastSpeaker()"
                            matTooltip="{{ 'Re-add last speaker' | translate }}"
                            matTooltipPosition="above"
                            [disabled]="!canReaddLastSpeaker"
                        >
                            <mat-icon>undo</mat-icon>
                        </button>
                    </ng-container>
                </p>
            </ng-template>
        </os-list-of-speakers-content>

        <mat-card *ngIf="moderationNotes" class="os-card spacer-bottom-60">
            <mat-card-content>
                <p class="subtitle-text" translate>Moderation note</p>
                <p>{{ moderationNotes }}</p>
            </mat-card-content>
        </mat-card>

        <!-- Poll-Collection -->
        <os-poll-collection *ngIf="showPollCollection" [currentProjection]="projectedViewModel"></os-poll-collection>

        <!-- Projector -->
        <mat-card class="os-card spacer-bottom-60">
            <mat-card-content>
                <a [routerLink]="projectorUrl" [target]="projectionTarget" [state]="{ back: 'true' }">
                    <p class="subtitle-text">{{ projectorTitle | translate }}</p>
                </a>

                <a [routerLink]="viewModelUrl || null" [target]="lowerProjectionTarget" [state]="{ back: 'true' }">
                    <div class="projector">
                        <os-projector *ngIf="projector" [projector]="projector"></os-projector>
                    </div>
                </a>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-right">
        <mat-card class="os-card spacer-bottom-60">
            <mat-card-content>
                <p class="subtitle-text" translate>Speaking times</p>
                <mat-tab-group>
                    <mat-tab [label]="'Total' | translate">
                        <div class="structure-level-list">
                            <div class="structure-level">
                                <span class="structure-level-time" style="border-top-color: rgb(237, 28, 36)">20:00</span>
                                <div class="structure-level-name">SPD</div>
                            </div>
                            <div class="structure-level">
                                <span class="structure-level-time" style="border-top-color: #010101">20:00</span>
                                <div class="structure-level-name">CDU</div>
                            </div>
                            <div class="structure-level">
                                <span class="structure-level-time">20:00</span>
                                <div class="structure-level-name">Koalition</div>
                            </div>
                            <div class="structure-level">
                                <span class="structure-level-time">20:00</span>
                                <div class="structure-level-name">Koalition</div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab [label]="'Speakers' | translate">
                        <div class="speakers-card">
                            <div class="speaker">
                                <div class="speaker-info">
                                    <span class="speaker-name">Eva Richter</span>
                                    <span class="speaker-structure-level">SPD</span>
                                </div>
                                <div class="speaker-progress">
                                    <div class="speaker-time">01:26</div>
                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    <div class="speaker-time">18:34</div>
                                </div>
                                <div class="speaker-actions">
                                    <button mat-icon-button>
                                        <mat-icon>pause</mat-icon>
                                    </button>
                                    <button mat-icon-button>
                                        <mat-icon>stop</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="speaker interposed">
                                <div class="speaker-type" translate>Interposed question</div>
                                <div class="speaker-info">
                                    <span class="speaker-name">Eva Richter</span>
                                    <span class="speaker-structure-level">SPD</span>
                                </div>
                                <div class="speaker-progress">
                                    <div class="speaker-time">01:26</div>
                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    <div class="speaker-time">18:34</div>
                                </div>
                                <div class="speaker-actions">
                                    <button mat-icon-button>
                                        <mat-icon>play_arrow</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
