<mat-card appearance="outlined" class="meeting-prev">
    <mat-card-header
        [ngClass]="{ 'background-accent': meeting.isActive, 'background-dark-brighter': meeting.isArchived }"
    >
        <mat-card-title class="break-word">
            {{ title }}
        </mat-card-title>

        <span class="align-right align-center">
            <mat-label class="archived-label" *ngIf="meeting.isArchived">{{ 'Archived' | translate }}</mat-label>
            <ng-container *osCmlPerms="CML.can_manage; committeeId: committee.id; nonAdminCheck: true">
                <div *ngIf="isTemplateMeeting" class="template-indicator">
                    <mat-icon [matTooltip]="'Public template' | translate">star</mat-icon>
                </div>

                <button type="button" mat-icon-button [matMenuTriggerFor]="meetingMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </ng-container>
        </span>
    </mat-card-header>
    <mat-card-content class="prev-content">
        <!-- date location -->
        <div class="date-loc">
            <!-- location -->
            <span>
                {{ location }}
            </span>
            <span *ngIf="location && (meeting.start_time || meeting.end_time)">&nbsp;&middot;&nbsp;</span>
            <!-- date -->
            <span>
                <os-meeting-time [meeting]="meeting"></os-meeting-time>
            </span>
        </div>

        <!-- desc -->
        <!-- <div>
            {{ description }}
        </div> -->
        <!-- tags -->
        <div class="ellipsis-overflow" *ngIf="meeting.organization_tags.length">
            <os-chip *ngFor="let tag of meeting.organization_tags" [color]="tag.color">
                {{ tag.name }}
            </os-chip>
        </div>
    </mat-card-content>
    <mat-card-actions class="prev-content">
        <a *ngIf="canEnter" mat-stroked-button color="accent" [routerLink]="meeting.getUrl()">
            {{ 'Open meeting' | translate }}
        </a>
        <span
            *ngIf="!canEnter"
            matTooltip="{{ 'You cannot enter this meeting because you are not assigned to any group.' | translate }}"
        >
            <button mat-stroked-button color="accent" [disabled]="true">
                {{ 'Open meeting' | translate }}
            </button>
        </span>
    </mat-card-actions>

    <mat-card-content>
        <!-- users -->
        <div class="user-footer">
            <ng-container
                *osOmlPerms="OML.can_manage_users; then canManageUsersTemplate; else canNotManageUsersTemplate"
            ></ng-container>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #canNotManageUsersTemplate>
    <div class="fake-button-no-touch" matTooltip="{{ userAmount }} {{ 'participants' | translate }}">
        <mat-icon
            [class.smaller-badge-text]="shouldUseSmallerBadgeText"
            [matBadgeHidden]="!showUserAmount"
            [matBadge]="formattedUserAmount"
            [matBadgeColor]="'accent'"
        >
            group
        </mat-icon>
    </div>
</ng-template>
<ng-template #canManageUsersTemplate>
    <button
        mat-icon-button
        matTooltip="{{ userAmount }} {{ 'participants' | translate }}"
        (click)="changeToMeetingUsers()"
    >
        <mat-icon
            [class.smaller-badge-text]="shouldUseSmallerBadgeText"
            [matBadgeHidden]="!showUserAmount"
            [matBadge]="formattedUserAmount"
            [matBadgeColor]="'accent'"
        >
            group
        </mat-icon>
    </button>
</ng-template>

<mat-menu #meetingMenu="matMenu">
    <ng-template matMenuContent>
        <a mat-menu-item [routerLink]="['meeting', 'edit', meeting.id]" *ngIf="!meeting.isArchived">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </a>
        <button mat-menu-item (click)="toggleTemplateMeeting()" *ngIf="!meeting.isArchived">
            <mat-icon color="accent">
                {{ isTemplateMeeting ? 'check_box' : 'check_box_outline_blank' }}
            </mat-icon>
            <span>{{ 'Public template' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onDuplicate()">
            <mat-icon>file_copy</mat-icon>
            <span>{{ 'Duplicate' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="meeting.isActive" (click)="onArchive()">
            <mat-icon>archive</mat-icon>
            <span>{{ 'Archive' | translate }}</span>
        </button>
        <button mat-menu-item *osOmlPerms="OML.superadmin; and: meeting.isArchived" (click)="onUnarchive()">
            <mat-icon>unarchive</mat-icon>
            <span>{{ 'Activate' | translate }}</span>
        </button>
        <button mat-menu-item *osOmlPerms="OML.superadmin" (click)="exportMeeting()">
            <mat-icon>file_download</mat-icon>
            <span>{{ 'Export' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="red-warning-text" (click)="onDeleteMeeting()">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>
