<mat-card class="os-card">
    <mat-card-header
        class="os-mat-card-header"
        [ngClass]="{ 'background-accent': meeting.isActive, 'background-dark-brighter': meeting.isArchived }"
    >
        <mat-card-title class="break-word">
            @if (meeting.publicAccessPossible()) {
                <div class="template-indicator">
                    <mat-icon [matTooltip]="'Public' | translate">public</mat-icon>
                </div>
            }
            @if (meeting.locked_from_inside) {
                <div class="template-indicator">
                    <mat-icon [matTooltip]="'Closed' | translate">lock</mat-icon>
                </div>
            }
            {{ title }}
        </mat-card-title>

        <span class="committee-card-menu align-right">
            @if (meeting.isArchived) {
                <mat-label class="archived-label">{{ 'Archived' | translate }}</mat-label>
            }
            <ng-container *osCmlPerms="CML.can_manage; committeeId: committee.id">
                @if (isTemplateMeeting) {
                    <div class="template-indicator">
                        <mat-icon [matTooltip]="'Public template' | translate">star</mat-icon>
                    </div>
                }

                <button mat-icon-button type="button" [matMenuTriggerFor]="meetingMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </ng-container>
        </span>
    </mat-card-header>
    <mat-card-content class="prev-content">
        <!-- date location -->
        <div>
            <!-- location -->
            <span>
                {{ location }}
            </span>
            @if (location && (meeting.start_time || meeting.end_time)) {
                <span>&nbsp;&middot;&nbsp;</span>
            }
            <!-- date -->
            <span>
                <os-meeting-time [meeting]="meeting"></os-meeting-time>
            </span>
        </div>

        <!-- desc -->
        <!-- <div>
    {{ description }}
  </div> -->
        <!-- tags -->
        @if (meeting.organization_tags.length) {
            <div class="ellipsis-overflow">
                @for (tag of meeting.organization_tags; track tag) {
                    <os-chip [color]="tag.color">
                        {{ tag.name }}
                    </os-chip>
                }
            </div>
        }
    </mat-card-content>
    <mat-card-actions class="prev-content">
        @if (canEnter) {
            <a color="accent" mat-stroked-button [routerLink]="meeting.getUrl()">
                {{ 'Open meeting' | translate }}
            </a>
        }
        @if (!canEnter) {
            <span
                matTooltip="{{
                    'You cannot enter this meeting because you are not assigned to any group.' | translate
                }}"
            >
                <button color="accent" mat-stroked-button [disabled]="true">
                    {{ 'Open meeting' | translate }}
                </button>
            </span>
        }
    </mat-card-actions>

    <mat-card-content>
        <!-- users -->
        <div class="user-footer">
            <ng-container
                *osCmlPerms="
                    CML.can_manage;
                    committeeId: committee.id;
                    orOML: OML.can_manage_users;
                    then: canManageUsersTemplate;
                    else: canNotManageUsersTemplate
                "
            ></ng-container>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #canNotManageUsersTemplate>
    <div class="fake-button-no-touch" matTooltip="{{ userAmount }} {{ 'participants' | translate }}">
        <mat-icon
            [class.smaller-badge-text]="shouldUseSmallerBadgeText"
            [matBadge]="formattedUserAmount"
            [matBadgeColor]="'accent'"
            [matBadgeHidden]="!showUserAmount"
        >
            group
        </mat-icon>
    </div>
</ng-template>
<ng-template #canManageUsersTemplate>
    <button
        mat-icon-button
        matTooltip="{{ userAmount }} {{ 'participants' | translate }}"
        (click)="changeToMeetingUsers()"
    >
        <mat-icon
            [class.smaller-badge-text]="shouldUseSmallerBadgeText"
            [matBadge]="formattedUserAmount"
            [matBadgeColor]="'accent'"
            [matBadgeHidden]="!showUserAmount"
        >
            group
        </mat-icon>
    </button>
</ng-template>

<mat-menu #meetingMenu="matMenu">
    <ng-template matMenuContent>
        @if (
            !meeting.isArchived &&
            (meeting?.canBeEnteredBy(operator.user) ||
                operator.canSkipPermissionCheck ||
                operator.hasCommitteeManagementRights(meeting.committee_id))
        ) {
            <a mat-menu-item [routerLink]="['meeting', 'edit', meeting.id]">
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit' | translate }}</span>
            </a>
        }
        @if (!meeting.isArchived && !isCMAndRequireDuplicateFrom && !isLockedFromInside) {
            <button mat-menu-item (click)="toggleTemplateMeeting()">
                <mat-icon color="accent">
                    {{ isTemplateMeeting ? 'check_box' : 'check_box_outline_blank' }}
                </mat-icon>
                <span>{{ 'Public template' | translate }}</span>
            </button>
        }
        @if (canEditMeetingSetting) {
            <button mat-menu-item (click)="onDuplicate()">
                <mat-icon>file_copy</mat-icon>
                <span>{{ 'Duplicate' | translate }}</span>
            </button>
        }
        @if (meeting.isActive) {
            <button mat-menu-item (click)="onArchive()">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Archive' | translate }}</span>
            </button>
        }
        <button *osOmlPerms="OML.superadmin; and: meeting.isArchived" mat-menu-item (click)="onUnarchive()">
            <mat-icon>unarchive</mat-icon>
            <span>{{ 'Activate' | translate }}</span>
        </button>
        @if (!isLockedFromInside) {
            <button *osOmlPerms="OML.superadmin" mat-menu-item (click)="exportMeeting()">
                <mat-icon>file_download</mat-icon>
                <span>{{ 'Export' | translate }}</span>
            </button>
        }
        @if (canEditMeetingSetting) {
            <mat-divider />
            <button class="red-warning-text" mat-menu-item (click)="onDeleteMeeting()">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        }
    </ng-template>
</mat-menu>
