.meeting-prev {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    position: relative;

    .mat-card-header {
        min-height: 40px;
        display: flex !important;

        .mat-card-header-text {
            flex: 1;
            margin-top: auto !important;
            margin-bottom: auto !important;

            .mat-card-title {
                margin: 0;
            }
        }

        .align-right {
            min-width: 40px;
        }
    }

    .mat-card-content {
        margin-top: 1em;

        .date-loc {
            display: flex;
            font-size: large;
            margin-bottom: 0.5em;
        }
    }

    .mat-card-actions {
        padding-bottom: 15px;
    }

    .user-footer {
        position: absolute;
        right: 0.5em;
        bottom: 0;
    }
}

.prev-content {
    padding: 0 20px;
}

.archived-label {
    padding: 6px;
    border: 1px solid;
    border-radius: 4px;
}

.template-indicator {
    display: inline-block;
    width: 40px;
    text-align: center;
    .mat-icon {
        vertical-align: middle;
    }
}
