<os-head-bar
    [hasMainButton]="canManage"
    [mainActionTooltip]="'New topic' | translate"
    [multiSelectMode]="isMultiSelect"
    (mainEvent)="onPlusButton()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Agenda' | translate }}</h2>
    </div>
    <!-- Menu -->
    <ng-container class="menu-slot">
        <button mat-icon-button type="button" [matMenuTriggerFor]="agendaMenu"><mat-icon>more_vert</mat-icon></button>
    </ng-container>

    <!-- Multiselect info -->
    <ng-container class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;{{ 'selected' | translate }}</span>
    </ng-container>
</os-head-bar>

<os-projectable-list
    [alwaysShowMenu]="canManage"
    [filterProps]="filterProps"
    [filterService]="filterService"
    [getSpeakerButtonObject]="getSpeakerButtonObject"
    [hiddenInMobile]="['info']"
    [listObservable]="agendaItemsObservable"
    [multiSelect]="isMultiSelect"
    [showMenu]="canSeeMenu"
    [vScrollFixed]="76"
    [(selectedRows)]="selectedRows"
>
    <!-- Title column -->
    <div *osScrollingTableCell="'title'; row as item; rowContext as rowContext" class="cell-slot fill">
        @if (!isMultiSelect) {
            <os-detail-view-navigator [model]="item.content_object"></os-detail-view-navigator>
        }
        <div class="innerTable" [ngStyle]="{ 'margin-left': item.level * 25 + 'px' }">
            <!-- Title line -->
            <div class="title-line ellipsis-overflow">
                <!-- Is Closed -->
                @if (item.closed) {
                    <span class="icon-prefix">
                        <mat-icon>check</mat-icon>
                    </span>
                }

                <!-- Title -->
                <span>
                    {{ item.getListTitle() }}
                </span>
            </div>

            <!-- Subtitle line -->
            @if (showSubtitles | async) {
                <div class="subtitle ellipsis-overflow">
                    {{ item.getSubtitle() }}
                </div>
            }

            <!-- Comment line -->
            @if (item.comment) {
                <div class="subtitle ellipsis-overflow">
                    <os-icon-container icon="comment" size="small" [noWrap]="true">
                        {{ item.comment }}
                    </os-icon-container>
                </div>
            }
        </div>
    </div>

    <!-- Info Column -->
    <div
        *osScrollingTableCell="'info'; row as item; config: { width: 120 }"
        class="cell-slot fill clickable"
        tabindex="0"
        (click)="openEditInfo(item)"
        (keyup.space)="openEditInfo(item)"
    >
        <div class="info-col-items">
            <!-- Tags -->
            @if (item.tags && item.tags.length) {
                <div>
                    <os-icon-container icon="local_offer">
                        <os-comma-separated-listing [list]="item.tags">
                            <ng-template let-tag>{{ tag.getTitle() }}</ng-template>
                        </os-comma-separated-listing>
                    </os-icon-container>
                </div>
            }

            <!-- Visibility (Internal, Public, Hidden) -->
            <div *osPerms="permission.agendaItemCanManage; and: item.verboseType" class="spacer-top-5">
                <os-icon-container icon="visibility">{{ item.verboseType | translate }}</os-icon-container>
            </div>

            <!-- Duration -->
            @if (item.duration) {
                <div class="spacer-top-5">
                    <os-icon-container icon="access_time">
                        {{ durationService.durationToString(item.duration, 'h') }}
                    </os-icon-container>
                </div>
            }
        </div>
    </div>

    <!-- Menu -->
    <div
        *osScrollingTableCell="'menu'; row as item; config: { width: 40, position: END_POSITION }"
        class="cell-slot fill"
    >
        <button
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerData]="{ item: item }"
            [matMenuTriggerFor]="singleItemMenu"
            (click)="$event.stopPropagation()"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-projectable-list>

<mat-menu #agendaMenu="matMenu">
    @if (!isMultiSelect) {
        <div>
            <div *osPerms="permission.agendaItemCanManage">
                <!-- Enable multi select -->
                <button mat-menu-item (click)="toggleMultiSelect()">
                    <mat-icon>library_add</mat-icon>
                    <span>{{ 'Multiselect' | translate }}</span>
                </button>
                <mat-divider></mat-divider>
                <!-- automatic numbering -->
                @if (isNumberingAllowed) {
                    <button mat-menu-item (click)="onAutoNumbering()">
                        <mat-icon>format_list_numbered</mat-icon>
                        <span>{{ 'Numbering' | translate }}</span>
                    </button>
                }
                <button mat-menu-item [routerLink]="['/', activeMeetingId, 'agenda', 'sort']">
                    <mat-icon>sort</mat-icon>
                    <span>{{ 'Sort' | translate }}</span>
                </button>
            </div>
            <!-- Project agenda -->
            <os-projector-button [menuItem]="true" [object]="itemListSlide"></os-projector-button>
            <!-- Tags -->
            <button
                *osPerms="permission.tagCanManage"
                mat-menu-item
                [routerLink]="['/', activeMeetingId, 'motions', 'tags']"
            >
                <mat-icon>local_offer</mat-icon>
                <span>{{ 'Tags' | translate }}</span>
            </button>
            <mat-divider></mat-divider>
            <!-- PDF/CSV export -->
            <button mat-menu-item (click)="exportAgendaItems()">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Export' | translate }}</span>
            </button>
            <!-- Import -->
            <button
                *osPerms="permission.agendaItemCanManage"
                mat-menu-item
                [routerLink]="['/', activeMeetingId, 'agenda', 'topics', 'import']"
            >
                <mat-icon>cloud_upload</mat-icon>
                <span>{{ 'Import' | translate }}</span>
            </button>
            <div *osPerms="permission.agendaItemCanManage">
                <mat-divider></mat-divider>
                <button class="red-warning-text" mat-menu-item (click)="deleteAllSpeakersOfAllListsOfSpeakers()">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'Clear all list of speakers' | translate }}</span>
                </button>
            </div>
            <div *osPerms="permission.meetingCanManageSettings">
                <mat-divider></mat-divider>
                <!-- Settings -->
                <button mat-menu-item [routerLink]="['/', activeMeetingId, 'settings', 'agenda']">
                    <mat-icon>settings</mat-icon>
                    <span>{{ 'Settings' | translate }}</span>
                </button>
            </div>
        </div>
    }
    @if (isMultiSelect) {
        <div>
            <!-- Select all -->
            <button mat-menu-item (click)="selectAll()">
                <mat-icon>done_all</mat-icon>
                <span>{{ 'Select all' | translate }}</span>
            </button>
            <!-- Deselect all -->
            <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
                <mat-icon>clear</mat-icon>
                <span>{{ 'Deselect all' | translate }}</span>
            </button>
            <mat-divider></mat-divider>
            <div *osPerms="permission.agendaItemCanManage">
                <!-- Close selected -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="closeSelectedItems()">
                    <mat-icon>done</mat-icon>
                    <span>{{ 'Done' | translate }}</span>
                </button>
                <!-- Open selected -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="openSelectedItems()">
                    <mat-icon>redo</mat-icon>
                    <span>{{ 'Reopen' | translate }}</span>
                </button>
                <mat-divider></mat-divider>
                <!-- Open selected list of speakers -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setLosClosed(false)">
                    <mat-icon>record_voice_over</mat-icon>
                    <span>{{ 'Open list of speakers' | translate }}</span>
                </button>
                <!-- Close selected list of speakers -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setLosClosed(true)">
                    <mat-icon>voice_over_off</mat-icon>
                    <span>{{ 'Close list of speakers' | translate }}</span>
                </button>
                <mat-divider></mat-divider>
                @if (tags.length) {
                    <button mat-menu-item [disabled]="!selectedRows.length" (click)="changeSelectedTags()">
                        <mat-icon>local_offer</mat-icon>
                        <span>{{ 'Set tags' | translate }} ...</span>
                    </button>
                }
                <!-- Set multiple to public -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setAgendaType(AGENDA_TYPE_PUBLIC)">
                    <mat-icon>public</mat-icon>
                    <span>{{ 'Set public' | translate }}</span>
                </button>
                <!-- Set multiple to internal -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setAgendaType(AGENDA_TYPE_INTERNAL)">
                    <mat-icon>visibility</mat-icon>
                    <span>{{ 'Set internal' | translate }}</span>
                </button>
                <!-- Set multiple to hidden -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setAgendaType(AGENDA_TYPE_HIDDEN)">
                    <mat-icon>visibility_off</mat-icon>
                    <span>{{ 'Set hidden' | translate }}</span>
                </button>
                <mat-divider></mat-divider>
                <!-- PDF/CSV export -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="exportAgendaItems()">
                    <mat-icon>archive</mat-icon>
                    <span>{{ 'Export' | translate }}</span>
                </button>
                <!-- Duplicate items -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="duplicateMultipleTopics(selectedRows)">
                    <mat-icon>file_copy</mat-icon>
                    <span>{{ 'Duplicate' | translate }}</span>
                </button>
                @if (canForward && isAdmin) {
                    <button
                        mat-menu-item
                        [disabled]="!selectedRows.length"
                        (click)="forwardAgendaItemsToMeetings(selectedRows)"
                    >
                        <mat-icon>forward</mat-icon>
                        <span>{{ 'Copy to' | translate }} ...</span>
                    </button>
                }
                <!-- Delete selected -->
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="removeSelected()">
                    <mat-icon>remove</mat-icon>
                    <span>{{ 'Remove from agenda' | translate }}</span>
                </button>
            </div>
        </div>
    }
</mat-menu>

<mat-menu #singleItemMenu="matMenu">
    <ng-template let-item="item" matMenuContent>
        <!-- Mobile entries -->
        @if (vp.isMobile) {
            <div>
                <os-projector-button [menuItem]="true" [object]="item.content_object"></os-projector-button>
                <os-speaker-button [menuItem]="true" [object]="item.content_object"></os-speaker-button>
            </div>
        }

        <!-- Agenda entries -->
        <div *osPerms="permission.agendaItemCanManage">
            <!-- Done check -->
            <button mat-menu-item (click)="onDoneSingleButton(item)">
                <mat-icon color="accent">{{ item.closed ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                <span>{{ 'Done' | translate }}</span>
            </button>

            <!-- Edit button -->
            <button mat-menu-item (click)="openEditInfo(item)">
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit details' | translate }}</span>
            </button>

            <button mat-menu-item (click)="onPlusButton(item.id)">
                <mat-icon>add_circle</mat-icon>
                <span>{{ 'Create subitem' | translate }}</span>
            </button>

            <!-- PDF/CSV Export -->
            <button mat-menu-item (click)="exportAgendaItem(item.id)">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Export' | translate }}</span>
            </button>

            <!-- Duplicate button -->
            @if (isTopic(item.content_object)) {
                <button mat-menu-item (click)="duplicateTopic(item)">
                    <mat-icon>file_copy</mat-icon>
                    <span>{{ 'Duplicate' | translate }}</span>
                </button>
            }

            <!-- Delete Button -->
            @if (!isTopic(item.content_object)) {
                <button mat-menu-item (click)="removeFromAgenda(item)">
                    <mat-icon>remove</mat-icon>
                    <span>{{ 'Remove from agenda' | translate }}</span>
                </button>
            }
            @if (isTopic(item.content_object)) {
                <button class="red-warning-text" mat-menu-item (click)="deleteTopic(item)">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'Delete' | translate }}</span>
                </button>
            }
        </div>
    </ng-template>
</mat-menu>
