<!-- Regular motions or traditional amendments -->
@if (!isParagraphBasedAmendment) {
    @let changeRecoMode = changeRecoMode$ | async;
    @let lineNumberingMode = lineNumberingMode$ | async;

    @if (changeRecoMode !== ChangeRecoMode.Diff) {
        <!-- Text (hide preamble, if diff mode. The preample is included in the motion-detail-diff component) -->
        @if (showPreamble) {
            <span class="text-prefix-label">
                {{ preamble }}
            </span>
        }

        <div
            class="motion-text underlined-links"
            [class.line-numbers-inline]="lineNumberingMode === LineNumberingMode.Inside"
            [class.line-numbers-none]="lineNumberingMode === LineNumberingMode.None"
            [class.line-numbers-outside]="lineNumberingMode === LineNumberingMode.Outside"
        >
            @if (lineNumberingMode === LineNumberingMode.Outside && changeRecoMode === ChangeRecoMode.Original) {
                <os-motion-detail-original-change-recommendations
                    [changeRecommendations]="changeRecommendations"
                    [html]="formattedTextPlain$ | async"
                    [motionId]="motion.id"
                    (createChangeRecommendation)="createChangeRecommendation($event)"
                    (gotoChangeRecommendation)="gotoChangeRecommendation($event)"
                ></os-motion-detail-original-change-recommendations>
            } @else {
                <os-motion-final-version
                    [formattedText]="formattedTextPlain$ | async"
                    [motion]="motion"
                ></os-motion-final-version>
            }
        </div>
    } @else {
        <os-motion-detail-diff
            [changes]="changesForDiffMode$ | async"
            [highlightedLine]="highlightedLine"
            [lineNumberingMode]="lineNumberingMode"
            [motion]="motion"
            [scrollToChange]="scrollToChange"
            [showAllAmendments]="showAllAmendments"
            (createChangeRecommendation)="createChangeRecommendation($event)"
        ></os-motion-detail-diff>
    }
} @else {
    <!-- Paragraph-based amendments -->
    <os-paragraph-based-amendment
        [changesForDiffMode]="changesForDiffMode$ | async"
        [highlightedLine]="highlightedLine"
        [motion]="motion"
        (createChangeRecommendation)="createChangeRecommendation($event)"
    ></os-paragraph-based-amendment>
}

<div class="motion-content">
    <!-- Reason -->
    @if (motion.reason) {
        <div>
            <h3>{{ 'Reason' | translate }}</h3>
            <div class="motion-text underlined-links" [innerHtml]="motion.reason | trust: 'html'"></div>
        </div>
    }

    <div class="extra-data">
        <!-- Attachments -->
        @if (hasAttachments) {
            <div class="content-field">
                <div>
                    <h3>
                        {{ 'Attachments' | translate }}
                        <mat-icon>attach_file</mat-icon>
                    </h3>
                    <mat-list dense>
                        @for (file of motion.attachments$ | async; track file.id) {
                            <mat-list-item>
                                <a target="_blank" [routerLink]="file.url">{{ file.title }}</a>
                            </mat-list-item>
                        }
                    </mat-list>
                </div>
            </div>
        }
    </div>
</div>
