<!-- Regular motions or traditional amendments -->
<ng-container *ngIf="!editMotion && !motion?.isStatuteAmendment() && !motion?.isParagraphBasedAmendment()">
    <!-- Text (hide preamble, if diff mode. The preample is included in the motion-detail-diff component) -->
    <span *ngIf="showPreamble && changeRecoMode !== ChangeRecoMode.Diff" class="text-prefix-label">
        {{ preamble | translate }}
    </span>
    <div
        *ngIf="changeRecoMode !== ChangeRecoMode.Diff && !isFinalEdit"
        class="motion-text"
        [class.line-numbers-none]="lineNumberingMode === LineNumberingMode.None"
        [class.line-numbers-inline]="lineNumberingMode === LineNumberingMode.Inside"
        [class.line-numbers-outside]="lineNumberingMode === LineNumberingMode.Outside"
    >
        <os-motion-detail-original-change-recommendations
            *ngIf="lineNumberingMode === LineNumberingMode.Outside && changeRecoMode === ChangeRecoMode.Original"
            [html]="getFormattedTextPlain()"
            [changeRecommendations]="changeRecommendations"
            (createChangeRecommendation)="createChangeRecommendation($event)"
            (gotoChangeRecommendation)="gotoChangeRecommendation($event)"
        ></os-motion-detail-original-change-recommendations>
        <os-motion-final-version
            *ngIf="lineNumberingMode !== LineNumberingMode.Outside || changeRecoMode !== ChangeRecoMode.Original"
            [formattedText]="getFormattedTextPlain()"
            [motion]="motion"
        ></os-motion-final-version>
    </div>
    <os-motion-detail-diff
        *ngIf="changeRecoMode === ChangeRecoMode.Diff"
        [motion]="motion"
        [changes]="getChangesForDiffMode()"
        [scrollToChange]="scrollToChange"
        [highlightedLine]="highlightedLine"
        [showAllAmendments]="showAllAmendments"
        [lineNumberingMode]="lineNumberingMode"
        (createChangeRecommendation)="createChangeRecommendation($event)"
    ></os-motion-detail-diff>
</ng-container>

<form class="motion-content" [formGroup]="contentForm" (keydown)="onKeyDown($event)">
    <!-- Selecting statute paragraphs for amendment -->
    <div class="statute-amendment-selector" *ngIf="newMotion && statuteParagraphs.length && statutesEnabled">
        <mat-checkbox formControlName="statute_amendment" (change)="onStatuteAmendmentChange($event)">
            {{ 'Statute amendment' | translate }}
        </mat-checkbox>

        <mat-form-field *ngIf="contentForm.value.statute_amendment">
            <mat-select
                [placeholder]="'Statute paragraph' | translate"
                formControlName="statute_paragraph_id"
                (valueChange)="onStatuteParagraphChange($event)"
            >
                <mat-option *ngFor="let paragraph of statuteParagraphs" [value]="paragraph.id">
                    {{ paragraph.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Submitter -->
    <div *ngIf="newMotion" class="content-field">
        <ng-container *ngIf="canChangeMetadata">
            <mat-form-field>
                <os-repo-search-selector
                    formControlName="submitter_ids"
                    [multiple]="true"
                    placeholder="{{ 'Submitters' | translate }}"
                    [repo]="participantRepo"
                    [subscriptionConfig]="participantSubscriptionConfig"
                    (clickNotFound)="createNewSubmitter($event)"
                >
                    <ng-template osSearchSelectorNotFoundTemplate *osPerms="permission.userCanManage">
                        <mat-icon>add</mat-icon>
                        {{ 'Create user' | translate }}
                    </ng-template>
                </os-repo-search-selector>
            </mat-form-field>
        </ng-container>
    </div>

    <div class="form-id-title">
        <!-- number -->
        <div *ngIf="editMotion && !newMotion && canChangeMetadata" class="content-field form-number">
            <mat-form-field *ngIf="editMotion">
                <input matInput osAutofocus placeholder="{{ 'Number' | translate }}" formControlName="number" />
                <mat-error>{{ 'already exists' | translate }}</mat-error>
            </mat-form-field>
        </div>

        <!-- Title -->
        <div *ngIf="editMotion" class="content-field form-title">
            <mat-form-field *ngIf="editMotion">
                <input matInput placeholder="{{ 'Title' | translate }}" formControlName="title" required />
                <mat-error>{{ 'The title is required' | translate }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <!-- formatted statute amendment -->
    <div
        class="motion-text line-numbers-none"
        *ngIf="!editMotion && motion?.isStatuteAmendment()"
        [innerHTML]="getFormattedStatuteAmendment() | trust: 'html'"
    ></div>

    <!-- The HTML Editor for motions and traditional amendments -->
    <ng-container *ngIf="editMotion && !isParagraphBasedAmendment">
        <os-editor formControlName="text" [required]="!isParagraphBasedAmendment"></os-editor>
        <div
            *ngIf="
                contentForm.get('text')?.invalid && (contentForm.get('text')?.dirty || contentForm.get('text')?.touched)
            "
            class="red-warning-text"
        >
            {{ 'This field is required.' | translate }}
        </div>
    </ng-container>

    <!-- Paragraph-based amendments -->
    <ng-container *ngIf="isParagraphBasedAmendment">
        <os-paragraph-based-amendment
            [motion]="motion"
            [changesForDiffMode]="getChangesForDiffMode()"
            [highlightedLine]="highlightedLine"
            [isFinalEdit]="isFinalEdit"
            [editMotion]="editMotion"
            (createChangeRecommendation)="createChangeRecommendation($event)"
            (formChanged)="paragraphBasedAmendmentContent = $event"
            (validStateChanged)="canSaveParagraphBasedAmendment = $event"
        ></os-paragraph-based-amendment>
    </ng-container>

    <!-- Reason -->
    <div *ngIf="motion?.reason || editMotion">
        <h3
            [ngClass]="
                reasonRequired &&
                contentForm.get('reason')?.invalid &&
                (contentForm.get('reason')?.dirty || contentForm.get('reason')?.touched)
                    ? 'red-warning-text'
                    : ''
            "
        >
            <span>{{ 'Reason' | translate }}</span>
            &nbsp;
            <span *ngIf="reasonRequired && editMotion">*</span>
        </h3>
        <div class="motion-text" *ngIf="!editMotion" [innerHtml]="motion?.reason | trust: 'html'"></div>

        <!-- The HTML Editor -->
        <os-editor *ngIf="editMotion" formControlName="reason" [required]="reasonRequired"></os-editor>
        <div
            *ngIf="
                reasonRequired &&
                contentForm.get('reason')?.invalid &&
                (contentForm.get('reason')?.dirty || contentForm.get('reason')?.touched)
            "
            class="red-warning-text"
        >
            {{ 'This field is required.' | translate }}
        </div>
    </div>

    <!-- Category form -->
    <div class="content-field" *ngIf="newMotion && hasCategories">
        <mat-form-field>
            <os-repo-search-selector
                formControlName="category_id"
                placeholder="{{ 'Category' | translate }}"
                [repo]="categoryRepo"
            ></os-repo-search-selector>
        </mat-form-field>
    </div>

    <div class="extra-data">
        <!-- Attachments -->
        <div *ngIf="hasAttachments || editMotion" class="content-field">
            <div *ngIf="!editMotion">
                <h3>
                    {{ 'Attachments' | translate }}
                    <mat-icon>attach_file</mat-icon>
                </h3>
                <mat-list dense>
                    <mat-list-item *ngFor="let file of motion?.attachments">
                        <a [routerLink]="file.url" target="_blank">{{ file.title }}</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div *osPerms="permission.mediafileCanManage; and: editMotion">
                <os-attachment-control
                    formControlName="attachment_ids"
                    (errorHandler)="showUploadError($event)"
                ></os-attachment-control>
            </div>
        </div>

        <ng-container *ngIf="canChangeMetadata">
            <div *ngIf="newMotion">
                <os-agenda-content-object-form [form]="contentForm"></os-agenda-content-object-form>
            </div>

            <!-- Supporter form -->
            <div class="content-field" *ngIf="editMotion && minSupporters">
                <mat-form-field>
                    <os-repo-search-selector
                        formControlName="supporter_ids"
                        [multiple]="true"
                        placeholder="{{ 'Supporters' | translate }}"
                        [repo]="participantRepo"
                        [subscriptionConfig]="participantSubscriptionConfig"
                        (clickNotFound)="createNewSupporter($event)"
                    >
                        <ng-template osNotFoundDescription>
                            <mat-icon>add</mat-icon>
                            {{ 'Create user' | translate }}
                        </ng-template>
                    </os-repo-search-selector>
                </mat-form-field>
            </div>

            <!-- Workflow -->
            <div class="content-field" *ngIf="editMotion">
                <mat-form-field>
                    <os-repo-search-selector
                        formControlName="workflow_id"
                        placeholder="{{ 'Workflow' | translate }}"
                        [repo]="workflowRepo"
                        [defaultDataConfigKey]="getDefaultWorkflowKeyOfSettingsByParagraph()"
                    ></os-repo-search-selector>
                </mat-form-field>
            </div>
        </ng-container>
    </div>
</form>
