<div class="form-wrapper">
    <ng-container
        *ngIf="{ meeting: meetingObservable | async, organization: organizationObservable | async } as observables"
    >
        <div class="header-name" *ngIf="observables.meeting || observables.organization" [@fadeIn]>
            <!-- Meeting's name -->
            <h1 *ngIf="observables.meeting">{{ observables.meeting.name | translate }}</h1>
            <!-- Organization's name -->
            <h1 *ngIf="observables.organization && !observables.meeting">
                {{ observables.organization.name | translate }}
            </h1>
        </div>
    </ng-container>

    <!-- Install notice -->
    <div class="login-container" *ngIf="installationNotice">
        <mat-card [innerHTML]="installationNotice | translate"></mat-card>
    </div>

    <!-- login form -->
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="formLogin()">
        <mat-form-field>
            <input
                matInput
                osAutofocus
                required
                data-cy="loginUsernameInput"
                placeholder="{{ 'Username' | translate }}"
                formControlName="username"
            />
        </mat-form-field>
        <br />
        <mat-form-field>
            <input
                matInput
                required
                data-cy="loginPasswordInput"
                placeholder="{{ 'Password' | translate }}"
                formControlName="password"
                [type]="!hide ? 'password' : 'text'"
            />
            <mat-icon color="primary" matSuffix (click)="hide = !hide">
                {{ hide ? 'visibility_off' : 'visibility_on' }}
            </mat-icon>
        </mat-form-field>
        <mat-error>{{ loginErrorMsg | translate }}</mat-error>

        <!-- login button -->
        <br />
        <!-- TODO: Next to each other...-->
        <button
            mat-raised-button
            color="primary"
            class="login-button"
            type="submit"
            data-cy="loginButton"
            [disabled]="loginForm.invalid || isWaitingOnLogin"
        >
            <span *ngIf="!isWaitingOnLogin">{{ 'Login' | translate }}</span>
            <os-spinner *ngIf="isWaitingOnLogin" [width]="20" [height]="20" [showText]="false"></os-spinner>
        </button>
        <button mat-stroked-button *ngIf="guestsEnabled" class="login-button" type="button" (click)="guestLogin()">
            {{ 'Login as guest' | translate }}
        </button>

        <button mat-stroked-button *ngIf="samlEnabled" class="login-button" type="button" (click)="samlLogin()">{{ 'SAML Login' | translate }}</button>

        <!-- forgot password button -->
        <br />
        <button mat-button color="primary" type="button" class="forgot-password-button" (click)="resetPassword()">
            {{ 'Forgot Password?' | translate }}
        </button>
    </form>
</div>
