<div class="custom-table-header flex-spaced">
    <!-- Amount of filters -->
    <div class="filter-count one-line">
        <span>{{ filterCount }}&nbsp;</span>
        <span>{{ 'of' | translate }}</span>
        &nbsp;
        <span>{{ totalCount }}</span>
        <ng-content select=".extra-info-slot"></ng-content>
    </div>

    <!-- Current filters -->
    @if (filterService || fakeFilters) {
        <div class="current-filters h-scroller">
            @for (filterdata of fakeFilters | keyvalue; track filterdata) {
                <div>
                    <button mat-stroked-button (click)="filterdata.value()" (mouseup)="filterdata.value()">
                        <os-icon-container class="active-filter" icon="close">
                            <span class="active-filter">
                                {{ filterdata.key | translate }}
                            </span>
                        </os-icon-container>
                    </button>
                </div>
            }
            @for (filter of filterService?.filterStack || []; track filter) {
                <div>
                    <button
                        mat-stroked-button
                        (click)="removeFilterFromStack(filter)"
                        (mouseup)="removeFilterFromStack(filter)"
                    >
                        <os-icon-container class="active-filter" icon="close">
                            <span class="active-filter">
                                @if (filter.option.skipTranslate) {
                                    {{ filter.option.label }}
                                } @else {
                                    {{ filter.option.label | translate }}
                                }
                            </span>
                        </os-icon-container>
                    </button>
                </div>
            }
        </div>
    }

    <!-- Actions -->
    <div class="action-buttons">
        <!-- Sort Button -->
        @if (hasSorting) {
            @if (vp.isMobileSubject | async) {
                <button mat-button (click)="openSortDropDown()">
                    <mat-icon
                        matBadge="&#8288;"
                        matBadgeColor="accent"
                        matBadgeSize="small"
                        [matBadgeHidden]="!hasSortOptionSelected"
                        [matBadgeOverlap]="false"
                    >
                        sort
                    </mat-icon>
                </button>
            } @else {
                <button mat-button [matMenuTriggerFor]="menu" [matTooltip]="getSortLabel(sortOption) | translate">
                    <mat-icon>sort</mat-icon>
                    <span
                        class="upper"
                        matBadge="&#8288;"
                        matBadgeColor="accent"
                        matBadgeSize="small"
                        [matBadgeHidden]="!hasSortOptionSelected"
                        [matBadgeOverlap]="false"
                    >
                        {{ 'Sort' | translate }}
                    </span>
                </button>
            }
        }

        <!-- CSV-Encoding Button -->
        @if (csvReload) {
            <button
                mat-button
                style="width: max-content"
                [class.not-selected-option]="(filterMenu.opened || csvConfigMenu.opened) === true"
                (click)="csvReload.refreshFile()"
            >
                <mat-icon>autorenew</mat-icon>
                @if ((vp.isMobileSubject | async) === false) {
                    <span class="upper">
                        {{ 'CSV-Reload' | translate }}
                    </span>
                }
            </button>
        }

        <!-- CSV-Encoding Button -->
        @if (csvConfiguration) {
            <button
                mat-button
                style="width: max-content"
                [class.not-selected-option]="filterMenu.opened === true"
                [class.selected-option]="csvConfigMenu.opened"
                (click)="csvConfigMenu.opened ? csvConfigMenu.close() : csvConfigMenu.open(); filterMenu.close()"
            >
                <mat-icon>settings</mat-icon>
                @if ((vp.isMobileSubject | async) === false) {
                    <span class="upper">
                        {{ 'CSV-Configuration' | translate }}
                    </span>
                }
            </button>
        }
        <!-- Filter button -->
        @if (hasFilters) {
            <button
                mat-button
                style="width: max-content"
                [class.not-selected-option]="csvConfigMenu.opened === true"
                [class.selected-option]="filterMenu.opened"
                (click)="filterMenu.opened ? filterMenu.close() : filterMenu.open(); csvConfigMenu.close()"
            >
                <mat-icon
                    matBadgeColor="accent"
                    matBadgeSize="small"
                    [matBadge]="filterAmount"
                    [matBadgeHidden]="filterAmount === 0 || (vp.isMobileSubject | async) === false"
                    [matBadgeOverlap]="false"
                >
                    filter_list
                </mat-icon>
                @if ((vp.isMobileSubject | async) === false) {
                    <span
                        class="upper"
                        matBadgeColor="accent"
                        matBadgeSize="small"
                        [matBadge]="filterAmount"
                        [matBadgeHidden]="filterAmount === 0"
                        [matBadgeOverlap]="false"
                    >
                        {{ 'Filter' | translate }}
                    </span>
                }
            </button>
        }

        <!-- Search bar -->
        @if (showSearchIconOnly) {
            <button mat-button (click)="toggleSearchEdit()">
                <mat-icon>manage_search</mat-icon>
            </button>
        } @else if (searchService) {
            <os-rounded-input
                #searchField
                iconName="manage_search"
                placeholder="{{ 'Search' | translate }}"
                [fullWidth]="false"
                [size]="'small'"
                [(ngModel)]="searchFieldInput"
                (clickIcon)="toggleSearchEdit()"
            ></os-rounded-input>
        }
    </div>
</div>

<!-- Header for the filter side bar -->
<mat-drawer #filterMenu autoFocus="false" mode="push" position="end">
    <div
        class="custom-table-header filter-menu-head"
        role="none"
        (click)="filterMenu.opened ? filterMenu.close() : filterMenu.open()"
    >
        <span tabindex="0" (keyup.enter)="filterMenu.opened ? filterMenu.close() : filterMenu.open()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </span>

        @if (filterAmount) {
            <button mat-button (click)="onClearAllButton($event)">
                <os-icon-container icon="clear">
                    <span>{{ 'Clear all filters' | translate }}</span>
                </os-icon-container>
            </button>
        }
    </div>
    @if (filterService) {
        <os-filter-menu [service]="filterService" [showSpacer]="showSpacer" (dismissed)="this.filterMenu.close()" />
    }
</mat-drawer>

<!-- non-mobile sorting menu -->
<mat-menu #menu>
    @if (hasSorting) {
        @if (defaultOption) {
            <button mat-menu-item (click)="sortOption = defaultOption">
                <mat-icon>{{ getSortIcon(defaultOption) }}</mat-icon>
                <span>{{ sortService.getSortLabel(defaultOption) | translate }}&emsp;</span>
                <small class="subtitle">({{ 'Default' | translate }})</small>
            </button>
            <mat-divider />
        }
        @for (option of sortOptionsWithoutDefault; track option) {
            <button mat-menu-item (click)="sortOption = option">
                <mat-icon>{{ getSortIcon(option) }}</mat-icon>
                <span>{{ sortService.getSortLabel(option) | translate }}</span>
            </button>
        }
    }
</mat-menu>

<mat-drawer #csvConfigMenu autoFocus="false" mode="push" position="end">
    <div
        class="custom-table-header filter-menu-head"
        role="none"
        (click)="csvConfigMenu.opened ? csvConfigMenu.close() : csvConfigMenu.open()"
    >
        <span tabindex="0" (keyup.enter)="csvConfigMenu.opened ? csvConfigMenu.close() : csvConfigMenu.open()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </span>
    </div>
    <div class="section">
        <!-- ENCODING -->
        <h2>{{ 'File encoding' | translate }}</h2>
        <mat-radio-group
            class="radio-group"
            style="display: flex; flex-direction: column"
            [(ngModel)]="selectedEncodingOption"
        >
            <mat-radio-button
                value="utf-8"
                [class.not-selected-button]="selectedEncodingOption !== 'utf-8'"
                [class.selected-button]="selectedEncodingOption === 'utf-8'"
            >
                {{ 'UTF 8 - UNICODE' | translate }}
            </mat-radio-button>
            <mat-radio-button
                value="iso-8859-1"
                [class.not-selected-button]="selectedEncodingOption !== 'iso-8859-1'"
                [class.selected-button]="selectedEncodingOption === 'iso-8859-1'"
            >
                {{ 'ISO 8859-1 - West European' | translate }}
            </mat-radio-button>
            <mat-radio-button
                value="iso-8859-15"
                [class.not-selected-button]="selectedEncodingOption !== 'iso-8859-15'"
                [class.selected-button]="selectedEncodingOption === 'iso-8859-15'"
            >
                {{ 'ISO 8859-15 West European (with €)' | translate }}
            </mat-radio-button>
        </mat-radio-group>

        <mat-divider class="divider"></mat-divider>

        <!-- COLUMN SEPARATOR -->
        <h2>{{ 'Column separator' | translate }}</h2>
        <mat-radio-group class="radio-group" [(ngModel)]="selectedColumnSeparatorOption">
            <mat-radio-button
                value="1"
                [class.not-selected-button]="selectedColumnSeparatorOption !== '1'"
                [class.selected-button]="selectedColumnSeparatorOption === '1'"
            >
                {{ 'Automatic' | translate }}
            </mat-radio-button>
            <mat-radio-button
                value="2"
                [class.not-selected-button]="selectedColumnSeparatorOption !== '2'"
                [class.selected-button]="selectedColumnSeparatorOption === '2'"
            >
                {{ 'Comma' | translate }}
            </mat-radio-button>
            <mat-radio-button
                value="3"
                [class.not-selected-button]="selectedColumnSeparatorOption !== '3'"
                [class.selected-button]="selectedColumnSeparatorOption === '3'"
            >
                {{ 'Semicolon' | translate }}
            </mat-radio-button>
        </mat-radio-group>

        <mat-divider class="divider"></mat-divider>

        <!-- TEXT SEPARATOR -->
        <h2>{{ 'Text separator' | translate }}</h2>
        <mat-radio-group class="radio-group" [(ngModel)]="selectedTextSeparatorOption">
            <mat-radio-button
                value="1"
                [class.not-selected-button]="selectedTextSeparatorOption !== '1'"
                [class.selected-button]="selectedTextSeparatorOption === '1'"
            >
                {{ "Double quotes ('')" | translate }}
            </mat-radio-button>
            <mat-radio-button
                value="2"
                [class.not-selected-button]="selectedTextSeparatorOption !== '2'"
                [class.selected-button]="selectedTextSeparatorOption === '2'"
            >
                {{ "Single quotes (')" | translate }}
            </mat-radio-button>
            <mat-radio-button
                value="3"
                [class.not-selected-button]="selectedTextSeparatorOption !== '3'"
                [class.selected-button]="selectedTextSeparatorOption === '3'"
            >
                {{ 'Gravis (`)' | translate }}
            </mat-radio-button>
        </mat-radio-group>

        <mat-divider class="divider"></mat-divider>
    </div>
</mat-drawer>
