@use 'src/assets/styles/variables.scss';
@use 'src/assets/styles/h-scroller.scss';

os-sort-filter-bar {
    .selected-option {
        border-bottom: 2px solid var(--theme-primary-500);
    }
    .not-selected-option {
        color: gray !important;
    }

    .filter-menu-head {
        padding-left: 5px;

        .mat-mdc-button {
            margin: 0 auto;
        }
    }

    .filter-menu-head:hover {
        cursor: pointer;
    }

    .action-buttons {
        display: flex;
        os-rounded-input {
            margin: 0 10px;
        }
        .mat-mdc-button {
            height: 100%;
            padding: 0 16px;
        }
    }

    .active-filter {
        // force the filter tex tot stay in one line. Safe due to horizontal scrolling
        white-space: pre;
    }

    span.right-with-margin {
        margin-right: 25px;
    }

    .filter-count {
        display: flex;
        min-width: fit-content;
        font-style: italic;
        margin-left: 24px;
        margin-right: 1em;
    }

    .current-filters {
        width: 100%;
        display: flex;

        > div {
            display: inherit;
        }

        button {
            padding: 5px;
            margin: auto 5px;
            font-size: 75%;
        }

        .mat-icon {
            $size: 12px;
            font-size: $size;
            height: $size;
            width: $size;
        }
    }
    .upper {
        font-weight: 400;
    }
}

.section {
    display: flex;
    flex-direction: column;
    padding-right: 8em;

    & h2 {
        font-weight: 800;
        margin-bottom: 5px;
        margin-left: 1em;
        margin-right: 1em;
    }

    .radio-group {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        margin-right: 1em;

        mat-radio-button:last-child {
            margin-bottom: 1em;
        }
    }

    .divider {
        width: 200%;
        margin-left: -20px;
        overflow: hidden;
    }
}

// REMOVE THE * IN BOTH BUTTON CLASSES
.selected-button * {
    color: var(--theme-primary-500) !important;
}
.not-selected-button * {
    color: gray !important;
}
mat-drawer {
    margin-top: 2.5%;
}

.container {
    display: flex;
    margin-left: 10px;
}
