<div class="custom-table-header flex-spaced">
    <!-- Amount of filters -->
    <div class="filter-count one-line">
        <span>{{ filterCount }}&nbsp;</span>
        <span>{{ 'of' | translate }}</span>
        &nbsp;
        <span>{{ totalCount }}</span>
        <ng-content select=".extra-info-slot"></ng-content>
    </div>

    <!-- Current filters -->
    @if (filterService) {
        <div class="current-filters h-scroller">
            @for (filter of filterService.filterStack; track filter) {
                <div>
                    <button
                        mat-stroked-button
                        (mouseup)="removeFilterFromStack(filter)"
                        (click)="removeFilterFromStack(filter)"
                    >
                        <os-icon-container icon="close" class="active-filter">
                            <span class="active-filter">
                                {{ filter.option.label | translate }}
                            </span>
                        </os-icon-container>
                    </button>
                </div>
            }
        </div>
    }

    <!-- Actions -->
    <div class="action-buttons">
        <!-- Sort Button -->
        @if ((vp.isMobileSubject | async) && hasSorting) {
            <button mat-button (click)="openSortDropDown()">
                <mat-icon
                    matBadge="&#8288;"
                    matBadgeColor="accent"
                    [matBadgeHidden]="!hasSortOptionSelected"
                    [matBadgeOverlap]="false"
                    matBadgeSize="small"
                >
                    sort
                </mat-icon>
            </button>
        }
        @if ((vp.isMobileSubject | async) === false && hasSorting) {
            <button mat-button [matTooltip]="getSortLabel(sortOption) | translate" [matMenuTriggerFor]="menu">
                <mat-icon>sort</mat-icon>
                <span
                    matBadge="&#8288;"
                    matBadgeColor="accent"
                    [matBadgeHidden]="!hasSortOptionSelected"
                    [matBadgeOverlap]="false"
                    matBadgeSize="small"
                    class="upper"
                >
                    {{ 'Sort' | translate }}
                </span>
            </button>
        }

        <!-- Filter button -->
        @if (hasFilters) {
            <button mat-button (click)="filterMenu.opened ? filterMenu.close() : filterMenu.open()">
                <mat-icon
                    [matBadge]="filterAmount"
                    matBadgeColor="accent"
                    [matBadgeHidden]="filterAmount === 0 || (vp.isMobileSubject | async) === false"
                    [matBadgeOverlap]="false"
                    matBadgeSize="small"
                >
                    filter_list
                </mat-icon>
                @if ((vp.isMobileSubject | async) === false) {
                    <span
                        class="upper"
                        [matBadge]="filterAmount"
                        matBadgeColor="accent"
                        [matBadgeHidden]="filterAmount === 0"
                        [matBadgeOverlap]="false"
                        matBadgeSize="small"
                    >
                        {{ 'Filter' | translate }}
                    </span>
                }
            </button>
        }

        <!-- Search bar -->
        @if (searchService && !showSearchIconOnly) {
            <os-rounded-input
                #searchField
                placeholder="{{ 'Search' | translate }}"
                [size]="'small'"
                [fullWidth]="false"
                [(ngModel)]="searchFieldInput"
                iconName="manage_search"
                (clickIcon)="toggleSearchEdit()"
            ></os-rounded-input>
        }
        @if (showSearchIconOnly) {
            <button mat-button (click)="toggleSearchEdit()">
                <mat-icon>manage_search</mat-icon>
            </button>
        }
    </div>
</div>

<!-- Header for the filter side bar -->
<mat-drawer autoFocus="false" #filterMenu mode="push" position="end">
    <div class="custom-table-header filter-menu-head" (click)="this.filterMenu.toggle()">
        <span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </span>

        @if (filterAmount) {
            <button mat-button (click)="onClearAllButton($event)">
                <os-icon-container icon="clear">
                    <span>{{ 'Clear all filters' | translate }}</span>
                </os-icon-container>
            </button>
        }
    </div>
    @if (filterService) {
        <os-filter-menu
            (dismissed)="this.filterMenu.close()"
            [service]="filterService"
            [showSpacer]="showSpacer"
        ></os-filter-menu>
    }
</mat-drawer>

<!-- non-mobile sorting menu -->
<mat-menu #menu>
    @if (hasSorting) {
        @if (defaultOption) {
            <button mat-menu-item (click)="sortOption = defaultOption">
                <mat-icon>{{ getSortIcon(defaultOption) }}</mat-icon>
                <span>{{ sortService.getSortLabel(defaultOption) | translate }}&emsp;</span>
                <small class="subtitle">({{ 'Default' | translate }})</small>
            </button>
        }
        @if (defaultOption) {
            <mat-divider></mat-divider>
        }
        @for (option of sortOptionsWithoutDefault; track option) {
            <button (click)="sortOption = option" mat-menu-item>
                <mat-icon>{{ getSortIcon(option) }}</mat-icon>
                <span>{{ sortService.getSortLabel(option) | translate }}</span>
            </button>
        }
    }
</mat-menu>
