<os-head-bar [nav]="false" [goBack]="true">
    <div class="title-slot">
        <h2>{{ 'Legal notice' | translate }} / {{ 'Privacy policy' | translate }}</h2>
    </div>
</os-head-bar>

<os-legal-notice-content [isEditable]="true" (update)="updateLegalNotice($event)"></os-legal-notice-content>

<os-info-actions></os-info-actions>

<mat-card class="os-card" *ngIf="canSeeStatistics">
    <mat-card-content>
        <h2>{{ 'Statistics' | translate }}</h2>

        <ng-container *ngIf="osIsManager">
            <div>
                <h3>{{ 'Organization' | translate }}</h3>
                <os-organization-statistics></os-organization-statistics>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>

<os-privacy-policy-content [isEditable]="true" (update)="updatePrivacyPolicy($event)"></os-privacy-policy-content>
