<div class="os-site-wrapper-container">
    <div class="os-banner-container">
        <os-banner></os-banner>
    </div>

    <div class="os-router-outlet-container">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #updateNotificationTemplate>
    <div class="action-title underlined-link">
        <div>
            <div>{{ 'A new update is available!' | translate }}</div>
            <div>
                <a
                    target="_blank"
                    href="https://support.openslides.com/help/de-de/11-basisfunktionen-openslides/80-versionshistorie"
                >
                    {{ 'What is new?' | translate }}
                </a>
            </div>
        </div>
        <button mat-button (click)="dismissSnackbar()">{{ 'Refresh' | translate }}</button>
    </div>
</ng-template>
