.os-site-wrapper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .os-banner-container {
        flex: 0 0 auto;
    }

    .os-router-outlet-container {
        flex-grow: 1;
    }
}
