<div id="structure-level-current" *ngIf="data">
    <span id="inner">
        <div id="inner-name">{{ data.data.name }}</div>
        <div id="inner-countdown">
            <os-countdown-time
                [unstyled]="true"
                [countdown]="{
                    running: !!data.data.current_start_time,
                    countdown_time: data.data.current_start_time
                        ? data.data.current_start_time + data.data.remaining_time
                        : data.data.remaining_time
                }"
            ></os-countdown-time>
        </div>
    </span>
</div>
