#structure-level-current {
    position: absolute;
    right: 0;
    bottom: calc(50% - 125px);
    right: 0;
    z-index: 10;
    text-align: right;
    line-height: 1;
    opacity: 1;   
    margin-right: 50px;
    
    .level-time {
        font-size: 250px;
        font-weight: 500;
    }
    .level-name {
        font-size: 70px;
        opacity: 0.9;   
    }
}
