<os-head-bar
    [editMode]="true"
    [isSaveButtonEnabled]="isValid"
    [nav]="false"
    [saveAction]="getSaveAction()"
    (cancelEditEvent)="onCancel()"
>
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>
            @if (isCreateView) {
                {{ addMeetingLabel }}
            } @else {
                {{ editMeetingLabel }}
            }
        </h1>
    </div>
</os-head-bar>

<form class="meeting-form" [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
    <mat-card class="os-card">
        <mat-card-content>
            <mat-form-field>
                <mat-label>{{ 'Title' | translate }}</mat-label>
                <input formControlName="name" matInput required />
            </mat-form-field>

            <p class="has-hint">
                @if (isCreateView) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>{{ 'Duplicate from' | translate }}</mat-label>
                        <os-list-search-selector
                            [includeNone]="!isCommitteeManagerAndRequireDuplicateFrom"
                            [inputListValues]="availableMeetingsObservable"
                            [ngModel]="theDuplicateFromId"
                            [ngModelOptions]="{ standalone: true }"
                            [required]="isCommitteeManagerAndRequireDuplicateFrom"
                            [sortFn]="false"
                            (ngModelChange)="onUpdateDuplicateFrom($event)"
                        ></os-list-search-selector>
                        <mat-hint>
                            {{
                                'Participants and administrators are copied completely and cannot be edited here.'
                                    | translate
                            }}
                        </mat-hint>
                    </mat-form-field>
                }
            </p>

            <mat-form-field>
                <mat-label>{{ 'Language' | translate }}</mat-label>
                <mat-select formControlName="language">
                    @for (choice of translations | keyvalue; track choice) {
                        <mat-option [value]="choice.key">
                            {{ choice.value }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'Event location' | translate }}</mat-label>
                <input formControlName="location" matInput />
            </mat-form-field>

            <os-daterangepicker formControlName="daterange" title="{{ 'Meeting date' }}"></os-daterangepicker>

            <mat-form-field>
                <mat-label>{{ 'Administrators' | translate }}</mat-label>
                <os-account-search-selector
                    formControlName="admin_ids"
                    [accounts]="availableAdmins"
                ></os-account-search-selector>
            </mat-form-field>

            <!-- Permission: CML.can_manage (implicit or OML.can_manage_organization or higher) -->
            <!-- Only check for CML.can_manage -> this includes check for OML.can_manage_organization or higher -->
            <mat-form-field *osCmlPerms="CML.can_manage; committeeId: committee?.id">
                <mat-label>{{ 'Tags' | translate }}</mat-label>
                <os-repo-search-selector
                    formControlName="organization_tag_ids"
                    [multiple]="true"
                    [repo]="orgaTagRepo"
                    (clickNotFound)="onOrgaTagNotFound($event)"
                >
                    <ng-template osNotFoundDescription>
                        {{ 'New tag' | translate }}
                    </ng-template>
                </os-repo-search-selector>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'External ID' | translate }}</mat-label>
                <input formControlName="external_id" matInput />
            </mat-form-field>
            @if (isCreateView) {
                <mat-checkbox [formControlName]="'set_as_template'">{{ 'Set as template' | translate }}</mat-checkbox>
            }
        </mat-card-content>
    </mat-card>

    <mat-card *osOmlPerms="OML.superadmin; and: !isCreateView" class="os-card">
        <mat-card-content>
            <div class="superadmin-place">
                <h2>{{ 'Superadmin settings' | translate }}</h2>
                <h3>Jitsi</h3>
                <mat-form-field>
                    <mat-label>{{ 'Jitsi domain' | translate }}</mat-label>
                    <input formControlName="jitsi_domain" matInput />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'Jitsi room name' | translate }}</mat-label>
                    <input formControlName="jitsi_room_name" matInput />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'Jitsi room password' | translate }}</mat-label>
                    <input formControlName="jitsi_room_password" matInput />
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</form>
