<os-head-bar
    [nav]="false"
    [editMode]="true"
    [isSaveButtonEnabled]="meetingForm?.valid"
    [saveAction]="getSaveAction()"
    (cancelEditEvent)="onCancel()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="isCreateView">{{ addMeetingLabel | translate }}</h2>
        <h2 *ngIf="!isCreateView">{{ editMeetingLabel | translate }}</h2>
    </div>
</os-head-bar>

<form class="meeting-form" [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
    <mat-card class="os-card">
        <mat-form-field>
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <input matInput formControlName="name" required />
        </mat-form-field>

        <mat-form-field *ngIf="isCreateView">
            <mat-label>{{ 'Duplicate from' | translate }}</mat-label>
            <os-list-search-selector
                [inputListValues]="availableMeetingsObservable"
                [includeNone]="true"
                [ngModel]="theDuplicateFromId"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onUpdateDuplicateFrom($event)"
                [sortFn]="false"
            ></os-list-search-selector>
            <mat-hint>
                {{ 'Participants and administrators are copied completely and cannot be edited here.' | translate }}
            </mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Event location' | translate }}</mat-label>
            <input matInput formControlName="location" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Start date' | translate }}</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="start_time" />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'End date' | translate }}</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="end_time" />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Participants' | translate }}</mat-label>
            <os-account-search-selector
                formControlName="user_ids"
                placeholder="{{ 'Participants' | translate }}"
            ></os-account-search-selector>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Administrators' | translate }}</mat-label>
            <os-account-search-selector
                formControlName="admin_ids"
                placeholder="{{ 'Administrators' | translate }}"
            ></os-account-search-selector>
        </mat-form-field>

        <!-- Permission: CML.can_manage (implicit or OML.can_manage_organization or higher) -->
        <!-- Only check for CML.can_manage -> this includes check for OML.can_manage_organization or higher -->
        <mat-form-field *osCmlPerms="CML.can_manage; committeeId: committee?.id">
            <mat-label>{{ 'Tags' | translate }}</mat-label>
            <os-repo-search-selector
                [repo]="orgaTagRepo"
                [multiple]="true"
                formControlName="organization_tag_ids"
                (clickNotFound)="onOrgaTagNotFound($event)"
            >
                <ng-template osNotFoundDescription>
                    {{ 'Create new tag' | translate }}
                </ng-template>
            </os-repo-search-selector>
        </mat-form-field>
    </mat-card>

    <mat-card class="os-card" *osOmlPerms="OML.superadmin; and: !isCreateView">
        <div class="superadmin-place">
            <h2>{{ 'Superadmin settings' | translate }}</h2>
            <h3>Jitsi</h3>
            <mat-form-field>
                <mat-label>{{ 'Jitsi domain' | translate }}</mat-label>
                <input matInput formControlName="jitsi_domain" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'Jitsi room name' | translate }}</mat-label>
                <input matInput formControlName="jitsi_room_name" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'Jitsi room password' | translate }}</mat-label>
                <input matInput formControlName="jitsi_room_password" />
            </mat-form-field>
        </div>
    </mat-card>
</form>
