<div class="theme-builder-dialog-title">
    <h2 mat-dialog-title>{{ 'Color set' | translate }}</h2>
    <button mat-icon-button [mat-dialog-close]="null">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <div *ngIf="paletteBuilderForm" [formGroup]="paletteBuilderForm">
        <div class="padding-top-12">
            <mat-form-field>
                <mat-label>{{ 'Title' | translate }}</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
        </div>
        <div class="flex-vertical-center color-picker-row">
            <!-- Template to streamline all the color forms -->
            <ng-template #collapsingField let-palette="palette" let-title="title">
                <div>
                    <div>
                        <os-color-form-field
                            title="{{ title | translate }}"
                            [formControlName]="createFormControlName(palette, '500')"
                            (resetted)="resetField(palette)"
                        ></os-color-form-field>
                    </div>
                </div>
            </ng-template>

            <ng-template
                [ngTemplateOutlet]="collapsingField"
                [ngTemplateOutletContext]="{ palette: 'primary', title: 'Primary color' | translate }"
            ></ng-template>
            <ng-template
                [ngTemplateOutlet]="collapsingField"
                [ngTemplateOutletContext]="{ palette: 'accent', title: 'Accent color' | translate }"
            ></ng-template>
            <ng-template
                [ngTemplateOutlet]="collapsingField"
                [ngTemplateOutletContext]="{ palette: 'warn', title: 'Warn color' | translate }"
            ></ng-template>
        </div>
        <div class="flex-vertical-center">
            <div>
                <div>
                    <os-color-form-field
                        title="{{ 'Global headbar color' | translate }}"
                        formControlName="headbar"
                        [defaultDisplayColor]="getDefaultColor('headbar')"
                        (resetted)="resetField('headbar')"
                    ></os-color-form-field>
                </div>
            </div>
        </div>
        <h3 translate>Voting colors</h3>
        <div class="flex-vertical-center color-picker-row">
            <!-- Template to streamline all the poll color forms -->
            <ng-template #pollColorField let-place="place" let-title="title">
                <div>
                    <div>
                        <os-color-form-field
                            title="{{ title | translate }}"
                            [formControlName]="place"
                            [defaultDisplayColor]="getDefaultColor(place)"
                            (resetted)="resetField(place)"
                        ></os-color-form-field>
                    </div>
                </div>
            </ng-template>

            <ng-template
                [ngTemplateOutlet]="pollColorField"
                [ngTemplateOutletContext]="{ place: 'yes', title: 'Yes' }"
            ></ng-template>
            <ng-template
                [ngTemplateOutlet]="pollColorField"
                [ngTemplateOutletContext]="{ place: 'no', title: 'No' }"
            ></ng-template>
            <ng-template
                [ngTemplateOutlet]="pollColorField"
                [ngTemplateOutletContext]="{ place: 'abstain', title: 'Abstain' }"
            ></ng-template>
        </div>
    </div>
</div>
<p mat-dialog-actions>
    <button mat-button color="primary" (click)="onConfirm()">{{ 'Save' | translate }}</button>
    <button mat-button (click)="onClose()">{{ 'Cancel' | translate }}</button>
</p>
