.no-info {
    font-style: italic;
}

.history-table-header {
    display: flex;
    justify-content: space-between;
}

.os-headed-listview-table {
    .mat-header-cell,
    .mat-cell {
        padding-left: 5px;
        padding-right: 5px;
    }

    .links-disabled {
        pointer-events: none;
    }
}

.os-not-found-button-content {
    display: inline-block;
    vertical-align: middle;
}

.history-module-form-field {
    width: 120px;
}

.history-module-detail-form-field {
    width: 210px;
}
