<os-head-bar [goBack]="false" [nav]="false">
    <div class="title-slot">
        <h1 class="mock-h2" translate>Import participants</h1>
    </div>
    <ng-container class="menu-slot">
        @if (awaitingConfirm) {
            <button mat-button>
                <span class="upper">Import</span>
            </button>
        }
    </ng-container>
</os-head-bar>

<div>
    <os-view-list
        [filterProps]="filterProps"
        [filterService]="filterService"
        [listObservable]="dataSource"
        [searchFieldInput]="searchFieldInput"
        [searchService]="searchService"
        [showFilterBar]="showFilterBar"
        [showHeader]="showHeader"
        [totalCount]="_totalCountObservable | async"
        [vScrollFixed]="50"
        (searchFilterUpdated)="searchFilterUpdated.emit($event)"
    >
        @if (dataSource | async) {
            <div>
                @for (column of previewColumns; track column) {
                    <div
                        *osScrollingTableCell="
                            column.property;
                            row as row;
                            definition as def;
                            isDefault: true;
                            config: getColumnConfig(column.property)
                        "
                    >
                        <div *osScrollingTableCellLabel>{{ getColumnLabel(column.property).toUpperCase() }}</div>
                        <ng-container
                            *ngTemplateOutlet="
                                entryTemplate;
                                context: { entry: row.data, def: def, row: row, type: column.type }
                            "
                        ></ng-container>
                    </div>
                }
                <div
                    *osScrollingTableCell="'errors'; row as row; config: { width: 55, position: START_POSITION }"
                    class="flex-vertical-center icon-container"
                >
                    <div *osScrollingTableCellLabel style="text-align: center; width: 100%">&nbsp;#</div>
                    @if (row.state === 'error') {
                        <mat-icon
                            class="red-warning-text"
                            matTooltip="{{ getRowTooltip(row) }}"
                            matTooltipPosition="right"
                        >
                            {{ getActionIcon(row) }}
                        </mat-icon>
                    }
                    @if (row.state !== 'error' && row.messages.length) {
                        <mat-icon class="warn" matTooltip="{{ getWarningRowTooltip(row) }}" matTooltipPosition="right">
                            warning
                        </mat-icon>
                    }
                    @if (row.state !== 'error') {
                        <mat-icon
                            matTooltip="{{ getRowTooltip(row) }}"
                            matTooltipPosition="right"
                            [ngClass]="getColorIcon(row)"
                        >
                            {{ getActionIcon(row) }}
                        </mat-icon>
                    }
                </div>
            </div>

            <ng-template #entryTemplate let-def="def" let-entry="entry" let-row="row" let-type="type">
                @if (entry && (entry[def] || type === 'boolean')) {
                    <div class="flex-vertical-center">
                        @if (getHeader(def).is_list && entry[def]) {
                            <div>
                                @for (item of entry[def]; track item) {
                                    <ng-container
                                        [ngTemplateOutlet]="entryContentTemplate"
                                        [ngTemplateOutletContext]="{ entry: item, def: def }"
                                    ></ng-container>
                                }
                            </div>
                        }
                        @if (!getHeader(def).is_list && entry[def] !== undefined) {
                            <ng-container
                                [ngTemplateOutlet]="entryContentTemplate"
                                [ngTemplateOutletContext]="{ entry: entry[def], def: def }"
                            ></ng-container>
                        }
                    </div>
                }
            </ng-template>

            <ng-template #entryContentTemplate let-def="def" let-entry="entry">
                @if (getHeader(def).is_object) {
                    <div class="list-field-entry">
                        <ng-container
                            [ngTemplateOutlet]="nonObjectEntryTemplate"
                            [ngTemplateOutletContext]="{ entry: entry.value, type: getHeader(def).type }"
                        ></ng-container>
                        @if (getActionIcon(entry)) {
                            <mat-icon color="accent" inline>
                                {{ getEntryIcon(entry) }}
                            </mat-icon>
                        }
                    </div>
                }
                @if (!getHeader(def).is_object) {
                    <ng-container
                        [ngTemplateOutlet]="nonObjectEntryTemplate"
                        [ngTemplateOutletContext]="{ entry: entry.value, type: getHeader(def).type }"
                    />
                }
            </ng-template>

            <ng-template #nonObjectEntryTemplate let-entry="entry" let-type="type">
                @if (type === 'string') {
                    {{ entry }}
                }
                @if (type === 'number' || type === 'integer') {
                    {{ entry }}
                }
                @if (type === 'decimal') {
                    {{ getShortenedDecimal(entry) }}
                }
                @if (type === 'date') {
                    {{ entry }}
                }
                @if (type === 'boolean') {
                    <mat-checkbox disabled [checked]="entry" />
                }
                &nbsp;
            </ng-template>
        }

        <ng-template #fieldsInfoDialog>
            <div class="action-title" mat-dialog-title>
                <h1 class="dialog-title" translate>The fields are defined as follows</h1>
            </div>
            <mat-dialog-content>
                <table>
                    @for (column of defaultColumns; track column) {
                        <tr>
                            <td class="table-title-column">{{ column.property }}:</td>
                            <td>
                                &nbsp;{{ column.label | translate }}
                                @if (column.customInfo) {
                                    <br />
                                    @if (isString(column.customInfo)) {
                                        {{ column.customInfo | translate }}
                                    }
                                    @if (!isString(column.customInfo)) {
                                        {{ column.customInfo | async }}
                                    }
                                }
                            </td>
                        </tr>
                    }
                </table>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-button mat-dialog-close>
                    {{ 'Close' | translate }}
                </button>
            </mat-dialog-actions>
        </ng-template>
    </os-view-list>
</div>
