$os-green: rgb(76, 175, 80);
$os-yellow: rgb(255, 193, 7);

.os-green {
    color: $os-green;
}

.os-yellow {
    color: $os-yellow;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.error-icon {
    color: red;
    font-weight: 500;
}

.footer {
    padding-left: 35px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--mat-app-background-color);
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
}

.static-sort-filter-bar {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.import-dialog {
    padding: 8px;
    color: var(--theme-accent-400);

    .import-dialog-title {
        color: var(--theme-accent-400);
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .import-dialog-content {
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--theme-accent-400);
        text-align: center;
    }

    .import-status {
        margin-top: 32px;
        color: var(--theme-accent-400);
    }

    .import-status-title {
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    .import-status-subtitle {
        font-size: 18px;
    }
}

.summary-dialog {
    .summary-dialog-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .close-button {
        margin-right: 0.5em;
        margin-top: 0.5em;
    }

    .summary-dialog-title {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    .summary-dialog-content {
        display: flex;
        font-size: 17px;
        color: var(--theme-contrast-400);
        text-align: center;
        justify-content: center;
    }

    .summary-row {
        display: flex;
        justify-content: start;
        gap: 10px;
        margin: 6px 0;
    }

    .summary-row mat-icon {
        font-size: x-large;
    }

    .summary-dialog-subtitle {
        font-size: 18px;
        margin-left: 1.4em;
        margin-top: 0;
    }

    .summary-dialog-extraInfo {
        font-size: 17px;
        margin-left: 1.4em;
    }

    .summary-dialog-extraInfo:last-child {
        margin-bottom: 16px;
    }
}
