<os-head-bar [goBack]="false" [nav]="false">
    <div class="title-slot">
        <h1 class="mock-h2" translate>Import participants</h1>
    </div>
    <ng-container class="menu-slot">
        <button mat-button (click)="importData(fieldsInfoDialog)">
            <span class="upper">Import</span>
        </button>
    </ng-container>
</os-head-bar>
<div class="static-sort-filter-bar">
    <os-view-list
        [csvConfiguration]="csvConfiguration"
        [csvReload]="importer"
        [csvReloadButton]="csvReloadButton"
        [filterProps]="filterProps"
        [filterService]="filterService"
        [horizontalScroll]="horizontalScroll"
        [listObservable]="dataSource"
        [searchFieldInput]="searchFieldInput"
        [searchService]="searchService"
        [showFilterBar]="showFilterBar"
        [showHeader]="showHeader"
        [totalCount]="_totalCountObservable | async"
        [vScrollFixed]="50"
        (searchFilterUpdated)="searchFilterUpdated.emit($event)"
        (selectedColSepOutput)="onColSepChanged($event)"
        (selectedEncodingOutput)="onEncodingChanged($event)"
        (selectedTextSeparatorOutput)="onTextSeparatorChanged($event)"
    >
        @if (dataSource | async) {
            @for (column of previewColumns; track column; let i = $index) {
                <div
                    *osScrollingTableCell="
                        column.property;
                        row as row;
                        definition as def;
                        isDefault: true;
                        config: getColumnConfig(column.property)
                    "
                >
                    @let entry = row.data;
                    @let type = column.type;
                    <div>
                        <div *osScrollingTableCellLabel>{{ getColumnLabel(column.property) }}</div>
                        @if (entry && (entry[def] || type === 'boolean')) {
                            <div class="flex-vertical-center">
                                @if (getHeader(def).is_list && entry[def]) {
                                    <div>
                                        @for (item of entry[def]; track item) {
                                            @if (getHeader(def).is_object) {
                                                <div class="list-field-entry">
                                                    @if (getHeader(def).type === 'string') {
                                                        {{ item.value }}
                                                    }
                                                    @if (getHeader(def).type === 'number') {
                                                        {{ item.value }}
                                                    }
                                                    @if (getHeader(def).type === 'date') {
                                                        {{ item.value }}
                                                    }
                                                    @if (getHeader(def).type === 'boolean') {
                                                        <mat-checkbox disabled [checked]="item.value" />
                                                    }
                                                    &nbsp;

                                                    @if (getActionIcon(item)) {
                                                        <mat-icon color="accent" inline>
                                                            {{ getEntryIcon(item.value) }}
                                                        </mat-icon>
                                                    }
                                                </div>
                                            } @else {
                                                @if (getHeader(def).type === 'string') {
                                                    {{ item.value }}
                                                }
                                                @if (getHeader(def).type === 'number') {
                                                    {{ item.value }}
                                                }
                                                @if (getHeader(def).type === 'date') {
                                                    {{ item.value }}
                                                }
                                                @if (getHeader(def).type === 'boolean') {
                                                    <mat-checkbox disabled [checked]="item.value" />
                                                }
                                                &nbsp;
                                            }
                                        }
                                    </div>
                                }
                                @if (!getHeader(def).is_list && entry[def] !== undefined) {
                                    @if (getHeader(def).is_object) {
                                        <div class="list-field-entry">
                                            @if (getHeader(def).type === 'string') {
                                                {{ entry[def].value }}
                                            }
                                            @if (getHeader(def).type === 'number') {
                                                {{ entry[def].value }}
                                            }
                                            @if (getHeader(def).type === 'date') {
                                                {{ entry[def].value }}
                                            }
                                            @if (getHeader(def).type === 'boolean') {
                                                <mat-checkbox disabled [checked]="entry[def].value" />
                                            }
                                            &nbsp;

                                            @if (getActionIcon(entry[def])) {
                                                <mat-icon color="accent" inline>
                                                    {{ getEntryIcon(entry[def]) }}
                                                </mat-icon>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            <div
                *osScrollingTableCell="'errors'; row as row; config: { width: 55, position: START_POSITION }"
                class="flex-vertical-center icon-container"
            >
                <div *osScrollingTableCellLabel style="text-align: center; width: 100%">&nbsp;#</div>
                @if (row.state === 'error') {
                    <mat-icon class="red-warning-text" matTooltip="{{ getRowTooltip(row) }}" matTooltipPosition="right">
                        {{ getActionIcon(row) }}
                    </mat-icon>
                }
                @if (row.state !== 'error' && row.messages.length) {
                    <mat-icon class="warn" matTooltip="{{ getWarningRowTooltip(row) }}" matTooltipPosition="right">
                        warning
                    </mat-icon>
                }
                @if (row.state !== 'error') {
                    <mat-icon
                        matTooltip="{{ getRowTooltip(row) }}"
                        matTooltipPosition="right"
                        [ngClass]="getColorIcon(row)"
                    >
                        {{ getActionIcon(row) }}
                    </mat-icon>
                }
            </div>
        }
    </os-view-list>
    <footer class="footer">
        @let cols = shortenSummary(summary);
        @for (col of cols; track col; let i = $index) {
            @let colInfo = getSummaryInformation(col.name);
            <mat-icon inline style="margin-top: 5px; font-size: x-large" [ngClass]="colInfo[1]">
                {{ colInfo[0] }}
            </mat-icon>
            <div style="margin-bottom: 8px">&nbsp;{{ col.value }}&nbsp;{{ col.name }}&nbsp; &nbsp;</div>
        }
    </footer>
</div>

<ng-template #fieldsInfoDialog>
    <div class="import-dialog">
        <h2 class="import-dialog-title" mat-dialog-title translate>Import participants</h2>

        <mat-dialog-content class="import-dialog-content">
            <mat-spinner color="accent" diameter="80" strokeWidth="5"></mat-spinner>

            <div class="import-status">
                <div class="import-status-title" translate>Import in progress!</div>

                <div class="import-status-subtitle" translate>
                    Do not close the tab if you want to see the import status!
                </div>
            </div>
        </mat-dialog-content>
    </div>
</ng-template>
<!-- <mat-dialog-actions>
        <button mat-button mat-dialog-close>
            {{ 'Close' }}
        </button>
    </mat-dialog-actions> -->
