<div class="single-speaker-line">
    <div *ngIf="!speaker.isFinished" class="speaker-start">
        <ng-container *ngIf="canManage">
            <!-- start button -->
            <button
                *ngIf="!speaker.isSpeaking"
                mat-icon-button
                [color]="speakerIndex === 0 ? 'accent' : null"
                class="speaker-control-button"
                matTooltip="{{ (speaker.pause_time ? 'Resume speech' : 'Begin speech') | translate }}"
                matTooltipPosition="above"
                (click)="onStartButton()"
            >
                <mat-icon>play_circle_outline</mat-icon>
            </button>

            <!-- pause button -->
            <button
                *ngIf="speaker.isSpeaking"
                mat-icon-button
                class="speaker-control-button"
                matTooltip="{{ 'Pause speech' | translate }}"
                matTooltipPosition="above"
                (click)="onPauseButton()"
            >
                <mat-icon>pause_circle_outline</mat-icon>
            </button>
        </ng-container>
    </div>

    <!-- Count number -->
    <div *ngIf="canSee && speakerIndex !== null" class="speaker-index">
        <span>{{ speakerIndex + 1 }}.</span>
    </div>

    <span *ngIf="speakerIndex === null" class="speaking-indicator">
        <mat-icon *ngIf="speaker.isSpeaking">mic</mat-icon>
    </span>

    <div class="speaker-info">
        <div *ngIf="speaker.meeting_user_id" class="speaker-name">
            {{ speaker.user_short_name }}
            <span *ngIf="speaker.user_pronoun" class="pronoun">{{ speaker.user_pronoun }}</span>
        </div>
        <span
            *ngIf="!speaker.meeting_user_id && canManage"
            class="select-speaker-button"
            (click)="updateSpeakerMeetingUser()"
            translate
        >
            Select speaker
        </span>

        <div class="speaker-additional-info">
            <span *ngIf="speaker.getLOSStructureLevels(!structureLevelCountdownEnabled)">
                {{ speaker.getLOSStructureLevels(!structureLevelCountdownEnabled) }}
            </span>

            <span *ngIf="speaker.user_number">{{ 'No.' | translate }} {{ speaker.user_number }}</span>

            <span *ngIf="speaker.gender">{{ speaker.gender | translate }}</span>
        </div>

        <div class="speech-type">
            <ng-container [ngTemplateOutlet]="speechType"></ng-container>

            <ng-container
                *ngIf="
                    canManage &&
                    !speaker.point_of_order &&
                    speaker.speech_state !== 'interposed_question' &&
                    !speaker.isFinished
                "
            >
                <!-- Speaker count -->
                <span
                    *ngIf="(hideSecondaryContributionsCount | async) === false && hasSpokenCount()"
                    class="foreground-warn speaker-warning"
                >
                    {{ hasSpokenCount() + 1 }}.
                    <span>{{ 'contribution' | translate }}</span>
                </span>

                <!-- First contribution -->
                <span
                    *ngIf="(showFirstContributionHintObservable | async) && isFirstContribution()"
                    class="foreground-warn speaker-warning"
                >
                    {{ 'First speech' | translate }}
                </span>
            </ng-container>
        </div>
    </div>
    <div *ngIf="!speaker.isFinished" class="speaker-appendix">
        <!-- For normal users -->
        <span *ngIf="!canManage">
            <ng-container *ngIf="isSpeakerOperator()">
                <button
                    mat-icon-button
                    *ngIf="showStructureLevels()"
                    matTooltip="{{ 'Structure level' | translate }}"
                    [matMenuTriggerFor]="structureLevelsMenu"
                >
                    <mat-icon>flag</mat-icon>
                </button>
                <!-- pro -->
                <button
                    mat-icon-button
                    (click)="onProContraButtons(true)"
                    matTooltip="{{ 'Forspeech' | translate }}"
                    *ngIf="enableProContraSpeech && !speaker.point_of_order"
                >
                    <mat-icon class="user-subtitle" *ngIf="speaker.speech_state !== SpeechState.PRO">
                        add_circle_outline
                    </mat-icon>
                    <mat-icon class="green-text" *ngIf="speaker.speech_state === SpeechState.PRO">add_circle</mat-icon>
                </button>

                <!-- contra -->
                <button
                    mat-icon-button
                    (click)="onProContraButtons(false)"
                    matTooltip="{{ 'Counter speech' | translate }}"
                    *ngIf="enableProContraSpeech && !speaker.point_of_order"
                >
                    <mat-icon class="user-subtitle" *ngIf="speaker.speech_state !== SpeechState.CONTRA">
                        remove_circle_outline
                    </mat-icon>
                    <mat-icon class="red-warning-text" *ngIf="speaker.speech_state === SpeechState.CONTRA">
                        remove_circle
                    </mat-icon>
                </button>

                <!-- mark -->
                <button
                    mat-icon-button
                    (click)="onMarkButton()"
                    matTooltip="{{ 'Contribution' | translate }}"
                    *ngIf="canMarkSpeaker() && !speaker.point_of_order"
                >
                    <mat-icon *ngIf="speaker.speech_state === SpeechState.CONTRIBUTION">star</mat-icon>
                    <mat-icon class="user-subtitle" *ngIf="speaker.speech_state !== SpeechState.CONTRIBUTION">
                        star_border
                    </mat-icon>
                </button>
                <mat-menu #structureLevelsMenu="matMenu">
                    <ng-container *ngIf="speaker.meeting_user_id">
                        <button
                            *ngFor="let structureLevel of speaker.meeting_user.structure_levels"
                            mat-menu-item
                            (click)="setStructureLevel(structureLevel.id)"
                        >
                            <mat-icon *ngIf="speaker.structure_level_list_of_speakers?.structure_level_id">
                                {{
                                    speaker.structure_level_list_of_speakers?.structure_level_id === structureLevel.id
                                        ? 'check'
                                        : ''
                                }}
                            </mat-icon>
                            {{ structureLevel.name }}
                        </button>
                    </ng-container>
                </mat-menu>
            </ng-container>
        </span>

        <!-- Stop speaker button -->
        <button
            *ngIf="speaker.isCurrentSpeaker && canManage"
            mat-icon-button
            class="speaker-stop-button"
            matTooltip="{{ 'End speech' | translate }}"
            matTooltipPosition="above"
            (click)="onStopButton()"
        >
            <mat-icon>stop_circle</mat-icon>
        </button>

        <!-- Speaker countdown -->
        <span *ngIf="structureLevelCountdownEnabled && hasSpeakerCountdown" class="countdown">
            <os-countdown-time [unstyled]="true" [countdown]="getSpeakerCountdown()"></os-countdown-time>
        </span>

        <ng-container *ngIf="canManage">
            <!-- more menu button -->
            <button mat-icon-button [matMenuTriggerFor]="manageSpeakerMenu" [matMenuTriggerData]="{ speaker: speaker }">
                <mat-icon>more_vert</mat-icon>
            </button>
        </ng-container>
    </div>
    <div *ngIf="speaker.isFinished" class="speaker-appendix">
        <!-- Speaker countdown -->
        <span class="duration">
            {{ durationString }}
        </span>

        <ng-container *osPerms="permission.listOfSpeakersCanManage">
            <button
                *ngIf="speaker.speech_state === SpeechState.INTERPOSED_QUESTION && !speaker.meeting_user_id"
                mat-icon-button
                matTooltip="{{ 'Select speaker' | translate }}"
                matTooltipPosition="left"
                (click)="updateSpeakerMeetingUser()"
            >
                <mat-icon>person_add</mat-icon>
            </button>
        </ng-container>
        <ng-container>
            <button
                mat-icon-button
                matTooltip="{{ 'Remove' | translate }}"
                matTooltipPosition="left"
                *osPerms="permission.listOfSpeakersCanManage"
                (click)="removeSpeaker()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </ng-container>
    </div>
</div>

<mat-menu #manageSpeakerMenu>
    <ng-template let-speaker="speaker" matMenuContent>
        <ng-container *ngIf="canManage">
            <ng-container *ngIf="enableSpeechStateControls()">
                <!-- pro button -->
                <button mat-menu-item (click)="onProContraButtons(true)" *ngIf="enableProContraButton()">
                    <mat-icon *ngIf="speaker.speech_state !== SpeechState.PRO">add_circle_outline</mat-icon>
                    <mat-icon class="green-text" *ngIf="speaker.speech_state === SpeechState.PRO">add_circle</mat-icon>
                    <span>{{ 'Forspeech' | translate }}</span>
                </button>

                <!-- contra button -->
                <button mat-menu-item (click)="onProContraButtons(false)" *ngIf="enableProContraButton()">
                    <mat-icon *ngIf="speaker.speech_state !== SpeechState.CONTRA">remove_circle_outline</mat-icon>
                    <mat-icon class="red-warning-text" *ngIf="speaker.speech_state === SpeechState.CONTRA">
                        remove_circle
                    </mat-icon>
                    <span>{{ 'Contra speech' | translate }}</span>
                </button>

                <!-- star button -->
                <button mat-menu-item (click)="onMarkButton()" *ngIf="enableContributionButton()">
                    <mat-icon>
                        {{ speaker.speech_state === SpeechState.CONTRIBUTION ? 'star' : 'star_border' }}
                    </mat-icon>
                    <span>{{ 'Contribution' | translate }}</span>
                </button>

                <!-- intervention -->
                <button mat-menu-item (click)="onInterventionButton()" *ngIf="enableInterventionButton()">
                    <mat-icon>
                        {{ speaker.speech_state === SpeechState.INTERVENTION ? 'error' : 'error_outline' }}
                    </mat-icon>
                    <span>{{ 'Intervention' | translate }}</span>
                </button>

                <!-- point of order -->
                <button mat-menu-item (click)="onPointOfOrderButton()" *ngIf="enablePointOfOrderButton()">
                    <mat-icon>warning</mat-icon>
                    <span>{{ (speaker.point_of_order ? 'Remove point of order' : 'Point of order') | translate }}</span>
                </button>

                <button *ngIf="speaker.point_of_order" mat-menu-item (click)="onEditPointOfOrderButton()">
                    <mat-icon>edit</mat-icon>
                    <span>{{ 'Edit point of order ...' | translate }}</span>
                </button>
            </ng-container>

            <!-- update user button -->
            <button *ngIf="enableUpdateUserButton()" mat-menu-item (click)="updateSpeakerMeetingUser()">
                <mat-icon>person_add</mat-icon>
                <span translate>Select speaker</span>
            </button>

            <!-- Call controls -->
            <ng-container [ngTemplateOutlet]="callControls" *ngIf="enableCallControls">
                <mat-divider></mat-divider>
            </ng-container>

            <!-- Structure levels -->
            <button *ngIf="enableStructureLevelsMenu()" mat-menu-item [matMenuTriggerFor]="structureLevelsMenu">
                <mat-icon>flag</mat-icon>
                <span>{{ 'Structure level' | translate }}</span>
            </button>

            <mat-menu #structureLevelsMenu="matMenu">
                <ng-container *ngIf="speaker.meeting_user_id">
                    <button
                        *ngFor="let structureLevel of speaker.meeting_user.structure_levels"
                        mat-menu-item
                        (click)="setStructureLevel(structureLevel.id)"
                    >
                        <mat-icon *ngIf="speaker.structure_level_list_of_speakers?.structure_level_id">
                            {{
                                speaker.structure_level_list_of_speakers?.structure_level_id === structureLevel.id
                                    ? 'check'
                                    : ''
                            }}
                        </mat-icon>
                        {{ structureLevel.name }}
                    </button>
                </ng-container>
            </mat-menu>

            <mat-divider
                *ngIf="
                    enableSpeechStateControls() ||
                    enableUpdateUserButton() ||
                    enableCallControls ||
                    enableStructureLevelsMenu()
                "
            ></mat-divider>
            <!-- remove speaker from list -->
            <button mat-menu-item (click)="removeSpeaker()">
                <mat-icon color="warn">delete</mat-icon>
                <span>{{ 'Clear' | translate }}</span>
            </button>
        </ng-container>
    </ng-template>
</mat-menu>

<!-- Invite to conference room -->
<ng-template #callControls>
    <button mat-menu-item (click)="inviteToVoice()">
        <mat-icon>add_call</mat-icon>
        <span>{{ 'Invite to conference room' | translate }}</span>
    </button>
    <ng-container></ng-container>
</ng-template>

<ng-template #speechType>
    <!-- Pro Speech -->
    <span *ngIf="speaker.speech_state === SpeechState.PRO">
        <mat-icon inline class="inline-icon-text-align" [class.green-text]="!!showcolor">add_circle</mat-icon>
        <i [class.user-subtitle]="!!showcolor">
            {{ 'Forspeech' | translate }}
        </i>
    </span>

    <!-- Contra Speech -->
    <span *ngIf="speaker.speech_state === SpeechState.CONTRA">
        <mat-icon inline class="inline-icon-text-align" [class.red-warning-text]="!!showcolor">remove_circle</mat-icon>
        <i [class.user-subtitle]="!!showcolor">
            {{ 'Counter speech' | translate }}
        </i>
    </span>

    <!-- Marked -->
    <span *ngIf="speaker.speech_state === SpeechState.CONTRIBUTION">
        <mat-icon inline class="inline-icon-text-align" [class.icon]="!!showcolor">star</mat-icon>
        <i [class.user-subtitle]="!!showcolor">
            {{ 'Contribution' | translate }}
        </i>
    </span>

    <!-- Interposed question -->
    <span *ngIf="speaker.speech_state === SpeechState.INTERPOSED_QUESTION">
        <mat-icon inline class="inline-icon-text-align" [class.icon]="!!showcolor">help</mat-icon>
        <i [class.user-subtitle]="!!showcolor">
            {{ 'Interposed question' | translate }}
        </i>
    </span>

    <!-- Intervention -->
    <span *ngIf="speaker.speech_state === SpeechState.INTERVENTION">
        <mat-icon inline class="inline-icon-text-align" [class.icon]="!!showcolor">error</mat-icon>
        <i [class.user-subtitle]="!!showcolor">
            {{ 'Intervention' | translate }}
        </i>
    </span>

    <!-- Point Of Order and note -->
    <span
        *ngIf="
            speaker.point_of_order ||
            ((speaker.point_of_order_category || speaker.note) &&
                ((showSpeakerNoteForEveryoneObservable | async) || canManage))
        "
    >
        <mat-icon
            inline
            color="{{ !!showcolor ? 'warn' : null }}"
            class="inline-icon-text-align"
            *ngIf="speaker.point_of_order"
        >
            warning
        </mat-icon>
        <b
            [class.foreground-warn]="!!showcolor"
            *ngIf="speaker.point_of_order_category && ((showSpeakerNoteForEveryoneObservable | async) || canManage)"
        >
            {{ speaker.point_of_order_category.text }}
        </b>
        <span
            [class.foreground-warn]="!!showcolor"
            *ngIf="
                speaker.point_of_order_category &&
                speaker.note &&
                ((showSpeakerNoteForEveryoneObservable | async) || canManage)
            "
        >
            ·
        </span>
        <ng-container *ngIf="(showSpeakerNoteForEveryoneObservable | async) || canManage">
            <i [class.foreground-warn]="!!showcolor" *ngIf="speaker.note">
                {{ speaker.note }}
            </i>
            <i
                [class.foreground-warn]="!!showcolor"
                *ngIf="
                    !speaker.note &&
                    speaker.point_of_order &&
                    !(pointOfOrderCategoriesEnabled && speaker.point_of_order_category)
                "
            >
                {{ 'Point of order' | translate }}
            </i>
        </ng-container>
    </span>
</ng-template>
