@import 'src/assets/styles/variables.scss';

.single-speaker-line {
    display: flex;
    align-items: center;

    .speaker-info {
        flex-grow: 1;
    }

    .speaker-controls {
        flex-shrink: 1;
        flex-wrap: nowrap;
    }

    .speaker-name {
        margin: auto 0;
        font-size: 16px;
        font-weight: bold;
        .pronoun {
            font-size: 12px;
            font-weight: normal;
        }
    }

    .speaking-indicator {
        height: 24px;
        width: 40px;
        text-align: center;
    }

    .speaker-index {
        font-weight: bold;
        font-size: 16px;
        min-width: 26px;
        padding: 0 8px;
    }

    .speaker-info {
        padding: 8px 0;
    }

    .speaker-structure-level {
        font-size: 12px;
    }

    .speaker-additional-info,
    .speech-type {
        font-size: 12px;
        & > span:not(:last-of-type):after {
            content: ' · ';
        }
    }

    .countdown {
        font-size: 18px;
        margin-right: 6px;
    }
}

.speaker-warning {
    margin-right: 5px;
}

.speaker-control-button {
    $speaker-control-button-size: 46px;
    $speaker-control-button-font-size: 38px;
    width: $speaker-control-button-size !important;
    height: $speaker-control-button-size !important;
    line-height: $speaker-control-button-size !important;

    .mat-icon {
        width: $speaker-control-button-font-size !important;
        height: $speaker-control-button-font-size !important;
        line-height: $speaker-control-button-font-size !important;
    }
    .material-icons {
        font-size: $speaker-control-button-font-size !important;
    }

    // TODO: Replace after mdc-migration:
    /*
    width: $speaker-control-button-size !important;
    height: $speaker-control-button-size !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    & > *[role=img] {
        width: $speaker-control-button-font-size;
        height: $speaker-control-button-font-size;
        font-size: $speaker-control-button-font-size;

        svg {
            width: $speaker-control-button-font-size;
            height: $speaker-control-button-font-size;
        }
    }

    .mat-mdc-button-touch-target {
        width: $speaker-control-button-size !important;
        height: $speaker-control-button-size !important;
    }
    */
}
