<!-- Poll Infos -->
<div class="poll-title-wrapper">
    <!-- Title Area -->
    <div class="poll-title-area">
        <!-- Title -->
        <span class="poll-title break-word">
            @if (isSameMeeting() && getDetailLink()) {
                <a [routerLink]="getDetailLink()">
                    {{ poll().title | translate }}
                </a>
            } @else {
                {{ poll().title | translate }}
            }
        </span>

        <!-- Subtitle -->
        <div class="italic spacer-bottom-20">
            <!-- Type and State -->
            <div class="type-and-state italic spacer-bottom-20 break-word">
                <span *osPerms="permission.motionCanManagePolls; and: poll().isEVoting">
                    <os-icon-container
                        class="poll-type break-word"
                        color="primary"
                        icon="info"
                        size="large"
                        [showIcon]="poll().isAnonymous"
                        [swap]="true"
                        (iconAction)="openVotingWarning()"
                    >
                        {{ poll().visibility | translateKey: 'poll_visibility' }}
                    </os-icon-container>
                    @if (poll().isAnonymous) {
                        <span>&nbsp;</span>
                    }
                    &middot;&nbsp;
                </span>
                <!-- State -->
                <span class="break-word">
                    @if (poll().isEVoting && poll().canBeVotedFor()) {
                        {{ 'Voting in progress' | translate }}
                    } @else {
                        {{ poll().state | translateKey: 'poll_state' }}
                    }
                </span>
            </div>
        </div>
    </div>

    <!-- Dot Menu -->
    <span *osPerms="permission.motionCanManagePolls; and: isSameMeeting()" class="poll-actions">
        <button mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
            <mat-icon class="icon-18">more_horiz</mat-icon>
        </button>
    </span>
</div>

<!-- Change state button -->
<div *osPerms="permission.motionCanManagePolls; and: !hideChangeState()">
    @if (pollStateAction()) {
        <button
            mat-stroked-button
            [class]="pollStateAction().css"
            [disabled]="stateChangePending()"
            (click)="nextPollState()"
        >
            <mat-icon>{{ pollStateAction().icon }}</mat-icon>
            <span class="next-state-label">
                @if (stateChangePending()) {
                    {{ 'In progress, please wait ...' | translate }}
                } @else {
                    {{ poll().nextState | translateKey: 'poll_state_change_action' }}
                }
            </span>
        </button>
    }
</div>

@if (!poll().stateHasVotes && poll().visibility !== 'manually') {
    @if (poll().isStarted) {
        <os-poll-progress [poll]="poll()" />
    }
}

@if (poll().canBeVotedFor()) {
    @if (poll() && user()) {
        <!-- own voting -->
        @if (!user().isInActiveMeeting) {
            <div class="text-center">
                {{ 'You are not part of the meeting' | translate }}
            </div>
        } @else if (user().isPresentInMeeting()) {
            <os-poll-vote [poll]="poll()" [user]="user()"></os-poll-vote>
        } @else {
            <div class="text-center">
                {{ 'You have to be present to vote.' | translate }}
            </div>
        }

        <!-- Delegations -->
        @if (user().isPresentInMeeting() && voteDelegationEnabled()) {
            @for (delegation of delegations(); track delegation.id) {
                <div class="poll-vote-delegation">
                    <mat-divider></mat-divider>
                    <os-poll-vote [poll]="poll()" [user]="delegation"></os-poll-vote>
                </div>
            }
        }
    }
} @else if (poll().isFinished) {
    <os-poll-result [poll]="poll()" />
}

@if (!poll().isFinished) {
    <os-poll-meta [poll]="poll()" />
}

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    @if (allowEdit()) {
        <button *osPerms="permission.motionCanManagePolls" mat-menu-item (click)="dialogOpened.emit()">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </button>
    }
    <os-projector-button
        *osPerms="permission.projectorCanManage"
        [allowReferenceProjector]="true"
        [menuItem]="true"
        [object]="poll().getProjectionBuildDescriptor()"
    />
    <button
        *osPerms="permission.motionCanManagePolls; and: poll && poll().canAnonymize"
        mat-menu-item
        (click)="anonymizePoll()"
    >
        <mat-icon>warning</mat-icon>
        <span>{{ 'Anonymize votes' | translate }}</span>
    </button>
    <button mat-menu-item (click)="downloadPdf.emit()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>{{ 'Ballot papers' | translate }}</span>
    </button>
    <div *osPerms="permission.motionCanManagePolls">
        <mat-divider></mat-divider>

        <!-- Reset Button -->
        <button mat-menu-item (click)="resetState()">
            <mat-icon color="warn">replay</mat-icon>
            <span>{{ 'Reset state' | translate }}</span>
        </button>

        <!-- Delete button -->
        <button mat-menu-item (click)="deletePoll()">
            <mat-icon color="warn">delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
