@if (chips.length) {
    <mat-chip-listbox class="mat-chip-list-stacked" [matMenuTriggerFor]="canOpen ? menu : null">
        @for (chip of chips; track chip) {
            <mat-basic-chip
                class="chip-stacked"
                disableRipple
                [class]="chipClass || 'grey'"
                [ngClass]="{ 'menu-handle': canOpen }"
            >
                <span class="wrap">
                    <ng-content *ngTemplateOutlet="chip.template" />
                </span>
            </mat-basic-chip>
        }
    </mat-chip-listbox>
} @else {
    <mat-basic-chip
        disableRipple
        [class]="chipClass || 'grey'"
        [matMenuTriggerFor]="canOpen ? menu : null"
        [ngClass]="{ 'menu-handle': canOpen }"
    >
        <span class="wrap">
            <ng-content />
        </span>
    </mat-basic-chip>
}

<mat-menu #menu="matMenu">
    <ng-content select="[menu]" />
</mat-menu>
