<ng-container *ngIf="chips.length">
    <mat-chip-list
        class="mat-chip-list-stacked"
        [matMenuTriggerFor]="canOpen ? menu : null"
        [ngClass]="{ 'menu-handle': canOpen }"
    >
        <mat-basic-chip *ngFor="let chip of chips" [class]="chipClass || 'grey'" disableRipple>
            <ng-content *ngTemplateOutlet="chip.template"></ng-content>
        </mat-basic-chip>
    </mat-chip-list>
</ng-container>
<ng-container *ngIf="chips.length < 1">
    <mat-basic-chip
        disableRipple
        [matMenuTriggerFor]="canOpen ? menu : null"
        [class]="chipClass || 'grey'"
        [ngClass]="{ 'menu-handle': canOpen }"
    >
        <ng-content></ng-content>
    </mat-basic-chip>
</ng-container>

<mat-menu #menu="matMenu">
    <ng-content select="[menu]"></ng-content>
</mat-menu>
