.wrap {
    white-space: wrap;
    overflow-wrap: anywhere;
}

.mat-mdc-chip.chip-stacked {
    margin: 4px 4px 4px 4px;
}

.mat-mdc-chip.menu-handle {
    &,
    ::ng-deep span {
        cursor: pointer !important;
    }
}
