<!-- Folder navigation bar -->
<div>
    <div class="custom-table-header">
        <!-- Scrollable folder bar -->
        <span class="folder-nav-bar h-scroller">
            <button class="folder" mat-button [disabled]="isMultiSelect" (click)="changeDirectory(null)">
                <mat-icon class="grey-icon foreground-icon">home</mat-icon>
            </button>
            @for (directory of directoryChain; track directory; let last = $last) {
                <span class="folder-section">
                    <span class="arrow">
                        <mat-icon>chevron_right</mat-icon>
                    </span>
                    @if (!last) {
                        <button
                            class="folder"
                            mat-button
                            [disabled]="isMultiSelect"
                            (click)="changeDirectory(directory.id)"
                        >
                            <span class="folder-text">
                                {{ directory.getTitle() }}
                            </span>
                        </button>
                    }
                    @if (last && shouldShowFileMenuFn(directory)) {
                        <button
                            class="folder"
                            mat-button
                            [disabled]="isMultiSelect"
                            [matMenuTriggerData]="{ mediafile: directory }"
                            [matMenuTriggerFor]="singleMediafileMenu"
                        >
                            <os-icon-container icon="arrow_drop_down" size="large" [noWrap]="true" [swap]="true">
                                {{ directory.getTitle() }}
                            </os-icon-container>
                        </button>
                    }
                    @if (last && !shouldShowFileMenuFn(directory)) {
                        <span class="folder fake-folder folder-text">
                            {{ directory.getTitle() }}
                        </span>
                    }
                </span>
            }
        </span>

        <!-- Visibility as button -->
        <!-- Space for custom templates -->
    </div>
</div>

<!-- the actual file manager -->
<os-list
    class="file-manager-table"
    [addBottomSpacer]="addBottomSpacer"
    [alwaysShowMenu]="true"
    [componentHeight]="fileListHeight"
    [hiddenInMobile]="hiddenInMobile"
    [listObservable]="directoryObservable"
    [multiSelect]="isMultiSelect"
    [showFilterBar]="false"
    [vScrollFixed]="60"
    (selectedRowsChange)="onSelectedRowsChange($event)"
>
    <!-- Icon column -->
    <div
        *osScrollingTableCell="'icon'; row as mediafile; config: { width: 40, position: START_POSITION }"
        class="fill clickable"
    >
        @if (!mediafile.is_directory && !isMultiSelect) {
            <a class="detail-link" target="_blank" [routerLink]="getMediaUrl(mediafile)"></a>
        }
        @if (mediafile.is_directory && !isMultiSelect) {
            <a
                class="detail-link"
                tabindex="0"
                (click)="changeDirectory(mediafile.id)"
                (keydown.enter)="changeDirectory(mediafile.id)"
            ></a>
        }
        <mat-icon class="grey-icon foreground-icon">{{ mediafile.getIcon() }}</mat-icon>
    </div>

    <!-- Title column -->
    <div *osScrollingTableCell="'title'; row as mediafile; config: { position: START_POSITION }" class="fill clickable">
        @if (!mediafile.is_directory && !isMultiSelect) {
            <a class="detail-link" target="_blank" [routerLink]="getMediaUrl(mediafile)"></a>
        }
        @if (mediafile.is_directory && !isMultiSelect) {
            <a
                class="detail-link"
                tabindex="0"
                (click)="changeDirectory(mediafile.id)"
                (keydown.enter)="changeDirectory(mediafile.id)"
            ></a>
        }
        <div class="innerTable overflow-hidden">
            <div class="file-title ellipsis-overflow">
                {{ mediafile.title }}
            </div>
            @if (!mediafile.is_directory) {
                <div class="foreground-icon">
                    <span>{{ mediafile.create_timestamp | time }} · {{ mediafile.filesize | readableBytes }}</span>
                </div>
            }
        </div>
    </div>

    <div *osScrollingTableCell="'edit'; row as mediafile" class="fill detail-link">
        @if (canEdit) {
            <div
                class="fill detail-link"
                tabindex="0"
                (click)="onEditFile(mediafile, fileEditDialog)"
                (keydown.enter)="onEditFile(mediafile, fileEditDialog)"
            >
                @if (isInMeeting) {
                    <os-icon-container icon="group">
                        <os-comma-separated-listing [list]="mediafile.access_groups" [showElementsAmount]="3">
                            <ng-template let-group>{{ $any(group).getTitle() }}</ng-template>
                        </os-comma-separated-listing>
                    </os-icon-container>
                }
                @if (!isInMeeting) {
                    <os-icon-container icon="edit"></os-icon-container>
                }
            </div>
        }
    </div>

    <!-- Mimetype (usually hidden) -->
    <div *osScrollingTableCell="'mimetype'; row as mediafile; isHidden: true" class="fill clickable">
        {{ mediafile.mimetype }}
    </div>

    <!-- Indicator column -->
    <div *osScrollingTableCell="'indicator'; row as mediafile; config: { width: 40 }" class="fill clickable">
        @if (mediafile.isFont() && isUsedAsFontFn(mediafile)) {
            <mat-icon class="foreground-icon" [matTooltip]="'File is being used' | translate">text_fields</mat-icon>
        }
        @if (mediafile.isImage() && isUsedAsLogoFn(mediafile)) {
            <mat-icon class="foreground-icon" [matTooltip]="'File is being used' | translate">insert_photo</mat-icon>
        }
    </div>

    <!-- Menu column -->
    <div *osScrollingTableCell="'menu'; row as mediafile; config: { width: 40 }" class="fill">
        @if (shouldShowFileMenuFn(mediafile)) {
            <button
                mat-icon-button
                [disabled]="isMultiSelect"
                [matMenuTriggerData]="{ mediafile: mediafile }"
                [matMenuTriggerFor]="singleMediafileMenu"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        }
    </div>
</os-list>

<!-- Menu for single files in the list -->
<mat-menu #singleMediafileMenu="matMenu">
    <ng-template let-mediafile="mediafile" matMenuContent>
        <!-- Space for custom content -->
        <ng-container *ngTemplateOutlet="fileMenuTemplate; context: { mediafile: mediafile }"></ng-container>

        @if (canEdit) {
            <div>
                <button mat-menu-item (click)="onEditFile(mediafile, fileEditDialog)">
                    <mat-icon>edit</mat-icon>
                    <span>{{ 'Edit' | translate }}</span>
                </button>
                <button mat-menu-item (click)="move(moveDialog, [mediafile])">
                    <mat-icon>near_me</mat-icon>
                    <span>{{ 'Move' | translate }}</span>
                </button>
                <button class="red-warning-text" mat-menu-item (click)="onDelete(mediafile)">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'Delete' | translate }}</span>
                </button>
            </div>
        }
    </ng-template>
</mat-menu>

<!-- File edit dialog -->
<ng-template #fileEditDialog>
    <h1 mat-dialog-title>{{ 'Edit details for' | translate }}</h1>
    <mat-dialog-content class="os-form-card-mobile">
        <form class="edit-file-form" [formGroup]="fileEditForm">
            <mat-form-field>
                <mat-label>{{ 'New file name' | translate }}</mat-label>
                <input formControlName="title" matInput osAutofocus required type="text" />
                @if (fileEditForm.invalid) {
                    <mat-error>{{ 'Required' | translate }}</mat-error>
                }
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            color="accent"
            mat-button
            type="submit"
            [disabled]="!fileEditForm.valid"
            [mat-dialog-close]="fileEditForm.value"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button mat-button type="button" [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </mat-dialog-actions>
</ng-template>

<!-- Move dialog -->
<ng-template #moveDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Move into directory' | translate }}</span>
    </h1>
    <mat-dialog-content class="os-form-card-mobile" [formGroup]="moveForm">
        <p>{{ 'Please select the directory:' | translate }}</p>
        <mat-form-field>
            <mat-label>{{ 'Upload to' | translate }}</mat-label>
            <os-list-search-selector
                formControlName="directory_id"
                [includeNone]="true"
                [inputListValues]="filteredDirectoryBehaviorSubject"
                noneTitle="{{ 'Base folder' | translate }}"
            ></os-list-search-selector>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button color="accent" mat-button type="submit" [mat-dialog-close]="true">
            <span>{{ 'Move' | translate }}</span>
        </button>
        <button mat-button type="button" [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </mat-dialog-actions>
</ng-template>
