<!-- Folder navigation bar -->
<div>
    <div class="custom-table-header">
        <!-- Scrollable folder bar -->
        <span class="folder-nav-bar h-scroller">
            <button class="folder" mat-button (click)="changeDirectory(null)" [disabled]="isMultiSelect">
                <mat-icon class="grey-icon foreground-icon">home</mat-icon>
            </button>
            <span class="folder-section" *ngFor="let directory of directoryChain; let last = last">
                <span class="arrow">
                    <mat-icon>chevron_right</mat-icon>
                </span>
                <button
                    class="folder"
                    mat-button
                    (click)="changeDirectory(directory.id)"
                    [disabled]="isMultiSelect"
                    *ngIf="!last"
                >
                    <span class="folder-text">
                        {{ directory.getTitle() }}
                    </span>
                </button>
                <button
                    class="folder"
                    mat-button
                    [matMenuTriggerFor]="singleMediafileMenu"
                    [matMenuTriggerData]="{ mediafile: directory }"
                    [disabled]="isMultiSelect"
                    *ngIf="last && shouldShowFileMenuFn(directory)"
                >
                    <os-icon-container icon="arrow_drop_down" [swap]="true" size="large" [noWrap]="true">
                        {{ directory.getTitle() }}
                    </os-icon-container>
                </button>
                <span class="folder fake-folder folder-text" *ngIf="last && !shouldShowFileMenuFn(directory)">
                    {{ directory.getTitle() }}
                </span>
            </span>
        </span>

        <!-- Visibility as button -->
        <!-- Space for custom templates -->
    </div>
</div>

<!-- the actual file manager -->
<os-list
    class="file-manager-table"
    [listObservable]="directoryObservable"
    [vScrollFixed]="60"
    [hiddenInMobile]="hiddenInMobile"
    [showFilterBar]="false"
    [alwaysShowMenu]="true"
    [componentHeight]="fileListHeight"
    [multiSelect]="isMultiSelect"
    [addBottomSpacer]="addBottomSpacer"
    (selectedRowsChange)="onSelectedRowsChange($event)"
>
    <!-- Icon column -->
    <div
        *osScrollingTableCell="'icon'; row as mediafile; config: { width: 40, position: START_POSITION }"
        class="fill clickable"
    >
        <a
            class="detail-link"
            target="_blank"
            [routerLink]="getMediaUrl(mediafile)"
            *ngIf="!mediafile.is_directory && !isMultiSelect"
        ></a>
        <a
            class="detail-link"
            (click)="changeDirectory(mediafile.id)"
            *ngIf="mediafile.is_directory && !isMultiSelect"
        ></a>
        <mat-icon class="grey-icon foreground-icon">{{ mediafile.getIcon() }}</mat-icon>
    </div>

    <!-- Title column -->
    <div *osScrollingTableCell="'title'; row as mediafile; config: { position: START_POSITION }" class="fill clickable">
        <a
            class="detail-link"
            target="_blank"
            [routerLink]="getMediaUrl(mediafile)"
            *ngIf="!mediafile.is_directory && !isMultiSelect"
        ></a>
        <a
            class="detail-link"
            (click)="changeDirectory(mediafile.id)"
            *ngIf="mediafile.is_directory && !isMultiSelect"
        ></a>
        <div class="innerTable overflow-hidden">
            <div class="file-title ellipsis-overflow">
                {{ mediafile.title }}
            </div>
            <div class="foreground-icon" *ngIf="!mediafile.is_directory">
                <span>{{ mediafile.create_timestamp | time }} · {{ mediafile.filesize | readableBytes }}</span>
            </div>
        </div>
    </div>

    <!-- Mimetype (usually hidden) -->
    <div *osScrollingTableCell="'mimetype'; row as mediafile; isHidden: true" class="fill clickable">
        {{ mediafile.mimetype }}
    </div>

    <!-- Indicator column -->
    <div *osScrollingTableCell="'indicator'; row as mediafile; config: { width: 40 }" class="fill clickable">
        <mat-icon
            [matTooltip]="'File is being used' | translate"
            class="foreground-icon"
            *ngIf="mediafile.isFont() && isUsedAsFontFn(mediafile)"
        >
            text_fields
        </mat-icon>
        <mat-icon
            [matTooltip]="'File is being used' | translate"
            class="foreground-icon"
            *ngIf="mediafile.isImage() && isUsedAsLogoFn(mediafile)"
        >
            insert_photo
        </mat-icon>
    </div>

    <!-- Menu column -->
    <div *osScrollingTableCell="'menu'; row as mediafile; config: { width: 40 }" class="fill">
        <button
            mat-icon-button
            [matMenuTriggerFor]="singleMediafileMenu"
            [matMenuTriggerData]="{ mediafile: mediafile }"
            [disabled]="isMultiSelect"
            *ngIf="shouldShowFileMenuFn(mediafile)"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list>

<!-- Menu for single files in the list -->
<mat-menu #singleMediafileMenu="matMenu">
    <ng-template matMenuContent let-mediafile="mediafile">
        <!-- Space for custom content -->
        <ng-container *ngTemplateOutlet="fileMenuTemplate; context: { mediafile: mediafile }"></ng-container>

        <div *ngIf="canEdit">
            <button mat-menu-item (click)="onEditFile(mediafile, fileEditDialog)">
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit' | translate }}</span>
            </button>
            <button mat-menu-item (click)="move(moveDialog, [mediafile])">
                <mat-icon>near_me</mat-icon>
                <span>{{ 'Move' | translate }}</span>
            </button>
            <button mat-menu-item class="red-warning-text" (click)="onDelete(mediafile)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </div>
    </ng-template>
</mat-menu>

<!-- File edit dialog -->
<ng-template #fileEditDialog>
    <h1 mat-dialog-title>{{ 'Edit details for' | translate }}</h1>
    <mat-dialog-content class="os-form-card-mobile">
        <form class="edit-file-form" [formGroup]="fileEditForm">
            <mat-form-field>
                <mat-label>{{ 'New file name' | translate }}</mat-label>
                <input type="text" matInput osAutofocus required formControlName="title" />
                <mat-error *ngIf="fileEditForm.invalid">{{ 'Required' | translate }}</mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            type="submit"
            mat-button
            [disabled]="!fileEditForm.valid"
            color="accent"
            [mat-dialog-close]="fileEditForm.value"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </mat-dialog-actions>
</ng-template>

<!-- Move dialog -->
<ng-template #moveDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Move into directory' | translate }}</span>
    </h1>
    <mat-dialog-content class="os-form-card-mobile" [formGroup]="moveForm">
        <p>{{ 'Please select the directory:' | translate }}</p>
        <mat-form-field>
            <mat-label>{{ 'Upload to' | translate }}</mat-label>
            <os-list-search-selector
                formControlName="directory_id"
                [includeNone]="true"
                noneTitle="{{ 'Base folder' | translate }}"
                [inputListValues]="filteredDirectoryBehaviorSubject"
            ></os-list-search-selector>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="submit" mat-button color="accent" [mat-dialog-close]="true">
            <span>{{ 'Move' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </mat-dialog-actions>
</ng-template>
