@import 'src/assets/styles/tables.scss';
@import 'src/assets/styles/h-scroller.scss';

$navbar-size: 40px;

.folder-nav-bar {
    width: 100%;
    display: flex;
}

.folder-section {
    white-space: nowrap;
    display: flex;

    .mat-button {
        padding: 0;
    }
}

.arrow {
    height: $navbar-size;
    .mat-icon {
        line-height: $navbar-size;
        height: $navbar-size;
    }
}

.folder {
    height: $navbar-size;
    > .content-node {
        white-space: nowrap;
    }
}

.fake-folder {
    padding: 0 16px;
}

.folder-text {
    font-size: 16px;
    font-weight: 500;
    margin: auto 5px;
    overflow: hidden;
}

.visibility {
    display: flex;
    .visible-for {
        width: min-content;
    }
}

.file-manager-table {
    .file-title {
        font-weight: 500;
        font-size: 16px;
    }

    .info-text {
        font-size: 90%;
    }

    /**
    * Compilcated ngrid hack: The meta row won't disappear (just like that)
    * Select the first ever container pbl-ngrid-container div and hide
    */
    .pbl-ngrid-container {
        > div {
            height: 0;
        }
    }

    .pbl-ngrid-row {
        $size: 60px;
        height: $size !important;

        .pbl-ngrid-cell {
            height: $size !important;
        }
    }

    .pbl-ngrid-row:last-of-type {
        margin-bottom: 60px !important;
    }
}

.detail-link:focus {
    outline: none;
    border: 0px solid;
    background-color: rgba(0, 0, 0, 0.087);
}
