<os-head-bar [hasMainButton]="canEdit" [multiSelectMode]="isMultiSelect" (mainEvent)="onMainEvent()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Files' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button
            type="button"
            mat-icon-button
            (click)="createNewFolder(newFolderDialog)"
            *osPerms="permission.mediafileCanManage; and: !isMultiSelect"
        >
            <mat-icon>create_new_folder</mat-icon>
        </button>
        <button type="button" mat-icon-button [matMenuTriggerFor]="mediafilesMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div *ngIf="isMultiSelect" class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>
</os-head-bar>

<!-- the actual file manager -->
<os-file-list
    [currentDirectory]="directory"
    [isMultiSelect]="isMultiSelect"
    [hiddenInMobile]="['info']"
    [canEdit]="canEdit"
    [canAccessFileMenu]="canAccessFileMenu"
    [sourceFiles]="directoryObservable"
    [editFolderTemplate]="fileEditDialog"
    [fileMenuTemplate]="fileMenuTemplate"
    [shouldShowFileMenuFn]="shouldShowFileMenuFn"
    [addBottomSpacer]="hasInteractionState | async"
    (directoryChanged)="changeDirectory($event.directoryId)"
    (beforeEditing)="onEditFile($event.file)"
    (saved)="onSaveFile($event.update)"
    (deleted)="onDeleteFile($event.file)"
    (selected)="onSelect($event.files)"
>
    <div
        *osScrollingTableCell="'info'; row as mediafile; config: { width: 200 }"
        class="fill clickable"
        (click)="onEditFile(mediafile)"
    >
        <os-icon-container *ngIf="mediafile.access_groups.length" icon="group">
            <os-comma-separated-listing [list]="mediafile.access_groups" [showElementsAmount]="3">
                <ng-template let-group>{{ $any(group).getTitle() | translate }}</ng-template>
            </os-comma-separated-listing>
        </os-icon-container>
    </div>
</os-file-list>

<!-- Visibility as button -->
<ng-template #breadcrumbManageTemplate>
    <span class="visibility" *ngIf="canEdit && directory && directory.has_inherited_access_groups">
        <button class="visible-for" mat-button (click)="onEditFile(directory)">
            <os-icon-container icon="group" matTooltip="{{ 'Allowed access groups for this directory' | translate }}">
                <os-comma-separated-listing [list]="directory.inherited_access_groups" [showElementsAmount]="3">
                    <ng-template let-group>{{ group.getTitle() | translate }}</ng-template>
                </os-comma-separated-listing>
            </os-icon-container>
        </button>
    </span>
</ng-template>

<!-- Template for the managing buttons -->
<ng-template #manageButton let-mediafile="mediafile" let-place="place">
    <button mat-menu-item (click)="toggleMediafileUsage($event, mediafile, place)">
        <mat-icon color="accent">
            {{ isMediafileUsed(mediafile, place) ? 'check_box' : 'check_box_outline_blank' }}
        </mat-icon>
        <span>{{ getDisplayNameForPlace(place) | translate }}</span>
    </button>
</ng-template>

<ng-template #fileMenuTemplate let-mediafile="mediafile">
    <div *osPerms="permission.meetingCanManageLogosAndFonts">
        <!-- Exclusive for images -->
        <div *ngIf="mediafile.isImage()">
            <div *ngFor="let place of logoPlaces">
                <ng-container
                    *ngTemplateOutlet="manageButton; context: { mediafile: mediafile, place: place }"
                ></ng-container>
            </div>
        </div>

        <!-- Exclusive for fonts -->
        <div *ngIf="mediafile.isFont()">
            <div *ngFor="let place of fontPlaces">
                <ng-container
                    *ngTemplateOutlet="manageButton; context: { mediafile: mediafile, place: place }"
                ></ng-container>
            </div>
        </div>
        <mat-divider *ngIf="mediafile.isFont() || mediafile.isImage()"></mat-divider>
    </div>

    <os-projector-button *ngIf="mediafile.isProjectable()" [object]="mediafile" [menuItem]="true"></os-projector-button>
</ng-template>

<!-- Menu for Mediafiles -->
<mat-menu #mediafilesMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
        <button mat-menu-item (click)="downloadMultiple()">
            <mat-icon>cloud_download</mat-icon>
            <span>{{ 'Download folder' | translate }}</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>
        <mat-divider *osPerms="permission.mediafileCanManage"></mat-divider>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="downloadMultiple(selectedRows)">
            <mat-icon>cloud_download</mat-icon>
            <span>{{ 'Download' | translate }}</span>
        </button>
        <button
            mat-menu-item
            *osPerms="permission.mediafileCanManage"
            [disabled]="!selectedRows.length"
            (click)="onMove(selectedRows)"
        >
            <mat-icon>near_me</mat-icon>
            <span>{{ 'Move' | translate }} ...</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            *osPerms="permission.mediafileCanManage"
            [disabled]="!selectedRows.length"
            (click)="deleteSelected()"
        >
            <mat-icon color="warn">delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>

<!-- File edit dialog -->
<ng-template #fileEditDialog>
    <h1 mat-dialog-title>{{ 'Edit details for' | translate }}</h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-file-form" [formGroup]="fileEditForm!">
            <mat-form-field>
                <mat-label>{{ 'New file name' | translate }}</mat-label>
                <input type="text" matInput osAutofocus required formControlName="title" />
                <mat-error *ngIf="fileEditForm?.invalid">{{ 'Required' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'Access groups' | translate }}</mat-label>
                <os-list-search-selector
                    formControlName="access_group_ids"
                    [multiple]="true"
                    [inputListValues]="groupsBehaviorSubject"
                ></os-list-search-selector>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button
            type="submit"
            mat-button
            [disabled]="!fileEditForm?.valid"
            color="accent"
            [mat-dialog-close]="fileEditForm?.value"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>

<!-- New folder dialog -->
<ng-template #newFolderDialog>
    <h1 mat-dialog-title>{{ 'New directory' | translate }}</h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-file-form" [formGroup]="newDirectoryForm">
            <p>{{ 'Please enter a name for the new directory:' | translate }}</p>
            <mat-form-field>
                <mat-label>{{ 'Title' | translate }}</mat-label>
                <input matInput osAutofocus formControlName="title" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'Access groups' | translate }}</mat-label>
                <os-list-search-selector
                    formControlName="access_group_ids"
                    [multiple]="true"
                    [inputListValues]="groupsBehaviorSubject"
                ></os-list-search-selector>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-button [disabled]="!newDirectoryForm.valid" color="accent" [mat-dialog-close]="true">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
