<!-- Submitters -->
<div *ngIf="motion?.submitters">
    <div><os-motion-manage-submitters [motion]="motion"></os-motion-manage-submitters></div>
</div>

<!-- do Support -->
<div *ngIf="minSupporters">
    <h4 *ngIf="perms.isAllowed('support', motion) || motion.hasSupporters()">{{ 'Supporters' | translate }}</h4>

    <!-- support button -->
    <button
        type="button"
        mat-stroked-button
        color="accent"
        (click)="support()"
        *ngIf="perms.isAllowed('support', motion)"
    >
        <mat-icon>thumb_up</mat-icon>
        {{ 'Support' | translate }}
    </button>

    <!-- unsupport button -->
    <button
        type="button"
        *ngIf="perms.isAllowed('unsupport', motion)"
        (click)="unsupport()"
        mat-stroked-button
        color="accent"
    >
        <mat-icon>thumb_down</mat-icon>
        {{ 'Unsupport' | translate }}
    </button>
    <!-- show supporters (TODO: open in dialog) -->
    <button type="button" *ngIf="motion.hasSupporters()" (click)="openSupportersDialog()" mat-button>
        {{ motion.supporter_users.length }} {{ 'supporters' | translate }}
    </button>
    <p *ngIf="showSupporters" class="supporters">
        <os-comma-separated-listing [list]="motion.supporter_users">
            <ng-template let-supporter>{{ supporter.full_name }}</ng-template>
        </os-comma-separated-listing>
    </p>
</div>

<!-- Set State -->
<div *ngIf="motion?.state">
    <os-motion-extension-field
        title="{{ 'State' | translate }}"
        [canBeEdited]="perms.isAllowed('change_state', motion) || !!motion.state.submitter_withdraw_state"
        [hasExtension]="!!motion.state && motion.state.show_state_extension_field"
        [chipValue]="stateLabel | translate"
        [inputValue]="motion?.state_extension"
        [classes]="motion.stateCssColor"
        extensionLabel="{{ 'Extension' | translate }}"
        (succeeded)="setStateExtension($event)"
    >
        <span class="trigger-menu" *ngIf="motion.state">
            <ng-container *ngIf="perms.isAllowed('change_state', motion)">
                <button *ngFor="let state of motion.state.next_states" mat-menu-item (click)="setState(state.id)">
                    {{ state.name }}
                    <span *ngIf="state.show_state_extension_field">&nbsp;...</span>
                </button>
                <div>
                    <mat-divider *ngIf="motion.state.next_states.length > 0"></mat-divider>
                    <button
                        *ngFor="let state of motion.state.previous_states"
                        mat-menu-item
                        (click)="setState(state.id)"
                    >
                        <mat-icon>arrow_back</mat-icon>
                        {{ state.name }}
                        <span *ngIf="state.show_state_extension_field">&nbsp;...</span>
                    </button>
                    <button mat-menu-item (click)="resetState()">
                        <mat-icon>replay</mat-icon>
                        {{ 'Reset state' | translate }}
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="!perms.isAllowed('change_state', motion) && !!motion.state.submitter_withdraw_state">
                <button mat-menu-item (click)="setState(motion.state.submitter_withdraw_state.id)">
                    {{ motion.state.submitter_withdraw_state.name }}
                </button>
            </ng-container>
        </span>
    </os-motion-extension-field>

    <!-- Forward to meeting -->
    <button mat-stroked-button (click)="forwardMotionToMeetings()" *ngIf="showForwardButton" class="spacer-top-10">
        <mat-icon>forward</mat-icon>
        <span>{{ 'Forward' | translate }}</span>
    </button>

    <os-motion-add-poll-button [motion]="motion"></os-motion-add-poll-button>
</div>

<!-- Forwardings - display only -->
<div *ngIf="motion?.derived_motions?.length">
    <h4>{{ 'Motion forwarded to' | translate }}</h4>
    <div>
        <div *ngFor="let derived of motion.derived_motions; let last = last">
            <ng-container *ngTemplateOutlet="meetingLink; context: { motion: derived }"></ng-container>
            <span>({{ derived.forwarded | localizedDate }})</span>
        </div>
    </div>
</div>

<!-- Recommendation -->
<div *ngIf="isRecommendationEnabled">
    <os-motion-extension-field
        title="{{ recommender }}"
        [inputValue]="motion?.recommendation_extension"
        [canBeEdited]="perms.isAllowed('change_metadata', motion)"
        [chipValue]="recommendationLabel | translate"
        [hasExtension]="!!motion.recommendation && motion.recommendation.show_recommendation_extension_field"
        extensionLabel="{{ 'Extension' | translate }}"
        [searchLists]="searchLists"
        [listValueTransformFns]="[motionTransformFn]"
        (succeeded)="setRecommendationExtension($event)"
    >
        <span class="trigger-menu">
            <button
                *ngFor="let recommendation of getPossibleRecommendations()"
                mat-menu-item
                (click)="setRecommendation(recommendation.id)"
            >
                <mat-icon *ngIf="motion.recommendation_id === recommendation.id">check</mat-icon>
                {{ recommendation.recommendation_label }}
                <span *ngIf="recommendation.show_recommendation_extension_field">&nbsp;...</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="resetRecommendation()">
                <mat-icon>replay</mat-icon>
                {{ 'Reset recommendation' | translate }}
            </button>
        </span>
    </os-motion-extension-field>

    <!-- recommendation referenced motions -->
    <div class="spacer-top-10" *ngIf="showReferringMotions && referencedMotions?.length > 0">
        <span *ngFor="let motion of referencedMotions; let last = last">
            <a [routerLink]="motion.getDetailStateUrl()">{{ motion.numberOrTitle }}</a>
            <span *ngIf="!last" class="referencelist">&nbsp;·&nbsp;</span>
        </span>
    </div>

    <button mat-stroked-button *ngIf="canFollowRecommendation()" (click)="onFollowRecButton()" class="spacer-top-10">
        <span>{{ 'Follow recommendation' | translate }}</span>
    </button>
</div>

<!-- recommendation referencing motions -->
<div *ngIf="showReferringMotions && motion?.referenced_in_motion_recommendation_extensions?.length > 0">
    <h4>{{ 'Referring motions' | translate }}</h4>
    <span *ngFor="let motion of referencingMotions; let last = last">
        <a [routerLink]="motion.getDetailStateUrl()">{{ motion.numberOrTitle }}</a>
        <span *ngIf="!last" class="referencelist">&nbsp;·&nbsp;</span>
    </span>
</div>

<!-- Category -->
<!-- Disabled during "new motion" since changing has no effect -->
<div *ngIf="categories.length">
    <h4 *ngIf="perms.isAllowed('change_metadata', motion) || motion.category">{{ 'Category' | translate }}</h4>

    <os-chip-select
        *ngIf="perms.isAllowed('change_metadata', motion) || motion.category"
        chipClass="grey multi-line-chip"
        [canOpen]="perms.isAllowed('change_metadata', motion)"
    >
        <button menu mat-menu-item *ngFor="let category of categories" (click)="setCategory(category.id)">
            <mat-icon *ngIf="motion.category_id === category.id">check</mat-icon>
            <span [ngStyle]="{ 'padding-left': getCategorySelectionMarginLeft(category) }">
                {{ category.prefixedNameWithParents }}
            </span>
        </button>

        <div *ngIf="motion.category">
            <div *ngIf="motion.category.parent">
                {{ motion.category.parent }}
            </div>
            <span *ngIf="motion.category.parent">{{ 'Subcategory' | translate }}:</span>
            {{ motion.category }}
        </div>

        <span *ngIf="!motion.category">-</span>
    </os-chip-select>
</div>

<!-- Tags -->
<!-- Disabled during "new motion" since changing has no effect -->
<div *ngIf="tags.length">
    <h4 *ngIf="perms.isAllowed('change_metadata', motion) || motion.hasTags()">{{ 'Tags' | translate }}</h4>

    <os-chip-select
        *ngIf="perms.isAllowed('change_metadata', motion) || motion.hasTags()"
        [canOpen]="perms.isAllowed('change_metadata', motion)"
    >
        <button menu mat-menu-item *ngFor="let tag of tags" (click)="setTag($event, tag.id)">
            <mat-icon *ngIf="motion.tags.includes(tag)">check</mat-icon>
            {{ tag }}
        </button>

        <os-chip-select-chip *ngFor="let tag of motion.tags" disabled disableRipple>
            {{ tag }}
        </os-chip-select-chip>

        {{ '–' }}
    </os-chip-select>
</div>

<!-- Block -->
<div *ngIf="motionBlocks.length">
    <h4 *ngIf="perms.isAllowed('change_metadata', motion) || motion.block">
        {{ 'Motion block' | translate }}
    </h4>
    <os-chip-select
        *ngIf="perms.isAllowed('change_metadata', motion) || motion.block"
        [canOpen]="perms.isAllowed('change_metadata', motion)"
    >
        <button menu mat-menu-item *ngFor="let block of motionBlocks" (click)="setBlock(block.id)">
            <mat-icon *ngIf="motion.block_id === block.id">check</mat-icon>
            {{ block }}
        </button>

        {{ motion.block || '–' }}
    </os-chip-select>
</div>

<!-- Created timestamp -->
<div *ngIf="motion?.created">
    <h4>{{ 'Creation date' | translate }}</h4>
    <div>{{ motion.created | localizedDate }}</div>
</div>

<!-- Workflow timestamp -->
<div *ngIf="motion?.workflow_timestamp">
    <h4>{{ 'Submission date' | translate }}</h4>
    <div>{{ motion.workflow_timestamp | localizedDate }}</div>
</div>

<!-- Origins - display only -->
<div *ngIf="getOriginMotions().length">
    <h4>{{ 'Origin' | translate }}</h4>
    <div class="origin-view">
        <ng-container *ngFor="let origin of getOriginMotions(); let last = last">
            <div>
                <ng-container *ngTemplateOutlet="meetingLink; context: { motion: origin }"></ng-container>
            </div>
            <div class="flex-center">
                <mat-icon *ngIf="!last">north</mat-icon>
            </div>
        </ng-container>
    </div>
</div>

<!-- Amendments -->
<div *ngIf="amendments && amendments.length > 0">
    <h4>{{ 'Amendments' | translate }}</h4>
    <a [routerLink]="['/', activeMeetingId, 'motions', 'amendments', motion.id]" [state]="{ back: 'true' }">
        {{ amendments.length }}
        <span *ngIf="amendments.length === 1">{{ 'Amendment' | translate }}</span>
        <span *ngIf="amendments.length > 1">{{ 'Amendments' | translate }}</span>
    </a>

    <br />
    <mat-checkbox [(ngModel)]="showAllAmendments" *ngIf="isDifferedChangeRecoMode">
        {{ 'Show all changes' | translate }}
    </mat-checkbox>
</div>

<!-- motion polls -->
<os-motion-manage-polls [motion]="motion" [hideAdd]="true"></os-motion-manage-polls>

<ng-template let-motion="motion" #meetingLink>
    »
    <span *ngIf="canAccess(motion)">
        <a [routerLink]="getUrl(motion)">
            {{ getMeetingName(motion) }}
        </a>
    </span>
    <span *ngIf="!canAccess(motion)">
        {{ getMeetingName(motion) }}
    </span>
</ng-template>
