@use 'src/assets/styles/poll-colors.scss';
@use 'src/assets/styles/poll-styles-common.scss';

.vote-button {
    min-width: 50px;
    height: 50px;
    margin: auto;

    .vote-button-content {
        margin: auto;
        display: grid;

        .vote-button-circle,
        .vote-button-cross {
            grid-column: 1;
            grid-row: 1;
        }

        .vote-button-circle {
            z-index: 0;
        }

        .vote-button-cross {
            z-index: 1;
            height: 24px;
            width: 24px;
            opacity: 0;
        }
    }

    .button-content-opaque {
        opacity: 0.5;
    }
}

.vote-button:hover {
    .button-content-opaque {
        opacity: 1;
    }
}
