<h1 mat-dialog-title>
    <span>{{ 'Edit projector' | translate }}</span>
</h1>

<div class="settings-grid">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmitProjector()">
        <div mat-dialog-content *ngIf="projector" class="padding-bottom-0">
            <!-- Name field -->
            <mat-form-field>
                <mat-label>{{ 'Name' | translate }}</mat-label>
                <input formControlName="name" matInput required />
                <mat-error>
                    <span>{{ 'Required' | translate }}</span>
                </mat-error>
            </mat-form-field>

            <div *ngIf="!projector.used_as_reference_projector_meeting_id">
                <mat-checkbox formControlName="is_internal">
                    <span>{{ 'Internal' | translate }}</span>
                </mat-checkbox>
            </div>

            <h3>{{ 'Resolution and size' | translate }}</h3>
            <!-- Aspect ratio field -->
            <div>
                <mat-radio-group formControlName="aspectRatio" name="aspectRatio">
                    <mat-radio-button
                        *ngFor="let ratio of defaultAspectRatio"
                        [value]="ratio"
                        (change)="onCustomAspectRatio(false)"
                    >
                        {{ ratio }}
                    </mat-radio-button>

                    <!-- Custom aspect ratio -->
                    <mat-radio-button (change)="onCustomAspectRatio(true)">
                        {{ 'custom' | translate }}
                    </mat-radio-button>

                    <mat-form-field *ngIf="customAspectRatio">
                        <mat-label>{{ 'Custom aspect ratio' | translate }}</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="aspectRatio"
                            [value]="previewProjector!.aspectRatio"
                            (change)="setCustomAspectRatio()"
                        />
                    </mat-form-field>
                </mat-radio-group>
            </div>

            <div class="spacer-top-20 grid-form">
                <mat-slider
                    class="grid-start"
                    [discrete]="true"
                    [min]="minWidth"
                    [max]="maxResolution"
                    [step]="resolutionChangeStep"
                >
                    <input matSliderThumb formControlName="width" [value]="updateForm.value.width" />
                </mat-slider>
                <div class="grid-end">
                    <mat-form-field>
                        <input
                            matInput
                            type="number"
                            formControlName="width"
                            [min]="minWidth"
                            [max]="maxResolution"
                            [step]="resolutionChangeStep"
                            [value]="updateForm.value.width"
                        />
                    </mat-form-field>
                </div>
            </div>

            <!-- checkboxes -->
            <div>
                <div>
                    <mat-checkbox formControlName="show_header_footer">
                        <span>{{ 'Show header and footer' | translate }}</span>
                    </mat-checkbox>
                </div>
                <div>
                    <mat-checkbox formControlName="show_title">
                        <span>{{ 'Show title' | translate }}</span>
                    </mat-checkbox>
                </div>
                <div>
                    <mat-checkbox formControlName="show_logo">
                        <span>{{ 'Show logo' | translate }}</span>
                    </mat-checkbox>
                </div>
                <div>
                    <mat-checkbox formControlName="show_clock">
                        <span>{{ 'Show clock' | translate }}</span>
                    </mat-checkbox>
                </div>
            </div>

            <!-- projection defaults -->
            <h3>{{ 'Projection defaults' | translate }}</h3>
            <mat-form-field>
                <mat-label>{{ 'Projection defaults' | translate }}</mat-label>
                <mat-select formControlName="projectiondefault_ids" [multiple]="true">
                    <mat-option
                        *ngFor="let pd of projectiondefaultVerbose | keyvalue"
                        [value]="projectiondefaultKeys[pd.key]"
                    >
                        {{ pd.value | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- colors -->
            <div class="spacer-top-10">
                <!-- Template to streamline all the color forms -->
                <ng-template #colorFormField let-title="title" let-form="form">
                    <div class="grid-form">
                        <div class="grid-start">
                            <mat-form-field class="color-picker-form">
                                <span>{{ title | translate }}</span>
                                <input matInput [formControlName]="form" type="color" />
                            </mat-form-field>
                        </div>
                        <div class="grid-end">
                            <button
                                type="button"
                                mat-icon-button
                                matTooltip="{{ 'Reset' | translate }}"
                                (click)="resetField(form)"
                            >
                                <mat-icon>replay</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>

                <ng-template
                    *ngFor="let field of colorFields | keyvalue"
                    [ngTemplateOutlet]="colorFormField"
                    [ngTemplateOutletContext]="{ title: field.value, form: field.key }"
                ></ng-template>
            </div>
        </div>

        <!-- Actions -->
        <div mat-dialog-actions class="padding-left-right-24 padding-top-bottom-24">
            <mat-divider class="padding-bottom-16"></mat-divider>
            <button type="submit" mat-button color="accent">
                <span>{{ 'Save' | translate }}</span>
            </button>
            <button type="button" mat-button [mat-dialog-close]="null">
                <span>{{ 'Cancel' | translate }}</span>
            </button>
            <button type="button" mat-button (click)="applyChanges()">
                <span>{{ 'Apply' | translate }}</span>
            </button>
        </div>
    </form>
    <div *ngIf="previewProjector" mat-dialog-content class="padding-left-right-0">
        <h3>{{ 'Preview' | translate }}</h3>
        <div class="preview-container">
            <os-projector #preview *ngIf="previewProjector" [projector]="previewProjector"></os-projector>
        </div>
    </div>
</div>
