<os-head-bar
    [hasMainButton]="canManage"
    [mainActionTooltip]="'New participant' | translate"
    [multiSelectMode]="isMultiSelect"
    (mainEvent)="onPlusButton()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Participants' | translate }}</h2>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button mat-icon-button type="button" [matMenuTriggerFor]="userMenu"><mat-icon>more_vert</mat-icon></button>
    </ng-container>

    <!-- Multiselect info -->
    <ng-container class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;{{ 'selected' | translate }}</span>
    </ng-container>
</os-head-bar>

<os-list
    [addBottomSpacer]="hasInteractionState | async"
    [alwaysShowMenu]="true"
    [filterProps]="filterProps"
    [filterService]="filterService"
    [hiddenInMobile]="['group', 'presence']"
    [listObservableProvider]="repo"
    [multiSelect]="isMultiSelect"
    [sortService]="sortService"
    [(selectedRows)]="selectedRows"
>
    <!-- extra content in the filter bar -->
    @if (showVoteWeight || isFilteringCanVoteForGroups) {
        <div class="filter-bar-info-slot">
            &nbsp;
            @if (showVoteWeight && !isFilteringCanVoteForGroups) {
                <span>({{ 'Vote weight' | translate }} {{ totalVoteWeight }})</span>
            } @else if (showVoteWeight) {
                <span>
                    ({{ 'Voting rights' | translate }} {{ totalEligibleVoteWeights.length }},
                    {{ 'Vote weight' | translate }} {{ totalEligibleVoteWeight }})
                </span>
            } @else {
                <span>({{ 'Voting rights' | translate }} {{ totalEligibleVoteWeights.length }})</span>
            }
        </div>
    }

    <!-- Name column -->
    <div *osScrollingTableCell="'short_name'; row as user; rowContext as rowContext" class="cell-slot fill">
        @if (!isMultiSelect) {
            <a class="detail-link" [attr.aria-label]="ariaLabel(user)" [routerLink]="user.id"></a>
        }
        <div class="nameCell">
            <div>
                <div class="title-line flex-vertical-center">
                    <div>{{ user.short_name }}</div>
                    @if (user.pronoun) {
                        &nbsp;
                        @if (user.pronoun) {
                            <div>({{ user.pronoun }})</div>
                        }
                    }
                </div>
                @if (canSeeSensitiveData && showVoteWeight) {
                    <div class="user-subtitle">
                        {{ user.username }}
                        @if (user.email) {
                            &middot; {{ user.email }}&nbsp;
                        }
                        @if (user.member_number) {
                            &middot;
                            {{ user.member_number }}
                        }
                    </div>
                    <div class="user-subtitle">
                        @if (isInPolldefaultGroup(user)) {
                            {{ 'Vote weight' | translate }}: {{ user.vote_weight() }}
                            @if (user.hasVoteRightFromOthers()) {
                                + {{ sumOfDelegatedVoteWeight(user) }} {{ 'from delegated votes' | translate }}
                            }
                        }
                    </div>
                }
                @if (canSeeSensitiveData && !showVoteWeight) {
                    <div class="user-subtitle">
                        {{ user.username }}
                        @if (user.email) {
                            &middot; {{ user.email }}&nbsp;
                        }
                        @if (user.member_number) {
                            &middot;
                            {{ user.member_number }}
                        }
                    </div>
                }
                @if (!canSeeSensitiveData && showVoteWeight) {
                    <div class="user-subtitle">
                        {{ 'Vote weight' | translate }}: {{ user.vote_weight() }}
                        @if (user.hasVoteRightFromOthers()) {
                            + {{ sumOfDelegatedVoteWeight(user) }} {{ 'from delegated votes' | translate }}
                        }
                    </div>
                }
            </div>
            <div class="icon-group">
                @if (!user.is_physical_person) {
                    <mat-icon matTooltip="{{ 'Is no natural person' | translate }}">account_balance</mat-icon>
                }
                @if (user.hasSamlId && canSeeSensitiveData) {
                    <mat-icon matTooltip="{{ 'Has SSO identification' | translate }}">fingerprint</mat-icon>
                }
            </div>
        </div>
    </div>

    <!-- group column -->
    <div
        *osScrollingTableCell="'group'; row as user; config: { width: 200 }"
        class="cell-slot fill"
        tabindex="0"
        [ngClass]="isMultiSelect ? '' : 'clickable'"
        (click)="openEditInfo(user, $event)"
        (keyup.space)="openEditInfo(user)"
    >
        <div class="groupsCell">
            @if (user.groups()?.length) {
                <div>
                    <os-icon-container icon="people" [noWrap]="true">
                        <os-comma-separated-listing [list]="user.groups()">
                            <ng-template let-group>{{ group.getTitle() }}</ng-template>
                        </os-comma-separated-listing>
                    </os-icon-container>
                </div>
            }
            @if (user.structure_levels()?.length) {
                <div class="spacer-top-5">
                    <os-icon-container icon="flag">{{ user.structure_levels() }}</os-icon-container>
                </div>
            }
            @if (user.number()) {
                <div class="spacer-top-5">
                    <os-icon-container icon="perm_identity">{{ user.number() }}</os-icon-container>
                </div>
            }
            @if (user.vote_delegated_to() && voteDelegationEnabled) {
                <div
                    class="spacer-top-5"
                    matTooltip="{{ 'Voting right delegated to (proxy)' | translate }}"
                    matTooltipPosition="left"
                >
                    <os-icon-container icon="forward" [noWrap]="true">{{ user.vote_delegated_to() }}</os-icon-container>
                </div>
            }
            @if (user.vote_delegations_from_ids()?.length && voteDelegationEnabled) {
                <div
                    class="spacer-top-5"
                    matTooltip="{{ 'Voting right received from (principals)' | translate }}"
                    matTooltipPosition="left"
                >
                    <os-icon-container icon="work" [noWrap]="true">
                        <span>{{ user.vote_delegations_from().length }}:</span>
                        {{ user.vote_delegations_from() }}
                    </os-icon-container>
                </div>
            }
        </div>
    </div>

    <!-- Info column -->
    <div *osScrollingTableCell="'infos'; row as user; config: { width: 20 }" class="cell-slot fill">
        <div class="infoCell">
            <!-- Email-sent indicator -->
            @if (user.isLastEmailSent && canSeeSensitiveData) {
                <mat-icon
                    inline
                    matTooltip="{{ 'Email sent' | translate }} ({{ user.last_email_sent | localizedDate }})"
                    matTooltipPosition="above"
                >
                    mail
                </mat-icon>
            }

            <!-- Has comment indicator -->
            <div *osPerms="permission.userCanUpdate">
                @if (!!user.comment()) {
                    <mat-icon inline matTooltip="{{ user.comment() }}">comment</mat-icon>
                }
            </div>
        </div>
    </div>

    <!-- Presence column -->
    <div *osScrollingTableCell="'presence'; row as user; config: { width: 175 }" class="cell-slot fill">
        <div class="icon-group">
            <mat-checkbox
                class="checkbox-ripple-padding"
                [checked]="isUserPresent(user)"
                [disabled]="isPresentToggleDisabled(user)"
                (change)="setPresent(user)"
            >
                <span>{{ 'Present' | translate }}</span>
            </mat-checkbox>
            @if (user.is_locked_out) {
                <div style="padding-left: 20px">
                    <div class="icon-part">
                        <mat-icon class="red-warning-text">visibility_off</mat-icon>
                        <span>{{ 'Locked out' | translate }}</span>
                    </div>
                </div>
            }
            @if (!user.is_active && canSeeSensitiveData) {
                <div style="padding-left: 20px; margin-top: 6px">
                    <div class="icon-part">
                        <mat-icon class="red-warning-text">do_not_disturb_on</mat-icon>
                        <span>{{ 'Inactive' | translate }}</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Menu -->
    <div
        *osScrollingTableCell="
            'menu';
            row as user;
            config: { width: 40 };
            isHidden: !canSeeItemMenu() && viewport.isMobileSubject
        "
        class="cell-slot"
    >
        <button
            mat-icon-button
            [disabled]="isMultiSelect || !canEditOwnDelegation(user)"
            [matMenuTriggerData]="{ user: user }"
            [matMenuTriggerFor]="singleItemMenu"
            (click)="$event.stopPropagation()"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template let-user="user" matMenuContent>
        <!-- Presence -->
        @if (viewport.isMobileSubject | async) {
            <mat-checkbox
                class="mat-menu-item"
                [checked]="isUserPresent(user)"
                [disabled]="isPresentToggleDisabled(user)"
                (change)="setPresent(user)"
            >
                <span>{{ 'Present' | translate }}</span>
            </mat-checkbox>
        }

        <button *osPerms="permission.userCanUpdate" mat-menu-item [routerLink]="[user.id, 'edit']">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit participant' | translate }}</span>
        </button>

        <button *osPerms="permission.userCanUpdate" mat-menu-item (click)="switchParticipants(user)">
            <mat-icon>swap_horiz</mat-icon>
            <span>{{ 'Swap mandates' | translate }}</span>
        </button>

        @if (canChangePassword(user)) {
            <button mat-menu-item [routerLink]="['/', activeMeetingId, 'participants', 'password', user.id]">
                <mat-icon>security</mat-icon>
                <span>{{ 'Change password' | translate }}</span>
            </button>
        }

        <button *osPerms="permission.userCanUpdate" mat-menu-item (click)="sendInvitationEmail(user)">
            <mat-icon>mail</mat-icon>
            <span>{{ 'Send invitation email' | translate }}</span>
        </button>

        <button
            *osPerms="permission.userCanUpdate"
            mat-menu-item
            [class.red-warning-text]="user.is_locked_out"
            [disabled]="isLockedOutToggleDisabled(user)"
            (click)="toggleLockout(user)"
        >
            <mat-icon>visibility_off</mat-icon>
            <span>{{ 'Locked out' | translate }}</span>
        </button>

        <button
            *osPerms="permission.userCanManage"
            class="red-warning-text"
            mat-menu-item
            (click)="removeUserFromMeeting(user)"
        >
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #userMenu="matMenu">
    @if (!isMultiSelect) {
        <div>
            <button *osPerms="permission.userCanUpdate" mat-menu-item (click)="toggleMultiSelect()">
                <mat-icon>library_add</mat-icon>
                <span>{{ 'Multiselect' | translate }}</span>
            </button>
            <button *osPerms="permission.userCanManage" mat-menu-item routerLink="groups">
                <mat-icon>people</mat-icon>
                <span>{{ 'Groups' | translate }}</span>
            </button>
            <button *osPerms="permission.userCanManage" mat-menu-item routerLink="structure-levels">
                <mat-icon>flag</mat-icon>
                <span>{{ 'Structure levels' | translate }}</span>
            </button>
            @if (presenceViewConfigured) {
                <div>
                    <button *osPerms="permission.userCanUpdate" mat-menu-item routerLink="presence">
                        <mat-icon>transfer_within_a_station</mat-icon>
                        <span>{{ 'Presence' | translate }}</span>
                    </button>
                </div>
            }
            <button *osPerms="permission.userCanUpdate" mat-menu-item routerLink="speaker-list">
                <mat-icon>record_voice_over</mat-icon>
                <span translate>Contributions</span>
            </button>
            <button *osPerms="permission.userCanManagePresence" mat-menu-item routerLink="mandate-check">
                <mat-icon>people</mat-icon>
                <span translate>Mandate check</span>
            </button>
            <button
                *osPerms="permission.userCanUpdate; or: canEditOwnDelegation(operator.user)"
                mat-menu-item
                (click)="openEditInfo(operator.user)"
            >
                <mat-icon>edit</mat-icon>
                <span>{{ 'Change your delegation' | translate }}</span>
            </button>
            <button mat-menu-item (click)="pdfExportUserList()">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>{{ 'List of participants (PDF)' | translate }}</span>
            </button>
            <button *osPerms="permission.userCanUpdate" mat-menu-item (click)="onDownloadAccessPdf()">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>{{ 'Access data (PDF)' | translate }}</span>
            </button>
            <button *osPerms="permission.userCanUpdate" mat-menu-item (click)="csvExportUserList()">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Export as CSV' | translate }}</span>
            </button>
            <button *osPerms="permission.userCanManage" mat-menu-item routerLink="import">
                <mat-icon>cloud_upload</mat-icon>
                <span>{{ 'Import' | translate }}</span>
            </button>
            <div *osPerms="permission.meetingCanManageSettings">
                <mat-divider></mat-divider>
                <!-- Settings -->
                <button mat-menu-item [routerLink]="['/', activeMeetingId, 'settings', 'participants']">
                    <mat-icon>settings</mat-icon>
                    <span>{{ 'Settings' | translate }}</span>
                </button>
            </div>
        </div>
    }
    @if (isMultiSelect) {
        <div>
            <os-user-multiselect-actions
                [canManage]="canManage"
                [canUpdate]="canUpdate"
                [selectedUsers]="selectedRows"
                (deleting)="removeUsersFromMeeting()"
                (deselectAll)="deselectAll()"
                (selectAll)="selectAll()"
            >
                <mat-divider></mat-divider>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setGroupSelected()">
                    <mat-icon>people</mat-icon>
                    <span>{{ 'Add/remove groups ...' | translate }}</span>
                </button>
                <button
                    mat-menu-item
                    [disabled]="!selectedRows.length || !hasStructureLevels"
                    (click)="setStructureLevelSelected()"
                >
                    <mat-icon>flag</mat-icon>
                    <span>{{ 'Add/remove structure levels ...' | translate }}</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="changeActiveStateOfSelectedUsers()">
                    <mat-icon>do_not_disturb_on</mat-icon>
                    <span>{{ 'Enable/disable account ...' | translate }}</span>
                </button>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="changePresentStateOfSelectedUsers()">
                    <mat-icon>check_box</mat-icon>
                    <span>{{ 'Set presence ...' | translate }}</span>
                </button>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="changePhysicalStateOfSelectedUsers()">
                    <mat-icon>sync</mat-icon>
                    <span>{{ 'Set natural person ...' | translate }}</span>
                </button>
                <button mat-menu-item [disabled]="!selectedRows.length" (click)="changeLockedOutStateOfSelectedUsers()">
                    <mat-icon>visibility_off</mat-icon>
                    <span>{{ 'Set lock out ...' | translate }}</span>
                </button>
                <mat-divider></mat-divider>
            </os-user-multiselect-actions>
        </div>
    }
</mat-menu>
