<os-head-bar
    [hasMainButton]="canManage"
    [mainActionTooltip]="'New participant' | translate"
    (mainEvent)="onPlusButton()"
    [multiSelectMode]="isMultiSelect"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Participants' | translate }}</h2>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon>more_vert</mat-icon></button>
    </ng-container>

    <!-- Multiselect info -->
    <ng-container class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;{{ 'selected' | translate }}</span>
    </ng-container>
</os-head-bar>

<os-list
    [listObservableProvider]="repo"
    [filterService]="filterService"
    [sortService]="sortService"
    [filterProps]="filterProps"
    [multiSelect]="isMultiSelect"
    [hiddenInMobile]="['group', 'presence']"
    [addBottomSpacer]="hasInteractionState | async"
    [(selectedRows)]="selectedRows"
>
    <!-- extra content in the filter bar -->
    <div class="filter-bar-info-slot" *ngIf="showVoteWeight">
        &nbsp;
        <span>({{ 'Vote weight' | translate }} {{ totalVoteWeight }})</span>
    </div>

    <!-- Name column -->
    <div *osScrollingTableCell="'short_name'; row as user; rowContext as rowContext" class="cell-slot fill">
        <a class="detail-link" [routerLink]="user.id" *ngIf="!isMultiSelect"></a>
        <div class="nameCell">
            <div>
                <div class="flex-vertical-center">
                    <div>{{ user.short_name }}</div>
                    <ng-container *ngIf="user.pronoun">
                        &nbsp;
                        <div *ngIf="user.pronoun">({{ user.pronoun }})</div>
                    </ng-container>
                </div>
                <div class="user-subtitle" *ngIf="showVoteWeight">
                    {{ 'Vote weight' | translate }}: {{ user.vote_weight() }}
                </div>
            </div>
            <div class="icon-group">
                <mat-icon matTooltip="{{ 'Is no natural person' | translate }}" *ngIf="!user.is_physical_person">
                    account_balance
                </mat-icon>
                <mat-icon matTooltip="{{ 'Inactive' | translate }}" *ngIf="!user.is_active && canManage">
                    block
                </mat-icon>
                <mat-icon matTooltip="{{ 'Has SSO identification' | translate }}" *ngIf="user.hasSamlId && canManage">
                    fingerprint
                </mat-icon>
            </div>
        </div>
    </div>

    <!-- group column -->
    <div
        *osScrollingTableCell="'group'; row as user; config: { width: 200 }"
        class="cell-slot fill"
        [ngClass]="isMultiSelect ? '' : 'clickable'"
        (click)="openEditInfo(user, $event)"
    >
        <div class="groupsCell">
            <div *ngIf="user.groups()?.length">
                <os-icon-container icon="people" [noWrap]="true">
                    <os-comma-separated-listing [list]="user.groups()">
                        <ng-template let-group>{{ group.getTitle() }}</ng-template>
                    </os-comma-separated-listing>
                </os-icon-container>
            </div>
            <div *ngIf="user.structure_levels()?.length" class="spacer-top-5">
                <os-icon-container icon="flag">{{ user.structure_levels() }}</os-icon-container>
            </div>
            <div *ngIf="user.number()" class="spacer-top-5">
                <os-icon-container icon="perm_identity">{{ user.number() }}</os-icon-container>
            </div>

            <div
                *ngIf="user.vote_delegated_to() && voteDelegationEnabled"
                class="spacer-top-5"
                matTooltip="{{ 'Voting right delegated to (proxy)' | translate }}"
                matTooltipPosition="left"
            >
                <os-icon-container icon="forward" [noWrap]="true">{{ user.vote_delegated_to() }}</os-icon-container>
            </div>

            <div
                *ngIf="user.vote_delegations_from_ids()?.length && voteDelegationEnabled"
                class="spacer-top-5"
                matTooltip="{{ 'Voting right received from (principals)' | translate }}"
                matTooltipPosition="left"
            >
                <os-icon-container icon="work" [noWrap]="true">{{ user.vote_delegations_from() }}</os-icon-container>
            </div>
        </div>
    </div>

    <!-- Info column -->
    <div *osScrollingTableCell="'infos'; row as user; config: { width: 40 }" class="cell-slot fill">
        <div class="infoCell">
            <!-- Email-sent indicator -->
            <mat-icon
                inline
                *ngIf="user.isLastEmailSent"
                matTooltip="{{ 'Email sent' | translate }} ({{ user.last_email_sent | localizedDate }})"
                matTooltipPosition="above"
            >
                mail
            </mat-icon>

            <!-- Has comment indicator -->
            <div *osPerms="permission.userCanUpdate">
                <mat-icon inline *ngIf="!!user.comment()" matTooltip="{{ user.comment() }}">comment</mat-icon>
            </div>

            <!--<os-icon-container *ngIf="user.isSamlUser" icon="device_hub"
                ><span>{{ 'Is SAML user' | translate }}</span></os-icon-container
            >-->
        </div>
    </div>

    <!-- Presence column -->
    <div *osScrollingTableCell="'presence'; row as user; config: { width: 100 }" class="cell-slot fill">
        <mat-checkbox
            class="checkbox-ripple-padding"
            (change)="setPresent(user)"
            [checked]="isUserPresent(user)"
            [disabled]="isPresentToggleDisabled(user)"
        >
            <span>{{ 'Present' | translate }}</span>
        </mat-checkbox>
    </div>

    <!-- Menu -->
    <div *osScrollingTableCell="'menu'; row as user; config: { width: 40 }" class="cell-slot fill">
        <button
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleItemMenu"
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ user: user }"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-user="user">
        <!-- Presence -->
        <mat-checkbox
            class="mat-menu-item"
            (change)="setPresent(user)"
            [checked]="isUserPresent(user)"
            [disabled]="isPresentToggleDisabled(user)"
        >
            <span>{{ 'Present' | translate }}</span>
        </mat-checkbox>
    </ng-template>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item *osPerms="permission.userCanUpdate" (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>

        <button mat-menu-item *osPerms="permission.userCanManage" routerLink="groups">
            <mat-icon>people</mat-icon>
            <span>{{ 'Groups' | translate }}</span>
        </button>

        <button mat-menu-item *osPerms="permission.userCanManage" routerLink="structure-levels">
            <mat-icon>flag</mat-icon>
            <span>{{ 'Structure levels' | translate }}</span>
        </button>

        <div *ngIf="presenceViewConfigured">
            <button mat-menu-item *osPerms="permission.userCanUpdate" routerLink="presence">
                <mat-icon>transfer_within_a_station</mat-icon>
                <span>{{ 'Presence' | translate }}</span>
            </button>
        </div>

        <button mat-menu-item *osPerms="permission.userCanUpdate" routerLink="speaker-list">
            <mat-icon>record_voice_over</mat-icon>
            <span translate>Contributions</span>
        </button>

        <button mat-menu-item (click)="pdfExportUserList()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ 'List of participants (PDF)' | translate }}</span>
        </button>

        <button mat-menu-item *osPerms="permission.userCanUpdate" (click)="onDownloadAccessPdf()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ 'Access data (PDF)' | translate }}</span>
        </button>

        <button mat-menu-item *osPerms="permission.userCanUpdate" (click)="csvExportUserList()">
            <mat-icon>archive</mat-icon>
            <span>{{ 'Export as CSV' | translate }}</span>
        </button>

        <button mat-menu-item *osPerms="permission.userCanManage" routerLink="import">
            <mat-icon>cloud_upload</mat-icon>
            <span>{{ 'Import' | translate }}</span>
        </button>

        <div *osPerms="permission.meetingCanManageSettings">
            <mat-divider></mat-divider>

            <!-- Settings -->
            <button mat-menu-item [routerLink]="['/', activeMeetingId, 'settings', 'participants']">
                <mat-icon>settings</mat-icon>
                <span>{{ 'Settings' | translate }}</span>
            </button>
        </div>
    </div>
    <div *ngIf="isMultiSelect">
        <os-user-multiselect-actions
            [selectedUsers]="selectedRows"
            [canUpdate]="canUpdate"
            [canManage]="canManage"
            (deleting)="removeUsersFromMeeting()"
            (selectAll)="selectAll()"
            (deselectAll)="deselectAll()"
        >
            <mat-divider></mat-divider>

            <button mat-menu-item [disabled]="!selectedRows.length" (click)="setGroupSelected()">
                <mat-icon>people</mat-icon>
                <span>{{ 'Add/remove groups ...' | translate }}</span>
            </button>

            <button
                mat-menu-item
                [disabled]="selectedRows.length !== 2"
                [matTooltip]="
                    (selectedRows.length !== 2 ? 'Select exactly two participants to swap mandates' : '') | translate
                "
                (click)="switchParticipants()"
            >
                <mat-icon>swap_horiz</mat-icon>
                <span>{{ 'Swap mandates ...' | translate }}</span>
            </button>

            <button
                mat-menu-item
                [disabled]="!selectedRows.length || !hasStructureLevels"
                (click)="setStructureLevelSelected()"
            >
                <mat-icon>flag</mat-icon>
                <span>{{ 'Add/remove structure levels ...' | translate }}</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item [disabled]="!selectedRows.length" (click)="changeActiveStateOfSelectedUsers()">
                <mat-icon>block</mat-icon>
                <span>{{ 'Enable/disable account ...' | translate }}</span>
            </button>

            <button mat-menu-item [disabled]="!selectedRows.length" (click)="changePresentStateOfSelectedUsers()">
                <mat-icon>check_box</mat-icon>
                <span>{{ 'Set presence ...' | translate }}</span>
            </button>

            <button mat-menu-item [disabled]="!selectedRows.length" (click)="changePhysicalStateOfSelectedUsers()">
                <mat-icon>sync</mat-icon>
                <span>{{ 'Set natural person ...' | translate }}</span>
            </button>

            <mat-divider></mat-divider>
        </os-user-multiselect-actions>
    </div>
</mat-menu>
