<div class="attachment-container" *ngIf="contentForm">
    <form [formGroup]="formGroup">
        <mat-form-field>
            <os-repo-search-selector
                class="selector"
                [multiple]="true"
                placeholder="{{ 'Attachments' | translate }}"
                formControlName="mediafile_ids"
                [repo]="repo"
                [pipeFn]="getMediafilesPipeFn()"
            ></os-repo-search-selector>
        </mat-form-field>
    </form>
    <button
        type="button"
        mat-icon-button
        (click)="openUploadDialog(uploadDialog)"
        *osPerms="permission.mediafileCanManage"
    >
        <mat-icon>cloud_upload</mat-icon>
    </button>
</div>

<!-- upload file dialog -->
<ng-template #uploadDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Upload files' | translate }}</span>
    </h1>
    <os-media-upload-content
        [directories]="directoriesObservable"
        [uploadFn]="uploadFn"
        (uploadSuccessEvent)="uploadSuccess($event.uploadedIds)"
        (errorEvent)="uploadError($event)"
    >
        <div *osScrollingTableCell="'access_groups'; row as file" class="cell-slot">
            <form [formGroup]="file.form">
                <mat-form-field>
                    <os-list-search-selector
                        formControlName="access_group_ids"
                        [multiple]="true"
                        placeholder="{{ 'Access groups' | translate }}"
                        [inputListValues]="availableGroups"
                    ></os-list-search-selector>
                </mat-form-field>
            </form>
        </div>
    </os-media-upload-content>
</ng-template>
