:host {
    width: 100%;

    .attachment-container {
        justify-content: space-between;
        display: flex;
        margin-top: 10px;

        form {
            flex: 1;
        }

        .selector {
            width: 95%;
        }
        .mat-icon-button {
            top: 10px;
        }
    }
}
