mat-icon {
    font-family: 'Material Icons' !important;
}

// for aligning text lines with an icon and or link
.line-and-icon {
    display: flex;
    align-items: center;
}

.icon-as-block.mat-icon {
    display: block;
}

/**
 * Can better align icons with text. Use like:
 * <mat-icon inline class="inline-icon-text-align"> ...
 * <span> ...
 */
.inline-icon-text-align.mat-icon {
    vertical-align: bottom;
}

.icon-text-distance {
    margin-left: 5px;
}
