.organization-tag-content {
    form {
        & > * {
            &:not(:first-child) {
                padding-left: 16px;
            }
        }
    }
}

.padding-left-24 {
    padding-left: 24px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}
