<h2 mat-dialog-title>{{ (isCreateView ? 'New tag' : 'Edit tag') | translate }}</h2>
<div mat-dialog-content class="organization-tag-content">
    <form [formGroup]="organizationTagForm">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'Name' | translate }}</mat-label>
            <input #name matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'Color' | translate }}</mat-label>
            <input
                matInput
                type="color"
                formControlName="color"
                [required]="isCreateView"
            />
            <span matPrefix>#&nbsp;</span>
            <button
                mat-icon-button
                matSuffix
                (click)="generateColor()"
                matTooltip="{{ 'Generate new color' | translate }}"
            >
                <mat-icon>sync</mat-icon>
            </button>
            <mat-error *ngIf="hasColorFormError('pattern')">
                {{ 'You have to enter six hexadecimal digits' | translate }}
            </mat-error>
        </mat-form-field>
        <os-chip *ngIf="name.value" [color]="currentColor">{{ name.value }}</os-chip>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="organizationTagForm?.invalid" color="primary" (click)="onSaveClicked()">
        {{ 'Save' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="null">{{ 'Cancel' | translate }}</button>
</div>
