<h2 mat-dialog-title>{{ (isCreateView ? 'New tag' : 'Edit tag') | translate }}</h2>
<mat-dialog-content class="organization-tag-content">
    <form [formGroup]="organizationTagForm">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'Name' | translate }}</mat-label>
            <input #name formControlName="name" matInput required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'Color' | translate }}</mat-label>
            <input formControlName="color" matInput type="color" [required]="isCreateView" />
            <button
                mat-icon-button
                matSuffix
                matTooltip="{{ 'Generate new color' | translate }}"
                (click)="generateColor()"
            >
                <mat-icon>autorenew</mat-icon>
            </button>
            @if (hasColorFormError('pattern')) {
                <mat-error>
                    {{ 'You have to enter six hexadecimal digits' | translate }}
                </mat-error>
            }
        </mat-form-field>
        @if (name.value) {
            <os-chip [color]="currentColor">{{ name.value }}</os-chip>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button color="accent" mat-button [disabled]="organizationTagForm?.invalid" (click)="onSaveClicked()">
        {{ 'Save' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="null">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
