<mat-select
    #matSelect
    [errorStateMatcher]="errorStateMatcher"
    [formControl]="contentForm"
    [multiple]="multiple"
    [panelClass]="{ 'os-search-selector-wider': wider, 'os-search-selector-panel': true }"
    [required]="required"
    (openedChange)="onOpenChanged($event)"
>
    <!-- Custom display of selected items -->
    @if (multiple) {
        <mat-select-trigger>
            @if (selectedItems?.length) {
                @for (item of selectedItems; track item; let last = $last) {
                    <span class="inline-flex">
                        {{ item.getTitle() }} {{ getItemAdditionalInfoFn(item) }}
                        @if (!last) {
                            <span>,&nbsp;</span>
                        }
                    </span>
                }
            }
        </mat-select-trigger>
    }
    @if (matSelect.panelOpen) {
        <div #searchSelectorInput class="os-search-selector--input-wrapper">
            <input
                class="background-card"
                osAutofocus
                placeholder="{{ 'Search' | translate }}"
                [formControl]="searchValueForm"
                (keydown)="onSearchKeydown($event)"
            />
        </div>
    }
    @if (multiple && showChips) {
        <div #chipPlaceholder class="os-search-selector--chip-wrapper">
            <div class="os-search-selector--chip-container flex-vertical-center">
                <mat-chip-listbox class="chip-list" [selectable]="false">
                    @for (item of selectedItems; track item) {
                        <mat-chip-option
                            class="one-line"
                            [disableRipple]="true"
                            [removable]="true"
                            (removed)="onChipRemove(item.id)"
                        >
                            <span class="one-line">
                                {{ item.getTitle() }}
                            </span>
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>
            <div class="os-search-selector--chip-placeholder"></div>
        </div>
    }
    @if (showNotFoundButton) {
        <button class="os-not-found-button" mat-button (click)="onNotFoundClick()">
            <ng-container *ngTemplateOutlet="notFoundTemplate"></ng-container>
        </button>
    }
    <cdk-virtual-scroll-viewport
        class="vscroll-viewport"
        maxBufferPx="600"
        minBufferPx="400"
        [itemSize]="itemSizeInPx"
        [ngStyle]="{ height: panelHeight + 'px' }"
    >
        @if ((filteredItemsObservable | async)?.length === 0) {
            <mat-option class="os-search-selector--no-options" disabled>
                {{ noOptionsFoundLabel | translate }}
            </mat-option>
        }
        @if (addClearSelection) {
            <mat-option>-</mat-option>
        }
        <mat-option
            *cdkVirtualFor="let selectableItem of filteredItemsObservable | async"
            #currentOption
            matTooltipPosition="left"
            [disabled]="disableOptionWhenFn(selectableItem) || selectableItem.disabled"
            [matTooltip]="tooltipFn(selectableItem, currentOption)"
            [value]="selectableItem.id"
            (click)="keepOpen ? matSelect.open() : null"
            (onSelectionChange)="onSelectionChange(selectableItem, $event)"
        >
            <ng-container *ngTemplateOutlet="optionContent; context: { item: selectableItem }" />
        </mat-option>
    </cdk-virtual-scroll-viewport>

    <!-- Ensure that selected options are always loaded, so that the mat-trigger is shown-->
    <div class="selected-options-hidden">
        @if (multiple) {
            @if (selectedItems.length) {
                <mat-option disabled [value]="selectedItems[0].id">
                    <ng-container *ngTemplateOutlet="optionContent; context: { item: selectedItems[0] }" />
                </mat-option>
            }
        } @else {
            @if (contentForm.value) {
                <mat-option disabled [value]="contentForm.value">
                    <ng-container
                        *ngTemplateOutlet="optionContent; context: { item: getItemById(contentForm.value) }"
                    />
                </mat-option>
            }
        }
    </div>
</mat-select>

<ng-template #optionContent let-item="item">
    @if (item) {
        {{ item.getTitle() }} {{ getItemAdditionalInfoFn(item) }}
    }
</ng-template>
