.os-search-selector--no-options {
    mat-pseudo-checkbox {
        display: none;
    }
}

.os-search-selector--chip-wrapper {
    height: 3em;
    line-height: 3em;

    .os-search-selector--chip-container {
        padding: 5px;
        width: max-content;
        height: 100%;

        .mat-chip {
            max-width: 150px;
        }
    }
}

.os-search-selector--input-wrapper {
    height: 3em;
    line-height: 3em;

    input {
        height: 100%;
        width: calc(100% - 60px); // the summary of 44px + 16px
        padding: 0 44px 0 16px;
        outline: none;
        border: none;
        border-radius: 4px 4px 0 0; // only the top corners
    }
}

.h-scroller {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.os-not-found-button {
    font-size: 16px;
    min-height: 48px;
    font-weight: 400;
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
}

.vscroll-viewport {
    display: block;
}
