<div class="video-wrapper">
    @if (isStable) {
        <div class="player-container" [ngClass]="{ hide: !isUrlOnline && usingVjs }">
            @if (usingVjs) {
                <div>
                    <video #vjs class="video-js" controls preload="none"></video>
                </div>
            }
            @if (!usingVjs) {
                <div class="iframe-player">
                    @if (usingYouTube) {
                        <iframe
                            class="player"
                            type="text/html"
                            frameborder="0"
                            allow="autoplay; encrypted-media"
                            allowfullscreen
                            [src]="youTubeVideoUrl | trust: 'resourceUrl'"
                        ></iframe>
                    }
                    @if (usingNanocosmos) {
                        <div id="nanocosmosPlayer" class="player"></div>
                    }
                </div>
            }
            @if (usingVjs && !isUrlOnline) {
                <div class="is-offline-wrapper">
                    @if (!posterUrl) {
                        <p>
                            {{ 'Currently no livestream available.' | translate }}
                        </p>
                        <button mat-raised-button color="primary" (click)="onRefreshVideo()">
                            <mat-icon>refresh</mat-icon>
                            &nbsp;
                            <span>{{ 'Refresh' | translate }}</span>
                        </button>
                    }
                    @if (posterUrl) {
                        <div class="offlineposter">
                            <button
                                mat-mini-fab
                                color="accent"
                                matTooltip="{{ 'Refresh' | translate }}"
                                (click)="onRefreshVideo()"
                            >
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <img [src]="posterUrl" />
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>
