.poll-result-area {
    margin-top: 10px;
}

.content-grid {
    display: grid;
    width: 100%;
    gap: 0 5px;

    .top-left {
        grid-column: 1;
        grid-row: 1;
    }
    .top-center {
        grid-column: 2;
        grid-row: 1;
    }
    .top-right {
        grid-column: 3;
        grid-row: 1;
    }
    .center-left {
        grid-column: 1;
        grid-row: 2;
    }
    .center-area {
        grid-column: 2;
        grid-row: 2;
        display: table;
        border: 1px solid rgba(128, 128, 128, 0.2);
        box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.2);
        padding: 4px;
        background-color: #fcfcfc;
        border-radius: 5px;

        .center-content {
            vertical-align: middle;
            width: 480px;
            height: 300px;
            margin: auto;
        }
    }
    .center-right {
        grid-column: 3;
        grid-row: 2;
    }
    .bottom-left {
        grid-column: 1;
        grid-row: 3;
    }
    .bottom-center {
        grid-column: 2;
        grid-row: 3;
        padding-top: 1px;
    }
    .bottom-right {
        grid-column: 3;
        grid-row: 3;
    }

    .border-top {
        .votes-column {
            border-top: 1px solid rgba(128, 128, 128, 0.2);
        }
    }

    .votes-area {
        display: inline-flex;
        gap: 0 5px;
        height: 100%;

        .votes-column {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 100%;

            .vote-entry {
                min-height: 20px;
                display: flex;
                align-items: center;
            }

            :not(:last-child) {
                border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            }
        }
    }
}

.slidetitle {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;

    h1,
    h2 {
        margin: 0 !important;
    }
    h1 {
        font-size: 25px !important;
    }
    h2 {
        font-size: 14px !important;
        line-height: 14px !important;
    }
}
