@use 'src/assets/styles/mixins/detail-view-appearance.scss';

.create-poll-button {
    display: flex;
    margin-bottom: 20px;
    > * {
        margin-left: auto;
        margin-right: auto;
    }
}

:host ::ng-deep .detail-view {
    @include detail-view-appearance.detail-view-appearance;
}

.apply-button {
    display: flex;
    justify-content: right;
    button {
        height: 37px;
        width: auto;
        margin-right: 0;
    }
    .apply-feedback-icon {
        color: green;
        margin-top: 8px;
    }
}

.attachment-entry {
    height: auto;
    height: max-content !important;

    a {
        text-wrap: wrap;
        max-width: 100%;
        word-break: break-word;
    }

    .attachment-icon {
        vertical-align: text-bottom;
    }
}
