.create-poll-button {
    display: flex;
    margin-bottom: 20px;
    > * {
        margin-left: auto;
        margin-right: auto;
    }
}


.underlined-links ::ng-deep {
    h1 {
        color: inherit;
    }

    h3 {
        font-weight: 600;
    }

    h4 {
        margin: 10px 10px 15px 0;
        display: block;
        font-weight: 600;
        font-size: 1em;
    }

    h5 {
        margin: 15px 10px 10px 0;
        display: block;
        font-weight: 500;
        font-size: 1em;
        font-style: italic;
    }

    h6 {
        font-size: 1em;
        font-style: normal;
        font-weight: normal;
    }
}

