@import 'src/assets/styles/variables.scss';

.create-poll-button {
    display: flex;
    margin-bottom: 20px;
    > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.underlined-links ::ng-deep {
    @include detail-view-appearance;
}
