<os-head-bar
    [nav]="false"
    [editMode]="true"
    [isSaveButtonEnabled]="committeeForm.valid"
    [saveAction]="getSaveAction()"
    (cancelEditEvent)="onCancel()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="isCreateView">{{ addCommitteeLabel | translate }}</h2>
        <h2 *ngIf="!isCreateView">{{ editCommitteeLabel | translate }}</h2>
    </div>
</os-head-bar>

<mat-card class="os-card">
    <form class="committee-form" [formGroup]="committeeForm" (ngSubmit)="onSubmit()" *ngIf="committeeForm">
        <mat-form-field>
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <input matInput formControlName="name" required osAutofocus />
            <mat-error>{{ 'The title is required' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <mat-form-field *osCmlPerms="CML.can_manage; committeeId: editCommittee?.id">
            <mat-label>{{ 'Tags' | translate }}</mat-label>
            <os-search-repo-selector
                formControlName="organization_tag_ids"
                [repo]="orgaTagRepo"
                [multiple]="true"
                [showNotFoundButton]="true"
                (clickNotFound)="onOrgaTagNotFound($event)"
                placeholder="{{ 'Tags' | translate }}"
            >
                <ng-template osNotFoundDescription>
                    {{ 'Create new tag' | translate }}
                </ng-template>
            </os-search-repo-selector>
        </mat-form-field>

        <mat-form-field *osOmlPerms="OML.can_manage_users">
            <mat-label>{{ 'Committee managers' | translate }}</mat-label>
            <os-search-value-selector
                formControlName="manager_ids"
                [multiple]="true"
                placeholder="{{ 'Committee managers' | translate }}"
                [inputListValues]="organizationMembers"
            ></os-search-value-selector>
        </mat-form-field>

        <ng-container *osOmlPerms="OML.can_manage_organization">
            <mat-form-field>
                <mat-label>{{ 'Can forward motions to committee' | translate }}</mat-label>
                <os-search-repo-selector
                    formControlName="forward_to_committee_ids"
                    [multiple]="true"
                    [repo]="committeeRepo"
                    [showChips]="false"
                    [lazyLoading]="false"
                    (selectionChanged)="onForwardingSelectionChanged($event)"
                ></os-search-repo-selector>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'Can receive motions from committee' | translate }}</mat-label>
                <os-search-repo-selector
                    formControlName="receive_forwardings_from_committee_ids"
                    [multiple]="true"
                    [repo]="committeeRepo"
                    [showChips]="false"
                    [lazyLoading]="false"
                    [disableOptionWhenFn]="getDisableOptionWhenFn()"
                    [tooltipFn]="getTooltipFn()"
                ></os-search-repo-selector>
            </mat-form-field>
        </ng-container>
    </form>
</mat-card>
