<os-head-bar
    [customMenu]="true"
    [nav]="false"
    [editMode]="true"
    [isSaveButtonEnabled]="committeeForm.valid"
    (cancelEditEvent)="onCancel()"
    (saveEvent)="onSubmit()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="isCreateView">{{ addCommitteeLabel | translate }}</h2>
        <h2 *ngIf="!isCreateView">{{ editCommitteeLabel | translate }}</h2>
    </div>

    <ng-container class="custom-menu-slot">
        <os-management-navigation></os-management-navigation>
    </ng-container>
</os-head-bar>

<mat-card class="os-card">
    <form class="committee-form" [formGroup]="committeeForm" (ngSubmit)="onSubmit()" *ngIf="committeeForm">
        <mat-form-field>
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <input matInput formControlName="name" required />
            <mat-error>{{ 'The title is required' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field *osOmlPerms="OML.can_manage_organization">
            <mat-label> {{ 'Committee users' | translate }}</mat-label>
            <os-search-value-selector
                formControlName="user_ids"
                [multiple]="true"
                placeholder="{{ 'Committee users' | translate }}"
                [inputListValues]="organizationMembers"
            ></os-search-value-selector>
        </mat-form-field>

        <mat-form-field *osCmlPerms="CML.can_manage; committeeId: editCommittee?.id">
            <mat-label>{{ 'Organization tags' | translate }}</mat-label>
            <os-search-repo-selector
                formControlName="organization_tag_ids"
                [repo]="orgaTagRepo"
                [multiple]="true"
                [showNotFoundButton]="true"
                (clickNotFound)="onOrgaTagNotFound($event)"
                placeholder="{{ 'Organization tags' | translate }}"
            >
                <ng-container notFoundDescription>
                    {{ 'Add new organization tag' | translate }}
                </ng-container>
            </os-search-repo-selector>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <ng-container *osOmlPerms="OML.can_manage_organization">
            <mat-form-field>
                <mat-label>{{ 'Can forward motions to committee' | translate }}</mat-label>
                <os-search-repo-selector
                    formControlName="forward_to_committee_ids"
                    [multiple]="true"
                    [repo]="committeeRepo"
                    [pipeFn]="getPipeFilterFn()"
                    [showChips]="false"
                ></os-search-repo-selector>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'Can receive forwarding from committees' | translate }}</mat-label>
                <os-search-repo-selector
                    formControlName="receive_forwardings_from_committee_ids"
                    [multiple]="true"
                    [repo]="committeeRepo"
                    [pipeFn]="getPipeFilterFn()"
                    [showChips]="false"
                ></os-search-repo-selector>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="!isCreateView">
            <!-- TODO: Not yet -->
            <!-- <mat-form-field>
                <mat-label>{{ 'Meeting as template' | translate }}</mat-label>
                <os-search-value-selector
                    formControlName="template_meeting_id"
                    [multiple]="false"
                    [inputListValues]="meetingsObservable"
                ></os-search-value-selector>
            </mat-form-field> -->
        </ng-container>
    </form>
</mat-card>
