<os-head-bar
    [hasMainButton]="operator.hasOrganizationPermissions(OML.can_manage_organization)"
    [multiSelectMode]="isMultiSelect"
    (mainEvent)="createNewCommittee()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Committees' | translate }}</h2>
    </div>

    <!-- Menu -->
    <!-- Only organization managers can do something -->
    <div class="menu-slot" *osOmlPerms="OML.can_manage_organization">
        <button type="button" mat-icon-button [matMenuTriggerFor]="committeeMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>
</os-head-bar>

<os-basic-list-view-table
    [listObservableProvider]="repo"
    [columns]="tableColumnDefinition"
    [alwaysShowMenu]="true"
    [multiSelect]="isMultiSelect"
    [(selectedRows)]="selectedRows"
    (dataSourceChange)="onDataSourceChange($event)"
    [filterProps]="['name']"
    [hiddenInMobile]="['forwarding', 'managers', 'meta']"
    [filterService]="filterService"
    [sortService]="sortService"
>
    <div *pblNgridCellDef="'name'; value as name; row as committee" class="cell-slot fill">
        <a class="detail-link" [routerLink]="committee.id" *ngIf="!isMultiSelect && committee.canAccess()"></a>
        <div>
            <div class="title-line ellipsis-overflow">
                {{ name }}
                <div class="subtitle" *ngIf="committee.description?.trim()">
                    {{ committee.description }}
                </div>
            </div>
            <div class="ellipsis-overflow">
                <os-chip *ngFor="let tag of committee.organization_tags" [color]="tag.color">
                    {{ tag.name }}
                </os-chip>
            </div>
        </div>
    </div>

    <div *pblNgridCellDef="'forwarding'; row as committee" class="cell-slot fill">
        <div class="forwarding-wrapper">
            <div *ngIf="committee.forward_to_committees?.length">
                <os-icon-container
                    iconTooltip="{{ 'Can forward motions to committee' | translate }}"
                    icon="file_upload"
                    [noWrap]="true"
                >
                    <span>
                        {{ committee.forward_to_committees.length }}
                    </span>
                </os-icon-container>
            </div>
            <div *ngIf="committee.receive_forwardings_from_committees?.length">
                <os-icon-container
                    iconTooltip="{{ 'Can receive motions from committee' | translate }}"
                    icon="file_download"
                    [noWrap]="true"
                >
                    <span>
                        {{ committee.receive_forwardings_from_committees.length }}
                    </span>
                </os-icon-container>
            </div>
        </div>
    </div>

    <div *pblNgridCellDef="'meta'; row as committee" class="cell-slot fill">
        <div>
            <div *ngIf="committee.meetingAmount">
                <os-icon-container iconTooltip="{{ 'Meetings' | translate }}" icon="event_available">
                    {{ committee.meetingAmount }}
                </os-icon-container>
            </div>
            <div *ngIf="committee.memberAmount">
                <os-icon-container iconTooltip="{{ 'Members' | translate }}" icon="group">
                    {{ committee.memberAmount }}
                </os-icon-container>
            </div>
            <div *ngIf="committee.managerAmount">
                <os-icon-container iconTooltip="{{ 'Committee managers' | translate }}" icon="engineering">
                    {{ committee.managerAmount }}
                </os-icon-container>
            </div>
        </div>
    </div>

    <div *pblNgridCellDef="'menu'; row as committee" class="cell-slot fill">
        <button
            *osCmlPerms="CML.can_manage; committeeId: committee.id"
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleCommitteeMenu"
            [matMenuTriggerData]="{ committee: committee }"
            (click)="$event.stopPropagation()"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-basic-list-view-table>

<mat-menu #singleCommitteeMenu="matMenu">
    <ng-template matMenuContent let-committee="committee">
        <button mat-menu-item type="button" (click)="editSingle(committee)">
            <mat-icon>edit</mat-icon>
            <span>
                {{ 'Edit' | translate }}
            </span>
        </button>

        <button mat-menu-item type="button" class="red-warning-text" (click)="deleteSingle(committee)">
            <mat-icon>delete</mat-icon>
            <span>
                {{ 'Delete' | translate }}
            </span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #committeeMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
        <ng-container *osOmlPerms="OML.can_manage_organization">
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="import">
                <mat-icon>cloud_upload</mat-icon>
                <span>{{ 'Import' | translate }}</span>
            </button>
            <button mat-menu-item (click)="exportAsCsv()">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Export as CSV' | translate }}</span>
            </button>
        </ng-container>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>

        <ng-container *osOmlPerms="OML.can_manage_organization">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="forwardToCommittees()" [disabled]="!selectedRows.length">
                <mat-icon>swap_horiz</mat-icon>
                <span>{{ 'Motion forwarding' | translate }} ...</span>
            </button>
            <button mat-menu-item [disabled]="!selectedRows.length">
                <mat-icon>local_offer</mat-icon>
                <span>{{ 'Tags' | translate }}</span>
            </button>
            <button mat-menu-item (click)="exportAsCsv()" [disabled]="!selectedRows.length">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Export as CSV' | translate }}</span>
            </button>
            <mat-divider></mat-divider>

            <button mat-menu-item [disabled]="!selectedRows.length" class="red-warning-text" (click)="deleteMultiple()">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </ng-container>
    </div>
</mat-menu>
