<os-head-bar
    [customMenu]="true"
    [hasMainButton]="operator.hasOrganizationPermissions(OML.can_manage_organization)"
    [multiSelectMode]="isMultiSelect"
    (mainEvent)="createNewCommittee()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Committees' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="committeeMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span>{{ 'selected' | translate }}</span>
    </div>

    <ng-container class="custom-menu-slot">
        <os-management-navigation></os-management-navigation>
    </ng-container>
</os-head-bar>

<os-basic-list-view-table
    [listObservableProvider]="repo"
    [columns]="tableColumnDefinition"
    [alwaysShowMenu]="true"
    [multiSelect]="isMultiSelect"
    [(selectedRows)]="selectedRows"
    (dataSourceChange)="onDataSourceChange($event)"
    [filterProps]="['name']"
>
    <div *pblNgridCellDef="'name'; value as name; row as committee" class="cell-slot fill">
        <a class="detail-link" [routerLink]="committee.id" *ngIf="!isMultiSelect && committee.canAccess()"></a>
        <div>
            {{ name }}
            <div class="subtitle" *ngIf="committee.description?.trim()">
                {{ committee.description }}
            </div>
        </div>
    </div>

    <div *pblNgridCellDef="'organization_tags'; row as committee" class="cell-slot fill">
        <os-chip-list *ngIf="committee.organization_tags?.length" [model]="committee.organization_tags">
            <ng-template let-tag>
                {{ tag.name }}
            </ng-template>
        </os-chip-list>
    </div>

    <div *pblNgridCellDef="'forwarding'; row as committee" class="cell-slot fill">
        <a class="detail-link" [routerLink]="committee.id" *ngIf="!isMultiSelect"></a>
        <div *ngIf="committee.forward_to_committees?.length">
            <os-icon-container iconTooltip="{{ 'Can forward motions to committee' | translate }}" icon="forward">
                <span *ngFor="let forwardingCommittee of committee.forward_to_committees; let last = last">
                    {{ forwardingCommittee.name }}<span *ngIf="!last">,&nbsp;</span>
                </span>
            </os-icon-container>
        </div>
    </div>

    <div *pblNgridCellDef="'meetings'; row as committee" class="cell-slot fill">
        <a class="detail-link" [routerLink]="committee.id" *ngIf="!isMultiSelect"></a>
        <div *ngIf="committee.meetingAmount">
            <os-icon-container iconTooltip="{{ 'Meetings' | translate }}" icon="calendar_today">
                {{ committee.meetingAmount }}
            </os-icon-container>
        </div>
    </div>

    <div *pblNgridCellDef="'participants'; row as committee" class="cell-slot fill">
        <a class="detail-link" [routerLink]="committee.id" *ngIf="!isMultiSelect"></a>
        <div *ngIf="committee.memberAmount">
            <os-icon-container iconTooltip="{{ 'Members' | translate }}" icon="group">
                {{ committee.memberAmount }}
            </os-icon-container>
        </div>
    </div>

    <div *pblNgridCellDef="'managers'; row as committee" class="cell-slot fill">
        <a class="detail-link" [routerLink]="committee.id" *ngIf="!isMultiSelect"></a>
        <os-icon-container
            iconTooltip="{{ 'Managers' | translate }}"
            icon="build"
            [showIcon]="!!committee.managers?.length"
        >
            <div>
                <span *ngFor="let manager of committee.managers; let last = last">
                    <span>{{ manager?.short_name }}</span>
                    <span *ngIf="!last">,&nbsp;</span>
                </span>
            </div>
        </os-icon-container>
    </div>

    <div *pblNgridCellDef="'menu'; row as committee" class="cell-slot fill">
        <button
            *osCmlPerms="CML.can_manage; committeeId: committee.id"
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleCommitteeMenu"
            [matMenuTriggerData]="{ committee: committee }"
            (click)="$event.stopPropagation()"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-basic-list-view-table>

<mat-menu #singleCommitteeMenu="matMenu">
    <ng-template matMenuContent let-committee="committee">
        <button mat-menu-item type="button" (click)="editSingle(committee)">
            <mat-icon>edit</mat-icon>
            <span>
                {{ 'Edit' | translate }}
            </span>
        </button>

        <button mat-menu-item type="button" class="red-warning-text" (click)="deleteSingle(committee)">
            <mat-icon>delete</mat-icon>
            <span>
                {{ 'Delete' | translate }}
            </span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #committeeMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>

        <ng-container *osOmlPerms="OML.can_manage_organization">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="forwardToCommittees()">
                <mat-icon>swap_horiz</mat-icon>
                <span>{{ 'Unforward/forward to committees' | translate }}</span>
            </button>
            <button mat-menu-item [disabled]="true">
                <mat-icon>local_offer</mat-icon>
                <span>{{ 'Tags' | translate }}</span>
            </button>
            <mat-divider></mat-divider>

            <button mat-menu-item [disabled]="true" class="red-warning-text" (click)="deleteMultiple()">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </ng-container>
    </div>
</mat-menu>
