<os-head-bar [nav]="false" [goBack]="true">
    <div class="title-slot">
        <h2>{{ 'Information' | translate }}</h2>
    </div>
</os-head-bar>

<os-legal-notice-content></os-legal-notice-content>
<os-privacy-policy-content></os-privacy-policy-content>

<mat-card class="os-card" *osPerms="permission.userCanManage">
    <h2>{{ 'Statistics' | translate }}</h2>
    <div>
        <h3>{{ 'Active users' | translate }}</h3>
        <os-count-users></os-count-users>
    </div>
    <div>
        <h3>{{ 'Requests to speak' | translate }}</h3>
        <os-user-statistics></os-user-statistics>
    </div>
</mat-card>
