<os-head-bar
    [editMode]="hasEdits"
    [isSaveButtonEnabled]="orgaSettingsForm?.valid"
    (cancelEditEvent)="revertChanges()"
    (saveEvent)="onSubmit()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ pageTitle | translate }}</h2>
    </div>
</os-head-bar>

<mat-card class="os-card spacer-bottom-60" *ngIf="orgaSettingsForm">
    <form class="orga-settings-form" [formGroup]="orgaSettingsForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>{{ 'Name' | translate }}</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Show this text on the login page' | translate }}</mat-label>
            <input matInput formControlName="login_text" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'OpenSlides design theme' | translate }}</mat-label>
            <mat-select formControlName="theme">
                <mat-option *ngFor="let theme of themes" [value]="theme.class">
                    {{ theme.name | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-label>{{ 'Legal notice' | translate }}</mat-label>
        <editor formControlName="legal_notice" [init]="tinyMceSettings"></editor>

        <mat-label>{{ 'Privacy Policy' | translate }}</mat-label>
        <editor formControlName="privacy_policy" [init]="tinyMceSettings"></editor>

        <ng-container *osOmlPerms="OML.superadmin">
            <!-- electronic voting -->
            <section>
                <mat-checkbox formControlName="enable_electronic_voting">
                    {{ 'Enable electronic voting' | translate }}
                </mat-checkbox>
            </section>
            <!-- Reset password verbose errors -->
            <section>
                <mat-checkbox formControlName="reset_password_verbose_errors">
                    {{ 'Allow verbose error messages for reset password process' | translate }}
                </mat-checkbox>
            </section>
        </ng-container>
    </form>
</mat-card>
