<os-action-card
    [showActionRow]="canBeEdited || hasSubmitterEditRights"
    [disableExpandControl]="isEditing"
    icon="comment"
>
    <ng-container class="meta-text-block-title">
        <span>{{ section?.getTitle() }}</span>
    </ng-container>

    <ng-container class="meta-text-block-content">
        <ng-container *ngIf="!isEditing">
            <div *ngIf="comment" [innerHTML]="comment.comment | trust : 'html'"></div>
            <div class="no-content" *ngIf="!comment">
                {{ 'No comment' | translate }}
            </div>
        </ng-container>
        <form [formGroup]="formGroup" *ngIf="isEditing">
            <!-- The HTML Editor -->
            <os-legacy-editor [id]="sectionId" formControlName="text"></os-legacy-editor>
        </form>
        <div *ngIf="saveHint">
            <span>{{ 'Touch the book icon to enter text' | translate }}</span>
            <br />
            <span class="red-warning-text">{{ 'Do not forget to save your changes!' | translate }}</span>
        </div>
    </ng-container>

    <ng-container class="meta-text-block-action-row">
        <button
            mat-icon-button
            *ngIf="!isEditing && (canBeEdited || hasSubmitterEditRights)"
            (click)="editComment()"
            matTooltip="{{ 'Edit' | translate }}"
        >
            <mat-icon>edit</mat-icon>
        </button>
        <button
            mat-icon-button
            *ngIf="!isEditing && hasComment()"
            (click)="exportCommentAsPDf()"
            matTooltip="{{ 'Export comment' | translate }}"
        >
            <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <button
            mat-icon-button
            color="warn"
            *ngIf="isEditing"
            (click)="saveComment()"
            matTooltip="{{ 'Save' | translate }}"
        >
            <mat-icon>done</mat-icon>
        </button>
        <button
            mat-icon-button
            *ngIf="isEditing"
            (click)="leaveEditMode()"
            matTooltip="{{ 'Cancel edit' | translate }}"
        >
            <mat-icon>close</mat-icon>
        </button>
    </ng-container>
</os-action-card>
