<form [formGroup]="form">
    @if (!pollStarted() && !hideMethod()) {
        <div class="margin-bottom-15 info-grid">
            <mat-form-field>
                <mat-label>{{ 'Election method' | translate }}</mat-label>
                <mat-select formControlName="allow_abstain">
                    <mat-option [value]="false">{{ 'Yes/No' | translate }}</mat-option>
                    <mat-option [value]="true">{{ 'Yes/No/Abstain' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div></div>
        </div>
    }

    <div class="info-grid">
        <mat-form-field>
            <mat-label>{{ '100% base' | translate }}</mat-label>
            <mat-select formControlName="onehundred_percent_base" panelClass="percent-base-panel" required>
                @for (option of validPercentBases; track option[0]) {
                    @if (option[0] !== 'yes_no_abstain' || form.get('allow_abstain').getRawValue()) {
                        <mat-option [value]="option[0]">
                            {{ option[1] | translate }}
                        </mat-option>
                    }
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'Required majority' | translate }}</mat-label>
            <mat-select formControlName="required_majority" panelClass="required-majority-panel">
                <mat-option value="no_majority">
                    {{ 'no_majority' | translateKey: 'poll_required_majority' }}
                </mat-option>
                <mat-option value="two_third_majority">
                    {{ 'two_third_majority' | translateKey: 'poll_required_majority' }}
                </mat-option>
                <mat-option value="absolute_majority">
                    {{ 'absolute_majority' | translateKey: 'poll_required_majority' }}
                </mat-option>
            </mat-select>
            @if (form.get('required_majority').getRawValue() === 'absolute_majority') {
                <mat-hint
                    [innerText]="
                        'Indicates if a majority of more than 50% was reached, dependent on the 100%-base' | translate
                    "
                ></mat-hint>
            } @else if (form.get('required_majority').getRawValue() === 'two_third_majority') {
                <mat-hint
                    [innerText]="
                        'Indicates if a majority of two-thirds or more was reached, dependent on the 100%-base'
                            | translate
                    "
                ></mat-hint>
            }
        </mat-form-field>
    </div>
</form>
