<form [formGroup]="approvalForm">
    <div class="margin-bottom-15 info-grid">
        <mat-checkbox formControlName="allow_abstain">
            {{ 'Allow abstain' | translate }}
        </mat-checkbox>
    </div>

    <mat-form-field>
        <mat-label>{{ '100% base' | translate }}</mat-label>
        <mat-select formControlName="onehundred_percent_base" panelClass="percent-base-panel" required>
            @for (option of validPercentBases | keyvalue; track option) {
                <mat-option [value]="option.key">
                    {{ option.value | translate }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</form>
