<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar [nav]="false">
        <!-- Title -->
        <div class="title-slot">
            <os-icon-container
                *ngIf="block"
                [noWrap]="true"
                icon="check"
                size="large"
                [showIcon]="block.isFinished"
                [iconTooltip]="'Finished' | translate"
            >
                <os-icon-container
                    [noWrap]="true"
                    icon="lock"
                    size="large"
                    [showIcon]="block.internal"
                    [iconTooltip]="'Internal' | translate"
                >
                    <os-projectable-title [model]="block" titleStyle="h2"></os-projectable-title>
                </os-icon-container>
            </os-icon-container>
        </div>

        <!-- Menu -->
        <div class="menu-slot">
            <button type="button" mat-icon-button [matMenuTriggerFor]="motionBlockMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <!-- Extra Controls -->
        <div class="extra-controls-slot" *ngIf="!vp.isMobile">
            <button
                *osPerms="[permission.motionCanManage, permission.motionCanManageMetadata]"
                mat-button
                (click)="onFollowRecButton()"
                [disabled]="isFollowButtonDisabledObservable() | async"
            >
                <os-icon-container icon="done_all" class="follow-all-icon">
                    <div>{{ 'Follow recommendations for all motions' | translate }}</div>
                </os-icon-container>
            </button>
        </div>
    </os-head-bar>

    <os-projectable-list
        [listObservableProvider]="motionRepo"
        [filterService]="filterService"
        [restricted]="restrictedColumns"
        [filterProps]="filterProps"
        [hiddenInMobile]="['remove']"
    >
        <!-- Title column -->
        <div *osScrollingTableCell="'title'; row as motion; rowContext as rowContext" class="cell-slot fill">
            <a
                class="detail-link"
                [routerLink]="motion.getDetailStateUrl()"
                [state]="{ back: 'true' }"
                *ngIf="!isMultiSelect"
            ></a>
            <div class="column-title innerTable overflow-hidden">
                <div class="title-line ellipsis-overflow">
                    <!-- Is Favorite -->
                    <span *ngIf="motion.isFavorite" class="favorite-star">
                        <mat-icon inline>star</mat-icon>
                    </span>

                    <!-- Has File -->
                    <span class="icon-prefix" *ngIf="motion.hasAttachments()">
                        <mat-icon>attach_file</mat-icon>
                    </span>

                    <!-- The title -->
                    <span class="ellipsis-overflow">
                        <span *ngIf="motion.number">
                            {{ motion.number }}
                            <span>&middot;</span>
                        </span>
                        {{ motion.title }}
                    </span>
                </div>

                <!-- Submitters -->
                <div class="submitters-line ellipsis-overflow">
                    <span *ngIf="motion.submitters.length">
                        <span>{{ 'by' | translate }}</span>
                        {{ motion.submitters }}
                    </span>

                    <span *ngIf="showSequential">
                        <span *ngIf="motion.submitters.length">&middot;&thinsp;</span>
                        <span>{{ 'Sequential number' | translate }}</span>
                        {{ motion.sequential_number }}
                    </span>
                </div>

                <!-- Workflow state -->
                <div class="ellipsis-overflow white">
                    <mat-basic-chip *ngIf="motion.state" [ngClass]="motion.stateCssColor" [disabled]="true">
                        {{ getStateLabel(motion) }}
                    </mat-basic-chip>
                </div>

                <!-- Recommendation column -->
                <div class="ellipsis-overflow white spacer-top-3">
                    <mat-basic-chip *ngIf="!!motion.recommendation" class="bluegrey" [disabled]="true">
                        {{ getRecommendationLabel(motion) }}
                    </mat-basic-chip>
                </div>
            </div>
        </div>

        <!-- Remove from block column -->
        <div *osScrollingTableCell="'remove'; row as motion; config: { width: 60 }" class="cell-slot fill">
            <button
                type="button"
                mat-icon-button
                color="warn"
                matTooltip="{{ 'Remove from motion block' | translate }}"
                (click)="onRemoveMotionButton(motion)"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <!-- Menu -->
        <div
            *osScrollingTableCell="'menu'; row as motion; config: { width: 40, position: END_POSITION }"
            class="cell-slot fill"
        >
            <button
                mat-icon-button
                [disabled]="isMultiSelect"
                [matMenuTriggerFor]="singleItemMenu"
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ motion: motion }"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </os-projectable-list>
</os-detail-view>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-motion="motion">
        <os-projector-button [object]="motion" [menuItem]="true"></os-projector-button>
        <os-speaker-button [object]="motion" [menuItem]="true"></os-speaker-button>
        <button
            mat-menu-item
            class="red-warning-text"
            (click)="onRemoveMotionButton(motion)"
            *osPerms="[permission.motionCanManage, permission.motionCanManageMetadata]"
        >
            <mat-icon>close</mat-icon>
            <span>{{ 'Remove from motion block' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>

<!-- The menu content -->
<mat-menu #motionBlockMenu="matMenu">
    <div *ngIf="vp.isMobile">
        <button
            *osPerms="[permission.motionCanManage, permission.motionCanManageMetadata]"
            mat-menu-item
            (click)="onFollowRecButton()"
            [disabled]="isFollowButtonDisabledObservable() | async"
        >
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Follow recommendations for all motions' | translate }}</span>
        </button>
    </div>

    <os-speaker-button [menuItem]="true" [object]="block"></os-speaker-button>

    <os-projector-button *ngIf="block" [object]="block" [menuItem]="true"></os-projector-button>

    <div *osPerms="permission.agendaItemCanManage">
        <button mat-menu-item (click)="addToAgenda()" *ngIf="block && !block.agenda_item_id">
            <mat-icon>add</mat-icon>
            <span>{{ 'Add to agenda' | translate }}</span>
        </button>
        <button mat-menu-item (click)="removeFromAgenda()" *ngIf="block && block.agenda_item_id">
            <mat-icon>remove</mat-icon>
            <span>{{ 'Remove from agenda' | translate }}</span>
        </button>
    </div>

    <div *osPerms="[permission.motionCanManage]">
        <button mat-menu-item (click)="toggleEditMode()">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item class="red-warning-text" (click)="onDeleteBlockButton()">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
