<div *osPerms="permission.meetingCanSeeLivestream; and: showVideoPlayer">
    @if (showParticles | async) {
    <os-applause-particle-display class="applause-particles"></os-applause-particle-display>
    }
    <os-video-player [videoUrl]="liveStreamUrl" (started)="onSteamLoaded()"></os-video-player>
</div>
<div *osPerms="permission.meetingCanSeeLivestream; complement: true">
    <span>{{ 'You are not allowed to see the livestream' | translate }}</span>
</div>
@if (isStreamInOtherTab) {
<div class="disconnected">
    <button class="restart-stream-button" mat-button color="warn" (click)="forceLoadStream()">
        <span>{{ 'Restart livestream' | translate }}</span>
    </button>
</div>
}
