<os-head-bar [isSearchEnabled]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Settings' | translate }}</h2>
    </div>
    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<div class="spacer-bottom-60">
    <os-grid>
        <os-tile *ngFor="let group of this.groups" orientation="vertical" [preferredSize]="2">
            <div
                class="settings-group-card"
                [osPaper]="2"
                [osPaperRaise]="true"
                [routerLink]="group.label.toLowerCase()"
                (keydown.enter)="onEnter(group.label)"
                tabindex="0"
            >
                <div class="flex-center background-selected">
                    <mat-icon>{{ group.icon }}</mat-icon>
                </div>
                <div class="flex-center-unsafe text-center background-card">
                    {{ group.label | translate }}
                </div>
            </div>
        </os-tile>
    </os-grid>
</div>

<mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="resetAll()">
        <mat-icon>undo</mat-icon>
        <span>{{ 'Reset to default settings' | translate }}</span>
    </button>
</mat-menu>
