@use 'src/assets/styles/media-queries.scss';

.banner {
    &.larger-on-mobile {
        @include media-queries.set-breakpoint-lower(sm) {
            min-height: 40px;
        }
    }
    & {
        position: relative; // was fixed before to prevent the overflow
        min-height: 20px;
        line-height: 20px;
        width: 100%;
        text-align: center;

        a {
            align-items: center;
            justify-content: center;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            &.banner-link {
                width: 100%;
                height: 100%;
            }
            & h1 {
                $font-size: 14px;
                margin: 0.5em 0 0 0;
                width: fit-content;
                color: inherit;
                font-size: $font-size;
            }
            div:first-child {
                display: flex;
                flex-direction: row;
                margin: 0 0 -0.75em 0;
            }
        }

        mat-icon {
            $font-size: 16px;
            width: $font-size;
            height: $font-size;
            font-size: $font-size;
            margin: 0.25em 0.25em 0 0;
        }
    }
}
