<div osResized (osResizedHeight)="registerBannerHeight($event)">
    @for (banner of activeBanners | async; track banner) {
        <div
            class="banner flex-center background-accent"
            [ngClass]="[banner.class ? banner.class : '', banner.largerOnMobileView ? 'larger-on-mobile' : '']"
        >
            @if (banner.component) {
                <ng-template [cdkPortalOutlet]="createComponentPortal(banner.component)"></ng-template>
            } @else {
                <a class="banner-link" [routerLink]="banner.link" [style.cursor]="banner.link ? 'pointer' : 'default'">
                    <div>
                        <mat-icon inline>{{ banner.icon }}</mat-icon>
                        <h1>{{ banner.text | translate }}</h1>
                    </div>
                    @if (banner.subText) {
                        <div>
                            {{ banner.subText | translate }}
                        </div>
                    }
                </a>
            }
        </div>
    }
</div>
