<mat-card class="meeting-prev">
    <mat-card-header class="background-accent">
        <mat-card-title class="break-word">
            {{ title }}
        </mat-card-title>

        <span *osCmlPerms="CML.can_manage; committeeId: committee.id" class="align-right">
            <button
                mat-icon-button
                (click)="toggleDefaultMeeting()"
                matTooltip="{{ (isDefaultMeeting ? 'Is default meeting' : 'Set as default meeting') | translate }}"
            >
                <mat-icon>{{ isDefaultMeeting ? 'star' : 'star_outline' }}</mat-icon>
            </button>
            <button type="button" mat-icon-button [matMenuTriggerFor]="meetingMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </span>
    </mat-card-header>
    <mat-card-content class="prev-content">
        <!-- date location -->
        <div class="date-loc">
            <!-- location -->
            <span>
                {{ location }}
            </span>

            <!-- date -->
            <span>
                <os-meeting-time [meeting]="meeting"></os-meeting-time>
            </span>
        </div>

        <!-- desc -->
        <div>
            {{ description }}
        </div>
    </mat-card-content>
    <mat-card-actions class="prev-content">
        <a mat-stroked-button color="primary" [routerLink]="meeting.getUrl()">{{ 'Open meeting' | translate }}</a>
    </mat-card-actions>

    <!-- users -->
    <div class="user-footer">
        <a mat-icon-button matTooltip="{{ 'Participants' | translate }}">
            <mat-icon [matBadgeHidden]="!showUserAmount" [matBadge]="userAmount">group</mat-icon>
        </a>
    </div>
</mat-card>

<mat-menu #meetingMenu="matMenu">
    <a mat-menu-item [routerLink]="['edit-meeting', meeting.id]">
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit' | translate }}</span>
    </a>
    <!-- TODO Duplicate is not yet implemented -->
    <button mat-menu-item disabled (click)="onDuplicate()">
        <mat-icon>file_copy</mat-icon>
        <span>{{ 'Duplicate' | translate }}</span>
    </button>
    <!-- TODO Archive is not yet implemented -->
    <button mat-menu-item disabled (click)="onArchive()">
        <mat-icon>archive</mat-icon>
        <span>{{ 'Archive' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="red-warning-text" (click)="onDeleteMeeting()">
        <mat-icon>delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>
