<os-head-bar>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Calendar' | translate }}</h2>
    </div>
</os-head-bar>

<div *ngIf="!organizationDescription" class="meeting-list-container-empty">
    <div class="meeting-spacer"></div>
</div>

<mat-card appearance="outlined" *ngIf="noMeetingsToShow && ready" class="no-content os-card">
    <i>{{ 'No meetings available' | translate }}</i>
</mat-card>

<div *ngIf="noMeetingsToShow && !ready" class="no-content">
    <mat-spinner class="spinner-center"></mat-spinner>
</div>

<ng-container *ngIf="!noMeetingsToShow">
    <div class="padding-right-8">
        <!-- active meetings -->
        <div *ngIf="organizationDescription" class="meeting-list-container-description meeting-list-container">
            <div class="organization-description" [innerHTML]="organizationDescription"></div>
        </div>

        <div id="active-meetings" class="meeting-list-container">
            <div class="meeting-icon-wrapper foreground-accent">
                <mat-icon color="accent">access_alarm</mat-icon>
                <span>{{ 'today' | translate }}</span>
            </div>
            <div class="meeting-list background-card">
                <mat-card appearance="outlined" class="no-meetings-card" *ngIf="!currentMeetings.length">
                    {{ 'No meetings available' | translate }}
                </mat-card>
                <ng-container *ngFor="let meeting of currentMeetings; let last = last">
                    <ng-container
                        [ngTemplateOutlet]="meetingTemplate"
                        [ngTemplateOutletContext]="{
                            meeting: meeting,
                            context: {
                                wrapperCssClass: 'background-accent',
                                cssClass: 'foreground-accent-contrast'
                            }
                        }"
                    ></ng-container>
                    <mat-divider *ngIf="!last"></mat-divider>
                </ng-container>
            </div>
        </div>

        <!-- future meetings -->
        <div id="future-meetings" class="meeting-list-container">
            <div class="meeting-icon-wrapper">
                <mat-icon>update</mat-icon>
                <span>{{ 'future' | translate }}</span>
            </div>
            <ng-container
                [ngTemplateOutlet]="meetingListTemplate"
                [ngTemplateOutletContext]="{
                    meetingList: futureMeetings,
                    context: {
                        cssClass: 'anchor-button',
                        wrapperCssClass: 'subtitle',
                        subtitleCssClass: 'light-gray-by-theme'
                    }
                }"
            ></ng-container>
        </div>

        <!-- previous meetings -->
        <div id="previous-meetings" class="meeting-list-container">
            <div class="meeting-icon-wrapper">
                <mat-icon aria-hidden="true">history</mat-icon>
                <span>{{ 'ended' | translate }}</span>
            </div>
            <ng-container
                [ngTemplateOutlet]="meetingListTemplate"
                [ngTemplateOutletContext]="{
                    meetingList: previousMeetings,
                    context: {
                        cssClass: 'light-gray-by-theme',
                        wrapperCssClass: 'subtitle',
                        subtitleCssClass: 'subtitle'
                    }
                }"
            ></ng-container>
        </div>

        <!-- meetings with no date -->
        <div *ngIf="!noNoDateMeetingsToShow" id="no-date-meetings" class="meeting-list-container">
            <div class="meeting-icon-wrapper">
                <mat-icon aria-hidden="true">watch_later</mat-icon>
                <span>{{ 'dateless' | translate }}</span>
            </div>
            <ng-container
                [ngTemplateOutlet]="meetingListTemplate"
                [ngTemplateOutletContext]="{
                    meetingList: noDateMeetings,
                    context: { cssClass: 'light-gray-by-theme', wrapperCssClass: 'subtitle' }
                }"
            ></ng-container>
        </div>
    </div>
</ng-container>

<ng-template let-meetingList="meetingList" let-context="context" #meetingListTemplate>
    <div
        class="meeting-list"
        [ngClass]="{ 'no-meetings': !meetingList.length }"
        [ngStyle]="{ height: getHeightByMeetings(meetingList) }"
    >
        <mat-card appearance="outlined" class="no-meetings-card" *ngIf="!meetingList.length">
            {{ 'No meetings available' | translate }}
        </mat-card>
        <cdk-virtual-scroll-viewport [itemSize]="60" *ngIf="!!meetingList.length" class="meeting-list-viewport">
            <ng-container *cdkVirtualFor="let meeting of meetingList; let odd = odd; let last = last">
                <div
                    [ngClass]="{
                        alternate: odd && (isDarkModeObservable | async) === false,
                        'background-dark': !odd && (isDarkModeObservable | async),
                        'background-dark-brighter': odd && (isDarkModeObservable | async)
                    }"
                >
                    <ng-container
                        [ngTemplateOutlet]="meetingTemplate"
                        [ngTemplateOutletContext]="{ meeting: meeting, context: context }"
                    ></ng-container>
                </div>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </div>
</ng-template>

<ng-template let-meeting="meeting" let-context="context" #meetingTemplate>
    <div class="meeting-box" [ngClass]="context?.wrapperCssClass">
        <a
            [routerLink]="meeting.id"
            [ngClass]="context?.cssClass"
            class="meeting-box-left flex-vertical-center"
            matRipple
        >
            <div class="one-line">
                <div class="meeting-box--mid one-line">
                    {{ meeting.name }}
                </div>
                <div class="one-line">
                    <span [ngClass]="context?.subtitleCssClass" *ngIf="meeting.location">{{ meeting.location }}</span>
                    <span
                        [ngClass]="context?.subtitleCssClass"
                        *ngIf="meeting.location && (meeting.start_time || meeting.end_time)"
                    >
                        &nbsp;&middot;&nbsp;
                    </span>
                    <span *ngIf="meeting.start_time || meeting.end_time">
                        <os-meeting-time [meeting]="meeting" [cssClass]="context?.subtitleCssClass"></os-meeting-time>
                    </span>
                </div>
            </div>
        </a>
        <mat-icon *ngIf="meeting.isArchived" matTooltip="{{ 'This meeting is archived' | translate }}">
            archive
        </mat-icon>
        <a
            class="show-committee-link"
            mat-icon-button
            [routerLink]="['/', 'committees', meeting.committee_id]"
            matTooltip="{{ 'Show committee' | translate }}"
        >
            <mat-icon class="show-committee-icon">layers</mat-icon>
        </a>
    </div>
</ng-template>
