<os-head-bar>
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Calendar</h1>
    </div>
</os-head-bar>

@if (!organizationDescription) {
    <div class="meeting-list-container-empty">
        <div class="meeting-spacer"></div>
    </div>
}
@if (noMeetingsToShow) {
    @if (ready) {
        <mat-card class="no-content os-card">
            <mat-card-content>
                <i>{{ 'No meetings available' | translate }}</i>
            </mat-card-content>
        </mat-card>
    } @else {
        <div class="no-content">
            <mat-spinner class="spinner-center"></mat-spinner>
        </div>
    }
} @else {
    @if (!noMeetingsToShow) {
        <div class="padding-right-8">
            <!-- active meetings -->
            @if (organizationDescription) {
                <div class="meeting-list-container-description meeting-list-container">
                    <div class="organization-description" [innerHTML]="organizationDescription"></div>
                </div>
            }
            <div class="meeting-list-container" id="active-meetings">
                <div class="meeting-icon-wrapper foreground-accent">
                    <mat-icon color="accent">access_alarm</mat-icon>
                    <span>{{ 'today' | translate }}</span>
                </div>
                <div class="meeting-list background-card">
                    @if (!currentMeetings.length) {
                        <mat-card>
                            <mat-card-content>
                                {{ 'No meetings available' | translate }}
                            </mat-card-content>
                        </mat-card>
                    }
                    @for (meeting of currentMeetings; track meeting; let last = $last) {
                        <ng-container
                            [ngTemplateOutlet]="meetingTemplate"
                            [ngTemplateOutletContext]="{
                                meeting: meeting,
                                context: {
                                    wrapperCssClass: 'background-accent',
                                    cssClass: 'foreground-accent-contrast'
                                }
                            }"
                        ></ng-container>
                        @if (!last) {
                            <mat-divider></mat-divider>
                        }
                    }
                </div>
            </div>
            <!-- future meetings -->
            <div class="meeting-list-container" id="future-meetings">
                <div class="meeting-icon-wrapper">
                    <mat-icon>update</mat-icon>
                    <span>{{ 'future' | translate }}</span>
                </div>
                <ng-container
                    [ngTemplateOutlet]="meetingListTemplate"
                    [ngTemplateOutletContext]="{
                        meetingList: futureMeetings,
                        context: {
                            cssClass: 'anchor-button',
                            wrapperCssClass: 'subtitle',
                            subtitleCssClass: 'light-gray-by-theme'
                        }
                    }"
                ></ng-container>
            </div>
            <!-- previous meetings -->
            <div class="meeting-list-container" id="previous-meetings">
                <div class="meeting-icon-wrapper">
                    <mat-icon aria-hidden="true">history</mat-icon>
                    <span>{{ 'ended' | translate }}</span>
                </div>
                <ng-container
                    [ngTemplateOutlet]="meetingListTemplate"
                    [ngTemplateOutletContext]="{
                        meetingList: previousMeetings,
                        context: {
                            cssClass: 'light-gray-by-theme',
                            wrapperCssClass: 'subtitle',
                            subtitleCssClass: 'subtitle'
                        }
                    }"
                ></ng-container>
            </div>
            <!-- meetings with no date -->
            @if (!noNoDateMeetingsToShow) {
                <div class="meeting-list-container" id="no-date-meetings">
                    <div class="meeting-icon-wrapper">
                        <mat-icon aria-hidden="true">watch_later</mat-icon>
                        <span>{{ 'dateless' | translate }}</span>
                    </div>
                    <ng-container
                        [ngTemplateOutlet]="meetingListTemplate"
                        [ngTemplateOutletContext]="{
                            meetingList: noDateMeetings,
                            context: { cssClass: 'light-gray-by-theme', wrapperCssClass: 'subtitle' }
                        }"
                    ></ng-container>
                </div>
            }
        </div>
    }
}

<ng-template #meetingListTemplate let-context="context" let-meetingList="meetingList">
    <div
        class="meeting-list"
        [ngClass]="{ 'no-meetings': !meetingList.length }"
        [ngStyle]="{ height: getHeightByMeetings(meetingList) }"
    >
        @if (!meetingList.length) {
            <mat-card>
                <mat-card-content>
                    {{ 'No meetings available' | translate }}
                </mat-card-content>
            </mat-card>
        }
        @if (!!meetingList.length) {
            <cdk-virtual-scroll-viewport class="meeting-list-viewport" [itemSize]="60">
                <ng-container *cdkVirtualFor="let meeting of meetingList; let odd = odd; let last = last">
                    <div
                        [ngClass]="{
                            alternate: odd && (isDarkModeObservable | async) === false,
                            'background-dark': !odd && (isDarkModeObservable | async),
                            'background-dark-brighter': odd && (isDarkModeObservable | async)
                        }"
                    >
                        <ng-container
                            [ngTemplateOutlet]="meetingTemplate"
                            [ngTemplateOutletContext]="{ meeting: meeting, context: context }"
                        ></ng-container>
                    </div>
                </ng-container>
            </cdk-virtual-scroll-viewport>
        }
    </div>
</ng-template>

<ng-template #meetingTemplate let-context="context" let-meeting="meeting">
    <div class="meeting-box" [ngClass]="context?.wrapperCssClass">
        @if (meeting.canBeEnteredBy(operator.user)) {
            <a
                class="meeting-box-left flex-vertical-center"
                matRipple
                [ngClass]="context?.cssClass"
                [routerLink]="meeting.id"
            >
                <ng-container
                    [ngTemplateOutlet]="meetingEntry"
                    [ngTemplateOutletContext]="{ meeting, context }"
                ></ng-container>
            </a>
        } @else {
            <div class="meeting-box-left meeting-box-readonly flex-vertical-center" [ngClass]="context?.cssClass">
                <ng-container
                    [ngTemplateOutlet]="meetingEntry"
                    [ngTemplateOutletContext]="{ meeting, context }"
                ></ng-container>
            </div>
        }
        @if (meeting.isArchived) {
            <mat-icon matTooltip="{{ 'This meeting is archived' | translate }}">archive</mat-icon>
        }
        @if (meeting.publicAccessPossible() && !operator.isAnonymous) {
            <mat-icon matTooltip="{{ 'This meeting is public' | translate }}">public</mat-icon>
        }
        @if (meeting.committee_id) {
            <a
                class="show-committee-link"
                mat-icon-button
                matTooltip="{{ 'Show committee' | translate }}"
                [routerLink]="['/', 'committees', meeting.committee_id]"
            >
                <mat-icon class="show-committee-icon">layers</mat-icon>
            </a>
        }
    </div>
</ng-template>

<ng-template #meetingEntry let-context="context" let-meeting="meeting">
    <div class="one-line">
        <div class="meeting-box--mid one-line">
            <os-icon-container class="show-lock-icon" icon="lock" [showIcon]="meeting.locked_from_inside">
                <div class="meeting-box--mid">{{ meeting.name }}</div>
            </os-icon-container>
        </div>
        <div
            class="one-line"
            [ngClass]="{
                'align-w-title-if-locked': meeting.locked_from_inside,
                'align-w-title-if-not-locked': !meeting.locked_from_inside
            }"
        >
            @if (meeting.location) {
                <span [ngClass]="context?.subtitleCssClass">{{ meeting.location }}</span>
            }
            @if (meeting.location && (meeting.start_time || meeting.end_time)) {
                <span [ngClass]="context?.subtitleCssClass">&nbsp;&middot;&nbsp;</span>
            }
            @if (meeting.start_time || meeting.end_time) {
                <span>
                    <os-meeting-time [cssClass]="context?.subtitleCssClass" [meeting]="meeting"></os-meeting-time>
                </span>
            }
        </div>
    </div>
</ng-template>
