<os-head-bar [goBack]="true" [isSaveButtonEnabled]="true" [nav]="false">
    <div class="title-slot">
        <h2>{{ 'Export ' + motionsNr + ' Motions' | translate }}</h2>
    </div>
    <ng-container class="menu-slot">
        <button mat-button (click)="exportMotions()">
            <span class="upper">{{ 'Export' | translate }}</span>
        </button>
    </ng-container>
</os-head-bar>

<mat-card>
    <mat-card-content>
        <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
            <mat-tab label="PDF">
                <ng-container [ngTemplateOutlet]="exportPdf"></ng-container>
            </mat-tab>
            <mat-tab label="CSV">
                <ng-container [ngTemplateOutlet]="exportPdf"></ng-container>
            </mat-tab>
            <mat-tab label="XLSX">
                <ng-container [ngTemplateOutlet]="exportPdf"></ng-container>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

<ng-template #exportPdf>
    <form [formGroup]="dialogForm">
        <!-- Content -->
        <div class="motion-export-wrapper">
            @if (!isXLSXExport) {
                <div>
                    <p class="toggle-group-head">{{ 'Text version' | translate }}</p>
                    <mat-chip-listbox class="smaller-buttons" formControlName="crMode">
                        <mat-chip-option [value]="crMode.Original">
                            <span>{{ 'Original version' | translate }}</span>
                        </mat-chip-option>
                        @if (!isCSVExport) {
                            <mat-chip-option [value]="crMode.Changed">
                                <span>{{ 'Changed version' | translate }}</span>
                            </mat-chip-option>
                            <mat-chip-option [value]="crMode.Diff">
                                <span>{{ 'Diff version' | translate }}</span>
                            </mat-chip-option>
                        }
                        <mat-chip-option [value]="crMode.ModifiedFinal">
                            <span>{{ 'Final version' | translate }}</span>
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            }

            <div>
                <p class="toggle-group-head">{{ 'Content' | translate }}</p>
                <mat-chip-listbox class="smaller-buttons" formControlName="content" multiple>
                    <mat-chip-option value="title">
                        <span>{{ 'Title' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option value="number">
                        <span>{{ 'Number' | translate }}</span>
                    </mat-chip-option>
                    @if (!isXLSXExport) {
                        <mat-chip-option value="text">
                            <span>{{ 'Text' | translate }}</span>
                        </mat-chip-option>
                        <mat-chip-option value="reason">
                            <span>{{ 'Reason' | translate }}</span>
                        </mat-chip-option>
                    }
                    <mat-chip-option value="id">
                        <span>{{ 'Sequential number' | translate }}</span>
                    </mat-chip-option>
                    @if (!isCSVExport && !isXLSXExport) {
                        <mat-chip-option value="attachments">
                            <span>{{ 'Attachments' | translate }}</span>
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>

            @if (!isCSVExport && !isXLSXExport) {
                <div>
                    <p class="toggle-group-head">{{ 'Line numbering' | translate }}</p>
                    <mat-chip-listbox formControlName="lnMode">
                        <mat-chip-option [value]="lnMode.None">
                            <span>{{ 'None' | translate }}</span>
                        </mat-chip-option>
                        <mat-chip-option [value]="lnMode.Outside">
                            <span>{{ 'Outside' | translate }}</span>
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            }

            <div>
                <p class="toggle-group-head">{{ 'Person-related fields' | translate }}</p>
                <mat-chip-listbox class="smaller-buttons" formControlName="personrelated" multiple>
                    <mat-chip-option value="submitters">
                        <span>{{ 'Submitters' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option value="supporters">
                        <span>{{ 'Supporters' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option
                        #editorsChipOption
                        value="editors"
                        [disabled]="isDisabled(editorsChipOption.value)"
                    >
                        <span>{{ 'Motion editors' | translate }}</span>
                    </mat-chip-option>
                    @if (workingGroupSpeakerActive) {
                        <mat-chip-option value="working_group_speakers">
                            <span>{{ 'Spokesperson' | translate }}</span>
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>

            <div>
                <p class="toggle-group-head">{{ 'Meta information' | translate }}</p>
                <mat-chip-listbox class="smaller-buttons" formControlName="metaInfo" multiple>
                    <mat-chip-option value="state">
                        <span>{{ 'State' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option
                        #recommendationChipOption
                        value="recommendation"
                        [disabled]="isDisabled(recommendationChipOption.value)"
                    >
                        <span>{{ 'Recommendation' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option
                        #categoryChipOption
                        value="category"
                        [disabled]="isDisabled(categoryChipOption.value)"
                    >
                        <span>{{ 'Category' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option #tagChipOption value="tags" [disabled]="isDisabled(tagChipOption.value)">
                        <span>{{ 'Tags' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option #blockChipOption value="block" [disabled]="isDisabled(blockChipOption.value)">
                        <span>{{ 'Motion block' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option value="polls">
                        <span>{{ 'Voting result' | translate }}</span>
                    </mat-chip-option>
                    <mat-chip-option value="referring_motions">
                        <span>{{ 'Referring motions' | translate }}</span>
                    </mat-chip-option>
                    @if (isCSVExport || isXLSXExport) {
                        <mat-chip-option
                            *osPerms="permission.listOfSpeakersCanSee"
                            #speakRequestsChipOption
                            value="speakers"
                        >
                            <span>{{ 'Open requests to speak' | translate }}</span>
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>

            @if (!isCSVExport && !isXLSXExport) {
                <div>
                    <p class="toggle-group-head">{{ 'page layout' | translate }}</p>
                    <mat-chip-listbox class="smaller-buttons" formControlName="pageLayout" multiple>
                        <mat-chip-option
                            #toc
                            value="toc"
                            [disabled]="continuousTextChipOption ? continuousTextChipOption?.selected : false"
                        >
                            <span>{{ 'Table of contents' | translate }}</span>
                        </mat-chip-option>
                        <mat-chip-option
                            value="addBreaks"
                            [disabled]="continuousTextChipOption ? continuousTextChipOption?.selected : false"
                        >
                            <span>{{ 'Enforce page breaks' | translate }}</span>
                        </mat-chip-option>
                        <mat-chip-option #continuousText value="continuousText">
                            <span>{{ 'Continuous text' | translate }}</span>
                        </mat-chip-option>
                        <mat-chip-option value="onlyChangedLines">
                            <span>{{ 'Short form for amendments' | translate }}</span>
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>

                <div>
                    <p class="toggle-group-head">{{ 'Header and footer' | translate }}</p>
                    <mat-chip-listbox class="smaller-buttons" formControlName="headerFooter" multiple>
                        <mat-chip-option #header value="header">
                            <span>{{ 'Header' | translate }}</span>
                        </mat-chip-option>
                        <mat-chip-option value="page">
                            <span>{{ 'Page numbers' | translate }}</span>
                        </mat-chip-option>
                        <mat-chip-option value="date">
                            <span>{{ 'Current date' | translate }}</span>
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            }

            <div>
                <p class="toggle-group-head">{{ 'Notes and Comments' | translate }}</p>
                <mat-chip-listbox class="smaller-buttons" formControlName="comments" multiple>
                    <mat-chip-option [value]="PERSONAL_NOTE_ID">
                        <span>{{ 'Personal note' | translate }}</span>
                    </mat-chip-option>
                    @for (comment of commentsToExport; track comment) {
                        <mat-chip-option [value]="comment.id">
                            <span>{{ comment.name }}</span>
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
                <!-- TODO only if not csv -->
            </div>

            <br />
        </div>
    </form>
</ng-template>
