<div *ngIf="maxMeetingsObservable | async as maxMeetings" class="single-orga-statistic">
    <ng-container
        [ngTemplateOutlet]="singleStatistik"
        [ngTemplateOutletContext]="{ label: activeMeetingsText, current: activeMeetings, max: maxMeetings }"
    ></ng-container>
</div>

<div *ngIf="maxUserObservable | async as maxUser" class="single-orga-statistic">
    <ng-container
        [ngTemplateOutlet]="singleStatistik"
        [ngTemplateOutletContext]="{ label: activeUsersText, current: activeUsers, max: maxUser }"
    ></ng-container>
</div>


<ng-template #singleStatistik let-label="label" let-current="current" let-max="max">
    <div>
        <span>{{ label | translate }}</span>
        <span>{{ current }}/{{ max }}</span>
    </div>
    <mat-progress-bar mode="determinate" [value]="(current / max) * 100"></mat-progress-bar>
</ng-template>
