<os-head-bar [hasMainButton]="perms.isAllowed('create')" (mainEvent)="onPlusButton()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Motions' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="motionListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>

    <div class="extra-controls-slot">
        <div *ngIf="hasCategories && !isMultiSelect">
            <button
                mat-button
                *ngIf="selectedView === 'list'"
                (click)="onChangeView('tiles')"
                matTooltip="{{ 'Tile view' | translate }}"
                matTooltipPosition="left"
            >
                <mat-icon>view_module</mat-icon>
            </button>

            <button
                mat-button
                *ngIf="selectedView === 'tiles'"
                (click)="onChangeView('list')"
                matTooltip="{{ 'List view' | translate }}"
                matTooltipPosition="left"
            >
                <mat-icon>view_headline</mat-icon>
            </button>
        </div>
    </div>
</os-head-bar>

<ng-container *ngIf="selectedView === 'tiles'; then tiles; else list"></ng-container>

<ng-template #list>
    <os-projectable-list
        [listObservableProvider]="motionRepo"
        [filterService]="filterService"
        [sortService]="sortService"
        [multiSelect]="isMultiSelect"
        [filterProps]="filterProps"
        [hiddenInMobile]="getColumnsHiddenInMobile()"
        [(selectedRows)]="selectedRows"
    >
        <!-- number -->
        <div *osScrollingTableCell="'number'; row as motion; config: { width: 60 }" class="cell-slot fill">
            <os-detail-view-navigator [model]="motion" *ngIf="!isMultiSelect"></os-detail-view-navigator>
            <div class="column-number innerTable">
                {{ motion.number }}
            </div>
        </div>

        <!-- Title -->
        <div *osScrollingTableCell="'title'; row as motion; rowContext as rowContext" class="cell-slot fill">
            <os-detail-view-navigator [model]="motion" *ngIf="!isMultiSelect"></os-detail-view-navigator>
            <div class="column-title innerTable overflow-hidden">
                <div class="title-line ellipsis-overflow">
                    <!-- Is Favorite -->
                    <span *ngIf="motion.getPersonalNote()?.star" class="favorite-star">
                        <mat-icon inline>star</mat-icon>
                    </span>

                    <!-- Has File -->
                    <span class="icon-prefix" *ngIf="motion.hasAttachments()">
                        <mat-icon>attach_file</mat-icon>
                    </span>

                    <!-- The title -->
                    <span>
                        <span *ngIf="vp.isMobile && motion.number">
                            {{ motion.number }}
                            <span>&middot;</span>
                        </span>
                        {{ motion.title }}
                    </span>
                </div>

                <!-- Submitters -->
                <div class="submitters-line ellipsis-overflow">
                    <span *ngIf="motion.submitters.length">
                        <span>{{ 'by' | translate }}</span>
                        {{ motion.submittersAsUsers }}
                    </span>

                    <span *ngIf="showSequential">
                        <span *ngIf="motion.submitters.length">&middot;&nbsp;</span>
                        <span>{{ 'Sequential number' | translate }}</span>
                        {{ motion.sequential_number }}
                    </span>

                    <span
                        *ngIf="sortService.sortProperty === 'last_modified' || sortService.sortProperty === 'created'"
                    >
                        <span *ngIf="motion.submitters.length || showSequential">&middot;&nbsp;</span>
                        <span *ngIf="sortService.sortProperty === 'last_modified'">
                            {{
                                motion.last_modified && motion.last_modified !== motion.created
                                    ? ('modified' | translate)
                                    : ('created' | translate)
                            }}
                            {{ motion.last_modified ?? motion.created | localizedDate }}
                        </span>
                        <span *ngIf="sortService.sortProperty === 'created'">
                            {{ 'created' | translate }} {{ motion.created | localizedDate }}
                        </span>
                    </span>
                </div>

                <!-- TODO: These two now appear twice. Might be an own component -->
                <!-- Workflow state -->
                <div class="ellipsis-overflow white">
                    <mat-basic-chip *ngIf="motion.state" [ngClass]="motion.stateCssColor" [disabled]="true">
                        {{ motionRepo.getExtendedStateLabel(motion) | translate }}
                    </mat-basic-chip>
                </div>

                <!-- Recommendation -->
                <div
                    *ngIf="motion.recommendation && motion.state?.next_state_ids?.length"
                    class="ellipsis-overflow white spacer-top-3"
                >
                    <mat-basic-chip class="bluegrey" [disabled]="true">
                        {{ motionRepo.getExtendedRecommendationLabel(motion) | translate }}
                    </mat-basic-chip>
                </div>
            </div>
        </div>

        <!-- Category, blocks and tags -->
        <div
            *osScrollingTableCell="'state'; row as motion; config: { width: 240 }"
            class="cell-slot fill"
            [ngClass]="isMultiSelect ? '' : 'clickable'"
            (click)="openEditInfo(motion)"
        >
            <div class="column-state innerTable">
                <!-- Category -->
                <div class="ellipsis-overflow" *ngIf="motion.category">
                    <os-icon-container icon="category">
                        {{ motion.category.nameWithParentAbove }}
                    </os-icon-container>
                </div>

                <!-- Motion Block -->
                <div class="ellipsis-overflow spacer-top-5" *ngIf="motion.block">
                    <os-icon-container icon="widgets">{{ motion.block.title }}</os-icon-container>
                </div>

                <!-- Tags -->
                <div class="ellipsis-overflow spacer-top-5" *ngIf="motion.tags && motion.tags.length">
                    <os-icon-container icon="local_offer">
                        <os-comma-separated-listing [list]="motion.tags">
                            <ng-template let-tag>{{ tag.getTitle() }}</ng-template>
                        </os-comma-separated-listing>
                    </os-icon-container>
                </div>
            </div>
        </div>

        <!-- Menu -->
        <div *osScrollingTableCell="'menu'; config: { width: 40 }; row as motion" class="cell-slot fill">
            <button
                mat-icon-button
                [disabled]="isMultiSelect"
                [matMenuTriggerFor]="singleItemMenu"
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ motion: motion }"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </os-projectable-list>
</ng-template>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-motion="motion">
        <os-projector-button [object]="motion" [menuItem]="true"></os-projector-button>
        <os-speaker-button [object]="motion" [menuItem]="true"></os-speaker-button>
    </ng-template>
</mat-menu>

<ng-template #tiles>
    <div class="spacer-bottom-60">
        <os-grid rowHeight="50%">
            <os-tile *ngFor="let tile of listTiles" [data]="tile" (clicked)="changeToViewWithTileCategory(tile)">
                <div class="motion-tile-card" [osPaper]="2" [osPaperRaise]="true">
                    <div class="full-height">
                        <div class="flex-center background-selected">
                            <span
                                class="tile-content-prefix"
                                [matBadge]="tile.amountOfMotions"
                                [matBadgeColor]="'accent'"
                                [ngSwitch]="tile.name"
                            >
                                <span *ngSwitchCase="'Favorites'"><mat-icon>star</mat-icon></span>
                                <span *ngSwitchCase="'No category'"><mat-icon>block</mat-icon></span>
                                <span *ngSwitchCase="'Personal notes'"><mat-icon>speaker_notes</mat-icon></span>
                                <span *ngSwitchDefault>
                                    <span *ngIf="tile.prefix">
                                        {{ tile.prefix }}
                                    </span>
                                    <span *ngIf="!tile.prefix">
                                        <mat-icon>category</mat-icon>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="tile-content-name background-card">
                            {{ tile.name | translate }}
                        </div>
                    </div>
                </div>
            </os-tile>
        </os-grid>
    </div>
</ng-template>

<mat-menu #motionListMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <!-- Multiselect -->
        <div *ngIf="perms.isAllowed('change_metadata') && selectedView === 'list'">
            <button mat-menu-item (click)="toggleMultiSelect()">
                <mat-icon>library_add</mat-icon>
                <span>{{ 'Multiselect' | translate }}</span>
            </button>
            <mat-divider></mat-divider>
        </div>

        <!-- Amendments -->
        <div *ngIf="amendmentsEnabled && (perms.isAllowed('manage') || hasAmendments())">
            <button mat-menu-item routerLink="amendments">
                <!-- color_lens -->
                <!-- format_paint -->
                <mat-icon>color_lens</mat-icon>
                <span>{{ 'Amendments' | translate }}</span>
            </button>
        </div>

        <!-- Categories -->
        <div *ngIf="perms.isAllowed('manage') || hasCategories">
            <button mat-menu-item routerLink="categories">
                <mat-icon>category</mat-icon>
                <span>{{ 'Categories' | translate }}</span>
            </button>
        </div>

        <!-- Motion blocks -->
        <div *ngIf="perms.isAllowed('manage') || hasMotionBlocks">
            <button mat-menu-item routerLink="blocks">
                <mat-icon>widgets</mat-icon>
                <span>{{ 'Motion blocks' | translate }}</span>
            </button>
        </div>

        <mat-divider
            *ngIf="
                (hasCategories || hasMotionBlocks || hasAmendments() || perms.isAllowed('manage')) &&
                (perms.isAllowed('manage') || selectedView === 'list' || perms.isAllowed('can_manage_config'))
            "
        ></mat-divider>

        <div *ngIf="perms.isAllowed('manage')">
            <!-- Call list -->
            <button mat-menu-item routerLink="call-list">
                <mat-icon>sort</mat-icon>
                <span>{{ 'Call list' | translate }}</span>
            </button>

            <!-- Statutes -->
            <button mat-menu-item routerLink="statute-paragraphs" *ngIf="statutesEnabled">
                <mat-icon>gavel</mat-icon>
                <span>{{ 'Statute' | translate }}</span>
            </button>

            <!-- Comments -->
            <button mat-menu-item routerLink="comment-sections">
                <mat-icon>speaker_notes</mat-icon>
                <span>{{ 'Comment fields' | translate }}</span>
            </button>

            <!-- Workflows -->
            <button mat-menu-item routerLink="workflows">
                <mat-icon>build</mat-icon>
                <span>{{ 'Workflows' | translate }}</span>
            </button>

            <!-- Tags -->
            <button mat-menu-item routerLink="tags" *osPerms="permission.tagCanManage">
                <mat-icon>local_offer</mat-icon>
                <span>{{ 'Tags' | translate }}</span>
            </button>

            <mat-divider></mat-divider>
        </div>

        <!-- Export -->
        <button mat-menu-item *ngIf="selectedView === 'list'" (click)="openExportDialog()">
            <mat-icon>archive</mat-icon>
            <span>{{ 'Export' | translate }}</span>
        </button>

        <!-- Import -->
        <div *ngIf="perms.isAllowed('manage')">
            <button mat-menu-item routerLink="import">
                <mat-icon>cloud_upload</mat-icon>
                <span>{{ 'Import' | translate }}</span>
            </button>
        </div>

        <div *osPerms="permission.meetingCanManageSettings">
            <mat-divider></mat-divider>

            <!-- Settings -->
            <button mat-menu-item [routerLink]="['/', activeMeetingId, 'settings', 'motions']">
                <mat-icon>settings</mat-icon>
                <span>{{ 'Settings' | translate }}</span>
            </button>
        </div>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>
        <ng-container *ngIf="perms.isAllowed('change_metadata')">
            <mat-divider></mat-divider>
            <os-motion-multiselect-actions [selectedMotions]="selectedRows">
                <button
                    mat-menu-item
                    [disabled]="!selectedRows.length"
                    (click)="multiselectService.moveInAgenda(selectedRows)"
                >
                    <mat-icon>sort</mat-icon>
                    <span>{{ 'Move to agenda item' | translate }} ...</span>
                </button>
                <button
                    mat-menu-item
                    [disabled]="!selectedRows.length"
                    (click)="multiselectService.moveInCallList(selectedRows)"
                >
                    <mat-icon>format_indent_increase</mat-icon>
                    <span>{{ 'Move in call list' | translate }} ...</span>
                </button>
                <button
                    *ngIf="canForward"
                    mat-menu-item
                    [disabled]="!selectedRows.length"
                    (click)="forwardMotionsToMeetings(selectedRows)"
                >
                    <mat-icon>forward</mat-icon>
                    <span>{{ 'Forward' | translate }} ...</span>
                </button>
            </os-motion-multiselect-actions>
        </ng-container>
    </div>
</mat-menu>
