<os-head-bar [hasMainButton]="canManageAssignments" (mainEvent)="onPlusButton()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Elections' | translate }}</h2>
    </div>
    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="assignmentMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>
</os-head-bar>

<os-projectable-list
    [listObservableProvider]="repo"
    [filterService]="filterService"
    [sortService]="sortService"
    [filterProps]="filterProps"
    [multiSelect]="isMultiSelect"
    [hiddenInMobile]="getColumnsHiddenInMobile()"
    [(selectedRows)]="selectedRows"
>
    <!-- Title -->
    <div *osScrollingTableCell="'title'; row as assignment; rowContext as rowContext" class="cell-slot fill">
        <os-detail-view-navigator [model]="assignment" *ngIf="!isMultiSelect"></os-detail-view-navigator>
        <div style="overflow: hidden" class="innerTable">
            <div class="title-line ellipsis-overflow">
                {{ assignment.getListTitle() }}
            </div>
            <mat-chip-list class="ellipsis-overflow" *ngIf="vp.isMobile">
                <mat-chip color="primary" selected>
                    {{ assignment.phaseString | translate }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <!-- Phase -->
    <div
        *osScrollingTableCell="'phase'; row as assignment; config: { width: 180 }"
        class="cell-slot fill mat-chip-wrapper"
    >
        <mat-chip-list>
            <mat-chip color="primary" selected>
                {{ assignment.phaseString | translate }}
            </mat-chip>
        </mat-chip-list>
    </div>

    <!-- Candidates -->
    <div *osScrollingTableCell="'candidates'; row as assignment; config: { width: 40 }" class="cell-slot fill">
        <mat-chip-list>
            <mat-chip color="accent" selected matTooltip="{{ 'Number of candidates' | translate }}">
                {{ getCandidateAmount(assignment) }}
            </mat-chip>
        </mat-chip-list>
    </div>

    <!-- Menu -->
    <div *osScrollingTableCell="'menu'; row as assignment; config: { width: 40 }" class="cell-slot fill">
        <button
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleItemMenu"
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ assignment: assignment }"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-projectable-list>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-assignment="assignment">
        <os-projector-button [object]="assignment" [menuItem]="true"></os-projector-button>
        <os-speaker-button [object]="assignment" [menuItem]="true"></os-speaker-button>
    </ng-template>
</mat-menu>

<mat-menu #assignmentMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item *osPerms="permission.assignmentCanManage" (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
        <button mat-menu-item (click)="downloadAssignmentButton()">
            <mat-icon>archive</mat-icon>
            <span>{{ 'Export as PDF' | translate }}</span>
        </button>
        <div *osPerms="permission.meetingCanManageSettings">
            <mat-divider></mat-divider>
            <!-- Settings -->
            <button mat-menu-item [routerLink]="['/', activeMeetingId, 'settings', 'elections']">
                <mat-icon>settings</mat-icon>
                <span>{{ 'Settings' | translate }}</span>
            </button>
        </div>
    </div>

    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="downloadAssignmentButton(selectedRows)">
            <mat-icon>archive</mat-icon>
            <span>{{ 'Export selected elections' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            class="red-warning-text"
            *osPerms="permission.assignmentCanManage"
            [disabled]="!selectedRows.length"
            (click)="deleteSelected()"
        >
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
