.amendment-create-wizard-wrapper {
    .paragraph-scroll {
        height: calc(
            100vh -
                (
                    var(--global-headbar-height) + var(--view-headbar-height) // Offset for the headbars
                    + 96px // Offset for the stepper
                    + 20px // Offset for the bottom spacer
                )
        );
    }

    .paragraph-row {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        padding: 20px 0;

        .paragraph-select {
            flex-basis: 50px;
            flex-grow: 0;

            flex-direction: column;
        }
        .paragraph-text {
            flex: 1;
        }
    }

    .motion-text {
        p,
        ul,
        ol,
        li,
        blockquote {
            margin-top: 0;
            margin-bottom: 0;
        }

        li {
            padding-bottom: 10px;
        }

        ol,
        ul {
            margin-left: 15px;
            margin-bottom: 0;
        }

        padding-left: 40px;
        position: relative;

        .os-line-number {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 0;
            padding-right: 55px;

            &:after {
                content: attr(data-line-number);
                position: absolute;
                top: 13px;
                vertical-align: top;
                color: gray;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
}
