@import 'src/app/site/pages/meetings/pages/motions/styles/motion-common-styles';

span {
    margin: 0;
}

.create-poll-button {
    margin-bottom: 1em;
}

.prev-next-motion-controls {
    div {
        display: inherit;
    }
    @media (max-width: 700px) {
        span {
            width: 32px;
        }
    }
}

.motion-content {
    display: flow-root;
}

.motion-text-toolbar-wrapper {
    display: flex;
    justify-content: flex-end;

    button {
        font-weight: 400;
    }
    margin-bottom: 16px;

    > button {
        // Prevent moving the buttons when the "go to line"-input is shown
        margin-top: 7px;
    }

    .motion-text-controls {
        .motion-goto-line {
            width: 130px;
        }
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type='number'] {
            -moz-appearance: textfield;
        }
    }
}

.meta-info-panel {
    padding-top: 25px;

    a:hover {
        cursor: pointer;
    }
}

.mat-accordion {
    display: block;
    margin-top: 0px;
}

.mat-expansion-panel {
    padding-top: 0;
    .expansion-panel-custom-body {
        padding-left: 55px;
    }
}

.amendment-line-header {
    font-style: italic;
}

.motion-content {
    h4 {
        margin: 10px 10px 15px 0;
        display: block;
        font-weight: 500;
        font-size: 110%;
    }

    h5 {
        margin: 15px 10px 10px 0;
        display: block;
        font-weight: 500;
        font-size: 100%;
    }

    .motion-text {
        clear: both;
        margin-left: 0px;
    }

    //the assembly may decide ...
    .text-prefix-label {
        display: block;
        margin: 0 10px 20px 0px;
    }

    .content-field {
        display: inline-block;
        width: 100%;
    }

    .form-id-title {
        display: flex;

        .form-number {
            flex: 0 0 95px;
            max-width: 95px;
            margin-right: 1em;
        }

        .form-title {
            flex: 1 1 auto;
        }
    }
}

.desktop-view {
    .desktop-left {
        width: 30%;
        float: left;
        padding-right: 25px;
    }

    .desktop-right {
        .os-form-card {
            margin-bottom: 20px;
        }

        .os-card {
            display: grid;
            max-width: 900px;
            min-width: 400px;
            margin-left: 0 !important;
            margin-top: 0 !important;
        }
    }
}

.mobile-view {
    .os-card {
        padding: 27px;
        max-width: calc(100% - 54px);
    }
}

.supporters {
    font-size: 12px;
    margin-top: 4px;
}

.show-entire-text-check {
    font-size: 70%;
    float: right;
}

.motion-detail-nav-button {
    min-width: 110px;
    max-width: 20vw;

    span {
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;

        @supports (-webkit-line-clamp: 3) {
            white-space: initial !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

@media (max-width: 700px) {
    .motion-detail-nav-button {
        min-width: 2px;
        max-width: 4px;
    }

    .chevron_number {
        visibility: hidden;
        max-width: 0px !important;
    }
}
