<os-detail-view [collection]="collection" (idFound)="onIdFound($event)">
    <ng-container *ngIf="hasLoaded | async">
        <os-head-bar
            [hasMainButton]="perms.isAllowed('can_create_amendments', motion)"
            mainActionTooltip="New amendment"
            [nav]="false"
            [editMode]="editMotion"
            [isSaveButtonEnabled]="canSave"
            [saveAction]="getSaveAction()"
            (mainEvent)="createAmendment()"
            (cancelEditEvent)="leaveEditMotion()"
            [goBack]="motion?.hasLeadMotion"
        >
            <!-- Title -->
            <div class="title-slot">
                <h2 *ngIf="motion && !newMotion">
                    <span>{{ 'Motion' | translate }}</span>
                    <!-- Whitespace between "Motion" and number -->
                    <span>&nbsp;</span>
                    <span *ngIf="!editMotion">{{ motion.number }}</span>
                </h2>
                <h2 *ngIf="newMotion && !amendmentEdit">{{ 'New motion' | translate }}</h2>
                <h2 *ngIf="amendmentEdit">{{ 'New amendment' | translate }}</h2>
            </div>

            <!-- Back and forth buttons -->
            <div *ngIf="!editMotion && !vp.isMobile && showNavigateButtons" class="extra-controls-slot prev-next-motion-controls">
                <button mat-button (click)="navigateToMotion(previousMotion)" [disabled]="!previousMotion" class="motion-detail-nav-button">
                    <os-icon-container icon="chevron_left">
                        {{ previousMotion ? previousMotion.number : '' }}
                    </os-icon-container>
                </button>
                <button mat-button (click)="navigateToMotion(nextMotion)" [disabled]="!nextMotion" class="motion-detail-nav-button">
                    <os-icon-container icon="chevron_right" [swap]="true">
                        {{ nextMotion ? nextMotion.number : '' }}
                    </os-icon-container>
                </button>
            </div>

            <!-- Menu -->
            <div class="menu-slot">
                <button type="button" mat-icon-button [matMenuTriggerFor]="motionExtraMenu" *ngIf="motion">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>

            <mat-menu #motionExtraMenu="matMenu">
                <div *ngIf="vp.isMobile && showNavigateButtons">
                    <button mat-menu-item (click)="navigateToMotion(previousMotion)" [disabled]="!previousMotion" class="motion-detail-nav-button">
                        <mat-icon>chevron_left</mat-icon>
                        <span *ngIf="previousMotion">{{ 'Motion' | translate }} {{ previousMotion.number }}</span>
                    </button>
                    <button mat-menu-item (click)="navigateToMotion(nextMotion)" [disabled]="!nextMotion" class="motion-detail-nav-button">
                        <mat-icon>chevron_right</mat-icon>
                        <span *ngIf="nextMotion">{{ 'Motion' | translate }} {{ nextMotion.number }}</span>
                    </button>
                    <mat-divider *ngIf="previousMotion || nextMotion"></mat-divider>
                </div>
                <!-- List of speakers -->
                <os-speaker-button [object]="motion" [menuItem]="true"></os-speaker-button>
                <!-- PDF -->
                <button mat-menu-item (click)="onDownloadPdf()">
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>{{ 'PDF' | translate }}</span>
                </button>
                <mat-divider
                    *osPerms="[
                        permission.projectorCanManage,
                        permission.agendaItemCanManage,
                        permission.meetingCanSeeHistory
                    ]"
                ></mat-divider>
                <!-- Project -->
                <os-projector-button
                    *osPerms="permission.projectorCanManage"
                    [object]="motion"
                    [menuItem]="true"
                ></os-projector-button>
                <!-- Add/remove to/from agenda -->
                <div *osPerms="permission.agendaItemCanManage">
                    <button mat-menu-item (click)="addToAgenda()" *ngIf="motion && !motion.agenda_item_id">
                        <mat-icon>add</mat-icon>
                        <span>{{ 'Add to agenda' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="removeFromAgenda()" *ngIf="motion && motion.agenda_item_id">
                        <mat-icon>remove</mat-icon>
                        <span>{{ 'Remove from agenda' | translate }}</span>
                    </button>
                </div>
                <!-- Go to the history -->
                <div *osPerms="permission.meetingCanSeeHistory">
                    <button mat-menu-item (click)="goToHistory()">
                        <mat-icon>history</mat-icon>
                        <span>{{ 'History' | translate }}</span>
                    </button>
                </div>
                <!-- Forward motion -->
                <div *osPerms="permission.motionCanForward; and: motion.state?.allow_motion_forwarding">
                    <button mat-menu-item (click)="forwardMotionToMeetings()">
                        <mat-icon>forward</mat-icon>
                        <span>{{ 'Forward' | translate }}</span>
                    </button>
                </div>
                <mat-divider *ngIf="perms.isAllowed('update', motion) || perms.isAllowed('manage')"></mat-divider>
                <!-- Edit-->
                <button mat-menu-item (click)="enterEditMotion()" *ngIf="perms.isAllowed('update', motion)">
                    <mat-icon>edit</mat-icon>
                    <span>{{ 'Edit' | translate }}</span>
                </button>
                <!-- Delete -->
                <button
                    mat-menu-item
                    class="red-warning-text"
                    (click)="deleteMotionButton()"
                    *ngIf="perms.isAllowed('manage')"
                >
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'Delete' | translate }}</span>
                </button>
            </mat-menu>
        </os-head-bar>

        <div
            class="content-container spacer-bottom-60"
            osSwipe
            (swipeLeft)="navigateToMotion(previousMotion)"
            (swipeRight)="navigateToMotion(nextMotion)"
            *ngIf="motion"
        >
            <!-- Title -->
            <div class="title" *ngIf="!editMotion">
                <os-motion-manage-title [motion]="motion"></os-motion-manage-title>
            </div>

            <ng-container *ngIf="vp.isMobile; then mobileView; else desktopView"></ng-container>
        </div>
    </ng-container>
</os-detail-view>

<ng-template #mobileView>
    <div class="mobile-view">
        <!-- Meta info -->
        <div *ngIf="!newMotion && !editMotion">
            <ng-container *ngTemplateOutlet="metaInfoTemplate"></ng-container>
        </div>

        <!-- Content -->
        <mat-card [ngClass]="editMotion ? 'os-form-card-mobile' : 'os-card'">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </mat-card>

        <!-- Comments -->
        <os-motion-comments *ngIf="!editMotion" [motion]="motion"></os-motion-comments>

        <!-- Personal note -->
        <os-motion-personal-note
            *ngIf="!editMotion && !operator.isAnonymous"
            [motion]="motion"
        ></os-motion-personal-note>
    </div>
</ng-template>

<ng-template #desktopView>
    <div class="desktop-view" *ngIf="motion || newMotion">
        <div class="desktop-left">
            <!-- Meta Info -->
            <div *ngIf="!newMotion && !editMotion">
                <ng-container *ngTemplateOutlet="metaInfoTemplate"></ng-container>
            </div>

            <os-motion-comments *ngIf="!editMotion" [motion]="motion"></os-motion-comments>
            <os-motion-personal-note
                *ngIf="!editMotion && !operator.isAnonymous"
                [motion]="motion"
            ></os-motion-personal-note>
        </div>
        <div class="desktop-right">
            <!-- Content -->
            <mat-card [ngClass]="editMotion ? 'os-form-card' : 'os-card'">
                <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
            </mat-card>
        </div>
    </div>
</ng-template>

<ng-template #metaInfoTemplate>
    <div>
        <os-motion-meta-data [motion]="motion"></os-motion-meta-data>
    </div>
</ng-template>

<ng-template #contentTemplate>
    <os-motion-highlight-form
        #highlightForm
        *ngIf="!newMotion && !editMotion"
        [motion]="motion"
    ></os-motion-highlight-form>
    <os-motion-content
        #content
        [motion]="motion"
        [editMotion]="editMotion"
        [newMotion]="newMotion"
        [osListenEditing]="{
            editMode: editMotion,
            model: motion,
            listen: !newMotion
        }"
        (save)="saveMotion($event)"
        (formChanged)="temporaryMotion = $event"
        (validStateChanged)="canSave = $event"
    ></os-motion-content>
</ng-template>
