<os-detail-view [collection]="collection" (idFound)="onIdFound($event)">
    @if (hasLoaded | async) {
        <os-head-bar
            mainActionTooltip="New amendment"
            [editMode]="editMotion"
            [goBack]="motion?.hasLeadMotion"
            [hasMainButton]="perms.isAllowed('can_create_amendments', motion)"
            [isSaveButtonEnabled]="canSave"
            [nav]="false"
            [saveAction]="getSaveAction()"
            (cancelEditEvent)="leaveEditMotion()"
            (mainEvent)="createAmendment()"
        >
            <!-- Title -->
            <div class="title-slot">
                @if (motion && !newMotion) {
                    <h2>
                        @if (!vp.isMobile) {
                            <span>{{ 'Motion' | translate }}</span>
                        }
                        <!-- Whitespace between "Motion" and number -->
                        @if (!vp.isMobile) {
                            <span>&nbsp;</span>
                        }
                        @if (!editMotion) {
                            <span>{{ motion.number }}</span>
                        }
                    </h2>
                }
                @if (newMotion && !amendmentEdit) {
                    <h2>{{ 'New motion' | translate }}</h2>
                }
                @if (amendmentEdit) {
                    <h2>{{ 'New amendment' | translate }}</h2>
                }
            </div>
            <!-- Back and forth buttons -->
            @if (!editMotion && showNavigateButtons) {
                <div class="extra-controls-slot prev-next-motion-controls">
                    <button
                        class="nav-button-overflow"
                        mat-button
                        [disabled]="!previousMotion"
                        [ngClass]="{ 'motion-detail-nav-button': (vp.isMobileSubject | async) === false }"
                        (click)="navigateToMotion(previousMotion)"
                    >
                        <os-icon-container icon="chevron_left" [hide]="vp.isMobileSubject | async">
                            {{ previousMotion ? previousMotion.number : '' }}
                        </os-icon-container>
                    </button>
                    <button
                        class="nav-button-overflow"
                        mat-button
                        [disabled]="!nextMotion"
                        [ngClass]="{ 'motion-detail-nav-button': (vp.isMobileSubject | async) === false }"
                        (click)="navigateToMotion(nextMotion)"
                    >
                        <os-icon-container icon="chevron_right" [hide]="vp.isMobileSubject | async" [swap]="true">
                            {{ nextMotion ? nextMotion.number : '' }}
                        </os-icon-container>
                    </button>
                </div>
            }
            <!-- Menu -->
            <ng-container class="menu-slot">
                @if (motion) {
                    <button mat-icon-button type="button" [matMenuTriggerFor]="motionExtraMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                }
            </ng-container>
            <mat-menu #motionExtraMenu="matMenu">
                <!-- List of speakers -->
                <os-speaker-button [menuItem]="true" [object]="motion"></os-speaker-button>
                <!-- PDF -->
                <button mat-menu-item (click)="onDownloadPdf()">
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>{{ 'PDF' | translate }}</span>
                </button>
                <mat-divider
                    *osPerms="[
                        permission.projectorCanManage,
                        permission.agendaItemCanManage,
                        permission.meetingCanSeeHistory
                    ]"
                ></mat-divider>
                <!-- Project -->
                <os-projector-button
                    *osPerms="permission.projectorCanManage"
                    [menuItem]="true"
                    [object]="motion"
                ></os-projector-button>
                <!-- Add/remove to/from agenda -->
                <div *osPerms="permission.agendaItemCanManage">
                    @if (motion && !motion.agenda_item_id) {
                        <button mat-menu-item (click)="addToAgenda()">
                            <mat-icon>add</mat-icon>
                            <span>{{ 'Add to agenda' | translate }}</span>
                        </button>
                    }
                    @if (motion && motion.agenda_item_id) {
                        <button mat-menu-item (click)="removeFromAgenda()">
                            <mat-icon>remove</mat-icon>
                            <span>{{ 'Remove from agenda' | translate }}</span>
                        </button>
                    }
                </div>
                <!-- Go to the history -->
                <div *osPerms="permission.meetingCanSeeHistory">
                    <button mat-menu-item (click)="goToHistory()">
                        <mat-icon>history</mat-icon>
                        <span>{{ 'History' | translate }}</span>
                    </button>
                </div>
                <!-- Forward motion -->
                <div *osPerms="permission.motionCanForward; and: motion.state?.allow_motion_forwarding">
                    <button mat-menu-item (click)="forwardMotionToMeetings()">
                        <mat-icon>forward</mat-icon>
                        <span>{{ 'Forward' | translate }}</span>
                    </button>
                </div>
                @if (perms.isAllowed('update', motion) || perms.isAllowed('manage')) {
                    <mat-divider></mat-divider>
                }
                <!-- Edit-->
                @if (perms.isAllowed('update', motion)) {
                    <button mat-menu-item (click)="enterEditMotion()">
                        <mat-icon>edit</mat-icon>
                        <span>{{ 'Edit' | translate }}</span>
                    </button>
                }
                <!-- Delete -->
                @if (perms.isAllowed('manage')) {
                    <button class="red-warning-text" mat-menu-item (click)="deleteMotionButton()">
                        <mat-icon>delete</mat-icon>
                        <span>{{ 'Delete' | translate }}</span>
                    </button>
                }
            </mat-menu>
        </os-head-bar>
        @if (motion) {
            <div
                class="content-container spacer-bottom-60"
                osSwipe
                (swipeLeft)="navigateToMotion(previousMotion)"
                (swipeRight)="navigateToMotion(nextMotion)"
            >
                <!-- Title -->
                @if (!editMotion) {
                    <div class="title">
                        <os-motion-manage-title [motion]="motion"></os-motion-manage-title>
                    </div>
                }
                @if (editMotion) {
                    <div>
                        <mat-card [ngClass]="vp.isMobile ? 'os-form-card-mobile' : 'os-card'">
                            <mat-card-content>
                                <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
                            </mat-card-content>
                        </mat-card>
                    </div>
                }
                @if (!editMotion) {
                    @if (vp.isMobile) {
                        <div class="mobile-view">
                            <!-- Meta info -->
                            @if (!newMotion) {
                                <div>
                                    <ng-container *ngTemplateOutlet="metaInfoTemplate"></ng-container>
                                </div>
                            }
                            <!-- Content -->
                            <mat-card class="os-card">
                                <mat-card-content>
                                    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
                                </mat-card-content>
                            </mat-card>
                            <!-- Comments -->
                            <os-motion-comments [motion]="motion"></os-motion-comments>
                            <!-- Personal note -->
                            @if (!operator.isAnonymous) {
                                <os-motion-personal-note [motion]="motion"></os-motion-personal-note>
                            }
                        </div>
                    } @else {
                        @if (motion || newMotion) {
                            <div class="desktop-view">
                                <div class="desktop-left" [ngClass]="{ 'spacer-bottom-60': !editMotion }">
                                    <!-- Meta Info -->
                                    @if (!newMotion) {
                                        <div>
                                            <ng-container *ngTemplateOutlet="metaInfoTemplate"></ng-container>
                                        </div>
                                    }
                                    <os-motion-comments [motion]="motion"></os-motion-comments>
                                    @if (!operator.isAnonymous) {
                                        <os-motion-personal-note [motion]="motion"></os-motion-personal-note>
                                    }
                                </div>
                                <div class="desktop-right">
                                    <!-- Content -->
                                    <mat-card class="os-card">
                                        <mat-card-content>
                                            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }
    }
</os-detail-view>

<ng-template #metaInfoTemplate>
    <div>
        <os-motion-meta-data [motion]="motion"></os-motion-meta-data>
    </div>
</ng-template>

<ng-template #contentTemplate>
    @if (!newMotion && !editMotion) {
        <os-motion-highlight-form #highlightForm [motion]="motion"></os-motion-highlight-form>
    }
    <os-motion-content
        #content
        [editMotion]="editMotion"
        [motion]="motion"
        [newMotion]="newMotion"
        [osListenEditing]="{
            editMode: editMotion,
            model: motion,
            listen: !newMotion
        }"
        (formChanged)="temporaryMotion = $event"
        (save)="saveMotion($event)"
        (validStateChanged)="canSave = $event"
    ></os-motion-content>
</ng-template>
