<os-sidenav #sideNav>
    <ng-template osSidenavDrawerContent>
        <!-- navigation -->
        <div class="main-nav">
            <ng-container *ngIf="showMeetingNav">
                <a
                    [@navItemAnim]
                    mat-menu-item
                    (click)="mobileAutoCloseNav()"
                    [routerLink]="['/']"
                    class="foreground-icon nav-item"
                >
                    <mat-icon matListItemIcon>apps</mat-icon>
                    <span matListItemTitle class="nav-row-text">{{ 'Dashboard' | translate }}</span>
                </a>
                <mat-divider></mat-divider>
            </ng-container>
            <ng-container *ngFor="let entry of mainMenuEntries">
                <span>
                    <a
                        [@navItemAnim]
                        *osPerms="entry.permission"
                        mat-menu-item
                        class="foreground-icon nav-item"
                        [ngStyle]="getCustomStyleForEntry(entry)"
                        (click)="mobileAutoCloseNav()"
                        [routerLink]="entry.route"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: isRouteExact(entry.route) }"
                    >
                        <mat-icon matListItemIcon>{{ entry.icon }}</mat-icon>
                        <span matListItemTitle class="nav-row-text">{{ entry.displayName | translate }}</span>
                    </a>
                </span>
            </ng-container>
            <ng-container
                *ngIf="{
                    canSee: canSeeChatObservable | async,
                    notifications: chatNotificationsObservable | async
                } as chat"
            >
                <a
                    [@navItemAnim]
                    *ngIf="chat.canSee"
                    class="foreground-icon nav-item"
                    mat-menu-item
                    (click)="mobileAutoCloseNav()"
                    routerLink="chat"
                    routerLinkActive="active"
                >
                    <mat-icon
                        matListItemIcon
                        [matBadgeHidden]="chat.notifications === 0"
                        [matBadge]="chat.notifications"
                        matBadgeColor="accent"
                        matBadgeOverlap="false"
                    >
                        sms
                    </mat-icon>
                    <span matListItemTitle class="nav-row-text">
                        {{ 'Chat' | translate }}
                    </span>
                </a>
            </ng-container>
        </div>
    </ng-template>
    <ng-template osSidenavMainContent>
        <div class="content">
            <os-global-headbar></os-global-headbar>
            <div class="scrollable-content">
                <router-outlet #o="outlet"></router-outlet>
            </div>
        </div>
        <div class="toolbars">
            <os-action-bar></os-action-bar>
            <os-interaction-container></os-interaction-container>
        </div>
    </ng-template>
</os-sidenav>
