:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

mat-nav-list {
    padding-top: 0;
    padding-bottom: 20px;
}
mat-nav-list.main-nav {
    span {
        font-weight: 400;
    }
}

mat-icon {
    min-width: 20px; //puts the text to the right on the same level
    margin-right: 25px;
}

/* The top logo container can contain any logo with any size.
   It needs to always fit.*/
.os-logo-container {
    margin: auto;
    display: flex;
}

.meetingNavRow {
    height: 40px !important;
}

/* Content container */
.content {
    min-height: 100%;
    position: relative;

    main {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 50;
        > *:not(router-outlet) {
            flex: 1;
            display: block;
        }
    }
}

.toolbars {
    display: flex;
    position: fixed;
    bottom: 0;
    /**
    * right: 0; would overlap a browser's scrollbar
    */
    right: 20px;
    z-index: 99;
    pointer-events: none;

    * {
        pointer-events: initial;
    }
}

.scrollable-content {
    height: calc(100vh - var(--global-headbar-height));
    width: 100%;
    overflow: auto;
}
