@if (poll) {
    <div>
        @if (hasResults && canSeeResults && !shouldShowChart) {
            <div aria-label="Results-table" class="assignment-results" role="grid" tabindex="-1">
                <div class="row" role="row" tabindex="-1" [class]="classOptionAmount">
                    <!-- Header row -->
                    <div
                        #mat
                        aria-label="{{ ariaLabel('place') }}"
                        class="cell"
                        osArrowNavigation
                        role="columnheader"
                        tabindex="0"
                        [resultMatrix]="resultMatrix"
                    ></div>
                    <div
                        #mat
                        aria-label="{{ ariaLabel('name') }}"
                        class="cell"
                        osArrowNavigation
                        role="columnheader"
                        tabindex="-1"
                        [resultMatrix]="resultMatrix"
                    ></div>
                    @if (showYHeader) {
                        <div
                            #mat
                            class="cell header yes"
                            osArrowNavigation
                            role="columnheader"
                            tabindex="-1"
                            [resultMatrix]="resultMatrix"
                        >
                            @if (isMethodY) {
                                {{ 'Votes' | translate }}
                            } @else {
                                {{ 'Yes' | translate }}
                            }
                        </div>
                    }
                    @if (showNHeader) {
                        <div
                            #mat
                            class="cell header"
                            osArrowNavigation
                            role="columnheader"
                            tabindex="-1"
                            [ngClass]="[!isMethodN ? 'no' : 'yes']"
                            [resultMatrix]="resultMatrix"
                        >
                            @if (!isMethodN) {
                                {{ 'No' | translate }}
                            } @else {
                                {{ 'Votes' | translate }}
                            }
                        </div>
                    }
                    @if (isMethodYNA) {
                        <div
                            #mat
                            class="cell header abstain"
                            osArrowNavigation
                            role="columnheader"
                            tabindex="-1"
                            translate
                            [resultMatrix]="resultMatrix"
                        >
                            {{ 'Abstain' | translate }}
                        </div>
                    }
                </div>

                @for (row of tableData; track row; let i = $index) {
                    <div class="row" role="row" [class]="classOptionAmount">
                        <div
                            #mat
                            class="cell label placement 2RowStart"
                            osArrowNavigation
                            role="gridcell"
                            tabindex="-1"
                            [resultMatrix]="resultMatrix"
                        >
                            @if (row.class === 'user') {
                                <div>{{ i + 1 }}.</div>
                            } @else {
                                <div></div>
                            }
                        </div>

                        <div
                            #mat
                            class="cell label candidate-name"
                            osArrowNavigation
                            role="gridcell"
                            tabindex="-1"
                            [resultMatrix]="resultMatrix"
                        >
                            <ng-container *ngTemplateOutlet="showListForRow; context: { row: row }"></ng-container>
                            @if (row.class !== 'list') {
                                {{ row.votingOption | pollKeyVerbose | translate }}
                                @if (row.votingOptionSubtitle) {
                                    <span class="user-subtitle">
                                        <br />
                                        {{ row.votingOptionSubtitle }}
                                    </span>
                                }
                            }
                        </div>
                        @for (vote of filterRelevantResults(row.value); track vote) {
                            <div
                                #mat
                                class="cell option"
                                osArrowNavigation
                                role="gridcell"
                                tabindex="-1"
                                [ngClass]="getVoteClass(vote)"
                                [resultMatrix]="resultMatrix"
                            >
                                @if (vote.showPercent) {
                                    {{ getVoteAmount(vote, row) | pollPercentBase: poll : row }}
                                }
                                @if (['user', 'list'].includes(row.class)) {
                                    {{ getVoteAmount(vote, row) | pollParseNumber }}
                                }
                                @if (!['user', 'list'].includes(row.class)) {
                                    {{ vote.amount | pollParseNumber }}
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
        <!-- Table with Chart -->
        @if (hasResults && canSeeResults && shouldShowChart) {
            <div class="result-wrapper">
                @if (tableData[0].class === 'user') {
                    <h3 class="result-title">
                        <span class="candidate-name">
                            {{ tableData[0].votingOption | pollKeyVerbose | translate }}
                        </span>
                        <br />
                        @if (tableData[0].votingOptionSubtitle) {
                            <span class="user-subtitle">({{ tableData[0].votingOptionSubtitle }})</span>
                        }
                    </h3>
                }
                @if (tableData[0].class === 'list') {
                    <h3 class="result-title">
                        {{ tableData[0].votingOption | translate }}
                    </h3>
                }
                @if (hasResults && canSeeResults) {
                    <os-single-option-chart-table
                        iconSize="gigantic"
                        [inSlide]="inSlide"
                        [poll]="poll"
                        [pollService]="assignmentPollService"
                        [shouldShowEntitled]="isPercentBaseEntitled"
                        [shouldShowHead]="false"
                        [tableData]="reformedTableData"
                    ></os-single-option-chart-table>
                }
            </div>
        }
        <!-- No results yet -->
        @if (!hasResults) {
            @if (isStarted) {
                <div>
                    <i>
                        {{ 'Voting in progress' | translate }}
                    </i>
                </div>
            } @else {
                <div>
                    <i>
                        {{ 'No results yet' | translate }}
                    </i>
                </div>
            }
        }
        <!-- Has results, but user cannot see -->
        @if (hasResults && !canSeeResults) {
            <div>
                <i>
                    {{ 'Counting of votes is in progress ...' | translate }}
                </i>
            </div>
        }
    </div>
}

<ng-template #showListForRow let-row="row">
    @if (row.class === 'list') {
        <div class="result-title">
            @if (!enumerateCandidates) {
                <ul>
                    @for (date of row.votingOptions; track date) {
                        <li>
                            <span class="candidate-name">
                                {{ date.title }}
                            </span>
                            @if (date.subtitle) {
                                <span class="user-subtitle">({{ date.subtitle }})</span>
                            }
                        </li>
                    }
                </ul>
            }
            @if (enumerateCandidates) {
                <ol>
                    @for (date of row.votingOptions; track date) {
                        <li>
                            <span class="candidate-name">
                                {{ date.title }}
                            </span>
                            @if (date.subtitle) {
                                <span class="user-subtitle">({{ date.subtitle }})</span>
                            }
                        </li>
                    }
                </ol>
            }
        </div>
    }
</ng-template>
