<div *ngIf="poll">
    <table class="assignment-result-table" *ngIf="hasResults && canSeeResults && !shouldShowChart">
        <tbody>
            <tr *ngIf="!isMethodY">
                <td></td>
                <th class="voting-option"></th>
                <th class="result yes" *ngIf="showYHeader">
                    <span *ngIf="!isMethodY">
                        {{ 'Yes' | translate }}
                    </span>
                    <span *ngIf="isMethodY">
                        {{ 'Votes' | translate }}
                    </span>
                </th>
                <th class="result" *ngIf="showNHeader">
                    <span class="no" *ngIf="!isMethodN">
                        {{ 'No' | translate }}
                    </span>
                    <span class="yes" *ngIf="isMethodN">
                        {{ 'Votes' | translate }}
                    </span>
                </th>
                <th class="result abstain" *ngIf="isMethodYNA">{{ 'Abstain' | translate }}</th>
            </tr>
            <tr *ngFor="let row of tableData; let i = index" [class]="row.class">
                <td>
                    <span *ngIf="row.class === 'user'">{{ i + 1 }}.</span>
                </td>
                <td class="voting-option">
                    <ng-container *ngTemplateOutlet="showListForRow; context: { row: row }"></ng-container>
                    <div *ngIf="row.class !== 'list'">
                        <span class="candidate-name">
                            {{ row.votingOption | pollKeyVerbose | translate }}
                        </span>
                        <span class="user-subtitle" *ngIf="row.votingOptionSubtitle">
                            <br />
                            {{ row.votingOptionSubtitle }}
                        </span>
                    </div>
                </td>
                <td class="result" *ngFor="let vote of filterRelevantResults(row.value)">
                    <div class="single-result" [ngClass]="getVoteClass(vote)">
                        <span>
                            <span *ngIf="vote.showPercent">
                                {{ getVoteAmount(vote, row) | pollPercentBase: poll:row }}
                            </span>
                            <span *ngIf="['user', 'list'].includes(row.class)">
                                {{ getVoteAmount(vote, row) | pollParseNumber }}
                            </span>
                            <span *ngIf="!['user', 'list'].includes(row.class)">
                                {{ vote.amount | pollParseNumber }}
                            </span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr *ngIf="isPercentBaseEntitled && poll.entitled_users_at_stop" class="entitled-users-row">
                <td></td>
                <td>{{ 'Entitled users' | translate }}</td>
                <td class="result">
                    <div class="single-result">
                        <span>
                            {{ poll.entitled_users_at_stop.length | pollPercentBase: poll }}
                        </span>
                        <span>
                            {{ poll.entitled_users_at_stop.length }}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Table with Chart -->
    <div *ngIf="hasResults && canSeeResults && shouldShowChart" class="result-wrapper">
        <h3 class="result-title" *ngIf="tableData[0].class === 'user'">
            <span class="candidate-name">
                {{ tableData[0].votingOption | pollKeyVerbose | translate }}
            </span>
            <br>
            <span class="user-subtitle" *ngIf="tableData[0].votingOptionSubtitle">
                ({{ tableData[0].votingOptionSubtitle }})
            </span>
        </h3>
        <h3 class="result-title" *ngIf="tableData[0].class === 'list'">
            {{ tableData[0].votingOption | translate }}
        </h3>

        <ng-container *ngIf="hasResults && canSeeResults">
            <os-single-option-chart-table
                [shouldShowHead]="false"
                [poll]="poll"
                [tableData]="reformedTableData"
                [pollService]="assignmentPollService"
                iconSize="gigantic"
                [shouldShowEntitled]="isPercentBaseEntitled">
            </os-single-option-chart-table>
        </ng-container>
    </div>

    <!-- No results yet -->
    <div *ngIf="!hasResults">
        <i>
            {{ 'No results yet.' | translate }}
        </i>
    </div>

    <!-- Has results, but user cannot see -->
    <div *ngIf="hasResults && !canSeeResults">
        <i>
            {{ 'Counting of votes is in progress ...' | translate }}
        </i>
    </div>
</div>

<ng-template #showListForRow let-row="row">
    <div class="result-title" *ngIf="row.class === 'list'">
        <ul *ngIf="!enumerateCandidates">
            <li *ngFor="let date of row.votingOptions">
                <span class="candidate-name">
                    {{ date.title }}
                </span>
                <span class="user-subtitle" *ngIf="date.subtitle">
                    ({{ date.subtitle }})
                </span>
            </li>
        </ul>
        <ol *ngIf="enumerateCandidates">
            <li *ngFor="let date of row.votingOptions">
                <span class="candidate-name">
                    {{ date.title }}
                </span>
                <span class="user-subtitle" *ngIf="date.subtitle">
                    ({{ date.subtitle }})
                </span>
            </li>
        </ol>
    </div>
</ng-template>
