@import 'src/assets/styles/poll-styles-common.scss';

.assignment-result-table {
    margin-top: 1em;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;

    th {
        font-weight: initial;
    }

    tr {
        height: 45px;

        td:first-child {
            padding-right: 0.5em;
        }
    }

    tr.sums {
        border-bottom: none;
    }

    .result {
        text-align: right;
        padding-left: 1em;
    }

    .voting-option {
        min-width: 200px;
        width: 100%;
        text-align: left;
    }

    .user + .sums {
        td {
            padding-top: 0.5em;
        }
    }

    .single-result {
        white-space: pre;
    }

    .entitled-users-row {
        border-bottom: none;
        height: 0;
    }
}

.doughnut-chart {
    display: block;
}

.result-wrapper {
    cursor: pointer;
    margin-bottom: 2em;

    .result-title {
        text-align: left;
    }

    .result-grid {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        .result-table {
            // display: block;
            th {
                text-align: right;
                font-weight: initial;
            }

            tr {
                height: 48px;
                border-bottom: none !important;
                .result {
                    text-align: right !important;
                }
            }

            tr.result-cell-definition {
                text-align: right;
            }

            .entitled-users-row {
                border-bottom: none;
                height: 0;
            }
        }

        .doughnut-chart {
            display: block;
        }
    }
}
