@use 'src/assets/styles/poll-styles-common.scss';

.result-wrapper {
    cursor: pointer;
    margin-bottom: 2em;

    .result-title {
        text-align: left;
    }
}

.assignment-results {
    display: grid;

    .row {
        display: grid;

        &-1 {
            grid-template-columns: 25px minmax(80px, 610px) minmax(80px, 110px);
        }

        &-2 {
            grid-template-columns: 25px minmax(80px, 500px) repeat(2, minmax(80px, 110px));
        }

        &-3 {
            grid-template-columns: 25px minmax(80px, 390px) repeat(3, minmax(80px, 110px));
        }
    }
    .cell {
        padding: 4px 0px 4px 16px;
        text-align: end;
    }

    .header {
        font-weight: 700;
    }

    .label {
        text-align: start;
    }

    .placement {
        padding: 0;
        text-align: center;
        align-content: center;
    }

    .candidate-name {
        padding-left: 0;
        height: 45px;
        align-content: center;
    }

    .option {
        padding-right: 3px;
        align-content: center;
    }
}
