@import 'src/assets/styles/poll-styles-common.scss';

.assignment-result-table {
    margin-top: 2em;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;

    th {
        font-weight: initial;
    }

    tr {
        height: 48px;

        td:first-child {
            padding-right: 1em;
        }
    }

    tr.sums {
        border-bottom: none;
        td {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

    .result {
        text-align: right;
        padding-left: 1em;
    }

    .voting-option {
        min-width: 200px;
        width: 100%;
        text-align: left;
    }

    .user + .sums {
        td {
            padding-top: 2em;
        }
    }

    .single-result {
        white-space: pre;
    }

    .entitled-users-row {
        border-bottom: none;
        height: 0;
    }
}

.doughnut-chart {
    display: block;
}

.result-wrapper {
    cursor: pointer;
    display: grid;
    grid-gap: 2em;
    margin: 2em;
    margin-top: 0;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .assignment-result-table {
        // display: block;
        th {
            text-align: right;
            font-weight: initial;
        }

        tr.result-cell-definition {
            text-align: right;
        }

        .entitled-users-row {
            border-bottom: none;
            height: 0;
        }

        .single-candidate {
            white-space: pre;
        }
    }

    .doughnut-chart {
        display: block;
    }
}

.result-title {
    text-align: center;
}
