<div class="result-wrapper" *ngIf="poll">
    <ng-container *ngIf="hasResults && canSeeResults">
        <!-- result table -->
        <table class="result-table">
            <tbody>
                <tr>
                    <th colspan="2">{{ 'Votes' | translate }}</th>
                </tr>
                <div *ngFor="let label of pollService.getSortedChartLabels(poll); let i = index">
                    <tr>
                        <!-- Votes -->
                        <td>
                            <os-icon-container
                                icon="circle"
                                [size]="iconSize"
                                [style.color]="colors.backgroundColor[i]"
                            ></os-icon-container>
                        </td>
                        <td>
                            {{ label }}
                        </td>
                    </tr>
                    <mat-divider *ngIf="poll.options.length - 1 > i"></mat-divider>
                </div>
            </tbody>
        </table>

        <!-- Chart -->
        <div *ngIf="shouldShowChart" class="doughnut-chart">
            <os-chart
                type="doughnut"
                [circleColors]="chartColors"
                [labels]="pollService.getSortedChartLabels(poll)"
                [data]="chartData"
            ></os-chart>
        </div>
    </ng-container>

    <!-- No results yet -->
    <div *ngIf="!hasResults">
        <i>
            {{ 'No results yet.' | translate }}
        </i>
    </div>

    <!-- Has results, but user cannot see -->
    <div *ngIf="hasResults && !canSeeResults">
        <i>
            {{ 'Counting of votes is in progress ...' | translate }}
        </i>
    </div>
</div>
