@use 'src/assets/styles/poll-styles-common.scss';

.result-table {
    border-collapse: collapse;
    height: fit-content;
    width: fit-content(60%);
    .right-header {
        font-weight: initial;
        text-align: right;
    }
    .left-header {
        text-align: left;
        font-weight: initial;
    }

    tr {
        border-bottom: none !important;
        height: 60px;

        .result-cell-definition {
            text-align: right;
        }

        td {
            padding: 7px 0;
        }

        :nth-child(2):not(th) {
            padding-left: 14px;
            padding-right: 14px;
        }

        .first-col-slide {
            min-width: 300px;
        }

        .second-col-slide {
            min-width: 80px;
        }

        .percent-col-slide {
            min-width: 150px;
        }
    }

    .votesvalid {
        border-top: 2px solid rgba(128, 128, 128, 0.2);
    }

    .text {
        &-small {
            font-size: 12px;
        }

        &-medium {
            font-size: 14px;
        }

        &-large {
            font-size: 16px;
        }

        &-gigantic {
            font-size: 22px;
        }

        &-bold {
            font-weight: 500;
        }

        &-big {
            font-size: 32px;
        }
    }
}

:host {
    outline: none;
}

.result-wrapper {
    cursor: pointer;
    display: grid;
    grid-gap: 2em;
    margin: 2em 0px 0px 0px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .doughnut-chart {
        display: block;
        width: 220px;
    }

    .doughnut-chart-slide {
        justify-self: right;
    }
}

.result-wrapper-slide {
    margin: 2em 50px 0px 50px;
    grid-gap: 16em;
}
