@if (poll) {
    <div class="result-wrapper">
        @if (hasResults && canSeeResults) {
            <!-- result table -->
            <table class="result-table">
                <tbody>
                    @for (row of pollService.getSortedTableData(poll); track row; let i = $index) {
                        <tr>
                            <!-- Votes -->
                            <td>
                                <os-icon-container
                                    icon="circle"
                                    [size]="iconSize"
                                    [style.color]="colors.backgroundColor[i]"
                                >
                                    {{ row.label }}
                                </os-icon-container>
                            </td>
                            <td class="result-cell-definition">
                                {{ row.data | pollPercentBase: poll }}
                            </td>
                            <td class="result-cell-definition">
                                {{ row.data | pollParseNumber }}
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>{{ 'Valid votes' | translate }}</td>
                        <td class="result-cell-definition"></td>
                        <td class="result-cell-definition">{{ poll.votesvalid }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Chart -->
            @if (shouldShowChart) {
                <div class="doughnut-chart">
                    <os-chart type="doughnut" [circleColors]="chartColors" [data]="chartData"></os-chart>
                </div>
            }
        }
        <!-- No results yet -->
        @if (!hasResults) {
            <div>
                <i>
                    {{ 'No results yet.' | translate }}
                </i>
            </div>
        }
        <!-- Has results, but user cannot see -->
        @if (hasResults && !canSeeResults) {
            <div>
                <i>
                    {{ 'Counting of votes is in progress ...' | translate }}
                </i>
            </div>
        }
    </div>
}
