<os-motion-poll-form
    [pollClassType]="pollClassType.Motion"
    [data]="pollData"
    [pollService]="motionPollService"
    [percentBases]="PercentBaseVerbose"
    #pollForm
></os-motion-poll-form>
<ng-container *ngIf="pollForm.contentForm.get('type')!.value === 'analog'">
    <div class="os-form-card-mobile" mat-dialog-content>
        <form [formGroup]="dialogVoteForm">
            <div formGroupName="options">
                <mat-radio-group name="majority" [(ngModel)]="majority" [ngModelOptions]="{standalone: true}">
                    <div *ngFor="let option of options">
                        <div *ngFor="let field of analogVoteFields" [formGroupName]="option.fqid">
                            <os-check-input
                                [placeholder]="voteValueVerbose[field] | translate"
                                [checkboxValue]="-1"
                                inputType="number"
                                radioGroup="majority"
                                [checkboxLabel]="'majority' | translate"
                                [formControlName]="field"
                                [radioGroupValue]="majority"
                            ></os-check-input>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <os-check-input
                [placeholder]="'Valid votes' | translate"
                inputType="number"
                formControlName="votesvalid"
            ></os-check-input>
            <os-check-input
                [placeholder]="'Invalid votes' | translate"
                inputType="number"
                formControlName="votesinvalid"
            ></os-check-input>
            <os-check-input
                [placeholder]="'Total votes cast' | translate"
                inputType="number"
                formControlName="votescast"
            ></os-check-input>
        </form>
    </div>

    <!-- Publish immediately button. Only show for new polls -->
    <div *ngIf="!pollData.isPublished">
        <mat-checkbox [(ngModel)]="publishImmediately" (change)="publishStateChanged($event.checked)">
            <span>{{ 'Publish immediately' | translate }}</span>
        </mat-checkbox>
        <mat-error *ngIf="!dialogVoteForm.valid">{{ 'Error in form field.' | translate }}</mat-error>
    </div>
</ng-container>
<div mat-dialog-actions>
    <button mat-button (click)="submitPoll()" [disabled]="!formsValid">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button [mat-dialog-close]="false">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</div>
