<os-head-bar
    [goBack]="true"
    [hasMainButton]="true"
    [mainActionTooltip]="'New tag' | translate"
    [nav]="false"
    (mainEvent)="openTagDialog()"
    [multiSelectMode]="isMultiSelect"
>
    <div class="title-slot">
        <h2>{{ 'Tags' | translate }}</h2>
    </div>
</os-head-bar>

<os-list
    [listObservableProvider]="repo"
    [hiddenInMobile]="['menu']"
    [(selectedRows)]="selectedRows"
    [filterProps]="['name']"
    [addBottomSpacer]="hasInteractionState | async"
>
    <!-- Name column -->
    <div *osScrollingTableCell="'name'; value as name" class="cell-slot fill">
        <div>
            {{ name }}
        </div>
    </div>
    <!-- edit column -->
    <div *osScrollingTableCell="'edit'; row as tag; config: { width: 45 }" class="cell-slot fill">
        <button mat-icon-button (click)="openTagDialog(tag)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <!-- delete column -->
    <div *osScrollingTableCell="'delete'; row as tag; config: { width: 45 }" class="cell-slot fill">
        <button mat-icon-button color="warn" (click)="onDeleteButton(tag)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</os-list>

<!-- Template for dialog for quick editing -->
<ng-template #tagDialog>
    <h1 mat-dialog-title>
        <span *ngIf="currentTag">{{ 'Edit tag' | translate }}</span>
        <span *ngIf="!currentTag">{{ 'New tag' | translate }}</span>
    </h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form [formGroup]="tagForm" (keydown)="onKeyDown($event)">
            <mat-form-field>
                <mat-label>{{ 'Name' | translate }}</mat-label>
                <input required type="text" matInput formControlName="name" />
            </mat-form-field>
        </form>
    </div>

    <div mat-dialog-actions>
        <button type="submit" mat-button [mat-dialog-close]="true" color="accent">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="false">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
