@if (data) {
    <div>
        <h1 class="projector_h1">{{ 'Wifi access data' | translate }}</h1>
        <div class="wifi-slide-content">
            @if (ssid && encryption && qrCodeText) {
                <os-qr-code [edgeLength]="450" [text]="qrCodeText"></os-qr-code>
            }
            <div>
                @if (ssid) {
                    <div>
                        <h3 translate>Wifi name</h3>
                        {{ ssid }}
                    </div>
                }
                @if (password) {
                    <div>
                        <h3 translate>Password</h3>
                        {{ password }}
                    </div>
                }
            </div>
        </div>
    </div>
}
