<h1 mat-dialog-title>
    <span>{{ 'Edit details for' | translate }} {{ block.title }}</span>
</h1>
<div class="os-form-card-mobile" mat-dialog-content>
    <form class="edit-form" [formGroup]="blockEditForm" (ngSubmit)="saveBlock()" (keydown)="onKeyDown($event)">
        <mat-form-field>
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <input matInput osAutofocus formControlName="title" required />
        </mat-form-field>
        <mat-checkbox formControlName="internal">Internal</mat-checkbox>
    </form>
</div>
<div mat-dialog-actions>
    <button type="submit" mat-button [disabled]="!blockEditForm.valid" color="accent" (click)="saveBlock()">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button type="button" mat-button [mat-dialog-close]="null">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</div>
