.committee-link {
    z-index: 1;
}

.committee-link:hover + .committee {
    text-decoration: underline;
}

.nameCell {
    display: flex;
    flex-direction: column;
}

.meta-info {
    font-size: 12px;
}
