.committee-link {
    z-index: 1;
}

.committee-link:hover + .committee {
    text-decoration: underline;
}

.nameCell {
    display: flex;
    flex-direction: column;
}

.meta-info {
    font-size: 12px;
}

.no-access {
    cursor: auto;
}

.align-w-title-w-one-icon {
    padding-left: 17px;
}

.align-w-title-w-two-icon {
    padding-left: 33px;
}
