<section class="text-holder">
    <!-- If the array exists, we do not have an error -->
    @if (amendmentLines) {
        <div>
            @if (amendmentLines.length === 0) {
                <div class="alert alert-info">
                    @if (motion.lead_motion) {
                        <i>{{ 'No changes at the text.' | translate }}</i>
                    } @else {
                        <i>{{ 'The parent motion is not available.' | translate }}</i>
                    }
                </div>
            }
            @if (amendmentErrorMessage) {
                <div class="alert alert-info alert-inconsistency">
                    <i [innerHTML]="amendmentErrorMessage"></i>
                </div>
            }
            @if (motion.lead_motion && !isFinalEdit) {
                @if (changeRecoMode === ChangeRecoMode.Diff) {
                    <os-motion-detail-diff-summary
                        [changes]="changesForDiffMode"
                        [elContainer]="nativeElement"
                        [lastLineNr]="getLastNumber()"
                        [motion]="motion"
                        [scrollToChange]="scrollToChange"
                    ></os-motion-detail-diff-summary>
                    @if (amendmentLines.length === 0 && changesForDiffMode.length > 0) {
                        <os-motion-detail-diff
                            [changes]="changesForDiffMode"
                            [lineNumberingMode]="lineNumberingMode"
                            [lineRange]="{ from: -1, to: -1 }"
                            [motion]="motion"
                            [scrollToChange]="scrollToChange"
                            [showPreamble]="false"
                            [showSummary]="false"
                        ></os-motion-detail-diff>
                    }
                }
                @for (paragraph of getAmendmentParagraphs(); track $index) {
                    <div
                        class="motion-text motion-text-diff amendment-view underlined-links"
                        [class.amendment-context]="showAmendmentContext"
                        [class.line-numbers-inline]="lineNumberingMode === LineNumberingMode.Inside"
                        [class.line-numbers-none]="lineNumberingMode === LineNumberingMode.None"
                        [class.line-numbers-outside]="lineNumberingMode === LineNumberingMode.Outside"
                    >
                        @if (!showAmendmentContext) {
                            <h3 class="amendment-line-header">
                                {{ getAmendmentParagraphLinesTitle(paragraph) }}
                            </h3>
                        }
                        @if (changeRecoMode !== ChangeRecoMode.Diff) {
                            @if (
                                lineNumberingMode === LineNumberingMode.Outside &&
                                (changeRecoMode === ChangeRecoMode.Original ||
                                    changeRecoMode === ChangeRecoMode.Changed)
                            ) {
                                <os-motion-detail-original-change-recommendations
                                    [changeRecommendations]="changeRecommendations$ | async"
                                    [html]="getAmendmentDiffTextWithContext(paragraph)"
                                    [motionId]="motion.id"
                                    (createChangeRecommendation)="createChangeRecommendation.emit($event)"
                                    (gotoChangeRecommendation)="gotoChangeRecommendation.emit($event)"
                                ></os-motion-detail-original-change-recommendations>
                            } @else {
                                <div [innerHTML]="getAmendmentDiffTextWithContext(paragraph) | trust: 'html'"></div>
                            }
                        }
                        <!-- the <div> element is only a placeholder -> outerHTML to replace it -->
                    </div>
                    @if (changeRecoMode === ChangeRecoMode.Diff) {
                        @if (isChanged(paragraph.paragraphLineFrom, paragraph.paragraphLineTo)) {
                            <os-motion-detail-diff
                                [changes]="changesForDiffMode"
                                [highlightedLine]="highlightedLine"
                                [lineNumberingMode]="lineNumberingMode"
                                [lineRange]="{ from: paragraph.paragraphLineFrom, to: paragraph.paragraphLineTo }"
                                [motion]="motion"
                                [scrollToChange]="scrollToChange"
                                [showAllAmendments]="showAllAmendments"
                                [showPreamble]="false"
                                [showSummary]="false"
                                (createChangeRecommendation)="createChangeRecommendation.emit($event)"
                            ></os-motion-detail-diff>
                        } @else {
                            <div
                                class="motion-text motion-text-diff amendment-view underlined-links"
                                [class.amendment-context]="showAmendmentContext"
                                [class.line-numbers-inline]="lineNumberingMode === LineNumberingMode.Inside"
                                [class.line-numbers-none]="lineNumberingMode === LineNumberingMode.None"
                                [class.line-numbers-outside]="lineNumberingMode === LineNumberingMode.Outside"
                            >
                                <os-motion-detail-original-change-recommendations
                                    [changeRecommendations]="changeRecommendations$ | async"
                                    [html]="getAmendmentDiffTextWithContext(paragraph)"
                                    [motionId]="motion.id"
                                ></os-motion-detail-original-change-recommendations>
                            </div>
                        }
                    }
                }
            } @else if (changeRecoMode === ChangeRecoMode.Diff) {
                <os-motion-detail-diff
                    [changes]="changesForDiffMode"
                    [highlightedLine]="highlightedLine"
                    [lineNumberingMode]="lineNumberingMode"
                    [motion]="motion"
                    [scrollToChange]="scrollToChange"
                    [showAllAmendments]="showAllAmendments"
                    (createChangeRecommendation)="createChangeRecommendation.emit($event)"
                ></os-motion-detail-diff>
            }
        </div>
    } @else {
        <div>
            <span class="red-warning-text">
                {{ 'There is an error with this amendment. Please edit it manually.' | translate }}
            </span>
        </div>
    }
</section>
<!-- Show entire motion text -->
@if (changeRecoMode === ChangeRecoMode.Original || changeRecoMode === ChangeRecoMode.Changed) {
    <div>
        @if (motion && motion.isParagraphBasedAmendment() && motion.lead_motion) {
            <mat-checkbox class="show-entire-text-check" (change)="showAmendmentContext = !showAmendmentContext">
                <span>{{ 'Show entire motion text' | translate }}</span>
            </mat-checkbox>
        }
    </div>
}
