<div class="settings-field-wrapper">
    <div class="form-item">
        <form class="settings-form-group" [formGroup]="form">
            <mat-form-field *ngIf="!isExcludedType(setting.type!)">
                <!-- Decides which input-type to take (i.e) date, select, input) -->
                <ng-container [ngSwitch]="setting.type">
                    <ng-container *ngSwitchCase="'choice'">
                        <ng-container *ngTemplateOutlet="select"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="'groups'">
                        <ng-container *ngTemplateOutlet="groups"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <ng-container *ngTemplateOutlet="input"></ng-container>
                    </ng-container>
                </ng-container>

                <!-- required for all kinds of input -->
                <mat-label>{{ setting.label | translate }}</mat-label>
                <span matSuffix>
                    <mat-icon pull="right" class="red-warning-text" *ngIf="error">error</mat-icon>
                </span>
                <mat-error *ngIf="error">{{ error }}</mat-error>

                <!-- templates for exchangeable inputs. Add more here if necessary -->

                <ng-template #select ngProjectAs="mat-select">
                    <mat-select formControlName="value" [errorStateMatcher]="matcher">
                        <ng-container *ngIf="getRestrictedValue(setting.choices)">
                            <mat-option
                                *ngFor="let choice of getRestrictedValue(setting.choices) | keyvalue: keepEntryOrder"
                                [value]="choice.key"
                            >
                                {{ choice.value | toString | translate }}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-template>

                <ng-template #groups ngProjectAs="os-list-search-selector">
                    <os-list-search-selector
                        formControlName="value"
                        [multiple]="true"
                        [showChips]="false"
                        [errorStateMatcher]="matcher"
                        [inputListValues]="groupObservable!"
                        [shouldPropagateOnRegistering]="false"
                    ></os-list-search-selector>
                </ng-template>

                <ng-template #input ngProjectAs="[matInput]">
                    <input
                        *ngIf="setting.type === 'email'"
                        matInput
                        osTrimOnPaste
                        formControlName="value"
                        [value]="translatedValue"
                        [errorStateMatcher]="matcher"
                        [type]="formType(setting.type!)"
                    />
                    <input
                        *ngIf="setting.type !== 'email'"
                        matInput
                        formControlName="value"
                        [value]="translatedValue"
                        [errorStateMatcher]="matcher"
                        [type]="formType(setting.type!)"
                    />
                </ng-template>

                <mat-hint *ngIf="setting.helpText">{{ setting.helpText | translate }}</mat-hint>
            </mat-form-field>

            <div class="settings-form-group" *ngIf="isExcludedType(setting.type!)">
                <div *ngIf="setting.type === 'boolean'">
                    <mat-checkbox formControlName="value">{{ setting.label | translate }}</mat-checkbox>
                    <div class="hint" *ngIf="setting.helpText">{{ setting.helpText | translate }}</div>
                    <div class="error" *ngIf="error">{{ error }}</div>
                </div>

                <!-- textarea -->
                <div *ngIf="setting.type === 'text'">
                    <mat-form-field>
                        <textarea
                            formControlName="value"
                            rows="10"
                            matInput
                            placeholder="{{ setting.label | translate }}"
                            [value]="translatedValue"
                        ></textarea>
                        <span matSuffix>
                            <mat-icon pull="right" class="red-warning-text" *ngIf="updateSuccessIcon">
                                check_circle
                            </mat-icon>
                        </span>
                    </mat-form-field>
                </div>

                <!-- date / datetime -->
                <div *ngIf="setting.type === 'datetime' || setting.type === 'date'">
                    <os-datepicker
                        formControlName="date"
                        [error]="error"
                        [title]="setting.label"
                        [hintText]="setting.helpText"
                        [showUpdateSuccessIcon]="updateSuccessIcon"
                    ></os-datepicker>
                    <div class="datetimepicker-container">
                        <mat-form-field *ngIf="setting.type === 'datetime'">
                            <input matInput [format]="24" formControlName="time" [ngxTimepicker]="timepicker" />
                            <div class="suffix-wrapper" matSuffix>
                                <mat-icon class="red-warning-text" *ngIf="updateSuccessIcon">error</mat-icon>
                                <ngx-material-timepicker-toggle [for]="timepicker">
                                    <mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>
                                </ngx-material-timepicker-toggle>
                            </div>
                            <mat-error *ngIf="error">{{ error }}</mat-error>
                            <ngx-material-timepicker #timepicker></ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                </div>

                <!-- The editor -->
                <div *ngIf="setting.type === 'markupText'">
                    <h4>{{ setting.label | translate }}</h4>
                    <os-editor formControlName="value" [customSettings]="getTinyMceSettings()"></os-editor>
                    <span matSuffix>
                        <mat-icon pull="right" class="red-warning-text" *ngIf="updateSuccessIcon">error</mat-icon>
                    </span>
                </div>

                <!-- Custom Translations -->
                <div *ngIf="setting.type === 'translations'">
                    <os-custom-translation formControlName="value"></os-custom-translation>
                </div>
            </div>
        </form>
    </div>
</div>
