@use 'src/assets/styles/variables.scss';
@use 'src/assets/styles/mixins/detail-view-appearance.scss';

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

mat-card mat-card-content h3 {
    margin-top: 0 !important;
}

.meta-info-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr;

    .number-of-elected {
        grid-column: 1;
    }

    .current-phase {
        grid-column: 1;
    }

    @include variables.desktop {
        grid-template-columns: 1fr 2fr;

        .current-phase {
            grid-column: 2;
        }
    }
}

.new-ballot-button {
    display: flex;
    > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.election-document-list mat-list-item {
    height: auto;
    height: max-content !important;
    a {
        text-wrap: wrap;
        max-width: 100%;
        word-break: break-word;
    }
}

.candidates-list {
    padding: 15px 25px 0 25px;

    @include variables.phone {
        padding: 15px 0 0 0;
    }

    .single-candidate-line {
        display: grid;
        grid-template-columns: auto min-content;
        grid-column-gap: 0.5em;

        span {
            margin: auto 0;
        }
    }
    .deleted-candidate {
        color: slategrey;
    }
}

.add-candidates {
    .search-field {
        padding: 15px 25px 0 25px;
        width: auto;

        .mat-mdc-form-field {
            width: 100%;
        }
    }
}

.ballot-controls-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto min-content;

    .ballot-title {
        grid-column: 1;
        h3 {
            margin: 0;
        }
    }
}

.candidate-list-separator {
    position: initial !important;
    margin: 20px 0;
}

.candidate {
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgray;
    vertical-align: top;
    .name {
        word-wrap: break-word;
        flex: 1;
    }
}

.top-aligned {
    position: absolute;
    top: 0;
    left: 0;
}

.search-new-speaker-form {
    padding: 15px 25px 0 25px;
    width: auto;

    @include variables.phone {
        padding: 15px 0 0 0;
    }

}

:host ::ng-deep .detail-view {
    @include detail-view-appearance.detail-view-appearance;
}

.attachment-icon {
    vertical-align: text-bottom;
}
