.error-color {
    color: red;
}

.nameCell {
    display: flex;
    flex-direction: column;
    flex-basis: 620px;
}

.iconCell {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
}

.meta-info {
    font-size: 12px;
}

.crossed-out {
    text-decoration: line-through;
}

.merge-user-item {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
