.error-color {
    color: red;
}

.nameCell {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
}

.iconCell {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
}

.meta-info {
    font-size: 12px;
}

.crossed-out {
    text-decoration: line-through;
}
