:host {
    width: 100%;
}

.wait-for-action-banner {
    background: yellow;

    span,
    a {
        padding: 2px;
        color: #000000 !important;
        background: yellow;
    }

    a {
        cursor: pointer;
        font-weight: bold;
    }
}
