:host {
    width: 100%;
}

.history-banner {
    background: yellow;

    span,
    a {
        padding: 2px;
        color: #000000;
    }

    a {
        cursor: pointer;
        font-weight: bold;
    }
}
