@import 'src/assets/styles/variables.scss';
.los-title {
    display: block;
}

.finished-list {
    box-shadow: none !important;
    margin-bottom: 15px;

    .mat-list-item {
        height: auto;
        margin: 10px 0;

        .mat-list-item-content {
            display: block !important;
        }
    }

    .finished-speakers-grid {
        font-size: 14px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: min-content auto min-content min-content;

        .finished-speaker-info {
            display: flex;
            .speaker-name {
                flex-grow: 1;
            }
        }
    }

    .finished-speakers-start {
        text-align: right;
        font-size: 14px;
    }

    .center-text {
        margin: auto 0;
    }

    .single-speaker-line {
        .speaker-index {
            font-weight: normal;
        }
        .speaker-info {
            padding: 2px 0;
        }
    }
}

.current-speaker {
    margin: 10px 25px 0 25px;
    padding: 0 0.75em;
    border-radius: 4px;
}

.current-speaker:has(+ .interposed-questions) {
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.waiting-list,
.interposed-questions {
    padding: 10px 25px 0 25px;
}

.interposed-questions {
    padding-top: 0px;
    padding-left: 40px;
    margin-bottom: 20px;
    .speaker {
        margin: 1px 0 0 25px;
        box-shadow: none;
        padding: 0 0.75em;
    }

    .current-speaker {
        border-radius: 0;
    }

    .speaker:first-of-type {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    @supports selector(:has(*)) {
        .speaker:first-of-type {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            margin-top: 0;
            border-top: transparent 1px solid;
            &.current-speaker {
                border-top-color: #fff;
            }
        }
    }

    .speaker:last-of-type {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

os-sorting-list .line {
    border-radius: 4px;
}

.add-self-buttons {
    margin: 10px 20px;
    display: inline-flex;
    flex-wrap: wrap;

    button {
        margin: 5px;
    }
}

.search-new-speaker-form {
    padding: 15px 25px 0 25px;
    width: auto;
}

.centered-text {
    text-align: center;
}

.my-border-bottom {
    border-bottom: 1px solid !important;
}
