<mat-card class="os-card card-padding" [ngClass]="{ 'spacer-bottom-60': addBottomSpacer }">
    <mat-card-content>
        <!-- Title -->
        @if (!explicitTitleContent) {
            <os-projectable-title class="los-title" [model]="listOfSpeakers">
                @if (closed) {
                    <mat-icon
                        append
                        class="primary-accent-by-theme"
                        matTooltip="{{ 'The list of speakers is closed.' | translate }}"
                        style="margin-top: 8px"
                    >
                        lock
                    </mat-icon>
                }
            </os-projectable-title>
        }
        @if (explicitTitleContent) {
            <ng-container *ngTemplateOutlet="explicitTitleContent" />
        }

        <!-- List of finished speakers -->
        @if (finishedSpeakers.length) {
            <mat-expansion-panel class="finished-list">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ 'Last speakers' | translate }}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    @for (speaker of finishedSpeakers; track speaker.id; let number = $index) {
                        <mat-list-item>
                            <os-list-of-speakers-entry
                                [speaker]="speaker"
                                [speakerIndex]="number"
                                (createAnswer)="createAnswer(speaker)"
                                (pauseSpeech)="onPauseButton(activeSpeaker)"
                                (startSpeech)="onStartButton(activeSpeaker)"
                                (stopSpeech)="onStopButton(activeSpeaker)"
                            />
                        </mat-list-item>
                    }
                </mat-list>
            </mat-expansion-panel>
        }

        <!-- horizontal separation line -->
        @if (finishedSpeakers && finishedSpeakers.length) {
            <mat-divider />
        }
        @if (finishedSpeakers && finishedSpeakers.length) {
            <div class="spacer-bottom-40"></div>
        }

        <!-- Current Speaker -->
        @if (activeSpeaker) {
            @if (canManage) {
                <div class="current-speaker desktop-speaker-indent background-accent">
                    <os-list-of-speakers-entry
                        [showcolor]="false"
                        [speaker]="activeSpeaker"
                        (createAnswer)="createAnswer(activeSpeaker)"
                        (pauseSpeech)="onPauseButton(activeSpeaker)"
                        (startSpeech)="onStartButton(activeSpeaker)"
                        (stopSpeech)="onStopButton(activeSpeaker)"
                    />
                </div>
            } @else {
                <div class="current-speaker background-accent">
                    <os-list-of-speakers-entry
                        [showcolor]="false"
                        [speaker]="activeSpeaker"
                        (createAnswer)="createAnswer(activeSpeaker)"
                        (pauseSpeech)="onPauseButton(activeSpeaker)"
                        (startSpeech)="onStartButton(activeSpeaker)"
                        (stopSpeech)="onStopButton(activeSpeaker)"
                    />
                </div>
            }
        }
        @if (interposedQuestions.length) {
            <div class="interposed-questions">
                @for (speaker of interposedQuestions; track speaker.id; let i = $index) {
                    <div
                        class="speaker"
                        [ngClass]="{
                            'current-speaker background-accent': speaker.isSpeaking,
                            backgroundColorLight: !speaker.isSpeaking
                        }"
                    >
                        <os-list-of-speakers-entry
                            [speaker]="speaker"
                            (createAnswer)="createAnswer(speaker)"
                            (pauseSpeech)="onPauseButton(speaker)"
                            (startSpeech)="onStartButton(speaker)"
                            (stopSpeech)="onStopButton(speaker)"
                        />
                    </div>
                }
            </div>
        }

        <!-- Waiting speakers -->
        @if (waitingSpeakers?.length) {
            <div class="waiting-list">
                <os-sorting-list
                    [enable]="canManage && (isSortMode || !isMobile)"
                    [input]="waitingSpeakers"
                    [isPriorityItemFunction]="isPointOfOrderFn"
                    [live]="true"
                    (sortEvent)="onSortingChanged($event)"
                >
                    <!-- implicit speaker references into the component using ng-template slot -->
                    <ng-template let-index="index" let-speaker>
                        <os-list-of-speakers-entry
                            [speaker]="speaker"
                            [speakerIndex]="index"
                            (createAnswer)="createAnswer(speaker)"
                            (pauseSpeech)="onPauseButton(speaker)"
                            (startSpeech)="onStartButton(speaker)"
                            (stopSpeech)="onStopButton(speaker)"
                        />
                    </ng-template>
                </os-sorting-list>
            </div>
        }

        <!-- Search for speakers -->
        @if (canManage) {
            <div class="search-new-speaker-form">
                <os-participant-search-selector
                    placeholder="{{ 'Select speaker' | translate }}"
                    [nonSelectableUserIds]="nonAvailableUserIds"
                    (userSelected)="addUserAsNewSpeaker($event)"
                ></os-participant-search-selector>
            </div>
        }

        <div *osPerms="permission.listOfSpeakersCanBeSpeaker" class="centered-text">
            @if (!canAddDueToPresence) {
                <span translate>You have to be present to add yourself.</span>
            }
        </div>
        <div class="add-self-buttons">
            <!-- Add me and remove me if OP has correct permission -->
            @if (addSelf && !isOpInWaitlist()) {
                <button mat-stroked-button [disabled]="closed || !canAddDueToPresence" (click)="addMyself()">
                    <mat-icon>add</mat-icon>
                    <span>{{ 'Add me' | translate }}</span>
                </button>
            }
            @if (isOpInWaitlist()) {
                <button mat-stroked-button (click)="removeSpeaker()">
                    <mat-icon>remove</mat-icon>
                    <span>{{ 'Remove me' | translate }}</span>
                </button>
            }
            <!-- Point Of order -->
            @if (addSelf && showPointOfOrders && !isOpInWaitlist(true)) {
                <button
                    color="warn"
                    mat-stroked-button
                    [disabled]="restrictPointOfOrderActions && closed"
                    (click)="addPointOfOrder()"
                >
                    <mat-icon>warning</mat-icon>
                    &nbsp;
                    <span>
                        {{ 'Point of order' | translate }}
                    </span>
                </button>
            }
            @if (showPointOfOrders && isOpInWaitlist(true)) {
                <button color="warn" mat-stroked-button (click)="removePointOfOrder()">
                    <mat-icon>remove</mat-icon>
                    <span translate>Withdraw point of order</span>
                </button>
            }
            @if (addSelf) {
                <!-- Interposed question -->
                @if (showInterposedQuestions | async) {
                    <button mat-stroked-button [disabled]="closed || !activeSpeaker" (click)="addInterposedQuestion()">
                        <mat-icon>contact_support</mat-icon>
                        &nbsp;
                        <span>
                            {{ 'Interposed question' | translate }}
                        </span>
                    </button>
                }
            }
            @if (addSelf && interventionEnabled) {
                <!-- Intervention -->
                <button
                    *osPerms="permission.listOfSpeakersCanManage"
                    mat-stroked-button
                    [disabled]="closed"
                    (click)="addIntervention()"
                >
                    <mat-icon>feedback</mat-icon>
                    &nbsp;
                    <span>
                        {{ 'Intervention' | translate }}
                    </span>
                </button>
            }
        </div>
    </mat-card-content>
</mat-card>
