<h2 mat-dialog-title>{{ 'My account' | translate }}: self?.shortName</h2>
<mat-divider></mat-divider>
<div mat-dialog-content class="account-dialog-container">
    <div class="account-dialog-menu-items">
        <mat-selection-list [multiple]="false">
            <ng-container *ngFor="let item of menuItems">
                <mat-list-option
                    [value]="item"
                    [selected]="activeMenuItem === item.name"
                    (click)="activeMenuItem = item.name"
                >
                    {{ item.name | translate }}
                </mat-list-option>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-selection-list>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="account-dialog-content">
        <div class="content-wrapper">
            <ng-container [ngSwitch]="activeMenuItem">
                <ng-container
                    *ngSwitchCase="menuItemsRef.CHANGE_PASSWORD"
                    [ngTemplateOutlet]="changePasswordView"
                ></ng-container>
            </ng-container>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">{{ 'Close' | translate }}</button>
</div>

<ng-template #changePasswordView>
    <h2>{{ 'Change password' | translate }}</h2>
    <os-change-password
        (validEvent)="isUserPasswordValid = $event"
        (changeEvent)="userPasswordForm = $event"
    ></os-change-password>
    <div>
        <button mat-button [disabled]="!isUserPasswordValid" (click)="changePassword()">
            {{ 'Confirm' | translate }}
        </button>
    </div>
</ng-template>
