<ng-container *ngFor="let entry of menuEntries">
    <span>
        <a
            *osOmlPerms="entry.permission!"
            mat-menu-item
            class="management-router-link"
            [ngStyle]="getCustomStyleForEntry(entry)"
            (click)="closeSidenavOnMobile()"
            [routerLink]="entry.route"
            routerLinkActive="foreground-active"
            [routerLinkActiveOptions]="{ exact: isRouteExact(entry.route) }"
        >
            <mat-icon>{{ entry.icon }}</mat-icon>
            <span>{{ entry.displayName | translate }}</span>
        </a>
    </span>
    <mat-divider *ngIf="entry.hasDividerBelow"></mat-divider>
</ng-container>
