@for (entry of menuEntries; track entry) {
    <span>
        <a
            *osOmlPerms="entry.permission!"
            mat-menu-item
            class="management-router-link foreground-icon"
            [ngStyle]="getCustomStyleForEntry(entry)"
            (click)="closeSidenavOnMobile()"
            [routerLink]="entry.route"
            routerLinkActive="foreground-active"
            [routerLinkActiveOptions]="{ exact: isRouteExact(entry.route) }"
        >
            <mat-icon>{{ entry.icon }}</mat-icon>
            <span>{{ entry.displayName | translate }}</span>
        </a>
    </span>
    @if (entry.hasDividerBelow) {
        <mat-divider></mat-divider>
    }
}
