<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Contributions</h1>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button mat-icon-button type="button" [matMenuTriggerFor]="speakerMenu"><mat-icon>more_vert</mat-icon></button>
    </ng-container>
</os-head-bar>

<os-list
    [addBottomSpacer]="hasInteractionState | async"
    [filterProps]="filterProps"
    [filterService]="filterService"
    [listObservableProvider]="repo"
    [sortService]="sortService"
    [(selectedRows)]="selectedRows"
>
    <!-- Name column -->
    <div *osScrollingTableCell="'short_name'; row as speaker; rowContext as rowContext" class="cell-slot fill">
        <div class="nameCell">
            <div>
                <div class="flex-vertical-center">
                    <div>{{ speaker?.getLOSName((structureLevelCountdownEnabled | async) === false) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div *osScrollingTableCell="'info'; row as speaker; config: { width: 200 }" class="cell-slot fill">
        <div class="infoCell">
            @if (speaker.list_of_speakers?.content_object) {
                <a class="spacer-top-5" [routerLink]="viewModelUrl(speaker) || null" [state]="{ back: 'true' }">
                    <os-icon-container [icon]="getSpeakerIcon(speaker)">
                        {{ speaker.topic }}
                    </os-icon-container>
                </a>
            }
            @if (speaker.point_of_order) {
                <div class="spacer-top-5">
                    <os-icon-container icon="warning" translate>Point of order</os-icon-container>
                </div>
            }

            <!-- Pro Speech -->
            @if (speaker.speech_state === SpeechState.PRO) {
                <div class="spacer-top-5">
                    <os-icon-container icon="add_circle">
                        {{ 'Forspeech' | translate }}
                    </os-icon-container>
                </div>
            }

            <!-- Contra Speech -->
            @if (speaker.speech_state === SpeechState.CONTRA) {
                <div class="spacer-top-5">
                    <os-icon-container icon="remove_circle">
                        {{ 'Counter speech' | translate }}
                    </os-icon-container>
                </div>
            }

            <!-- Marked -->
            @if (speaker.speech_state === SpeechState.CONTRIBUTION) {
                <div class="spacer-top-5">
                    <os-icon-container icon="star">
                        {{ 'Contribution' | translate }}
                    </os-icon-container>
                </div>
            }

            <!-- Interposed question -->
            @if (speaker.speech_state === SpeechState.INTERPOSED_QUESTION) {
                <div class="spacer-top-5">
                    <os-icon-container icon="help">
                        {{ 'Interposed question' | translate }}
                    </os-icon-container>
                </div>
            }

            <!-- Intervention -->
            @if (speaker.speech_state === SpeechState.INTERVENTION) {
                <div class="spacer-top-5">
                    <os-icon-container icon="error">
                        {{ 'Intervention' | translate }}
                    </os-icon-container>
                </div>
            }
            @if (speaker.end_time) {
                <div class="spacer-top-5">
                    <os-icon-container icon="schedule" translate>
                        <os-countdown-time
                            [countdown]="{ running: false, countdown_time: speaker.speakingTime }"
                            [unstyled]="true"
                        ></os-countdown-time>
                    </os-icon-container>
                </div>
            }
        </div>
    </div>

    <!-- Speaker -->
    <div
        *osScrollingTableCell="
            'speaker';
            row as speaker;
            rowContext as rowContext;
            config: { width: 60, position: END_POSITION }
        "
        class="fill"
    >
        @if (speaker.list_of_speakers) {
            <os-speaker-button [object]="speaker.list_of_speakers.content_object"></os-speaker-button>
        }
    </div>
</os-list>

<mat-menu #speakerMenu="matMenu">
    <button *osPerms="permission.userCanUpdate" mat-menu-item (click)="csvExportSpeakerList()">
        <mat-icon>archive</mat-icon>
        <span>{{ 'Export as CSV' | translate }}</span>
    </button>
</mat-menu>
