@import 'src/assets/styles/fonts.scss';

#chyron,
#chyron_new {
    position: absolute;
    left: 50px;
    bottom: 20px;
    right: 0;
    z-index: 10;
}

#chyron_agenda_item,
#chyron_speaker {
    text-align: left;
    line-height: 1;
    opacity: 1;

    .inner {
        background-color: var(--chyron-background-color);
        color: var(--chyron-font-color);
        display: inline-block;

        vertical-align: middle;
        padding-left: 18px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 40px;
        display: table-cell;
    }
}

#chyron_agenda_item {
    font-size: 28px;
    .inner {
        background-color: var(--chyron-background-color-2);
        color: var(--chyron-font-color-2);
    }
}

#chyron_speaker {
    font-size: 32px;
    .inner {
        .name {
            font-family: customChyronNameFont, $font-chyronname;
        }

        .level {
            margin-top: 5px;
            font-size: 70%;
        }
    }
}

#chyron_new {
    #chyron_speaker {
        min-height: 80px;
    }
}
