<div
    [id]="data.options['chyron_type'] === 'new' ? 'chyron_new' : 'chyron'"
    [ngStyle]="{
        '--chyron-background-color': projector?.chyron_background_color || data.data.background_color,
        '--chyron-font-color': projector?.chyron_font_color || data.data.font_color,
        '--chyron-background-color-2': projector?.chyron_background_color_2 || data.data.background_color_2,
        '--chyron-font-color-2': projector?.chyron_font_color_2 || data.data.font_color_2
    }"
>
    @if (data && data.options['agenda_item'] && data.data.title_information) {
        <div id="chyron_agenda_item">
            <span class="inner">
                {{ data.data.title_information?.agenda_item_number }}
                {{ !!data.data.title_information?.agenda_item_number ? '&middot;' : '' }}
                {{ data.data.title_information?.number }}
                {{ !!data.data.title_information?.number ? '&middot;' : '' }}
                {{ data.data.title_information?.title }}
            </span>
        </div>
    }
    @if (data && data.options['chyron_type'] !== 'none' && data.data.current_speaker_name) {
        <div id="chyron_speaker">
            @if (data.options['chyron_type'] === 'old') {
                <span class="inner">
                    <div class="name">{{ data.data.current_speaker_name }}</div>
                    <div class="level">{{ data.data.current_speaker_level }}</div>
                </span>
            }
            @if (data.options['chyron_type'] === 'new') {
                <span class="inner">
                    <os-comma-separated-listing [list]="getSpeaker()"></os-comma-separated-listing>
                </span>
            }
        </div>
    }
</div>
