<os-action-card class="projector-tile" [showActionRow]="true" *ngIf="projector" [disableExpandControl]="true">
    <ng-container class="meta-text-block-title">
        <os-icon-container
            [noWrap]="true"
            icon="lock"
            size="large"
            [showIcon]="projector.is_internal"
            [iconTooltip]="'Internal' | translate"
        >
            <div class="ellipsis-overflow">
                {{ projector.getTitle() }}
            </div>
        </os-icon-container>
    </ng-container>
    <ng-container class="meta-text-block-action-row" *osPerms="permission.projectorCanManage">
        <button
            mat-icon-button
            (click)="setProjectorAsReference()"
            matTooltip="{{ 'Sets this projector as the reference for the current list of speakers' | translate }}"
        >
            <mat-icon class="grey-icon" *ngIf="projector.isReferenceProjector">star</mat-icon>
            <mat-icon class="grey-icon" *ngIf="!projector.isReferenceProjector">star_border</mat-icon>
        </button>
        <button mat-icon-button (click)="editProjector()" matTooltip="{{ 'Edit projector' | translate }}">
            <mat-icon class="grey-icon">edit</mat-icon>
        </button>
        <button
            mat-icon-button
            color="warn"
            (click)="onDeleteButton()"
            matTooltip="{{ 'Delete projector' | translate }}"
        >
            <mat-icon class="grey-icon">delete</mat-icon>
        </button>
    </ng-container>
    <ng-container class="meta-text-block-content">
        <a class="no-markup" [routerLink]="getDetailLink()" [target]="projectionTarget">
            <div class="projector">
                <os-projector [projector]="projector"></os-projector>
            </div>
        </a>
    </ng-container>
</os-action-card>
