@if (showPoll) {
    <mat-card class="os-card">
        <mat-card-content>
            <div class="assignment-poll-wrapper">
                <div>
                    <!-- Title -->
                    <mat-card-title>
                        <a [routerLink]="getDetailLink()">
                            {{ poll.title }}
                        </a>
                    </mat-card-title>
                    <!-- Type and State -->
                    <div class="type-and-state italic spacer-bottom-20">
                        <span *osPerms="permission.assignmentCanManagePolls; and: poll.isEVoting">
                            <os-icon-container
                                class="poll-type"
                                color="primary"
                                icon="info"
                                size="large"
                                [showIcon]="poll.isAnonymous"
                                [swap]="true"
                                (iconAction)="openVotingWarning()"
                            >
                                {{ poll.typeVerbose | translate }}
                            </os-icon-container>
                            @if (poll.isAnonymous) {
                                <span>&nbsp;</span>
                            }
                            &middot;&nbsp;
                        </span>
                        <span class="break-word">
                            @if (isAnonymous && poll.canBeVotedFor()) {
                                {{ 'Voting in progress' | translate }}
                            } @else {
                                {{ poll.stateVerbose | translate }}
                            }
                        </span>
                    </div>
                    <!-- Menu -->
                    <div class="poll-menu">
                        <!-- Buttons -->
                        <button
                            *osPerms="[permission.projectorCanManage, permission.assignmentCanManagePolls]"
                            mat-icon-button
                            [matMenuTriggerFor]="pollItemMenu"
                            (click)="$event.stopPropagation()"
                        >
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                    <!-- Change state button -->
                    <div *osPerms="permission.assignmentCanManagePolls; and: !hideChangeState">
                        @if (pollStateActions[poll.state]) {
                            <button
                                mat-stroked-button
                                [disabled]="stateChangePendingObservable | async"
                                [ngClass]="pollStateActions[poll.state].css"
                                (click)="nextPollState()"
                            >
                                <mat-icon>{{ pollStateActions[poll.state]?.icon }}</mat-icon>
                                <span class="next-state-label">
                                    @if ((stateChangePendingObservable | async) === false) {
                                        {{ poll.nextStateActionVerbose | translate }}
                                    }
                                    @if (stateChangePendingObservable | async) {
                                        {{ 'In progress, please wait ...' | translate }}
                                    }
                                </span>
                            </button>
                        }
                    </div>
                    <!-- Enter Votes Hint -->
                    <div *osPerms="permission.assignmentCanManagePolls; and: poll.isAnalog && !poll.stateHasVotes">
                        {{ 'Edit to enter votes.' | translate }}
                    </div>
                </div>
                <!-- Chart / Table -->
                @if (poll.stateHasVotes) {
                    <div class="poll-result-wrapper" [routerLink]="getDetailLink()">
                        <os-assignment-poll-detail-content [poll]="poll"></os-assignment-poll-detail-content>
                    </div>
                }
                <!-- Poll progress bar -->
                @if (poll && poll.isStarted) {
                    <os-poll-progress [canManagePoll]="canManagePoll" [poll]="poll"></os-poll-progress>
                }
                <!-- The Vote -->
                @if (poll.canBeVotedFor()) {
                    <os-assignment-poll-vote [poll]="poll"></os-assignment-poll-vote>
                }
                <!-- Meta-Info -->
                @if (showMetaInfo || poll.isListPoll) {
                    <os-assignment-poll-meta-info
                        [poll]="poll"
                        [shortenList]="poll.isListPoll && !poll.canBeVotedFor()"
                        [showCandidates]="showCandidatesInMetaInfo"
                        [showStats]="showMetaInfo"
                    ></os-assignment-poll-meta-info>
                }
            </div>
        </mat-card-content>
    </mat-card>
}

<mat-menu #pollItemMenu="matMenu">
    <div *osPerms="permission.assignmentCanManagePolls">
        <button mat-menu-item (click)="dialogOpened.emit()">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </button>
    </div>
    <div *osPerms="permission.projectorCanManage">
        <os-projector-button [menuItem]="true" [object]="poll"></os-projector-button>
    </div>
    <div *osPerms="permission.assignmentCanManagePolls">
        <button mat-menu-item (click)="printBallot()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ 'Ballot papers' | translate }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- Reset Button -->
        <button mat-menu-item (click)="resetState()">
            <mat-icon color="warn">replay</mat-icon>
            <span>{{ 'Reset state' | translate }}</span>
        </button>

        <!-- Delete button -->
        <button class="red-warning-text" mat-menu-item (click)="deletePoll()">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
