<h1 mat-dialog-title>
    <span *ngIf="isCreateView">
        {{ 'Create new chat group' | translate }}
    </span>

    <span *ngIf="!isCreateView">{{ 'Edit details for' | translate }} {{ previousChatGroupName }}</span>
</h1>

<form *ngIf="chatGroupFormGroup" [formGroup]="chatGroupFormGroup">
    <div class="os-form-card-mobile" mat-dialog-content>
        <!-- Name -->
        <mat-form-field>
            <input
                type="text"
                matInput
                osAutofocus
                required
                formControlName="name"
                placeholder="{{ 'Name' | translate }}"
            />
            <mat-error *ngIf="chatGroupFormGroup.invalid">{{ 'Required' | translate }}</mat-error>
        </mat-form-field>

        <!-- Groups -->
        <mat-form-field>
            <os-list-search-selector
                formControlName="read_group_ids"
                placeholder="{{ 'Groups with read permissions' | translate }}"
                [multiple]="true"
                [inputListValues]="groupsObservable"
            ></os-list-search-selector>
        </mat-form-field>
        <mat-form-field>
            <os-list-search-selector
                formControlName="write_group_ids"
                placeholder="{{ 'Groups with write permissions' | translate }}"
                [multiple]="true"
                [inputListValues]="groupsObservable"
            ></os-list-search-selector>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <!-- save  -->
        <button
            type="submit"
            color="accent"
            mat-button
            [disabled]="chatGroupFormGroup.invalid"
            [mat-dialog-close]="chatGroupFormGroup.value"
            color="accent"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>

        <!-- cancel -->
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</form>
