<os-head-bar
    [hasMainButton]="true"
    [mainActionTooltip]="'Create new tag' | translate"
    (mainEvent)="createOrganizationTag()"
    [multiSelectMode]="isMultiSelect"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Tags' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="orgaTagMenu"><mat-icon>more_vert</mat-icon></button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>
</os-head-bar>

<os-list
    [listObservable]="repo.getViewModelListObservable()"
    [(selectedRows)]="selectedRows"
    [multiSelect]="isMultiSelect"
    listStorageKey="orgaTags"
    [vScrollFixed]="60"
    [filterProps]="['name']"
    [hiddenInMobile]="['info', 'menu']"
>
    <div *osScrollingTableCell="'name'; row as orgaTag" class="cell-slot fill">
        <div>
            <os-chip [color]="orgaTag.color">{{ orgaTag.name }}</os-chip>
        </div>
    </div>
    <div *osScrollingTableCell="'edit'; row as orgaTag; config: { width: 40 }" class="cell-slot fill">
        <button mat-icon-button (click)="editOrganizationTag(orgaTag)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div *osScrollingTableCell="'delete'; row as orgaTag; config: { width: 40 }" class="cell-slot fill">
        <button mat-icon-button color="warn" (click)="deleteOrganizationTags(orgaTag)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</os-list>

<mat-menu #orgaTagMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>

        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="red-warning-text" [disabled]="!selectedRows.length" (click)="deleteSelectedTags()">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
