<h1 mat-dialog-title>
    <span>{{ 'Save the unique token for this vote' | translate }}</span>
</h1>

<os-vote-token-secret-field [token]="token" ></os-vote-token-secret-field>

<p translate>You can ensure that this vote has been tallied correctly, by using the above token with this specific polls 'Check vote validity' function.</p>

<p><i class="warn" translate>Keep this token a secret and DO NOT upload it to the internet or OpenSlides.</i></p>

<p mat-dialog-actions>
    <button mat-button [matDialogClose]="true">{{ 'Ok' | translate }}</button>
</p>
