.account-dialog-container {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    padding: 0px !important;

    .account-dialog-menu-items {
        flex: 1;

        mat-list-item {
            cursor: pointer;
        }
    }

    .account-dialog-content {
        flex: 3;

        .content-wrapper {
            padding-left: 24px;
            padding-right: 24px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;

    .left-align {
        flex: 1;
    }
}

cdk-virtual-scroll-viewport {
    height: 300px;
    .meeting-group-block {
        height: 50px;
    }
}

.padding-top-16 {
    padding-top: 16px !important;
}
