.search-users-field {
    width: 100%;

    .search-users {
        display: grid;

        .mat-mdc-form-field {
            width: 100%;
        }
    }
}

.os-not-found-button-content {
    display: inline-block;
    vertical-align: middle;
}
