@mixin icon-container($iconSize, $contentSize, $fontWeight) {
    line-height: $iconSize;

    & mat-icon {
        font-size: $iconSize;
        width: $iconSize;
        min-width: $iconSize;
        height: $iconSize;
        margin-top: 0 !important;

        &.mirrored {
            transform: rotate(180deg);
        }
    }

    & > .content-node {
        font-size: $contentSize;
        font-weight: $fontWeight;
    }
}

:host {
    display: flex;
    align-items: center;
    width: 100%;

    & + & {
        margin-top: 5px;
    }

    &.small-container {
        @include icon-container(12px, 12px, 400);
    }

    &.medium-container {
        @include icon-container(18px, 14px, 400);
    }

    &.large-container {
        @include icon-container(24px, 16px, 400);
    }

    &.gigantic-container {
        @include icon-container(34px, 22px, 400);
    }

    &.inline {
        display: inline-flex;
        margin-top: 0;
    }

    .content-node {
        display: inline-block;
        margin: auto 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        line-height: normal;
        &.content-swapped {
            margin-left: 0;
        }
    }

    .break-lines {
        white-space: pre-line;
    }

    .single-line {
        white-space: nowrap;
    }
}
