<div class="form-wrapper">
    <form autocomplete="off" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <h3>{{ 'Enter your email to send the password reset link' | translate }}</h3>
        <mat-form-field>
            <mat-label>{{ 'Email' | translate }}</mat-label>
            <input autocomplete="off" formControlName="email" matInput osAutofocus required type="email" />
            @if (resetPasswordForm.get('email')?.invalid) {
            <mat-error>
                {{ 'Please enter a valid email address!' | translate }}
            </mat-error>
            }
        </mat-form-field>
        <br />
        <button
            class="submit-button"
            color="accent"
            mat-raised-button
            type="submit"
            [disabled]="resetPasswordForm.invalid || isWaiting"
        >
            {{ 'Reset password' | translate }}
        </button>
        &nbsp;
        <button mat-button type="button" [routerLink]="['/login']">
            {{ 'Back' | translate }}
        </button>
    </form>
</div>
