.vote-chart-bar {
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
    .segment {
        position: relative;
        text-align: center;
        height: 50px;
        .below {
            position: absolute;
            width: 100%;
            top: 58px;
        }
    }
}

.results {
    display: grid;
    grid-gap: 10px !important;
    padding: 10px;
    margin: 0 10px;
    grid-template-areas: 'votes options';
    grid-template-columns: auto auto;
    @media (max-width: 700px) {
        grid-template-areas: 'votes .' '. options';
        grid-template-columns: max-content;
    }
}

.margin-right-20 {
    margin-right: 20px;
}

.grid-all-votes-area {
    grid-area: votes;
}

.grid-options-area {
    grid-area: options;
}
