@if (filtersEnabled && totalAmount > 0) {
    <div class="vote-char-container">
        <div class="vote-chart-bar">
            @for (cat of voteAmounts; track cat.value) {
                @if (cat.amount > 0) {
                    <div
                        class="segment"
                        [style.background]="cat.backgroundColor"
                        [style.width.%]="(cat.weightedAmount / totalAmountWeighted) * 100"
                    >
                        <div class="below">
                            {{ cat.amount }}
                        </div>
                    </div>
                }
            }
        </div>
        <div class="results">
            <div>{{ 'Filtered single votes:' | translate }} {{ totalAmount }}</div>
            <div>
                @for (cat of voteAmounts; track cat.value; let isLast = $last) {
                    @if (cat.amount > 0) {
                        <span [ngClass]="{ 'margin-right-20': !isLast }">
                            {{ ((cat.weightedAmount / totalAmountWeighted) * 100).toFixed(2) }}% ({{
                                cat.weightedAmount
                            }}) voted {{ cat.value }}
                        </span>
                    }
                }
            </div>
        </div>
    </div>
}
