.vote-chart-bar {
    display: flex;
    align-items: center;
    height: 70px;
    .segment {
        position: relative;
        text-align: center;
        height: 50px;
        .below {
            position: absolute;
            width: 100%;
            top: 58px;
        }
    }
}

.results {
    display: grid;
    grid-gap: 10px !important;
    padding: 10px;
    margin: 0 10px;
    grid-template-areas: 'votes options';
    grid-template-columns: auto auto;
    @media (max-width: 700px) {
        grid-template-areas: 'votes votes' 'options options';
        grid-template-columns: max-content;
    }
}

.margin-top-bottom {
    margin-top: 50px;
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.grid-all-votes-area {
    grid-area: votes;
}

.grid-options-area {
    grid-area: options;
    display: flex;
    justify-content: end;
}

.box {
    height: 15px;
    width: 15px;
    display: inline-block;
}
