<button mat-stroked-button *ngIf="!openedStatistics" (click)="changeViewOfStatistics()">
    {{ 'Count completed requests to speak' | translate }}
</button>
<button mat-stroked-button *ngIf="openedStatistics" (click)="changeViewOfStatistics()">
    {{ 'Stop counting' | translate }}
</button>
<ng-container *ngIf="openedStatistics">
    <table class="user-statistics-table">
        <tr>
            <td>{{ 'Number of all requests to speak' | translate }}</td>
            <td>{{ (finishedSpeakers | async)?.length }}</td>
        </tr>
        <tr>
            <td>{{ 'Thereof point of orders' | translate }}</td>
            <td>{{ (pointOfOrders | async)?.length }}</td>
        </tr>
        <tr>
            <td>{{ 'Unique speakers' | translate }}</td>
            <td>{{ (uniqueSpeakers | async)?.length }}</td>
        </tr>
        <tr>
            <td>{{ 'Duration of all requests to speak' | translate }}</td>
            <!-- I believe we had a pipe fot that, but could not find it -->
            <td>{{ parseDuration(totalSpeakingTime | async) }}</td>
        </tr>
    </table>
    <os-list
        class="user-statistics-table--virtual-scroll"
        [listObservable]="statisticsByStructureLevelObservable"
        [filterProps]="filterProps"
        [vScrollFixed]="45"
        [fullScreen]="false"
    >
        <!-- Content -->
        <div *osScrollingTableCell="'structureLevel'; row as object" class="ellipsis-overflow">
            <div *osScrollingTableCellLabel>{{ 'Structure level' | translate }}</div>
            {{ object.structureLevel | translate }}
        </div>
        <div *osScrollingTableCell="'durationOfWordRequests'; row as object; config: { width: '100px' }">
            <div *osScrollingTableCellLabel>{{ 'Duration of requests to speak' | translate }}</div>
            {{ parseDuration(object.speakingTime) }}
        </div>
        <div *osScrollingTableCell="'numberOfWordRequests'; row as object; config: { width: '50px' }">
            <div *osScrollingTableCellLabel>{{ 'Number of requests to speak' | translate }}</div>
            {{ object.finishedSpeakers.length }}
        </div>
    </os-list>
</ng-container>
