<h4>
    <span class="title-font">{{ 'Submitters' | translate }}</span>
    <button
        class="small-button"
        type="button"
        mat-icon-button
        disableRipple
        *ngIf="!isEditMode && perms.isAllowed('change_metadata')"
        (click)="onEdit()"
    >
        <mat-icon>edit</mat-icon>
    </button>
    <button
        class="small-button"
        type="button"
        mat-icon-button
        disableRipple
        *ngIf="isEditMode && perms.isAllowed('change_metadata')"
        (click)="onClose()"
    >
        <mat-icon>close</mat-icon>
    </button>
</h4>

<div *ngIf="!isEditMode || !perms.isAllowed('change_metadata')">
    <mat-chip-list *ngFor="let submitter of motion.submitters" class="user">
        <mat-basic-chip disableRipple>{{ submitter.user?.getTitle() }}</mat-basic-chip>
    </mat-chip-list>
</div>

<div *ngIf="isEditMode && perms.isAllowed('change_metadata')">
    <os-sorting-list
        *ngIf="motion.submitters?.length"
        [input]="editSubmitterObservable"
        [live]="true"
        [count]="false"
        (sortEvent)="onSortingChange($event)"
    >
        <!-- implicit user references into the component using ng-template slot -->
        <ng-template let-user>
            <div class="single-submitter-line">
                <span class="ellipsis-overflow">
                    {{ user.getTitle() }}
                </span>

                <span>
                    <button
                        type="button"
                        mat-icon-button
                        matTooltip="{{ 'Remove' | translate }}"
                        (click)="onRemove(user)"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </span>
            </div>
        </ng-template>
    </os-sorting-list>

    <form class="search-users" *ngIf="users" [formGroup]="addSubmitterForm">
        <mat-form-field>
            <os-search-value-selector
                formControlName="userId"
                placeholder="{{ 'Select or search new submitter ...' | translate }}"
                [inputListValues]="users"
                [showNotFoundButton]="true"
                (clickNotFound)="createNewSubmitter($event)"
            >
                <ng-template osNotFoundDescription>
                    <mat-icon>add</mat-icon>
                    {{ 'Create user' | translate }}
                </ng-template>
            </os-search-value-selector>
        </mat-form-field>
    </form>
</div>
