<os-head-bar
    [nav]="true"
    [hasMainButton]="canManage"
    [mainActionTooltip]="'New projector' | translate"
    (mainEvent)="createNewProjector(projectorDialog)"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Projectors' | translate }}</h2>
    </div>
</os-head-bar>

<!-- Create projector dialog -->
<ng-template #projectorDialog>
    <h1 mat-dialog-title>
        <span>{{ 'New projector' | translate }}</span>
    </h1>

    <form [formGroup]="createForm">
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>{{ 'Name' | translate }}</mat-label>
                <input formControlName="name" matInput required />
                <mat-error>
                    <span>{{ 'Required' | translate }}</span>
                </mat-error>
            </mat-form-field>

            <div>
                <mat-checkbox formControlName="is_internal">
                    <span>{{ 'Internal' | translate }}</span>
                </mat-checkbox>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button type="submit" mat-button [disabled]="!createForm.valid" color="accent" [mat-dialog-close]="true">
                <span>{{ 'Create' | translate }}</span>
            </button>
            <button type="button" mat-button [mat-dialog-close]="null">
                <span>{{ 'Cancel' | translate }}</span>
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>
<div id="card-wrapper" class="spacer-bottom-60">
    <div class="projector-card" *ngFor="let projector of projectors | async; trackBy: trackByIndex">
        <os-projector-list-entry [projector]="projector"></os-projector-list-entry>
    </div>
</div>
