@if (poll) {
    <div class="poll-content">
        @if (poll.entitled_groups && poll.type && poll.type !== 'analog') {
            <small>
                {{ 'Groups' | translate }}:
                <os-comma-separated-listing [list]="poll.entitled_groups">
                    <ng-template let-group>{{ group.getTitle() }}</ng-template>
                </os-comma-separated-listing>
            </small>
        }
        <small>{{ '100% base' | translate }}: {{ poll.percentBaseVerbose | translate }}</small>
        <!-- Required majority -->
        @if (poll.required_majority && poll.required_majority !== 'no_majority') {
            <small>{{ 'Required majority' | translate }}: {{ requiredMajorityVerbose | translate }}</small>
            <br />
        }
        <!-- Poll backend duration type -->
        @if (poll.backend) {
            <small>
                {{ 'Voting duration' | translate }}: {{ POLL_BACKEND_DURATION_LABEL[poll.backend] | translate }}
            </small>
        }
    </div>
}
