@if (data?.data && !data.stable) {
    <div>
        <div class="slidetitle">
            <h1>
                {{ 'List of speakers' | translate }}
                @if (data.data.closed) {
                    <mat-icon>lock</mat-icon>
                }
            </h1>
            <h2>
                {{ title }}
                @if (waitingSpeakers !== null && waitingSpeakers > 1) {
                    <span>
                        &ndash; {{ waitingSpeakers }}
                        <span>{{ 'Speakers' | translate }}</span>
                    </span>
                }
            </h2>
        </div>
        <!-- Last speakers -->
        @if (data.data.finished && data.data.finished.length) {
            <div class="lastSpeakers">
                @for (speaker of data.data.finished; track speaker) {
                    <div>
                        <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"></ng-container>
                    </div>
                }
            </div>
        }
        <!-- Current speaker -->
        @if (data.data.current) {
            <div class="currentSpeaker">
                @if (!data.data.current.pause_time) {
                    <mat-icon class="micicon">mic</mat-icon>
                }
                <ng-container
                    *ngTemplateOutlet="speakerTemplate; context: { speaker: data.data.current }"
                ></ng-container>
            </div>
        }
        <!-- Interposed questions -->
        @if (interposedQuestions && interposedQuestions) {
            <div class="interposed-questions">
                <ol>
                    @for (speaker of interposedQuestions; track speaker) {
                        <li [ngClass]="{ currentSpeaker: speaker.begin_time && !speaker.pause_time }">
                            @if (speaker.begin_time && !speaker.pause_time) {
                                <mat-icon class="micicon">mic</mat-icon>
                            }
                            <ng-container
                                *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"
                            ></ng-container>
                        </li>
                    }
                </ol>
            </div>
        }
        <!-- Next speakers -->
        @if (otherWaitingSpeakers && otherWaitingSpeakers.length) {
            <div>
                <ol class="nextSpeakers">
                    @for (speaker of otherWaitingSpeakers; track speaker) {
                        <li>
                            <ng-container
                                *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"
                            ></ng-container>
                        </li>
                    }
                </ol>
            </div>
        }
    </div>
}
@if (data?.data && data.stable && (data.data.current || data.data.waiting?.length)) {
    <div id="overlay">
        <h3>{{ 'List of speakers' | translate }}</h3>
        @if (data.data.current) {
            <div class="currentSpeaker one-line">
                @if (!data.data.current.pause_time) {
                    <mat-icon>mic</mat-icon>
                }
                <ng-container
                    *ngTemplateOutlet="speakerTemplate; context: { speaker: data.data.current }"
                ></ng-container>
            </div>
        }
        <!-- Interposed questions -->
        <div class="interposed-questions">
            @if (interposedQuestions && interposedQuestions.length) {
                <ol>
                    @for (speaker of interposedQuestions; track speaker) {
                        <li class="one-line" [ngClass]="{ currentSpeaker: speaker.begin_time && !speaker.pause_time }">
                            @if (speaker.begin_time && !speaker.pause_time) {
                                <mat-icon class="micicon">mic</mat-icon>
                            }
                            <ng-container
                                *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"
                            ></ng-container>
                        </li>
                    }
                </ol>
            }
        </div>
        <!-- Next speakers -->
        @if (otherWaitingSpeakers && otherWaitingSpeakers.length) {
            <ol class="nextSpeakers">
                @for (speaker of otherWaitingSpeakers; track speaker) {
                    <li class="one-line">
                        <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"></ng-container>
                    </li>
                }
            </ol>
        }
    </div>
}

<ng-template #speakerTemplate let-speaker="speaker">
    @if (speaker.user) {
        {{ speaker.user }}
    }
    @if (!speaker.user && speaker.speech_state === SpeechState.INTERPOSED_QUESTION) {
        <i>
            {{ 'Unknown user' | translate }}
        </i>
    }
    @if (speaker.speech_state === SpeechState.PRO) {
        <mat-icon class="green-text">{{ getStateIcon(speaker) }}</mat-icon>
    } @else if (speaker.speech_state === SpeechState.CONTRA) {
        <mat-icon class="red-warning-text">{{ getStateIcon(speaker) }}</mat-icon>
    } @else if (speaker.speech_state) {
        <mat-icon>{{ getStateIcon(speaker) }}</mat-icon>
    }
    @if (speaker.point_of_order) {
        <mat-icon color="warn">warning</mat-icon>
    }
</ng-template>
