<div *ngIf="data?.data && !data.stable">
    <div class="slidetitle">
        <h1>
            {{ 'List of speakers' | translate }}
            <mat-icon *ngIf="data.data.closed">lock</mat-icon>
        </h1>
        <h2>
            {{ title }}
            <span *ngIf="waitingSpeakers !== null && waitingSpeakers > 1">
                &ndash; {{ waitingSpeakers }}
                <span>{{ 'Speakers' | translate }}</span>
            </span>
        </h2>
    </div>

    <!-- Last speakers -->
    <div *ngIf="data.data.finished && data.data.finished.length" class="lastSpeakers">
        <div *ngFor="let speaker of data.data.finished">
            <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"></ng-container>
        </div>
    </div>

    <!-- Current speaker -->
    <div *ngIf="data.data.current" class="currentSpeaker">
        <mat-icon class="micicon" *ngIf="!data.data.current.pause_time">mic</mat-icon>
        <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: data.data.current }"></ng-container>
    </div>

    <!-- Interposed questions -->
    <div class="interposed-questions" *ngIf="interposedQuestions && interposedQuestions">
        <ol>
            <li
                *ngFor="let speaker of interposedQuestions"
                [ngClass]="{ currentSpeaker: speaker.begin_time && !speaker.pause_time }"
            >
                <mat-icon *ngIf="speaker.begin_time && !speaker.pause_time" class="micicon">mic</mat-icon>
                <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"></ng-container>
            </li>
        </ol>
    </div>

    <!-- Next speakers -->
    <div *ngIf="otherWaitingSpeakers && otherWaitingSpeakers.length">
        <ol class="nextSpeakers">
            <li *ngFor="let speaker of otherWaitingSpeakers">
                <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"></ng-container>
            </li>
        </ol>
    </div>
</div>

<div id="overlay" *ngIf="data?.data && data.stable && (data.data.current || data.data.waiting?.length)">
    <h3>{{ 'List of speakers' | translate }}</h3>

    <div *ngIf="data.data.current" class="currentSpeaker one-line">
        <mat-icon *ngIf="!data.data.current.pause_time">mic</mat-icon>
        <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: data.data.current }"></ng-container>
    </div>

    <!-- Interposed questions -->
    <div class="interposed-questions">
        <ol *ngIf="interposedQuestions && interposedQuestions.length">
            <li
                *ngFor="let speaker of interposedQuestions"
                class="one-line"
                [ngClass]="{ currentSpeaker: speaker.begin_time && !speaker.pause_time }"
            >
                <mat-icon *ngIf="speaker.begin_time && !speaker.pause_time" class="micicon">mic</mat-icon>
                <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"></ng-container>
            </li>
        </ol>
    </div>

    <!-- Next speakers -->
    <ol *ngIf="otherWaitingSpeakers && otherWaitingSpeakers.length" class="nextSpeakers">
        <li *ngFor="let speaker of otherWaitingSpeakers" class="one-line">
            <ng-container *ngTemplateOutlet="speakerTemplate; context: { speaker: speaker }"></ng-container>
        </li>
    </ol>
</div>

<ng-template let-speaker="speaker" #speakerTemplate>
    <ng-container *ngIf="speaker.user">{{ speaker.user }}</ng-container>
    <i *ngIf="!speaker.user && speaker.speech_state === SpeechState.INTERPOSED_QUESTION">
        {{ 'Unknown user' | translate }}
    </i>
    <mat-icon *ngIf="speaker.speech_state === SpeechState.CONTRIBUTION">star</mat-icon>
    <mat-icon *ngIf="speaker.speech_state === SpeechState.PRO" class="green-text">add_circle</mat-icon>
    <mat-icon *ngIf="speaker.speech_state === SpeechState.CONTRA" class="red-warning-text">remove_circle</mat-icon>
    <mat-icon *ngIf="speaker.point_of_order" color="warn">warning</mat-icon>
    <mat-icon *ngIf="speaker.speech_state === SpeechState.INTERPOSED_QUESTION">help</mat-icon>
    <mat-icon *ngIf="speaker.speech_state === SpeechState.INTERVENTION">error</mat-icon>
</ng-template>
