.lastSpeakers {
    color: #9a9898;
    margin: 20px 0 10px 33px;
}

.currentSpeaker {
    font-weight: bold;
    margin: 20px 0 0;

    .micicon {
        vertical-align: middle;
    }
}

.interposed-questions {
    padding-left: 50px;

    ol {
        list-style-type: none;
        margin: 0;
        padding-left: 6px;

        li {
            list-style-position: inside;
            line-height: 150%;
        }
    }
    .currentSpeaker {
        margin: 0;
    }
}

.nextSpeakers {
    margin: 0;
    padding-left: 6px;
    margin-top: 36px !important;

    li {
        list-style-position: inside;
        line-height: 150%;
    }
}

.mat-icon {
    vertical-align: text-top;
}

#overlay {
    position: fixed;
    right: 50px;
    bottom: 20px;
    background-color: #d3d3d3;
    width: 37%;
    height: 210px;
    z-index: 20;
    border-radius: 7px;
    border: 1px solid #999;
    padding: 10px 10px 10px 25px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    h3 {
        margin-top: 0;
    }

    .one-line {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
