<div *ngIf="data?.data && !data.stable">
    <div class="slidetitle">
        <h1>
            {{ 'List of speakers' | translate }}
            <mat-icon *ngIf="data.data.closed">lock</mat-icon>
        </h1>
        <h2>
            {{ title }}
            <span *ngIf="waitingSpeakers !== null && waitingSpeakers > 0">
                &ndash; {{ waitingSpeakers }} <span>{{ 'Speakers' | translate }}</span>
            </span>
        </h2>
    </div>

    <!-- Current speaker -->
    <div *ngIf="data.data.current" class="currentSpeaker">
        <mat-icon class="micicon">mic</mat-icon>
        <ng-container *ngTemplateOutlet="speakerTemplate; context:{speaker:data.data.current}"></ng-container>
    </div>

    <!-- Next speakers -->
    <div *ngIf="data.data.waiting && data.data.waiting.length">
        <ol class="nextSpeakers">
            <li *ngFor="let speaker of data.data.waiting">
                <ng-container *ngTemplateOutlet="speakerTemplate; context:{speaker:speaker}"></ng-container>
            </li>
        </ol>
    </div>
</div>

<div id="overlay" *ngIf="data?.data && data.stable">
    <h3>{{ 'List of speakers' | translate }}</h3>

    <div *ngIf="data.data.current" class="currentSpeaker one-line">
        <mat-icon>mic</mat-icon>
        <ng-container *ngTemplateOutlet="speakerTemplate; context:{speaker:data.data.current}"></ng-container>
    </div>

    <ol *ngIf="data.data.waiting && data.data.waiting.length" class="nextSpeakers">
        <li *ngFor="let speaker of data.data.waiting" class="one-line">
            <ng-container *ngTemplateOutlet="speakerTemplate; context:{speaker:speaker}"></ng-container>
        </li>
    </ol>
</div>

<ng-template let-speaker="speaker" #speakerTemplate>
    {{ speaker.user }}
    <mat-icon *ngIf="speaker.speech_state === SpeechState.CONTRIBUTION">star</mat-icon>
    <mat-icon *ngIf="speaker.speech_state === SpeechState.PRO" class="green-text">add_circle</mat-icon>
    <mat-icon *ngIf="speaker.speech_state === SpeechState.CONTRA" class="red-warning-text">remove_circle</mat-icon>
    <mat-icon *ngIf="speaker.point_of_order" color="warn">warning</mat-icon>
</ng-template>
