.motion-text-toolbar-wrapper {
    min-height: 65px;

    .motion-text-controls {
        display: flex;
        align-items: center;
    }
}

#lineNumberItem {
    padding: 0 16px;

    .mat-icon {
        font-size: 18px;
    }
}
