<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar
        [hasMainButton]="true"
        [mainActionTooltip]="'New state' | translate"
        [nav]="false"
        (mainEvent)="onNewStateButton()"
    >
        <!-- Title -->
        <div class="title-slot">
            @if (workflow) {
                <h2>
                    {{ workflow.name }}
                </h2>
            }
        </div>

        <!-- Menu button -->
        <ng-container class="menu-slot">
            <button mat-icon-button [matMenuTriggerFor]="workflowMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </ng-container>
    </os-head-bar>

    <!-- Detail -->
    @if (workflow) {
        <div>
            <div class="title-line">
                <span>{{ 'First state' | translate }}:</span>
                @if (workflow.first_state) {
                    <span>{{ workflow.first_state.name }}</span>
                }
            </div>
            <div class="scrollable-matrix">
                <table mat-table [dataSource]="getTableDataSource()">
                    <ng-container matColumnDef="perm" sticky>
                        <th *matHeaderCellDef class="group-head-table-cell" mat-header-cell>
                            {{ 'Permissions' | translate }}
                        </th>
                        <td
                            *matCellDef="let perm"
                            #tooltip="matTooltip"
                            mat-cell
                            matTooltipClass="pre-wrap"
                            matTooltipPosition="after"
                            [matTooltip]="perm.help_text | translate"
                            [ngClass]="{ 'has-help-text': perm.help_text }"
                            (click)="tooltip.toggle()"
                            (mouseenter)="$event.stopImmediatePropagation()"
                            (mouseleave)="tooltip.hide()"
                        >
                            <div class="permission-name">
                                {{ perm.name | translate }}
                            </div>
                        </td>
                    </ng-container>
                    @for (state of workflowStates; track trackById($index, state)) {
                        <ng-container [matColumnDef]="getColumnDef(state)">
                            <th *matHeaderCellDef mat-header-cell (click)="onClickStateName(state)">
                                <div class="clickable-cell stretch-to-fill-parent">
                                    <div class="inner-table">{{ state.name }}</div>
                                </div>
                            </th>
                            <td *matCellDef="let perm" mat-cell>
                                @if (perm.type === 'check') {
                                    <div class="inner-table">
                                        <mat-checkbox
                                            [checked]="getValueOfState(state, perm)"
                                            (change)="onToggleStatePerm(state, perm.selector, $event)"
                                        ></mat-checkbox>
                                    </div>
                                }
                                @if (perm.type === 'input') {
                                    <div>
                                        <div class="inner-table">
                                            {{ getValueOfState(state, perm) || '–' }}
                                        </div>
                                        <div
                                            class="clickable-cell stretch-to-fill-parent"
                                            tabindex="0"
                                            (click)="onClickInputPerm(perm, state)"
                                            (keyup.enter)="onClickInputPerm(perm, state)"
                                        ></div>
                                    </div>
                                }
                                @if (perm.type === 'color') {
                                    <div class="inner-table">
                                        <mat-basic-chip
                                            [disableRipple]="true"
                                            [matMenuTriggerData]="{ state: state }"
                                            [matMenuTriggerFor]="colorMenu"
                                            [ngClass]="getValueOfState(state, perm)"
                                        >
                                            {{ getValueOfState(state, perm) | translate }}
                                        </mat-basic-chip>
                                    </div>
                                }
                                @if (perm.type === 'submitter_withdraw_state') {
                                    <div>
                                        <div class="inner-table">
                                            @if (!state.submitter_withdraw_state) {
                                                <div>-</div>
                                            }
                                            @if (state.submitter_withdraw_state) {
                                                <div>
                                                    {{ state.submitter_withdraw_state.name }}
                                                </div>
                                            }
                                        </div>
                                        <div
                                            class="clickable-cell stretch-to-fill-parent"
                                            [matMenuTriggerData]="{ state: state }"
                                            [matMenuTriggerFor]="submitterWithdrawStateMenu"
                                        ></div>
                                    </div>
                                }
                                @if (perm.type === 'state') {
                                    <div>
                                        <div class="inner-table">
                                            @if (!state.next_states.length) {
                                                <div>-</div>
                                            }
                                            @if (state.next_states.length) {
                                                <div>
                                                    <os-comma-separated-listing [list]="sortedNextStates(state)">
                                                        <ng-template let-next>{{ next.name }}</ng-template>
                                                    </os-comma-separated-listing>
                                                </div>
                                            }
                                        </div>
                                        <div
                                            class="clickable-cell stretch-to-fill-parent"
                                            [matMenuTriggerData]="{ state: state }"
                                            [matMenuTriggerFor]="nextStatesMenu"
                                        ></div>
                                    </div>
                                }
                                @if (perm.type === 'amendment') {
                                    <div>
                                        <div class="inner-table">
                                            {{ getMergeAmendmentLabel(state.merge_amendment_into_final) | translate }}
                                        </div>
                                        <div
                                            class="clickable-cell stretch-to-fill-parent"
                                            [matMenuTriggerData]="{ state: state }"
                                            [matMenuTriggerFor]="mergeAmendmentMenu"
                                        ></div>
                                    </div>
                                }
                                @if (perm.type === 'restrictions') {
                                    <div>
                                        <div class="inner-table">
                                            @if (!state.restrictions?.length) {
                                                <div>-</div>
                                            }
                                            @if (state.restrictions?.length) {
                                                <div>
                                                    <os-comma-separated-listing [list]="state.restrictions">
                                                        <!-- prettier-ignore -->
                                                        <ng-template let-res>{{ getRestrictionLabel(res) | translate }}</ng-template>
                                                    </os-comma-separated-listing>
                                                </div>
                                            }
                                        </div>
                                        <div
                                            class="clickable-cell stretch-to-fill-parent"
                                            [matMenuTriggerData]="{ state: state }"
                                            [matMenuTriggerFor]="restrictionMenu"
                                        ></div>
                                    </div>
                                }
                            </td>
                        </ng-container>
                    }
                    <tr *matHeaderRowDef="headerRowDef; sticky: true" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: headerRowDef" mat-row></tr>
                </table>
            </div>
        </div>
    }
</os-detail-view>

<!-- New state dialog -->
<ng-template #workflowDialog>
    <h1 mat-dialog-title>
        <span>{{ dialogData.title | translate }}</span>
    </h1>
    <mat-dialog-content class="os-form-card-mobile">
        <p>{{ dialogData.description | translate }}</p>
        <mat-form-field>
            <input matInput osAutofocus [(ngModel)]="dialogData.value" />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            color="accent"
            mat-button
            type="submit"
            [disabled]="dialogData.value === '' && !dialogData.allowEmpty"
            [mat-dialog-close]="{ action: 'update', value: dialogData.value }"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button mat-button type="button" [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
        @if (dialogData.deletable) {
            <button color="warn" mat-button type="button" [mat-dialog-close]="{ action: 'delete' }">
                <span>{{ 'Delete' | translate }}</span>
            </button>
        }
    </mat-dialog-actions>
</ng-template>

<!-- select color menu -->
<mat-menu #colorMenu="matMenu" matMenuContent>
    <ng-template let-state="state" matMenuContent>
        @for (color of labelColors; track color) {
            <button mat-menu-item (click)="onSelectColor(state, color)">
                @if (color === state.css_class) {
                    <mat-icon>check</mat-icon>
                }
                <span>{{ color | translate }}</span>
            </button>
        }
    </ng-template>
</mat-menu>

<!-- select next states menu -->
<mat-menu #submitterWithdrawStateMenu="matMenu" matMenuContent>
    <ng-template let-state="state" matMenuContent>
        @for (workflowState of workflow.states; track workflowState) {
            <div>
                @if (workflowState.name !== state.name) {
                    <button mat-menu-item (click)="onSetSubmitterWithdrawState(workflowState, state)">
                        @if (state.submitter_withdraw_state_id === workflowState.id) {
                            <mat-icon>check</mat-icon>
                        }
                        <span>{{ workflowState.name }}</span>
                    </button>
                }
            </div>
        }
    </ng-template>
</mat-menu>

<!-- select next states menu -->
<mat-menu #nextStatesMenu="matMenu" matMenuContent>
    <ng-template let-state="state" matMenuContent>
        @for (nextState of getWorkflowStates(); track nextState) {
            <div>
                @if (nextState.name !== state.name) {
                    <button mat-menu-item (click)="onSetNextState(nextState, state)">
                        @if (state.next_state_ids?.includes(nextState.id)) {
                            <mat-icon>check</mat-icon>
                        }
                        <span>{{ nextState.name }}</span>
                    </button>
                }
            </div>
        }
    </ng-template>
</mat-menu>

<!-- Select restriction menu -->
<mat-menu #restrictionMenu="matMenu" matMenuContent>
    <ng-template let-state="state" matMenuContent>
        @for (restriction of restrictions; track restriction) {
            <button mat-menu-item (click)="onSetRestriction(restriction.key, state)">
                @if (state.restrictions?.includes(restriction.key)) {
                    <mat-icon>check</mat-icon>
                }
                <span>{{ restriction.label | translate }}</span>
            </button>
        }
    </ng-template>
</mat-menu>

<!-- Select merge amendment menu -->
<mat-menu #mergeAmendmentMenu="matMenu" matMenuContent>
    <ng-template let-state="state" matMenuContent>
        @for (amendment of amendmentIntoFinal; track amendment) {
            <div>
                <button mat-menu-item (click)="setMergeAmendment(amendment.merge, state)">
                    @if (amendment.merge === state.merge_amendment_into_final) {
                        <mat-icon>check</mat-icon>
                    }
                    <span>{{ amendment.label | translate }}</span>
                </button>
            </div>
        }
    </ng-template>
</mat-menu>

<!-- More menu -->
<mat-menu #workflowMenu="matMenu">
    <ng-template matMenuContent>
        <div>
            <button mat-menu-item [routerLink]="['sort']">
                <mat-icon>sort</mat-icon>
                <span>{{ 'Sort' | translate }}</span>
            </button>
        </div>
        <div>
            <button mat-menu-item (click)="exportCurrentWorkflow()">
                <mat-icon>archive</mat-icon>
                <span>{{ 'Export' | translate }}</span>
            </button>
        </div>
        <div>
            <button mat-menu-item (click)="onEditWorkflowButton()">
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit' | translate }}</span>
            </button>
        </div>
    </ng-template>
</mat-menu>
