.structure-level-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 8px 25px 0 25px;
    .structure-level {
        width: 33%;
        margin-bottom: 26px;
        display: flex;
        flex-direction: row;
    }
    .structure-level-color {
        height: 3px;
        background-color: transparent;
        width: 100%;
        border-width: 0;
        border-radius: 7px;
    }
    .structure-level-time {
        font-size: 35px;
        line-height: 1;
    }
    .structure-level-name {
        line-height: 1;
    }
}
