<div *ngIf="data">
    <div class="slidetitle">
        <h1 translate>Speaking times</h1>
        <h2>
            <span>{{ data.data.title }}</span>
            – {{ structureLevelsAmount }}
            <span>{{ 'structure levels' | translate }}</span>
        </h2>
    </div>

    <table>
        <tr *ngFor="let i of rowsArray">
            <td *ngFor="let j of columnsArray">
                <ng-container *ngIf="getStructureLevel(i, j)">
                    <div class="ellipsis-overflow spacer-top-5">
                        {{ getStructureLevel(i, j).name }}
                        <br *ngIf="!shortDisplayStyle" />
                    </div>
                </ng-container>
            </td>
        </tr>
    </table>
</div>
