table {
    line-height: 1;
    width: 100%;
    table-layout: fixed;
}

td {
    min-width: 50%;
    vertical-align: top;
}

.ellipsis-overflow {
    padding-top: 2px;
}

.level-time-list {
    font-size: 80px;
    text-align: right;
    .color-line {
        border-top-color: transparent;
        border-top-width: 10px;
        border-top-style: solid;
        line-height: 1.25;
    }
}

.structure-level-name {
    text-align: right;
    font-size: 30px;
}
