.title-line {
    display: flex;

    .motion-title {
        position: relative;
        z-index: 1;

        // Grab the left padding of the parent element to catch hover-events for the :before element
        margin-left: -20px;
        padding-left: 20px;

        .change-title {
            position: relative;
            width: 0;
            height: 0;
        }

        .change-title:before {
            position: absolute;
            top: 18px;
            left: -17px;
            display: none;
            cursor: pointer;
            content: '';
            width: 16px;
            height: 16px;
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z" fill="%23337ab7"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
            background-size: 16px 16px;
        }

        &:hover .change-title:before {
            display: block;
        }

        .title-change-indicator {
            background-color: #0333ff;
            position: absolute;
            width: 4px;
            height: 32px;
            left: 10px;
            top: 5px;
            cursor: pointer;
        }
    }
}

.favorite-button {
    padding-bottom: 10px;

    .favorite-icon {
        vertical-align: middle;
    }
}
