<div class="title" *ngIf="motion">
    <os-projectable-title [model]="motion" [getTitleFn]="getTitleFn">
        <button
            prepend
            class="motion-title change-title primary-accent-by-theme"
            *osPerms="permission.motionCanManage; and: !titleChangeRecommendation"
            (click)="createTitleChangeRecommendation()"
            (keydown.enter)="createTitleChangeRecommendation()"
            matTooltip="{{ 'Title change recommendation' | translate }}"
            matTooltipPosition="left"
            mat-icon-button
        >
            <mat-icon>add_box</mat-icon>
        </button>
        <button
            append
            class="primary-accent-by-theme"
            mat-icon-button
            (click)="toggleFavorite()"
            matTooltip="{{ 'Mark as personal favorite' | translate }}"
            matTooltipPosition="right"
        >
            <mat-icon>{{ isFavorite() ? 'star' : 'star_border' }}</mat-icon>
        </button>
    </os-projectable-title>

    <!-- Sequential number -->
    <span class="main-nav-color title-font">
        <span *ngIf="showSequentialNumber">
            <span>{{ 'Sequential number' | translate }}</span>
            &nbsp;{{ motion.sequential_number }}
        </span>
        <span *ngIf="showSequentialNumber && parent">&#xb7;&nbsp;</span>
        <span *ngIf="parent">
            <span>
                <span>{{ 'Amendment to' | translate }}</span>
                &nbsp;
                <a [routerLink]="parent?.getDetailStateUrl()" [state]="{ back: 'true' }">
                    {{ parent.number || parent.title }}
                </a>
            </span>
        </span>
    </span>
</div>
