<div
    class="countdown overlay"
    *ngIf="data && !isFullscreen"
    [ngClass]="{ 'only-time-indicator': displayType === 'onlyTimeIndicator' }"
    [ngStyle]="{
        'margin-top': !projector || projector.show_header_footer ? '80px' : '30px'
    }"
>
    <os-countdown-time
        [countdown]="data.data"
        [displayType]="displayType"
        [warningTime]="data.data.warning_time"
    ></os-countdown-time>
    <div *ngIf="data.data.description" class="description">
        {{ data.data.description }}
    </div>
</div>
<div class="countdown fullscreen" *ngIf="data && isFullscreen">
    <div>
        <os-countdown-time
            [countdown]="data.data"
            [fullscreen]="true"
            [displayType]="displayType"
            [warningTime]="data.data.warning_time"
        ></os-countdown-time>
    </div>
</div>
