<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import accounts' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="hasFile && newCount" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>

<os-import-list-view [columns]="generateImportColumns" [importer]="importer" [possibleFields]="possibleFields">
    <!-- textarea import tab -->
    <mat-tab osImportListFirstTab>
        <ng-template matTabLabel>{{ 'Text import' | translate }}</ng-template>
        <ng-template matTabContent>
            <br />
            <div>
                <div>
                    <span>{{ 'Copy and paste your account names in this textbox.' | translate }}</span>
                    <br />
                    <span>{{ 'Keep each person in a single line.' | translate }}</span>
                    <br />
                    <span>{{ 'Comma separated names will be read as "Surname, given name(s)".' | translate }}</span>
                </div>
                <mat-form-field>
                    <textarea
                        matInput
                        osAutofocus
                        [formControl]="textAreaForm"
                        placeholder="{{ 'Insert participants here' | translate }}"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="3"
                        cdkAutosizeMaxRows="10"
                    ></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-button color="accent" (click)="parseTextArea()">
                    <span>{{ 'Preview' | translate }}</span>
                </button>
            </div>
        </ng-template>
    </mat-tab>
</os-import-list-view>
