<div class="os-datetimepicker-container">
    <mat-form-field class="datepicker-form-field">
        @if (title) {
        <mat-label>{{ title | translate }}</mat-label>
        }
        <input
            matInput
            [matDatepicker]="picker"
            [formControl]="contentForm"
            (click)="picker.open()"
            (keydown)="onKeyPressed($event)"
            readonly
        />
        @if (hintText) {
        <mat-hint>{{ hintText | translate }}</mat-hint>
        }
        <div class="suffix-wrapper" matSuffix>
            @if (showUpdateSuccessIcon) {
            <mat-icon class="red-warning-text">check_circle</mat-icon>
            }
            <mat-datepicker-toggle [for]="picker" (click)="$event.preventDefault()"></mat-datepicker-toggle>
        </div>
        @if (error) {
        <mat-error>{{ error }}</mat-error>
        }
        <mat-datepicker #picker>
            <mat-datepicker-actions>
                <button mat-button (click)="updateForm(null)" matDatepickerCancel color="warn">
                    {{ 'Clear' | translate }}
                </button>
                <button mat-button matDatepickerCancel>{{ 'Cancel' | translate }}</button>
                <button mat-raised-button color="primary" matDatepickerApply>{{ 'Apply' | translate }}</button>
            </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>
</div>
