.os-datetimepicker-container {
    margin-left: -20px;
    display: flex;

    .mat-mdc-form-field {
        flex: 1;
        box-sizing: border-box;
        padding-left: 20px;

        .suffix-wrapper {
            display: flex;
            align-items: center;

            .mat-datepicker-toggle {
                padding-left: 4px;
                padding-right: 4px;

                .mat-datepicker-toggle-default-icon {
                    width: 20px;
                    margin-bottom: 10px;
                }
            }

            .ngx-material-timepicker-toggle {
                width: 28px;
            }
        }
    }
}
