<os-head-bar [nav]="false" [hasMainButton]="false" [isSearchEnabled]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="settingsGroup">
            {{ settingsGroup.label | translate }}
        </h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button
            mat-button
            [disabled]="!hasChanges() || hasErrors()"
            (click)="saveAll()"
            matTooltip="{{ 'Save all changes' | translate }}"
        >
            <strong class="upper">{{ 'Save' | translate }}</strong>
        </button>
        <button type="button" mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<div class="spacer-top-20"></div>

<mat-card class="os-card spacer-bottom-60" *ngIf="settingsGroup">
    <div id="wrapper">
        <ng-container *ngFor="let subgroup of settingsGroup.subgroups; trackBy: trackByIndex">
            <h3 class="accent" *ngIf="settingsGroup.subgroups.length > 1">{{ subgroup.label | translate }}</h3>
            <ng-container *ngFor="let setting of subgroup.settings">
                <os-meeting-settings-group-detail-field
                    #settingsFields
                    *ngIf="isSettingsInput(setting) && !setting.hide"
                    (update)="updateSetting($event)"
                    [setting]="setting"
                    [value]="meeting && getDetailFieldValue(meeting, setting)"
                    [disabled]="isSettingDisabled(setting)"
                ></os-meeting-settings-group-detail-field>
                <div *ngIf="!isSettingsInput(setting)" class="settings-help-container">
                    <span *ngIf="setting.text" class="settings-help-text" [innerHtml]="setting.text | translate"></span>
                    <ng-container *ngIf="setting.buttonLabel && setting.buttonLink">
                        <a
                            mat-stroked-button
                            color="primary"
                            *ngIf="hasExternalLink(setting)"
                            [href]="getHelpLink(setting)"
                        >
                            {{ setting.buttonLabel | translate }}
                        </a>
                        <a
                            mat-stroked-button
                            color="primary"
                            *ngIf="!hasExternalLink(setting)"
                            [routerLink]="getHelpLink(setting)"
                        >
                            {{ setting.buttonLabel | translate }}
                        </a>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </div>
</mat-card>

<mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="resetAll()">
        <mat-icon>undo</mat-icon>
        <span>{{ 'Reset to default settings' | translate }}</span>
    </button>
</mat-menu>
