<os-head-bar [customMenu]="true" [nav]="false" [hasMainButton]="canManageCommittee" (mainEvent)="onCreateMeeting()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ (currentCommitteeObservable | async)?.name }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="committeeMenu" *ngIf="canManageCommittee">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <mat-menu #committeeMenu="matMenu">
        <ng-container *ngIf="currentCommitteeObservable | async as committee">
            <a mat-menu-item [routerLink]="['edit-committee']">
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit committee' | translate }}</span>
            </a>
            <a mat-menu-item type="button" [routerLink]="['import-meeting']">
                <mat-icon>cloud_upload</mat-icon>
                <span>
                    {{ 'Import meeting' | translate }}
                </span>
            </a>
            <mat-divider></mat-divider>
            <button mat-menu-item class="red-warning-text" (click)="onDeleteCommittee(committee)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </ng-container>
    </mat-menu>
</os-head-bar>

<ng-container *ngIf="currentCommitteeObservable | async as committee">
    <mat-card class="committee-details os-card">
        <!-- name -->
        <h1>
            {{ committee.name }}
        </h1>

        <!-- desc -->
        <div class="committee-description">
            {{ committee.description }}
        </div>

        <!-- forward motions to -->
        <os-committee-meta-info icon="file_upload" [title]="forwardLabel">
            <ul class="content-list">
                <li *ngFor="let forwarding of committee.forward_to_committees">
                    <a [routerLink]="['/', 'committees', forwarding.id]">
                        {{ forwarding.name }}
                    </a>
                </li>
            </ul>
        </os-committee-meta-info>

        <!-- receive motions from -->
        <os-committee-meta-info icon="file_download" [title]="receiveLabel">
            <ul class="content-list">
                <li *ngFor="let receive of committee.receive_forwardings_from_committees">
                    <a [routerLink]="['/', 'committees', receive.id]">
                        {{ receive.name }}
                    </a>
                </li>
            </ul>
        </os-committee-meta-info>

        <!-- Member amount -->
        <os-committee-meta-info icon="group" title="Members">
            {{ getMemberAmount(committee) }}
        </os-committee-meta-info>

        <os-committee-meta-info icon="engineering" title="Committee manager" *ngIf="canManageCommittee">
            <ng-container *ngIf="committee.getManagers() as managers">
                <ul class="content-list" *ngIf="managers.length > 0">
                    <li *ngFor="let manager of managers">
                        <a [routerLink]="['/', 'members', manager.id]">
                            {{ manager }}
                        </a>
                    </li>
                </ul>
                <i class="red-warning-text" *ngIf="managers.length === 0">
                    {{ 'This committee has no managers!' | translate }}
                </i>
            </ng-container>
        </os-committee-meta-info>
    </mat-card>

    <!-- Meetings -->
    <div class="meeting-list">
        <os-meeting-preview
            *ngFor="let meeting of getMeetingsSorted(committee)"
            class="meeting-preview-card"
            [meeting]="meeting"
            [committeeId]="committeeId"
        ></os-meeting-preview>
    </div>
</ng-container>
