<os-basic-list-view-table
    [listObservableProvider]="listObservableProvider"
    [listObservable]="listObservable"
    [startColumnDefinitions]="startColumnDefinitions"
    [endColumnDefinitions]="endColumnDefinitions"
    [sortService]="sortService"
    [filterService]="filterService"
    [multiSelect]="multiSelect"
    [hiddenInMobile]="hiddenInMobile"
    [restricted]="restricted"
    [selectedRows]="selectedRows"
    [columns]="columns"
    [filterProps]="filterProps"
    [listStorageKey]="listStorageKey"
    [showFilterBar]="showFilterBar"
    [alwaysShowMenu]="alwaysShowMenu"
    [showMenu]="showMenu"
    [vScrollFixed]="vScrollFixed"
>
    <ng-template #startColumnView>
        <!-- Projector column -->
        <div *pblNgridCellDef="'projector'; row as viewModel" class="fill ngrid-lg">
            <os-projector-button
                *osPerms="permission.projectorCanManage"
                class="projector-button"
                [object]="_getProjectorButtonObject(viewModel)"
                (changeEvent)="viewUpdateEvent()"
            ></os-projector-button>
            <!-- Projector indicator -->
            <div class="projector-button" *osPerms="permission.projectorCanManage; complement: true">
                <mat-icon
                    color="accent"
                    *ngIf="projectorService.isProjected(_getProjectorButtonObject(viewModel))"
                    matTooltip="{{ 'Currently projected' | translate }}"
                >
                    videocam
                </mat-icon>
            </div>
        </div>
    </ng-template>

    <ng-template #endColumnView>
        <!-- Speaker -->
        <div *pblNgridCellDef="'speaker'; row as viewModel; rowContext as rowContext" class="fill">
            <os-speaker-button
                [object]="_getSpeakerButtonObject(viewModel)"
                [disabled]="multiSelect"
            ></os-speaker-button>
        </div>
    </ng-template>
</os-basic-list-view-table>
