h2 {
    margin-bottom: 5px;
}
h3 {
    margin-bottom: 5px;
}
.element-name {
    margin-bottom: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
    overflow: inherit;
    min-width: auto;

    .content-wrapper {
        max-height: 400px;
        overflow: auto;
    }

    div.projectors {
        padding: 15px 0;

        mat-checkbox {
            padding: 0 10px;
        }

        .right {
            float: right;
            padding-right: 10px;
        }
    }
}
