<h2 mat-dialog-title>
    <span>{{ 'Project selection?' | translate }}</span>
</h2>

@if (projectors && projectors.length) {
    <mat-dialog-content>
        @if (descriptor) {
            <div class="element-name">
                {{ descriptor.getDialogTitle() }}
            </div>
        }
        @if (projectorSelectable) {
            <div class="content-wrapper">
                @for (projector of projectors; track projector) {
                    <div class="projectors" [ngClass]="isProjectedOn(projector) ? 'projected' : ''">
                        <mat-checkbox [checked]="isProjectorSelected(projector)" (change)="toggleProjector(projector)">
                            {{ projector.name }}
                        </mat-checkbox>
                        @if (isProjectedOn(projector)) {
                            <mat-icon matTooltipPosition="above" matTooltip="{{ 'Is already projected' | translate }}">
                                videocam
                            </mat-icon>
                        }
                    </div>
                }
            </div>
        }
        @if (options && options.length) {
            <mat-divider></mat-divider>
        }
        @if (options && options.length) {
            <div>
                @for (option of options; track option) {
                    <div>
                        @if (isDecisionOption(option)) {
                            <div>
                                <mat-checkbox
                                    [checked]="optionValues[option.key]"
                                    (change)="optionValues[option.key] = !optionValues[option.key]"
                                >
                                    {{ option.displayName | translate }}
                                </mat-checkbox>
                            </div>
                        }
                        @if (isChoiceOption(option)) {
                            <div>
                                <h3>{{ option.displayName | translate }}</h3>
                                <mat-radio-group [name]="option.key" [(ngModel)]="optionValues[option.key]">
                                    @for (choice of option.choices; track choice) {
                                        <mat-radio-button [value]="choice.value">
                                            {{ choice.displayName | translate }}
                                        </mat-radio-button>
                                    }
                                </mat-radio-group>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </mat-dialog-content>
}

<mat-dialog-actions>
    <button color="accent" mat-button osAutofocus (click)="onProject()">{{ 'Project' | translate }}</button>
    @if (projectorSelectable) {
        <button mat-button (click)="onAddToPreview()">{{ 'Add to queue' | translate }}</button>
    }
    @if (!projectorSelectable) {
        <button mat-button (click)="onHide()">{{ 'Hide' | translate }}</button>
    }
    <button mat-button (click)="onCancel()">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
