h2 {
    margin-bottom: 5px;
}
h3 {
    margin-bottom: 5px;
}
.element-name {
    margin-bottom: 10px;
}

div.projectors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
