<!-- Title -->
<h2 mat-dialog-title *ngIf="data">{{ data.title | translate }}</h2>
<div class="choice-dialog-content" mat-dialog-content>{{ data.content | translate }}</div>

<form [formGroup]="selectForm" *ngIf="data">
    <!-- Content -->
    <div mat-dialog-content *ngIf="data?.choices">
        <os-list-search-selector
            ngDefaultControl
            formControlName="select"
            [multiple]="data.multiSelect!"
            [sortFn]="data.sortFn"
            [inputListValues]="data.choices!"
            (selectionChanged)="onSelectionChanged($event)"
        ></os-list-search-selector>
    </div>

    <!-- Actions -->
    <div mat-dialog-actions class="padding-left-24 padding-bottom-24">
        <!-- Custom Actions -->
        <div *ngIf="data.actions as actions">
            <button
                class="custom-actions-button"
                *ngFor="let button of actions"
                mat-button
                (click)="closeDialog(true, button)"
                [disabled]="!hasSelection"
            >
                <span>{{ button | translate }}</span>
            </button>
        </div>

        <!-- Normal okay button -->
        <div *ngIf="!data?.actions">
            <button
                *ngIf="!data.multiSelect || data?.choices"
                mat-button
                (click)="closeDialog(true)"
                [disabled]="!hasSelection"
            >
                <span>OK</span>
            </button>
        </div>

        <!-- Clear choice button -->
        <button mat-button *ngIf="data.clearChoiceOption" (click)="closeDialog(true, data.clearChoiceOption)">
            <span>{{ data.clearChoiceOption | translate }}</span>
        </button>

        <!-- Cancel -->
        <button mat-button (click)="closeDialog(false)">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</form>
