.mat-mdc-form-field {
    width: 100%;
}

.choice-dialog-content {
    margin-bottom: 10px;
}

.custom-actions-button {
    margin-left: 0 !important;
}

.padding-top-bottom-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-left-24 {
    padding-left: 24px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}
