<div *osPerms="permission.userCanSee">
    @if (isViewingThis) {
    <div>
        <os-list
            [listObservable]="entitledUsersObservable"
            [filterProps]="filterPropsEntitledUsersTable"
            [fullScreen]="false"
            [filterService]="filter"
        >
            <!-- Content -->
            <div *osScrollingTableCell="'user_id'; row as entry">
                <div *osScrollingTableCellLabel>{{ 'Participant' | translate }}</div>
                @if (entry.user) {
                <div>
                    {{ entry.user.getShortName() }}
                    <div class="user-subtitle">
                        <!-- Level and number -->
                        @if (entry.user.getLevelAndNumber()) {
                        <div>
                            {{ entry.user.getLevelAndNumber() }}
                        </div>
                        }
                        <!-- Delegation -->
                        @if (entry.vote_delegated_to_user_id && !entry.delegation_user_merged_into_id) {
                        <div>
                            <span>
                                ({{ 'represented by' | translate }} {{ entry.vote_delegated_to.getShortName() }})
                            </span>
                        </div>
                        } @if (entry.vote_delegated_to_user_id && entry.delegation_user_merged_into_id) {
                        <div>
                            <span>
                                {{ entry.delegation_user_merged_into }}
                            </span>
                        </div>
                        }
                    </div>
                </div>
                } @if (!entry.user && entry.user_merged_into_id) {
                <div>
                    {{ entry.user_merged_into }}
                    <div class="user-subtitle">
                        <!-- Delegation -->
                        @if (entry.vote_delegated_to_user_id && !entry.delegation_user_merged_into_id) {
                        <div>
                            <span>
                                ({{ 'represented by' | translate }} {{ entry.vote_delegated_to?.getShortName() }})
                            </span>
                        </div>
                        } @if (entry.vote_delegated_to_user_id && entry.delegation_user_merged_into_id) {
                        <div>
                            <span>
                                {{ entry.delegation_user_merged_into }}
                            </span>
                        </div>
                        }
                    </div>
                </div>
                } @if (!entry.user && !entry.user_merged_into_id) {
                <i>{{ 'Anonymous' | translate }}</i>
                }
            </div>
            <div *osScrollingTableCell="'present'; row as entry; config: { width: 24 }">
                <div *osScrollingTableCellLabel>{{ 'Is present' | translate }}</div>
                @if (entry.present) {
                <mat-icon [matTooltip]="'Is present' | translate">check</mat-icon>
                }
            </div>
            <div *osScrollingTableCell="'voted'; row as entry; config: { width: 24 }">
                <div *osScrollingTableCellLabel>{{ 'Voted' | translate }}</div>
                @if (entry.voted) {
                <mat-icon [matTooltip]="'Vote submitted' | translate">how_to_vote</mat-icon>
                }
            </div>
        </os-list>
    </div>
    }
</div>
<div class="no-can-see-users" *osPerms="permission.userCanSee; complement: true">
    <i>{{ 'You are not allowed to see all entitled users.' | translate }}</i>
</div>
