<div *osPerms="permission.userCanSee">
    <os-list
        [listObservable]="entitledUsersObservable"
        [columns]="columnDefinitionEntitledUsersTable"
        [filterProps]="filterPropsEntitledUsersTable"
        [fullScreen]="false"
        [vScrollFixed]="-1"
    >
        <!-- Header -->
        <div *pblNgridHeaderCellDef="'*'; col as col">
            {{ col.label | translate }}
        </div>

        <!-- Content -->
        <div *pblNgridCellDef="'user_id'; row as entry">
            <span *ngIf="entry.user">{{ entry.user.getFullName() }}</span>
            <i *ngIf="!entry.user">{{ 'Anonymous' | translate }}</i>
        </div>
        <div *pblNgridCellDef="'voted'; row as entry">
            <mat-icon *ngIf="entry.voted">check_box</mat-icon>
        </div>
        <div *pblNgridCellDef="'delegation'; row as entry">
            <div *ngIf="entry.vote_delegated_to_id">
                <span class="repr-prefix">represented by</span>
                &nbsp;
                <span *ngIf="entry.vote_delegated_to">{{ entry.vote_delegated_to.getFullName() }}</span>
                <i *ngIf="!entry.vote_delegated_to">{{ 'Anonymous' | translate }}</i>
            </div>
        </div>
    </os-list>
</div>
<div class="no-can-see-users" *osPerms="permission.userCanSee; complement: true">
    <i>{{ 'You are not allowed to see all entitled users.' | translate }}</i>
</div>
