@use 'src/assets/styles/poll-styles-common.scss';

:host {
    outline: none;
}

.result-wrapper-wrapper {
    margin: 2em 25px;
}

.result-wrapper-wrapper-in-slide {
    margin: 2em 0px;
}

.result-wrapper {
    display: grid;
    grid-gap: 0 2em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
