@import 'src/assets/styles/poll-styles-common.scss';

:host {
    outline: none;
}

.result-wrapper-wrapper {
    margin: 2em 25px;

    .result-wrapper {
        cursor: pointer;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
