@if (poll) {
    <div class="result-wrapper">
        @if (hasResults && canSeeResults) {
            <os-single-option-chart-table
                [shouldShowHead]="true"
                [tableData]="tableData"
                [pollService]="motionPollService"
                [poll]="poll"
                [iconSize]="iconSize"
                [shouldShowEntitled]="isPercentBaseEntitled"
                [shouldShowEntitledPresent]="isPercentBaseEntitledPresent"
            ></os-single-option-chart-table>
        }
        <!-- No results yet -->
        @if (!hasResults) {
            <div>
                <i>
                    {{ 'No results yet.' | translate }}
                </i>
            </div>
        }
        <!-- Has results, but user cannot see -->
        @if (hasResults && !canSeeResults) {
            <div>
                <i>
                    {{ 'Counting of votes is in progress ...' | translate }}
                </i>
            </div>
        }
    </div>
}
