@if (poll) {
    <div
        [ngClass]="{
            'result-wrapper-wrapper': iconSize !== 'medium' && !inSlide,
            'result-wrapper-wrapper-in-slide': inSlide
        }"
    >
        <ng-content></ng-content>
        <div class="result-wrapper">
            @if (hasResults) {
                @if (canSeeResults) {
                    <os-single-option-chart-table
                        [iconSize]="iconSize"
                        [inSlide]="inSlide"
                        [poll]="poll"
                        [pollService]="motionPollService"
                        [shouldShowChartIcon]="showRequiredMajority"
                        [shouldShowEntitled]="isPercentBaseEntitled || shouldShowEntitled"
                        [shouldShowEntitledPresent]="isPercentBaseEntitledPresent"
                        [shouldShowHead]="true"
                        [tableData]="tableData"
                        [title]="title"
                    ></os-single-option-chart-table>
                } @else {
                    <div>
                        <i>
                            {{ 'Counting of votes is in progress ...' | translate }}
                        </i>
                    </div>
                }
            } @else if (isStarted) {
                <div>
                    <i>
                        {{ 'Voting in progress' | translate }}
                    </i>
                </div>
            } @else {
                <div>
                    <i>
                        {{ 'No results yet' | translate }}
                    </i>
                </div>
            }
        </div>
    </div>
}
