@import 'src/assets/styles/poll-styles-common.scss';

:host {
    outline: none;
}

.result-wrapper {
    cursor: pointer;
    display: grid;
    grid-gap: 2em;
    margin: 2em 25px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
