@if ((isConfStateNone | async) === false) {
    <div class="interaction-bar-wrapper">
        @if (isConfStateJitsi | async) {
            @if ((isJoined | async) && (showCallDialog | async) === false) {
                <!-- show dialog -->
                <button
                    mat-mini-fab
                    class="action-bar-shadow background-default"
                    matTooltip="{{ 'Show conference room' | translate }}"
                    @fadeIn
                    (click)="maximizeCallDialog()"
                >
                    <mat-icon
                        color="primary"
                        [@fadeInOut]="meetingActiveAnimHelper"
                        (@fadeInOut.done)="triggerCallHiddenAnimation()"
                    >
                        fullscreen
                    </mat-icon>
                </button>
            }
        }
        @if ((showLiveConf | async) && (isConfStateStream | async)) {
            <!-- Enter conference from stream -->
            @if (canEnterCall | async) {
                <button
                    mat-mini-fab
                    class="action-bar-shadow background-default"
                    matTooltip="{{ canEnterTooltip | translate }}"
                    (click)="enterConferenceRoom()"
                >
                    <mat-icon color="primary">phone</mat-icon>
                </button>
            }
            @if ((canEnterCall | async) === false) {
                <a
                    mat-mini-fab
                    class="action-bar-shadow fake-disabled"
                    [routerLink]="['/', activeMeetingId, 'autopilot']"
                    matTooltip="{{ cannotEnterTooltip | translate }}"
                >
                    <mat-icon color="primary">phone</mat-icon>
                </a>
            }
        }
        <!-- Call support button -->
        @if (showHelpDesk | async) {
            <button
                mat-mini-fab
                class="action-bar-shadow background-default"
                matTooltip="{{ 'Help desk' | translate }}"
                @fadeIn
                (click)="enterSupportRoom()"
            >
                <mat-icon color="primary">help_outline</mat-icon>
            </button>
        }
        <!-- applause button -->
        @if (showApplause | async) {
            <button
                mat-mini-fab
                class="action-bar-shadow background-default"
                matTooltip="{{ 'Give applause' | translate }}"
                [disabled]="sendsApplause | async"
                [matBadge]="applauseLevel | async"
                [matBadgeHidden]="(showApplauseLevel | async) === false"
                @fadeIn
                (click)="sendApplause()"
            >
                <mat-icon class="svg-primary" svgIcon="clapping_hands"></mat-icon>
            </button>
        }
    </div>
}
