@if (poll && isReady) {
    <!-- own voting -->
    @if (isUserPresent) {
        <ng-container [ngTemplateOutlet]="votingArea" />
    } @else {
        <div class="text-center">
            {{ 'You have to be present to vote.' | translate }}
        </div>
    }
    <!-- Delegations -->
    @if (isUserPresent && (voteDelegationEnabled | async)) {
        @for (delegation of delegations; track delegation.id) {
            <div class="poll-vote-delegation">
                <mat-divider></mat-divider>
                <ng-container
                    [ngTemplateOutlet]="votingArea"
                    [ngTemplateOutletContext]="{ delegation: delegation }"
                ></ng-container>
            </div>
        }
    }
}

<ng-template #votingArea let-delegation="delegation">
    @if (delegation) {
        <h4 class="poll-delegation-title">
            <span>{{ 'Voting right for' | translate }}</span>
            <span>&nbsp;{{ delegation.getFullName() }}</span>
        </h4>
    }
    @if ({ canVote: canVoteForObservable(delegation) | async }; as voting) {
        @if (voting.canVote && !(hasAlreadyVoted(delegation) || isDeliveringVote(delegation))) {
            <!-- Poll hint -->
            @if (pollHint) {
                <p>
                    <i>{{ pollHint }}</i>
                </p>
            }
            <div>
                @if (poll.type !== PollType.Analog) {
                    <div role="grid">
                        <!-- Leftover votes -->
                        @if (showAvailableVotes && !settings.hideLeftoverVotes) {
                            <div class="option-list-information-grid" role="row">
                                <b>{{ poll.option_ids.length }} {{ optionPluralLabel | translate }}</b>
                                <div></div>
                                <b class="text-right">
                                    {{ 'Available votes' | translate }}:
                                    <b>{{ getVotesAvailable(delegation) }}/{{ poll.max_votes_amount }}</b>
                                    @if (poll.min_votes_amount > 1) {
                                        <span>
                                            <br />
                                            {{ 'At least' | translate }}
                                            <b>{{ poll.min_votes_amount }}</b>
                                            {{ 'Votes' | translate }}
                                        </span>
                                    }
                                    @if (poll.max_votes_per_option > 1) {
                                        <span>
                                            <br />
                                            {{ 'At most' | translate }}
                                            <b>{{ poll.max_votes_per_option }}</b>
                                            {{ maxVotesPerOptionSuffix | translate }}
                                        </span>
                                    }
                                </b>
                            </div>
                        }
                        <!-- Options and Actions -->
                        @if (!(settings.isSplitSingleOption && !displayed_in_autopilot)) {
                            <div
                                role="row"
                                [ngClass]="{
                                    'yna-grid':
                                        ((poll.isListPoll && !isMobile) || !poll.isListPoll) &&
                                        (poll.isMethodYNA ||
                                            (settings.isSplitSingleOption &&
                                                displayed_in_autopilot &&
                                                poll.isMethodYNA)),
                                    'yna-grid-extended':
                                        poll.isMethodYNA &&
                                        isMobile &&
                                        !settings.isSplitSingleOption &&
                                        poll.isListPoll,
                                    'remove-grid-gap': settings.isSplitSingleOption && displayed_in_autopilot,
                                    'yn-grid':
                                        poll.isMethodYN ||
                                        (settings.isSplitSingleOption && displayed_in_autopilot && poll.isMethodYN),
                                    'single-vote-grid':
                                        (poll.isMethodY || poll.isMethodN) && poll.max_votes_per_option <= 1,
                                    'single-multi-vote-grid':
                                        (poll.isMethodY || poll.isMethodN) && poll.max_votes_per_option > 1
                                }"
                            >
                                @if (showAvailableVotes) {
                                    <div class="grid-name-area" role="gridcell"></div>
                                }
                                @if (
                                    !showAvailableVotes &&
                                    poll.option_ids &&
                                    !(settings.isSplitSingleOption && displayed_in_autopilot)
                                ) {
                                    <b class="grid-name-area" role="gridcell">
                                        @if (poll.isListPoll) {
                                            {{ poll.options[0]?.contentTitlesAsSortedArray.length }}
                                        } @else {
                                            {{ poll.option_ids.length }}
                                        }
                                        {{ optionPluralLabel | translate }}
                                    </b>
                                }
                                @if (!settings.isSplitSingleOption && poll.isListPoll && isMobile) {
                                    @if (poll.options[0]?.content_object) {
                                        <div class="vote-option-title-single" role="gridcell">
                                            <span>
                                                <span>{{ poll.options[0].content_object.getTitle() | translate }}</span>
                                            </span>
                                        </div>
                                    }
                                }
                                @for (
                                    action of voteActions.length ? voteActions : voteOptions;
                                    track action.vote;
                                    let i = $index
                                ) {
                                    @if (!poll.isTopicPoll) {
                                        <b class="poll-option-title" role="columnheader" [ngClass]="'option' + i">
                                            {{ action.label | translate }}
                                        </b>
                                    }
                                }
                            </div>
                        }
                        @if (poll.isMethodN && poll.hasGlobalOptionEnabled && poll.global_yes) {
                            @if (!settings.hideGlobalOptions) {
                                @for (option of globalVoteActions; track option.vote) {
                                    @if (option.vote === 'Y') {
                                        <div class="single-vote-grid" role="row">
                                            <div class="vote-option-title" role="rowheader">
                                                <span>
                                                    {{ getGlobalOptionName(option) | translate }}
                                                </span>
                                            </div>
                                            <div class="vote-button-area" role="gridcell">
                                                <button
                                                    class="vote-button"
                                                    mat-raised-button
                                                    [disabled]="isDeliveringVote(delegation)"
                                                    (click)="saveGlobalVote(option.vote, delegation)"
                                                >
                                                    <div
                                                        class="vote-button-content"
                                                        [ngClass]="getGlobalButtonContentClass(option, delegation)"
                                                    >
                                                        <os-custom-icon
                                                            class="vote-button-cross"
                                                            [customIcon]="drawnCross"
                                                            [ngClass]="getGlobalCSSClass(option, delegation)"
                                                        ></os-custom-icon>
                                                        <mat-icon class="vote-button-circle">
                                                            radio_button_unchecked
                                                        </mat-icon>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            @if (!settings.hideLeftoverVotes) {
                                <div class="or-divider-grid" role="row">
                                    <div class="hr-wrapper">
                                        <hr />
                                    </div>
                                    <div translate>OR</div>
                                    <div class="hr-wrapper">
                                        <hr />
                                    </div>
                                </div>
                            }
                        }

                        @for (option of poll.options; track option.id; let i = $index) {
                            <div
                                [attr.role]="poll.max_votes_per_option > 1 ? 'row' : 'row radiogroup'"
                                [ngClass]="{
                                    'yna-split-grid':
                                        settings.isSplitSingleOption && !displayed_in_autopilot && poll.isMethodYNA,
                                    'yn-split-grid':
                                        settings.isSplitSingleOption && !displayed_in_autopilot && poll.isMethodYN,
                                    'remove-grid-gap': settings.isSplitSingleOption && displayed_in_autopilot,
                                    'yna-grid':
                                        (!settings.isSplitSingleOption && poll.isMethodYNA) ||
                                        (settings.isSplitSingleOption && displayed_in_autopilot && poll.isMethodYNA),
                                    'yn-grid':
                                        (!settings.isSplitSingleOption && poll.isMethodYN) ||
                                        (settings.isSplitSingleOption && displayed_in_autopilot && poll.isMethodYN),
                                    'single-vote-grid':
                                        !settings.isSplitSingleOption &&
                                        (poll.isMethodY || poll.isMethodN) &&
                                        poll.max_votes_per_option <= 1,
                                    'single-multi-vote-grid':
                                        !settings.isSplitSingleOption &&
                                        (poll.isMethodY || poll.isMethodN) &&
                                        poll.max_votes_per_option > 1,
                                    'accentuated-background': i % 2 === 1
                                }"
                            >
                                @if (!settings.isSplitSingleOption && !option.isListOption) {
                                    <div
                                        class="vote-option-title grid-name-area"
                                        role="rowheader"
                                        [ngClass]="{ 'strike-text no': shouldStrikeOptionText(option, delegation) }"
                                    >
                                        @if (option.content_object) {
                                            <span>
                                                <span>{{ option.content_object.short_name }}</span>
                                                @if (option.content_object.getLevelAndNumber()) {
                                                    <div class="user-subtitle">
                                                        {{ option.content_object.getLevelAndNumber() }}
                                                    </div>
                                                }
                                            </span>
                                        }
                                        @if (option.text) {
                                            <span>
                                                <span>{{ option.text }}</span>
                                            </span>
                                        }
                                        @if (!option.content_object && !option.text) {
                                            <i>{{ noDataLabel | translate }}</i>
                                        }
                                    </div>
                                }
                                @if (!settings.isSplitSingleOption && option.isListOption && !isMobile) {
                                    <div class="vote-option-title grid-name-area" role="rowheader">
                                        @if (option.content_object) {
                                            <span>
                                                <span>{{ option.content_object.getTitle() | translate }}</span>
                                            </span>
                                        }
                                    </div>
                                }
                                @if (!poll.max_votes_per_option || poll.max_votes_per_option <= 1) {
                                    @for (
                                        action of voteActions.length ? voteActions : voteOptions;
                                        track action.vote;
                                        let i = $index
                                    ) {
                                        <div class="vote-button-area" role="gridcell" [ngClass]="'option' + i">
                                            <button
                                                class="vote-button"
                                                mat-raised-button
                                                role="radio"
                                                [ariaLabel]="action.label | translate"
                                                [attr.aria-checked]="
                                                    getActionButtonClass(action, option, delegation) ? 'true' : 'false'
                                                "
                                                [disabled]="isDeliveringVote(delegation)"
                                                (click)="saveSingleVote(option.id, action.vote, delegation)"
                                            >
                                                <div
                                                    class="vote-button-content"
                                                    [ngClass]="getActionButtonContentClass(action, option, delegation)"
                                                >
                                                    <os-custom-icon
                                                        class="vote-button-cross"
                                                        [customIcon]="drawnCross"
                                                        [ngClass]="getActionButtonClass(action, option, delegation)"
                                                    ></os-custom-icon>
                                                    <mat-icon class="vote-button-circle">
                                                        radio_button_unchecked
                                                    </mat-icon>
                                                </div>
                                            </button>
                                            @if (settings.isSplitSingleOption && !displayed_in_autopilot) {
                                                <span aria-hidden="true" class="vote-label">
                                                    {{ action.label | translate }}
                                                </span>
                                            }
                                        </div>
                                    }
                                }
                                @if (poll.max_votes_per_option > 1) {
                                    <mat-form-field appearance="outline" class="vote-input" role="gridcell">
                                        <input
                                            matInput
                                            max="{{ poll.max_votes_per_option }}"
                                            min="0"
                                            required
                                            type="number"
                                            value="0"
                                            [formControl]="getFormControl(option.id)"
                                            (change)="saveMultipleVotes(option.id, $event, delegation)"
                                        />
                                        <mat-error>
                                            {{ getErrorInVoteEntry(option.id) }}
                                        </mat-error>
                                    </mat-form-field>
                                }
                            </div>
                        }
                        @if (
                            (poll.isMethodY || poll.isMethodN || poll.isMethodYN) &&
                            poll.hasGlobalOptionEnabled &&
                            (!poll.isMethodN || poll.global_no || poll.global_abstain)
                        ) {
                            @if (!settings.hideLeftoverVotes) {
                                <div class="or-divider-grid" role="row">
                                    <div class="hr-wrapper">
                                        <hr />
                                    </div>
                                    <div translate>OR</div>
                                    <div class="hr-wrapper">
                                        <hr />
                                    </div>
                                </div>
                            }

                            <!-- global yes/no/abstain -->
                            @if (!settings.hideGlobalOptions) {
                                @for (option of globalVoteActions; track option.vote) {
                                    @if (!poll.isMethodN || option.vote !== 'Y') {
                                        <div class="single-vote-grid" role="row">
                                            <div class="vote-option-title" role="rowheader">
                                                <span>
                                                    {{ getGlobalOptionName(option) | translate }}
                                                </span>
                                            </div>
                                            <div class="vote-button-area" role="gridcell">
                                                <button
                                                    class="vote-button"
                                                    mat-raised-button
                                                    role="checkbox"
                                                    [attr.aria-checked]="
                                                        getGlobalCSSClass(option, delegation) ? 'true' : 'false'
                                                    "
                                                    [disabled]="isDeliveringVote(delegation)"
                                                    (click)="saveGlobalVote(option.vote, delegation)"
                                                >
                                                    <div
                                                        class="vote-button-content"
                                                        [ngClass]="getGlobalButtonContentClass(option, delegation)"
                                                    >
                                                        <os-custom-icon
                                                            class="vote-button-cross"
                                                            [customIcon]="drawnCross"
                                                            [ngClass]="getGlobalCSSClass(option, delegation)"
                                                        ></os-custom-icon>
                                                        <mat-icon class="vote-button-circle">
                                                            radio_button_unchecked
                                                        </mat-icon>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                }
            </div>
            <!-- Submit Vote -->
            @if (!settings.hideSendNow) {
                <ng-container [ngTemplateOutlet]="sendNow" [ngTemplateOutletContext]="{ delegation: delegation }" />
            }
        }
        <os-poll-cannot-vote-message
            [delegationUser]="delegation"
            [hasAlreadyVoted]="hasAlreadyVoted(delegation)"
            [hasDelegations]="!delegations.length"
            [isDeliveringVote]="isDeliveringVote(delegation)"
            [poll]="poll"
        />
    }
</ng-template>

<ng-template #sendNow let-delegation="delegation">
    <div class="centered-button-wrapper">
        <button
            color="accent"
            mat-flat-button
            [disabled]="getVotesCount(delegation) < minVotes"
            (click)="submitVote(delegation)"
        >
            <mat-icon>how_to_vote</mat-icon>
            <span>
                {{ 'Submit vote now' | translate }}
            </span>
        </button>
    </div>
</ng-template>
