@import 'src/assets/styles/poll-colors.scss';
@import 'src/assets/styles/poll-styles-common.scss';

%vote-grid-base {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    margin: 0 10px;

    .vote-button {
        min-width: 50px;
        min-height: 50px;

        .vote-button-content {
            margin: auto;
            display: grid;

            .vote-button-circle,
            .vote-button-cross {
                grid-column: 1;
                grid-row: 1;
            }

            .vote-button-circle {
                z-index: 0;
            }

            .vote-button-cross {
                z-index: 1;
                height: 24px;
                width: 24px;
                opacity: 0;
            }
        }

        .button-content-opaque {
            opacity: 0.5;
        }
    }

    .vote-button-area {
        display: inline-grid;
        justify-content: center;
    }

    .vote-button:hover {
        .vote-button-content {
            .vote-button-cross {
                opacity: 1;
            }
        }
    }

    .vote-label {
        margin-left: 10px;
    }

    .poll-option-title {
        text-align: center;
    }
}

.or-divider-grid {
    @extend %vote-grid-base;
    grid-template-areas: 'left or right';
    grid-template-columns: auto min-content auto;

    .hr-wrapper {
        height: 100%;
    }
}

.poll-vote-delegation {
    margin-top: 1em;

    .poll-delegation-title {
        font-weight: 500;
    }
}

.yn-grid {
    @extend %vote-grid-base;
    grid-template-areas: 'name yes no';
    grid-template-columns: auto var(--poll-option-title-width, 70px) var(--poll-option-title-width, 70px);
    // gap: 0 20px;
}

.yna-grid {
    @extend %vote-grid-base;
    grid-template-areas: 'name yes no abstain';
    grid-template-columns: auto var(--poll-option-title-width, 70px) var(--poll-option-title-width, 70px) var(
            --poll-option-title-width,
            70px
        );
    // gap: 0 20px;
}

.single-vote-grid {
    @extend %vote-grid-base;
    grid-template-areas: 'name yes';
    grid-template-columns: auto var(--poll-option-title-width, 70px);
    // gap: 0 20px;
}

.single-multi-vote-grid {
    @extend %vote-grid-base;
    grid-template-areas: 'name yes';
    grid-template-columns: auto 120px;
    // gap: 0 20px;
}

.global-option-grid {
    @extend %vote-grid-base;
    grid-template-columns: auto var(--poll-option-title-width, 70px);
}

.option-list-information-grid {
    @extend %vote-grid-base;
    grid-template-columns: max-content auto max-content;
}

.split-grid {
    display: grid;
    grid-gap: 20px;
    margin-top: 2em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    .vote-button-area {
        display: inline-grid;
        grid-gap: 1em;
        margin: auto;

        .vote-label {
            text-align: center;
        }
    }
}

.vote-option-title {
    grid-area: name;
    display: flex;
    span,
    i {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.strike-text {
    text-decoration: line-through;
}

.centered-button-wrapper {
    display: flex;
    text-align: center;
    margin-top: 20px;
    > * {
        margin-left: auto;
        margin-right: auto;
    }

    .vote-submitted {
        color: $votes-yes-color;
        font-size: 200%;
        overflow: visible;
    }
}

.vote-input {
    width: 120px;
}

.mat-divider-horizontal {
    position: initial;
}

.submit-vote-indicator {
    text-align: center;
    .mat-mdc-progress-spinner {
        display: block;
        margin: auto;
    }
}
