@import 'src/assets/styles/poll-colors.scss';
@import 'src/assets/styles/poll-styles-common.scss';

%vote-grid-base {
    display: grid;
    grid-gap: 10px;
    margin: 20px 0;

    .vote-button {
        min-width: 50px;
        min-height: 50px;
    }

    .vote-label {
        margin-left: 10px;
    }
}

.poll-vote-delegation {
    margin-top: 1em;

    .poll-delegation-title {
        font-weight: 500;
    }
}

.yn-grid {
    @extend %vote-grid-base;
    grid-template-areas:
        'name name'
        'yes no';
}

.yna-grid {
    @extend %vote-grid-base;
    grid-template-areas:
        'name name name'
        'yes no abstain';
}

.single-vote-grid {
    @extend %vote-grid-base;
    grid-template-areas: 'yes name';
    grid-template-columns: min-content auto;
}

.global-option-grid {
    @extend %vote-grid-base;
    grid-template-columns: auto auto;
}

.split-grid {
    display: grid;
    grid-gap: 20px;
    margin-top: 2em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    .vote-button-area {
        display: inline-grid;
        grid-gap: 1em;
        margin: auto;

        .vote-label {
            text-align: center;
        }
    }
}

.vote-option-title {
    grid-area: name;
    display: flex;
    span,
    i {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.centered-button-wrapper {
    display: flex;
    text-align: center;
    > * {
        margin-left: auto;
        margin-right: auto;
    }

    .vote-submitted {
        color: $votes-yes-color;
        font-size: 200%;
        overflow: visible;
    }
}

.vote-input {
    width: 120px;
}

.mat-divider-horizontal {
    position: initial;
}

.submit-vote-indicator {
    text-align: center;
    .mat-spinner {
        margin: auto;
    }
}
