<!-- Chip -->
<div>
    @if (title) {
        <h4>{{ title }}</h4>
    }
    <mat-menu #triggerMenu="matMenu">
        <ng-container [ngTemplateOutlet]="triggerTemplate"></ng-container>
    </mat-menu>
    <os-icon-container
        icon="create"
        iconTooltip="{{ 'Edit' | translate }}"
        [noFill]="true"
        [showIcon]="!editMode && canBeEdited && hasExtension"
        [swap]="true"
        (iconAction)="changeEditMode()"
    >
        @if (canBeEdited) {
            <mat-basic-chip class="pointer" disableRipple [matMenuTriggerFor]="triggerMenu" [ngClass]="classes">
                <span class="wrap-chip">{{ chipValue || '–' }}</span>
            </mat-basic-chip>
        } @else {
            <mat-basic-chip disableRipple [ngClass]="classes">
                <span class="wrap-chip">{{ chipValue }}</span>
            </mat-basic-chip>
        }
        @if (internal) {
            <span class="internal-suffix">({{ 'internal' | translate }})</span>
        }
    </os-icon-container>
</div>

<!-- Extension field -->
@if (hasExtension && editMode) {
    <div class="spacer-top-10 extension-container">
        <mat-form-field>
            <mat-label>{{ extensionLabel }}</mat-label>
            <input
                autocomplete="off"
                matInput
                osAutofocus
                [(ngModel)]="inputControl"
                (change)="inputChanged()"
                (keydown)="keyDownFunction($event)"
            />
        </mat-form-field>
        @for (list of searchLists; track list.label; let i = $index) {
            <mat-form-field [formGroup]="extensionFieldForm">
                <mat-label>{{ list.label ?? '' | translate }}</mat-label>
                <os-list-search-selector
                    formControlName="{{ 'list' + i + '' }}"
                    [disableOptionWhenFn]="getIsDisabled(i)"
                    [inputListValues]="list.observable"
                    [keepOpen]="list.keepOpen"
                    [wider]="list.wider"
                    (openedChange)="openedChange($event, i)"
                ></os-list-search-selector>
            </mat-form-field>
        }
        <button mat-button (click)="changeEditMode(true)">{{ 'Save' | translate }}</button>
        <button mat-button (click)="changeEditMode()">{{ 'Cancel' | translate }}</button>
    </div>
}

<!-- Optional template for the menu -->
<ng-template #triggerTemplate>
    <ng-content select=".trigger-menu" />
</ng-template>
