<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import participants' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="hasFile && newCount" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>

<os-import-list-view [columns]="generateImportColumns" [importer]="importer" [possibleFields]="possibleFields">
    <div *pblNgridCellDef="'newEntry.group_ids'; row as entry">
        <span *ngFor="let group of entry.newEntry.group_ids; let last = last">
            <span>
                <mat-icon color="accent">{{ group.id ? '' : 'add' }}</mat-icon>
            </span>
            <span>{{ group.name }}</span>
            <span *ngIf="!last">,</span>
        </span>
    </div>
</os-import-list-view>
