<div class="os-datetimepicker-container">
    <mat-form-field class="datepicker-form-field">
        @if (title) {
        <mat-label>{{ title | translate }}</mat-label>
        }
        <mat-date-range-input
            [formGroup]="contentForm"
            (click)="picker.open()"
            (keydown)="onKeyPressed($event)"
            [rangePicker]="picker"
        >
            <input matStartDate readonly formControlName="start" [placeholder]="'Start date' | translate" />
            <input matEndDate readonly formControlName="end" [placeholder]="'End date' | translate" />
        </mat-date-range-input>
        @if (hintText) {
        <mat-hint>{{ hintText | translate }}</mat-hint>
        }
        <div class="suffix-wrapper" matSuffix>
            @if (showUpdateSuccessIcon) {
            <mat-icon class="red-warning-text">check_circle</mat-icon>
            }
            <mat-datepicker-toggle [for]="picker" (click)="$event.preventDefault()"></mat-datepicker-toggle>
        </div>
        @if (error) {
        <mat-error>{{ error }}</mat-error>
        }
        <mat-date-range-picker #picker>
            <mat-datepicker-actions>
                <button mat-button (click)="updateForm({ start: null, end: null })" matDatepickerCancel color="warn">
                    {{ 'Clear' | translate }}
                </button>
                <button mat-button matDatepickerCancel>{{ 'Cancel' | translate }}</button>
                <button mat-raised-button color="primary" matDatepickerApply>{{ 'Apply' | translate }}</button>
            </mat-datepicker-actions>
        </mat-date-range-picker>
    </mat-form-field>
</div>
