<h2 mat-dialog-title>
    {{
        (isOneUser
            ? 'Are you sure you want to delete this account?'
            : 'Are you sure you want to delete these accounts?'
        ) | translate
    }}
</h2>

<div mat-dialog-content>
    <div class="user-delete-dialog-content">
        <cdk-virtual-scroll-viewport class="user-list-block" [itemSize]="30">
            <ng-container *cdkVirtualFor="let user of users">
                <ng-container *ngIf="isSectionTitle(user)">
                    <p class="section-title flex-vertical-center">
                        {{ user | translate }}
                    </p>
                </ng-container>
                <ng-container
                    *ngIf="!isSectionTitle(user)"
                    [ngTemplateOutlet]="userRowTemplate"
                    [ngTemplateOutletContext]="{ user: user }"
                ></ng-container>
            </ng-container>
        </cdk-virtual-scroll-viewport>
        <ng-container *ngIf="selectedUser">
            <mat-divider [vertical]="true"></mat-divider>
            <div class="user-detail-block">
                <ng-container *ngTemplateOutlet="userDetailTemplate; context: { user: selectedUser }"></ng-container>
            </div>
        </ng-container>
    </div>
</div>

<p mat-dialog-actions>
    <button mat-button color="warn" [matDialogClose]="true">{{ 'Yes, delete' | translate }}</button>
    <button mat-button [matDialogClose]="false">{{ 'Cancel' | translate }}</button>
</p>

<ng-template #userRowTemplate let-user="user">
    <div
        class="user padding-left-8 pointer"
        [ngClass]="{
            'background-primary': selectedUser === user
        }"
        (click)="selectedUser = user"
    >
        <div class="flex-vertical-center">
            <ng-container *ngIf="willBeRemoved(user)">
                <mat-icon></mat-icon>
            </ng-container>
            <ng-container *ngIf="!willBeRemoved(user)">
                <mat-icon *ngIf="!hasRelations(user)"></mat-icon>
                <mat-icon
                    *ngIf="hasRelations(user)"
                    color="warn"
                    matTooltip="{{ 'This account has relations to meetings or committees' | translate }}"
                >
                    warning
                </mat-icon>
            </ng-container>
            <p class="padding-left-8 padding-right-8 one-line">{{ user.name }}</p>
        </div>
        <mat-divider></mat-divider>
    </div>
</ng-template>

<ng-template #userDetailTemplate let-user="user">
    <div class="user-name padding-left-25">{{ user.name }}</div>
    <ng-container *ngIf="willBeRemoved(user)">
        <p class="padding-left-25">
            {{ 'This account will only be removed from this meeting' | translate }}
        </p>
    </ng-container>
    <ng-container *ngIf="!willBeRemoved(user)">
        <ng-container *ngIf="!user.error">
            <ng-container *ngIf="!hasRelations(user)">
                <p class="padding-left-25">
                    {{
                        'This account is not linked as candidate, submitter or speaker in any meeting and is not manager of any committee'
                            | translate
                    }}
                </p>
            </ng-container>
            <ng-container *ngIf="hasRelations(user)">
                <ul *ngFor="let meeting of user.meetings">
                    <p class="meeting-title">{{ meeting.name }}</p>
                    <li *ngIf="meeting.assignment_candidate_ids?.length">
                        {{ 'Is candidate' | translate }}
                    </li>
                    <li *ngIf="meeting.motion_submitter_ids?.length">
                        {{ 'Is submitter' | translate }}
                    </li>
                    <li *ngIf="meeting.speaker_ids?.length">
                        {{ 'Is speaker' | translate }}
                    </li>
                </ul>
                <ul *ngFor="let committee of getManagedCommittees(user)">
                    <p class="committee-title">{{ committee.name }}</p>
                    <li>{{ 'Is manager' | translate }}</li>
                </ul>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="user.error">
            <p class="padding-left-25">
                {{ user.error | translate }}
            </p>
        </ng-container>
    </ng-container>
</ng-template>
