<cdk-tree #osTree [dataSource]="dataSource" [treeControl]="treeControl">
    <cdk-tree-node
        *cdkTreeNodeDef="let node"
        [style.display]="shouldRender(node) ? 'flex' : 'none'"
        [style.padding-left]="node.level * 40 + 'px'"
        class="selection-tree-node"
    >
        <div class="selection-tree-node-container">
            <button *ngIf="!hasChild" mat-icon-button disabled></button>
            <button
                *ngIf="hasChild"
                mat-icon-button
                cdkTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name"
                (click)="node.isExpanded = !node.isExpanded"
                [style.visibility]="node.expandable ? 'visible' : 'hidden'"
            >
                <mat-icon
                    [style.transform]="node.isExpanded ? 'rotate(90deg)' : 'rotate(0deg)'"
                    class="mat-icon-rtl-mirror"
                >
                    chevron_right
                </mat-icon>
            </button>
            <div>
                <mat-checkbox
                    [checked]="isNodeChecked(node)"
                    [indeterminate]="isNodeIndeterminatedState(node)"
                    (change)="triggerChangeEvent(node, $event.checked)"
                >
                    {{ node.item.getTitle() }}
                </mat-checkbox>
            </div>
            <ng-container *ngTemplateOutlet="templateRef; context: { item: node.item }"></ng-container>
        </div>
    </cdk-tree-node>
</cdk-tree>
