<mat-dialog-content>
    @if (!selectedModule) {
        <os-grid>
            @for (module of choosableModules; track module) {
                <os-tile (clicked)="selectModule(module.getComponent())">
                    <div class="flex-center full-height easter-egg-tile" [osPaper]="2" [osPaperRaise]="true">
                        {{ module.label | translate }}
                    </div>
                </os-tile>
            }
            <os-tile>
                <div class="flex-center full-height easter-egg-tile" [osPaper]="2" [osPaperRaise]="true">
                    {{ 'Enter the developer mode' | translate }}
                </div>
            </os-tile>
        </os-grid>
    }
    @if (selectedModule) {
        <ng-template [cdkPortalOutlet]="selectedModule"></ng-template>
    }
</mat-dialog-content>
