<mat-dialog-content>
    <ng-container *ngIf="!selectedModule">
        <os-grid>
            <os-tile *ngFor="let module of choosableModules" (clicked)="selectModule(module.getComponent())">
                <div class="flex-center full-height easter-egg-tile" [osPaper]="2" [osPaperRaise]="true">
                    {{ module.label | translate }}
                </div>
            </os-tile>
            <os-tile>
                <div class="flex-center full-height easter-egg-tile" [osPaper]="2" [osPaperRaise]="true">
                    {{ 'Enter the developer mode' | translate }}
                </div>
            </os-tile>
        </os-grid>
    </ng-container>
    <ng-container *ngIf="selectedModule">
        <ng-template [cdkPortalOutlet]="selectedModule"></ng-template>
    </ng-container>
</mat-dialog-content>
