h4 {
    margin-bottom: -4px;
}

.small-button {
    width: 20px;
    height: 20px;

    line-height: inherit;

    mat-icon {
        font-size: 100%;
    }
}

.mat-chip {
    border-radius: 16px !important;
    padding: 5px 15px !important;
    margin: 5px 0;
    border: 1px solid #dddddd;
    height: auto;
    background: white;
}
