@if (isEditMode) {
    <form [formGroup]="contentForm">
        <os-editor formControlName="modified_final_version" required [hidden]="!isEditMode"></os-editor>
        @if (
            contentForm.get('modified_final_version')?.invalid &&
            (contentForm.get('modified_final_version')?.dirty || contentForm.get('modified_final_version')?.touched)
        ) {
            <div class="red-warning-text">
                {{ 'This field is required.' | translate }}
            </div>
        }
        <div class="apply-button">
            <button mat-stroked-button (click)="applyModifiedFinalVersion()">
                <span>{{ 'Apply' | translate }}</span>
            </button>
        </div>
    </form>
} @else {
    <div [innerHTML]="formattedText | trust: 'html'"></div>
}
