<h1 mat-dialog-title>{{ 'Insert/edit link' | translate }}</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <mat-label>{{ 'URL' | translate }}</mat-label>
            <input matInput [(ngModel)]="link.href" />
        </mat-form-field>
    </div>

    <div>
        @if (data.needsText) {
            <mat-form-field>
                <mat-label>{{ 'Text to display' | translate }}</mat-label>
                <input matInput [(ngModel)]="text" />
            </mat-form-field>
        }
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'Open link in ...' | translate }}</mat-label>
            <select matNativeControl [(ngModel)]="link.target">
                <option translate value="_self">Current window</option>
                <option translate value="_blank">New window</option>
            </select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button color="accent" mat-button translate [disabled]="!link.href" (click)="save()">Ok</button>
    @if (isUpdate) {
        <button color="warn" mat-button translate (click)="removeLink()">Remove link</button>
    }
    <button mat-button translate (click)="cancel()">Cancel</button>
</div>
