mat-form-field {
    width: 100%;
}

.mat-form-margin-top {
    margin-top: 10px;
}

.radio-group {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

.references {
    display: flex;

    .internalReferencesTitle {
        margin-bottom: 7px;
        justify-self: start;
    }

    .arrows {
        display: flex;
        margin-top: 7px;
        margin-left: auto;
        transform: translateX(-20px);
    }
}
