mat-form-field {
    width: 100%;
}

.radio-group {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

.references {
    display: flex;

    .arrows {
        display: flex;
        margin-top: 7px;
        margin-left: auto;
        transform: translateX(-20px);
    }
}

.title {
    padding: 0;
}

.title:focus {
    padding: 0;
    outline: none;
    box-shadow: none;
    & h1 {
        text-decoration: underline 2px #ccc;
        border-radius: 25px;
    }
}

.clear-button {
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
    margin-bottom: -20px;
}
