mat-form-field {
    width: 100%;
}

.matDialogLinkActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: -20px;
    margin-top: -15px;
}

.matDialogActions {
    margin-top: -15px;
}

.mat-form-margin-top {
    margin-top: 10px;
}

.radio-group {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

.internalReferences {
    display: flex;

    .internalReferencesTitle {
        margin-bottom: 7px;
        padding-right: 29px;
    }

    .internalReferencesArrows {
        display: flex;
        margin-top: 7px;
    }
}
