<div *osPerms="permission.userCanSee">
    <!-- @if (isViewingThis) {} -->
    {{ printShit() }}
    <div>
        <os-list
            [filterProps]="filterProps"
            [filterService]="poll().isNamed ? filter : null"
            [fullScreen]="false"
            [listObservable]="votesDataObservable"
        ></os-list>
    </div>
</div>
<div *osPerms="permission.userCanSee; complement: true" class="no-can-see-users">
    <i>{{ 'You are not allowed to see all entitled users.' | translate }}</i>
</div>
