<button type="button" mat-stroked-button (click)="countUsers()">
    {{ 'Count logged-in users' | translate }}
</button>
<div *ngIf="stats">
    <p>
        {{ userIds().length }} {{ 'logged-in users' | translate }} ({{ stats.activeUserHandles }}
        {{ 'connections' | translate }})
    </p>
    {{ 'Groups' | translate }}:
    <ul>
        <li *ngFor="let groupId of groupIds()">
            <strong>{{ stats.groups[groupId].name | translate }}:</strong>
            {{ userInGroupIds(groupId).length }} {{ 'logged-in users' | translate }} ({{
                stats.groups[groupId].userHandleCount
            }}
            {{ 'connections' | translate }})
        </li>
    </ul>
    <i>{{ 'last Updated' | translate }}: {{ lastUpdated / 1000 | localizedDate }}</i>
</div>
