<button type="button" mat-stroked-button (click)="countUsers()">
    @if (!stats) {
        <span>{{ 'Count logged-in users' | translate }}</span>
    }
    @if (stats) {
        <span>{{ 'Re-count logged-in users' | translate }}</span>
    }
</button>
@if (stats && stats.length >= 3) {
    <div>
        <div class="connection-selection">
            <mat-button-toggle-group [(ngModel)]="displayMode">
                <mat-button-toggle [value]="2" translate>All</mat-button-toggle>
                <mat-button-toggle [value]="0" translate>Normal (http/2)</mat-button-toggle>
                <mat-button-toggle [value]="1" translate>Fallback</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <i>{{ 'last updated' | translate }}: {{ lastUpdated / 1000 | localizedDate: 'PPpp' }}</i>
        <p>
            {{ userIds().length }} {{ 'logged-in users' | translate }} ({{ activeUserHandles }}
            {{ 'connections' | translate }})
        </p>
        {{ 'Groups' | translate }}:
        <ul>
            @for (groupId of groupIds(); track groupId) {
                <li>
                    <strong>{{ selectedStats.groups[groupId].name | translate }}:</strong>
                    {{ userInGroupIds(groupId).length }} {{ 'logged-in users' | translate }} ({{
                        selectedStats.groups[groupId].userHandleCount
                    }}
                    {{ 'connections' | translate }})
                </li>
            }
        </ul>
    </div>
}
