<div class="single-orga-statistic">
    <ng-container
        [ngTemplateOutlet]="singleStatistik"
        [ngTemplateOutletContext]="{
            label: activeMeetingsText,
            current: activeMeetings,
            max: maxMeetingsObservable | async
        }"
    ></ng-container>
</div>

<div class="single-orga-statistic">
    <ng-container
        [ngTemplateOutlet]="singleStatistik"
        [ngTemplateOutletContext]="{ label: activeUsersText, current: activeUsers, max: maxUserObservable | async }"
    ></ng-container>
</div>

<ng-template #singleStatistik let-label="label" let-current="current" let-max="max">
    <div *ngIf="max">{{ label | translate }}: {{ current }}/{{ max }}</div>
    <div *ngIf="!max">{{ label | translate }}: {{ current }}</div>
    <mat-progress-bar *ngIf="max" mode="determinate" [value]="(current / max) * 100"></mat-progress-bar>
</ng-template>
