<os-head-bar [nav]="false">
    <div class="title-slot">
        <h1 class="mock-h2">{{ poll()?.title }}</h1>
    </div>
</os-head-bar>

<mat-card class="os-card">
    <mat-card-content>
        <a [aria-label]="'Direct link to module of poll' | translate" [routerLink]="getDetailLink()">
            <h1>{{ poll()?.title }}</h1>
        </a>
        <mat-card-content>
            <div class="poll-title-wrapper">
                <div class="italic spacer-bottom-20">
                    <!-- Type and State -->
                    <div class="type-and-state italic spacer-bottom-20 break-word">
                        <span>
                            <os-icon-container
                                class="poll-type break-word"
                                color="primary"
                                icon="info"
                                size="large"
                                [showIcon]="poll().isAnonymous"
                                [swap]="true"
                            >
                                {{ poll().visibility | translateKey: 'poll_visibility' }}
                            </os-icon-container>
                            @if (poll().isAnonymous) {
                                <span>&nbsp;</span>
                            }
                            &middot;&nbsp;
                        </span>
                        <!-- State -->
                        <span class="break-word">
                            @if (poll().isEVoting && poll().canBeVotedFor()) {
                                {{ 'Voting in progress' | translate }}
                            } @else if (poll().isFinished && poll().published) {
                                {{ 'published' | translate }}
                            } @else {
                                {{ poll().state | translateKey: 'poll_state' }}
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div>Candidate table</div>
            <div>Single votes / entitled users tabs</div>
        </mat-card-content>
    </mat-card-content>
</mat-card>
<mat-card class="os-card">
    <mat-card-content><os-poll [poll]="poll()"></os-poll></mat-card-content>
</mat-card>
