<os-head-bar [nav]="false">
    <div class="title-slot">
        <h1 class="mock-h2">{{ poll()?.title }}</h1>
    </div>
</os-head-bar>

<mat-card class="os-card">
    <mat-card-content>
        <a [aria-label]="'Direct link to module of poll' | translate" [routerLink]="getDetailLink()">
            <h1>{{ poll()?.title }}</h1>
        </a>
    </mat-card-content>
</mat-card>
<mat-card class="os-card">
    <mat-card-content><os-poll [poll]="poll()"></os-poll></mat-card-content>
</mat-card>
<mat-card class="os-card">
    <mat-card-content>Result Details</mat-card-content>
</mat-card>
