@if (!disableRunning) {
    @for (poll of polls; track identifyPoll($index, poll)) {
        <ng-container [ngTemplateOutlet]="pollArea" [ngTemplateOutletContext]="{ poll: poll, last: false }" />
    }
}
@if (lastPublishedPoll && !hasProjectedModelOpenPolls && !disableFinished) {
    <ng-container [ngTemplateOutlet]="pollArea" [ngTemplateOutletContext]="{ poll: lastPublishedPoll, last: true }" />
}

<ng-template #pollArea let-last="last" let-poll="poll">
    <mat-card class="os-card">
        <mat-card-content>
            <os-poll [poll]="poll" />
        </mat-card-content>
    </mat-card>
</ng-template>
