<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar
        [nav]="false"
        [hasMainButton]="canManage()"
        mainButtonIcon="edit"
        [mainActionTooltip]="'Edit' | translate"
        [goBack]="true"
        (mainEvent)="editProjector()"
    >
        <!-- Title -->
        <div class="title-slot" *ngIf="projector">
            <os-icon-container
                [noWrap]="true"
                icon="lock"
                size="large"
                [showIcon]="projector.is_internal"
                [iconTooltip]="'Internal' | translate"
            >
                <h2>{{ projector.name }}</h2>
            </os-icon-container>
        </div>

        <!-- Menu -->
        <div class="menu-slot">
            <button
                *osPerms="permission.projectorCanManage"
                type="button"
                mat-icon-button
                [matMenuTriggerFor]="projectorExtraMenu"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <mat-menu #projectorExtraMenu="matMenu">
            <!-- Button for set reference projector -->
            <button
                mat-menu-item
                (click)="setProjectorAsReference()"
                *ngIf="projector"
                [disabled]="projector.isReferenceProjector"
            >
                <mat-icon *ngIf="projector.isReferenceProjector">star</mat-icon>
                <mat-icon *ngIf="!projector.isReferenceProjector">star_border</mat-icon>
                <span>{{ 'Set as reference projector' | translate }}</span>
            </button>

            <!-- delete -->
            <button mat-menu-item class="red-warning-text" (click)="onDeleteProjectorButton()">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </mat-menu>
    </os-head-bar>

    <os-grid *ngIf="projector">
        <os-tile [preferredSize]="projectorTileSizeLeft">
            <div *ngIf="projector" class="projector-detail-wrapper column-left">
                <a [routerLink]="['/', activeMeetingId, 'projectors', projector.sequential_number]" target="_blank">
                    <div id="projector">
                        <os-projector [projector]="projector"></os-projector>
                    </div>
                </a>
                <!-- Controls under the projector preview -->
                <div *osPerms="permission.projectorCanManage" class="control-group projector-controls">
                    <!-- scale down -->
                    <button
                        type="button"
                        mat-icon-button
                        (click)="scale(scrollScaleDirection.Down)"
                        matTooltip="{{ 'Zoom out' | translate }}"
                    >
                        <mat-icon>zoom_out</mat-icon>
                    </button>
                    <!-- scale up -->
                    <button
                        type="button"
                        mat-icon-button
                        (click)="scale(scrollScaleDirection.Up)"
                        matTooltip="{{ 'Zoom in' | translate }}"
                    >
                        <mat-icon>zoom_in</mat-icon>
                    </button>
                    <!-- reset button -->
                    <button
                        type="button"
                        mat-icon-button
                        (click)="scale(scrollScaleDirection.Reset)"
                        matTooltip="{{ 'Reset' | translate }}"
                    >
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <!-- scaling indicator -->
                    <div class="button-size" [ngClass]="projector.scale !== 0 ? 'warn' : ''">{{ projector.scale }}</div>

                    <!-- scroll viewport up (fast), decrease scroll counter -->
                    <button
                        [disabled]="projector.scroll <= 4"
                        type="button"
                        class="spacer-left-50"
                        mat-icon-button
                        (click)="scroll(scrollScaleDirection.Down, 5)"
                        matTooltip="{{ 'Scroll up (big step)' | translate }}"
                    >
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <!-- scroll viewport up (slow), decrease scroll counter -->
                    <button
                        [disabled]="projector.scroll <= 0"
                        type="button"
                        mat-icon-button
                        (click)="scroll(scrollScaleDirection.Down)"
                        matTooltip="{{ 'Scroll up' | translate }}"
                    >
                        <mat-icon>arrow_drop_up</mat-icon>
                    </button>
                    <!-- scroll viewport down (slow), increase scroll counter -->
                    <button
                        type="button"
                        mat-icon-button
                        (click)="scroll(scrollScaleDirection.Up)"
                        matTooltip="{{ 'Scroll down' | translate }}"
                    >
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <!-- scroll viewport down (fast), increase scroll counter -->
                    <button
                        type="button"
                        mat-icon-button
                        (click)="scroll(scrollScaleDirection.Up, 5)"
                        matTooltip="{{ 'Scroll down (big step)' | translate }}"
                    >
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                    <!-- reset button -->
                    <button
                        type="button"
                        mat-icon-button
                        (click)="scroll(scrollScaleDirection.Reset)"
                        matTooltip="{{ 'Reset' | translate }}"
                    >
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <!-- scroll indicator -->
                    <div class="button-size" [ngClass]="projector.scroll !== 0 ? 'warn' : ''">
                        {{ projector.scroll }}
                    </div>
                </div>
            </div>
        </os-tile>
        <os-tile [preferredSize]="projectorTileSizeRight">
            <div *osPerms="permission.projectorCanManage" style="padding-bottom: 60px">
                <div class="control-group slide-controls">
                    <button
                        type="button"
                        mat-button
                        (click)="projectPreviousSlide()"
                        [disabled]="projector.history_projections.length === 0"
                    >
                        <mat-icon>arrow_back</mat-icon>
                        <span>{{ 'Previous' | translate }}</span>
                    </button>
                    <button
                        type="button"
                        mat-button
                        (click)="projectNextSlide()"
                        [disabled]="projector.preview_projections.length === 0"
                    >
                        <span>{{ 'Next' | translate }}</span>
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                    <hr />
                </div>

                <div *ngIf="projector.nonStableCurrentProjections.length">
                    <mat-list>
                        <mat-list-item
                            *ngFor="let projection of projector.nonStableCurrentProjections"
                            class="current-element backgroundColorAccent"
                        >
                            <div class="emelent-grid">
                                <os-projector-button [blendIn]="true"></os-projector-button>

                                <!-- Slide title and subtitle -->
                                <span class="ellipsis-overflow current-element-text">
                                    {{ projection.getTitle() }}
                                    <os-icon-container
                                        class="subtitle-nocolor"
                                        size="small"
                                        icon="comment"
                                        [noWrap]="true"
                                        *ngIf="projection.getSubtitle()"
                                    >
                                        {{ projection.getSubtitle() }}
                                    </os-icon-container>
                                </span>

                                <button
                                    type="button"
                                    mat-icon-button
                                    (click)="deleteProjection(projection)"
                                    matTooltip="{{ 'Clear current projection' | translate }}"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>

                <!-- Expandable elements -->
                <mat-accordion multi="true">
                    <!-- Preview -->
                    <mat-expansion-panel *ngIf="projector.preview_projections.length" [expanded]="true" class="queue">
                        <mat-expansion-panel-header>
                            <span>{{ 'Queue' | translate }}</span>
                        </mat-expansion-panel-header>
                        <div
                            cdkDropList
                            class="drop-list"
                            [cdkDropListDisabled]="!editQueue"
                            (cdkDropListDropped)="onSortingChange($event)"
                        >
                            <div
                                class="drop-list-entry queue-element backgroundColorLight"
                                *ngFor="let projection of projector.preview_projections; let i = index"
                                cdkDrag
                            >
                                <div class="drag-handle" cdkDragHandle *ngIf="editQueue">
                                    <mat-icon>drag_indicator</mat-icon>
                                </div>
                                <div class="drag-handle no-drag" *ngIf="!editQueue">
                                    <os-projector-button
                                        [object]="projection.getProjectionBuildDescriptor()"
                                        [blendIn]="true"
                                        [onClickFn]="getProjectPreviewFunction(projection)"
                                    ></os-projector-button>
                                </div>
                                <!-- Slide title ans subtitle -->
                                <div class="name">
                                    <div class="ellipsis-overflow">
                                        {{ projection.getTitle() }}
                                    </div>
                                    <os-icon-container
                                        class="subtitle"
                                        size="small"
                                        icon="comment"
                                        [noWrap]="true"
                                        *ngIf="projection.getSubtitle()"
                                    >
                                        {{ projection.getSubtitle() }}
                                    </os-icon-container>
                                </div>
                                <div class="button-right" *ngIf="editQueue">
                                    <div>
                                        <button
                                            type="button"
                                            mat-icon-button
                                            (click)="deleteProjection(projection)"
                                            matTooltip="{{ 'Delete' | translate }}"
                                        >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-action-row>
                            <button
                                *ngIf="!editQueue"
                                type="button"
                                mat-icon-button
                                (click)="editQueue = !editQueue"
                                matTooltip="{{ 'Edit queue' | translate }}"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button
                                *ngIf="editQueue"
                                type="button"
                                mat-icon-button
                                (click)="editQueue = !editQueue"
                                matTooltip="{{ 'Close edit mode' | translate }}"
                            >
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <!-- countdowns -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <span>{{ 'Timers' | translate }}</span>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item *ngFor="let countdown of countdowns" class="larger-mat-list-item">
                                <os-countdown-controls
                                    class="dynamic-list-entry"
                                    [countdown]="countdown"
                                    [projector]="projector"
                                ></os-countdown-controls>
                            </mat-list-item>
                        </mat-list>
                        <mat-action-row>
                            <button type="button" mat-button (click)="createProjectorCountdown()">
                                <mat-icon>add</mat-icon>
                                <span>{{ 'Add timer' | translate }}</span>
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <!-- messages -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <span>{{ 'Messages' | translate }}</span>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item class="larger-mat-list-item">
                                <mat-card class="wifi-card" style="width: 100%">
                                    <div
                                        class="wifi-button-area"
                                        [ngClass]="{ 'spacer-bottom-10': !hasEnoughWiFiData }"
                                    >
                                        <os-projector-button
                                            [object]="wifiDataBuildDesc()"
                                            [projector]="projector"
                                            [disabled]="noWiFiData"
                                        ></os-projector-button>
                                        <span>{{ 'Wifi access data' | translate }}</span>
                                    </div>
                                    <small class="wifi-help-text" *ngIf="!hasEnoughWiFiData" translate>
                                        Attention: First enter the wifi data in [Settings > General]
                                    </small>
                                </mat-card>
                            </mat-list-item>
                            <mat-list-item *ngFor="let message of messages" class="larger-mat-list-item">
                                <os-message-controls
                                    class="dynamic-list-entry"
                                    [message]="message"
                                    [projector]="projector"
                                ></os-message-controls>
                            </mat-list-item>
                        </mat-list>
                        <mat-action-row>
                            <button type="button" mat-button (click)="createProjectorMessage()">
                                <mat-icon>add</mat-icon>
                                <span>{{ 'Add message' | translate }}</span>
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <!-- Current list of speakers -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <span>{{ 'Current list of speakers' | translate }}</span>
                        </mat-expansion-panel-header>

                        <!-- Slide-->
                        <mat-list *ngIf="projectorCount > 1 && !projector.isReferenceProjector">
                            <mat-list-item>
                                <os-projector-button
                                    [object]="getCurrentLoSBuildDesc(false)"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">{{ 'Slide' | translate }}</span>
                            </mat-list-item>
                        </mat-list>

                        <!-- Overlay -->
                        <mat-list>
                            <mat-list-item>
                                <os-projector-button
                                    [object]="getCurrentLoSBuildDesc(true)"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">{{ 'Overlay' | translate }}</span>
                            </mat-list-item>
                        </mat-list>

                        <!-- Chyron -->
                        <mat-list>
                            <mat-list-item>
                                <os-projector-button
                                    [object]="getChyronBuildDesc()"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">{{ 'Chyron' | translate }}</span>
                            </mat-list-item>
                        </mat-list>

                        <!-- Strucutre level current speaker -->
                        <mat-list>
                            <mat-list-item *ngIf="isStructureLevelCountdownEnabled()">
                                <os-projector-button
                                    [object]="getCurrentStructureLevel()"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">{{ 'Current speaker' | translate }}</span>
                            </mat-list-item>
                        </mat-list>

                        <!-- All structure level -->
                        <mat-list>
                            <mat-list-item
                                *ngIf="
                                    projectorCount > 1 &&
                                    !projector.isReferenceProjector &&
                                    isStructureLevelCountdownEnabled()
                                "
                            >
                                <os-projector-button
                                    [object]="getAllStructureLevel()"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">{{ 'All structure levels' | translate }}</span>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <!-- Current slide -->
                    <mat-expansion-panel *ngIf="hasSlide">
                        <mat-expansion-panel-header>
                            <span>{{ 'Current slide' | translate }}</span>
                        </mat-expansion-panel-header>

                        <!-- Toggle -->
                        <mat-list *ngIf="getCurrentProjectionLoSToggleBuildDesc()">
                            <mat-list-item>
                                <os-projector-button
                                    [object]="getCurrentProjectionLoSToggleBuildDesc()"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">
                                    {{
                                        currentProjectionIsLoS
                                            ? ('Toggle to parent item' | translate)
                                            : ('Toggle to list of speakers' | translate)
                                    }}
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <!-- History -->
                    <mat-expansion-panel *ngIf="projector.history_projections.length">
                        <mat-expansion-panel-header>
                            <span>{{ 'Previous slides' | translate }}</span>
                        </mat-expansion-panel-header>
                        <ol>
                            <li *ngFor="let projection of projector.history_projections">
                                {{ projection.getTitle() }}
                                {{ projection.getSubtitle() }}
                            </li>
                        </ol>
                    </mat-expansion-panel>

                    <os-presentation-controls
                        *ngIf="projectorObservable"
                        [projectorObservable]="projectorObservable"
                    ></os-presentation-controls>
                </mat-accordion>
            </div>
        </os-tile>
    </os-grid>
</os-detail-view>
