@use 'src/assets/styles/drag.scss';

.projector-inactive {
    color: #303030 !important;
    background-color: white !important;
}

.projector-detail-wrapper {
    #projector {
        border: 1px solid lightgrey;
    }
}

.mat-expansion-panel:not(.previous-slides) {
    --mat-expansion-container-text-size: 16px;
}

.column-left {
    /* Do not let the a tag ruin the projector */
    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.control-group {
    padding-left: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.back-n-forth-controls {
    .button-size {
        padding-left: 5px;
        display: inline-block;
    }
}

.slide-controls {
    text-align: center;
}

.projector-controls {
    text-align: right;
}

.current-element {
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    --mat-list-list-item-label-text-size: 16px;

    .element-grid {
        display: grid;
        width: 100%;
        grid-gap: 5px;
        grid-template-columns: min-content 1fr min-content;
        .mat-mdc-icon-button {
            display: inherit;
        }
        .current-element-text {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.queue {
    box-shadow: none !important;
    background: none !important;
    margin-bottom: 20px;

    .queue-element {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        .name {
            flex: 1;
            min-width: 0;
            margin-right: 10px;
        }
    }

    .mat-action-row {
        border-top-style: none;
        padding: 0;
    }
}

.drop-list {
    width: 100%;
    display: block;
    overflow: hidden;
}

.drop-list-entry {
    display: table;
    min-height: 50px;
    width: 100%;

    .drag-handle {
        display: table-cell;
        padding: 0 10px;
        line-height: 0px;
        vertical-align: middle;
        color: slategrey;
        cursor: move;

        &.no-drag {
            cursor: default;
        }
    }

    .button-right {
        display: table-cell;
        padding-right: 10px;
        vertical-align: middle;
        width: auto;
        white-space: nowrap;

        div {
            float: right;
        }
    }

    .name {
        display: table-cell;
        vertical-align: middle;
    }
}

.card-list {
    .card-list-item:not(:last-of-type) {
        margin-bottom: 8px;
    }
}

.drop-list-entry:last-child {
    border: none;
}

// move away from preview.
.drop-list.cdk-drop-list-dragging .drop-list-entry:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.larger-mat-list-item {
    height: auto;
}

.larger-mat-list-item + .larger-mat-list-item {
    margin-top: 15px;
}

.dynamic-list-entry {
    width: 100%;
}

.home-button-area,
.wifi-button-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.wifi-help-text {
    color: grey;
}

.projectable-entry {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
        margin-bottom: 16px;
    }
}
