<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar
        mainButtonIcon="edit"
        [goBack]="true"
        [hasMainButton]="canManage()"
        [mainActionTooltip]="'Edit' | translate"
        [nav]="false"
        (mainEvent)="editProjector()"
    >
        <!-- Title -->
        @if (projector) {
            <div class="title-slot">
                <os-icon-container
                    icon="lock"
                    size="large"
                    [iconTooltip]="'Internal' | translate"
                    [noWrap]="true"
                    [showIcon]="projector.is_internal"
                >
                    <h1 class="mock-h2">{{ projector.name }}</h1>
                </os-icon-container>
            </div>
        }

        <!-- Menu -->
        <ng-container class="menu-slot">
            <button
                *osPerms="permission.projectorCanManage"
                mat-icon-button
                type="button"
                [matMenuTriggerFor]="projectorExtraMenu"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        </ng-container>

        <mat-menu #projectorExtraMenu="matMenu">
            <!-- Button for set reference projector -->
            @if (projector) {
                <button mat-menu-item [disabled]="projector.isReferenceProjector" (click)="setProjectorAsReference()">
                    @if (projector.isReferenceProjector) {
                        <mat-icon>star</mat-icon>
                    }
                    @if (!projector.isReferenceProjector) {
                        <mat-icon>star_border</mat-icon>
                    }
                    <span>{{ 'Set as reference projector' | translate }}</span>
                </button>
            }

            <!-- delete -->
            <button class="red-warning-text" mat-menu-item (click)="onDeleteProjectorButton()">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </mat-menu>
    </os-head-bar>

    @if (projector) {
        <os-grid>
            <os-tile [preferredSize]="projectorTileSizeLeft">
                @if (projector) {
                    <div class="projector-detail-wrapper column-left">
                        <a
                            target="_blank"
                            [routerLink]="['/', activeMeetingId, 'projectors', projector.sequential_number]"
                        >
                            <div id="projector">
                                <os-projector
                                    [projector]="projector"
                                    (loadedSlidesEvent)="loadPDFSizes()"
                                ></os-projector>
                            </div>
                        </a>
                        <!-- Controls under the projector preview -->
                        <div *osPerms="permission.projectorCanManage" class="control-group projector-controls">
                            <!-- scale down -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Zoom out' | translate }}"
                                type="button"
                                (click)="scale(scrollScaleDirection.Down)"
                            >
                                <mat-icon>zoom_out</mat-icon>
                            </button>
                            <!-- scale up -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Zoom in' | translate }}"
                                type="button"
                                (click)="scale(scrollScaleDirection.Up)"
                            >
                                <mat-icon>zoom_in</mat-icon>
                            </button>
                            <!-- reset button -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Reset' | translate }}"
                                type="button"
                                (click)="scale(scrollScaleDirection.Reset)"
                            >
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <!-- scaling indicator -->
                            <span class="button-size" [ngClass]="projector.scale !== 0 ? 'warn' : ''">
                                {{ projector.scale }}
                            </span>
                            <!-- scroll viewport up (projector-height), decrease scroll counter -->
                            @if (isPdfProjection) {
                                <button
                                    class="spacer-left-50"
                                    mat-icon-button
                                    matTooltip="{{ 'Previous page' | translate }}"
                                    type="button"
                                    [disabled]="projector.scroll <= 4"
                                    (click)="scrollPdf(scrollScaleDirection.Down)"
                                >
                                    <mat-icon>keyboard_double_arrow_up</mat-icon>
                                </button>
                            }
                            <!-- scroll viewport up (fast), decrease scroll counter -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Scroll up (big step)' | translate }}"
                                type="button"
                                [disabled]="projector.scroll <= 4"
                                (click)="scroll(scrollScaleDirection.Down, 5)"
                            >
                                <mat-icon>arrow_upward</mat-icon>
                            </button>
                            <!-- scroll viewport up (slow), decrease scroll counter -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Scroll up' | translate }}"
                                type="button"
                                [disabled]="projector.scroll <= 0"
                                (click)="scroll(scrollScaleDirection.Down)"
                            >
                                <mat-icon>arrow_drop_up</mat-icon>
                            </button>
                            <!-- scroll viewport down (slow), increase scroll counter -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Scroll down' | translate }}"
                                type="button"
                                (click)="scroll(scrollScaleDirection.Up)"
                            >
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                            <!-- scroll viewport down (fast), increase scroll counter -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Scroll down (big step)' | translate }}"
                                type="button"
                                (click)="scroll(scrollScaleDirection.Up, 5)"
                            >
                                <mat-icon>arrow_downward</mat-icon>
                            </button>
                            <!-- scroll viewport down (projector-height), increase scroll counter -->
                            @if (isPdfProjection) {
                                <button
                                    mat-icon-button
                                    matTooltip="{{ 'Next page' | translate }}"
                                    type="button"
                                    (click)="scrollPdf(scrollScaleDirection.Up)"
                                >
                                    <mat-icon>keyboard_double_arrow_down</mat-icon>
                                </button>
                            }
                            <!-- reset button -->
                            <button
                                mat-icon-button
                                matTooltip="{{ 'Reset' | translate }}"
                                type="button"
                                (click)="scroll(scrollScaleDirection.Reset)"
                            >
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <!-- scroll indicator -->
                            <span class="button-size" [ngClass]="projector.scroll !== 0 ? 'warn' : ''">
                                {{ projectorScroll }}
                            </span>
                        </div>
                    </div>
                }
            </os-tile>
            <os-tile [preferredSize]="projectorTileSizeRight">
                <div *osPerms="permission.projectorCanManage" style="padding-bottom: 60px">
                    <div class="back-n-forth-controls slide-controls">
                        <button
                            mat-button
                            type="button"
                            [disabled]="projector.history_projections.length === 0"
                            (click)="projectPreviousSlide()"
                        >
                            <mat-icon>arrow_back</mat-icon>
                            {{ 'Previous' | translate }}
                        </button>
                        <button
                            mat-button
                            type="button"
                            [disabled]="projector.preview_projections.length === 0"
                            (click)="projectNextSlide()"
                        >
                            {{ 'Next' | translate }}
                            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
                        </button>
                        <hr />
                    </div>
                    @if (projector.nonStableCurrentProjections.length) {
                        <div>
                            <mat-list>
                                @for (projection of projector.nonStableCurrentProjections; track projection) {
                                    <mat-list-item class="current-element backgroundColorAccent">
                                        <div class="element-grid">
                                            <os-projector-button [blendIn]="true"></os-projector-button>
                                            <!-- Slide title and subtitle -->
                                            <span class="ellipsis-overflow current-element-text">
                                                {{ projection.getTitle() }}
                                                @if (projection.getSubtitle()) {
                                                    <os-icon-container
                                                        class="subtitle-nocolor"
                                                        icon="comment"
                                                        size="small"
                                                        [noWrap]="true"
                                                    >
                                                        {{ projection.getSubtitle() }}
                                                    </os-icon-container>
                                                }
                                            </span>
                                            <button
                                                mat-icon-button
                                                matTooltip="{{ 'Clear current projection' | translate }}"
                                                type="button"
                                                (click)="deleteProjection(projection)"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </div>
                                    </mat-list-item>
                                }
                            </mat-list>
                        </div>
                    }
                    <!-- Expandable elements -->
                    <mat-accordion multi="true">
                        <!-- Preview -->
                        @if (projector.preview_projections.length) {
                            <mat-expansion-panel class="queue" [expanded]="true">
                                <mat-expansion-panel-header>
                                    <span>{{ 'Queue' | translate }}</span>
                                </mat-expansion-panel-header>
                                <div
                                    cdkDropList
                                    class="drop-list"
                                    [cdkDropListDisabled]="!editQueue"
                                    (cdkDropListDropped)="onSortingChange($event)"
                                >
                                    @for (
                                        projection of projector.preview_projections;
                                        track projection;
                                        let i = $index
                                    ) {
                                        <div cdkDrag class="drop-list-entry queue-element backgroundColorLight">
                                            @if (editQueue) {
                                                <div cdkDragHandle class="drag-handle">
                                                    <mat-icon>drag_indicator</mat-icon>
                                                </div>
                                            }
                                            @if (!editQueue) {
                                                <div class="drag-handle no-drag">
                                                    <os-projector-button
                                                        [blendIn]="true"
                                                        [object]="projection.getProjectionBuildDescriptor()"
                                                        [onClickFn]="getProjectPreviewFunction(projection)"
                                                    ></os-projector-button>
                                                </div>
                                            }
                                            <!-- Slide title ans subtitle -->
                                            <div class="name">
                                                <div class="ellipsis-overflow">
                                                    {{ projection.getTitle() }}
                                                </div>
                                                @if (projection.getSubtitle()) {
                                                    <os-icon-container
                                                        class="subtitle"
                                                        icon="comment"
                                                        size="small"
                                                        [noWrap]="true"
                                                    >
                                                        {{ projection.getSubtitle() }}
                                                    </os-icon-container>
                                                }
                                            </div>
                                            @if (editQueue) {
                                                <div class="button-right">
                                                    <div>
                                                        <button
                                                            mat-icon-button
                                                            matTooltip="{{ 'Delete' | translate }}"
                                                            type="button"
                                                            (click)="deleteProjection(projection)"
                                                        >
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                                <mat-action-row>
                                    @if (!editQueue) {
                                        <button
                                            mat-icon-button
                                            matTooltip="{{ 'Edit queue' | translate }}"
                                            type="button"
                                            (click)="editQueue = !editQueue"
                                        >
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    }
                                    @if (editQueue) {
                                        <button
                                            mat-icon-button
                                            matTooltip="{{ 'Close edit mode' | translate }}"
                                            type="button"
                                            (click)="editQueue = !editQueue"
                                        >
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    }
                                </mat-action-row>
                            </mat-expansion-panel>
                        }
                        <!-- countdowns -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <span>{{ 'Timers' | translate }}</span>
                            </mat-expansion-panel-header>
                            <div class="card-list">
                                @for (countdown of countdowns; track countdown) {
                                    <div class="card-list-item">
                                        <os-countdown-controls
                                            class="dynamic-list-entry"
                                            [countdown]="countdown"
                                            [projector]="projector"
                                        ></os-countdown-controls>
                                    </div>
                                }
                            </div>
                            <mat-action-row>
                                <button mat-button type="button" (click)="createProjectorCountdown()">
                                    <mat-icon>add</mat-icon>
                                    <span>{{ 'Add timer' | translate }}</span>
                                </button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        <!-- messages -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <span>{{ 'Messages' | translate }}</span>
                            </mat-expansion-panel-header>
                            <div class="card-list">
                                <div class="card-list-item">
                                    <mat-card class="wifi-card" style="width: 100%">
                                        <mat-card-content>
                                            <div
                                                class="wifi-button-area"
                                                [ngClass]="{ 'spacer-bottom-10': !hasEnoughWiFiData }"
                                            >
                                                <os-projector-button
                                                    [disabled]="noWiFiData"
                                                    [object]="wifiDataBuildDesc()"
                                                    [projector]="projector"
                                                ></os-projector-button>
                                                <span>{{ 'Wifi access data' | translate }}</span>
                                            </div>
                                            @if (!hasEnoughWiFiData) {
                                                <small class="wifi-help-text" translate>
                                                    Attention: First enter the wifi data in [Settings > General]
                                                </small>
                                            }
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                @for (message of messages; track message) {
                                    <div class="card-list-item">
                                        <os-message-controls
                                            class="dynamic-list-entry"
                                            [message]="message"
                                            [projector]="projector"
                                        ></os-message-controls>
                                    </div>
                                }
                            </div>
                            <mat-action-row>
                                <button mat-button type="button" (click)="createProjectorMessage()">
                                    <mat-icon>add</mat-icon>
                                    <span>{{ 'Add message' | translate }}</span>
                                </button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        <!-- Current list of speakers -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <span>{{ 'Current list of speakers' | translate }}</span>
                            </mat-expansion-panel-header>
                            <!-- Slide-->
                            @if (projectorCount > 1 && !projector.isReferenceProjector) {
                                <div class="projectable-entry">
                                    <os-projector-button
                                        [object]="getCurrentLoSBuildDesc(false)"
                                        [projector]="projector"
                                    ></os-projector-button>
                                    <span class="spacer-left-10">{{ 'List of speakers' | translate }}</span>
                                </div>
                            }
                            <!-- Overlay -->
                            <div class="projectable-entry">
                                <os-projector-button
                                    [object]="getCurrentLoSBuildDesc(true)"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">{{ 'List of speakers as overlay' | translate }}</span>
                            </div>
                            <!-- Chyron -->
                            <div class="projectable-entry">
                                <os-projector-button
                                    [object]="getChyronBuildDesc()"
                                    [projector]="projector"
                                    [useToggleDialog]="true"
                                ></os-projector-button>
                                <span class="spacer-left-10">{{ 'Chyron' | translate }}</span>
                            </div>
                            <!-- Current speaker -->
                            <div class="projectable-entry">
                                <os-projector-button
                                    [object]="getCurrentStructureLevel()"
                                    [projector]="projector"
                                ></os-projector-button>
                                <span class="spacer-left-10">
                                    {{ 'Speaking time – current contribution' | translate }}
                                </span>
                            </div>
                            <!-- All structure level -->
                            @if (
                                projectorCount > 1 &&
                                !projector.isReferenceProjector &&
                                isStructureLevelCountdownEnabled()
                            ) {
                                <div class="projectable-entry">
                                    <os-projector-button
                                        [object]="getAllStructureLevel()"
                                        [projector]="projector"
                                    ></os-projector-button>
                                    <span class="spacer-left-10">
                                        {{ 'Speaking times – overview structure levels' | translate }}
                                    </span>
                                </div>
                            }
                        </mat-expansion-panel>
                        <!-- Current slide -->
                        @if (hasSlide && getCurrentProjectionLoSToggleBuildDesc()) {
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <span>{{ 'Current slide' | translate }}</span>
                                </mat-expansion-panel-header>
                                <!-- Toggle -->
                                <div class="projectable-entry">
                                    <os-projector-button
                                        [object]="getCurrentProjectionLoSToggleBuildDesc()"
                                        [projector]="projector"
                                    ></os-projector-button>
                                    <span class="spacer-left-10">
                                        {{
                                            currentProjectionIsLoS
                                                ? ('Toggle to parent item' | translate)
                                                : ('Toggle to list of speakers' | translate)
                                        }}
                                    </span>
                                </div>
                            </mat-expansion-panel>
                        }
                        <!-- History -->
                        @if (projector.history_projections.length) {
                            <mat-expansion-panel class="previous-slides">
                                <mat-expansion-panel-header>
                                    <span>{{ 'Previous slides' | translate }}</span>
                                </mat-expansion-panel-header>
                                <ol>
                                    @for (projection of projector.history_projections; track projection) {
                                        <li>
                                            {{ projection.getTitle() }}
                                            {{ projection.getSubtitle() }}
                                        </li>
                                    }
                                </ol>
                            </mat-expansion-panel>
                        }
                        @if (projectorObservable) {
                            <os-presentation-controls
                                [projectorObservable]="projectorObservable"
                            ></os-presentation-controls>
                        }
                    </mat-accordion>
                </div>
            </os-tile>
        </os-grid>
    }
</os-detail-view>
