<!-- A summary of all changes -->
@if (changes?.length) {
    <div class="change-recommendation-summary outlined-border">
        <strong matBadgeOverlap="false" [matBadge]="changes.length">
            {{ 'Summary of changes' | translate }}&nbsp;
        </strong>
        <cdk-virtual-scroll-viewport
            class="summary-of-changes-scroll"
            itemSize="22"
            maxBufferPx="300"
            minBufferPx="100"
        >
            <ul class="changes-list">
                <li *cdkVirtualFor="let change of changes; let i = index">
                    <span class="one-line">
                        <a href="" (click)="scrollToChangeClicked(change, $event)">
                            @if (this.lastLineNr >= change.getLineTo()) {
                                @if (!change.isTitleChange()) {
                                    <span>{{ 'Line' | translate }} {{ formatLineRange(change) }}</span>
                                } @else {
                                    <span>{{ 'Title' | translate }}</span>
                                }
                                @if (isAmendment(change)) {
                                    <span>&ensp;({{ 'Amendment' | translate }} {{ change.getIdentifier() }})</span>
                                    @if (isAmendmentMarkedForwarded(change)) {
                                        <mat-icon
                                            class="pointer-icon"
                                            color="primary"
                                            inline
                                            [matTooltip]="originMeetingName(change)"
                                            [matTooltipPosition]="position.value!"
                                        >
                                            info
                                        </mat-icon>
                                    }
                                } @else {
                                    <span>&ensp;({{ 'Change recommendation' | translate }})</span>
                                }
                            } @else {
                                <span>{{ 'Inconsistent data.' | translate }}</span>
                            }
                        </a>
                        @if (isChangeRecommendation(change)) {
                            <i class="user-subtitle">
                                – {{ getRecommendationTypeName(change) | translate }}
                                @if (isChangeRecommendation(change) && motion?.state?.is_internal) {
                                    ({{ 'internal' | translate }})
                                }
                            </i>
                        }
                        <i class="user-subtitle">
                            @if (change.isRejected() && !isAmendment(change)) {
                                –
                                <span>{{ 'Rejected' | translate }}</span>
                            } @else if (isAmendment(change) && change.stateName) {
                                –
                                {{ change.stateName }}
                            }
                        </i>
                        @if (isAmendment(change) && canAccess(change.amendment)) {
                            <a
                                class="smaller-icon-button amendment-link"
                                mat-icon-button
                                [routerLink]="change.amendment.getDetailStateUrl()"
                                [state]="{ back: 'true' }"
                            >
                                <mat-icon>arrow_forward</mat-icon>
                            </a>
                        }
                    </span>
                </li>
            </ul>
        </cdk-virtual-scroll-viewport>
    </div>
}
