<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import motions' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="hasFile && newCount" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>

<os-import-list-view [importer]="importer" [columns]="columns" [possibleFields]="possibleFields">
    <ng-container requiredFields>
        <li>
            {{
                'Number, reason, submitter, category, origin and motion block are optional and may be empty.'
                    | translate
            }}
        </li>
    </ng-container>
</os-import-list-view>
