<div matDialogTitle class="search-form-container">
    <div class="search-top-form">
        <div class="search-input-container">
            <os-rounded-input
                [(ngModel)]="searchTerm"
                (clickSubmit)="searchChange()"
                (inputCleared)="searchCleared()"
                placeholder="{{ 'Search' | translate }}"
                [hasSubmit]="true"
                [autofocus]="true"
            ></os-rounded-input>
        </div>
        <div *ngIf="isMobile" class="search-filter-toggle">
            <button mat-icon-button (click)="filterOpen = !filterOpen"><mat-icon>filter_list</mat-icon></button>
        </div>
    </div>
    <div class="search-hint">
        <mat-hint>{{ 'To start your search press Enter or the search icon' | translate }}</mat-hint>
    </div>

    <section *ngIf="filterOpen || !isMobile" class="filters" [formGroup]="currentFilters">
        <mat-radio-group *ngIf="operator.knowsMultipleMeetings" class="filter-section" formControlName="meetingFilter">
            <mat-radio-button *ngIf="inMeeting" class="filter" value="current">
                {{ 'This meeting' | translate }}
            </mat-radio-button>
            <mat-radio-button class="filter" value="all">{{ 'All meetings' | translate }}</mat-radio-button>
            <mat-radio-button class="filter" value="meetings">{{ 'Meeting title' | translate }}</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="currentFilters.value.meetingFilter !== 'meetings'" class="filter-section">
            <ng-container *ngFor="let filter of currentlyAvailableFilters">
                <mat-checkbox *ngIf="hasFilterPermission(filter)" formControlName="{{ filter }}" class="filter">
                    {{ availableFilters[filter] | translate }}
                </mat-checkbox>
            </ng-container>
        </div>
    </section>
</div>

<mat-dialog-content class="search-results">
    <ng-container>
        <section class="search-results-category">
            <div *ngFor="let result of filteredResults" class="search-results-entry divider-bottom">
                <div class="breadcrumb">
                    <ng-container *ngIf="result.committee">
                        <span>{{ result.committee.name }}</span>
                        <span class="sep">&gt;</span>
                    </ng-container>
                    <ng-container *ngIf="currentFilters.value.meetingFilter === 'all' && result.meeting">
                        <span>{{ result.meeting.name }}</span>
                        <span class="sep">&gt;</span>
                    </ng-container>
                    <span *ngIf="currentFilters.value.meetingFilter === 'all' && result.collection === 'user'">
                        {{ 'Account' | translate }}
                    </span>
                    <span *ngIf="currentFilters.value.meetingFilter !== 'all' || result.collection !== 'user'">
                        {{ availableFilters[result.collection] | translate }}
                    </span>
                </div>
                <ng-container [ngSwitch]="result.collection">
                    <ng-container *ngSwitchCase="'mediafile'">
                        <a
                            *ngIf="result.url.startsWith('/system')"
                            [href]="result.url"
                            target="_blank"
                            mat-dialog-close
                        >
                            <h3 *ngIf="result.title" [innerHtml]="result.title"></h3>
                        </a>
                        <a *ngIf="!result.url.startsWith('/system')" [routerLink]="result.url" mat-dialog-close>
                            <h3 *ngIf="result.title" [innerHtml]="result.title"></h3>
                        </a>
                    </ng-container>
                    <a *ngSwitchCase="'motion'" [routerLink]="result.url" mat-dialog-close>
                        <h3 *ngIf="result.title">
                            <span *ngIf="result.obj?.number" [innerHTML]="result.obj?.number + ': '"></span>
                            <span [innerHTML]="result.title"></span>
                        </h3>
                        <div class="info">
                            <span *ngIf="result.obj?.submitter_ids?.length">
                                {{ 'by' | translate }}
                                <os-comma-separated-listing
                                    [list]="getNamesBySubmitters(result.obj.submitter_ids)"
                                ></os-comma-separated-listing>
                            </span>
                            <span *ngIf="result.meeting.motions_show_sequential_number">
                                {{ 'Sequential number' | translate }} {{ result.obj.sequential_number }}
                            </span>
                        </div>
                        <p *ngIf="result.text" class="text-snippet" [innerHtml]="getTextSnippet(result.text)"></p>
                        <p
                            *ngIf="!result.text && result.obj?.amendment_paragraphs"
                            class="text-snippet"
                            [innerHtml]="getTextSnippet(result.obj.amendment_paragraphs)"
                        ></p>
                    </a>
                    <a *ngSwitchDefault [routerLink]="result.url" mat-dialog-close>
                        <h3 *ngIf="result.title" [innerHtml]="result.title"></h3>
                        <p *ngIf="result.text" class="text-snippet" [innerHtml]="getTextSnippet(result.text)"></p>
                    </a>
                </ng-container>
            </div>
        </section>
        <h3 *ngIf="noResults" class="search-no-results">{{ 'No results found' | translate }}</h3>
    </ng-container>
    <ng-container *ngIf="searching !== null">
        <div class="spinner-container" [ngClass]="{'overlay-spinner': filteredResults.length > 0}">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>
    <div style="display: none">Results {{ filteredResultCount }}/{{ resultCount }}</div>
</mat-dialog-content>
