<div class="search-form-container">
    <mat-form-field class="search-field" appearance="outline" floatLabel="never">
        <input
            matInput
            [(ngModel)]="searchTerm"
            (keyup.enter)="searchChange()"
            placeholder="{{ 'Search' | translate }}"
            autofocus
        />
        <button mat-icon-button matSuffix (click)="searchChange()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <section class="filters" [formGroup]="currentFilters">
        <mat-radio-group class="filter-section" formControlName="meetingFilter">
            <mat-radio-button *ngIf="inMeeting" class="filter" value="current">{{ 'This meeting' }}</mat-radio-button>
            <mat-radio-button class="filter" value="all">{{ 'All meetings' }}</mat-radio-button>
            <mat-radio-button class="filter" value="meetings">{{ 'Meeting title' }}</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="currentFilters.value.meetingFilter !== 'meetings'" class="filter-section">
            <ng-container *ngFor="let filter of currentlyAvailableFilters">
                <mat-checkbox
                    formControlName="{{ filter }}"
                    class="filter"
                >
                    {{ availableFilters[filter] }}
                </mat-checkbox>
            </ng-container>
        </div>
    </section>
</div>

<mat-dialog-content class="search-results">
    <section class="search-results-category">
        <div *ngFor="let result of filteredResults" class="search-results-entry">
            <div *ngIf="currentFilters.value.meetingFilter !== 'meetings'" class="breadcrumb">
                <ng-container *ngIf="currentFilters.value.meetingFilter === 'all' && result.meeting">
                    <a [routerLink]="'/' + result.meeting.id" mat-dialog-close>{{ result.meeting.name }}</a>
                    <span *ngIf="result.meeting" class="sep">&gt;</span>
                </ng-container>
                <span>{{ availableFilters[result.collection] }}</span>
            </div>
            <a *ngIf="result.fqid.startsWith('mediafile')" [href]="result.url" target="blank" mat-dialog-close>
                <h3 *ngIf="result.title">{{ result.title }}</h3>
            </a>
            <a *ngIf="!result.fqid.startsWith('mediafile')" [routerLink]="result.url" mat-dialog-close>
                <h3 *ngIf="result.title">{{ result.title }}</h3>
                <p *ngIf="result.text" [innerHtml]="result.text"></p>
            </a>
        </div>
    </section>
    <h3 *ngIf="noResults" class="search-no-results">{{ 'No results found' | translate }}</h3>
</mat-dialog-content>
