.search-form-container {
    width: 800px;
    max-width: 100%;
}

.search-results {
    width: 848px;
    max-width: calc(100% + 48px);
    margin: 0 -24px -24px -24px;
}

.search-field {
    width: 100%;
}

.search-results {
    padding: 0;

    .search-no-results {
        padding: 0 24px;
    }

    .search-results-category h2 {
        padding: 0 24px;
        margin-top: 1em;
        margin-bottom: 8px;
    }

    .search-results-entry {
        padding: 1em 24px;
        > a {
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            > :first-of-type {
                margin-top: 0;
            }

            > :last-of-type {
                margin-bottom: 0;
            }
        }
        .breadcrumb {
            font-size: 10px;
            + a h3 {
                margin-top: 0;
            }
            .sep {
                padding: 0 4px;
            }
        }
    }

    .search-results-entry:nth-of-type(2n + 1) {
        background-color: #eee;
    }
}

.filter-section {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: space-between;
    .filter {
        padding-right: 24px;
        &:last-of-type {
            padding-right: 0;
        }
    }
}
