<ng-container *osPerms="permission.projectorCanManage">
    <button
        *ngIf="!menuItem && !blendIn"
        mat-mini-fab
        [color]="isProjected ? 'accent' : 'basic'"
        (click)="onClick($event)"
        [disabled]="disabled"
    >
        <mat-icon>videocam</mat-icon>
    </button>
    <button
        *ngIf="!menuItem && blendIn"
        mat-icon-button
        [color]="isProjected ? 'accent' : 'basic'"
        (click)="onClick($event)"
        [disabled]="disabled"
        class="blend-in"
    >
        <mat-icon>videocam</mat-icon>
    </button>
    <button *ngIf="menuItem" mat-menu-item (click)="onClick()" [disabled]="disabled">
        <mat-icon>videocam</mat-icon>
        <span #ref><ng-content></ng-content></span>
        <span *ngIf="!ref.innerHTML.trim()">
            {{ 'Project' | translate }}
        </span>
    </button>
</ng-container>
