<ng-container *osPerms="permission.projectorCanManage">
    @if (!menuItem && !blendIn) {
        <button mat-mini-fab [color]="isProjected ? 'accent' : 'basic'" [disabled]="disabled" (click)="onClick($event)">
            <mat-icon>videocam</mat-icon>
        </button>
    }
    @if (!menuItem && blendIn) {
        <button
            class="blend-in"
            mat-icon-button
            [color]="isProjected ? 'accent' : 'basic'"
            [disabled]="disabled"
            (click)="onClick($event)"
        >
            <mat-icon>videocam</mat-icon>
        </button>
    }
    @if (menuItem) {
        <button mat-menu-item [disabled]="disabled" (click)="onClick()">
            <mat-icon>videocam</mat-icon>
            <span #ref><ng-content></ng-content></span>
            @if (!ref.innerHTML.trim()) {
                <span>
                    {{ 'Project' | translate }}
                </span>
            }
        </button>
    }
</ng-container>
