<div *ngIf="data && projector">
    <div
        id="sidebox"
        *ngIf="data.data.show_sidebox"
        [ngStyle]="{ 'margin-top': projector.show_header_footer ? '144px' : '94px' }"
    >
        <!-- Submitters -->
        <ng-container *ngIf="getSubmittersObservable() | async as submitters">
            <h3 *ngIf="submitters.length > 0">{{ 'Submitters' | translate }}</h3>
            <span *ngFor="let submitter of submitters; let last = last">
                <span>{{ submitter }}</span>
                <span *ngIf="!last">,</span>
            </span>
        </ng-container>

        <!-- Recommendation -->
        <div *ngIf="recommender && recommendationLabel">
            <h3>{{ recommender }}</h3>
            {{ recommendationLabel }}
        </div>
    </div>

    <div [ngStyle]="{ width: data.data.show_sidebox ? 'calc(100% - 250px)' : '100%' }">
        <!-- Title -->
        <div class="spacer" [ngStyle]="{ height: projector.show_header_footer ? '50px' : '0' }"></div>
        <div [ngClass]="{ slidetitle: data.data.show_sidebox }">
            <h1 class="projector_h1">
                <span *ngIf="data.data.number">{{ data.data.number }}:</span>
                {{ getTitleWithChanges() }}
            </h1>
            <!-- recommendation referencing motions -->
            <h2 *ngIf="data.data.show_sidebox && data.data.recommendation_referencing_motions" class="projector_h2">
                <span>{{ 'Referring motions' | translate }}</span>
                :
                <span *ngFor="let titleInformation of referencingMotions; let last = last">
                    <span>{{ getNumberOrTitle(titleInformation) }}</span>
                    <span *ngIf="!last">,</span>
                </span>
            </h2>

            <!-- Metainfo as table -->
            <table *ngIf="showMetaTable" class="metatable spacer-top-20" cellpadding="0" cellspacing="0">
                <!-- Submitters -->
                <ng-container *ngIf="getSubmittersObservable() | async as submitters">
                    <tr *ngIf="submitters.length > 0">
                        <td class="min">
                            <b>{{ 'Submitters' | translate }}:</b>
                        </td>
                        <td>
                            <span *ngFor="let submitter of submitters; let last = last">
                                <span>{{ submitter }}</span>
                                <span *ngIf="!last">,</span>
                            </span>
                        </td>
                    </tr>
                </ng-container>
                <!-- Recommendation -->
                <tr *ngIf="recommender && recommendationLabel" class="topline">
                    <td class="min">
                        <b>{{ recommender }}:</b>
                    </td>
                    <td>
                        {{ recommendationLabel }}
                    </td>
                </tr>
                <!-- recommendation referencing motions -->
                <tr *ngIf="data.data.recommendation_referencing_motions" class="topline">
                    <td class="min">
                        <b>{{ 'Referring motions' | translate }}:</b>
                    </td>
                    <td>
                        <span *ngFor="let titleInformation of referencingMotions; let last = last">
                            <span>{{ getNumberOrTitle(titleInformation) }}</span>
                            <span *ngIf="!last">,</span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="text-wrapper">
        <div id="text" [ngStyle]="textDivStyles">
            <!-- Text -->
            <span
                *ngIf="isStatuteAmendment() || isParagraphBasedAmendment() || formattedMotionTextPlain"
                class="text-prefix-label"
            >
                {{ preamble }}
            </span>

            <!-- Regular motions or traditional amendments -->
            <ng-container *ngIf="!isStatuteAmendment() && !isParagraphBasedAmendment()">
                <div
                    class="motion-text"
                    [class.line-numbers-none]="isLineNumberingNone()"
                    [class.line-numbers-inline]="isLineNumberingInline()"
                    [class.line-numbers-outside]="isLineNumberingOutside()"
                >
                    <div *ngIf="getTitleChangingObject() && crMode === 'diff'">
                        <div class="bold">{{ 'Changed title' | translate }}:</div>
                        <div [innerHTML]="getFormattedTitleDiff() | trust : 'html'"></div>
                    </div>
                    <div *ngIf="formattedMotionTextPlain" [innerHTML]="formattedMotionTextPlain | trust : 'html'"></div>
                </div>
            </ng-container>

            <!-- Statute amendments -->
            <div
                class="motion-text line-numbers-none"
                *ngIf="isStatuteAmendment()"
                [innerHTML]="getFormattedStatuteAmendment() | trust : 'html'"
            ></div>

            <!-- Amendment text -->
            <section class="text-holder" *ngIf="isParagraphBasedAmendment()">
                <div class="alert alert-info" *ngIf="getAmendedParagraphs().length === 0">
                    <span>{{ 'No changes at the text.' | translate }}</span>
                </div>
                <div
                    *ngFor="let paragraph of getAmendedParagraphs()"
                    class="motion-text motion-text-diff amendment-view"
                    [class.line-numbers-none]="isLineNumberingNone()"
                    [class.line-numbers-inline]="isLineNumberingInline()"
                    [class.line-numbers-outside]="isLineNumberingOutside()"
                >
                    <h3 *ngIf="paragraph.diffLineTo === paragraph.diffLineFrom" class="amendment-line-header">
                        <span>{{ 'Line' | translate }}</span>
                        {{ paragraph.diffLineFrom }}:
                    </h3>
                    <h3 *ngIf="paragraph.diffLineTo !== paragraph.diffLineFrom" class="amendment-line-header">
                        <span>{{ 'Line' | translate }}</span>
                        {{ paragraph.diffLineFrom }} - {{ paragraph.diffLineTo }}:
                    </h3>
                    <div [innerHtml]="paragraph.text | trust : 'html'"></div>
                </div>
            </section>

            <!-- Reason -->
            <div *ngIf="data.data.reason">
                <h3>{{ 'Reason' | translate }}</h3>
                <div [innerHTML]="data.data.reason | trust : 'html'"></div>
            </div>
        </div>
    </div>
</div>
