@if (data && projector) {
    <div [ngClass]="{ 'label-backgrounds': !hideMetadataBackground }">
        @if (data.data.show_sidebox) {
            <div
                id="sidebox"
                [ngClass]="{ 'metatable-background': !hideMetadataBackground }"
                [ngStyle]="{ 'margin-top': projector.show_header_footer ? '144px' : '94px' }"
            >
                <!-- Submitters -->
                @if (getSubmittersObservable() | async; as submitters) {
                    @if (submitters.length > 0) {
                        <h3>{{ 'Submitters' | translate }}</h3>
                    }
                    <os-comma-separated-listing [list]="submitters"></os-comma-separated-listing>
                }
                <!-- Recommendation -->
                @if (recommender && recommendationLabel) {
                    <div>
                        <h3>{{ recommender }}</h3>
                        {{ recommendationLabel }}
                    </div>
                }
            </div>
        }
        <div [ngStyle]="{ width: data.data.show_sidebox ? 'calc(100% - 250px)' : '100%' }">
            <!-- Title -->
            <div class="spacer" [ngStyle]="{ height: projector.show_header_footer ? '50px' : '0' }"></div>
            <div [ngClass]="{ slidetitle: data.data.show_sidebox }">
                <h1 class="projector_h1">
                    @if (data.data.number) {
                        <span>{{ data.data.number }}:</span>
                    }
                    {{ getTitleWithChanges() }}
                </h1>
                <!-- recommendation referencing motions -->
                @if (data.data.show_sidebox && data.data.recommendation_referencing_motions) {
                    <h2 class="projector_h2">
                        <span>{{ 'Referring motions' | translate }}</span>
                        :
                        <os-comma-separated-listing [list]="referencingMotions">
                            <ng-template let-information>{{ getNumberOrTitle(information) }}</ng-template>
                        </os-comma-separated-listing>
                    </h2>
                }
                <!-- Metainfo as table -->
                @if (showMetaTable) {
                    <table
                        cellpadding="0"
                        cellspacing="0"
                        class="metatable spacer-top-20"
                        [ngClass]="{ 'metatable-background': !hideMetadataBackground }"
                    >
                        <!-- Submitters -->
                        @if (getSubmittersObservable() | async; as submitters) {
                            @if (submitters.length > 0) {
                                <tr>
                                    <td class="min">
                                        <b>{{ 'Submitters' | translate }}:</b>
                                    </td>
                                    <td>
                                        <os-comma-separated-listing [list]="submitters"></os-comma-separated-listing>
                                    </td>
                                </tr>
                            }
                        }
                        <!-- Recommendation -->
                        @if (recommender && recommendationLabel) {
                            <tr class="topline">
                                <td class="min">
                                    <b>{{ recommender }}:</b>
                                </td>
                                <td>
                                    {{ recommendationLabel }}
                                </td>
                            </tr>
                        }
                        <!-- recommendation referencing motions -->
                        @if (data.data.recommendation_referencing_motions) {
                            <tr class="topline">
                                <td class="min">
                                    <b>{{ 'Referring motions' | translate }}:</b>
                                </td>
                                <td>
                                    <os-comma-separated-listing [list]="referencingMotions">
                                        <ng-template let-information>{{ getNumberOrTitle(information) }}</ng-template>
                                    </os-comma-separated-listing>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
        @if (showText) {
            <section id="text-wrapper">
                <div id="text" [ngStyle]="textDivStyles">
                    <!-- Text -->
                    @if (isParagraphBasedAmendment() || formattedMotionTextPlain) {
                        <span class="text-prefix-label">
                            {{ preamble }}
                        </span>
                    }
                    <!-- Regular motions or traditional amendments -->
                    @if (!isParagraphBasedAmendment()) {
                        <div
                            class="motion-text underlined-links"
                            [class.line-numbers-inline]="isLineNumberingInline()"
                            [class.line-numbers-none]="isLineNumberingNone()"
                            [class.line-numbers-outside]="isLineNumberingOutside()"
                        >
                            @if (getTitleChangingObject() && crMode === 'diff') {
                                <div>
                                    <div class="bold">{{ 'Changed title' | translate }}:</div>
                                    <div [innerHTML]="getFormattedTitleDiff() | trust: 'html'"></div>
                                </div>
                            }
                            @if (formattedMotionTextPlain) {
                                <div
                                    class="detail-view-text"
                                    [innerHTML]="formattedMotionTextPlain | trust: 'html'"
                                ></div>
                            }
                        </div>
                    }
                    <!-- Amendment text -->
                    @if (isParagraphBasedAmendment()) {
                        <section class="text-holder">
                            @if (getAmendedParagraphs().length === 0 && !data.data.text) {
                                <div class="alert alert-info">
                                    <span>{{ 'No changes at the text.' | translate }}</span>
                                </div>
                            }
                            @if (data.data.text) {
                                <div
                                    class="motion-text underlined-links"
                                    [class.line-numbers-inline]="isLineNumberingInline()"
                                    [class.line-numbers-none]="isLineNumberingNone()"
                                    [class.line-numbers-outside]="isLineNumberingOutside()"
                                    [innerHtml]="getTextBasedAmendmentLines() | trust: 'html'"
                                ></div>
                            }
                            @for (paragraph of getAmendedParagraphs(); track paragraph) {
                                <div
                                    class="motion-text motion-text-diff amendment-view underlined-links"
                                    [class.line-numbers-inline]="isLineNumberingInline()"
                                    [class.line-numbers-none]="isLineNumberingNone()"
                                    [class.line-numbers-outside]="isLineNumberingOutside()"
                                >
                                    @if (paragraph.diffLineTo === paragraph.diffLineFrom) {
                                        <h3 class="amendment-line-header">
                                            <span>{{ 'Line' | translate }}</span>
                                            {{ paragraph.diffLineFrom }}:
                                        </h3>
                                    }
                                    @if (paragraph.diffLineTo !== paragraph.diffLineFrom) {
                                        <h3 class="amendment-line-header">
                                            <span>{{ 'Line' | translate }}</span>
                                            {{ paragraph.diffLineFrom }} - {{ paragraph.diffLineTo }}:
                                        </h3>
                                    }
                                    <div class="detail-view-text" [innerHtml]="paragraph.text | trust: 'html'"></div>
                                </div>
                            }
                        </section>
                    }
                    <!-- Reason -->
                    @if (data.data.reason) {
                        <div class="reason-text">
                            <h3>{{ 'Reason' | translate }}</h3>
                            <div class="detail-view-text" [innerHTML]="data.data.reason | trust: 'html'"></div>
                        </div>
                    }
                </div>
            </section>
        }
    </div>
}
