@use 'src/app/site/pages/meetings/pages/motions/styles/motion-common-styles.scss';
@use 'src/assets/styles/mixins/detail-view-appearance.scss';

.paragraph-context {
    opacity: 0.5;
}

.motion-text,
.motion-text-diff,
.reason-text {
    .detail-view-text {
        @include detail-view-appearance.detail-view-appearance;
    }
}

#sidebox {
    width: 260px;
    right: 0;
    border-radius: 7px 0 0 7px;
    padding: 3px 7px 10px 10px;
    position: fixed;
    z-index: 5;
    word-break: break-word;

    h3 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

.metatable {
    width: 100%;
    font-size: 120%;
    td.min {
        width: 1%;
        white-space: nowrap;
        font-weight: 500;
        padding: 0 10px 0 7px;
        vertical-align: top;
    }
}

.metatable-background {
    background-color: #ddd;
    tr.topline td {
        border-top: 2px solid white;
    }
}

.spacer {
    min-width: 1px;
}

#text-wrapper {
    overflow: hidden;
}

#text {
    position: relative;
}

/* override the absolute position of outside linenumbers on motion slide */
.motion-text {
    &.line-numbers-outside {
        .os-line-number {
            &:after {
                top: 17px !important;
                font-size: 16px !important;
            }
        }
    }
}

.amendment-nr-n-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 1.5em;
}

.amendment-nr {
    position: relative;
    font-style: italic;
    padding-right: 4px;
}

.label-backgrounds {
    .amendment-nr {
        background-color: rgb(224, 224, 224);
    }
}

.os-linebreak {
    display: none !important;
}
