<os-head-bar
    [editMode]="true"
    [isSaveButtonEnabled]="isFormValid"
    [saveAction]="getSaveAction()"
    (cancelEditEvent)="onCancel()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>
            <span>{{ 'New participant' | translate }}</span>
        </h2>
    </div>

    <!-- Next-button -->
    <div class="extra-controls-slot">
        <div *ngIf="(currentStepIndexObservable | async) !== FILL_FORM_PARTICIPANT_STEP">
            <button type="button" mat-button (click)="matStepper.previous()">
                <span class="upper">{{ 'Previous' | translate }}</span>
            </button>
        </div>
        <div *ngIf="(currentStepIndexObservable | async) !== CREATE_PARTICIPANT_STEP">
            <button mat-button (click)="matStepper.next()">
                <span class="upper">{{ 'Next' | translate }}</span>
            </button>
        </div>
    </div>
</os-head-bar>

<form [formGroup]="createUserForm">
    <mat-stepper
        #matStepper
        [linear]="true"
        [selectedIndex]="currentStepIndexObservable | async"
        (selectionChange)="onStepChanged($event)"
    >
        <mat-step>
            <ng-template matStepLabel>{{ 'Enter' | translate }}</ng-template>
            <ng-template matStepContent>
                <mat-card class="os-card">
                    <div>
                        <h2>{{ 'Personal information' | translate }}</h2>
                        <div class="full-width first-line">
                            <!-- First name -->
                            <mat-form-field>
                                <input
                                    type="text"
                                    osAutofocus
                                    matInput
                                    placeholder="{{ 'Given name' | translate }}"
                                    formControlName="first_name"
                                />
                            </mat-form-field>

                            <!-- Last name -->
                            <mat-form-field>
                                <input
                                    type="text"
                                    matInput
                                    placeholder="{{ 'Surname' | translate }}"
                                    formControlName="last_name"
                                />
                            </mat-form-field>
                        </div>
                        <!-- E-Mail -->
                        <mat-form-field class="full-width">
                            <input
                                type="email"
                                matInput
                                autocomplete="off"
                                placeholder="{{ 'Email' | translate }}"
                                name="email"
                                formControlName="email"
                            />
                            <mat-error>{{ 'Please enter a valid email address' | translate }}</mat-error>
                        </mat-form-field>
                        <!-- username -->
                        <mat-form-field class="full-width">
                            <input
                                type="text"
                                matInput
                                placeholder="{{ 'Username' | translate }}"
                                formControlName="username"
                            />
                            <button
                                matSuffix
                                type="button"
                                mat-button
                                mat-icon-button
                                [matTooltip]="'Leave blank to automatically generate the username.' | translate"
                            >
                                <mat-icon>help</mat-icon>
                            </button>
                            <mat-error>{{ 'You have to enter at least one character' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                </mat-card>
            </ng-template>
        </mat-step>
        <mat-step [optional]="true">
            <ng-template matStepLabel>{{ 'Choice' | translate }}</ng-template>
            <ng-template matStepContent>
                <ng-container *ngIf="suitableAccountList.length">
                    <h3>{{ 'Suitable accounts found' | translate }}</h3>
                    <mat-list>
                        <ng-container *ngFor="let user of suitableAccountList; let last = last">
                            <mat-list-item>
                                <div class="action-title full-width">
                                    <div>
                                        <div>{{ user.first_name }}&nbsp;{{ user.last_name }}</div>
                                        <div class="subtitle">{{ user.email }}&nbsp;{{ user.username }}</div>
                                    </div>
                                    <button mat-flat-button color="primary" (click)="onAccountSelected(user)">
                                        {{ 'Select' | translate }}
                                    </button>
                                </div>
                            </mat-list-item>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </ng-container>
                    </mat-list>
                </ng-container>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{ 'Creation' | translate }}</ng-template>
            <ng-template matStepContent>
                <os-user-detail-view
                    [user]="user"
                    [isNewUser]="isNewUser"
                    [isEditing]="true"
                    [additionalFormControls]="additionalFormControls"
                    [isAllowedFn]="isAllowedFn"
                    [generatePasswordFn]="randomPasswordFn"
                    [patchFormValueFn]="patchFormValueFn"
                    [shouldEnableFormControlFn]="shouldEnableFormControlFn"
                    (changeEvent)="personalInfoFormValue = $event"
                    (validEvent)="isFormValid = $event"
                    (errorEvent)="formErrors = $event"
                >
                    <ng-template #editView let-form="form">
                        <div [formGroup]="form" *ngIf="(flicker | async) === false">
                            <h2>{{ 'Meeting specific information' | translate }}</h2>
                            <!-- Present? -->
                            <div [formGroup]="form">
                                <mat-checkbox
                                    formControlName="is_present"
                                    matTooltip="{{ 'Designates whether this user is in the room.' | translate }}"
                                    matTooltipPosition="right"
                                >
                                    <span>{{ 'present' | translate }}</span>
                                </mat-checkbox>
                            </div>
                            <div>
                                <!-- Strucuture Level -->
                                <mat-form-field
                                    class="distance"
                                    [ngClass]="{
                                        form37: showVoteWeight,
                                        form70: !showVoteWeight
                                    }"
                                >
                                    <input
                                        type="text"
                                        matInput
                                        placeholder="{{ 'Structure level' | translate }}"
                                        formControlName="structure_level"
                                    />
                                </mat-form-field>

                                <!-- Participant Number -->
                                <mat-form-field
                                    [ngClass]="{
                                        distance: showVoteWeight,
                                        form37: showVoteWeight,
                                        form25: !showVoteWeight
                                    }"
                                >
                                    <input
                                        type="text"
                                        matInput
                                        placeholder="{{ 'Participant number' | translate }}"
                                        formControlName="number"
                                    />
                                </mat-form-field>

                                <!-- Vote weight -->
                                <!-- TODO Input type should be number with limited decimal spaces -->
                                <mat-form-field class="form16 force-min-with" *ngIf="showVoteWeight">
                                    <input
                                        type="number"
                                        matInput
                                        placeholder="{{ 'Vote weight' | translate }}"
                                        formControlName="vote_weight"
                                    />
                                </mat-form-field>
                            </div>

                            <div *ngIf="isAllowedFn('seeName')">
                                <!-- Groups -->
                                <mat-form-field>
                                    <os-list-search-selector
                                        formControlName="group_ids"
                                        [multiple]="true"
                                        placeholder="{{ 'Groups' | translate }}"
                                        [inputListValues]="groupsObservable"
                                    ></os-list-search-selector>
                                </mat-form-field>

                                <!-- Delegate Vote -->
                                <mat-form-field *ngIf="showVoteDelegations">
                                    <os-repo-search-selector
                                        formControlName="vote_delegations_from_ids"
                                        [repo]="repo"
                                        [sortService]="sortService"
                                        [multiple]="true"
                                        [subscriptionConfig]="participantSubscriptionConfig"
                                        placeholder="{{ 'Voting right received from (principals)' | translate }}"
                                    ></os-repo-search-selector>
                                </mat-form-field>

                                <!-- Delegate Vote -->
                                <mat-form-field *ngIf="showVoteDelegations">
                                    <os-repo-search-selector
                                        formControlName="vote_delegated_to_id"
                                        [repo]="repo"
                                        [sortService]="sortService"
                                        [multiple]="false"
                                        [includeNone]="true"
                                        [subscriptionConfig]="participantSubscriptionConfig"
                                        placeholder="{{ 'Voting right delegated to (proxy)' | translate }}"
                                    ></os-repo-search-selector>
                                </mat-form-field>
                            </div>

                            <!-- About me -->
                            <div *ngIf="isAllowedFn('seePersonal')" class="spacer-bottom-20">
                                <!-- The HTML Editor -->
                                <h4>{{ 'About me' | translate }}</h4>
                                <os-editor formControlName="about_me"></os-editor>
                            </div>

                            <div *ngIf="isAllowedFn('manage')">
                                <!-- Comment -->
                                <mat-form-field>
                                    <input
                                        matInput
                                        placeholder="{{ 'Comment' | translate }}"
                                        formControlName="comment"
                                    />
                                    <mat-hint>{{ 'Only for internal notes.' | translate }}</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-template>
                </os-user-detail-view>
            </ng-template>
        </mat-step>
    </mat-stepper>
</form>
