<os-action-card
    icon="comment"
    [disableExpandControl]="isEditing"
    [showActionRow]="canBeEdited || hasSubmitterEditRights"
>
    <ng-container class="meta-text-block-title">
        <span>{{ section?.getTitle() }}</span>
    </ng-container>

    <ng-container class="meta-text-block-content">
        @if (!isEditing) {
            @if (comment) {
                <div [innerHTML]="comment.comment | trust: 'html'"></div>
            } @else {
                <div class="no-content">
                    {{ 'No comment' | translate }}
                </div>
            }
        } @else {
            <form [formGroup]="formGroup">
                <!-- The HTML Editor -->
                <os-motion-editor formControlName="text" [id]="sectionId"></os-motion-editor>
            </form>
        }
        @if (saveHint) {
            <div>
                <span>{{ 'Touch the book icon to enter text' | translate }}</span>
                <br />
                <span class="red-warning-text">{{ 'Do not forget to save your changes!' | translate }}</span>
            </div>
        }
    </ng-container>

    <ng-container class="meta-text-block-action-row">
        @if (isEditing) {
            <button color="warn" mat-icon-button matTooltip="{{ 'Save' | translate }}" (click)="saveComment()">
                <mat-icon>done</mat-icon>
            </button>

            <button mat-icon-button matTooltip="{{ 'Cancel edit' | translate }}" (click)="leaveEditMode()">
                <mat-icon>close</mat-icon>
            </button>
        } @else {
            @if (canBeEdited || hasSubmitterEditRights) {
                <button mat-icon-button matTooltip="{{ 'Edit' | translate }}" (click)="editComment()">
                    <mat-icon>edit</mat-icon>
                </button>
            }
            @if (hasComment()) {
                <button mat-icon-button matTooltip="{{ 'Export comment' | translate }}" (click)="exportCommentAsPDf()">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
            }
        }
    </ng-container>
</os-action-card>
