<div mat-dialog-title>
    {{ data.agenda.length > 1 ? ('Copy agenda items to...' | translate) : ('Copy agenda item to...' | translate) }}
    @if (data.agenda.length === 1 && data.agenda[0].item_number) {
        {{ data.agenda[0].item_number }}
    }
</div>
<mat-dialog-content>
    @if (data.agenda.length !== 1) {
        <div class="state">{{ data.agenda.length }} {{ 'agenda items' | translate }}</div>
    }

    @if (showNotTopicWarning) {
        <div class="warning-text">
            {{
                'Warning: You are trying to copy something else than a topic, it will be skipped and not copied.'
                    | translate
            }}
        </div>
    }
    @if (showParentNotIncludedWarning) {
        <div class="warning-text">
            {{
                'Warning: You are trying to copy a child agenda item without its parent. The child will be copied, however the parent item will not be automatically copied alongside it.'
                    | translate
            }}
        </div>
    }
    @if (showChildrenNotIncludedWarning) {
        <div class="warning-text">
            {{
                'Warning: You are trying to copy a parent agenda item without at least one of its children. Children will not be automatically copied alongside their parent items.'
                    | translate
            }}
        </div>
    }

    <table mat-table [dataSource]="tableRows">
        <!-- Label in front-->
        <ng-container matColumnDef="label">
            <td *matCellDef="let rowName" mat-cell>
                @if (rowName === 'moderator_notes') {
                    <span>{{ 'Moderation note' | translate }}</span>
                } @else if (rowName === 'speakers') {
                    <span>{{ 'List of speakers' | translate }}</span>
                    <br />
                    <span class="subtitle">
                        {{ speakerAmount }} {{ 'speakers' | translate }}, {{ participantAmount }}
                        {{ 'participants' | translate }}
                    </span>
                    <br />
                    <span class="subtitle" translate>
                        This will add participants, structure levels and groups to the target meeting(s).
                    </span>
                } @else if (rowName === 'meeting') {
                    <span>{{ 'Target meeting' | translate }}</span>
                    <br />
                    <span class="subtitle" translate>
                        You must be admin in the target meeting. Said meeting cannot be archived or in the past.
                    </span>
                } @else if (rowName === 'attachments') {
                    <span>{{ 'Attachments' | translate }}</span>
                }
            </td>
        </ng-container>

        <!-- radio checks -->
        <ng-container matColumnDef="radio">
            <td *matCellDef="let rowName" mat-cell>
                @if (rowName === 'moderator_notes') {
                    <span>
                        <mat-checkbox [(ngModel)]="withModeratorNotes"></mat-checkbox>
                    </span>
                } @else if (rowName === 'speakers') {
                    <span>
                        <mat-checkbox [(ngModel)]="withSpeakers"></mat-checkbox>
                    </span>
                } @else if (rowName === 'attachments') {
                    <span>
                        <mat-checkbox [(ngModel)]="withAttachments"></mat-checkbox>
                    </span>
                } @else if (rowName === 'meeting') {
                    <span class="agenda-forward-meeting-list">
                        @for (committee of committeesObservable | async; track committee) {
                            @if (committee.meetings?.length) {
                                <div>
                                    <h4>{{ committee.name }}</h4>
                                    @for (meeting of committee.meetings; track meeting) {
                                        <div>
                                            <mat-checkbox
                                                [disabled]="
                                                    !isAdmin(meeting, committee.id) ||
                                                    !meeting.is_active ||
                                                    isInPast(meeting)
                                                "
                                                [value]="meeting.id"
                                                [(ngModel)]="checkboxStateMap[meeting.id]"
                                                (change)="onChangeCheckbox($event)"
                                            >
                                                {{ meeting.name }}
                                                @if (meeting.start_time || meeting.end_time) {
                                                    <span>
                                                        &nbsp;&middot;&nbsp;
                                                        <os-meeting-time
                                                            [endTime]="meeting.end_time"
                                                            [startTime]="meeting.start_time"
                                                        ></os-meeting-time>
                                                    </span>
                                                }
                                            </mat-checkbox>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </span>
                }
            </td>
        </ng-container>

        <tr *matRowDef="let myRowData; columns: ['label', 'radio']" mat-row></tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button color="primary" mat-button [disabled]="!selectedMeetings?.size" (click)="onSaveClicked()">
        {{ 'Copy' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="null">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
