<div class="input-container">
    <div class="input-prefix">
        <mat-icon class="foreground-active">search</mat-icon>
    </div>
    <input
        #osInput
        [autofocus]="autofocus"
        [placeholder]="placeholder"
        class="rounded-input background-default"
        [ngClass]="[size, borderRadius, hasChildren ? 'children-bottom' : '']"
        [formControl]="dedicatedContentForm"
        (keyup)="keyPressed($event)"
        (blur)="blur()"
    />
    <div *ngIf="contentForm.value !== ''" class="input-suffix foreground-icon" (mousedown)="clear($event)">
        <mat-icon>close</mat-icon>
    </div>
</div>
