span {
    margin: 0;
}

.extra-data {
    margin-top: 18px;
}

.motion-content {
    .form-id-title {
        display: flex;

        .form-number {
            flex: 0 0 95px;
            max-width: 95px;
            margin-right: 1em;
        }

        .form-title {
            flex: 1 1 auto;
        }
    }

    .additional-submitter {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1em;
    }
}
