<os-head-bar
    [hasMainButton]="true"
    [mainActionTooltip]="'New comment field' | translate"
    [nav]="false"
    (mainEvent)="openDialog()"
>
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Comment fields</h1>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button mat-icon-button type="button" [matMenuTriggerFor]="commentListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>
</os-head-bar>

<div class="head-spacer"></div>
<div class="spacer-bottom-60">
    <mat-accordion class="os-card">
        @for (section of this.commentSections; track section) {
            <mat-expansion-panel multiple="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="header-container">
                            <div class="name ellipsis-overflow">
                                {{ section.name }}
                            </div>
                            <div class="read">
                                <os-icon-container icon="visibility">
                                    @if (section.read_groups?.length) {
                                        <ng-container
                                            *ngTemplateOutlet="groupList; context: { groups: section.read_groups }"
                                        ></ng-container>
                                    }
                                    @if (section.read_groups.length === 0) {
                                        &ndash;
                                    }
                                </os-icon-container>
                            </div>
                            <div class="write">
                                <os-icon-container icon="edit">
                                    @if (section.write_groups?.length) {
                                        <ng-container
                                            *ngTemplateOutlet="groupList; context: { groups: section.write_groups }"
                                        ></ng-container>
                                    }
                                    @if (section.write_groups.length === 0) {
                                        &ndash;
                                    }
                                </os-icon-container>
                            </div>
                            <div class="submitter-write">
                                @if (section.submitter_can_write) {
                                    <i>{{ 'Allow submitter edit' | translate }}</i>
                                }
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h3>{{ 'Name' | translate }}</h3>
                <div class="spacer-left">{{ section.name }}</div>
                <h3>{{ 'Groups with read permissions' | translate }}</h3>
                @for (group of section.read_groups; track group) {
                    <ul>
                        <li>{{ group.getTitle() }}</li>
                    </ul>
                }
                @if (section.read_groups.length === 0) {
                    <div class="spacer-left">
                        {{ 'No groups selected' | translate }}
                    </div>
                }
                <h3>{{ 'Groups with write permissions' | translate }}</h3>
                @for (group of section.write_groups; track group) {
                    <ul>
                        <li>{{ group.getTitle() }}</li>
                    </ul>
                }
                @if (section.write_groups.length === 0) {
                    <div class="spacer-left">
                        {{ 'No groups selected' | translate }}
                    </div>
                }
                <mat-action-row>
                    <button mat-icon-button (click)="openDialog(section)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDeleteButton(section)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
        }
    </mat-accordion>
</div>

<mat-menu #commentListMenu="matMenu">
    <button mat-menu-item routerLink="sort">
        <mat-icon>sort</mat-icon>
        <span>{{ 'Sort' | translate }}</span>
    </button>
</mat-menu>

<ng-template #groupList let-groups="groups">
    <os-comma-separated-listing [list]="groups">
        <ng-template let-group>{{ group.getTitle() }}</ng-template>
    </os-comma-separated-listing>
</ng-template>

<!-- Template for motion comment dialog -->
<ng-template #motionCommentDialog>
    <h1 mat-dialog-title>
        @if (currentComment) {
            <span>{{ 'Edit comment field' | translate }}</span>
        }
        @if (!currentComment) {
            <span>{{ 'New comment field' | translate }}</span>
        }
    </h1>
    <mat-dialog-content class="os-form-card-mobile">
        <form tabindex="-1" [formGroup]="commentFieldForm" (keydown)="onKeyDown($event)">
            <p>
                <mat-form-field>
                    <mat-label>{{ 'Name' | translate }}</mat-label>
                    <input formControlName="name" matInput required />
                    @if (!commentFieldForm.controls['name'].valid) {
                        <mat-error>
                            <span>{{ 'Required' | translate }}</span>
                        </mat-error>
                    }
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>{{ 'Groups with read permissions' | translate }}</mat-label>
                    <os-list-search-selector
                        formControlName="read_group_ids"
                        [inputListValues]="groups"
                        [multiple]="true"
                        [sortFn]="sortFn"
                    ></os-list-search-selector>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>{{ 'Groups with write permissions' | translate }}</mat-label>
                    <os-list-search-selector
                        formControlName="write_group_ids"
                        [inputListValues]="groups"
                        [multiple]="true"
                        [sortFn]="sortFn"
                    ></os-list-search-selector>
                </mat-form-field>
            </p>
            <p>
                <mat-checkbox formControlName="submitter_can_write">
                    {{ 'Allow submitter edit' | translate }}
                </mat-checkbox>
            </p>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [disabled]="commentFieldForm.invalid" [mat-dialog-close]="true">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button mat-button [mat-dialog-close]="false">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </mat-dialog-actions>
</ng-template>
