<os-head-bar [nav]="false" [hasMainButton]="true" (mainEvent)="openDialog()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Comment fields' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="commentListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<div class="head-spacer"></div>
<div class="spacer-bottom-60">
    <mat-accordion class="os-card">
        <mat-expansion-panel *ngFor="let section of this.commentSections" multiple="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="header-container">
                        <div class="name ellipsis-overflow">
                            {{ section.name }}
                        </div>
                        <div class="read">
                            <os-icon-container icon="visibility">
                                <ng-container *ngIf="section.read_groups?.length">
                                    <ng-container
                                        *ngTemplateOutlet="groupList; context: { groups: section.read_groups }"
                                    ></ng-container>
                                </ng-container>
                                <ng-container *ngIf="section.read_groups.length === 0">&ndash;</ng-container>
                            </os-icon-container>
                        </div>
                        <div class="write">
                            <os-icon-container icon="edit">
                                <ng-container *ngIf="section.write_groups?.length">
                                    <ng-container
                                        *ngTemplateOutlet="groupList; context: { groups: section.write_groups }"
                                    ></ng-container>
                                </ng-container>
                                <ng-container *ngIf="section.write_groups.length === 0">&ndash;</ng-container>
                            </os-icon-container>
                        </div>
                        <div class="submitter-write">
                            <ng-container *ngIf="section.submitter_can_write">
                                <i>{{ 'Allow submitter edit' | translate }}</i>
                            </ng-container>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h3>{{ 'Name' | translate }}</h3>
            <div class="spacer-left">{{ section.name }}</div>
            <h3>{{ 'Groups with read permissions' | translate }}</h3>
            <ul *ngFor="let group of section.read_groups">
                <li>{{ group.getTitle() | translate }}</li>
            </ul>
            <div class="spacer-left" *ngIf="section.read_groups.length === 0">
                {{ 'No groups selected' | translate }}
            </div>
            <h3>{{ 'Groups with write permissions' | translate }}</h3>
            <ul *ngFor="let group of section.write_groups">
                <li>{{ group.getTitle() | translate }}</li>
            </ul>
            <div class="spacer-left" *ngIf="section.write_groups.length === 0">
                {{ 'No groups selected' | translate }}
            </div>
            <mat-action-row>
                <button mat-button (click)="openDialog(section)" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button (click)="onDeleteButton(section)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<mat-menu #commentListMenu="matMenu">
    <button mat-menu-item routerLink="sort">
        <mat-icon>sort</mat-icon>
        <span>{{ 'Sort' | translate }}</span>
    </button>
</mat-menu>

<ng-template #groupList let-groups="groups">
    <os-comma-separated-listing [list]="groups">
        <ng-template let-group>{{ group.getTitle() | translate }}</ng-template>
    </os-comma-separated-listing>
</ng-template>

<!-- Template for motion comment dialog -->
<ng-template #motionCommentDialog>
    <h1 mat-dialog-title>
        <span *ngIf="currentComment">{{ 'Edit comment field' | translate }}</span>
        <span *ngIf="!currentComment">{{ 'New comment field' | translate }}</span>
    </h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form [formGroup]="commentFieldForm" (keydown)="onKeyDown($event)">
            <p>
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="{{ 'Name' | translate }}" required />
                    <mat-error *ngIf="!commentFieldForm.controls['name'].valid">
                        <span>{{ 'Required' | translate }}</span>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <os-list-search-selector
                        formControlName="read_group_ids"
                        [multiple]="true"
                        placeholder="{{ 'Groups with read permissions' | translate }}"
                        [inputListValues]="groups"
                    ></os-list-search-selector>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <os-list-search-selector
                        formControlName="write_group_ids"
                        [multiple]="true"
                        placeholder="{{ 'Groups with write permissions' | translate }}"
                        [inputListValues]="groups"
                    ></os-list-search-selector>
                </mat-form-field>
            </p>
            <p>
                <mat-checkbox formControlName="submitter_can_write">
                    {{ 'Allow submitter edit' | translate }}
                </mat-checkbox>
            </p>
        </form>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="commentFieldForm.invalid" mat-button [mat-dialog-close]="true">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button mat-button [mat-dialog-close]="false">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
