<os-head-bar [editMode]="hasChanged" [nav]="false" (mainEvent)="onCancel()" (saveEvent)="onSave()">
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Sort agenda</h1>
    </div>
</os-head-bar>
<div class="custom-table-header sort-header">
    <div class="button-menu left">
        <button mat-button (click)="onStateChange(true)">{{ 'Expand all' | translate }}</button>
        <button mat-button (click)="onStateChange(false)">{{ 'Collapse all' | translate }}</button>
    </div>
    @if (hasActiveFilter) {
        <div class="current-filters">
            <div>
                <span>{{ 'Active filters' | translate }}</span>
                :&nbsp;
            </div>
            <div>
                <button mat-button (click)="resetFilters()">
                    <mat-icon>cancel</mat-icon>
                    <span>{{ 'Visibility' | translate }}</span>
                </button>
            </div>
        </div>
    }
    <div class="button-menu right">
        <button mat-button [matMenuTriggerFor]="menu">Filter</button>
        <mat-menu #menu>
            <div class="filter-hint">{{ 'Visibility' | translate }}</div>
            <mat-selection-list #visibilities (selectionChange)="onFilterChange(visibilities.selectedOptions.selected)">
                @for (option of filterOptions; track option) {
                    <mat-list-option [selected]="option.state" [value]="option.id">
                        <mat-icon matListItemIcon matTooltip="{{ option.label | translate }}" matTooltipPosition="left">
                            {{ getIcon(option.id) }}
                        </mat-icon>
                        <div matListItemTitle>
                            {{ option.label | translate }}
                        </div>
                    </mat-list-option>
                }
            </mat-selection-list>
        </mat-menu>
    </div>
</div>
<mat-card class="spacer-bottom-60">
    <mat-card-content>
        <div class="current-nodes">
            {{ seenNodes[0] }}
            <span>{{ 'of' | translate }}</span>
            {{ seenNodes[1] }}
            <span>{{ 'items' | translate }}</span>
        </div>
        <os-sorting-tree
            #osSortedTree
            parentKey="parent_id"
            weightKey="weight"
            [filterChange]="changeFilter"
            [model]="itemsObservable"
            [stateChange]="changeState"
            (hasChanged)="receiveChanges($event)"
            (visibleNodes)="onChangeAmountOfItems($event)"
        >
            <ng-template #innerNode class="sorting-tree-node" let-item="item">
                <span class="sort-node-title">{{ item.getTitle() }}</span>
                <span class="sort-node-icon">
                    {{ item.verboseType | translate }}
                    <mat-icon>{{ getIcon(item.type) }}</mat-icon>
                </span>
            </ng-template>
        </os-sorting-tree>
    </mat-card-content>
</mat-card>
