<os-head-bar [nav]="false" [editMode]="hasChanged" (mainEvent)="onCancel()" (saveEvent)="onSave()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Sort agenda' | translate }}</h2>
    </div>
</os-head-bar>
<div class="custom-table-header sort-header">
    <div class="button-menu left">
        <button mat-button (click)="onStateChange(true)">{{ 'Expand all' | translate }}</button>
        <button mat-button (click)="onStateChange(false)">{{ 'Collapse all' | translate }}</button>
    </div>
    <div class="current-filters" *ngIf="hasActiveFilter">
        <div>
            <span>{{ 'Active filters' | translate }}</span>
            :&nbsp;
        </div>
        <div>
            <button mat-button (click)="resetFilters()">
                <mat-icon inline>cancel</mat-icon>
                <span>{{ 'Visibility' | translate }}</span>
            </button>
        </div>
    </div>
    <div class="button-menu right">
        <button mat-button [matMenuTriggerFor]="menu">Filter</button>
        <mat-menu #menu>
            <div class="filter-hint hint">{{ 'Visibility' | translate }}</div>
            <mat-selection-list #visibilities (selectionChange)="onFilterChange(visibilities.selectedOptions.selected)">
                <mat-list-option *ngFor="let option of filterOptions" [value]="option.id" [selected]="option.state">
                    <mat-icon matListIcon matTooltip="{{ option.label | translate }}" matTooltipPosition="left">
                        {{ getIcon(option.id) }}
                    </mat-icon>
                    <p matLine>{{ option.label | translate }}</p>
                </mat-list-option>
            </mat-selection-list>
        </mat-menu>
    </div>
</div>
<mat-card>
    <div class="current-nodes">
        {{ seenNodes[0] }}
        <span>{{ 'of' | translate }}</span>
        {{ seenNodes[1] }}
        <span>{{ 'items' | translate }}</span>
    </div>
    <os-sorting-tree
        #osSortedTree
        (hasChanged)="receiveChanges($event)"
        (visibleNodes)="onChangeAmountOfItems($event)"
        [model]="itemsObservable"
        [stateChange]="changeState"
        [filterChange]="changeFilter"
        parentKey="parent_id"
        weightKey="weight"
    >
        <ng-template #innerNode class="sorting-tree-node" let-item="item">
            <span class="sort-node-title">{{ item.getTitle() }}</span>
            <span class="sort-node-icon">
                {{ item.verboseType | translate }}
                <mat-icon>{{ getIcon(item.type) }}</mat-icon>
            </span>
        </ng-template>
    </os-sorting-tree>
</mat-card>
