.padding-left-24 {
    padding-left: 24px;
}

.padding-top-bottom-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.padding-top-bottom-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
