<os-head-bar [hasMainButton]="canEdit" [multiSelectMode]="isMultiSelect" (mainEvent)="onMainEvent()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Files' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button
            type="button"
            mat-icon-button
            (click)="createNewFolder(newFolderDialog)"
            *osOmlPerms="OML.can_manage_organization; and: !isMultiSelect"
        >
            <mat-icon>create_new_folder</mat-icon>
        </button>
        <button type="button" mat-icon-button [matMenuTriggerFor]="mediafilesMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div *ngIf="isMultiSelect" class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>
</os-head-bar>

<!-- the actual file manager -->
<os-file-list
    [currentDirectory]="directory"
    [isMultiSelect]="isMultiSelect"
    [canEdit]="canEdit"
    [canAccessFileMenu]="canAccessFileMenu"
    [sourceFiles]="directoryObservable"
    [editFolderTemplate]="fileEditDialog"
    [shouldShowFileMenuFn]="shouldShowFileMenuFn"
    (directoryChanged)="changeDirectory($event.directoryId)"
    (beforeEditing)="onEditFile($event.file)"
    (saved)="onSaveFile($event.update)"
    (deleted)="onDeleteFile($event.file)"
    (selected)="onSelect($event.files)"
></os-file-list>

<!-- Menu for Mediafiles -->
<mat-menu #mediafilesMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
        <button mat-menu-item (click)="downloadMultiple()">
            <mat-icon>cloud_download</mat-icon>
            <span>{{ 'Download folder' | translate }}</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>
        <mat-divider *osOmlPerms="OML.can_manage_organization"></mat-divider>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="downloadMultiple(selectedRows)">
            <mat-icon>cloud_download</mat-icon>
            <span>{{ 'Download' | translate }}</span>
        </button>
        <button
            mat-menu-item
            *osOmlPerms="OML.can_manage_organization"
            [disabled]="!selectedRows.length"
            (click)="onMove(selectedRows)"
        >
            <mat-icon>near_me</mat-icon>
            <span>{{ 'Move' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            *osOmlPerms="OML.can_manage_organization"
            [disabled]="!selectedRows.length"
            (click)="deleteSelected()"
        >
            <mat-icon color="warn">delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>

<!-- File edit dialog -->
<ng-template #fileEditDialog>
    <h1 mat-dialog-title>{{ 'Edit details for' | translate }}</h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-file-form" [formGroup]="fileEditForm!">
            <mat-form-field>
                <input
                    type="text"
                    matInput
                    osAutofocus
                    required
                    formControlName="title"
                    placeholder="{{ 'New file name' | translate }}"
                />
                <mat-error *ngIf="fileEditForm?.invalid">{{ 'Required' | translate }}</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button
            type="submit"
            mat-button
            [disabled]="!fileEditForm?.valid"
            color="accent"
            [mat-dialog-close]="fileEditForm?.value"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>

<!-- New folder dialog -->
<ng-template #newFolderDialog>
    <h1 mat-dialog-title>{{ 'New directory' | translate }}</h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-file-form" [formGroup]="newDirectoryForm">
            <p>{{ 'Please enter a name for the new directory:' | translate }}</p>
            <mat-form-field>
                <input matInput osAutofocus formControlName="title" placeholder="{{ 'Title' | translate }}" required />
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-button [disabled]="!newDirectoryForm.valid" color="accent" [mat-dialog-close]="true">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
