<os-head-bar
    [hasMainButton]="canEdit"
    [mainActionTooltip]="'New file' | translate"
    [multiSelectMode]="isMultiSelect"
    (mainEvent)="onMainEvent()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Files' | translate }}</h2>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button
            type="button"
            mat-icon-button
            [matTooltip]="'New folder' | translate"
            (click)="createNewFolder(newFolderDialog)"
            *osOmlPerms="OML.can_manage_organization; and: !isMultiSelect"
        >
            <mat-icon>create_new_folder</mat-icon>
        </button>
        <button type="button" mat-icon-button [matMenuTriggerFor]="mediafilesMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>

    <!-- Multiselect info -->
    <ng-container class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;{{ 'selected' | translate }}</span>
    </ng-container>
</os-head-bar>

<!-- the actual file manager -->
<os-file-list
    [currentDirectory]="directory"
    [isMultiSelect]="isMultiSelect"
    [canEdit]="canEdit"
    [canAccessFileMenu]="canAccessFileMenu"
    [sourceFiles]="directoryObservable"
    [editFolderTemplate]="fileEditDialog"
    [fileMenuTemplate]="fileMenuTemplate"
    [shouldShowFileMenuFn]="shouldShowFileMenuFn"
    [isUsedAsLogoFn]="isUsedAsLogoFn"
    [isUsedAsFontFn]="isUsedAsFontFn"
    (directoryChanged)="changeDirectory($event.directoryId)"
    (beforeEditing)="onEditFile($event.file)"
    (saved)="onSaveFile($event.update)"
    (deleted)="onDeleteFile($event.file)"
    (selected)="onSelect($event.files)"
    [isInMeeting]="false"
></os-file-list>

<!-- Menu for Mediafiles -->
<mat-menu #mediafilesMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span>{{ 'Multiselect' | translate }}</span>
        </button>
        <button mat-menu-item (click)="downloadMultiple()">
            <mat-icon>cloud_download</mat-icon>
            <span>{{ 'Download folder' | translate }}</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>
        <mat-divider *osOmlPerms="OML.can_manage_organization"></mat-divider>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="downloadMultiple(selectedRows)">
            <mat-icon>cloud_download</mat-icon>
            <span>{{ 'Download' | translate }}</span>
        </button>
        <button
            mat-menu-item
            *osOmlPerms="OML.can_manage_organization"
            [disabled]="!selectedRows.length"
            (click)="onMove(selectedRows)"
        >
            <mat-icon>near_me</mat-icon>
            <span>{{ 'Move' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            *osOmlPerms="OML.can_manage_organization"
            [disabled]="!selectedRows.length"
            (click)="deleteSelected()"
        >
            <mat-icon color="warn">delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>

<!-- File edit dialog -->
<ng-template #fileEditDialog>
    <h1 mat-dialog-title>{{ 'Edit details for' | translate }}</h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-file-form" [formGroup]="fileEditForm!">
            <mat-form-field>
                <mat-label>{{ 'New file name' | translate }}</mat-label>
                <input type="text" matInput osAutofocus required formControlName="title" />
                <mat-error *ngIf="fileEditForm?.invalid">{{ 'Required' | translate }}</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button
            type="submit"
            mat-button
            [disabled]="!fileEditForm?.valid"
            color="accent"
            [mat-dialog-close]="fileEditForm?.value"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>

<!-- Template for the managing buttons -->
<ng-template #manageButton let-mediafile="mediafile" let-place="place">
    <button
        mat-menu-item
        (click)="toggleMediafileUsage($event, mediafile, place)"
        [disabled]="updatingLogoAndFontSettings"
    >
        <mat-icon color="accent">
            {{ isMediafileUsed(mediafile, place) ? 'check_box' : 'check_box_outline_blank' }}
        </mat-icon>
        <span>{{ getDisplayNameForPlace(place) | translate }}</span>
    </button>
</ng-template>

<ng-template #fileMenuTemplate let-mediafile="mediafile">
    <div *osOmlPerms="OML.can_manage_organization">
        <!-- Exclusive for images -->
        <div *ngIf="mediafile.isImage()">
            <ng-container *ngFor="let place of logoPlaces">
                <ng-container
                    *ngTemplateOutlet="manageButton; context: { mediafile: mediafile, place: place }"
                ></ng-container>
            </ng-container>
        </div>
        <mat-divider *ngIf="mediafile.isImage()"></mat-divider>
    </div>
</ng-template>

<!-- New folder dialog -->
<ng-template #newFolderDialog>
    <h1 mat-dialog-title>{{ 'New directory' | translate }}</h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-file-form" [formGroup]="newDirectoryForm">
            <p>{{ 'Please enter a name for the new directory:' | translate }}</p>
            <mat-form-field>
                <mat-label>{{ 'Title' | translate }}</mat-label>
                <input matInput osAutofocus formControlName="title" required />
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-button [disabled]="!newDirectoryForm.valid" color="accent" [mat-dialog-close]="true">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
