<div class="spacer-top-20 spacer-bottom-20">
    <ng-container *ngIf="motion && motion.poll_ids">
        <os-motion-poll *ngFor="let id of motion.poll_ids | reverse" [pollId]="id"></os-motion-poll>
    </ng-container>
    <button
        class="create-poll-button"
        create-poll-button
        mat-stroked-button
        (click)="openDialog()"
        *osPerms="permission.motionCanManagePolls"
    >
        <mat-icon class="main-nav-color">add</mat-icon>
        <span>{{ 'New vote' | translate }}</span>
    </button>
</div>
