@use 'src/assets/styles/mixins/detail-view-appearance.scss';
@use 'src/assets/styles/variables.scss';

.motion-text {
    ins,
    .insert {
        color: green !important;
        text-decoration: underline;
        a {
            color: green;
        }
    }

    del,
    .delete {
        color: red !important;
        text-decoration: line-through;
        a {
            color: red;
        }
    }

    li {
        padding-bottom: 10px;
    }

    ol,
    ul {
        margin-left: 15px;
        margin-bottom: 0;
    }

    .highlight {
        background-color: #ff0;
    }
    &.line-numbers-outside {
        padding-left: 40px;
        position: relative;

        .os-line-number {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 0;
            text-align: left;
            padding-right: 18px;

            &:after {
                content: attr(data-line-number);
                position: absolute;
                top: 13px;
                vertical-align: top;
                color: gray;
                font-size: 12px;
                font-weight: normal;
            }

            &.selectable:hover:before,
            &.selected:before {
                position: absolute;
                top: 4px;
                left: 20px;
                display: inline-block;
                cursor: pointer;
                content: '';
                width: 16px;
                height: 16px;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z" fill="%23337ab7"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
                background-size: 16px 16px;
            }
        }
    }

    &.line-numbers-inline {
        .os-line-break {
            display: none;
        }

        .os-line-number {
            display: inline-block;

            &:after {
                display: inline-block;
                content: attr(data-line-number);
                vertical-align: top;
                font-size: 10px;
                font-weight: normal;
                color: gray;
                margin-top: -3px;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &.line-numbers-none {
        .os-line-break {
            display: none;
        }

        .os-line-number {
            display: none;
        }
    }
    & {
        .os-split-before {
            margin-top: 0;
            padding-top: 0;
        }

        .os-split-after {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        li.os-split-before {
            list-style: none;
        }
    }
}

//mobile-desktop breakpoints
$bp-desktop: 960px;
$bp-phone: 500px;

@include variables.desktop {
    .motion-text > * {
        max-width: 100%;
        word-break: break-all;
    }
}
@include variables.phone {
    .motion-text > * {
        max-width: 100%;
        display: block;
        word-break: break-all;
    }
}

.amendment-view {
    .os-split-after {
        margin-bottom: 0;
    }
    .os-split-before {
        margin-top: 0;
    }
    .paragraphcontext {
        opacity: 0.5;
    }
    &.amendment-context .paragraphcontext {
        opacity: 1;
    }

    @include detail-view-appearance.detail-view-appearance;
}
