<os-head-bar [nav]="false" [goBack]="true">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import meeting' | translate }}</h2>
    </div>
</os-head-bar>

<mat-card appearance="outlined" class="os-card">
    <mat-card-content>
        <os-file-upload [uploadFileFn]="getUploadFileFn()" (uploadSucceeded)="onUploadSucceeded()" [parallel]="true">
            <div *osScrollingTableCell="'title'; row as file">
                <div *osScrollingTableCellLabel>{{ 'Title' | translate }}</div>
                {{ file?.title }}
            </div>
        </os-file-upload>
    </mat-card-content>
</mat-card>
