<div class="background-default error-page full-height flex-center-unsafe">
    <h2>{{ 'You are not supposed to be here...' | translate }}</h2>
    @if (error) {
        <h3>{{ error | translate }}</h3>
    }
    @if (error === 'Authorization Error' && msg.length) {
        <p>
            {{ 'Required permissions to view this page:' | translate }}
        </p>
    }
    <span class="message">{{ msg }}</span>

    <div class="go-back-button">
        <button mat-raised-button (click)="leaveErrorPage()">{{ 'Back to OpenSlides' | translate }}</button>
    </div>
</div>
