<os-head-bar
    [editMode]="true"
    [hasMainButton]="true"
    [isSaveButtonEnabled]="isValid"
    [nav]="false"
    (mainEvent)="goBack()"
    (saveEvent)="save()"
>
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Change password</h1>
    </div>
</os-head-bar>
<os-user-password-form
    [canUpdate]="canUpdate"
    [generatePasswordFn]="generatePasswordFn"
    [user]="user"
    (save)="save()"
    (validStateChanged)="isValid = $event"
    (valueChanged)="passwordForm = $event"
/>
