$openslides-primary-blue: (
    50: #e3e9ed,
    100: #b8c8d2,
    200: #89a3b4,
    300: #5a7e96,
    400: #366380,
    500: #134769,
    600: #114061,
    700: #0e3756,
    800: #0b2f4c,
    900: #06203b,
    A100: #72aeff,
    A200: #3f91ff,
    A400: #0c74ff,
    A700: #0067f2,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff
    )
);

$openslides-accent-blue: (
    50: #e7f1f6,
    100: #c4dde8,
    200: #9dc6d9,
    300: #75afc9,
    400: #589ebe,
    500: #3a8db2,
    600: #3485ab,
    700: #2c7aa2,
    800: #257099,
    900: #185d8a,
    A100: #c1e5ff,
    A200: #8ecfff,
    A400: #5bbaff,
    A700: #41afff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
