$openslides-accent-cyan: (
    50: #ebf8f6,
    100: #ccede9,
    200: #aae1db,
    300: #88d5cc,
    400: #6fccc1,
    500: #55c3b6,
    600: #4ebdaf,
    700: #44b5a6,
    800: #3bae9e,
    900: #2aa18e,
    A100: #e3fffa,
    A200: #b0fff2,
    A400: #7dffea,
    A700: #63ffe5,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$openslides-warn-cyan: (
    50: #e2f8f4,
    100: #b8ede3,
    200: #88e1d1,
    300: #58d4be,
    400: #35cbb0,
    500: #11c2a2,
    600: #0fbc9a,
    700: #0cb490,
    800: #0aac86,
    900: #059f75,
    A100: #caffef,
    A200: #97ffdf,
    A400: #64ffcf,
    A700: #4bffc7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
