$openslides-primary-green: (
    50: #e9f2e6,
    100: #c8e0c0,
    200: #a3cb96,
    300: #7eb66b,
    400: #62a64c,
    500: #46962c,
    600: #3f8e27,
    700: #378321,
    800: #2f791b,
    900: #206810,
    A100: #acff9d,
    A200: #80ff6a,
    A400: #55ff37,
    A700: #3fff1e,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$openslides-accent-green: (
    50: #ecf8e7,
    100: #ceeec4,
    200: #aee39d,
    300: #8ed775,
    400: #75cf58,
    500: #5dc63a,
    600: #55c034,
    700: #4bb92c,
    800: #41b125,
    900: #30a418,
    A100: #dfffda,
    A200: #b3ffa7,
    A400: #87ff74,
    A700: #72ff5a,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
