$openslides-warn-magenta: (
    50: #fcebf9,
    100: #f7cdf0,
    200: #f1ace7,
    300: #eb8bdd,
    400: #e772d5,
    500: #e359ce,
    600: #e051c9,
    700: #dc48c2,
    800: #d83ebc,
    900: #d02eb0,
    A100: #ffffff,
    A200: #ffe0f8,
    A400: #ffadee,
    A700: #ff93e8,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
