$openslides-warn-orange: (
    50: #fdece0,
    100: #fbd1b3,
    200: #f8b280,
    300: #f5934d,
    400: #f27b26,
    500: #f06400,
    600: #ee5c00,
    700: #ec5200,
    800: #e94800,
    900: #e53600,
    A100: #ffffff,
    A200: #ffdfd9,
    A400: #ffb5a6,
    A700: #ffa08c,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
