$openslides-warn-orange: (
    50: #ffefe1,
    100: #ffd7b3,
    200: #ffbc80,
    300: #ffa14d,
    400: #ff8c27,
    500: #ff7801,
    600: #ff7001,
    700: #ff6501,
    800: #ff5b01,
    900: #ff4800,
    A100: #ffffff,
    A200: #fff5f2,
    A400: #ffcdbf,
    A700: #ffb9a6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
