:host {
    font-size: 14px;
}

div.remove-top-margin {
    margin-top: -1.33em;
}

div.origin-view {
    display: inline-block;
}

span.referencelist {
    display: inline-block;
}

.origin-motion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title h1 {
        display: inline-block;
        padding-right: 12px;
    }
}

.metadata-detail {
    display: none;
    &.active {
        display: block;
    }
}
