<os-head-bar [nav]="false" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot" *ngIf="!parentMotion">
        <h2>{{ 'Amendments' | translate }}</h2>
    </div>

    <!-- TODO would require translations with parameters -->
    <div class="title-slot" *ngIf="parentMotion">
        <h2>
            {{ 'Amendments to' | translate }}
            {{ (parentMotion | async)?.numberOrTitle }}
        </h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="amendmentListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span>
        <span>{{ 'selected' | translate }}</span>
    </div>
</os-head-bar>

<os-projectable-list
    *ngIf="ready"
    [listObservableProvider]="amendmentRepo"
    [sortService]="amendmentSortService"
    [filterService]="amendmentFilterService"
    [filterProps]="filterProps"
    [multiSelect]="isMultiSelect"
    [hiddenInMobile]="['summary']"
    [(selectedRows)]="selectedRows"
>
    <!-- Meta -->
    <div *osScrollingTableCell="'meta'; row as motion" class="cell-slot fill">
        <os-detail-view-navigator *ngIf="!isMultiSelect" [model]="motion"></os-detail-view-navigator>
        <div class="innerTable">
            <!-- number and line -->
            <div class="title-line one-line">
                <!-- Is Favorite -->
                <span *ngIf="motion.getPersonalNote()?.star" class="favorite-star">
                    <mat-icon inline>star</mat-icon>
                </span>

                <!-- Has File -->
                <span class="icon-prefix" *ngIf="motion.hasAttachments()">
                    <mat-icon>attach_file</mat-icon>
                </span>

                <span>{{ motion.number }}</span>
                <span *ngIf="getChangedLinesFromAmendment(motion)">
                    <span *ngIf="motion.number">&nbsp;&middot;&nbsp;</span>
                    <span>{{ 'Line' | translate }}</span>
                    <span>&nbsp;{{ getChangedLinesFromAmendment(motion) }}</span>
                </span>
            </div>

            <!-- Submitter -->
            <div class="submitters-line one-line">
                <span *ngIf="motion.submitters.length">
                    <span>{{ 'by' | translate }}</span>
                    {{ motion.submitters }}
                </span>

                <span *ngIf="showSequentialNumber">
                    <span *ngIf="motion.submitters.length">&middot;</span>
                    <span>{{ 'Sequential number' | translate }}</span>
                    {{ motion.sequential_number }}
                </span>
            </div>

            <!-- State -->
            <div>
                <mat-basic-chip *ngIf="motion.state" [ngClass]="motion.stateCssColor" [disabled]="true">
                    {{ motionService.getExtendedStateLabel(motion) }}
                </mat-basic-chip>
            </div>

            <!--  Reco -->
            <div class="spacer-top-3" *ngIf="motion.recommendation && motion.state.next_state_ids?.length > 0">
                <mat-basic-chip class="bluegrey" [disabled]="true">
                    {{ motionService.getExtendedRecommendationLabel(motion) }}
                </mat-basic-chip>
            </div>
        </div>
    </div>

    <!-- Summary -->
    <div *osScrollingTableCell="'summary'; row as motion" class="cell-slot fill">
        <os-detail-view-navigator *ngIf="!isMultiSelect" [model]="motion"></os-detail-view-navigator>
        <div class="innerTable">
            <div class="motion-text underlined-link" [innerHtml]="getAmendmentSummary(motion) | trust : 'html'"></div>
        </div>
    </div>

    <!-- Menu -->
    <div *osScrollingTableCell="'menu'; row as motion; config: { width: 40 }" class="cell-slot fill">
        <button
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleItemMenu"
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ motion: motion }"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-projectable-list>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-motion="motion">
        <os-projector-button [object]="motion" [menuItem]="true"></os-projector-button>
        <os-speaker-button [object]="motion" [menuItem]="true"></os-speaker-button>
    </ng-template>
</mat-menu>

<mat-menu #amendmentListMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <div *osPerms="permission.motionCanManage">
            <button mat-menu-item (click)="toggleMultiSelect()">
                <mat-icon>library_add</mat-icon>
                <span>{{ 'Multiselect' | translate }}</span>
            </button>
        </div>
        <button mat-menu-item (click)="openExportDialog()">
            <mat-icon>archive</mat-icon>
            <span>{{ 'Export' | translate }}</span>
        </button>
        <button mat-menu-item (click)="exportAmendmentListPdf()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ 'Amendment list (PDF)' | translate }}</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Select all' | translate }}</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'Deselect all' | translate }}</span>
        </button>

        <ng-container *osPerms="[permission.motionCanManage, permission.motionCanManageMetadata]">
            <mat-divider></mat-divider>
            <os-motion-multiselect-actions [selectedMotions]="selectedRows"></os-motion-multiselect-actions>
        </ng-container>
    </div>
</mat-menu>
