<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Import participants</h1>
    </div>
</os-head-bar>

<os-backend-import-list
    additionalInfo="{{
        'Existing accounts can be reused or updated by using:<p>• Membership number <i>(recommended)</i><br>• Username<br>• Email address AND first name AND last name'
            | translate
    }}"
    modelName="Participant"
    [defaultColumns]="columns"
    [importer]="importer"
    [possibleFields]="possibleFields"
/>
