<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2">{{ 'Import participants' | translate }}</h1>
    </div>
</os-head-bar>

<os-backend-import-list
    modelName="Participant"
    [additionalInfo]="
        'Existing accounts can be reused or updated by using: <ul><li>Membership number <i>(recommended)</i><li>Username<li>Email address AND first name AND last name'
            | translate
    "
    [defaultColumns]="columns"
    [importer]="importer"
    [possibleFields]="possibleFields"
/>
