<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import participants' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="canImport" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>

<os-import-list
    [columns]="generateImportColumns"
    [importer]="importer"
    [possibleFields]="possibleFields"
    additionalInfo="{{ 'Existing accounts can be used by entering email (with given name and surname) OR by entering the username in the csv file.' | translate }}"
    modelName="Participant"
>
    <ng-template osImportListStatusTemplate let-row="row">
        <div *ngIf="row.status === 'merge'">
            <mat-icon matTooltip="{{ ('Participant' | translate) + ' ' + ('will be referenced' | translate) }}">
                merge_type
            </mat-icon>
        </div>
    </ng-template>

    <div *osScrollingTableCell="'group_ids'; row as entry">
        <span *ngFor="let group of entry.newEntry.group_ids; let last = last">
            <span>{{ group.name | translate }}</span>
            <span *ngIf="!group.id">
                <mat-icon color="accent">add</mat-icon>
            </span>
            <span *ngIf="!last">,</span>
        </span>
    </div>
</os-import-list>
