:host {
    width: 100%;
}

.history-banner {
    background: repeating-linear-gradient(45deg, #fe0, #fe0 10px, #070600 0, #000 20px);

    span,
    a {
        padding: 2px;
        color: #000000 !important;
        background: #ffee00;
    }

    a {
        cursor: pointer;
        font-weight: bold;
    }
}
