<os-head-bar [nav]="false" prevUrl="../..">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import topics' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="canImport" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
        <div *ngIf="finishedSuccessfully || hasErrors" style="padding-top: 6px">
            <mat-icon *ngIf="finishedSuccessfully" matTooltip="{{ 'Import successful' | translate }}">done</mat-icon>
            <mat-icon
                *ngIf="finishedWithWarnings"
                matTooltip="{{ 'Import successful with some warnings' | translate }}"
            >
                done
            </mat-icon>
            <mat-icon *ngIf="hasErrors" matTooltip="{{ 'Can not import because of errors' | translate }}">
                block
            </mat-icon>
        </div>
        <os-spinner *ngIf="isImporting" [width]="30" [height]="30" [showText]="false"></os-spinner>
    </div>
</os-head-bar>

<os-backend-import-list
    [importer]="importer"
    [possibleFields]="possibleFields"
    [defaultColumns]="columns"
    modelName="Topic"
    (selectedTabChanged)="selectedTabIndex = $event"
>
    <mat-tab label="{{ 'Text import' | translate }}" osImportListFirstTab>
        <ng-template matTabLabel>{{ 'Text import' | translate }}</ng-template>
        <ng-template matTabContent>
            <div [formGroup]="textAreaForm">
                <div>
                    <div>{{ 'Paste/write your topics in this textbox.' | translate }}</div>
                    <div>{{ 'Keep each item in a single line.' | translate }}</div>
                </div>
                <mat-form-field>
                    <textarea
                        matInput
                        osAutofocus
                        formControlName="inputtext"
                        placeholder="{{ 'Insert topics here' | translate }}"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="3"
                        cdkAutosizeMaxRows="10"
                    ></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-button color="accent" (click)="parseTextArea()">
                    <span>{{ 'Preview' | translate }}</span>
                </button>
            </div>
        </ng-template>
    </mat-tab>
</os-backend-import-list>
