<os-head-bar prevUrl="../.." [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Import topics</h1>
    </div>

    <ng-container class="menu-slot">
        @if (canImport) {
            <button mat-button (click)="doImport()">
                <span class="upper">{{ 'Import' | translate }}</span>
            </button>
        }
        @if (finishedSuccessfully || hasErrors) {
            <div style="padding-top: 6px">
                @if (finishedSuccessfully) {
                    <mat-icon matTooltip="{{ 'Import successful' | translate }}">done</mat-icon>
                }
                @if (finishedWithWarnings) {
                    <mat-icon matTooltip="{{ 'Import successful with some warnings' | translate }}">done</mat-icon>
                }
                @if (hasErrors) {
                    <mat-icon matTooltip="{{ 'Can not import because of errors' | translate }}">block</mat-icon>
                }
            </div>
        }
        @if (isImporting) {
            <os-spinner [height]="30" [showText]="false" [width]="30" />
        }
    </ng-container>
</os-head-bar>

<os-backend-import-list
    modelName="Topic"
    [defaultColumns]="columns"
    [importer]="importer"
    [possibleFields]="possibleFields"
    (selectedTabChanged)="selectedTabIndex = $event"
>
    <ng-template osImportListFirstTab [label]="'Text import' | translate">
        <div [formGroup]="textAreaForm">
            <div>
                <div>{{ 'Paste/write your topics in this textbox.' | translate }}</div>
                <div>{{ 'Keep each item in a single line.' | translate }}</div>
            </div>
            <mat-form-field>
                <mat-label>{{ 'Insert topics here' | translate }}</mat-label>
                <textarea
                    cdkAutosizeMaxRows="10"
                    cdkAutosizeMinRows="3"
                    cdkTextareaAutosize
                    formControlName="inputtext"
                    matInput
                    osAutofocus
                ></textarea>
            </mat-form-field>
        </div>
        <div>
            <button color="accent" mat-button (click)="parseTextArea()">
                <span>{{ 'Preview' | translate }}</span>
            </button>
        </div>
    </ng-template>
</os-backend-import-list>
