.filter-menu-content-wrapper {
    overflow-y: auto;
    height: calc(100% - 42px);

    div.indent {
        margin-left: 18px;

        mat-action-list,
        cdk-virtual-scroll-viewport {
            height: 100%;
        }
    }

    .mat-expansion-panel {
        width: 400px;
        max-width: 95vw;
    }

    .filter-count {
        margin-left: 10px;
    }

    .filter-subtitle {
        flex: 1;
        margin-top: 12px !important;
        margin-bottom: 0px !important;
        opacity: 0.9;
        font-style: italic;
    }

    .filter-child {
        margin-left: 20px;
    }

    mat-checkbox {
        height: 30px;
    }
}
