.filter-menu-content-wrapper {
    overflow-y: scroll;
    height: 100%;
    div.indent {
        margin-left: 24px;

        mat-action-list,
        cdk-virtual-scroll-viewport {
            height: 100%;
        }
    }

    .mat-expansion-panel {
        width: 400px;
        max-width: 95vw;
    }

    .filter-count {
        margin-left: 10px;
    }

    .filter-subtitle {
        flex: 1;
        margin-top: 5px;
        margin-bottom: 5px;
        opacity: 0.9;
        font-style: italic;
    }

    .filter-child {
        margin-left: 20px;
    }

    .filter-menu--option-row {
        height: 24px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    mat-checkbox {
        // adds breaks to mat-checkboxes with long labels
        /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
        .mat-checkbox-layout {
            white-space: normal;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
        .mat-checkbox-label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 290px;
        }

        // rather than center the checkbox, put the checkbox in the first line
        /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
        .mat-checkbox-inner-container {
            margin-top: 3px;
        }
    }
}
