<h4>
    <span class="title-font">{{ title }}</span>
    @if (!isEditMode && perms.isAllowed('change_metadata')) {
        <button class="small-button" type="button" mat-icon-button disableRipple (click)="onEdit()">
            <mat-icon>edit</mat-icon>
        </button>
    }
    @if (isEditMode && perms.isAllowed('change_metadata')) {
        <button class="small-button" type="button" mat-icon-button disableRipple (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    }
</h4>

@if (!isEditMode || !perms.isAllowed('change_metadata')) {
    <div>
        <div>{{ motion[field] | localizedDate }}</div>
    </div>
}
@if (isEditMode && perms.isAllowed('change_metadata')) {
    <div>
        <form [formGroup]="form">
            <os-datepicker formControlName="date"></os-datepicker>
            <mat-form-field style="width: 100%">
                <input style="width: 100%" matInput formControlName="time" [format]="24" [ngxTimepicker]="timepicker" />
                <div class="suffix-wrapper" matSuffix>
                    <ngx-material-timepicker-toggle [for]="timepicker">
                        <mat-icon class="icon" style="margin-right: 10px" ngxMaterialTimepickerToggleIcon>
                            access_time
                        </mat-icon>
                    </ngx-material-timepicker-toggle>
                </div>
                <ngx-material-timepicker #timepicker></ngx-material-timepicker>
            </mat-form-field>
        </form>
        <p>
            <button type="button" mat-button (click)="onSave()">
                <span>{{ 'Save' | translate }}</span>
            </button>
            <button type="button" mat-button (click)="onCancel()">
                <span>{{ 'Cancel' | translate }}</span>
            </button>
        </p>
    </div>
}
