<os-head-bar [hasMainButton]="true" (mainEvent)="openThemeBuilderDialog()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Design' | translate }}</h2>
    </div>
</os-head-bar>

<os-list
    [listObservable]="repo.getViewModelListObservable()"
    [(selectedRows)]="selectedRows"
    [multiSelect]="isMultiSelect"
    listStorageKey="themes"
    [filterProps]="['name']"
    [vScrollFixed]="60"
    [alwaysShowMenu]="true"
>
    <div
        *osScrollingTableCell="'name'; row as theme"
        class="cell-slot fill pointer"
        (click)="openThemeBuilderDialog(theme)"
    >
        <div class="ellipsis-overflow">
            {{ theme.name }}
        </div>
    </div>
    <div
        *osScrollingTableCell="'colors'; row as theme; config: { width: 120 }"
        class="cell-slot fill pointer"
        (click)="openThemeBuilderDialog(theme)"
    >
        <div class="button-group">
            <div class="fake-button-no-touch" [ngStyle]="{ background: theme.primary_500 }"></div>
            <div class="fake-button-no-touch" [ngStyle]="{ background: theme.accent_500 }"></div>
            <div class="fake-button-no-touch" [ngStyle]="{ background: theme.warn_500 }"></div>
        </div>
    </div>
    <div *osScrollingTableCell="'is_active'; row as theme; config: { width: 30 }" class="cell-slot fill central-button">
        <os-prompt-checkbox
            (selected)="changeCurrentTheme(theme)"
            [checked]="isThemeUsed(theme)"
            [disabled]="isThemeUsed(theme)"
            [title]="'Change color set' | translate"
            [content]="'Are you sure you want to activate this color set? This will change the colors in all meetings.' | translate"
        ></os-prompt-checkbox>
    </div>
    <div *osScrollingTableCell="'menu'; row as theme; config: { width: 40 }" class="cell-slot fill">
        <button mat-icon-button [matMenuTriggerFor]="themeMenu" [matMenuTriggerData]="{ theme: theme }">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list>

<mat-menu #themeMenu="matMenu">
    <ng-template matMenuContent let-theme="theme">
        <button mat-menu-item (click)="openThemeBuilderDialog(theme)">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </button>
        <button mat-menu-item class="red-warning-text" (click)="deleteTheme(theme)">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>
