<mat-dialog-content>
    <div class="flex-container">
        <h2 mat-dialog-title class="left-align no-margin">{{ caption | translate }}</h2>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    @if (inMeeting) { @if (opponentName) {
    <div class="space">
        <div class="coin info-coin thisPlayer"></div>
        <span>{{ getPlayerName() }}</span>
    </div>
    <div>
        <div class="coin info-coin opponent"></div>
        <span>{{ opponentName }}</span>
    </div>
    }
    <table [class]="disableBoard ? 'disabled' : ''" id="c4">
        @for (row of [5, 4, 3, 2, 1, 0]; track row) {
        <tr>
            @for (col of [0, 1, 2, 3, 4, 5, 6]; track col) {
            <td>
                <div
                    [class]="getCoinClass(row, col)"
                    (click)="clickField(col)"
                    (keydown.enter)="clickField(col)"
                    tabindex="0"
                ></div>
            </td>
            }
        </tr>
        }
    </table>
    <div class="center">
        @if (state === 'start') {
        <button (click)="handleEvent('searchClicked')" mat-raised-button color="accent">
            {{ 'Search player' | translate }}
        </button>
        }
    </div>
    } @if (!inMeeting) {
    <div>
        {{ 'Open a meeting to play "Connect 4"' | translate }}
    </div>
    }
</mat-dialog-content>
