<mat-dialog-content>
    <div class="flex-container">
        <h2 mat-dialog-title class="left-align no-margin">{{ caption | translate }}</h2>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="inMeeting">
        <ng-container *ngIf="partnerName">
            <div class="space">
                <div class="coin info-coin thisPlayer"></div>
                <span>{{ getPlayerName() }}</span>
            </div>
            <div>
                <div class="coin info-coin partner"></div>
                <span>{{ partnerName }}</span>
            </div>
        </ng-container>
        <table [class]="disableBoard ? 'disabled' : ''" id="c4">
            <tr *ngFor="let row of [5, 4, 3, 2, 1, 0]">
                <td *ngFor="let col of [0, 1, 2, 3, 4, 5, 6]">
                    <div [class]="getCoinClass(row, col)" (click)="clickField(row, col)"></div>
                </td>
            </tr>
        </table>

        <div class="center">
            <button (click)="handleEvent('searchClicked')" *ngIf="state === 'start'" mat-raised-button color="accent">
                {{ 'Search player' | translate }}
            </button>
        </div>
    </ng-container>
    <div *ngIf="!inMeeting">
        {{ 'Visit a meeting to play connect 4' | translate }}
    </div>
</mat-dialog-content>
