<!-- Chip -->
<div>
    <h4 *ngIf="title">{{ title }}</h4>
    <mat-menu #triggerMenu="matMenu">
        <ng-container [ngTemplateOutlet]="triggerTemplate"></ng-container>
    </mat-menu>
    <os-icon-container
        iconTooltip="{{ 'Edit' | translate }}"
        icon="create"
        [swap]="true"
        [noFill]="true"
        [showIcon]="!editMode && canBeEdited && hasExtension"
        (iconAction)="changeEditMode()"
    >
        <mat-basic-chip
            *ngIf="canBeEdited"
            [matMenuTriggerFor]="triggerMenu"
            [ngClass]="classes"
            class="pointer"
            disableRipple
        >
            {{ chipValue || '–' | translate }}
        </mat-basic-chip>
        <mat-basic-chip *ngIf="!canBeEdited" [ngClass]="classes" disableRipple>
            {{ chipValue | translate }}
        </mat-basic-chip>
        <span *ngIf="internal" class="internal-suffix">({{ 'internal' | translate }})</span>
    </os-icon-container>
</div>

<!-- Extension field -->
<div *ngIf="hasExtension && editMode" class="spacer-top-10 extension-container">
    <mat-form-field>
        <mat-label>{{ extensionLabel }}</mat-label>
        <input
            matInput
            autocomplete="off"
            osAutofocus
            [(ngModel)]="inputControl"
            (keydown)="keyDownFunction($event)"
            (change)="inputChanged()"
        />
    </mat-form-field>
    <mat-form-field *ngFor="let list of searchLists; let i = index" [formGroup]="extensionFieldForm">
        <mat-label>{{ list.label ?? '' | translate }}</mat-label>
        <os-list-search-selector
            formControlName="{{ 'list' + i + '' }}"
            [inputListValues]="list.observable"
            [disableOptionWhenFn]="getIsDisabled(i)"
            [keepOpen]="list.keepOpen"
            (openedChange)="openedChange($event, i)"
            [wider]="list.wider"
        ></os-list-search-selector>
    </mat-form-field>

    <button mat-button (click)="changeEditMode(true)">{{ 'Save' | translate }}</button>
    <button mat-button (click)="changeEditMode()">{{ 'Cancel' | translate }}</button>
</div>

<!-- Optional template for the menu -->
<ng-template #triggerTemplate>
    <ng-content select=".trigger-menu"></ng-content>
</ng-template>
