.structure-level-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 8px;
    .structure-level {
        width: 33%;
        margin-bottom: 26px;
        display: flex;
    }
    .structure-level-time {
        border-top-color: transparent;
        border-top-width: 3px;
        border-top-style: solid;
        font-size: 35px;
        line-height: 1;
    }
    .structure-level-name {
        line-height: 1;
        display: flex;
        justify-content: end;
    }
    .mat-icon-button {
        width: 0px;
    }
}
