<div class="structure-level-list">
    <div class="structure-level" *ngFor="let structure_level of getStructureLevels()">
        <div class="structure-level-info" [ngStyle]="{ 'border-top-color': structure_level.color }">
            <span class="structure-level-time">
                <os-countdown-time [unstyled]="true" [countdown]="structure_level.countdown"></os-countdown-time>
            </span>
            <div class="structure-level-name">{{ structure_level.name }}</div>
        </div>
        <ng-container *ngIf="permission.projectorCanManage">
            <button
                type="button"
                mat-icon-button
                [matMenuTriggerFor]="projectionMenu"
                [matMenuTriggerData]="{ structure_level: structure_level }"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        </ng-container>
    </div>
</div>

<mat-menu #projectionMenu="matMenu">
    <ng-template let-structure_level="structure_level" matMenuContent>
        <button mat-menu-item (click)="setTotalTime(structure_level.id)" [disabled]="hasSpokenFlag">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit total time' | translate }}</span>
        </button>
        <button
            mat-menu-item
            (click)="distributOverhangTime(structure_level.id)"
            [disabled]="!isInOvertimeAndNotSpeaking(structure_level.id)"
        >
            <mat-icon>more_time</mat-icon>
            <span>{{ 'Distribute overhang time' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>

<!-- Template for total times dialog -->
<ng-template #totalTimeDialog>
    <h2 mat-dialog-title>{{ 'Change total time of' | translate }} {{ currentEntry.name }}</h2>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form [formGroup]="totalTimeForm" (keydown)="onKeyDown($event)">
            <!-- total time -->
            <mat-form-field>
                <mat-label>{{ 'Total time' | translate }}</mat-label>
                <input type="number" formControlName="totalTime" matInput required />
                <mat-error>
                    {{ 'A total time is required and must be greater than 0.' | translate }}
                </mat-error>
            </mat-form-field>
        </form>
        <p class="warn">{{ 'This will overwrite the current time.' | translate }}</p>
    </div>

    <div mat-dialog-actions>
        <button mat-button [disabled]="!totalTimeForm.valid" [mat-dialog-close]="true">
            <span>{{ 'OK' | translate }}</span>
        </button>
        <button mat-button [mat-dialog-close]="false">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
