<os-head-bar
    (mainEvent)="goBack()"
    [hasMainButton]="true"
    [nav]="false"
    [editMode]="true"
    (saveEvent)="save()"
    [isSaveButtonEnabled]="isValid"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Change password' | translate }}</h2>
    </div>
</os-head-bar>
<os-user-password-form
    [user]="user"
    [canUpdate]="canManage"
    [generatePasswordFn]="getGeneratePasswordFn()"
    (save)="save()"
    (valueChanged)="passwordForm = $event"
    (validStateChanged)="isValid = $event"
></os-user-password-form>
