@use 'src/assets/styles/media-queries.scss';
@use 'src/assets/styles/mixins/detail-view-appearance.scss';

@include media-queries.set-breakpoint-upper(xs) {
    .form100 {
        width: 100%;
    }

    .form70 {
        width: 70%;
    }

    .form50 {
        width: 50%;
    }

    .form37 {
        width: 37%;
    }

    .form25 {
        width: 25%;
    }

    .form16 {
        width: 16%;
    }
}

os-user-detail-view h2 {
    margin-top: 0 !important;
}

.force-min-width {
    min-width: 110px;
}

.distance {
    padding-right: 5%;
}

.state-icons {
    display: flex;

    mat-icon {
        margin-left: 5px;
    }
}

:host ::ng-deep .detail-view {
    @include detail-view-appearance.detail-view-appearance;
}

.padding-left-12 {
    padding-left: 12px;
}

.home-committee-area {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.external-margin-top {
    margin-top: 16px;
}
