<ng-container *osPerms="permission.projectorCanManage">
    <button
        type="button"
        class="projector-active"
        mat-mini-fab
        (click)="onClick($event)"
        *ngIf="!text && !menuItem && isProjected()"
    >
        <mat-icon>videocam</mat-icon>
    </button>
    <button
        type="button"
        class="projector-inactive"
        mat-mini-fab
        (click)="onClick($event)"
        *ngIf="!text && !menuItem && !isProjected()"
    >
        <mat-icon>videocam</mat-icon>
        {{ text | translate }}
    </button>
    <button
        type="button"
        *ngIf="menuItem"
        mat-menu-item
        (click)="onClick()"
        [ngClass]="isProjected() ? 'projector-active' : 'projector-inactive'"
    >
        <mat-icon>videocam</mat-icon>
        {{ text || 'Project' | translate }}
    </button>
</ng-container>
