<os-head-bar
    [customMenu]="true"
    [nav]="false"
    [hasMainButton]="canManageMeetingsInCommittee"
    (mainEvent)="onCreateMeeting()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ (currentCommitteeObservable | async)?.name }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button
            type="button"
            mat-icon-button
            data-cy="committeeMenuTrigger"
            [matMenuTriggerFor]="committeeMenu"
            *ngIf="canManageCommittee"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<ng-container *ngIf="currentCommitteeObservable | async as committee">
    <mat-card class="committee-details os-card">
        <!-- name -->
        <h1>
            {{ committee.name }}
        </h1>

        <!-- desc -->
        <div class="committee-description">
            {{ committee.description }}
        </div>

        <!-- forward motions to -->
        <os-committee-meta-info
            icon="file_upload"
            title="{{ 'Forward motions to' | translate }}"
            *ngIf="committee.forward_to_committees.length > 0 && isOrgaAdmin()"
        >
            <ul class="content-list expandable-list" [class.expanded]="forwardingExpanded">
                <li *ngFor="let forwarding of sortCommitteesByName(committee.forward_to_committees)">
                    <a *ngIf="canAccessCommittee(forwarding)" [routerLink]="['/', 'committees', forwarding.id]">
                        {{ forwarding.name }}
                    </a>
                    <ng-container *ngIf="!canAccessCommittee(forwarding)">{{ forwarding.name }}</ng-container>
                </li>
            </ul>
            <button *ngIf="committee.forward_to_committees.length > 1" mat-button (click)="toggleForwardingList()">
                <ng-container *ngIf="!forwardingExpanded">
                    {{ 'More' | translate }}
                    <mat-icon>expand_more</mat-icon>
                </ng-container>
                <ng-container *ngIf="forwardingExpanded">
                    {{ 'Less' | translate }}
                    <mat-icon>expand_less</mat-icon>
                </ng-container>
            </button>
        </os-committee-meta-info>

        <!-- receive motions from -->
        <os-committee-meta-info
            icon="file_download"
            title="{{ 'Receive motions from' | translate }}"
            *ngIf="committee.receive_forwardings_from_committees.length > 0 && isOrgaAdmin()"
        >
            <ul class="content-list expandable-list" [class.expanded]="receiveExpanded">
                <li *ngFor="let receive of sortCommitteesByName(committee.receive_forwardings_from_committees)">
                    <a *ngIf="canAccessCommittee(receive)" [routerLink]="['/', 'committees', receive.id]">
                        {{ receive.name }}
                    </a>
                    <span *ngIf="!canAccessCommittee(receive)">{{ receive.name }}</span>
                </li>
            </ul>
            <button
                *ngIf="committee.receive_forwardings_from_committees.length > 1"
                mat-button
                (click)="toggleReceiveList()"
            >
                <ng-container *ngIf="!receiveExpanded">
                    {{ 'More' | translate }}
                    <mat-icon>expand_more</mat-icon>
                </ng-container>
                <ng-container *ngIf="receiveExpanded">
                    {{ 'Less' | translate }}
                    <mat-icon>expand_less</mat-icon>
                </ng-container>
            </button>
        </os-committee-meta-info>

        <!-- Member amount -->
        <os-committee-meta-info
            icon="engineering"
            title="{{ 'Committee admin' | translate }}"
            *ngIf="canManageCommittee"
        >
            <ng-container *ngIf="committee.getManagers() as managers">
                <span *ngFor="let manager of managers; let last = last">
                    <ng-container *osOmlPerms="OML.can_manage_users">
                        <a [routerLink]="['/', 'accounts', manager?.id]">{{ manager }}</a>
                    </ng-container>
                    <ng-container *osOmlPerms="OML.can_manage_users; complement: true">
                        <span>{{ manager }}</span>
                    </ng-container>
                    <span *ngIf="!last">,&nbsp;</span>
                </span>
                <i class="red-warning-text" *ngIf="managers.length === 0">
                    {{ 'This committee has no managers!' | translate }}
                </i>
            </ng-container>
        </os-committee-meta-info>
    </mat-card>

    <!-- Meetings -->
    <div class="meeting-list">
        <mat-card class="os-card" *ngIf="!getMeetingsSorted(committee).length">
            {{ 'No meetings available' | translate }}
        </mat-card>
        <os-committee-meeting-preview
            *ngFor="let meeting of getMeetingsSorted(committee)"
            class="meeting-preview-card"
            [meeting]="meeting"
            [committee]="committee"
        ></os-committee-meeting-preview>
    </div>
</ng-container>

<mat-menu #committeeMenu="matMenu">
    <ng-template matMenuContent>
        <ng-container *ngIf="currentCommitteeObservable | async as committee">
            <a
                *osOmlPerms="OML.can_manage_organization"
                data-cy="committeeEditAnchor"
                mat-menu-item
                [routerLink]="['/', 'committees', 'edit-committee']"
                [queryParams]="{ committeeId: committeeId }"
            >
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit committee' | translate }}</span>
            </a>
            <a mat-menu-item type="button" [routerLink]="['meeting', 'import']">
                <mat-icon>cloud_upload</mat-icon>
                <span>
                    {{ 'Import meeting' | translate }}
                </span>
            </a>
            <ng-container *osOmlPerms="OML.can_manage_organization">
                <mat-divider></mat-divider>
                <button mat-menu-item class="red-warning-text" (click)="onDeleteCommittee(committee)">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'Delete' | translate }}</span>
                </button>
            </ng-container>
        </ng-container>
    </ng-template>
</mat-menu>
