<os-head-bar
    [customMenu]="true"
    [nav]="false"
    [hasMainButton]="canManageMeetingsInCommittee"
    [mainActionTooltip]="'New meeting' | translate"
    (mainEvent)="onCreateMeeting()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ (currentCommitteeObservable | async)?.name }}</h2>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        @if (isOrgaAdmin()) {
        <button type="button" mat-icon-button data-cy="committeeMenuTrigger" [matMenuTriggerFor]="committeeMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        }
    </ng-container>
</os-head-bar>

@if (currentCommitteeObservable | async; as committee) {
<mat-card class="committee-details os-card">
    <mat-card-content>
        <!-- name -->
        <h1>
            {{ committee.name }}
        </h1>
        <!-- desc -->
        <div class="committee-description">
            {{ committee.description }}
        </div>
        <!-- forward motions to -->
        @if (committee.forward_to_committees.length > 0 && isOrgaAdmin()) {
        <os-committee-meta-info icon="file_upload" title="{{ 'Forward motions to' | translate }}">
            <ul class="content-list expandable-list" [class.expanded]="forwardingExpanded">
                @for (forwarding of sortCommitteesByName(committee.forward_to_committees); track forwarding) {
                <li>
                    @if (canAccessCommittee(forwarding)) {
                    <a [routerLink]="['/', 'committees', forwarding.id]">
                        {{ forwarding.name }}
                    </a>
                    } @if (!canAccessCommittee(forwarding)) {
                    {{ forwarding.name }}
                    }
                </li>
                }
            </ul>
            @if (committee.forward_to_committees.length > 1) {
            <button mat-button (click)="toggleForwardingList()">
                @if (!forwardingExpanded) {
                {{ 'More' | translate }}
                } @if (!forwardingExpanded) {
                <mat-icon>expand_more</mat-icon>
                } @if (forwardingExpanded) {
                {{ 'Less' | translate }}
                } @if (forwardingExpanded) {
                <mat-icon>expand_less</mat-icon>
                }
            </button>
            }
        </os-committee-meta-info>
        }
        <!-- receive motions from -->
        @if (committee.receive_forwardings_from_committees.length > 0 && isOrgaAdmin()) {
        <os-committee-meta-info icon="file_download" title="{{ 'Receive motions from' | translate }}">
            <ul class="content-list expandable-list" [class.expanded]="receiveExpanded">
                @for (receive of sortCommitteesByName(committee.receive_forwardings_from_committees); track receive) {
                <li>
                    @if (canAccessCommittee(receive)) {
                    <a [routerLink]="['/', 'committees', receive.id]">
                        {{ receive.name }}
                    </a>
                    } @if (!canAccessCommittee(receive)) {
                    <span>{{ receive.name }}</span>
                    }
                </li>
                }
            </ul>
            @if (committee.receive_forwardings_from_committees.length > 1) {
            <button mat-button (click)="toggleReceiveList()">
                @if (!receiveExpanded) {
                {{ 'More' | translate }}
                } @if (receiveExpanded) {
                {{ 'Less' | translate }}
                } @if (!receiveExpanded) {
                <mat-icon>expand_more</mat-icon>
                } @if (receiveExpanded) {
                <mat-icon>expand_less</mat-icon>
                }
            </button>
            }
        </os-committee-meta-info>
        }
        <!-- Member amount -->
        @if (canManageCommittee) {
        <os-committee-meta-info icon="engineering" title="{{ 'Committee admin' | translate }}">
            @if (committee.getManagers(); as managers) {
            <os-comma-separated-listing [list]="managers">
                <ng-template let-manager>
                    <ng-container *osOmlPerms="OML.can_manage_users">
                        <a [routerLink]="['/', 'accounts', manager?.id]">{{ manager }}</a>
                    </ng-container>
                    <ng-container *osOmlPerms="OML.can_manage_users; complement: true">
                        <span>{{ manager }}</span>
                    </ng-container>
                </ng-template>
            </os-comma-separated-listing>
            @if (managers.length === 0) {
            <i class="red-warning-text">
                {{ 'This committee has no managers!' | translate }}
            </i>
            } }
        </os-committee-meta-info>
        }
    </mat-card-content>
</mat-card>
<!-- Meetings -->
<div>
    @if (!getMeetingsSorted(committee).length) {
    <mat-card class="os-card">
        <mat-card-content>
            {{ 'No meetings available' | translate }}
        </mat-card-content>
    </mat-card>
    } @for (meeting of getMeetingsSorted(committee); track meeting) {
    <os-committee-meeting-preview
        class="meeting-preview-card"
        [meeting]="meeting"
        [committee]="committee"
    ></os-committee-meeting-preview>
    }
</div>
}

<mat-menu #committeeMenu="matMenu">
    <ng-template matMenuContent>
        @if (currentCommitteeObservable | async; as committee) {
        <a
            *osOmlPerms="OML.can_manage_organization"
            data-cy="committeeEditAnchor"
            mat-menu-item
            [routerLink]="['/', 'committees', 'edit-committee']"
            [queryParams]="{ committeeId: committeeId }"
        >
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit committee' | translate }}</span>
        </a>
        @if (isSuperAdmin()) {
        <a mat-menu-item type="button" [routerLink]="['meeting', 'import']">
            <mat-icon>cloud_upload</mat-icon>
            <span>
                {{ 'Import meeting' | translate }}
            </span>
        </a>
        }
        <ng-container *osOmlPerms="OML.can_manage_organization">
            <mat-divider></mat-divider>
            <button mat-menu-item class="red-warning-text" (click)="onDeleteCommittee(committee)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </ng-container>
        }
    </ng-template>
</mat-menu>
