<os-head-bar [customMenu]="true" [goBack]="false" [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ (currentCommitteeObservable | async)?.name }}</h2>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button mat-icon-button type="button" [routerLink]="['/', 'committees']">
            <mat-icon>view_headline</mat-icon>
        </button>
        @if (canManageCommittee) {
            <button mat-icon-button type="button" [matMenuTriggerFor]="addMenu">
                <mat-icon>add_circle</mat-icon>
            </button>
        }
        @if (isOrgaAdmin()) {
            <button data-cy="committeeMenuTrigger" mat-icon-button type="button" [matMenuTriggerFor]="committeeMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        }
    </ng-container>
</os-head-bar>

@if (currentCommitteeObservable | async; as committee) {
    <div>
        @for (item of committee.all_parents; track item.id) {
            <button mat-button [routerLink]="['/', 'committees', item.id]">
                @if ($first) {
                    <mat-icon>layers</mat-icon>
                } @else {
                    <mat-icon>chevron_right</mat-icon>
                }
                {{ item.getTitle() }}
            </button>
        }
    </div>
    <mat-card class="committee-details os-card">
        <mat-card-content>
            <!-- name -->
            <h1>
                {{ committee.name }}
            </h1>
            <!-- desc -->
            <div class="committee-description">
                {{ committee.description }}
            </div>
            <!-- forward motions to -->
            @if (committee.forward_to_committees.length > 0 && isOrgaAdmin()) {
                <os-committee-meta-info icon="file_upload" title="{{ 'Forward motions to' | translate }}">
                    <ul class="content-list expandable-list" [class.expanded]="forwardingExpanded">
                        @for (forwarding of sortCommitteesByName(committee.forward_to_committees); track forwarding) {
                            <li>
                                @if (canAccessCommittee(forwarding)) {
                                    <a [routerLink]="['/', 'committees', forwarding.id]">
                                        {{ forwarding.name }}
                                    </a>
                                }
                                @if (!canAccessCommittee(forwarding)) {
                                    {{ forwarding.name }}
                                }
                            </li>
                        }
                    </ul>
                    @if (committee.forward_to_committees.length > 1) {
                        <button mat-button (click)="toggleForwardingList()">
                            @if (!forwardingExpanded) {
                                {{ 'More' | translate }}
                            }
                            @if (!forwardingExpanded) {
                                <mat-icon>expand_more</mat-icon>
                            }
                            @if (forwardingExpanded) {
                                {{ 'Less' | translate }}
                            }
                            @if (forwardingExpanded) {
                                <mat-icon>expand_less</mat-icon>
                            }
                        </button>
                    }
                </os-committee-meta-info>
            }
            <!-- receive motions from -->
            @if (committee.receive_forwardings_from_committees.length > 0 && isOrgaAdmin()) {
                <os-committee-meta-info icon="file_download" title="{{ 'Receive motions from' | translate }}">
                    <ul class="content-list expandable-list" [class.expanded]="receiveExpanded">
                        @for (
                            receive of sortCommitteesByName(committee.receive_forwardings_from_committees);
                            track receive
                        ) {
                            <li>
                                @if (canAccessCommittee(receive)) {
                                    <a [routerLink]="['/', 'committees', receive.id]">
                                        {{ receive.name }}
                                    </a>
                                }
                                @if (!canAccessCommittee(receive)) {
                                    <span>{{ receive.name }}</span>
                                }
                            </li>
                        }
                    </ul>
                    @if (committee.receive_forwardings_from_committees.length > 1) {
                        <button mat-button (click)="toggleReceiveList()">
                            @if (!receiveExpanded) {
                                {{ 'More' | translate }}
                            }
                            @if (receiveExpanded) {
                                {{ 'Less' | translate }}
                            }
                            @if (!receiveExpanded) {
                                <mat-icon>expand_more</mat-icon>
                            }
                            @if (receiveExpanded) {
                                <mat-icon>expand_less</mat-icon>
                            }
                        </button>
                    }
                </os-committee-meta-info>
            }
            <!-- Member amount -->
            @if (canManageCommittee) {
                <os-committee-meta-info icon="engineering" title="{{ 'Committee admin' | translate }}">
                    @if (committee.getManagers(); as managers) {
                        <os-comma-separated-listing [list]="managers">
                            <ng-template let-manager>
                                <ng-container *osOmlPerms="OML.can_manage_users">
                                    <a [routerLink]="['/', 'accounts', manager?.id]">{{ manager }}</a>
                                </ng-container>
                                <ng-container *osOmlPerms="OML.can_manage_users; complement: true">
                                    <span>{{ manager }}</span>
                                </ng-container>
                            </ng-template>
                        </os-comma-separated-listing>
                        @if (managers.length === 0) {
                            <i class="red-warning-text">
                                {{ 'This committee has no managers!' | translate }}
                            </i>
                        }
                    }
                </os-committee-meta-info>
                <!-- Number of total accounts -->
                <os-committee-meta-info icon="person" title="{{ 'Accounts' | translate }}">
                    <span>{{ accountNumber }}</span>
                </os-committee-meta-info>
                <!-- Number of total accounts in Children-->
                <os-committee-meta-info icon="person" title="{{ 'Accounts in child committees' | translate }}">
                    <span>{{ accountInChildrenNumber }}</span>
                </os-committee-meta-info>
                <!-- Number of native users -->
                <os-committee-meta-info icon="person" title="{{ 'Home Committee Accounts' | translate }}">
                    <span>{{ accountHomeCommitteeNumber }}</span>
                </os-committee-meta-info>
                <!-- Number of users with guest -->
                <os-committee-meta-info icon="person" title="{{ 'Guest' | translate }}">
                    <span>{{ accountGuestNumber }}</span>
                </os-committee-meta-info>

                <!-- Parent committee -->
                <os-committee-meta-info icon="layers" title="{{ 'Parent Committee' | translate }}">
                    @if (committee.parent) {
                        <span>
                            {{ committee.parent.name }}
                        </span>
                    }
                </os-committee-meta-info>
            }
        </mat-card-content>
    </mat-card>
    <div class="os-card">
        <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="getIndex(committee)">
            <mat-tab label="{{ 'Committees' | translate }}">
                <os-list
                    [filterProps]="['name']"
                    [fullScreen]="false"
                    [listObservable]="childCommitteesObservable"
                    [multiSelect]="false"
                    [vScrollFixed]="70"
                >
                    <div *osScrollingTableCell="'name'; row as committee" class="cell-slot fill">
                        @if (committee.canAccess()) {
                            <a
                                class="stretch-to-fill-parent"
                                [attr.aria-label]="ariaLabel(committee)"
                                [routerLink]="['/', 'committees', committee.id]"
                            ></a>
                            <div class="overflow-hidden">
                                <div class="title-line ellipsis-overflow">
                                    {{ committee.name }}
                                    @if (committee.description?.trim()) {
                                        <div class="subtitle ellipsis-overflow">
                                            {{ committee.description }}
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </os-list>
            </mat-tab>
            <mat-tab label="{{ 'Meetings' | translate }}">
                <div>
                    @if (!getMeetingsSorted(committee).length) {
                        <mat-card class="meeting-preview-card">
                            <mat-card-content>
                                {{ 'No meetings available' | translate }}
                            </mat-card-content>
                        </mat-card>
                    }
                    @for (meeting of getMeetingsSorted(committee); track meeting) {
                        <os-committee-meeting-preview
                            class="meeting-preview-card"
                            [committee]="committee"
                            [isCMAndRequireDuplicateFrom]="isCMandRequireDuplicateFrom()"
                            [meeting]="meeting"
                        ></os-committee-meeting-preview>
                    }
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
}

<mat-menu #committeeMenu="matMenu">
    <ng-template matMenuContent>
        @if (currentCommitteeObservable | async; as committee) {
            <a
                *osOmlPerms="OML.can_manage_organization; allowCommitteeAdmin: true"
                data-cy="committeeEditAnchor"
                mat-menu-item
                [queryParams]="{ committeeId: committeeId }"
                [routerLink]="['/', 'committees', 'edit-committee']"
            >
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit committee' | translate }}</span>
            </a>
            @if (isSuperAdmin()) {
                <a mat-menu-item type="button" [routerLink]="['meeting', 'import']">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>
                        {{ 'Import meeting' | translate }}
                    </span>
                </a>
            }
            <ng-container *osOmlPerms="OML.can_manage_organization; allowCommitteeAdmin: true">
                <mat-divider />
                <button class="red-warning-text" mat-menu-item (click)="onDeleteCommittee(committee)">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'Delete' | translate }}</span>
                </button>
            </ng-container>
        }
    </ng-template>
</mat-menu>

<mat-menu #addMenu="matMenu">
    <ng-template matMenuContent>
        @if (currentCommitteeObservable | async; as committee) {
            <a mat-menu-item [queryParams]="{ parentId: committeeId }" [routerLink]="['/', 'committees', 'create']">
                <mat-icon>layers</mat-icon>
                <span>{{ 'Add committee' | translate }}</span>
            </a>
            <a mat-menu-item type="button" [routerLink]="['meeting', 'create']">
                <mat-icon>event_available</mat-icon>
                <span>
                    {{ 'Add meeting' | translate }}
                </span>
            </a>
        }
    </ng-template>
</mat-menu>
