@use 'src/assets/styles/h-scroller.scss';

.committee-details {
    position: relative;
    margin-bottom: 3em !important;

    .committee-description {
        margin-top: 1em;
    }

    .user-footer {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .content-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.meeting-preview-card {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.meeting-preview-card + .meeting-preview-card {
    margin-top: 2em;
}

.expandable-list {
    max-height: 24px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    &.expanded {
        max-height: 100%;
    }
}

$navbar-size: 40px;

.breadcrumb-nav-bar {
    width: 100%;
    display: flex;
}

.breadcrumb-section {
    white-space: nowrap;
    display: flex;

    .mat-mdc-button {
        padding: 0;
    }
}

.arrow {
    height: $navbar-size;
    .mat-icon {
        line-height: $navbar-size;
        height: $navbar-size;
    }
}

.mat-mdc-button.breadcrumb {
    height: $navbar-size;
    > .content-node {
        white-space: nowrap;
    }
}

.fake-breadcrumb {
    padding: 0;
}

.breadcrumb-text {
    font-size: 16px;
    font-weight: 500;
    margin: auto 0px;
    overflow: hidden;
}

.icon-text {
    vertical-align: middle;
}
