<ng-container *osPerms="permission.agendaItemCanManage">
    <ng-container>
        <div [formGroup]="form">
            <p>
                <mat-checkbox formControlName="agenda_create">
                    <span>{{ 'Add to agenda' | translate }}</span>
                </mat-checkbox>
            </p>
        </div>

        <ng-container *ngIf="!!checkbox?.value">
            <!-- Visibility -->
            <div>
                <mat-form-field [formGroup]="form">
                    <mat-label>{{ 'Agenda visibility' | translate }}</mat-label>
                    <mat-select formControlName="agenda_type">
                        <mat-option *ngFor="let type of itemVisibilityChoices" [value]="type.key">
                            <span>{{ type.name | translate }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Parent item -->
            <div *ngIf="hasItemsObservable | async" [formGroup]="form">
                <mat-form-field>
                    <mat-label>{{ 'Parent agenda item' | translate }}</mat-label>
                    <os-list-search-selector
                        formControlName="agenda_parent_id"
                        [multiple]="false"
                        [includeNone]="true"
                        [inputListValues]="itemObserver"
                    ></os-list-search-selector>
                </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
