$message-form-height: 65px;
$action-row-height: 35px;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div:first-child {
        height: 100%;
        padding-bottom: 1px; // Otherwise there is some ugly space to the bottom

        .action-row {
            height: $action-row-height;
        }

        cdk-virtual-scroll-viewport {
            height: calc(100% - #{$action-row-height});
            flex-grow: 1;

            &.has-write-permissions {
                // The label of a content has almost the same height as the message-form
                height: calc(100% - #{$action-row-height} - #{$message-form-height});
            }
        }
    }

    .chat-group-label-wrapper {
        line-height: 1.25em;
        padding: 8px 16px;
        height: 40px;
        > div {
            max-height: 100%;
            overflow: hidden;
        }
    }

    .max-lines-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-lines: 2;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }
}
