<div *ngIf="chatGroupObservable | async as group">
    <div class="background-primary flex-vertical-center chat-group-label-wrapper">
        <button mat-icon-button *ngIf="isMobileObservable | async" (click)="backButtonClicked.emit()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div class="max-lines-2">
            {{ group.name }}
        </div>
    </div>
    <div class="action-row flex-vertical-center padding-left-8 padding-right-8">
        <div>
            <os-icon-container
                icon="edit"
                *ngIf="group.write_groups.length"
                matTooltip="{{ 'Groups with write permissions' | translate }}"
            >
                <span *ngFor="let userGroup of group.write_groups | slice : 0 : 3; let last = last">
                    <span>{{ userGroup.getTitle() | translate }}</span>
                    <span *ngIf="!last">,&nbsp;</span>
                    <span *ngIf="last && group.write_groups.length > 3">...</span>
                </span>
            </os-icon-container>
        </div>

        <div>
            <os-icon-container
                icon="remove_red_eye"
                *ngIf="getReadonlyGroups(group).length"
                matTooltip="{{ 'Groups with read permissions' | translate }}"
            >
                <span *ngFor="let userGroup of getReadonlyGroups(group) | slice : 0 : 3; let last = last">
                    <span>{{ userGroup.getTitle() | translate }}</span>
                    <span *ngIf="!last">,&nbsp;</span>
                    <span *ngIf="last && group.read_groups.length > 3">...</span>
                </span>
            </os-icon-container>
        </div>
        <div class="spacer"></div>
        <button
            mat-icon-button
            [matMenuTriggerFor]="chatGroupMenu"
            [matMenuTriggerData]="{ chatGroup: group }"
            *ngIf="canManage"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <cdk-virtual-scroll-viewport
        *ngIf="{ writePermissions: hasWritePermissionsObservable | async } as has"
        [itemSize]="70"
        (scrolledIndexChange)="onScrolledIndexChanged()"
        [ngClass]="{ 'has-write-permissions': has.writePermissions }"
    >
        <div *cdkVirtualFor="let message of group.chat_messages">
            <os-chat-group-detail-message
                [chatMessage]="message"
                (editing)="prepareEditingChatMessage($event)"
                (deleting)="deleteChatMessage($event)"
            ></os-chat-group-detail-message>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<os-chat-group-detail-message-form
    *ngIf="hasWritePermissionsObservable | async"
    (messageSent)="sendChatMessage($event)"
    (editingCanceled)="cancelEditingChatMessage()"
    [currentMessage]="toEditChatMessageObservable | async"
></os-chat-group-detail-message-form>

<!-- The menu content -->
<mat-menu #chatGroupMenu="matMenu">
    <ng-template matMenuContent let-chatGroup="chatGroup">
        <button mat-menu-item (click)="editChatGroup(chatGroup)">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </button>
        <!-- clear history -->
        <button mat-menu-item (click)="clearChatGroup(chatGroup)" class="red-warning-text">
            <mat-icon>format_clear</mat-icon>
            <span>{{ 'Clear' | translate }}</span>
        </button>
        <!-- delete -->
        <button mat-menu-item (click)="deleteChatGroup(chatGroup)" class="red-warning-text">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>
