$message-form-height: 65px;
$action-row-height: 35px;

:host {
    display: block;
    height: calc(100% - #{$message-form-height});

    > div:first-child {
        height: 100%;
        padding-bottom: 1px; // Otherwise there is some ugly space to the bottom

        .action-row {
            height: $action-row-height;
        }

        cdk-virtual-scroll-viewport {
            height: calc(100% - #{$action-row-height});

            &.has-write-permissions {
                // The label of a content has almost the same height as the message-form
                height: calc(100% - #{$action-row-height} - #{$message-form-height});
            }
        }
    }

    .chat-form-field {
        .chat-form-field-prefix {
            position: absolute;
            z-index: 1000;
            transform: translate(-1rem, -3rem) scale(0.75);
        }
    }

    .chat-group-label-wrapper {
        line-height: 1.25em;
        padding: 8px 16px;
        height: 40px;
        > div {
            max-height: 100%;
            overflow: hidden;
        }
    }

    .max-lines-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-lines: 2;
    }
}
