@if (message) {
    <mat-card>
        <mat-card-content>
            <div class="flexbox-wrapper">
                <div class="button">
                    <button
                        class="small-mat-icon-button projector-button"
                        mat-icon-button
                        matTooltip="{{ 'Open projection dialog' | translate }}"
                        matTooltipPosition="left"
                        type="button"
                        [color]="isProjected ? 'accent' : 'basic'"
                        (click)="onBringDialog()"
                    >
                        <mat-icon>videocam</mat-icon>
                    </button>
                </div>
                <div class="message cursor-default" [innerHTML]="message.getPreview(100)"></div>
                <div class="action-buttons">
                    <button
                        class="small-mat-icon-button"
                        mat-icon-button
                        matTooltip="{{ 'Edit' | translate }}"
                        matTooltipPosition="left"
                        type="button"
                        (click)="onEdit()"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="small-mat-icon-button"
                        mat-icon-button
                        matTooltip="{{ 'Delete' | translate }}"
                        matTooltipPosition="left"
                        type="button"
                        (click)="onDelete()"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
}
