@import 'src/assets/styles/custom-button-styles.scss';

.flexbox-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 0 1 0;
    align-items: center;
    gap: 10px;
}

// could be in a shared scss
.projector-button {
    margin: auto 10px auto 0;
}

.message {
    overflow: hidden;
    text-overflow: ellipsis;
}

// could be in a shared scss
.action-buttons {
    text-align: right;
    width: 30px;
    margin-left: auto;
}
