@use 'src/assets/styles/custom-button-styles.scss';

.flexbox-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 0 1 0;
    align-items: center;
    gap: 10px;
}

// could be in a shared scss
.projector-button {
    padding: 18px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}

.message {
    overflow: hidden;
    text-overflow: ellipsis;
}

// could be in a shared scss
.action-buttons {
    text-align: right;
    width: 30px;
    margin-left: auto;
}
