<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import committees' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="canImport" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>
<os-backend-import-list
    modelName="Committees"
    [importer]="importer"
    [possibleFields]="possibleFields"
    [defaultColumns]="columns"
></os-backend-import-list>
