<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar
        saveText="Create"
        [editMode]="true"
        [isSaveButtonEnabled]="matStepper.selectedIndex === 1 && canSave"
        [nav]="false"
        [saveAction]="getSaveAction()"
        (cancelEditEvent)="cancelCreation()"
    >
        <!-- Title -->
        <div class="title-slot">
            <h2>{{ 'New amendment' | translate }}</h2>
        </div>

        <!-- Next-button -->
        <div class="extra-controls-slot">
            @if (matStepper.selectedIndex === 0) {
                <div>
                    <button
                        mat-button
                        [disabled]="contentForm.value.selectedParagraphs.length === 0"
                        (click)="checkCanSave()"
                    >
                        <span class="upper">{{ 'Next' | translate }}</span>
                    </button>
                </div>
            }
            @if (matStepper.selectedIndex === 1) {
                <div>
                    <button mat-button type="button" (click)="matStepper.previous()">
                        <span class="upper">{{ 'Previous' | translate }}</span>
                    </button>
                </div>
            }
        </div>
    </os-head-bar>

    <form [formGroup]="contentForm">
        <mat-horizontal-stepper #matStepper linear (selectedIndexChange)="changeStepper($event)">
            <mat-step [completed]="contentForm.value.selectedParagraphs.length > 0">
                <ng-template matStepLabel>{{ 'Select paragraphs' | translate }}</ng-template>
                <div class="amendment-create-wizard-wrapper spacer-bottom-20">
                    <cdk-virtual-scroll-viewport
                        class="paragraph-scroll"
                        itemSize="90"
                        maxBufferPx="600"
                        minBufferPx="400"
                    >
                        @for (paragraph of paragraphs; track paragraph; let i = $index) {
                            <section
                                class="paragraph-row background-hover"
                                role="none"
                                tabindex="-1"
                                [class.outlined-hover]="isParagraphSelected(paragraph)"
                                (click)="onParagraphClicked(paragraph)"
                            >
                                @if (multipleParagraphsAllowed) {
                                    <mat-checkbox
                                        class="flex-center paragraph-select"
                                        [checked]="isParagraphSelected(paragraph)"
                                    ></mat-checkbox>
                                }
                                @if (!multipleParagraphsAllowed) {
                                    <mat-radio-button
                                        class="flex-center paragraph-select"
                                        [checked]="isParagraphSelected(paragraph)"
                                    ></mat-radio-button>
                                }
                                <div class="paragraph-text motion-text">
                                    <div>
                                        @let currentParagraphLineFrom =
                                            isAmendmentOfAmendment ? diffedParagraphs[i].lineFrom : paragraph.lineFrom;
                                        @let currentParagraphLineTo =
                                            isAmendmentOfAmendment ? diffedParagraphs[i].lineTo : paragraph.lineTo;
                                        @if (currentParagraphLineFrom >= currentParagraphLineTo) {
                                            <i class="line-number">
                                                {{ 'Line' | translate }} {{ currentParagraphLineFrom }}:
                                            </i>
                                        }
                                        @if (currentParagraphLineFrom < currentParagraphLineTo) {
                                            <i class="line-number">
                                                {{ 'Line' | translate }} {{ currentParagraphLineFrom }} -
                                                {{ currentParagraphLineTo }}:
                                            </i>
                                        }
                                    </div>
                                    <div [innerHTML]="getParagraphPreview(i) | trust: 'html'"></div>
                                </div>
                            </section>
                        }
                    </cdk-virtual-scroll-viewport>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>{{ 'Change paragraph' | translate }}</ng-template>

                <h3>
                    <span>{{ 'Amendment text' | translate }}</span>
                </h3>

                <!-- Text -->
                @for (paragraph of contentForm.value.selectedParagraphs; track paragraph) {
                    <section>
                        <h4>
                            @if (paragraph.lineFrom >= paragraph.lineTo) {
                                <span class="line-number">{{ 'Line' | translate }} {{ paragraph.lineFrom }}:</span>
                            } @else {
                                <span class="line-number">
                                    {{ 'Line' | translate }} {{ paragraph.lineFrom }} - {{ paragraph.lineTo }}:
                                </span>
                            }
                        </h4>
                        <os-motion-editor [formControlName]="'text_' + paragraph.paragraphNo"></os-motion-editor>
                    </section>
                }

                <!-- Reason -->
                <h3
                    [ngClass]="
                        reasonRequired &&
                        contentForm.get('reason')?.invalid &&
                        (contentForm.get('reason')?.dirty || contentForm.get('reason')?.touched)
                            ? 'red-warning-text'
                            : ''
                    "
                >
                    <span>{{ 'Reason' | translate }}</span>
                    &nbsp;
                    @if (reasonRequired) {
                        <span>*</span>
                    }
                </h3>

                <os-motion-editor formControlName="reason" [required]="reasonRequired"></os-motion-editor>
                @if (
                    reasonRequired &&
                    contentForm.get('reason')?.invalid &&
                    (contentForm.get('reason')?.dirty || contentForm.get('reason')?.touched)
                ) {
                    <div class="red-warning-text">
                        {{ 'This field is required.' | translate }}
                    </div>
                }
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</os-detail-view>
