@use 'src/assets/styles/poll-styles-common.scss';

:host {
    outline: none;
}

.result-wrapper-additional {
    .result-table {
        tr {
            height: 40px;
        }
    }
}

.extra-grid-normal {
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.extra-grid-slide {
    justify-items: start;
    align-items: start;
    grid-template-columns: 6fr 4fr;
}

.result-wrapper {
    display: grid;
    grid-gap: 0 2em;

    .margins {
        margin-left: 50px;
    }

    .result-table {
        border-collapse: collapse;
        height: fit-content;
        width: 100%;
        .right-header {
            font-weight: initial;
            text-align: right;
        }
        .left-header {
            text-align: left;
            font-weight: initial;
        }

        tr {
            border-bottom: none !important;

            .result-cell-definition {
                text-align: right;
            }

            td {
                padding: 7px 0;
            }

            :nth-child(2):not(th) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .text-gigantic {
            tr {
                td {
                    padding: 15px 0;
                }

                :nth-child(2):not(th) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }

        .column-padding-width-slide {
            tr {
                td {
                    padding: 15px 0;
                }

                td.label-column {
                    min-width: 300px;
                }

                :nth-child(2):not(th) {
                    padding-left: 20px;
                    padding-right: 20px;
                    min-width: 80px;
                }

                :nth-child(3):not(th) {
                    min-width: 160px;
                }
            }
        }
        .percent-column-width-gigantic {
            tr {
                :nth-child(2):not(th) {
                    min-width: 120px;
                }
            }
        }

        .percent-column-width-large {
            tr {
                :nth-child(2):not(th) {
                    min-width: 100px;
                }
            }
        }

        .votesvalid {
            border-top: 2px solid rgba(128, 128, 128, 0.2);
        }

        .votesinvalid.slide {
            font-size: 24px !important;
            font-weight: 400 !important;
            line-height: 0.8;
        }

        .votescast.slide {
            font-size: 24px !important;
            font-weight: 400 !important;
            line-height: 0.8;
        }

        .text {
            &-small {
                font-size: 12px;
            }

            &-medium {
                font-size: 14px;
            }

            &-large {
                font-size: 16px;
            }

            &-gigantic {
                font-size: 22px;
            }

            &-big-bold {
                font-size: 38px;
                font-weight: 500;
            }

            &-big {
                font-size: 38px;
            }
        }
    }

    .doughnut-chart-normal {
        width: 200px;
        margin-top: -35px;
        align-self: start;
    }

    .doughnut-chart-slide {
        width: 260px;
        margin-top: 0px;
        justify-self: right;
        margin-right: 50px;
    }
}
