@use 'src/assets/styles/poll-styles-common.scss';

:host {
    outline: none;
}

.result-wrapper-additional {
    .result-table {
        tr {
            height: 40px;
        }
    }
}

.result-wrapper {
    display: grid;
    grid-gap: 0 2em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    align-items: center;

    .result-table {
        border-collapse: collapse;
        height: fit-content;
        width: fit-content;
        // display: block;
        .right-header {
            font-weight: initial;
            text-align: right;
        }
        .left-header {
            text-align: left;
            font-weight: initial;
        }

        tr {
            border-bottom: none !important;

            .result-cell-definition {
                text-align: right;
            }

            td {
                padding: 7px 0;
            }

            :nth-child(2):not(th) {
                padding-left: 14px;
                padding-right: 14px;
            }
        }

        .text-gigantic {
            tr {
                td {
                    padding: 15px 0;
                }

                :nth-child(2):not(th) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }

        .votesvalid {
            border-top: 1px solid rgba(128, 128, 128, 0.2);
        }

        .text {
            &-small {
                font-size: 12px;
            }

            &-medium {
                font-size: 14px;
            }

            &-large {
                font-size: 16px;
            }

            &-gigantic {
                font-size: 22px;
            }
        }
    }

    .doughnut-chart {
        display: block;
        width: 100%;
    }
}
