@if (poll) {
    <div
        [ngClass]="{
            'result-wrapper': true,
            'result-wrapper-additional': iconSize !== 'medium',
            'extra-grid-normal': !inSlide,
            'extra-grid-slide': inSlide
        }"
    >
        <table class="result-table" [ngClass]="{ margins: iconSize === 'gigantic' }">
            <tbody
                [class.column-padding-width-slide]="inSlide"
                [class.percent-column-width-gigantic]="!inSlide && iconSize === 'gigantic'"
                [class.percent-column-width-large]="!inSlide && iconSize === 'large'"
                [ngClass]="textSizeClass"
            >
                @if (shouldShowHead && !inSlide) {
                    <tr>
                        <th class="left-header">
                            @if (title) {
                                {{ title }}
                            }
                        </th>
                        <th class="right-header" colspan="2">{{ 'Votes' | translate }}</th>
                    </tr>
                }
                @for (row of tableData; track row; let i = $index) {
                    @if (['user', 'list'].includes(row.class)) {
                        <tr [class.slide]="inSlide" [class.text-big-bold]="inSlide" [ngClass]="row.votingOption">
                            <td class="label-column">
                                @if (row.value[0].icon) {
                                    <os-icon-container [icon]="row.value[0].icon" [size]="iconSize">
                                        <div [class.text-big-bold]="inSlide">
                                            {{ row.votingOption | pollKeyVerbose | translate }}
                                        </div>
                                    </os-icon-container>
                                } @else {
                                    <span [class.text-big-bold]="inSlide">
                                        {{ row.votingOption | pollKeyVerbose | translate }}
                                    </span>
                                }
                            </td>
                            <td>
                                <div class="result-cell-definition">
                                    <span>
                                        @if (inSlide) {
                                            {{ getVoteAmount(row.value[0].amount, row) | pollParseNumber }}
                                        } @else if (row.value[0].showPercent) {
                                            {{ getVoteAmount(row.value[0].amount, row) | pollPercentBase: poll }}
                                        }
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="result-cell-definition">
                                    <span>
                                        @if (!inSlide) {
                                            {{ getVoteAmount(row.value[0].amount, row) | pollParseNumber }}
                                        } @else if (row.value[0].showPercent) {
                                            {{ getVoteAmount(row.value[0].amount, row) | pollPercentBaseAlt: poll }}
                                        }
                                    </span>
                                </div>
                            </td>
                        </tr>
                    }
                    @if (!['user', 'list'].includes(row.class)) {
                        <tr [class.slide]="inSlide" [class.text-big-bold]="inSlide" [ngClass]="row.votingOption">
                            <!-- YNA/Valid etc -->
                            <td class="label-column">
                                @if (row.value[0].icon) {
                                    <os-icon-container [icon]="row.value[0].icon" [size]="iconSize">
                                        <div [class.text-big-bold]="inSlide">
                                            {{ row.votingOption | pollKeyVerbose | translate }}
                                        </div>
                                    </os-icon-container>
                                } @else {
                                    <span>
                                        {{ row.votingOption | pollKeyVerbose | translate }}
                                    </span>
                                }
                            </td>
                            <!-- Percent numbers -->
                            <td class="result-cell-definition">
                                @if (inSlide) {
                                    {{ row.value[0].amount | pollParseNumber }}
                                } @else {
                                    @if (
                                        row.value[0].showPercent ||
                                        (shouldShowEntitled && poll.onehundred_percent_base !== 'entitled')
                                    ) {
                                        <span>
                                            {{ row.value[0].amount! | pollPercentBase: poll }}
                                        </span>
                                    }
                                }
                            </td>
                            <!-- Voices -->
                            <td class="result-cell-definition">
                                @if (inSlide) {
                                    @if (
                                        row.value[0].showPercent ||
                                        (shouldShowEntitled && poll.onehundred_percent_base !== 'entitled')
                                    ) {
                                        <span>
                                            {{ row.value[0].amount! | pollPercentBaseAlt: poll }}
                                        </span>
                                    }
                                } @else {
                                    {{ row.value[0].amount | pollParseNumber }}
                                }
                            </td>
                        </tr>
                    }
                }
                @if (shouldShowEntitled) {
                    <tr class="entitled-users-row">
                        <td>{{ 'Entitled users' | translate }}</td>
                        <td class="result-cell-definition">
                            @if (poll.onehundred_percent_base === 'entitled') {
                                {{ poll.entitled_users_at_stop.length | pollPercentBase: poll }}
                            }
                        </td>
                        <td class="result-cell-definition">
                            {{ poll.entitled_users_at_stop.length }}
                        </td>
                    </tr>
                }
                @if (shouldShowEntitledPresent) {
                    <tr class="entitled-users-row">
                        <td>{{ 'Entitled present users' | translate }}</td>
                        <td class="result-cell-definition">
                            {{ entitledUsersPresentCount | pollPercentBase: poll }}
                        </td>
                        <td class="result-cell-definition">
                            {{ entitledUsersPresentCount }}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Chart -->
        @if (shouldShowChart) {
            <div [class.doughnut-chart-normal]="!inSlide" [class.doughnut-chart-slide]="inSlide">
                <os-chart type="doughnut" [data]="chartData"></os-chart>
                @if (shouldShowChartIcon === 'check') {
                    <div class="majority-icon-check">
                        <mat-icon>check_circle</mat-icon>
                    </div>
                } @else if (shouldShowChartIcon === 'cancel') {
                    <div class="majority-icon-cancel">
                        <mat-icon>cancel</mat-icon>
                    </div>
                }
            </div>
        }
    </div>
}
