@import 'src/assets/styles/poll-styles-common.scss';

:host {
    outline: none;
}

.result-wrapper {
    cursor: pointer;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .result-table {
        // display: block;
        th {
            text-align: right;
            font-weight: initial;
        }

        tr {
            height: 40px;
            border-bottom: none !important;

            .result-cell-definition {
                text-align: right;
            }
        }

        .label {
            &-small {
                font-size: 12px;
            }

            &-medium {
                font-size: 14px;
            }

            &-large {
                font-size: 16px;
            }

            &-gigantic {
                font-size: 22px;
            }
        }
    }

    .doughnut-chart {
        display: block;
    }
}
