<div [class.poll-vote-delegation]="isDelegation()">
    @if (isDelegation()) {
        <h4 class="poll-delegation-title">
            <span>{{ 'Voting right for' | translate }}</span>
            <span>&nbsp;{{ user().getFullName() }}</span>
        </h4>
    }

    @if (loading() || (voteProhibited.hasValue() && voteProhibited.value())) {
        <os-poll-cannot-vote-message
            [isDeliveringVote]="loading()"
            [poll]="poll()"
            [reason]="voteProhibited.value()"
            [user]="user()"
        />
    } @else {
        @switch (configType()) {
            @case ('poll_config_approval') {
                <os-poll-vote-approval
                    [loading]="loading()"
                    [poll]="poll()"
                    [user]="user()"
                    (voted)="sendVote($event)"
                />
            }
        }
    }
</div>
