@use 'src/assets/styles/poll-styles-common.scss';

.poll-title-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'title actions';
    grid-template-columns: auto min-content;

    .poll-title-area {
        grid-area: title;
        margin-top: 1em;

        .poll-title {
            font-size: 125%;
        }
    }

    .poll-actions {
        grid-area: actions;
    }
}
