<div [class.poll-vote-delegation]="isDelegation()">
    @if (isDelegation()) {
        <h4 class="poll-delegation-title">
            <span>{{ 'Voting right for' | translate }}</span>
            <span>&nbsp;{{ user().getFullName() }}</span>
        </h4>
    }

    @switch (configType()) {
        @case ('poll_config_approval') {
            <os-poll-approval-vote
                [loading]="loading()"
                [poll]="poll()"
                [user]="user()"
                (voted)="sendVote($event)"
            ></os-poll-approval-vote>
        }
    }

    <os-poll-cannot-vote-message [isDeliveringVote]="loading()" [poll]="poll()" [user]="user()" />
</div>
