<ng-container *ngIf="!loaded">
    <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
</ng-container>
<ng-container *ngIf="loaded">
    <div [ngSwitch]="resourceType">
        <div *ngSwitchCase="'text'">
            <ng-container
                [ngTemplateOutlet]="textTemplate"
                [ngTemplateOutletContext]="{ text: resource }"
            ></ng-container>
        </div>
        <img *ngSwitchCase="'image'" [src]="resource | trust: 'url'" />
    </div>
</ng-container>

<ng-template #textTemplate let-text="text">
    <div class="text--background stretch-to-fill-parent flex-center">
        <mat-card class="text--content">{{ text }}</mat-card>
    </div>
</ng-template>
