<div class="text tiptap-view"></div>
@if (!textLoaded) {
    <p>
        <mat-progress-bar color="primary" mode="indeterminate" [bufferValue]="75" [value]="50"></mat-progress-bar>
    </p>
}
@if (showChangeRecommendations) {
    <ul class="change-recommendation-list">
        @for (reco of textChangeRecommmendations; track reco.getChangeId()) {
            <li
                tabindex="0"
                [class.delete]="isDeletionChangeRecommendation(reco)"
                [class.insert]="isInsertionChangeRecommendation(reco)"
                [class.replace]="isReplacementChangeRecommendation(reco)"
                [style.height]="calcRecoHeight(reco)"
                [style.top]="calcRecoTop(reco)"
                [title]="reco.getTitle()"
                (click)="gotoReco(reco)"
                (keyup.enter)="gotoReco(reco)"
            ></li>
        }
    </ul>
}
