<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar [goBack]="true" [nav]="false">
        <div class="title-slot">
            <h2 *ngIf="poll">{{ 'Motion' | translate }} {{ poll.title }}</h2>
        </div>

        <div class="menu-slot" *osPerms="permission.motionCanManagePolls">
            <button type="button" mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </os-head-bar>

    <mat-card class="os-card spacer-bottom-60">
        <mat-card-content>
            <ng-container [ngTemplateOutlet]="viewTemplate"></ng-container>
        </mat-card-content>
    </mat-card>
</os-detail-view>

<!-- Detailview for poll -->
<ng-template #viewTemplate>
    <ng-container *ngIf="poll">
        <h1>{{ poll.title | translate }}</h1>

        <div>
            <!-- Voting type -->
            <span *ngIf="poll.type !== 'analog'">{{ poll.typeVerbose | translate }} &middot;</span>

            <!-- State -->
            <span>
                {{ poll.stateVerbose | translate }}
            </span>
        </div>

        <os-motion-poll-detail-content [poll]="poll"></os-motion-poll-detail-content>

        <!-- Named table: only show if votes are present -->
        <mat-tab-group *ngIf="showResults && poll.stateHasVotes && poll.isEVoting" (selectedTabChange)="onTabChange()">
            <mat-tab label="{{ 'Single votes' | translate }}">
                <div class="named-result-table">
                    <os-votes-table
                        [votesDataObservable]="votesDataObservable"
                        [isViewingThis]="isViewingVoteslist"
                        [parent]="self"
                    ></os-votes-table>
                </div>
            </mat-tab>
            <mat-tab label="{{ 'Entitled users' | translate }}">
                <os-entitled-users-table
                    [entitledUsersObservable]="entitledUsersObservable"
                    [isViewingThis]="isViewingEntitledUserslist"
                ></os-entitled-users-table>
            </mat-tab>
        </mat-tab-group>
        <os-motion-poll-meta-information [poll]="poll"></os-motion-poll-meta-information>
    </ng-container>
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <os-projector-button
        [menuItem]="true"
        [object]="poll"
        *osPerms="permission.projectorCanManage"
    ></os-projector-button>
    <button *osPerms="permission.motionCanManagePolls" mat-menu-item (click)="openDialog()">
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit' | translate }}</span>
    </button>
    <button
        mat-menu-item
        *osPerms="permission.motionCanManagePolls; and: poll && poll.type === 'named'"
        (click)="pseudoanonymizePoll()"
    >
        <mat-icon>warning</mat-icon>
        <span>{{ 'Anonymize votes' | translate }}</span>
    </button>

    <!-- Export -->
    <button mat-menu-item (click)="exportPollResults()">
        <mat-icon>archive</mat-icon>
        <span>{{ 'Export' | translate }}</span>
    </button>

    <mat-divider></mat-divider>
    <button *osPerms="permission.motionCanManagePolls" mat-menu-item (click)="deletePoll()">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>
