<os-detail-view [collection]="COLLECTION" (idFound)="onIdFound($event)">
    <os-head-bar [goBack]="true" [nav]="false">
        <div class="title-slot">
            @if (poll) {
                <h2>{{ 'Motion' | translate }} {{ poll.title }}</h2>
            }
        </div>

        <ng-container *osPerms="permission.motionCanManagePolls" class="menu-slot">
            <button mat-icon-button type="button" [matMenuTriggerFor]="pollDetailMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </ng-container>
    </os-head-bar>

    <mat-card class="os-card spacer-bottom-60">
        <mat-card-content>
            <ng-container [ngTemplateOutlet]="viewTemplate" />
        </mat-card-content>
    </mat-card>
</os-detail-view>

<!-- Detailview for poll -->
<ng-template #viewTemplate>
    @if (poll) {
        <h1>{{ poll.title | translate }}</h1>
        <div>
            <!-- Voting type -->
            @if (poll.type !== 'analog') {
                <span>{{ poll.typeVerbose | translate }} &middot;</span>
            }
            <!-- State -->
            <span>
                {{ poll.stateVerbose | translate }}
            </span>
        </div>
        <os-motion-poll-detail-content [poll]="poll" />
        @if (poll.isStarted) {
            <os-poll-progress [canManagePoll]="canManagePoll" [poll]="poll" />
            <div *osPerms="permission.motionCanManagePolls" class="poll-content">
                <div class="user-subtitle">
                    {{ 'Present entitled users' | translate }}:
                    {{ countVoteAllowedAndPresent }}
                </div>
                <div class="user-subtitle">
                    {{ 'All entitled users' | translate }}:
                    {{ countVoteAllowed }}
                </div>
            </div>
        }
        <!-- Named table: only show if votes are present -->
        @if (showResults && poll.stateHasVotes && poll.isEVoting && poll.type === 'named') {
            <os-poll-filted-votes-chart [poll]="poll" />
        }

        @if (showResults && poll.stateHasVotes && poll.isEVoting) {
            <mat-tab-group (selectedTabChange)="onTabChange()">
                <mat-tab label="{{ 'Single votes' | translate }}">
                    <div class="named-result-table">
                        <os-votes-table
                            [filterProps]="filterPropsSingleVotesTable"
                            [isViewingThis]="isViewingVoteslist"
                            [parent]="self"
                            [votesDataObservable]="votesDataObservable"
                        ></os-votes-table>
                    </div>
                </mat-tab>
                <mat-tab label="{{ 'Entitled users' | translate }}">
                    <os-entitled-users-table
                        [displayDelegation]="displayDelegation"
                        [displayVoteWeight]="displayVoteWeight"
                        [entitledUsersObservable]="entitledUsersObservable"
                        [isViewingThis]="isViewingEntitledUserslist"
                    />
                </mat-tab>
            </mat-tab-group>
        } @else if (poll.isEVoting && poll.isStarted) {
            <mat-tab-group>
                <mat-tab label="{{ 'Single votes' | translate }}">
                    <div class="no-content no-data-margins">
                        {{ 'No data available' | translate }}
                    </div>
                </mat-tab>
                <mat-tab *osPerms="permission.motionCanManagePolls" label="{{ 'Entitled users' | translate }}">
                    <os-entitled-users-table
                        [displayDelegation]="displayDelegation"
                        [displayVoteWeight]="displayVoteWeight"
                        [entitledUsersObservable]="liveRegisterObservable"
                    />
                </mat-tab>
            </mat-tab-group>
        }
    }
    <os-motion-poll-meta-information [poll]="poll" />
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <os-projector-button *osPerms="permission.projectorCanManage" [menuItem]="true" [object]="poll" />
    <button *osPerms="permission.motionCanManagePolls" mat-menu-item (click)="openDialog()">
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit' | translate }}</span>
    </button>
    <button
        *osPerms="
            permission.motionCanManagePolls;
            and: poll && poll.type === 'named' && (poll.isFinished || poll.isPublished) && !poll.is_pseudoanonymized
        "
        mat-menu-item
        (click)="pseudoanonymizePoll()"
    >
        <mat-icon>warning</mat-icon>
        <span>{{ 'Anonymize votes' | translate }}</span>
    </button>

    <!-- Export -->
    <button mat-menu-item (click)="exportPollResults()">
        <mat-icon>archive</mat-icon>
        <span>{{ 'Export' | translate }}</span>
    </button>

    <mat-divider />
    <button *osPerms="permission.motionCanManagePolls" mat-menu-item (click)="deletePoll()">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>
