<os-head-bar
    [editMode]="hasEdits"
    [isSaveButtonEnabled]="orgaSettingsForm?.valid"
    (cancelEditEvent)="revertChanges()"
    (saveEvent)="onSubmit()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ pageTitle | translate }}</h2>
    </div>
</os-head-bar>

<form [formGroup]="orgaSettingsForm" (ngSubmit)="onSubmit()" *ngIf="orgaSettingsForm">
    <mat-card class="os-card">
        <div class="orga-settings-form">
            <h2>{{ 'General' | translate }}</h2>
            <mat-form-field>
                <mat-label>{{ 'Name' | translate }}</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'Description' | translate }}</mat-label>
                <input matInput formControlName="description" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'Show this text on the login page' | translate }}</mat-label>
                <input matInput formControlName="login_text" />
            </mat-form-field>
        </div>
    </mat-card>

    <mat-card class="os-card spacer-bottom-60">
        <div class="orga-settings-form">
            <h2>{{ 'Email settings' | translate }}</h2>
            <mat-form-field>
                <mat-label>{{ 'Sender name' | translate }}</mat-label>
                <input matInput formControlName="users_email_sender" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'Reply address' | translate }}</mat-label>
                <input matInput formControlName="users_email_replyto" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'Email subject' | translate }}</mat-label>
                <input matInput formControlName="users_email_subject" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'Email body' | translate }}</mat-label>
                <textarea formControlName="users_email_body" rows="10" matInput></textarea>
            </mat-form-field>
        </div>
    </mat-card>

    <mat-card class="os-card margin-bottom-60" *osOmlPerms="OML.superadmin">
        <div class="superadmin-place">
            <h2>{{ 'Superadmin settings' | translate }}</h2>
            <!-- System url -->
            <section>
                <mat-form-field>
                    <mat-label>{{ 'OpenSlides URL' | translate }}</mat-label>
                    <input matInput formControlName="url" />
                    <mat-hint>
                        {{ 'Used for invitation emails and QRCode in PDF of access data.' | translate }}
                    </mat-hint>
                </mat-form-field>
            </section>
            <!-- electronic voting -->
            <section>
                <mat-checkbox formControlName="enable_electronic_voting">
                    {{ 'Enable electronic voting' | translate }}
                </mat-checkbox>
            </section>
            <!-- Reset password verbose errors -->
            <section>
                <mat-checkbox formControlName="reset_password_verbose_errors">
                    {{ 'Allow verbose error messages for reset password process' | translate }}
                </mat-checkbox>
            </section>
            <!-- Enable chat globally -->
            <section>
                <mat-checkbox formControlName="enable_chat">
                    {{ 'Enable chat globally' | translate }}
                </mat-checkbox>
            </section>
            <section>
                <mat-form-field>
                    <mat-label>{{ 'Limit of active meetings' | translate }}</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="limit_of_meetings"
                        min="0"
                        [osOnlyNumber]="true"
                        required
                    />
                    <mat-hint>{{ '"0" means an unlimited number of active meetings' | translate }}</mat-hint>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <mat-label>{{ 'Limit of active accounts' | translate }}</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="limit_of_users"
                        min="0"
                        [osOnlyNumber]="true"
                        required
                    />
                    <mat-hint>{{ '"0" means an unlimited number of active accounts' | translate }}</mat-hint>
                </mat-form-field>
            </section>
        </div>
    </mat-card>
</form>
