.orga-settings-form {
    display: grid;
    min-width: 100px;
    max-width: 100%;
    margin: auto;
}

.superadmin-place,
.saml-settings-form {
    section {
        mat-form-field {
            display: block;
            margin: 6px 0;
        }
    }
}
