<div class="content-container spacer-bottom-60">
    @if (isEditing) {
        @if (useMatcard) {
            <mat-card class="os-card">
                <mat-card-content>
                    <ng-container *ngTemplateOutlet="editTemplate; context: { form: personalInfoForm }"></ng-container>
                </mat-card-content>
            </mat-card>
            @if (editView) {
                <mat-card class="os-card">
                    <mat-card-content>
                        <ng-container *ngTemplateOutlet="editView; context: { form: personalInfoForm }"></ng-container>
                    </mat-card-content>
                </mat-card>
            }
        }
        @if (!useMatcard) {
            <ng-container *ngTemplateOutlet="editTemplate; context: { form: personalInfoForm }"></ng-container>
            @if (editView) {
                <ng-container
                    [ngTemplateOutlet]="editView"
                    [ngTemplateOutletContext]="{ form: personalInfoForm }"
                ></ng-container>
            }
        }
    }
    @if (!isEditing && user) {
        @if (useMatcard) {
            <mat-card class="os-card">
                <mat-card-content>
                    <ng-container *ngTemplateOutlet="showTemplate"></ng-container>
                </mat-card-content>
            </mat-card>
            @if (showView) {
                @for (showViewElement of showView; track showViewElement; let isLast = $last) {
                    <mat-card class="os-card" [ngClass]="{ 'margin-bottom-60': isLast }">
                        <mat-card-content>
                            <ng-container *ngTemplateOutlet="showViewElement; context: { user: user }"></ng-container>
                        </mat-card-content>
                    </mat-card>
                }
            }
        }
        @if (!useMatcard) {
            <ng-container *ngTemplateOutlet="showTemplate"></ng-container>
            @if (showView) {
                @for (showViewElement of showView; track showViewElement) {
                    <ng-container
                        [ngTemplateOutlet]="showViewElement"
                        [ngTemplateOutletContext]="{ user: user }"
                    ></ng-container>
                }
            }
        }
    }
</div>

<ng-template #editTemplate>
    <form [formGroup]="personalInfoForm">
        <h2>{{ 'Personal information' | translate }}</h2>
        <!-- First line -->
        <div class="personal-info-area">
            <!-- Title -->
            <mat-form-field class="form16 force-min-width">
                <mat-label>{{ 'Title' | translate }}</mat-label>
                <input type="text" matInput formControlName="title" />
            </mat-form-field>
            <!-- First name -->
            <mat-form-field class="form38 force-min-width">
                <mat-label>{{ 'Given name' | translate }}</mat-label>
                <input type="text" osAutofocus matInput formControlName="first_name" />
            </mat-form-field>
            <!-- Last name -->
            <mat-form-field class="form38 force-min-width">
                <mat-label>{{ 'Surname' | translate }}</mat-label>
                <input type="text" matInput formControlName="last_name" />
            </mat-form-field>
        </div>

        <!-- Second line -->
        <div class="personal-info-area">
            <!-- Gender -->
            <mat-form-field class="form58 force-min-width">
                <mat-label>{{ 'Gender' | translate }}</mat-label>
                <mat-select formControlName="gender">
                    <mat-option [value]="null">-</mat-option>
                    @for (gender of genders; track gender) {
                        <mat-option [value]="gender">
                            {{ gender | translate }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <!-- Pronoun -->
            <mat-form-field class="form38 force-min-width">
                <mat-label>{{ 'Pronoun' | translate }}</mat-label>
                <input type="text" matInput formControlName="pronoun" />
                <mat-error>{{ 'max. 32 characters allowed' | translate }}</mat-error>
            </mat-form-field>
        </div>

        <!-- Third line -->
        <div class="personal-info-area">
            <!-- E-Mail -->
            <mat-form-field
                class="force-min-width"
                [ngClass]="{
                    form58: isAllowed('update'),
                    form100: !isAllowed('update')
                }"
            >
                <mat-label>{{ 'Email' | translate }}</mat-label>
                <input type="email" matInput autocomplete="off" name="email" formControlName="email" />
                @if (personalInfoForm.get('email')?.hasError('email')) {
                    <mat-error>
                        {{ 'Please enter a valid email address!' | translate }}
                    </mat-error>
                }
            </mat-form-field>
            <!-- Member Number -->
            @if (isAllowed('update')) {
                <mat-form-field class="form38 force-min-width">
                    <mat-label>{{ 'Membership number' | translate }}</mat-label>
                    <input type="text" matInput formControlName="member_number" />
                </mat-form-field>
            }
        </div>

        <!-- Fourth line -->
        <div class="personal-info-area">
            <!-- username -->
            @if (isAllowed('seePersonal')) {
                <mat-form-field
                    class="force-min-width"
                    [ngClass]="{
                        form48: isAllowed('update'),
                        form100: !isAllowed('update')
                    }"
                >
                    <mat-label>{{ 'Username' | translate }}</mat-label>
                    <input type="text" matInput formControlName="username" />
                    @if (isNewUser) {
                        <button
                            matSuffix
                            type="button"
                            mat-icon-button
                            matTooltipPosition="above"
                            [matTooltip]="'Leave blank to automatically generate the username.' | translate"
                        >
                            <mat-icon>help</mat-icon>
                        </button>
                    }
                    @if (personalInfoForm.controls['username'].errors?.['required']) {
                        <mat-error translate>You have to enter at least one character</mat-error>
                    }
                    @if (personalInfoForm.controls['username'].errors?.['noSpace']) {
                        <mat-error translate>Username may not contain spaces</mat-error>
                    }
                </mat-form-field>
            }

            <!-- Initial Password -->
            @if (isAllowed('update') && !user?.saml_id) {
                <mat-form-field class="form48 force-min-width">
                    <mat-label>{{ 'Initial password' | translate }}</mat-label>
                    <input matInput autocomplete="off" formControlName="default_password" />
                    @if (isNewUser && generatePasswordFn) {
                        <button
                            matSuffix
                            type="button"
                            mat-icon-button
                            [disabled]="!generatePasswordFn"
                            [matTooltip]="'Generate password' | translate"
                            (click)="setRandomPassword()"
                        >
                            <mat-icon>autorenew</mat-icon>
                        </button>
                    }
                    @if (isNewUser) {
                        <button
                            matSuffix
                            type="button"
                            mat-icon-button
                            [matTooltip]="'Leave blank to automatically generate the password.' | translate"
                        >
                            <mat-icon>help</mat-icon>
                        </button>
                    }
                </mat-form-field>
            }
        </div>

        @if (isAllowed('seeName')) {
            <div>
                @if (!isSelf) {
                    <mat-checkbox formControlName="is_active">{{ 'active' | translate }}</mat-checkbox>
                }
                <mat-checkbox formControlName="is_physical_person">{{ 'natural person' | translate }}</mat-checkbox>
            </div>
        }
    </form>
</ng-template>

<ng-template #showTemplate>
    <h2>{{ 'Personal information' | translate }}</h2>
    @if (user) {
        <!-- Displayed name -->
        @if (isAllowed('seeName')) {
            <div>
                <h4>{{ 'Name' | translate }}</h4>
                <span class="state-icons">
                    <span>{{ user.short_name }}</span>
                    @if (user.pronoun) {
                        &nbsp;
                        <span>({{ user.pronoun }})</span>
                    }
                    @if (!user.is_active && isAllowed('seeSensitiveData')) {
                        <mat-icon matTooltip="{{ 'Inactive' | translate }}">block</mat-icon>
                    }
                    @if (!user.is_physical_person) {
                        <mat-icon matTooltip="{{ 'Is no natural person' | translate }}">account_balance</mat-icon>
                    }
                    @if (user.hasSamlId && isAllowed('seeSensitiveData')) {
                        <mat-icon matTooltip="{{ 'Has SSO identification' | translate }}">fingerprint</mat-icon>
                    }
                </span>
            </div>
        }
        <!-- Gender -->
        @if (user.gender) {
            <div>
                <h4>{{ 'Gender' | translate }}</h4>
                <span>{{ user.gender | translate }}</span>
            </div>
        }
        <!-- Mail -->
        @if (isAllowed('seeSensitiveData')) {
            <div>
                @if (user.email) {
                    <div>
                        <h4>{{ 'Email' | translate }}</h4>
                        <span>{{ user.email }}</span>
                    </div>
                }
                <!-- Membership number-->
                @if (user.member_number) {
                    <div>
                        <h4>{{ 'Membership number' | translate }}</h4>
                        <span>{{ user.member_number }}</span>
                    </div>
                }
                <!-- Username -->
                @if (user.username) {
                    <div>
                        <h4>{{ 'Username' | translate }}</h4>
                        <span>{{ user.username }}</span>
                    </div>
                }
                <!-- Initial Password -->
                @if (user.default_password && !user.saml_id && isAllowed('update')) {
                    <div>
                        <h4>{{ 'Initial password' | translate }}</h4>
                        <span>{{ user.default_password }}</span>
                    </div>
                }
                <!-- SAML id -->
                @if (user.saml_id) {
                    <div>
                        <h4>{{ 'SSO Identification' | translate }}</h4>
                        <span>{{ user.saml_id }}</span>
                    </div>
                }
            </div>
        }
    }
</ng-template>
