<div class="projectable-title-line">
    @if (model) {
        @if (titleStyle === 'h1') {
            <h1 class="model-title" [ngClass]="mockH2 ? 'mock-h2 margin-mock-h2' : ''">
                <ng-container [ngTemplateOutlet]="titleline"></ng-container>
            </h1>
        } @else if (titleStyle === 'h2') {
            <h2 class="model-title">
                <ng-container [ngTemplateOutlet]="titleline"></ng-container>
            </h2>
        }
    }
    <div class="suffix">
        @if (isProjectedObservable | async) {
            <mat-icon
                matTooltip="{{ 'Is being projected' | translate }}"
                [ngClass]="{ 'primary-accent-by-theme': titleStyle === 'h1' && !mockH2 }"
            >
                videocam
            </mat-icon>
        }
        <ng-content select="[append]"></ng-content>
    </div>
</div>

<ng-template #titleline>
    <ng-content select="[prepend]" />

    {{ getTitleFn(model) }}
</ng-template>
