<h2 mat-dialog-title>
    <span *ngIf="!stopSpeechDialog" translate>Select or search speaker for interposed question</span>
    <span *ngIf="stopSpeechDialog" translate>
        Are you sure you want to stop the interposed question without selecting a speaker, the "Last speakers"-List will
        display this interposed question with a "Deleted user"?
    </span>
</h2>

<form class="edit-form">
    <mat-dialog-content>
        <os-participant-search-selector
            [nonSelectableUserIds]="nonAvailableUserIds"
            placeholder="{{ 'Select or search new speaker ...' | translate }}"
            (userSelected)="setCurrentUser($event)"
        ></os-participant-search-selector>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
        <button *ngIf="stopSpeechDialog" mat-button type="button" (click)="onContinue()">
            {{ 'Continue' | translate }}
        </button>
    </mat-dialog-actions>
</form>
