<os-head-bar>
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Mandate Check' | translate }}</h2>
    </div>
</os-head-bar>
<div [formGroup]="form">
    <mat-form-field>
        <mat-label>{{ 'Group' | translate }}</mat-label>
        <mat-select formControlName="groups" multiple>
            @for (item of groups; track item.id) {
                <mat-option [value]="item.id">
                    {{ item.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>

@for (entry of entries; track entry.id) {
    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="header-grid">
                <div>{{ entry.name }}</div>
                <div>
                    <button matIconButton (click)="toggle(entry.id)">
                        @if (toggleMap.get(entry.id)) {
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        } @else {
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        }
                    </button>
                </div>
            </div>
            <div class="card-grid">
                <div class="flex-container small-margin-top color-blue">
                    <div>{{ 'female' | translate }}</div>
                    <div>{{ entry.getTotalCount(true) }}</div>
                    <div>{{ displayPercent(entry.getPercent(true)) }}</div>
                </div>
                <div class="flex-container color-blue">
                    <div>{{ 'total' | translate }}</div>
                    <div>{{ entry.getTotalCount() }}</div>
                    <div>{{ displayPercent(entry.getPercent()) }}</div>
                </div>
                <div class="center">
                    <mat-progress-bar
                        class="progressbar-colored"
                        [bufferValue]="100"
                        [mode]="'determinate'"
                        [value]="entry.getPercent() * 100"
                    ></mat-progress-bar>
                </div>
                <div class="flex-container">
                    <div>{{ 'present' | translate }}</div>
                    <div>{{ entry.presentUserIds.length }}</div>
                    <div>&nbsp;</div>
                </div>
                <div class="flex-container small-margin-top">
                    <div>{{ 'female' | translate }}</div>
                    <div>{{ entry.presentFemaleUserIds.length }}</div>
                    <div>
                        {{
                            displayPercent(
                                entry.presentFemaleUserIds.length /
                                    (entry.presentFemaleUserIds.length + entry.absentFemaleUserIds.length)
                            )
                        }}
                    </div>
                </div>
            </div>
        </mat-card-content>
        @if (toggleMap.get(entry.id)) {
            <mat-card-footer>
                <div class="footer-grid">
                    <div>
                        <div class="bold margin-left-medium small-margin-top">{{ 'Present' | translate }}:</div>
                        @for (name of getSortedNames(entry.presentUserIds); track name) {
                            <div class="margin-left-large">{{ name }}</div>
                        }
                    </div>
                    <div>
                        <div class="bold margin-left-medium small-margin-top">{{ 'Absent' | translate }}:</div>
                        @for (name of getSortedNames(entry.absentUserIds); track name) {
                            <div class="margin-left-large">{{ name }}</div>
                        }
                    </div>
                </div>
            </mat-card-footer>
        }
    </mat-card>
}
