@use 'src/assets/styles/tables.scss';

.flex-container {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-self: center;
}

.align-left {
    align-items: start;
}

.groups-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.border-grid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    @media (max-width: 700px) {
        grid-template-columns: 0px 100% 0px;
        border-width: 0px;
    }
}

.header-grid {
    display: grid;
    grid-template-columns: 95% 5%;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 70px 1fr 55px 1fr;
    grid-column-gap: 10px;
    @media (max-width: 700px) {
        grid-template-columns: 1fr 70px 1fr 55px 1fr;
        grid-column-gap: 5px;
    }
    @media (min-width: 1500px) {
        grid-template-columns: 1fr 70px 200px 55px 1fr;
        grid-column-gap: 10px;
    }
}

.footer-grid {
    margin-bottom: 7px;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    @media (max-width: 700px) {
        grid-template-columns: repeat(auto-fit, 250px);
    }
}

.center {
    align-self: center;
}

.small-margin-top {
    margin-top: 7px;
}

.bold {
    font-weight: 500;
}

.margin-left-large {
    margin-left: 140px;
    @media (max-width: 700px) {
        margin-left: 70px;
    }
}

.margin-left-medium {
    margin-left: 70px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

button {
    border-radius: 0%;
}

.text-large-bold {
    font-size: 19px;
    font-weight: 500;
}

.text-small {
    font-size: 12px;

    &-bold {
        font-weight: 500;
    }
}

.text-medium-bold {
    font-size: 16px;
    font-weight: 500;
}

.text-medium {
    font-size: 14px;
}
