<os-head-bar [hasMainButton]="false" [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h1 class="mock-h2" translate>Presence</h1>
    </div>
</os-head-bar>

<mat-card>
    <mat-card-content>
        <p>{{ 'Check in or check out participants based on their participant numbers:' | translate }}</p>

        <mat-form-field class="full-width" [formGroup]="userForm">
            <mat-label>{{ 'Enter participant number' | translate }}</mat-label>
            <input formControlName="number" matInput osAutofocus (keyup)="onKeyUp($event)" />
        </mat-form-field>
        <button mat-button (click)="changePresence()">{{ 'Change presence' | translate }}</button>
        @if (lastChangedUser) {
            <mat-card [ngClass]="lastChangedUserPresent ? 'success' : 'warning'">
                <mat-card-content>
                    <span>{{ lastChangedUser.full_name }}&nbsp;</span>
                    <span>{{ 'is now' | translate }}</span>
                    :
                    <span>&nbsp;{{ lastChangedUserPresent ? ('present' | translate) : ('absent' | translate) }}</span>
                </mat-card-content>
            </mat-card>
        }
        @if (errorMsg) {
            <mat-card class="error">
                <mat-card-content>
                    {{ errorMsg | translate }}
                </mat-card-content>
            </mat-card>
        }
    </mat-card-content>
</mat-card>
