<os-head-bar [hasMainButton]="false" [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Presence' | translate }}</h2>
    </div>
</os-head-bar>

<mat-card appearance="outlined">
    <p>{{ 'Check in or check out participants based on their participant numbers:' | translate }}</p>

    <mat-form-field [formGroup]="userForm">
        <mat-label>{{ 'Enter participant number' | translate }}</mat-label>
        <input osAutofocus matInput formControlName="number" (keyup)="onKeyUp($event)" />
    </mat-form-field>
    <button mat-button (click)="changePresence()">{{ 'Change presence' | translate }}</button>
    <mat-card appearance="outlined" *ngIf="lastChangedUser" [ngClass]="lastChangedUserPresent ? 'success' : 'warning'">
        <span>{{ lastChangedUser.full_name }}&nbsp;</span>
        <span>{{ 'is now' | translate }}</span>
        :
        <span>&nbsp;{{ lastChangedUserPresent ? ('present' | translate) : ('absent' | translate) }}</span>
    </mat-card>
    <mat-card appearance="outlined" *ngIf="errorMsg" class="error">{{ errorMsg | translate }}</mat-card>
</mat-card>
