:host {
    display: block;
}

.grid-form {
    display: flex;
    align-items: center;
    flex-direction: row;

    .grid-start {
        flex: 1;

        .mat-mdc-form-field {
            width: 100%;
        }
    }
}
