name: CI

on:
  pull_request:
    branches: [main]

env:
  NG_CLI_ANALYTICS: ci

jobs:
  build-and-test-dev-image:    
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Clone main repo
        uses: actions/checkout@v3
        with:
          repository: OpenSlides/OpenSlides
          path: "."
          ref: main
          submodules: true
      - name: Checkout latest commits
        run: git submodule foreach 'git checkout main && git pull origin main'
      - name: Delete the client folder
        run: rm -r openslides-client
      - name: Clone openslides-client
        uses: actions/checkout@v3
        with:
          path: "./openslides-client"
      - name: Start dev setup
        run: make run-dev ARGS="-d"
      - name: Wait for dev setup
        uses: iFaxity/wait-on-action@v1
        with:
          resource: https://localhost:8000
          timeout: 300000
      - name: Start tests 
        working-directory: "./openslides-client"
        run: make run-playwright
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: "./openslides-client/client/tests/playwright-report/"
          retention-days: 7
      - name: Shut down dev setup
        if: always()
        run: make stop-dev

  build-and-check-dev-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: create docker dev image
        run: make build-dev

      - name: Check linting
        run: make run-check-linting

      - name: Check prettifying
        run: make run-check-prettifying

      - name: Run karma tests
        run: make run-karma-tests

  build-and-test-prod-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build prod image
        run: make build-prod
