name: CI - Build and Test Service

on:
  pull_request:
    branches:
      - main
      - 'feature/**'
      - 'staging/**'

env:
  NG_CLI_ANALYTICS: ci

jobs:
  build-and-test-prod-image:
    name: build-and-test-prod-image
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Clone main repo
        uses: actions/checkout@v6
        with:
          repository: OpenSlides/OpenSlides
          path: "."
          ref: main
          submodules: "recursive"

      - name: Checkout latest commits
        env:
          BRANCH: ${{ github.event.pull_request.head.repo.owner.login == 'OpenSlides' && contains(github.head_ref, 'feature/') && github.head_ref || github.base_ref }}
        run: git submodule foreach 'git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*" && ((git fetch origin ${{ env.BRANCH }} && git checkout ${{ env.BRANCH }}) || (git checkout main && git pull origin main)) && git submodule update --init'

      - name: Delete the client folder
        run: rm -r openslides-client

      - name: Clone openslides-client
        uses: actions/checkout@v6
        with:
          path: "./openslides-client"

      - name: Use example data instead of initial data
        working-directory: "./openslides-backend/data/"
        run: cp example-data.json initial-data.json

      - name: Start setup
        working-directory: "./dev/localprod"
        run: |
          ./setup.sh
          echo -n "admin" > secrets/superadmin
          docker compose build --parallel
          docker compose up -d

      - name: Wait for dev setup
        uses: iFaxity/wait-on-action@v1.2.1
        with:
          resource: https://localhost:8000
          timeout: 30000

      - name: Start tests
        working-directory: "./openslides-client"
        run: make run-playwright

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-report
          path: "./openslides-client/client/tests/playwright-report/"
          retention-days: 7

      - name: Shut down setup
        if: always()
        working-directory: "./dev/localprod"
        run: docker compose down --volumes --remove-orphans

  build-and-test-dev-image:
    name: build-and-test-dev-image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: create docker dev image
        run: make build-dev

      - name: Check linting
        run: make run-check-linting

      - name: Check prettifying
        run: make run-check-prettifying

      - name: Run karma tests
        run: make run-karma-tests
