<div class="expandable-content-wrapper">
    <div
        #contentBox
        osResized
        class="content"
        (osResizedHeight)="onResizedHeight($event)"
        [ngClass]="showCollapsed ? 'collapsed collapsed-card-content' : ''"
    >
        <ng-content></ng-content>
    </div>
    <!-- Expanding control -->
    <div class="small show-entire-text" *ngIf="canExpand && !disableExpandControl">
        <a (click)="toggleExpansion()" tabindex="0" (keydown.enter)="toggleExpansion()">
            {{ isExpanded ? ('Hide more text' | translate) : ('Show full text' | translate) }}
        </a>
    </div>
</div>
