<os-head-bar
    [hasMainButton]="true"
    mainButtonIcon="edit"
    [mainActionTooltip]="'Edit account' | translate"
    (mainEvent)="editMember()"
    [goBack]="false"
    [nav]="false"
    [editMode]="isEditingUser"
    [isSaveButtonEnabled]="isFormValid"
    [saveAction]="getSaveAction()"
    (cancelEditEvent)="onCancel()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="isNewUser">{{ 'New account' | translate }}</h2>
        <h2 *ngIf="!isNewUser">{{ user?.full_name }}</h2>
    </div>

    <!-- Menu -->
    <ng-container class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="userExtraMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>
</os-head-bar>

<os-user-detail-view
    [isEditing]="isEditingUser"
    [isNewUser]="isNewUser"
    [additionalFormControls]="additionalFormControls"
    [generatePasswordFn]="getRandomPasswordFn()"
    [user]="user"
    (changeEvent)="personalInfoFormValue = $event"
    (validEvent)="isFormValid = $event"
    (errorEvent)="formErrors = $event"
>
    <ng-template #editView let-form="form">
        <h2>{{ 'Organization specific information' | translate }}</h2>
        <div [formGroup]="form">
            <!-- Default Strucuture Level -->
            <mat-form-field
                class="distance"
                [ngClass]="{
                    form37: true
                }"
            >
                <mat-label>{{ 'Default structure level' | translate }}</mat-label>
                <input type="text" matInput formControlName="default_structure_level" />
            </mat-form-field>

            <!-- Default Participant Number -->
            <mat-form-field
                [ngClass]="{
                    distance: true,
                    form37: true
                }"
            >
                <mat-label>{{ 'Default number' | translate }}</mat-label>
                <input type="text" matInput formControlName="default_number" />
            </mat-form-field>

            <!-- Default Vote weight -->
            <!-- TODO Input type should be number with limited decimal spaces -->
            <mat-form-field class="form16 force-min-with">
                <mat-label>{{ 'Default vote weight' | translate }}</mat-label>
                <input type="number" matInput formControlName="default_vote_weight" />
                <mat-error *ngIf="isDefaultVoteWeightError && form.controls['default_vote_weight'].value > 0" translate>
                    Please select a vote weight greater than or equal to 0.000001
                </mat-error>
                <mat-error
                    *ngIf="isDefaultVoteWeightError && form.controls['default_vote_weight'].value <= 0"
                    translate
                >
                    Please select a vote weight greater than zero.
                </mat-error>
            </mat-form-field>
        </div>

        <div [formGroup]="form">
            <div *osOmlPerms="OML.can_manage_users">
                <mat-form-field>
                    <mat-label>{{ 'Administration roles (at organization level)' | translate }}</mat-label>
                    <mat-select formControlName="organization_management_level">
                        <mat-option [value]="null" *ngIf="!orgaManagementLevelChangeDisabled">-</mat-option>
                        <mat-option
                            *ngFor="let level of organizationManagementLevels"
                            [value]="level"
                            [disabled]="orgaManagementLevelChangeDisabled"
                        >
                            {{ getOmlVerboseName(level) | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *osOmlPerms="OML.can_manage_organization">
                <mat-form-field>
                    <mat-label>{{ 'Committee admin' | translate }}</mat-label>
                    <os-repo-search-selector
                        formControlName="committee_management_ids"
                        [multiple]="true"
                        [subscriptionConfig]="committeeSubscriptionConfig"
                        [repo]="committeeController"
                        [sortService]="committeeSortService"
                        [transformPropagateFn]="getTransformPropagateFn()"
                        [transformSetFn]="getTransformSetFn()"
                    ></os-repo-search-selector>
                </mat-form-field>
            </div>
        </div>
    </ng-template>

    <ng-template #showView let-user="user">
        <h2>{{ 'Organization specific information' | translate }}</h2>
        <!-- Structure Level -->
        <div *ngIf="user.default_structure_level">
            <h4>{{ 'Default structure level' | translate }}</h4>
            <span>{{ user.default_structure_level }}</span>
        </div>

        <!-- Participant number -->
        <div *ngIf="user.default_number">
            <h4>{{ 'Default participant number' | translate }}</h4>
            <span>{{ user.default_number }}</span>
        </div>

        <div *ngIf="user.default_vote_weight || user.default_vote_weight === 0">
            <h4>{{ 'Default vote weight' | translate }}</h4>
            <span>{{ user.default_vote_weight }}</span>
        </div>

        <!-- Organization management level -->
        <div *ngIf="user.organization_management_level">
            <h4>{{ 'Administration roles (at organization level)' | translate }}</h4>
            <span>{{ getOmlVerboseName(user.organization_management_level) | translate }}</span>
        </div>

        <div *ngIf="user?.isLastEmailSent">
            <div>
                <h4>{{ 'Last email sent' | translate }}</h4>
                <span>{{ user.last_email_sent | localizedDate }}</span>
            </div>
        </div>
        <div>
            <div *ngIf="user?.isLastLogin">
                <h4>{{ 'Last login' | translate }}</h4>
                <span>{{ user.last_login | localizedDate }}</span>
            </div>
        </div>
    </ng-template>

    <ng-template #showView let-user="user">
        <!-- Meeting Table -->
        <ng-container>
            <h2>{{ 'Committees and meetings' | translate }}</h2>
            <p *ngIf="canSeeParticipationTable">
                {{ user.short_name }} {{ 'is assigned to the following committees, meetings and groups' | translate }}:
            </p>
            <p *ngIf="!canSeeParticipationTable">
                {{ user.short_name }} {{ 'is not assigned to any committees or meetings yet' | translate }}.
            </p>

            <table *ngIf="canSeeParticipationTable" class="participation-table">
                <tr class="header-underline">
                    <th>
                        <span translate>Committees</span>
                        ({{ user.committee_ids?.length }})
                    </th>
                    <th class="admin-column" *ngIf="comitteeAdministrationAmount">
                        ({{ comitteeAdministrationAmount }})
                    </th>
                    <th>
                        <span translate>Meetings</span>
                        ({{ user.meeting_ids?.length }})
                    </th>
                    <th translate>Groups</th>
                </tr>
                <ng-container *ngFor="let row of tableData | keyvalue : tableDataAscOrderCompare; last as lastLine">
                    <!-- Handle committees without meetings-->
                    <ng-container *ngIf="!getNumberOfKeys(row.value.meetings)">
                        <tr [ngClass]="getCellClass(true, true, lastLine)">
                            <td>
                                <a [routerLink]="'/committees/' + row.key + ''">{{ row.value.committee_name }}</a>
                            </td>
                            <td class="admin-column" *ngIf="comitteeAdministrationAmount">
                                <mat-icon
                                    matTooltip="{{ 'Committee admin' | translate }}"
                                    [matTooltipPosition]="'left'"
                                    *ngIf="row.value.is_manager"
                                >
                                    engineering
                                </mat-icon>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    </ng-container>
                    <!-- Handle committees with meetings-->
                    <tr
                        *ngFor="
                            let meeting_row of row.value.meetings | keyvalue : tableDataAscOrderCompare;
                            first as isFirst;
                            last as isLast
                        "
                        [ngClass]="getCellClass(true, true, lastLine)"
                    >
                        <td *ngIf="isFirst" [attr.rowspan]="getNumberOfKeys(row.value.meetings)">
                            <a [routerLink]="'/committees/' + row.key + ''">{{ row.value.committee_name }}</a>
                        </td>
                        <td
                            class="admin-column"
                            *ngIf="isFirst && comitteeAdministrationAmount"
                            [attr.rowspan]="getNumberOfKeys(row.value.meetings)"
                        >
                            <mat-icon
                                matTooltip="{{ 'Committee admin' | translate }}"
                                [matTooltipPosition]="'left'"
                                *ngIf="row.value.is_manager"
                            >
                                engineering
                            </mat-icon>
                        </td>
                        <td [ngClass]="getCellClass(false, isLast, lastLine)">
                            <a [routerLink]="'/' + meeting_row.key + ''">{{ meeting_row.value.meeting_name }}</a>
                        </td>
                        <td [ngClass]="getCellClass(false, isLast, lastLine)">
                            <span *ngFor="let group of meeting_row.value.group_names; last as lastGroup">
                                {{ group }}{{ !lastGroup ? ', ' : '' }}
                            </span>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </ng-container>
    </ng-template>
</os-user-detail-view>

<ng-template #modelListTemplate let-models="models">
    <ol>
        <li *ngFor="let model of models">
            {{ model.getTitle() | translate }}
        </li>
    </ol>
</ng-template>

<mat-menu #userExtraMenu="matMenu">
    <button
        *ngIf="user && !user.saml_id && operatorHasEqualOrHigherOML"
        mat-menu-item
        [routerLink]="['/', 'accounts', user.id, 'password']"
    >
        <mat-icon>security</mat-icon>
        <span>{{ 'Change password' | translate }}</span>
    </button>
    <ng-container *osOmlPerms="OML.can_manage_users">
        <button mat-menu-item [routerLink]="['/', 'accounts', user?.id, 'meetings']">
            <mat-icon>event_available</mat-icon>
            <span>{{ 'Add to meetings' | translate }}</span>
        </button>
        <!-- invitation email -->
        <button mat-menu-item *ngIf="user?.email" (click)="sendInvitationEmail()">
            <mat-icon>mail</mat-icon>
            <span>{{ 'Send invitation email' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="deleteUser()" mat-menu-item class="red-warning-text">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </ng-container>
</mat-menu>
