<os-head-bar>
    <div class="title-slot">{{ 'List of electronic votes' | translate }}</div>
</os-head-bar>

<os-list-view-table
    [listObservableProvider]="pollRepo"
    [vScrollFixed]="64"
    [columns]="tableColumnDefinition"
    listStorageKey="polls"
    [filterProps]="filterProps"
    [filterService]="filterService"
>
    <!-- Poll Title -->
    <div *pblNgridCellDef="'title'; row as poll; rowContext as context" class="cell-slot fill">
        <os-detail-navigator [model]="poll" *ngIf="!isMultiSelect"></os-detail-navigator>
        <span>{{ poll.title }}</span>
    </div>

    <!-- Motion Or Assigmnent Title Title -->
    <div *pblNgridCellDef="'classType'; row as poll" class="cell-slot fill">
        <os-detail-navigator [model]="poll" *ngIf="!isMultiSelect"></os-detail-navigator>
        <span>{{ poll.getContentObject().getListTitle() }}</span>
    </div>

    <!-- State -->
    <div *pblNgridCellDef="'state'; row as poll" class="cell-slot fill">
        <os-detail-navigator [model]="poll" *ngIf="!isMultiSelect"></os-detail-navigator>
        <span>{{ poll.stateVerbose | translate }}</span>
    </div>

    <!-- Voted Indicator -->
    <div *pblNgridCellDef="'votability'; row as poll" class="cell-slot fill">
        <ng-container *ngIf="canBeVoteFor(poll); then inProgress; else notInProgress"></ng-container>
    </div>
</os-list-view-table>

<ng-template #inProgress>
    <mat-icon color="warn" matTooltip="{{ 'Voting is currently in progress.' | translate }}">warning</mat-icon>
</ng-template>
<ng-template #notInProgress>
    <mat-icon color="accent" matTooltip="{{ 'You have already voted.' | translate }}">check_circle</mat-icon>
</ng-template>
